<?php
if ($this->links) { ?>
    <?php foreach ($this->links as $link) { ?>
       <div class="about-shabdiz">
			<div class="col-xs-12 col-md-12 center section-title">
				<h3> <?php echo $link['title']; ?></h3>
			</div>
			<div class="about-text">
			  <?php echo $link['description']; ?>
			</div>
		</div>
		<div class="about-product-button">
			<div class="contain"> 
				<a href="<?php echo $link['url']; ?>" class="btnnn fill"><span><?php echo __('More Information'); ?></span></a>
			</div>
        </div>
    <?php }?>
<?php } ?>


                   