<?php
if ($this->links) { ?>
 <div class="row">
    <?php foreach ($this->links as $link) { ?>
     <div class="col-xs-12 col-md-6 col-lg-6">
        <dt>
         <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger"><?php echo $link['title']; ?></a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
            <p>
             <?php echo $link['description']; ?>
             </p>
          </dd>
      </div>
    <?php }?>
  </div>
<?php } ?>

                   