<?php
    if ($this->links) { 
?>

            		<?php foreach ($this->links as $link) { ?>
            		<div>
            		          <i class="fa fa-chevron-left" aria-hidden="true"></i>
						<!-- <i class="<?php //echo $link['icon']; ?>"></i>
        						<h2 class="service-title"></h2> -->
						<a href="<?php echo $link['url']; ?>"><?php echo $link['title']; ?></a>
        			</div>
            <?php } ?>

<?php }?>