<?php
if ($this->links) { ?>
    <ul class="list-unstyled text-right">
		<?php foreach ($this->links as $link) { 
		?>
		  <li>
		     <a href="<?php echo $link['url']; ?>">
			    <?php echo $link['title']; ?>
			</a>
		  </li>
      <?php } ?>
      </ul>
<?php }?>
