  <link rel="stylesheet" type="text/css" href="/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css">
  <style type="text/css">
    .slider {
        width: 100%;
        margin: 100px auto;
    	direction: ltr;
    }

    .slick-slide {
      margin: 0px 20px;
    }
    .slick-prev:before,
    .slick-next:before {
      color: black;
    }
    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 1;
    }
    
    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }
  </style>
<?php
if ($this->links) { //var_dump($this->links); die; ?>
    <section class="regular slider">
		<?php foreach ($this->links as $link) { 
		?>
		 <div>
		     <a href="#">
			    <img src="/uploads/links/<?php echo $link['image']; ?>" alt="img">
			</a>
		</div>
      <?php } ?>
    </section>
<?php }?>

   <script src="/slick/slick.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).on('ready', function() {
      $(".vertical-center-4").slick({
        dots: true,
        vertical: true,
        centerMode: true,
        slidesToShow: 4,
        slidesToScroll: 2
      });
      $(".vertical-center-3").slick({
        dots: true,
        vertical: true,
        centerMode: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
      $(".vertical-center-2").slick({
        dots: true,
        vertical: true,
        centerMode: true,
        slidesToShow: 2,
        slidesToScroll: 2
      });
      $(".vertical-center").slick({
        dots: true,
        vertical: true,
        centerMode: true,
      });
      $(".vertical").slick({
        dots: true,
        vertical: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
      $(".regular").slick({
    	  centerMode: true,
    	  centerPadding: '60px',
    	  slidesToShow: 5,
    	  responsive: [
    	    {
    	      breakpoint: 998,
    	      settings: {
    	        arrows: true,
    	        centerMode: true,
    	        centerPadding: '40px',
    	        slidesToShow: 3
    	      }
    	    },
    	    {
    	      breakpoint: 480,
    	      settings: {
    	        arrows: true,
    	        centerMode: true,
    	        centerPadding: '40px',
    	        slidesToShow: 2
    	      }
    	    }
    	  ]
      });
      $(".center").slick({
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 5,
        slidesToScroll: 3
      });
      $(".variable").slick({
        dots: true,
        infinite: true,
        variableWidth: true
      });
      $(".lazy").slick({
        lazyLoad: 'ondemand', // ondemand progressive anticipated
        infinite: true
      });
    });
</script>
  