<?php
    if ($this->links) { 
?>
<div id="owl-demo" class="owl-carousel owl-theme">
   <?php foreach ($this->links as $link) { ?>
	  <div class="item">
			<div class="roundHex"><?php echo $link['title']; ?></div>
			<div class="about-product-text">
			<?php echo $link['description']; ?>
			</div>
			<div class="about-product-button">
				<div class="contain"> 
					<a href="<?php echo $link['url']; ?>" class="btnnn fill"><span>ا<?php echo __('More Information'); ?></span></a>
				</div>
			</div>
	  </div>
    <?php } ?>
</div>
<?php }?>
