<div class="container">
    <div class="row">
   <?php  if ($this->links) { 
      foreach ($this->links as $link) { ?>
        <div class="col-md-4">
             <a href="<?php echo $link['url']; ?>">
                 <div class="service" style="background-image: url('/uploads/links/<?php echo $link['image']; ?>');">
                    <div class="service-title text-center">
                		<?php echo $link['title']; ?>
                	</div>
                 </div>
             </a>
        </div>
       <?php }?>
    <?php } ?>
    </div>
</div>