<?php
if ($this->links) { ?>
    <?php foreach ($this->links as $link) { ?>
       <!-- Single Demo Starts -->
      <section class="prodetail_part1 " style="margin:0px !important; border-radius:0px !important;">
	       <div class="container">
           <div class="inner">
            	<aside class="part1">
            		<div class="note taupe">
            			<?php echo $link['title']; ?>
            		</div>
            		<div class="item">
            			<div>
            				<span class="title">
            					<?php echo __('title:'); ?>
            				</span>
            				<span class="text">
            					<?php echo $link['title']; ?>
            				</span>
            			</div>
            			<div>
            				<span class="title">
            					<?php echo __('description:'); ?>
            				</span>
            				<span class="text">
            					<?php echo $link['description']; ?>
            				</span>
            			</div>
            			
            			
            			<div class="internal-margin services-button">
            				 <div class="flex">
            				  <a href="<?php echo $link['url']; ?>" class="bttn"><?php echo __('Demo'); ?></a>
            				</div> 
            			</div>
            		</div>
            		
            	</aside>
                
                <aside class="part2">
                	<div class="pic_part clearfix">
                    	<a href="<?php echo $link['url']; ?>" rel="nofollow" title="<?php echo $link['url']; ?>" target="_blank" class="main_pic desktop">
                            <div>
                                <img style="margin-top: 0px;" src="/uploads/links/<?php echo $link['image']; ?>">
                              </div>
                        </a>
                        <div style="display: block;" class="list_pic desktop">
                            <ul><li data-href="/uploads/links/<?php echo $link['image']; ?>" style="background-image:url(/uploads/links/<?php echo $link['image']; ?>)"></li></ul>
                        </div> 
                        
                                            
                        <div class="response_act">
                            <ul>
                                <li class="desktop active" data-type="desktop"></li>
                              
            				</ul>
                        </div><!--response_act-->
                    </div><!--pic_part-->
                </aside><!--part2-->
            </div><!--inner-->
        </section>
        <!-- Single Demo Ends -->
    <?php }?>
<?php } ?>


  
<script>
    $(document).ready(function(e) {
    	
    	/*Project Change pic & pic_position*/
    	$(".prodetail_part1 .part2 .pic_part .main_pic").hover(function(){
    		
    		var target = $(this).find("img");
    		var img_height = target.height();
    		
    		if($(this).hasClass("desktop")){
    			img_height = img_height - 240;
    		}else if($(this).hasClass("tablet")){
    			img_height = img_height - 290;
    		}else if($(this).hasClass("mobile")){
    			img_height = img_height - 250;
    		}
    		
    		target.css("margin-top","-"+img_height+"px");
    	}).mouseleave(function(){
    		var target = $(this).find("img");
    		var img_height = target.height();
    		target.css("margin-top",0);
    	});//mouse leave
    	
    
    	$(".prodetail_part1 .part2 .pic_part .list_pic ul li").click(function(){
    		src = $(this).attr("data-href");
    		setTimeout(function(){
    			$(".prodetail_part1 .part2 .pic_part .main_pic img").attr("src",src).fadeOut(0).fadeIn(500);
    			//image_zoom($("#project_details .project_part1 aside.pic .main_pic"));
    		},100);
    	});//click
    
    	
    	$(".response_act li").click(function(){
    		var class1 = $(this).attr('data-type');
    		var src = $(".prodetail_part1 .part2 .pic_part .list_pic."+class1).find("li:first-child").attr("data-href");
    		$(".response_act li").removeClass('active');
    		$(this).addClass('active');
    		
    		$('.prodetail_part1').find('.main_pic').removeClass().addClass('main_pic').addClass(class1);
    		$(".prodetail_part1 .part2 .pic_part .list_pic").fadeOut(0);
    		$(".prodetail_part1 .part2 .pic_part .list_pic."+class1).fadeIn(300);
    		$(".prodetail_part1 .part2 .pic_part .main_pic img").attr("src",src);
    	});//click
    	    
    });//dom ready
</script> 