<?php
if ($this->links) { ?>
  <ul class="list-unstyled list-inline">
    <?php foreach ($this->links as $link) { ?>
        <li>
            <a href="<?php echo $link['url']; ?>">
                <i class="<?php echo $link['icon']; ?>"></i>
            </a>
        </li>
    <?php }?>
  </ul>
<?php } ?>
