<style>
.ih-item.circle.effect1 .standard-img {
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 20px;
    right: 0;
    width: auto;
    height: auto;
    object-fit: cover;
}
.standard-image
{
	object-fit: cover;
    width: 163px !important;
    height: 163px !important;
    text-align: center;
    margin-top: 14px;
}
.ih-item.circle.effect1 .standard-spinner {
    width: 200px !important;
    height: 200px !important;
}
.ih-item img {
    width: 163px !important;
    height: 163px !important;
    object-fit: cover;
}
.spinner {
    width: 135px !important;
    height: 135px !important;
    position: relative;
    top: 0;
    left: 0;
}
.ih-item.circle {
    border-radius: 0;
}
.circle {
    position: absolute;
    top: 0;
    left:-76px;
    overflow: hidden;
}

</style>
<?php
if ($this->links) { ?>
    <?php foreach ($this->links as $link) { ?>
      <div class="col-xs-12 col-md-4 col-lg-4 text-center">
		<div class="ih-item circle effect1 margin-auto"><a href="#">
				<div class="spinner standard-spinner"></div>
				<div class="img standard-img"><img src="/uploads/links/<?php echo $link['image']; ?>" alt="<?php echo $link['title']; ?>" class="standard-image" style=""/></div>
				</a>
			</div>
		<div class="standard-title text-center">
			<?php echo $link['title']; ?>
		</div>
		<div class="standard-text">
			<?php echo $link['description']; ?>
		</div>
	</div>
    <?php }?>
<?php } ?>
       