.formError{z-index:990;}
.formError .formErrorContent{z-index:991;}
.formError .formErrorArrow{z-index:996;}
.ui-dialog .formError{z-index:5000;}
.ui-dialog .formError .formErrorContent{z-index:5001;}
.ui-dialog .formError .formErrorArrow{z-index:5006;}
.inputContainer{position:relative;float:left;}
.formError{position:absolute;top:300px;left:300px;display:block;cursor:pointer;}
.ajaxSubmit{padding:20px;background:#55ea55;border:1px solid #999;display:none}
.formError .formErrorContent{width:100%;background:#620406;background:-moz-linear-gradient(top, #8A1C1F 0%, #620406 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#8A1C1F), color-stop(100%,#620406));background:-webkit-linear-gradient(top, #8A1C1F 0%,#620406 100%);background:-o-linear-gradient(top, #8A1C1F 0%,#620406 100%);background:-ms-linear-gradient(top, #8A1C1F 0%,#620406 100%);background:linear-gradient(top, #8A1C1F 0%,#620406 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8A1C1F', endColorstr='#620406',GradientType=0);position:relative;color:#fff;width:150px;font-size:11px;border:1px solid #620406;box-shadow:0 0 2px #620406;-moz-box-shadow:0 0 2px #620406;-webkit-box-shadow:0 0 2px #620406;-ms-box-shadow:0 0 2px #620406;-o-box-shadow:0 0 2px #620406;padding:4px 10px 4px 10px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}
.greenPopup .formErrorContent{background:#33be40;}
.blackPopup .formErrorContent{background:#393939;color:#FFF;}
.formError .formErrorArrow{width:15px;margin:-2px 0 0 13px;position:relative;}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow{margin:-2px 13px 0 0;}
.formError .formErrorArrowBottom{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;margin:0px 0 0 12px;top:2px;}
.formError .formErrorArrow div{border-left:1px solid #620406;border-right:1px solid #620406;box-shadow:0 2px 2px #333;-moz-box-shadow:0 2px 2px #620406;-webkit-box-shadow:0 2px 2px #620406;-o-box-shadow:0 2px 2px #620406;-ms-box-shadow:0 2px 2px #620406;font-size:0px;height:1px;background:#620406;margin:0 auto;line-height:0;font-size:0;display:block;}
.formError .formErrorArrowBottom div{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
.greenPopup .formErrorArrow div{background:#620406;}
.blackPopup .formErrorArrow div{background:#620406;color:#FFF;}
.formError .formErrorArrow .line10{width:15px;border:none;}
.formError .formErrorArrow .line9{width:13px;border:none;}
.formError .formErrorArrow .line8{width:11px;}
.formError .formErrorArrow .line7{width:9px;}
.formError .formErrorArrow .line6{width:7px;}
.formError .formErrorArrow .line5{width:5px;}
.formError .formErrorArrow .line4{width:3px;}
.formError .formErrorArrow .line3{width:3px;}
.formError .formErrorArrow .line2{width:3px;border:none;background:#620406;}
.formError .formErrorArrow .line1{width:1px;border:none;background:#620406;}