<?php $this->headTitle(__('Add new link category'));?>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
 <?php echo __('Add new link category')?>
    <small><?php echo __("Control panel")?></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
    <li class="active"><?php echo __('Add new link category')?></li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">
                 <?php echo __('Add new link category')?>
            </h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
            	<div class="col-lg-6">
                     <!--  help -->
                    <fieldset class="help-form">    	
        					<legend> راهنمای افزودن گروه لینک </legend>
							<p>
    						1- فیلد انتخاب زبان، جهت انتخاب زبانی به کار می رود که قرار است اسلاید شو در آن زبان به نمایش در بیاد، توجه داشته باشید که در صورتی که سایت چند زبانه داشته باشید باید به ازای هر زبان ف اسلاید شوی آن ایجاد شود
    						<br />
    						2-فیلد موقعیت، مکان نمایش اسلاید شو را مشخص می کند ، این فیلد  باید به لاتین باشد و در کدنویسی استفاده می شود، در صورتی که کاربر سایت هستید ، این فیلد را تغییر ندهید
    						<br />
    						3-نام اسلایدشو مشخص کننده اسلایدر و جهت تفکیک اسلایدر ها به کار می رود
    						<br />
    						4-دکمه افزودن اسلاید جدید، جهت ایجاد اسلایدر به تعداد دلخواه به کار می رود، شما میتوانید با انتخاب تصویر مورد نظردر هر بار افزودن، اسلایدرهای خود را ایجاد نمایید، توجه نمایید که حجم اسلایدرهاکم و تعداد آنها را محدود انتخاب کنید که لود سایت شما تحت تاثیر قرار نگیرد و سایت کند نشود
    						<br />
    						5- در صورتی که اسلایدر شما عنوان و لینک هم داشته باشد ، می توانید آنها را در کادر مربوط به هر اسلایدر ایجاد کنید، در غیر اینصورت این فیلدها می توانند خالی باشند	 
							</p>
        			</fieldset>	            	
            	</div>            
                <div class="col-lg-6">
                <?php 
                	$linkForm = $this->linkForm;
                	$linkForm->prepare();
                	echo $this->form()->openTag($linkForm);
                  ?>
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($linkForm->get('name')); ?></label>
                    	<?php echo $this->formElement($linkForm->get('name'));
                    	echo $this->formElementErrors($linkForm->get("name")); ?>
                	</div>
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($linkForm->get('link_position')); ?></label>
                    	<?php echo $this->formElement($linkForm->get('link_position'));
                    	echo $this->formElementErrors($linkForm->get("link_position")); ?>
                	</div>
                	<div class="form-group pull-left">
                    	<?php 
                    		echo $this->formElement($linkForm->get('linkcatcsrf'));
                    		echo $this->formElementErrors($linkForm->get("linkcatcsrf"));
                    		echo $this->formElement($linkForm->get('submit'));
                    	?>
                    	<?php 
                    		echo $this->formElement($linkForm->get('linkcatcsrf'));
                    		echo $this->formElementErrors($linkForm->get("linkcatcsrf"));
                    		echo $this->formElement($linkForm->get('submit2'));
                		?>
                    	<a href="/<?php echo $this->layout()->lang;?>/admin-link" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                	</div>
                	<?php 
                		echo $this->form()->closeTag();
                	?>
            	</div>

            </div>
        </div>
    </div>
</section>
<script>
$(document).ready(function(){
    $("#linkCatForm").validationEngine(); 
    $('.submitCatLink').click(function(e){ 
       // e.preventDefault();
        if($("#linkCatForm").validationEngine('validate')) 
        {
       	   $("#linkCatForm").submit();
        }
    });
});  
</script>