<?php $this->headTitle(__('Add new link'));?>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
 <?php echo __('Add new link')?>
    <small><?php echo __("Control panel")?></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
    <li class="active"><?php echo __('Add new link')?></li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add new link')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
                    <?php 
                    	$linkForm = $this->linkForm;
                    	$linkForm->prepare();
                    	echo $this->form()->openTag($linkForm);
                    ?>
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">محتوای لینک</a></li>
                <li><a data-toggle="tab" href="#menu2">جزییات لینک</a></li>
              </ul>
              
              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <!-- first tab-page content -->                                  
                        <div class="row">
                            <div class="col-lg-4">
                             <!--  help -->
                                <fieldset class="help-form" id="tour5">    	
                    					<legend>راهنمای محتوای لینک</legend>
            							<p>
                						1-فیلد انتخاب زبان، جهت انتخاب زبان لینک در سایتهای چند زبانه می باشد، توجه داشته باشید که به ازای هر زبان بایستی یک لینک ایجاد گردد
                						<br />
                						2-عنوان، در این بخش باید عنوان مرتبط با محتوای خود را وارد کنید و جزو فیلدهای ضروری می باشند. 
                						<br />
                						3-محتوا، در این بخش می توانید محتوای مورد نظر را وارد کنید و از جعبه ابزار برای تغییرات بر روی آن کمک بگیرید.
            							<br />
                						4-لینک، آدرس مورد نظر خود را در این بخش وارد نمایید و جزو لیست های ضروری می باشد 
            							<br />            							
            							</p>
                    			</fieldset>	
                            </div>                        
                            <div class="col-lg-8">
                                <input type="Hidden" value="/<?php echo $this->layout()->lang;?>/admin-link/list-links/<?php echo $this->cat_id;?>" name="backurl"/>
                            	<div class="form-group" id="tour1">
                            		<label class="control-label"><?php echo $this->formLabel($linkForm->get('lang')); ?></label>
                                	<?php echo $this->formElement($linkForm->get('lang'));
                                	echo $this->formElementErrors($linkForm->get("lang")); ?>
                            	</div>
                            	<div class="form-group" id="tour2">
                            		<label class="control-label"><?php echo $this->formLabel($linkForm->get('title')); ?></label>
                                	<?php echo $this->formElement($linkForm->get('title'));
                                	echo $this->formElementErrors($linkForm->get("title")); ?>
                            	</div>
                            	<div class="form-group" id="tour3">
                            		<label class="control-label"><?php echo $this->formLabel($linkForm->get('description')); ?></label>
                                	<?php echo $this->formElement($linkForm->get('description'));
                                	echo $this->formElementErrors($linkForm->get("description")); ?>
                            	</div>
                            	<div class="form-group" id="tour4">
                            		<label class="control-label"><?php echo $this->formLabel($linkForm->get('url')); ?></label>
                                	<?php echo $this->formElement($linkForm->get('url')); 
                                	echo $this->formElementErrors($linkForm->get("url"));?>
                            	</div>                            	
                        	</div>
                    	</div>
                </div>
 
                <div id="menu2" class="tab-pane fade">
                    <div class="row">
            	    <div class="col-lg-6" >
            	    
                     <!--  help -->
                        <fieldset class="help-form" >    	
            					<legend>
                					راهنمای جزییات لینک
            					</legend>
    							<p>
        						در صورتی که لینک جدیدی ایجاد کرده اید و نیازمند قرار دادن آیکن و یا تصویر برای لینک هستید از این بخش استفاده نمایید.
        						<br />
        						1- کلاس آیکن، در این بخش با توجه به عنوان لینک میتوان کلاس مربوطه را درج کرد
    							<br />
    							2- ترتیب، با استفاده از این بخش می توان ترتیب نمایش لینک  را مشخص نمایید.
    							<br />
    							3-با کلیک بر روی گزینه ی انتخاب تصویر پنجره ی بارگذاری تصویر باز شده و میتوانید تصویر و یا لوگوی مورد نظر خود را برگزینید.  
    							</p>
            			</fieldset>	
            			</div>
            			 <div class="col-lg-6">
                    	   <div class="box1">
                            	<div class="form-group" id="tour6">
                            		<label class="control-label"><?php echo $this->formLabel($linkForm->get('icon')); ?></label>
                                	<?php echo $this->formElement($linkForm->get('icon'));
                                	echo $this->formElementErrors($linkForm->get("icon")); ?>
                            	</div>
                            	<div class="form-group" id="tour7">
                            		<label class="control-label"><?php echo $this->formLabel($linkForm->get('order')); ?></label>
                                	<?php echo $this->formElement($linkForm->get('order')); 
                                	echo $this->formElementErrors($linkForm->get("order"));?>
                            	</div> 
                            <div class="box1" id="tour8">
                        	   <div class="form-group">
                            	   <div id="image-holder1" class="sl-margin-bottom"></div>
                            	   <div class="file-upload-cnt sl-margin-top">
                            	       <div class="fileUpload btn bg-maroon margin fa fa-image" >
                                       <span><?php echo __("Select image");?></span>
                                	   <?php echo $this->formElement($linkForm->get('image'));
                                	   echo $this->formElementErrors($linkForm->get("image")); ?>
                                	</div>
                            	</div>                           	
                            </div>
                    	   </div>
                	   </div>
            	   </div>
                </div> 
            </div>        	
        	<div class="form-group pull-left" id="tour9">
            	<?php 
            		echo $this->formElement($linkForm->get('linkcsrf'));
            		echo $this->formElementErrors($linkForm->get("linkcsrf"));
            		echo $this->formElement($linkForm->get('submit'));
        		?>
        		<a href="/<?php echo $this->layout()->lang;?>/admin-link" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
    		</div>
    		<?php 
            	echo $this->form()->closeTag();
            ?>
    	</div>
	</div>
</section>
<script type='text/javascript'>
                
$(document).ready(function(){
   $("#linkForm").validationEngine(); 
   $('#submitLink').click(function(e){ 
      // e.preventDefault();
       if($("#linkForm").validationEngine('validate')) 
       {
      	   $("#linkForm").submit();
       }
   });
});  

$("#fileUpload1").on('change', function () {
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $("#image-holder1");
    image_holder.empty();
    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
            for (var i = 0; i < countFiles; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                            "class": "thumb-image"
                    }).appendTo(image_holder);
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
            }
        } else {
            alert("This browser does not support FileReader.");
        }
    } else {
        alert("Please select only images");
    }
});
</script>
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "انتخاب زبان",
    content: "زبانی که لینک در آن زبان به نمایش در می آید را مشخص کنید",
  },
  {
    element: "#tour2",
    title: "عنوان",
    content: "عنوانی برای لینک خود انتخاب کنید",
  },
  {
    element: "#tour3",
    title: "توضیحات",
    content: "در صورتی که لینک شما حاوی توضیحاتی است، توضیحات را وارد کنید(این بخش اختیاری است، میتوانید آن را خالی رها کنید)",
  },
  {
    element: "#tour4",
    title: "لینک یا URL",
    content: "این بخش آدرس URL ای است که لینکه به آن هدایت می شود، آدرس را به صورت کامل و به فرمت http://www.google.com وارد کنید"
  },
  {
    element: "#tour5",
    title: "جزئیات لینک",
    content: "در این تب میتوانید در صورتیکه لینک شما دارای عکس یا آیکن یا ترتیب است، این موارد را به آن اختصاص دهید",
    onNext:function(tour){
    	activaTab('menu2');
    },
    onShow:function(tour){
    	activaTab('menu2');
    }
  },
  {
    element: "#tour6",
    title: "آیکن",
    content: "آیکن تصویر گرافیکی است که در کنار لینک شما قرار می گیرد، و به صورت کلاس در کدنویسی مشخص می شود، نحوه ایجاد در کلاس آموزشی توضیح داده می شود"
  },
  {
    element: "#tour7",
    title: "ترتیب",
    content: "در صورتی که میخواهید لینک های خود را با ترتیب خاصی نمایش دهید ، میتوانید هر لینک را با یک مقدار عددی 0 تا n  مشخص کنید"
  },
  {
    element: "#tour8",
    title: "انتخاب تصویر",
    content: "در صورتی که لینک شما دارای تصویر است،بازدن دکمه روبرو، تصویر مورد نظر را انتخاب کنید"
  },
  {
    element: "#tour9",
    title: "ذخیره",
    content: "اطلاعات وارد شده را با زدن دکمه ذخیره، ثبت نمایید"
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>