<div class="table-responsive">
   <form method="post" action="">
       <input type="hidden" name='language_id' value='<?php echo $this->language_id ?>' />
       <div class="row">
        <div class="col-md-4 form-group pull-left">
            <button type="submit" class="btn btn-primary" >
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            <?php echo __("Save");?></button>
        </div>
       </div>
       <div class="row">
            <div class="col-md-8 col-md-pull-2">
                 <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th ><?php echo __('Phrase')?></th>
                            <th ><?php echo __('Translate');?></th>
                        </tr>
                   </thead>
               <tbody>
               <?php
               foreach ($this->allPhrasesData as $phrasesData) {
               ?>
                       <tr>
                           <td><?php echo $phrasesData['phrase'] ?></td>
                           <td>
                           
                           <div  class="mydivs" style="display:inline-block; position:relative;">
                               <input type="text"  name="phrase[<?php echo $phrasesData['phrase'];?>]" disabled value=<?php 
                          
                           if (isset($this->phrases[$phrasesData['phrase']])) {
                               
                               $strCharPhrase = '"';
                               if (strpos($this->phrases[$phrasesData['phrase']], '"') !== false) {
                                   $strCharPhrase = "'";
                               }
                               echo $strCharPhrase . $this->phrases[$phrasesData['phrase']] . $strCharPhrase;
                           }
                           else {
                               echo '""';
                           } ?> />
                              <div  style="position:absolute; left:0; right:0; top:0; bottom:0;"></div>
                            </div>
                           
                          </td> 
                        <?php     
                           }
                           ?>   
                      </tbody>
                   </table>
            </div>       
        </div>
      
         </form>
       </div>
       
<script>
$(document).ready(function(){
	$(".mydivs > div").click(function(){
		$(this).hide().prev("input[disabled]").prop("disabled", false).focus();
	});
});
</script>  

