<?php
	echo $this->headTitle(_("New FAQ"));
	echo $this->inlineScript()->prependFile($this->basePath('/tinymce/tinymce.min.js'));
	$this->headScript()->appendFile('/js/select2.full.min.js');
	$postForm = $this->postForm;
	$postForm->prepare();
	echo $this->form()->openTag($postForm);
?>
	<script type="text/javascript">
	    tinymce.init({
	    	directionality : 'rtl',
	    	height: 200,
	        plugins: [
	                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
	                  "searchreplace visualblocks visualchars code fullscreen",
	                  "insertdatetime media nonbreaking save table contextmenu directionality",
	                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
	              ],
	        selector: "#question",
	      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
	      	relative_urls: false
	    });
	    tinymce.init({
	    	directionality : 'rtl',
	    	height: 200,
	        plugins: [
	                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
	                  "searchreplace visualblocks visualchars code fullscreen",
	                  "insertdatetime media nonbreaking save table contextmenu directionality",
	                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
	              ],
	        selector: "#answer",
	      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
	      	relative_urls: false
	    });
	    
	</script>
	<?php 
		if ($this->error) {
			echo '<span class"alert alert-danger">' . $this->error . '</span>';
		}
	?>
<section class="content-header">
    <h1>
        <?php echo __('Add FAQ'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add FAQ'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Add FAQ");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
        	<div class="row">
        	 <div class="col-lg-4">
                 <!--  help -->
                    <fieldset class="help-form">    	
        					<legend>راهنمای محتوای صفحه</legend>
							<p>
    						1-فیلد انتخاب زبان، جهت انتخاب زبانی که قرار است سوال و جواب در آن زبان به نمایش در آید به کار می رود
    						<br />
    						2-بخش افزودن پرسش برای، طرح سوال مد نظر به کار می رود
    						<br />
    						3-بخش افزودن جواب، اضافه کردن جوابی در پاسخ به پرسش بالا می باشد
    						<br />
    						4-با زدن تیک فعال، امکان نمایش این پرسش و پاسخ را در سایت فراهم می کنید، در صورتی که بخواهید به صورت موقت سوال و پاسخ آن را از دسترس و دید کاربران خارج کنید می توانید، تیک فعال را بردارید. 
							<br />
							5-فیلد مرتب سازی، الویت نمایش این سوال را مشخص میکند که با دادن عددی بین 0 تا n میتوانید این الویت را برای هر سوال مشخص کنید.
							</p>
        			</fieldset>	
               </div>
        	   <div class="col-lg-8">
                	<div class="form-group" id="tour1">
                	    <label class="control-label"><?php echo $this->formLabel($postForm->get('lang')); ?></label>
                    	<?php echo $this->formElement($postForm->get('lang'));
                    	echo $this->formElementErrors($postForm->get("lang")); ?>
                	</div>
                	<div class="form-group" id="tour2">
                	    <label class="control-label"><?php echo $this->formLabel($postForm->get('question')); ?></label>
                    	<?php echo $this->formElement($postForm->get('question'));
                    	echo $this->formElementErrors($postForm->get("question")); ?>
                	</div>
                	<div class="form-group" id="tour3">
                		<label class="control-label"><?php echo $this->formLabel($postForm->get('answer')); ?></label>
                    	<?php echo $this->formElement($postForm->get('answer'));
                    	echo $this->formElementErrors($postForm->get("answer")); ?>
                	</div>	
                    <div class="form-group" id="tour4">
                		<label class="control-label"><?php echo $this->formLabel($postForm->get('order')); ?></label>
                    	<?php echo $this->formElement($postForm->get('order'));
                    	echo $this->formElementErrors($postForm->get("order")); ?>
                	</div>
                	<div class="form-group" id="tour5">
                		<label class="control-label"><?php echo $this->formLabel($postForm->get('status')); ?></label>
                    	<?php echo $this->formElement($postForm->get('status'));
                    	echo $this->formElementErrors($postForm->get("status")); ?>
                	</div>
                	<div class="form-group pull-left" id="tour6">
            	       <?php 
                    		echo $this->formElement($postForm->get('faqcsrf'));
                    		echo $this->formElement($postForm->get('submit'));
                    		echo $this->form()->closeTag();
            	       ?>
            	       <?php 
                    		echo $this->formElement($postForm->get('faqcsrf'));
                    		echo $this->formElement($postForm->get('submit2'));
                    		echo $this->form()->closeTag();
            	       ?>
            	       <a href="/<?php echo $this->layout()->lang;?>/admin-faq" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
        	       </div>
        	   </div>
        	   </div>
        	</div>
    	</div>
</section>
<script type='text/javascript'>
                
$(document).ready(function(){
   $("#FaqForm").validationEngine(); 
   $('#submit').click(function(e){
      // e.preventDefault();
       if($("#FaqForm").validationEngine('validate')) 
       {
      	   $("#FaqForm").submit();
       }
   });
});  
</script>
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "انتخاب زبان",
    content: "زبانی که پرسش و پاسخ قرار است در آن به نمایش در بیاید را مشخص کنید",
  },
  {
    element: "#tour2",
    title: "افزودن پرسش",
    content: "سوال خود را در این بخش مطرح کنید",
  },
  {
    element: "#tour3",
    title: "افزودن پاسخ",
    content: "پاسخ سوال بالا را در این بخش وارد کنید",
  },
  {
    element: "#tour4",
    title: "مرتب سازی",
    content: "ترتیب نمایش سوال را در اینجا با عدد مشخص کنید"
  },
  {
    element: "#tour5",
    title: "وضعیت",
    content: "تیک این بخش را بزنید در غیر اینصورت سوال در سایت نمایش داده نخواهد شد و غیرفعال باقی می ماند"
  },
  {
    element: "#tour6",
    title: "ذخیره",
    content: "با کلیک روی دکمه ذخیره، اطلاعات وارد شده را ثبت کنید"
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>