<?php
	echo $this->headTitle(_('Edit FAQ'));
	echo $this->inlineScript()->prependFile($this->basePath('/tinymce/tinymce.min.js'));
	$this->headScript()->appendFile('/js/select2.full.min.js');
	$this->headLink()->appendStylesheet('/css/select2.css');
	if ($this->error) {
		echo '<span class"alert alert-danger">' . $this->error . '</span>';
	}
?>
	<script type="text/javascript">
	    tinymce.init({
	    	directionality : 'rtl',
	    	height: 200,
	        plugins: [
	                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
	                  "searchreplace visualblocks visualchars code fullscreen",
	                  "insertdatetime media nonbreaking save table contextmenu directionality",
	                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
	              ],
	        selector: "#question",
	      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
	      	relative_urls: false
	    });
	    tinymce.init({
	    	directionality : 'rtl',
	    	height: 200,
	        plugins: [
	                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
	                  "searchreplace visualblocks visualchars code fullscreen",
	                  "insertdatetime media nonbreaking save table contextmenu directionality",
	                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
	              ],
	        selector: "#answer",
	      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
	      	relative_urls: false
	    });
	 	
	</script>
<section class="content-header">
    <h1>
        <?php echo __('Edit FAQ'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit FAQ'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit FAQ");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
        <?php 
            $postForm = $this->postForm;
            $postForm->prepare();
            echo $this->form()->openTag($postForm);
        ?>
        	<div class="row">
        	   <div class="col-lg-4">
                 <!--  help -->
                    <fieldset class="help-form">    	
        					<legend>راهنمای محتوای صفحه</legend>
							<p>
    						1-فیلد انتخاب زبان، جهت انتخاب زبانی که قرار است سوال و جواب در آن زبان به نمایش در آید به کار می رود
    						<br />
    						2-بخش افزودن پرسش برای، طرح سوال مد نظر به کار می رود
    						<br />
    						3-بخش افزودن جواب، اضافه کردن جوابی در پاسخ به پرسش بالا می باشد
    						<br />
    						4-با زدن تیک فعال، امکان نمایش این پرسش و پاسخ را در سایت فراهم می کنید، در صورتی که بخواهید به صورت موقت سوال و پاسخ آن را از دسترس و دید کاربران خارج کنید می توانید، تیک فعال را بردارید. 
							<br />
							5-فیلد مرتب سازی، الویت نمایش این سوال را مشخص میکند که با دادن عددی بین 0 تا n میتوانید این الویت را برای هر سوال مشخص کنید.
							</p>
        			</fieldset>	
               </div>
        	   <div class="col-lg-8">
        	        <div class="form-group">
                	    <label class="control-label"><?php echo $this->formLabel($postForm->get('lang')); ?></label>
                    	<?php echo $this->formElement($postForm->get('lang'));
                    	echo $this->formElementErrors($postForm->get("lang")); ?>
                	</div>
                	<div class="form-group">
                	    <label class="control-label"><?php echo $this->formLabel($postForm->get('question')); ?></label>
                    	<?php echo $this->formElement($postForm->get('question'));
                    	echo $this->formElementErrors($postForm->get("question")); ?>
                	</div>
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($postForm->get('answer')); ?></label>
                    	<?php echo $this->formElement($postForm->get('answer'));
                    	echo $this->formElementErrors($postForm->get("answer")); ?>
                	</div>	
        
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($postForm->get('status')); ?></label>
                    	<?php echo $this->formElement($postForm->get('status'));
                    	echo $this->formElementErrors($postForm->get("status")); ?>
                	</div>
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($postForm->get('order')); ?></label>
                    	<?php echo $this->formElement($postForm->get('order'));
                    	echo $this->formElementErrors($postForm->get("order")); ?>
                	</div>
                    <div class="form-group pull-left">
                	<?php 
                		echo $this->formElement($postForm->get('faqcsrf'));
                		echo $this->formElement($postForm->get('submit'));
                	?>
                	<a href="/<?php echo $this->layout()->lang;?>/admin-faq" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                	</div>
        	   </div>
           </div>	
           <?php echo $this->form()->closeTag();?>
      </div>
  </div>
</section>
<script type='text/javascript'>
                
$(document).ready(function(){
   $("#FaqForm").validationEngine(); 
   $('#submit').click(function(e){ 
      // e.preventDefault();
       if($("#FaqForm").validationEngine('validate')) 
       {
      	   $("#FaqForm").submit();
       }
   });
});  
</script>
   