<?php
	echo $this->inlineScript()->prependFile($this->basePath('/tinymce/tinymce.min.js'));
	$this->headScript()->appendFile('/js/select2.full.min.js');
	$postForm = $this->postForm;
	$postForm->prepare();
?>
<script type="text/javascript">
    tinymce.init({
    	directionality : 'rtl',
    	height: 200,
        plugins: [
                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                  "searchreplace visualblocks visualchars code fullscreen",
                  "insertdatetime media nonbreaking save table contextmenu directionality",
                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
              ],
        selector: "#post_exerpt",
      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
      	relative_urls: false
    });
    tinymce.init({
    	directionality : 'rtl',
    	height: 200,
        plugins: [
                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                  "searchreplace visualblocks visualchars code fullscreen",
                  "insertdatetime media nonbreaking save table contextmenu directionality",
                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
              ],
        selector: "#post_content",
      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
      	relative_urls: false
    });
</script>
<section class="content-header">
    <h1>
        <?php echo __('Add new article'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new article'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Add new article");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
	           echo $this->form()->openTag($postForm);
            ?>
            <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">انتخاب یا ایجاد دسته بندی</a></li>
                <li><a data-toggle="tab" href="#menu2">ایجاد مقاله</a></li>
                <li><a data-toggle="tab" href="#menu3">سئو</a></li>
              </ul>
            
              <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <!-- first tab-page content -->
                        <div class="col-lg-6">
                            <!--  help -->
                            <fieldset class="help-form">    	
            					<legend style="width:75%;">  راهنمای انتخاب یا ایجاد دسته بندی</legend>
        						<p>
        						  در این بخش، شما می توانید از بین دسته بندی هایی که قبلا ایجاد کرده اید یک مورد را انتخاب نمایید و یا اینکه با زدن دکمه افزودن دسته بندی ، دسته بندی مورد نظر خود را ایجاد کنید و سپس در تب های بعدی، ادامه فرآیند ایجاد مقاله را دنبال کنید
        						<br/>
        						نکته: در صورتی که دسته بندی دلخواه شما، در لیست دسته بندی ها وجود نداشته باشد، با زدن دکمه افزودن دسته بندی، میتوانید دسته بندی جدیدی را در تب جدید ایجاد کنید، سپس به این صفحه بازگشته و با رفرش صفحه ، دسته بندی ایجاد شده به لیست دسته بندی ها اضافه و شما میتوانید آن را انتخاب کنید
        						
        						<br/>
        						نکته: عملیات افزودن مقاله تنها شامل این بخش نیست و شما باید اطلاعات تب های بعدی را نیز تکمیل نمایید
        						</p>
                			</fieldset>	
                         </div>
                         <div class="col-lg-6">
                             <span class="blog-step">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                  مرحله اول :
                                  <span>انتخاب دسته بندی</span>
                             </span>
                            <br/><br/><br/><br/>
                            <div class="form-group pull-left">
                                <a href="/fa/admin-blog/add-category" target="_blank" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>افزودن دسته بندی جدید</a>
                            </div>
                            <br/>
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($postForm->get('post_category_id')); ?></label>
                            	<?php echo $this->formElement($postForm->get('post_category_id'));
                            	echo $this->formElementErrors($postForm->get("post_category_id")); ?>
                        	</div>
                    	</div>
                    </div>
                     <div id="menu2" class="tab-pane fade">
                       <div class="col-lg-4">
                            <!--  help -->
                            <fieldset class="help-form">    	
            					<legend style="width:75%;">   راهنمای ایجاد محتوای خبر یا بلاگ</legend>
        						<p>
        						1-فیلد زبان مشخص میکند که خبر شما قرار است  در چه زبانی به نمایش در بیاید
        						<br />
        						2-عنوان مقاله، نام یا تیتر مقاله یا خبر شماست
        						<br />
        						3-خلاصه متن، متن کوتاهی است که معمولا در صفحات intro جهت نمایش بخش کوتاهی از خبر استفاده می شود ، به صورتی که با کلیک بر روی آن، صفحه اصلی خبر و متن کامل به نمایش در می آید
        						<br />
        						4- متن اصلی خبر، متن کامل خبری است که قرار است کاربر مشاهده کند، که این متن می تواند شامل متن و تصویر باشد
        						<br />
        						5-تصویر خبر، تصویری مرتبط با خبر است که در صفحه اصلی خبر و گاهی در صفحه intro به نمایش گذاشته می شود.
        						<br />
        						6- در صورتی که تیک منتشر شده را بزنید، خبر در دسترس کاربران و قابل مشاهده در سایت می باشد، در صورتی که بخواهید موقتا خبر را از دسترس کاربران خارج کنید، می توانید این تیک را برداربد
        						</p>
                			</fieldset>	
                         </div>
                         <div class="col-lg-8">
                             <span class="blog-step">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    مرحله دوم :
                                  <span>ایجاد محتوای بلاگ</span>
                             </span>
                            <br/><br/><br/><br/>
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($postForm->get('post_lang')); ?></label>
                            	<?php echo $this->formElement($postForm->get('post_lang'));
                            	echo $this->formElementErrors($postForm->get("post_lang")); ?>
                        	</div>	
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($postForm->get('post_title')); ?></label>
                            	<?php echo $this->formElement($postForm->get('post_title'));
                            	echo $this->formElementErrors($postForm->get("post_title")); ?>
                        	</div>	
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($postForm->get('post_source')); ?></label>
                            	<?php echo $this->formElement($postForm->get('post_source'));
                            	echo $this->formElementErrors($postForm->get("post_source")); ?>
                        	</div>	
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($postForm->get('post_exerpt')); ?></label>
                            	<?php echo $this->formElement($postForm->get('post_exerpt'));
                            	echo $this->formElementErrors($postForm->get("post_exerpt")); ?>
                        	</div>	
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($postForm->get('post_content')); ?></label>
                            	<?php echo $this->formElement($postForm->get('post_content'));
                            	echo $this->formElementErrors($postForm->get("post_content")); ?>
                        	</div>
                        	<div class="row">
                        	   <div class="col-lg-8">
                        	       <div class="box1">
                    	       <div class="form-group">
                    		      <label class="control-label"><?php echo $this->formLabel($postForm->get('post_image')); ?></label>
                		          <div id="image-holder1"></div>
                    	           <div class="file-upload-cnt sl-margin-top">
                                    	<div class="fileUpload btn bg-maroon margin fa fa-image">
                                    		<span><?php echo $this->formLabel($postForm->get('post_image')); ?></span>
                                    	   <?php echo $this->formElement($postForm->get('post_image'));
                                    	   echo $this->formElementErrors($postForm->get("post_image")); ?>
                                    	</div>
                	               </div>	
        	                    </div>	   
<!--         	       <div class="box1"> -->
<!--                     	<div class="form-group"> -->
<!--                    		<label class="control-label"><?php //echo $this->formLabel($postForm->get('post_source_title')); ?></label> -->
                        	<?php //echo $this->formElement($postForm->get('post_source_title'));
//                         	echo $this->formElementErrors($postForm->get("post_source_title")); ?>
<!--                     	</div>	 -->
<!--                     	<div class="form-group"> -->
<!--                    		<label class="control-label"><?php //echo $this->formLabel($postForm->get('post_source_url')); ?></label> -->
                        	<?php //echo $this->formElement($postForm->get('post_source_url'));
//                         	echo $this->formElementErrors($postForm->get("post_source_url")); ?>
<!--                     	</div> -->
<!--                 	</div> -->
        	               </div>
                        	   </div>
                        	   <div class="col-lg-4">
                        	       <?php
                                	 if ($this->Identity()->user_group_id != 6) {?>
                                	
                                	<div class="form-group">
                                		<label class="control-label"><?php echo $this->formLabel($postForm->get('post_status')); ?></label>
                                    	<?php echo $this->formElement($postForm->get('post_status'));
                                    	echo $this->formElementErrors($postForm->get("post_status")); ?>
                                	</div>
                                	
                                	<?php }?>
                        	   </div>
                        	</div>
        	               
                	   </div>
                     </div>
                     <div id="menu3" class="tab-pane fade">
                        <div class="row">
                            <div class="col-lg-6">
                                <!--  help -->
                                <fieldset class="help-form">
                                    <legend>
                                      راهنمای متا
                					</legend>
        							<p>
        							توضیحات و کلمات متا ، دو بخش از هر صفحه وب هستند که کمک شایانی به افزایش بازدید صفحه از طریق موتورهای جستجو میکنند و جزو مواردی هستند که در سئوی سایت موثر هستند
            					؛ بنابراین سعی کنید برای هر صفحه از سایت خود، این موارد را ایجاد کنید
            						<br />
            						1-توضیحات متا، شامل توضیحاتی مرتبط با صفحه شما می باشد که در واقع معرف صفحه شما در گوگل است و هنگامی که کاربر واژه ای را جستجومیکند، ولینک سایت شما ظاهر می شود، این توضیحات در زیر عنوان به نمایش گذاشته می شود
            						؛ توجه کنید که این متن نباید بیشتر از 160 کاراکتر باشد
            						<br />
            						2-کلمات متا، شامل کلیدواژه های مرتبط با صفحه شما می باشد که احتمال میدهید کاربران این واژه ها را بیشتر جستجو میکنند؛ توجه کنید که این کلید واژه ها باید کاملا مرتبط با محتوای صفحه شما باشند و با کامای انگلیسی از هم جدا شوند و نکته دیگر اینکه حتی الامکان در عنوان صفحه و متن بدنه صفحه ذکر شده باشند؛ شما میتوانید 7 الی 10 واژه انتخاب نمایید
        							<br />
        							3-این فیلدها غیرضروری هستند و میتوانید آنها را پر نکنید و لی توصیه ما به شما، توجه به این بخش است
        							<br />
        							4-تگ ها، همان برچسب های یک مقاله هستند که همانند کی ورد یا کلمات کلیدی هستند و در جستجو و یافتن سریعتر مطالب، کمک شایانی می کنند.
        							</p>
            			     </fieldset>	
                            </div>
                            <div class="col-lg-6">
                                 <span class="blog-step">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                   مرحله سوم :
                                  <span>سئو (اختیاری)</span>
                                 </span>
                                <br/><br/><br/><br/>
                            	<div class="form-group">
                            		<label class="control-label"><?php echo $this->formLabel($postForm->get('post_meta_description')); ?></label>
                                	<?php echo $this->formElement($postForm->get('post_meta_description'));
                                	echo $this->formElementErrors($postForm->get("post_meta_description")); ?>
                            	</div>	
                            	<div class="form-group">
                            		<label class="control-label"><?php echo $this->formLabel($postForm->get('post_meta_keywords')); ?></label>
                                	<?php echo $this->formElement($postForm->get('post_meta_keywords'));
                                	echo $this->formElementErrors($postForm->get("post_meta_keywords")); ?>
                            	</div>	
                            	<div class="form-group">
                            		<label class="control-label"><?php echo $this->formLabel($postForm->get('tag_title')); ?></label>
                                	<?php echo $this->formElement($postForm->get('tag_title'));
                                	echo $this->formElementErrors($postForm->get("tag_title")); ?>
                            	</div>
                            </div>
                        </div>
                     </div>
              </div>
        	  
        	  
            </div>
                <div class="form-group pull-left">		
                	<?php 
                		echo $this->formElement($postForm->get('csrf'));
                		echo $this->formElementErrors($postForm->get("csrf"));
                		echo $this->formElement($postForm->get('submit'));
                	?>
                	<?php 
                		echo $this->formElement($postForm->get('csrf'));
                		echo $this->formElementErrors($postForm->get("csrf"));
                		echo $this->formElement($postForm->get('submit2'));
                	?>
                	<a href="/<?php echo $this->layout()->lang;?>/admin-blog" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                </div>
            <?php 
        		echo $this->form()->closeTag();
            ?>
        </div>
    </div>
</section>
<script type="text/javascript">
    $("#tag-title").select2({
      tags: true,
      dir: "rtl"
    });
    
    $("#fileUpload1").on('change', function () {
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $("#image-holder1");
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof (FileReader) != "undefined") {
                for (var i = 0; i < countFiles; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                                "class": "thumb-image"
                        }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[i]);
                }
            } else {
                alert("<?php echo __("This browser does not support FileReader");?>.");
            }
        } else {
            alert("<?php echo __("Please choose only images");?>");
        }
    });

$(document).ready(function(){
	$("#post_lang").change(function(e) {
	
    	var mlanguage=$(this).val();
    	
		$.ajax({
			url:"/admin-blog/ajax",
			type:'POST',
			dataType : "json",
			data:{
				language_id:mlanguage,
			},
			success:function(data){
				if(data=="error") {
					alert("<?php echo __("Operation failed");?>")
				}  
				else {
					var options = '';
		            for (var x = 0; x < data.length; x++) {
		                options += '<option value="' + data[x]['id'] + '">' + data[x]['category_title'] + '</option>';
		            }
		            $("#post_category").html(options);
				} 
				
			},complete:function(data)
			{
			}
		});
		
	});
	$("#post_lang").change();
});


$(document).ready(function(){
   $("#postForm").validationEngine(); 
   $('#submit').click(function(e){ 
      // e.preventDefault();
       if($("#postForm").validationEngine('validate')) 
       {
      	   $("#postForm").submit();
       }
   });
});
</script>

