<section class="content-header">
    <h1>
        <?php echo __('Edit category'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit category'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit category");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
               $categoryForm = $this->categoryForm;
	           echo $this->form()->openTag($categoryForm);
            ?>
            <div class="row">
            <div class="col-lg-6">
        	        <!--  help -->
                    <fieldset class="help-form">    	
    					<legend>  راهنمای ایجاد دسته بندی</legend>
						<p>
						CMS شبدیز این امکان را به کاربران می دهد که در صورت نیاز برای محتوای خبری یا بلاگ خود ، دسته بندی های مختلف ایجاد کنند
						<br />
						برای مثال این امکان وجود دارد که شما در سایت خود دسته بندی های خبری اعم از اخبار اقتصادی، سیاسی و ورزشی داشته باشید، بنابراین ابتدا در این بخش باید این دسته بندی ها را ایجاد نمایید.
						<br />
						1-فیلد انتخاب زبان مشخص میکند که دسته بندی شما قرار است در چه زبانی به نمایش در بیاید (در سایتهای چندزبانه)
						<br />
						2-نام دسته بندی ، همان گروه های خبری یا بلاگی است که شما ایجاد میکنید مثل اخبار سیاسی، اجتماعی و ...
						<br />
						3-با زدن تیک وضعیت، شما تعیین میکنید که دسته بندی مود نظر شما فعال و در دسترس کاربر باشد و یا با برداشتن تیک به صورت موقت آن را از دسترس کاربران خارج می کنید، توجه داشته باشید که نزدن تیک وضعیت،باعث عدم نمایش آن دسته بندی می شود.
						</p>
        			</fieldset>
        	   </div>
        	   <div class="col-lg-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($categoryForm->get('category_lang')); ?></label>
                    	<?php echo $this->formElement($categoryForm->get('category_lang'));
                    	echo $this->formElementErrors($categoryForm->get("category_lang")); ?>
                	</div>	
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($categoryForm->get('category_title')); ?></label>
                    	<?php echo $this->formElement($categoryForm->get('category_title'));
                    	echo $this->formElementErrors($categoryForm->get("category_title")); ?>
                	</div>	
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($categoryForm->get('category_status')); ?></label>
                    	<?php echo $this->formElement($categoryForm->get('category_status'));
                    	echo $this->formElementErrors($categoryForm->get("category_status")); ?>
                	</div>	
                   <div class="form-group pull-left">		
                    	<?php 
                    		echo $this->formElement($categoryForm->get('csrf'));
                    		echo $this->formElementErrors($categoryForm->get("csrf"));
                    		echo $this->formElement($categoryForm->get('submit'));
                    	?>
                    	<a href="/<?php echo $this->layout()->lang;?>/admin-blog" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                    </div>
        	   </div>
            </div>
            <?php 
        		echo $this->form()->closeTag();
            ?>
        </div>
    </div>
</section>
<script type='text/javascript'>
                
$(document).ready(function(){
   $("#categoryForm").validationEngine(); 
   $('#submit').click(function(e){ 
      // e.preventDefault();
       if($("#categoryForm").validationEngine('validate')) 
       {
      	   $("#categoryForm").submit();
       }
   });
});  
</script>