<?php
  	if ($this->postsList->getTotalItemCount() > 0) {
?>
<h4><?php echo __('Articles list'); ?></h4>
<table class="table table-hover">
  <tr>
    <td><strong>#</strong></td>
    <td><strong><?php echo __('Article title'); ?></strong></td>
    <td><strong><?php echo __('Publish date'); ?></strong></td>
    <td><strong><?php echo __('Status'); ?></strong></td>  
    <td><strong>ن<?php echo __('Auther'); ?></strong></td>  
    <td><strong><?php echo __('Edit'); ?></strong></td>  
    <td><strong><?php echo __('Delete'); ?></strong></td>  
  </tr>
    <?php foreach ($this->postsList as $counter => $post) { 
        ?>				
    <tr class="<?php echo ($post['post_status'] == 1 ? "" : "danger"); ?>">
	    <td><?php echo ($this->postsList->getCurrentPageNumber()-1)*$this->postsList->getItemCountPerPage() + ++$counter ?></td>
	    <td><a href="<?php echo $this->urlGenerator()->postUrl($post);?>" ><?php echo $this->escapeHtml($post['post_title']); ?></a></td>
	    <td><?php echo $this->date()->persianDate($post['post_date']); ?></td>
	    <td><?php echo ($post['post_status'] == 1 ? __('Published'):__('Archived')); ?></td>  
	    <td><?php echo $this->escapeHtml($post['firstname'] . ' ' . $post['lastname']); ?></td>
	    
	     <td><a class="btn btn-xs btn-success" href="<?php echo $this->url('blog-admin', array(
	    		'id' => $post['id'],
	    		'action' => 'edit-post'
	    ));  ?>"><span class="glyphicon glyphicon-pencil"></span></a></td>
	   <td ><a class="btn btn-xs btn-danger delete-btn" href="<?php echo $this->url('blog-admin', array(
		    		'id'     => $post['id'],
	          		'action' => 'delete-post',
       				'token'  => $this->csrf
	    	));  ?>"><span class="glyphicon glyphicon-remove"></span></a></td>
  </tr> 
  <?php 
  		}
  ?>   
</table>
<a href="<?php echo $this->url('blog-admin', array('action' => 'add-post')); ?>" class="btn btn-primary"><?php echo __('Add'); ?></a>
<?php 
  	} else {
  		echo '<br><div class="alert alert-info" role="alert">' . __("No results") . '</div>';
  	}
	echo $this->paginationControl($this->postsList, 'Sliding', 'layout/paginator', array(
			'route' => 'blog-admin',
			'params' => array()
	));
?>

<!-- Modal HTML -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <h5><?php echo __('Are you sure to delete this?')?></h5>
                    <p><?php echo __('Pay attention: after delete the item, you could not recover it!')?></p>
                </div>
                <div class="modal-footer">
                    <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#"><?php echo __('Yes! I want to delete.')?></a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $('.delete-btn').click(function(e) {
        e.preventDefault();
        $('#modal').modal();
        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
    });
</script> 
