<div class="row">
    <div class="col-x-12 col-md-6">
        <?php
            use Application\Helper\GeneralHelper;
             if ($this->leagues) { 
                 $leaguesData = $this->leagues;
                 ?>
                  <select class="form-control leagueId" id="select-league-program">
                 <?php 
                   $j = 0; 
            	   foreach ($leaguesData as $categoryId => $league) {  
            	      $j ++;
            		  $selected='';
            		  if($league['id'] == $this->currentleagues['id']) {
            		   	$selected = 'selected';
            		  }
            	   	  $week_count = $league['week_count'];
            	      echo '<option   value='.$league['id'].' '.$selected.'  data-count='.$league['week_count'].' > '.$league['name'].' </option>';
            	   }
              	 ?>
                 </select>
               <?php 
                }
             ?>
    </div>
    <div class="col-x-12 col-md-6">
        <div id="week-part-program">
            <?php  
            $currentData ='';
            if ($this->currentleagues) { 
            	$j = 0;
            	$weeks = $this->currentleagues['week_count']; 
            	$option = '<select class="form-control selectweek-program" >'; 
            	for ($i = 1;  $i <=  $weeks ; $i++) {  
            		 $selected='';
            		 $j ++;
            		 if($i == $this->weekId) {
            			 $selected = 'selected';
            		 } 
            	     $option .= '<option  '.$selected.' value='. $i .'  data-id=' .$this->currentleagues['id']. '>' .GeneralHelper::getweekname($i) .'</option>';
             	}
             	$option .= '</select>';
             echo $option;
            }  
            ?>
         </div>
    </div>
</div>


 
 
	 <div id="content-team-program" class="football-table2">
     <table class="table table-striped">
      <thead>
          <tr>
            <td colspan="6" id="tableHeader"><?php echo GeneralHelper::getweekname($this->weekId); ?></td>
          </tr>
      </thead>
      <tbody id="content-team-program-1">
        	<?php if($this->programs) {
        		foreach ($this->programs as $program) {
        			echo ' <tr><td> '.$program['team_a_name'].' </td>   
        			 	  <td> '.$program['team_a_gole'].' </td>   
        			 	  <td> '.$program['team_b_name'].' </td>   
        			 	  <td> '.$program['team_b_gole'].' </td>   
        			 	  <td> '.$program['game_date'].' </td>   
        			 	  <td> '.$program['game_time'].' </td></tr>   
        		';
        		}
        	}?>
	
	 
      </tbody>
      </table>
      </div>
 
<script type="text/javascript">
 
$(document).ready(function() {
 	var leagueId = '';
    $("#select-league-program").on('click', function() {
    	  leagueId =  this.value;
 
        var weekcount = $("#select-league-program").find(':selected').attr('data-count');
        $("#week-part-program").html('');
	    var option = '<select class="form-control selectweek-program" >'; 
        if (weekcount) {
            for (var i = 1; i <= weekcount; i++) {
                option += '<option  value=' + i + '  data-id=' + leagueId + '>' + getweekname(i) + '</option>';
            }
            option += '</select>';
        } 
         $("#week-part-program").append(option);
     
        $('body').find(".selectweek-program").on('change', function() {  
                var weekId = this.value;  
                getPrograms(weekId, leagueId) 
        }); 
    }); 

	$('body').find(".selectweek-program").on('change', function() {
	    var weekId = this.value;  
	    var leagueId = $(this).find(':selected').attr('data-id');  
	    getPrograms(weekId, leagueId);
	}); 
});
function getPrograms(weekId, leagueId) {
	var weekName = getweekname(weekId);
 
 
	$("#tableHeader").html('');
	$("#tableHeader").html(weekName);
    $.ajax({
        url: '/football-ajax-getprogram',
        method: 'post',
        data: {
            leagueId: leagueId,
            weekId: weekId
        },
        success: function(data) {
     	   $("#content-team-program-1").html('');
            var result = $.parseJSON(data);
            var html = '';  
            $.each(result, function(val, res) { 
                html += '<tr><td>' + res.team_a_name + '</td>';
                html += '<td>' + res.team_a_gole + '</td>';
                html += '<td>' + res.team_b_name + '</td>';
                html += '<td>' + res.team_b_gole + '</td>';
                html += '<td>' + res.game_date + '</td>';
                html += '<td>' + res.game_time + '</td></tr>'; 
            });
            $("#content-team-program-1").html(html);
            $("html, body").animate({
                scrollTop: $('#select-league-program').offset().top - 200
            }, '500', 'swing');
        }
    });
}
 </script>


