@font-face {
    font-family: 'yekan';
    src: url('../fonts/BYekan/Yekan.eot');
    src: url('../fonts/BYekan/Yekan.eot#iefix') format('embedded-opentype'),
    url('../fonts/BYekan/Yekan.woff') format('woff'),
    url('../fonts/BYekan/Yekan.ttf') format('truetype'),
    url('../fonts/BYekan/Yekan.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YekanNumbers';
    src: url("../fonts/YekanNumbers-Regular.eot");
    src: url("../fonts/YekanNumbers-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanNumbers-Regular.woff") format("woff"), url("../fonts/YekanNumbers-Regular.ttf") format("truetype"), url("../fonts/YekanNumbers-Regular.svg#YekanNumbers-Regular") format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility
}
/*
@font-face {
    font-family: 'BYagut';
    src: url('../fonts/persian/BYagut.eot?#') format('eot'),
    url('../fonts/persian/BYagut.woff') format('woff'),
    url('../fonts/persian/BYagut.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}*/

/*========================== general======================================== */
body{
    font-family: yekan , 'YekanNumbers';
    background: #fff;
    font-size: 14px;
}
a, a:hover, a:focus {
	text-decoration: none;
	-webkit-transition:color .6s ease;-o-transition:color .6s ease;
	transition:color .6s ease;
	outline:0 !important;
}
.h3, h3 {
    font-size: 1.2rem;
}
.h4, h4 {
    font-size: 1rem;
}
.ltr{
	direction: ltr;
}
.floatleft{
	float: left;
}
.low-padding{
	padding-right:7px !important;
	padding-left:7px !important;
}
.no-padding{
	padding-right:0px !important;
	padding-left:0px !important;
}
.no-margin{
	margin-right:0px !important;
	margin-left:0px !important;
}
.low-margin{
    margin-right: -35px !important;
    margin-left: -35px !important;
}
.input-block{
    margin-top: 20px;
}
.input-block label{
    color: #2D4761;
}
.form-control {
    border: 1px solid #a5a5a5;
    border-radius: 2px;
}
.gallery-margin{
	margin:15px 0;
}
/*========================== header======================================== */
.header-title{
    font-size: 24px;
    font-weight: bold;
	color:#333;
}
@media screen and (max-width:998px){
	.header-title{
    	font-size: 16px;
	}
	.search-wrapper{
		display:none;
	}
}
/*=====================logo-title========================*/
#main-menu{
	background-color: #DE2C2C;
	position: relative;
}
/* ================================about-costomer========================== */
#about-customer{
    background-color: #f1f1f1;
    margin: 30px 0 0;
    padding: 25px 0;
	background-image: url('/images/customer-bg.png');
	height: 400px;
	position:relative;
}
#about-customer:after{
	content:'';
	background-color:rgba(0,0,0,0.6);
	position:absolute;
	top:10%;
	left:0;
	right:0;
	bottom:10%;
	z-index:10;
}
.owl-customer{
	z-index:9999;
	position: relative;
}
#owl-demo3{
	padding: 120px 0;
}
#demos .owl-carousel .item:hover{
	border:1px solid #E10414;
	cursor:pointer;
	-webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}
#demos .owl-carousel .item:hover .owl-product-title{
    border: 1px solid #E10414;
    background-color: #E10414;
    color: #fff;
	-webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}
/*=============================== owl======================== */
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block!IMPORTANT;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block!IMPORTANT;
    border:0px solid black;
}
.owl-prev i, .owl-next i {
	color: #E10414;
    font-size: 20px;
}
.owl-product-title{
    border: 1px solid #E10414;
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px;
    background-color: #eee;
    font-size: 14px;
    text-align: center;
    color: #E10414;
}
.owl-img{
	margin:20px;
}
.owl-img img{
	width:100%;
    object-fit: contain;
    height: 220px;
}
.owl-carousel .owl-item{
	float:right !important;
}
/*=============================== slick======================== */
.slick-prev:before, .slick-next:before {
    color: #fcfbfb !important;
    font-size: 26px !important;
}
/*=============================== footer======================== */
#footer{
	background-color: #141414;
	padding:20px 0;
}
#footer .box-title h2 {
    color: #de2c2c;
}
#footer .footer-contact{
    font-size:14px;
	line-height: 1.5;
}
#footer p{
    color:#fff;
}
#footer .copyright{
    background-color: #de2c2c;
	border-radius:3px;
	padding:10px;
	margin:10px 3px 0;
	color:#000;
	font-size: 13px;
}
#footer .copyright a{
	color:#fff;
}
#footer .box-title{
	margin-top:10px !important;
}
/*=============================== title======================== */
.box-title{
    position: relative;
    clear: both;
    z-index: 1;
    line-height: 33px;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: right;
}
.box-title:after, .box-title2:after{
	content: "";
	background-image: url('../images/border.png');
	position: absolute;
	z-index: 9999;
	top: 35px;
	right: 0;
	width: 137px;
	height: 13px;
	background-repeat: no-repeat;
}
.box-title h2{
	font-size:1.2rem;
}
/*=====================product btn========================*/
.contain {
  padding: 30px 10px;
}

.btnnn {
  text-decoration: none;
  color: #000;
  font-style: italic;
  position: relative;
  display: block;
  padding: .375em;
  border: 1px solid #000;
  background: transparent;
  overflow: hidden;
  text-decoration: none;
  width: 16.875em;
  max-width: 16.875em;
  margin: 0 auto 1.5em;
}
.btnnn:hover
{
	color: #ee1a26 !important;
}
.btnnn:last-of-type {
  margin-bottom: 0;
}
.btnnn span {
  display: block;
	border: 1px solid #000;
	background: white;
	font-size: 13px;
	text-align: center;
	padding: 5px;
}
.btnnn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ee1a26;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}
.btnnn:hover::before {
  background: #ee1a26;
}
.btnnn.slide::before {
  background: #ee1a26;
  -webkit-transform: translateX(-112%) skew(-45deg);
          transform: translateX(-112%) skew(-45deg);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.btnnn.slide:hover::before {
  -webkit-transform: translateX(0) skew(0);
          transform: translateX(0) skew(0);
}
.btnnn.slide_v::before {
  background: #ee1a26;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.btnnn.slide_v:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.btnnn.fill::before {
  background: #ee1a26;
  border-radius: 50%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.btnnn.fill:hover::before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.about-product-text{
	text-align:justify;
	direction:rtl;
}
/*=====================portfolio========================*/
.hide{
  display: none;
}
.project{
  border: 1px solid #eaeaea;
  margin: 20px;
  padding: 20px;
}
/*=====================social-phone========================*/

#services .owl-carousel .owl-item {
    background-color: #f5f5f5;
    border-radius: 3px;
    margin: 0 13px;
    padding: 10px;
}
@media screen and (max-width:998px){
	#services .owl-carousel .owl-item {
	    margin: 0;
	}
}
/*=====================slideshow========================*/
#amazingslider-wrapper-1{
	position: relative;
}
.amazingslider-nav-1{
	display:none !important;
}
#amazingslider-wrapper-1 .slider-fix-caption{
    display: block !important;
    position: absolute;
    top: 300px;
    z-index: 9999;
    text-align: center;
    left: 10%;
    right: 10%;
    background: rgba(255,255,255,0.5);
    color: #ac0909;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
}
.amazingslider-arrow-right-1, .amazingslider-arrow-left-1{
	display:block !important;
}
.amazingslider-text-box-1{
	display:none !important;
}
.amazingslider-arrow-right-1{
	right:10% !important;
    width: 40px !important;
    height: 40px !important;
}
.amazingslider-arrow-left-1{
	left:10% !important;
	width: 40px !important;
    height: 40px !important;
}
@media (min-width:469px) and (max-width:998px){
	#amazingslider-wrapper-1 .slider-fix-caption {
	    top: 60%;
	    font-size: 15px;
	}
}
@media screen and (max-width:468px){
	#amazingslider-wrapper-1 .slider-fix-caption {
	    top: 45%;
	    font-size: 12px;
	    background: transparent;
	}
	.search-wrapper {
        display: none;
	}
	#amazingslider-wrapper-1 .slider-fix-caption div a {
	    font-size: 12px !important;
	}
	#header .top-menu img {
	    margin-top: 18px;
	}
}
#amazingslider-wrapper-1 .slider-fix-caption div{
	text-align: left;
    margin: 0 10px;
}
#amazingslider-wrapper-1 .slider-fix-caption div a{
    color: #333;
    font-size: 14px;
    text-decoration: underline dotted #333;
}
/* #amazingslider-wrapper-1 .amazingslider-slides{
    display: block !important;
} */
/*=============================search=============================*/
.searchboxx{
	clear: both;
}
.search-wrapper {
	margin: 12px;
    float: left;
    text-align: left;
    position: absolute;
    left: 0;
}
.socialicon ul li:nth-child(2){
	font-size:24px;
}
.search-wrapper.active {}

.search-wrapper .input-holder {    
    height: 35px;
    width: 35px;
    overflow: hidden;
    background: rgba(255,255,255,0);
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width: 236px;
    border-radius: 4px;
    background: rgba(222, 216, 216, 0.6);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    margin-left: 25px;
    direction: rtl;
    height: 35px;
}
.search-wrapper .input-holder .search-input {
    top: 0px;
    position: absolute;
    padding: 0px 20px 3px 20px;
    opacity: 0;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: yekan !important;
    font-size: 13px;
    color: #fff;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        transition-delay: 0s;
    transition-delay: 0.3s;
    right: 27px;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 6px;
    background: transparent;
    padding: 0px;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 30px;
    height:30px;
    margin: 1px 3px;
    border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute; 
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 9px;
    left: 8px;
    top: 15px;
    border-radius: 50%;
    background: #5F6062;
}
.search-wrapper .input-holder .search-icon span::after {
	width: 16px;
	height: 16px;
	left: 1px;
	top: -1px;
	border-radius: 50%;
	border: 3px solid #5F6062;
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
	top: 12px;
	right: 2px;
	width: 19px;
	height: 18px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-34px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #d29a49;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}

/* #about-customer b{
	margin-right: 50px;
} */
#about-customer ul li{
    font-size: 15px;
    text-align: right;
    color: #5a5a5a;
    /* margin-right: 50px; */
}
#about-customer .about-content{
    text-align: justify;
    font-size: 15px;
    line-height: 2;
    color: #7a7a7a;
    margin: 30px 0;
}
#about-customer .about-content p{
	margin-bottom:0;
}
#about-customer .about-button{
	background-color: #333;
	color:#fff;
	border-radius:5px;
	padding:5px 10px;
	float: left;
    font-size: 15px;
}
/* ================================footer========================== */
#footer ul {
    font-size: 14px;
    line-height: 2;
}
#footer ul li a{
    color:#fff;
}
#footer .social{
	margin:30px 0;
}
#footer .footer-title, #footer .social b{
    color:#de2c2a;
}

#footer .social ul, #footer .social ul li{
    display: inline-block;
    margin: 0 10px;
}
#footer .social ul li i{
   color: #9b9ea1;
	margin: 0 10px;
}
/* ================================logo========================== */
#owl-demo3 .owl-buttons{
    position: absolute;
    top: -35px;
    background-color: #f1f1f1;
}
#owl-demo3 .owl-prev, #owl-demo3 .owl-next{
    background-color: #333;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BF5857;
    border-radius: 3px;
    z-index: 9999;
    position: absolute;
    left: 0;
}
#owl-demo3 .owl-next{
	left: 38px;
}
#owl-demo3 .item{
	text-align: center;
}
/* folded paper */
.note {
    position: relative;
	width: 480px;
	padding: 1em 1.5em;
	margin: 2em auto;
	color: #fff;
	background: #d65050;
	overflow: hidden;
	border-radius: 5px 0px;
}
.note.blue {
    background: #53A3B4;
}
.note.taupe::before {
    border-color: #fff #fff #BDBB8B #BDBB8B;
    background: #BDBB8B;
}
.note::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width:0 35px 30px 0;
    border-style: solid;
    border-color: #fff #fff #658E15 #658E15;
    background: #658E15;
    display: block;
    width: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}
.note {
    color: #fff;
}
#gallery .carousel-control.right {
    left: 0 !important;
	right: auto !important;
	top: -27px;
}
#gallery .carousel-control.left {
    left: -20px !important;
	right: auto !important;
	top: -27px;
}
#gallery img {
    width:100%;
	height:100px;
	object-fit:cover;
}
.fancybox-lock .fancybox-overlay {
    z-index: 9999;
}
#gallery .carousel-control {
    color: #d6504f;
    opacity: 1;
}
/*share button in blog post*/
.share-button{
    position: relative;
    height: 36px;
    top: -19%;
    margin-top: -17px;
    width: 135px;
    left: 93%;
    margin-left: -65px;
    background: #D65050;
    border-radius: 20px;
    overflow: hidden;
    line-height: 36px;
}

.open .lid{
  transform:rotateX(90deg);
}
/*========================== products======================================= */
#media  .btn_style4{
	color:#D65050;
}
#media .product-title{
	margin:20px 0;
}
/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 50px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
	right: 360px !important;
	background-image: none;
	background: none repeat scroll 0 0 #d65050;
    background-image: none;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width: 40px;
	margin-top: -44px;
	opacity:1;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  	right: 400px !important;
	background-image: none;
	background: none repeat scroll 0 0 #d65050;
    background-image: none;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width: 40px;
	margin-top: -44px;
	opacity:1;
}
@media screen and (max-width:768px){
	/* Previous button  */
	.media-carousel .carousel-control.left 
	{
		right: 40% !important;
	}
	/* Next button  */
	.media-carousel .carousel-control.right 
	{
	  	right: 60% !important;
	}
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel .product-box
{
	-webkit-box-shadow: -1px 5px 9px -1px rgba(89,89,89,1);
	-moz-box-shadow: -1px 5px 9px -1px rgba(89,89,89,1);
	box-shadow: -1px 5px 9px -1px rgba(89,89,89,1);
}
.media-carousel .product-box img
{
  	width: 100%;
	height: 200px;
	object-fit: cover;
}
/* End carousel */

/*========================== footer======================================== */

/* ======================== internal pages ======================== */
/* breadcrumb*/
.breadcrumb {
    margin: 20px 0;
	background-color:transparent;
}
.breadcrumb > li {
    display: inline-block;
    border: 1px solid #bfbcbc;
    padding: 5px 10px;
    margin-left: 5px;
    transition: all 0.4s linear;
	border-radius:2px;
}
.breadcrumb > li a{
	color:#bfbcbc;
}
.breadcrumb > li:hover{
	border: 1px dashed #D65050;
}
.breadcrumb > li:hover a{
	color:#D65050;
}
.breadcrumb > li:first-child {
	border-radius: 0 30px 0px 0;
	padding: 5px 25px;
}
.breadcrumb > .active {
    color: #d65050;
    border: dashed 1px #d65050;
}
.breadcrumb > .active a{
    color: #d65050;
}
.breadcrumb > .active:before{
    color: #d65050;
}

.breadcrumb > li + li::before {
	font-family: FontAwesome;	
    content: "\f100";
    padding: 0 5px;
    color: #ccc;
}
.breadcrumb .fa-home {
    color: #D65050;
}
/*top image in every page */
#back-img div{
	background-image: url('../images/back.jpg');
	width: 100%;
    height: 200px;
    background-attachment: fixed;
    background-position:top center;
    position: relative;
}
#back-img div:after{
	content:"";
	background-color: rgba(0,0,0,0.5);
	width:100%;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height: auto;
}
/* slideshow for page */
#single_content .carousel .fill{
	width: 100%;
	height: 200px;
	object-fit: cover;
	background-position: center;
	background-size: cover;
    border-radius: 5px;
}
/* video for page */
div.pp_default .pp_content_container .pp_right {
    padding-left: 0px !important;
}
a.pp_close {
    position: relative;
    left: 0 !important;
    top: 0px !important;
    display: block;
    line-height: 22px;
    text-indent: -10000px;
	z-index:9999 !important;
}
#pp_full_res video{
	max-width:100%;
	height:auto !important;
}
.single_content_main{
	margin-top:20px;
}
#internal-post{
	margin-bottom:30px;
}
.internal-post .page-content{
	background-color: #fff;
	min-height: 350px;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.internal-post .page-content table{
	width:100%;
}
.internal-post .page-content table td,.internal-post .page-content table th {
    padding: 10px 0;
}
.internal-post {
    background-color: #fff;
    border-radius: 3px;
    min-height: 400px;
    padding: 20px;
    width: 100%;
}
#internal-post .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 10px;
}
.internal-post .box-title h2.title{
    background-color: #fff;
	margin-bottom:20px;
}
.left-sidebar{
	background-color: #f4f4f4;
	min-height: 500px;
	margin-top:40px;
}
 .left-sidebar .box-title h2.title{
    background-color: #F4F4F4;
}
/*====================== contact===================== */
#captcha-id-image{
	width:auto !important;
	border-radius: 3px;
}
#section-contact .footer_info{
	list-style: none;
}
#section-contact .google-map{
	display:none;
}
#section-contact .footer_info li p{
	display:inline-block;
}
#section-contact .footer_info li i{
	color:#D65050;
}
#section-contact .form-group {
    margin-bottom: 10px;
}
#section-contact #contact_submit {
    margin-top: 15px;
}
.social-network ul li{
	display:inline-block;
}
.social-network ul li i{
	color:#D65050;
	font-size:18px;
}

/*============================media======================*/
@media (min-width:992px){
	#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
	    z-index: 9999;
		background-color: transparent;
	}
	#cssmenu ul{
		padding-top:7px;
	}
}
@media screen and  (max-width:992px){
	.logo{
		display:none;
	}
	.top_menu .container{
	width:100%;
	}
}
@media screen and (max-width:1200px){
	.man {
	    display:none;
	}
}
@media (min-width:992px) and (max-width:1200px){
	.services_box {
	    width: 100%;
	    height: 200px;
	}
	.pic {
	    left: calc(50% - 2em);
	}
}
@media screen and (max-width:991px){
	.services_box {
	    margin-top:0px;
	}
	#myCarousel.carousel .fill {
	    height: 300px !important;
	}
	footer {
	    padding: 10px !important;
	}
}
@media screen and (max-width:768px){
	.services_box {
	    width: 100%;
	    height: 200px;
	    border-radius: 12px;
	    position: relative;
	    text-align: center;
	    background-image: none;
	    background-color: #eee;
		margin-top:25px;
	}
	.services_box p {
	    font-size: 16px;
	}
	#header_site .top_header .top_header_logo a img {
	    width: 100%;
	}
	footer address{
		margin-right: -20px !important;
	}
	footer .footer_figure_left {
	    display: none;
	}
	footer .footer_figure_right {
	    display: none;
	}
	footer .footer-link {
	   margin-top:20px;
	}
	footer address .footer-contact {
	    margin-top: 0px; 
	    margin-bottom: 58px;
	}
	#cssmenu > ul > li {
	    padding-right: 20px;
		text-align: center;
	}
	.shop-category img, #shop .category-desc{
		margin-bottom:20px;
	}
}
.img-logo{
	width:150px;
	height:auto;
}
/*============================shop======================*/
.shop-category .category-title a{
	color:#D65050;
}
#shop .shop-category{
	margin: 20px 0;
}
.shop-category {
	margin:20px 0;
}
.shop-category img{
	vertical-align: middle;
	width: 100%;
	height: 260px;
	object-fit: cover;
	margin-bottom: 20px;
}
#shop .category-desc{
	height: 80px;
	overflow: hidden;
	margin-top: 10px;
	text-align: justify;
}
#shop .read-more a{
	color:#fff;
}
#shop .read-more a:hover{
	color:#d1ae6c;
}
.product_box{
	border: 1px solid #337ab7;
	padding: 10px;
	margin:0 10px;
}
.product_box img{
	width:80%;
	margin-bottom:20px;
}
.product-real-title{
	margin-top:20px;
	color:#000;
}
.image-descp img{
	width:100%;
	height:auto;
}
.product-document{
	margin:20px 0;
}
.product-document .fa-file-pdf-o{
	color: darkred;
    font-size: 20px;
}
.product-document a{
	color: #000;
    font-size: 15px;
}
/*============================services======================*/
.ih-item.square.effect13 {
    margin-top: 20px !important;
}
.ih-item.square {
    width: 100% !important;
    height: 200px !important;
}
.ih-item img {
    width: 100% !important;
    height: 184px !important;
    object-fit: contain;
}
/* tab */
      /* BASIC TABS STYLE */
.basic-tabs [data-tab] {display: inline-block;padding: 10px;border: 1px solid #ddd;border-bottom: none;text-decoration: none;background-color: #fff;}
.basic-tabs [data-tab].tab-active {border-top: 2px solid #3498db;}
.basic-tabs [data-tab-content] {border: 1px solid #ddd;padding: 20px;float: left;width: 100%;}
        /* SIDE TABS STYLE */
.tab-links {width: 20%;float: right;}
.tab-content {width: 80%;float: left;min-height: 500px;}

        .side-tabs [data-tab] {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 5px;
            border: 1px solid #ddd;
            border-left: none;
            text-decoration: none;
            background-color: #fff;
        }

.side-tabs [data-tab].tab-active {border-top: 2px solid #d65050;}
.side-tabs [data-tab-content] {
    border: 1px solid #ededed;
	padding: 20px;
	float: left;
	width: 100%;
	background-color: #fff;
	border-top: 2px solid #d65050;
	min-height: 500px;
	margin-bottom: 20px;
}

        /* ACCORDION TABS STYLE */
        .accordion-tabs [data-tab] {
            display: block;
            width: 100%;
            float: left;
            padding: 10px;
            border: 1px solid #ddd;
        }
.accordion-tabs [data-tab].tab-active {border-bottom: 2px solid #3498db;}
.accordion-tabs [data-tab-content] {border: 1px solid #ddd;padding: 20px;float: left;width: 100%;}
.tab-links a{text-align: right;color: #D65050 !important;}
.side-tabs .img-news img{
	width: 100% !important;
	height: 80px !important;
	object-fit: cover !important;
}
.side-tabs .more{
	margin-top: 5px;
}
.side-tabs .more a{
	font-size: 14px;
	color: #d65050;
}
.side-tabs .more:hover a, .side-tabs .news-title:hover h4, .side-tabs .img-news img:hover{
	color: #d71b1b;
}
.side-tabs .more i{
	padding-left:5px;
}
.side-tabs .news-title h4{
	font-size: 14px;
	color: #757575;
}
.side-tabs .news-title p{
	color: #626060;
}
.side-tabs .news-main{
	border-bottom: 1px dashed #d4d2d2;
	padding: 10px;
}
@media screen and (max-width:768px){
	.tab-content {
	    width: 100%;
	}
	.tab-links {
	    width: 100%;
	}
	.side-tabs [data-tab] {
	   border-left: 1px solid #ddd;
	}
}
<!-- tab -->
.album_gallery ul{padding-bottom: 25px;}
.album_gallery ul li{float: right;margin-top: 10px;}
.album_gallery img{width: 100%; height: 180px;margin-top: 16px;}
.gallery_title{text-align: center;padding-bottom: 6px;padding-top: 6px;height: 30px;}
.album_gallery a{color: #333 !important;text-decoration: none !important;}

.gallery_inner ul{margin-top: 25px;padding-bottom: 25px;}
.gallery_inner ul li{margin-top: 25px;}
.gallery_inner a{color: #333 !important; text-decoration: none !important;}

.gallery_cat{margin-top: 25px;}
.gallery_cat ul li{border-bottom: 1px solid #ccc;padding-bottom: 12px;padding-top: 12px;text-align: center;}
.gallery_cat a{color: #333 !important; text-decoration: none !important;}
.gallery_cat ul li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.album_gallery #gallery{
	background-color: #fff;
	width: 100%;
	padding: 20px 10px 30px;
}
@media (min-width:992px){
	.album_gallery #gallery .col-md-4{
		width: 33.33333333%;
	}
}
.album_gallery #gallery .col-md-4 img{
	width: 100%;
	height: 120px;
	object-fit: cover
}
.cat_title {
   border: 1px solid #d65050;
	text-align: center;
	padding: 12px 0;
	background-color: #d65050;
	color: #fff;
  }
.album_gallery ul li a span{text-align: center !important}
.quick_access .navbar-nav > li > a:hover {color: #fff !important;}
.quick_access .nav > li > a:hover, .nav > li > a:focus{background-color: transparent;text-decoration: none;}

.video_gallery li{list-style:none !important;}
.video_gallery .selected-product-caption-inner{text-align: center;}
.video_gallery a{text-decoration: none !important; color: #333 !important}
     .tab-container {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            float: left;
        }
.page-content .items_gal img {
    width: 100% !important;
    height: 120px !important;
    object-fit: cover;
}
.page404{
	margin:50px 0;
}	
.page404 h1{
	color:green;
	margin:10px 0;
}	
.page404 p{
	font-size:20px;
}	
.page-content .signin{
	padding-top:30px;
}
.required-mark{
	float: left;
	color: green;
}
input[type="checkbox"], input[type="radio"] {
    float: right;
	margin-left: 10px;
}
.box-news .text-news{
	margin-top: 15px;
}
.box-news .text-news p{
	display:inline;
}
video{
    width: 100%;
    height: 200px !important;
}
video[poster]{
	width: 100%;
    height: 200px !important;
}
/*============================searchbox======================*/
.search {
  width: 12em;
  height: 2em;
  padding: 0;
  margin: 0;
  line-height: 2em;
  background-color: #1582CA;
  position: relative;
  transition: all .25s linear;
	border-radius:2px;
   margin-right: -13px;
    cursor: pointer;
}
.search input {
  width: 9.5em;
  height: 2em;
  line-height: 1em;
  padding: 0 0 0 .5em;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1em;
  color: white;
  float: left;
  transition: all .25s linear;
}
.search a {
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding: 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .25s linear;
}
.search a:before {
  content: "\f002";
  font-family: FontAwesome;
  font-style: normal;
}
.search a:hover {
  color: #fff;
}
.search.collapsed {
  width: 2em;
  margin-left: 10em;
}
.search.collapsed input {
  width: 0;
}
.search.collapsed a {
  color: #fff;
}
.search.collapsed a:hover {
  color: #bbb;
}
.submitLogin{
	display:inline-block !important;
}
div.pp_overlay {
    z-index: 9999 !important;
}
.pp_content{
	width:100% !important;
	height:auto !important;
}
/* pagination */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #d65050 !important;
    border-color: #d65050 !important;
    border-radius: 50%;
    padding: 2px 5px;
    margin: 0 5px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ========================= faq =============================== */
.panel-heading {
    cursor: pointer;
}
.accordion-toggle::after {
    color: #fff;
    content: "\f068";
    float: right;
    font-family: "FontAwesome";
    padding-left: 5px;
}
.panel-heading.collapsed .accordion-toggle::after {
    content: "\f067";
}
.panel-title {
    color: #fff;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
}
.panel-title h4 {
    padding-right: 20px;
}
.panel-info > .panel-heading {
    background-color: #d65050;
	border-color: #d65050;
    color: #fff;
}
.panel-info {
    border-color: transparent;
}
.fa {
    padding-left: 5px;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #ef9b29;
}
.FaqBox .btn-default {
    border-color: #d65050;
    background-color: transparent;
    color: #000;
}
.FaqBox .btn-default.active, .FaqBox .btn-default:hover, .FaqBox .btn-default:active,.FaqBox .btn-default.focus, .FaqBox .btn-default:focus .FaqBox .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #d65050;
    border-color: #adadad;
}
.btn-secondary
{
	color: #fff;
	background-color:#D65050;
	border-color: #D65050;
	-webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.btn-secondary:hover
{
	color: #000;
	background-color: transparent;
	border-color: #D65050;
	-webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
/* i hover design page */
/* ihover */
.ih-item.square {
    position: relative;
    width: 100% !important;
    border: none !important;
    box-shadow: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ih-item.circle.effect5 .info p {
    color: #bbb;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    position: absolute !important;
    top: 100px !important;
}
.ih-item.circle.effect1 .spinner {
    width: 70px !important;
    height: 70px !important;
    border: 3px solid #000 !important;
    border-right-color: #ee1a26 !important;
    border-bottom-color: #ee1a26 !important;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.step
{
	margin:20px;
}
.services-design
{
	text-align:justify;
	margin:20px;
}
.step-title
{
	text-align:center;
}
.standard-title
{
	color:#EE1A26;
	font-weight:bold;
}
.standard-text
{
	text-align:justify;
	margin:30px;
}
.service-design-title
{
	color:#EE1A26;
	font-weight:bold;
}
.single_content .box-title h2.title {
    background-color: #fff !important;
}
#page-slideshow .item .fill{
	height: 300px;
	width: 100%;
}
#page-slideshow .carousel-control{
	display: none;
}
.form-group input, .form-group textarea{
    background-color: transparent;
    border: 1px solid #620406;
    height: 33px;
    padding: 10px;
    width: 100%;
    color: rgba(12,34,52,0.6);
    font-size: 13px;
}
.form-group textarea{
    height: 100px;
}
#contact button {
    float: left;
    padding: 5px 40px;
    background-color: transparent;
    box-shadow: none;
    background-color: #de251d;
    border: 1px solid #620406;
    font-size: 13px;
    border-radius: 3px;
    color: #fff;
}
.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}
.single_content_main .service {
	line-height: 3;
	font-size: 15px;
	border-bottom: 1px dashed #eee;
	margin: 20px 0;
}