/* ======================== internal pages ======================== */
h4{
	font-size:16px;
}
/* breadcrumb*/
#breadcrumb{
    z-index: 1000;
    position: relative;
	background-color: rgba(73,17,57,1);
    margin-top: 10px;
}
.breadcrumb {
    margin: 0;
	background-color:transparent;
}
.breadcrumb > li {
    display: inline-block;
    padding: 5px ;
    transition: all 0.4s linear;
	border-radius:2px;
}
.breadcrumb > li span{
    color:#eee;
}
.breadcrumb > li a{
	color:#bfbcbc;
}
.breadcrumb > li:hover a{
	color:#f1751e;
}
.breadcrumb > li:first-child {
	border-radius: 0 30px 0px 0;
	padding: 5px 25px 5px 0;
}
.breadcrumb > .active {
    color: #f1751e;
}
.breadcrumb > .active a{
    color: #f1751e;
}
.breadcrumb > .active:before{
    color: #d62323;
}

.breadcrumb > li + li::before {
    font-family: 'Font Awesome 5 Free' !important;
    /* font-weight: 900; */
    /* content: "\f100"; */
    padding: 0 5px;
    color: #ccc;
}
.breadcrumb .fa-home {
    color: #d62323;
}

/* category  */
#service-content, #faq-accordion, #single_content{
	margin: 80px 0 20px;
}
@media screen and (max-width:998px){
	.mobile-padding{
		padding:15px !important;
	}
}
#service-content .main-services{
	-webkit-box-shadow: -1px 2px 22px -10px rgba(128,128,129,1);
	-moz-box-shadow: -1px 2px 22px -10px rgba(128,128,129,1);
	box-shadow: -1px 2px 22px -10px rgba(128,128,129,1);
	margin-bottom:30px;
}
#content{
	margin:100px 0  20px;
}
#service-content .main-services .main-service-img{
    width: 155px;
    height: 155px;
    margin: 50px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    overflow: hidden;
    border-radius: 10px;
}
#service-content .main-services .main-service-img img{
    width: 300px;
    height: 300px;
    margin: -51px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    object-fit: cover;
}
#service-content .main-services .main-service-body{
	padding: 40px 20px 20px;
    text-align: justify;
    font-size: 16px;
    line-height: 2;
    color: #333;
}
#service-content .service-items .service-item{
   background-image: url(../images/service-item.jpg);
    height: 150px;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
#service-content .service-items .service-item .service-item-title{
    color: #fff;
    font-size: 18px;
    padding: 62px 15px;
    text-align: right;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.6);
    height: 150px;
    overflow: hidden;
}
#service-content .service-items .service-item .service-item-request{
    position: absolute;
    left: 10%;
    top: 10%;
    color: #fff;
}

/* services detailes */
.price-product {
    /* background: -webkit-linear-gradient(right, #2dbc3f 57%,#62d33f 100%); */
    background: #e9e6e6;
    padding: 15px 0 2px;
    color: #333;
    margin-bottom: 22px;
    text-align: right;
    border-radius: 4px;
}
.price-product span {
    color: #333;
    font-size: 18px;
}
.title-field img {
    vertical-align: middle;
    margin: 0 15px;
}
.price-product span {
    color: #333;
    font-size: 14px;
}
.time-delivery {
    padding: 15px 0 2px;
	font-size: 14px;
	color: #333;
	background: linear-gradient(90deg, #fb6e76 20% , #dc435f 104%);
	background: #e9e6e6;
	text-align: right;
	border-radius: 4px;
	margin: 0 0 15px;
}
kbd {
  background-color: #eee;
  border: 1px solid gray;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.4;
  box-shadow: 1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
  border-radius: 3px;
  margin: 6px 3px;
  padding: 1px 5px;
}
.box-property {
    background: url(../images/property-bg.png) top right #f2f2f2 no-repeat;
    background-size: contain;
    padding: 25px 30px;
    margin-top: 10px;
}
.request-img img {
    width: 100%;
    margin: 10px 0;
	border-radius: 5px;
}
.form-group input, .form-group textarea {
    background-color: transparent;
    border: 1px solid #888;
    color: rgba(12,34,52,0.6);
    font-size: 13px;
}
.form-group textarea {
    height: 100px;
}
.service-wrap {
    width: 100%;
    max-width: 500px;
    margin: 25px auto;
    padding: 25px;
    border: 1px solid #000;
}
/* fileupload*/
.service-wrap {
  width: 100%;
  max-width: 500px;
  margin: 25px auto;
  padding: 25px;
  border: 1px solid #000;
}
@media screen and (max-width:998px){
	.service-wrap {
	    max-width: 1000px !important;
	}
}
.multiple-file-upload-wrap {
  width: 100%;
  max-width: 500px;
  border: 1px solid #dadada;
  padding: 15px;
}
.multiple-file-upload-wrap .mfu-clear {
  clear: both;
}
.multiple-file-upload-wrap .mfu-hide {
  display: none;
}
.multiple-file-upload-wrap .mfu-item {
  background: #fafafa;
  padding: 7px 7px 4px;
}
.multiple-file-upload-wrap .mfu-file-number {
  display: inline-block;
  padding: 0 10px;
  font-size: 1.1em;
}
.multiple-file-upload-wrap .mfu-file-input {
  display: inline-block;
}
.multiple-file-upload-wrap .mfu-new-item-btn {
  margin-top: 15px;
  float: right;
}
.multiple-file-upload-wrap .already-uploaded-files {
  padding: 10px;
  background: #fafafa;
  margin-bottom: 15px;
}
.multiple-file-upload-wrap .already-uploaded-files .aup-title {
  font-size: 1.2em;
  margin-bottom: 15px;
}
.multiple-file-upload-wrap .already-uploaded-files .aup-item {
  display: block;
  padding: 5px;
}
.multiple-file-upload-wrap .already-uploaded-files .aup-item:not(:last-child) {
  border-bottom: 1px solid #dadada;
}
.multiple-file-upload-wrap .already-uploaded-files .aup-item:hover {
  background: #dadada;
}
.multiple-file-upload-wrap .already-uploaded-files .aup-file-name {
  display: inline-block;
  margin-right: 15px;
}
.multiple-file-upload-wrap .already-uploaded-files .aup-delete-btn {
  color: red;
  display: inline-block;
  float: right;
}
.multiple-file-upload-wrap .already-uploaded-files .aup-delete-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
.multiple-file-upload-wrap .already-uploaded-files .aup-server-response {
  display: none;
  color: red;
  padding: 5px 15px;
  background: #fff;
}

/* shopping cart */
.addtobasket .cd-add-to-cart{
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    color: #ee6a1f;
    position: absolute;
    bottom: 20%;
    right: 5%;
}
.btn-product-detail{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px 10px;
    color: #333;
    position: absolute;
    bottom: 20%;
    left: 5%;
}
#attribuesForm .addtobasket .request-add, .btn-detailes .request-add{
    background-image: none;
    border-radius: 5px;
    background-color: #008000;
    width: 100% !important;
    display: block;
    text-align: center;
    margin: 0 30px;
    font-size: 14px;
    color: #fff;
}
.btn-detailes .request-add{
	width: 50% !important;
}
#attribuesForm .addtobasket .cd-add-to-cart i{
	color: #eee;
	margin-left: 10px;
}
.cd-add-to-cart:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.warning.warning-form {
    background: #fffbd6;
    border-radius: 20px;
}
input[type="checkbox"], input[type="radio"] {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}
.alert.warning {
    color: #b48536;
}
#attribuesForm .alert {
    z-index: 100 !important;
}
#attribuesForm .alert p{
    margin:0;
}
#errormessages {
  font: bold 13px Arial;
  color: #DD3030;
  min-height: 32px;
  padding: 0px 10px;
  text-align: center;
}

/*top image in every page */
#back-img div{
	background-image: url('../images/back.jpg');
	width: 100%;
    height: 200px;
    background-attachment: fixed;
    background-position:top center;
    position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}
#back-img div:after{
	content:"";
	background-color: rgba(0,0,0,0.5);
	width:100%;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height: auto;
}
/* slideshow for page */
#single_content .carousel .fill{
	width: 100%;
	height: 200px;
	object-fit: cover;
	background-position: center;
	background-size: cover;
    border-radius: 5px;
}
/* video for page */
div.pp_default .pp_content_container .pp_right {
    padding-left: 0px !important;
}
a.pp_close {
    position: relative;
    left: 0 !important;
    top: 0px !important;
    display: block;
    line-height: 22px;
    text-indent: -10000px;
	z-index:9999 !important;
}
#pp_full_res video{
	max-width:100%;
	height:auto !important;
}
.single_content_main{
	margin-top:20px;
}
#internal-post{
	margin-bottom:30px;
}
.internal-post .page-content{
	background-color: #fff;
	min-height: 350px;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.internal-post .page-content table{
	width:100%;
}
.internal-post .page-content table td,.internal-post .page-content table th {
    padding: 10px 0;
}
.internal-post {
    background-color: #fff;
    border-radius: 3px;
    min-height: 400px;
    padding: 20px;
    width: 100%;
}
#internal-post .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 10px;
}
.internal-post .box-title h2.title{
    background-color: #fff;
	margin-bottom:20px;
}
.left-sidebar{
	background-color: #f4f4f4;
	min-height: 500px;
	margin-top:40px;
}
 .left-sidebar .box-title h2.title{
    background-color: #F4F4F4;
}
/*====================== contact===================== */
#captcha-id-image{
	width:auto !important;
	border-radius: 3px;
}
#section-contact .footer_info{
	list-style: none;
}
#section-contact .google-map{
	display:none;
}
#section-contact .footer_info li p{
	display:inline-block;
}
#section-contact .footer_info li i{
	color:#d62323;
}
#section-contact .form-group {
    margin-bottom: 10px;
}
#section-contact #contact_submit {
    margin-top: 15px;
}
.social-network ul li{
	display:inline-block;
}
.social-network ul li i{
	color:#d62323;
	font-size:18px;
}
a {
    color: #000;
}
a:hover, a:focus {
    color: #f44336;
    text-decoration: none;
}
.showGallery
	{
	margin-top:20px;
	}
.pp_content_container a{
	color: transparent;
}
.pp_content_container a:hover{
	color: transparent;
}
@media only screen and (max-width : 998px)
{
	.showGallery
	{
	margin-top:20px;
	}
}
.single_content_main p {
    position: relative !important;
    top: 0 !important;
    padding: 0 !important;
    font-size: 14px !important;
    line-height: 2 !important;
    white-space: normal !important;
    text-transform: none !important;
}
.slider-wrapper {
    z-index: 888 !important;
}
#page-contactus{
	background-color: #bbb !important;
    padding: 10px;
}
.page-contact-phone p{
	font-size:18px !important;
}
#page-contactus ul li {
	display: inline-block;
	font-size: 35px;
	margin: 10px;
}
#page-contactus ul li a{
	color:#fff;
}
#page-contactus ul li:hover a{
	color:#d62323;
}
#page-contactus i{
	color: #F44336;
}
#page-contactus p{
	color: #333;
	display: inline-block;
	padding-top: 18px !important;
}
.owl-carousel .owl-item img{
	width: 100% !important;
	height: 150px !important;
	object-fit: cover !important;
}
.header-bg{
	background-image: url(../images/internal-bg.jpg);
    width: 100%;
    height: 356px;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}
.header-bg h1{
    position: absolute;
    text-shadow: 1px 1px 1px #959393;
   /* border-right: 1px solid orangered;*/
    padding: 10px;
    margin: 0;
    color:#fff;
}
.header-bg2 h1{
    /* position: absolute; */
    text-shadow: 1px 1px 1px #959393;
    border-right: 1px solid orangered;
    padding: 10px;
    margin: 15px 30px;
    font-size: 24px;
}
.img-responsive{
    width: 100% !important;
}
/*.header-bg:after{
	content:'';
	background-color:rgba(16, 15, 15, 0.5);
	width:100%;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}*/
.btn-primary {
    color: #fff !important;
    background-color: #F44336 !important;
    border-color: #F44336 !important;
	transition:2s all;
}
.btn-primary:hover {
    color: #fff;
    background-color: #db2c1f !important;
    border-color: #db2c1f !important;
}
fieldset 
{
	border: 1px solid #ddd !important;
	margin: 0;
	xmin-width: 0;
	padding: 10px;       
	position: relative;
	border-radius:4px;
	background-color:#f5f5f5;
	padding-left:10px!important;
}	
legend
{
	font-size:14px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 35%; 
	border: 1px solid #ddd;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px; 
	background-color: #ffffff;
	text-align: center;
}
.custom-radios div {
  display: inline-block;
}
.custom-radios input[type="radio"] {
  display: none;
}
.custom-radios input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.custom-radios input[type="radio"] + label span img {
  opacity: 0;
  transition: all .3s ease;
}
.custom-radios input[type="radio"]#color-1 + label span {
  background-color: #2ecc71;
}
.custom-radios input[type="radio"]#color-2 + label span {
  background-color: #3498db;
}
.custom-radios input[type="radio"]#color-3 + label span {
  background-color: #f1c40f;
}
.custom-radios input[type="radio"]#color-4 + label span {
  background-color: #e74c3c;
}
.custom-radios input[type="radio"]:checked + label span {
  opacity: 1;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg) center center no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;

}
/* products */
.main-product{
   position: relative;
}
.main-product img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.main-product #product-name{
	position:absolute;
	top:15%;
	left:5%;
	right:25%;
}
.main-product .product-price{
    color: #347a37;
	text-align:center;
    padding: 10px;
}
.main-product .product-price .prod-old{
    color: #d4d0cf;
    text-decoration: line-through;
    font-weight: normal;
}
.main-product .addtobasket input{
    width: 60%;
    display: inline-block;
    padding: 3px 5px;
    margin: 15px 6px 3px 3px;
    border: 1px solid #c0c6c0;
    text-align: right;
    float: right;
}
.main-product .addtobasket i{
    color: #026f02d9;
    font-size: 15px;
}
.sl-title {
    border-bottom: 2px solid #D7D7D7;
    color: #25292c;
    line-height: 40px;
    margin: 0 0 15px;
    text-indent: 10px;
    font-size: inherit;
    font-weight: normal;
    width: 100%;
}
.sl-title strong {
    border-bottom: 2px solid #777;
    display: inline-block;
    font-weight: normal;
    margin-right: -10px;
    padding-left: 15px;
    position: relative;
    top: 2px;
    white-space: nowrap;
    color: #555;
}
.sl-title strong .fa {
    margin-left: 5px;
    color: #777;
}
.fa-list-ul:before {
    content: "\f0ca";
}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    margin-right: -20px;
    margin-left: 10px;
}
#sorter {
    background-color: #eee;
    border-radius: 2px;
    color: #333;
    padding: 5px 10px;
    height: 38px;
    margin: 10px 0;
}
#sorter .list-inline>li.sep {
    color: #fff;
}
#sorter .fa-search{
    color: #111;
}
#sorter input, #sorter select {
    color: #111;
    font-size: 12px;
    height: 27px;
	border-radius: 3px;
	border: 1px solid #eee;
}
#sorter .btn-info {
    color: #333;
    background-color: #fff !important;
    border: 1px solid #fff !important;
    padding: 0px 8px 0px !important;
    height: 27px;
    display: inline-block;
    /* margin: 0 6px; */
    cursor: pointer;
    border-radius: 3px;
}
/* dashboard */
.dashboard ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
	-webkit-backface-visibility: hidden; backface-visibility: hidden;  
}
.dashboard .var_nav
{
	position:relative;
	background:#ccc; 
	width:300px;
	height:55px;
	margin-bottom:5px;
    border-radius: 5px;
}
@media (min-width:768px) and (max-width:1024px){
	.dashboard .var_nav {
	    width: 250px !important;
	}
}
@media screen and (max-width:520px){
	.dashboard .var_nav {
	    width: 250px !important;
	}
}
.dashboard .link_bg
{
	 width:70px;
	 height:55px;
	 position:absolute;
	 background:#7A7A7A;
	 color:#fff;
	 z-index:2;
}
.dashboard .link_bg i
{
	 position:relative;
}
.dashboard .link_title
{
	position:absolute;
	width:100%;
	z-index:3;
	color:#fff;
}
.dashboard .link_title:hover .icon
{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);  
}
.dashboard .var_nav:hover .link_bg
{
	width:100%;
	background:#7A7A7A;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;  
}
.dashboard .var_nav:hover a
{
	font-weight:bold;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out; 
	-o-transition:all .5s ease-in-out; 
	-ms-transition:all .5s ease-in-out;
	 transition:all .5s ease-in-out;  
}
.dashboard .icon
{
	position:relative;
	width:70px;
	height:55px;
	text-align:center;
	color:#fff;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out; 
	-o-transition:all .5s ease-in-out; 
	-ms-transition:all .5s ease-in-out;   
	transition:all .5s ease-in-out;   
	float:right; 
	font-size: 20px; 
}
.dashboard .icon i{top:14px;position:relative;}
.dashboard .link_title a{
	display:block;
	position:absolute;
	float:left;
	color:#000;
	text-decoration:none;
	width:100%;
	height:55px;
	text-align:center;
}
.dashboard .var_nav span
{
	margin-top:15px;
	display:block;
}
/* profile */
.profile-wrapper {
    position: relative;
	width:100%;
	margin-bottom: 20px;
}
.profile-wrapper i{
    color: #7A7A7A;
}
.profile-wrapper .btn-info {
    color: #fff;
    background-color: #7A7A7A;
	border-color: #7A7A7A;
    border-radius: 5px !important;
}
.profile-wrapper .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.profile-wrapper .profile-inner {
    background-size: cover;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    padding: 200px 0 10px;
    background-image: url('../images/contact2.jpg');
    border: 1px solid #EAEAEA;
    border-radius: 10px 10px 0px 0px;
}
.profile-wrapper .small-thumb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto -50px;
    display: block;
    border: 15px solid #fff;
}
.profile-wrapper .description {
    padding: 30px 20px 20px;
    text-align: center;
    border: 1px solid #EAEAEA;
    background-color: #fff;
}
.register-link{
	text-align: right;
    margin: 10px 50px;
}
.register-link i{
	color: #f44336;
}
@media screen and (max-width:768px){
	#content{
		width:100% !important;
	}
	#forgotPasswordForm, #loginForm, #registrationForm
    {
    	margin:50px 10px !important;
    }
}

/* basket cart */
#card {
    background: #FFF;
    PADDING: 20px;
    border-radius: 22px;
    margin-top: 30px;
    padding-top: 0;
}
.table-product {
    background: #f3f3f3;
    border-collapse: separate;
    padding: 20px 40px;
    margin-top: 40px;
	width: 100%;
}
.table-product thead {
    border-bottom: 1px solid #d0d0d0;
}
.table-product thead tr th {
    color: #989898;
    font-size: 14px;
    font-weight: normal;
	text-align: center;
}
.table-product thead tr th, .table-product tr td {
    text-align: center;
}
.table-price, .table-product {
    border-collapse: separate;
    border-spacing: 2px;
	width: 100%;
}
.table-price tr .td-2 {
    background: #eee;
	color: #e94b35;
	padding: 15px 5px;
    text-align: center;
}
a.detail-td:hover + .tooltip-chechbox {
    opacity: 1;
    visibility: visible;
}
.td-detail .tooltip-chechbox {
    bottom: 80px;
}
.tooltip-chechbox {
    background: #464646;
    color: #e2e2e2;
    padding: 20px 20px 30px;
    border-radius: 15px;
    position: absolute;
    bottom: 23px !important;
    width: 100%;
    right: 60px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    text-align: justify;
    z-index: 1;
}
.tooltip-chechbox::before {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6.5px 0 6.5px;
    border-color: #464646 transparent transparent transparent;
    position: absolute;
    content: '';
    bottom: 0;
    bottom: -6px;
    right: 43px;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
ul:not(.browser-default) li {
    list-style-type: none;
}
.table-product tbody span {
    display: block;
    margin-top: 20px;
}
.detail-td {
    color: #a4a4a4;
    font-size: 14px;
    padding-top: 10px;
}
.td-detail {
    position: relative;
}
.table-product tr td.edite a {
    color: #888888;
    font-size: 18px;
    text-align: center;
}
.table-product tr td.delete a {
    color: #ed4762;
    font-size: 18px;
}
.mbtn.green, .green.mbtn-large, .green.mini-circle {
    background-color: #00c853 !important;
	box-shadow: 0px 2px 8px 0px rgba(80, 255, 80, 0.4);
	border-radius: 25px;
	padding: 10px 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
	display: inline;
	border: none;
}
@media screen and (max-width:998px){
	.detail-td {
	    display: none;
	}
}
.delivery-icon {
    width: 30px;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #d62323;
  border-top: 1px solid #d62323;
  top: 0;
  width: 100px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.page-factor{
	border:1px solid #eee;
	border-radius:5px;
}
/* =======form========== */
@media (min-width:998px){
	.form-content{
		padding:20px 100px;
	}
}
/* =======radio========== */
/* ***************
 On-Off
*************** */
.onoff {
	margin-left: -24px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	position: relative;
	cursor: pointer;
	width: 55px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-family: yekan , 'YekanNumbers';
	border-radius: 20px;
}
.onoff label {
  position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: #d5d5d5;
	border-radius: 5px;
	font-weight: bold;
	color: #B6ABAB;
	-webkit-transition: background 0.3s, text-indent 0.3s;
	-moz-transition: background 0.3s, text-indent 0.3s;
	-o-transition: background 0.3s, text-indent 0.3s;
	transition: background 0.3s, text-indent 0.3s;
	text-indent: 27px;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
	box-shadow: 0px 0px 5px rgba(215, 213, 213, 0.4) inset;
	border-radius: 25px;
}
.onoff label:after {
	content: 'خیر';
	font-family: yekan , 'YekanNumbers';
	display: block;
	position: absolute;
	top: 0px;
	left: -6px;
	width: 105%;
	font-size: 12px;
	color: #a7a1a1;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
	z-index: 1;
	border-radius: 25px;
}
.onoff label:before {
	content: '';
	width: 24px;
	height: 24px;
	border-radius: 43px;
	background: #FFF;
	position: absolute;
	z-index: 2;
	top: 3px;
	right: 3px;
	display: block;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	-o-transition: left 0.3s;
	transition: left 0.3s;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.onoff input:checked + label {
  background:#d62323;
  text-indent: 8px;
}
.onoff input:checked + label:after {
  content: 'بله';
  color: #fff;
  font-family: yekan , 'YekanNumbers';
}
.onoff input:checked + label:before {
  right: 29px;
}
.onoff input[type="checkbox"]{
    margin: 4px 7px 0;
    height: 5px;
}
/* =======checkbox========== */
.check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    padding-right: 30px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    right: 0;
    height: 18px;
    width: 18px;
    background-color: #fff ;
    border-color:#28A745;
    border-style:solid;
    border-width:2px;
}



/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: #fff  ;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid ;
    border-color:#28A745;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form-control {
    font-size: 13px;
}
/* responsive table */
#tablesearch{
	width:100% !important;
    cursor: pointer;
}
#no-more-tables tr td, #no-more-tables tr th{
	text-align: center;
	padding: 5px 0;
}
#no-more-tables .fa-trash-alt{
	color: #7A7A7A;
}
#no-more-tables .fa-edit{
	color: #7A7A7A;
}
#no-more-tables .order-table tr td:last-child{
	cursor:pointer;
	color:#F44336;
}
#orderModal span{
	display:inline-block !important;
}

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		/* position: absolute;
		top: -9999px;
		left: -9999px; */
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		/* padding-left: 50%;  */
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
@media (min-width: 576px){
	.modal-dialog {
	    max-width: 800px;
	}
}
.print-user-title{
	display: block;
    width: 100%;
    font-weight: bold;
    text-align: center;
}
.print-user-title span{
	color: #9f4986 !important;
}
.table-factor{
	background-color: #eee;
	padding: 5px;
}
.garranty-main{
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	margin: 3px;
}
.garranty{
	background-color: #f3f3f3;
	padding: 10px;
	margin: 5px;
	text-align: center;
}
.garranty i{
	padding: 0px 0 0 30px;
	font-size: 24px;
	color: #F44336;
}
.product-detail-title{
	margin: 20px 10px;
	font-size: 18px;
}
.product-detail-price{
	font-size: 20px;
	color: #f44336;
	margin: 20px 0;
}
/* .product-detail .addtobasket button:hover, .addtobasket a:hover{
	color:#4CAF50 !important;
}
.product-detail .addtobasket button, .addtobasket a{
	padding: 15px;
	font-size: 15px;
	background-color: #4CAF50;
	color:#fff !important;
} */
.order-detailes{
	line-height: 2;
}
.card{
	display:block !important;
}
.btn-services .cd-add-to-cart{
	position:relative !important;
}
.all-price-list h4{
	margin:50px auto;
    color: #e94b35;
    font-size: 18px;
}
/* faq accordion */
#faq-accordion .panel-group {
  margin-bottom: 0;
}
#faq-accordion .panel-group .panel {
  border-radius: 0;
  box-shadow: none;
}
#faq-accordion .panel-group .panel .panel-heading {
  padding: 0;
}
#faq-accordion .panel-group .panel .panel-heading h4 a {
  background: #f8f8f8;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  transition: 0.15s all ease-in-out;
	border: 1px solid #eee;
}
#faq-accordion .panel-group .panel .panel-heading h4 a:hover, #faq-accordion .panel-group .panel .panel-heading h4 a:not(.collapsed) {
  background: #eee;
  transition: 0.15s all ease-in-out;
  border-bottom: 1px solid #ddd;
}
#faq-accordion .panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
  content: "";
}
#faq-accordion .panel-group .panel .panel-heading h4 a i {
  color: #999;
	float: left;
}
#faq-accordion .panel-group .panel .panel-body {
  padding-top: 0;
}
#faq-accordion .panel-group .panel .panel-heading + .panel-collapse > .list-group,
#faq-accordion .panel-group .panel .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}
#faq-accordion .panel-group .panel + .panel {
  border-top: none;
  margin-top: 0;
}
#faq-accordion .content {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
  padding: 30px;
}
#collapseOne .table {
    text-align: center !important;
}
.panel-title {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
}
