body{
    font-family: Arial;
}
.info_box {
    float: right;
}
.tel_code {
    font-family: arial;
}
.tel_num {
    font-family: arial;
    font-size: 50px;
}
#cssmenu > ul > li{float:left}
#cssmenu > ul > li.has-sub > a{padding-right:30px;padding-left: 0px;}
#cssmenu > ul > li.has-sub > a:after{right:11px;left: auto;}
#cssmenu > ul > li.has-sub > a:before{right:14px;left: auto;}
#cssmenu ul ul{position:absolute;left:-9999px;right: auto;z-index: 9999 !important;}
#cssmenu li:hover > ul{left:auto}
#cssmenu ul ul ul{margin-left:76%;}
#cssmenu ul ul li.has-sub > a:after{right:11px;left: auto;}
#cssmenu ul ul li.has-sub > a:before{right:14px;left: auto;}
#cssmenu ul ul ul li.active a{border-right:1px solid #333;border-left: none;}

@media screen and (max-width:767px){
    #cssmenu ul ul li a{padding-left:25px;padding-right: 0px;}
    #cssmenu ul ul ul li a{padding-left:35px;padding-right: 0px;}
    #cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;right:auto;width:100%;margin:0;text-align:left;}
    .button{width:55px;height:46px;position:absolute;left:0;right: auto;top:4px;cursor:pointer;z-index: 12399994;}

    .button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
    .button.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
    #cssmenu .submenu-button{position: absolute;
		z-index: 99;
		right: 0;
		left: auto;
		top: 0;
		display: block;
		border-left: 1px solid #285686;
		border-right: none;
		height: 41px;
		width: 46px;
		cursor: pointer;}
    #cssmenu .submenu-button.submenu-opened{background:#1f4c7b}
    #cssmenu ul ul .submenu-button{height:34px;width:34px}
    #cssmenu .submenu-button:after{position:absolute;top:22px;left:19px;right: auto;width:8px;height:2px;display:block;background:#fff;content:''}
    #cssmenu ul ul .submenu-button:after{top:15px;left:13px;right: auto;}
    #cssmenu .submenu-button.submenu-opened:after{background:#fff}
    #cssmenu .submenu-button:before{position:absolute;top:19px;left:22px;right: auto;display:block;width:2px;height:8px;background:#fff;content:''}
    #cssmenu ul ul .submenu-button:before{top:12px;left:16px;right: auto;}
    #cssmenu .submenu-button.submenu-opened:before{display:none}
    #cssmenu ul ul ul li.active a{border-left:none}
    #cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
    #cssmenu > ul > li > a {
        padding: 13px 9px !important;
    }

}
#myTabContent .pull-right{
    float: left !important;
    text-align: left;
    direction: ltr;
}
#header .top-header .logo {
    float: left !important;
}
#header .top-header .info {
    text-align: right;
}
#cssmenu > ul > li a:after {
    left: -1px;
}
.breadcrumb > li:first-child {
    border-radius: 30px 0px 0px 0px;
    padding: 5px 25px;
}
.panel-title {
    text-align: left;
}
.accordion-toggle::after {
    float: left;
    padding-right: 5px;
}
.box-title h2.title:before, .box-title2 h2.title:before {
    left: 0;
    top: 49%;
}
.box-title h2.title, .box-title2 h2.title {
    padding-right: 15px;
    padding-left: 25px;
}
.title .pull-left {
    float: right!important;
}
.footer-link .text-right {
    text-align: left;
}
#section-footer .sitedesigner {
    float: right !important;
    text-align: right;
}
.archive-news .title {
    border-left: 3px solid #12a0f8;
	border-right:none;
}
#section-contact .title {
    padding: 0px 0 !important;
}
.carousel-control.left {
    right: auto !important;
    left: 0 !important;
}
.carousel-control .icon-next:before {
    content: '\203a' !important;
}
@media screen and (min-width: 768px){
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	    left: 6%;
	}
	.glyphicon-chevron-right, .carousel-control .icon-next {
	    margin-right: 47px;
	    background-color: rgba(0,0,0,0.9);
	    right: -27%;
	    left: unset;
	}
}
.carousel-control.right {
    right: 0 !important;
    left: auto !important;
}
.dl-horizontal dt {
    text-align: left !important;
}

#main-news .news-intro{
    direction: ltr;
}
.tab-links {
    float: left;
}
.side-tabs [data-tab] {
    border-right: none;
    border-left: 1px solid #ddd;
}
.side-tabs .pull-left {
    float:right !important;
}
.tab-links a {
    text-align: left;
}
.tab-content .fa-arrow-left::before {
    content: "\f061";
}
.news-link {
    direction: rtl;
}
.news-text .pull-right{
	float:left !important;
	text-align: left;
}
.news-text .pull-left{
	float:right !important;
	text-align: right;
}
.single_content_main .pull-right{
	float:left !important;
}
/* Hotco css ltr */
#amazingslider-wrapper-1 .slider-fix-caption {
    font-size: 24px !important;
}
@media screen and (max-width:557px){
	#amazingslider-wrapper-1 .slider-fix-caption {
	    font-size: 9px !important;
	}
}
.services .services-title {
    text-align: left !important;
    font-weight: bold;
    font-size: 15px;
}
.services .services-text {
    direction: ltr;
}
.services-button{
    text-align: right;
    direction: rtl;
}
#about-customer ul li {
    text-align: left;
   /*  margin-left: 50px; */
}
.box-title h2.title, .box-title2 h2.title {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}
#about-customer {
    text-align: left;
}
.box-title:after, .box-title2:after {
    right: 0;
}
#about-customer .about-button {
    float: right;
}
#owl-demo3 .owl-buttons {
    right: 0;
}
.text-right {
    text-align: left!important;
}
#amazingslider-wrapper-1 .slider-fix-caption div{
	text-align: right;
}
.btnnn .fa-chevron-left::before {
    content: "\f054";
}
@media screen and (max-width:557px){
	.p-4{
		padding: 2rem 0 !important;
	}
	#owl-demo3 .owl-buttons {
	    right: 60px;
	}
}
@media screen and (max-width:998px){
	#cssmenu > ul > li {
	    float: none !important;
	}
	#services .owl-buttons .owl-next {
	    margin-right: -10px;
	}
}
