@font-face {
    font-family: 'yekan';
    src: url('../fonts/BYekan/Yekan.eot');
    src: url('../fonts/BYekan/Yekan.eot#iefix') format('embedded-opentype'),
    url('../fonts/BYekan/Yekan.woff') format('woff'),
    url('../fonts/BYekan/Yekan.ttf') format('truetype'),
    url('../fonts/BYekan/Yekan.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YekanNumbers';
    src: url("../fonts/YekanNumbers-Regular.eot");
    src: url("../fonts/YekanNumbers-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanNumbers-Regular.woff") format("woff"), url("../fonts/YekanNumbers-Regular.ttf") format("truetype"), url("../fonts/YekanNumbers-Regular.svg#YekanNumbers-Regular") format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility
}
/*
@font-face {
    font-family: 'BYagut';
    src: url('../fonts/persian/BYagut.eot?#') format('eot'),
    url('../fonts/persian/BYagut.woff') format('woff'),
    url('../fonts/persian/BYagut.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}*/

/*========================== general======================================== */
body{
    font-family: yekan , 'YekanNumbers';
    background: #fff;
}
a, a:hover, a:focus {
	text-decoration: none;
	-webkit-transition:color .6s ease;-o-transition:color .6s ease;
	transition:color .6s ease;
	outline:0 !important;
}
.ltr{
	direction: ltr;
}
.floatleft{
	float: left;
}
.low-padding{
	padding-right:7px !important;
	padding-left:7px !important;
}
.no-padding{
	padding-right:0px !important;
	padding-left:0px !important;
}
.no-margin{
	margin-right:0px !important;
	margin-left:0px !important;
}
.low-margin{
    margin-right: -35px !important;
    margin-left: -35px !important;
}
.input-block{
    margin-top: 20px;
}
.input-block label{
    color: #2D4761;
}
.form-control {
    border: 1px solid #a5a5a5;
    border-radius: 2px;
}
.top_header{
   border-bottom: 1px solid #CFCFCF;
}
.b468dar60{
	width:468px;
	height:60px;
}
.b125dar125{
	width:125px;
	height:125px;
}
.b125dar250{
	width:125px;
	height:250px;
}
/*========================== header======================================== */
/*=====================social-phone========================*/
#header .top-header{
	background-color: #D65050;
	padding:10px 0 2px;
}
#header .top-header i{
	color:#fff;
	font-size:16px;
	padding-left:5px
}
#header .top-header .social ul li, #header .top-header .phone p{
	display:inline-block;
	color:#fff;
}
#header .top-header .phone{
	display:inline-block;
	color:#fff;
	text-align: left;
}
/*=====================menu========================*/
#header .top-menu .company-logo img{
	width:100%;
}
/*=====================slideshow========================*/
#myCarousel.carousel {
    height: 50%;
}

#myCarousel.carousel .item,
#myCarousel.carousel .item.active,
#myCarousel.carousel .carousel-inner {
    height: 100%;
}
.logo_col p{
	display: table;
	margin: 0 auto;
}
#myCarousel.carousel .fill {
    width: 100%;
    height: 650px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.carousel-control {
    background-image: none !important;
}
.carousel-caption {
    right: 0%;
    bottom: 0;
    left: 0%;
    width: 100%;
    padding-bottom: 10px;
}
.carousel-caption p{
	font-size:18px;
}
.carousel-control.right {
    left: 0 !important;
    right: auto !important;
}
.carousel-control.left {
    left: auto !important;
    right: 0 !important;
}

/*========================== shabdiz-services======================================= */
#section-services
{
}
#section-services .services-title a
{
	color:#333;
	margin:5px 0px;
	font-weight:bold;
}
#section-services .services-title a:hover
{
	color:#ee1a26;
}
#section-services .services-intro
{
	text-align:justify;
	line-height:2;
	color:#333;
	margin:5px;
}
.services-button a {
  color: #333;
  text-decoration: none;
  transition: 0.3s all ease;
}
.services-button a:hover {
  color: #B15947;
}
.services-button a:focus {
  text-decoration: none;
}
.services-button a:active {
  color: #FFF;
}

.services-button .flex {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-button .bttn {
  width: 70px;
  height: 70px;
  line-height: 73px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  color:#fff;
}
.services-button:hover .bttn {
  color:#ee1a26;
}
.services-button .bttn:after {
  transition: 0.3s all ease;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  border: 3px solid #ee1a26;
}
.services-button .bttn:before {
  content: '';
  position: absolute;
  border-radius: 3px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #333 !important;
  z-index: -1;
}
.services-button .bttn:hover:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.services-button .bttn:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.services-button .bttn:active:before {
  background-color: #f1481b;
}
.services-button .bttn:active:after {
  border-color: #f1481b;
}
/* about section */
.trapezoid {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 250px;
    height: 0px;
    border: 50px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 400px solid rgba(238,26,38,0.5);
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    transform: rotate(45dg);
    -webkit-transform: rotate(45deg);
    transform: rotate(-90deg);
}
.trapezoid2 {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 250px;
    height: 0px;
    border: 50px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 400px solid rgba(255,255,255,0.5);
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    transform: rotate(45dg);
    -webkit-transform: rotate(45deg);
    transform: rotate(90deg);
}
/* ================ About Section ================ */
#section-about {
	position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/sefaresh-back.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
	color:#fff;
}

.container.about {
	padding-top: 60px;
	padding-bottom: 60px;
}

.about .section-title h3 {
	color:#fff;
	font-size:18px;
}


#section-about .about-text
{
	text-align:justify;
	margin:0px auto;
}
#section-about .about-owl
{
	transform: rotate(90deg);
	z-index:9999;

}
.about-gif img {
    border-radius: 50%;
    width: 325px;
    height: 300px;
}
/* about product */

.roundHex {
  position: relative;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	height: 110px;
	width: 76px;
	transition: all 1s;
	line-height: 2;
	text-align: center;
	color: white;
	font-size: 15px;
	padding: 30px 0px;
}
.roundHex:before,
.roundHex:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  z-index:-1;
}
.roundHex:before {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
  transition: all 1s 0.5s;
}
.roundHex:after {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  transform: rotate(-60deg);
  transition: all 1s 1s;
}
.roundHex:hover {
  background: #000;
}
.owl-theme .owl-controls .owl-buttons div {
    color: #fcf8e3 !important;
    display: inline-block;
    zoom: 1;
    margin: 5px;
   padding: 8px 10px 6px !important;
	font-size: 12px;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
    background: #EE1A26 !important;
    filter: Alpha(Opacity=50);
    opacity: 1 !important;
}
/*about botton */
.contain {
  padding: 30px 10px;
}

.btnnn {
  text-decoration: none;
  color: #000;
  font-style: italic;
  position: relative;
  display: block;
  padding: .375em;
  border: 1px solid #000;
  background: transparent;
  overflow: hidden;
  text-decoration: none;
  width: 16.875em;
  max-width: 16.875em;
  margin: 0 auto 1.5em;
}
.btnnn:hover
{
	color: #ee1a26 !important;
}
.btnnn:last-of-type {
  margin-bottom: 0;
}
.btnnn span {
  display: block;
	border: 1px solid #000;
	background: white;
	font-size: 13px;
	text-align: center;
	padding: 5px;
}
.btnnn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ee1a26;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}
.btnnn:hover::before {
  background: #ee1a26;
}
.btnnn.slide::before {
  background: #ee1a26;
  -webkit-transform: translateX(-112%) skew(-45deg);
          transform: translateX(-112%) skew(-45deg);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.btnnn.slide:hover::before {
  -webkit-transform: translateX(0) skew(0);
          transform: translateX(0) skew(0);
}
.btnnn.slide_v::before {
  background: #ee1a26;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.btnnn.slide_v:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.btnnn.fill::before {
  background: #ee1a26;
  border-radius: 50%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.btnnn.fill:hover::before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.about-product-text{
	text-align:justify;
	direction:rtl;
}
/*========================== services======================================= */
.services_box{
    width: 279px;
    height: 200px;
    margin-top: -129px;
    border-radius: 12px;
    position: relative;
    padding: .25em 1.5em 1em 1.5em;
    text-align: center;
    background-image: url(../images/icon/box.png);
    background-repeat: no-repeat;
}
.services_box p{
    margin-top: 85px;
    font-size: 23px;
    color: #065381;
}
.pic {
	 position: absolute;
top: -5.3em;
left: calc(50% - 4.3em);
      margin: 20px auto 0 auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height:120px;
    width:120px;
    float: none;
    background-color: #03517F;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #03517F), color-stop(50%, #03517F), color-stop(51%, #107fc9), color-stop(100%, #107fc9));
    background: -webkit-linear-gradient(top, #03517F 0, #03517F 50%, #107fc9 51%, #107fc9 100%);
    background: -moz-linear-gradient(top, #03517F 0, #03517F 50%, #107fc9 51%, #107fc9 100%);
    background: -ms-linear-gradient(top, #03517F 0, #03517F 50%, #107fc9 51%, #107fc9 100%);
    background: -o-linear-gradient(top, #03517F 0, #03517F 50%, #107fc9 51%, #107fc9 100%);
    background: linear-gradient(top, #03517F 0, #03517F 50%, #107fc9 51%, #107fc9 100%);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.services_box:hover .pic {
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    transform: rotate(140deg);
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s; 
}
.pic img{
    line-height: 67px;
    text-align: center;
    background: none;
    height: auto;
    width: auto;
    margin: auto;
    float: left;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
	position: absolute;
	top: 23px;
	left: 10px;
}
.services_box:hover .pic img{
color: #fff;
	position: absolute;
	top: 23px;
	left: 10px;
    -webkit-transform: rotate(-140deg);
    -moz-transform: rotate(-140deg);
    -ms-transform: rotate(-140deg);
    -o-transform: rotate(-140deg);
    transform: rotate(-140deg);
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.circle {
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: 6.5em;
  height: 2.1em;
  top: -2.1em;
  left: calc(50% - 3.25em);
  overflow: hidden;
}
div.wrap{
   text-align:center;
}
div.wrap img {
    height: 110px;
    width: 110px;
    border-radius: 50%; 
    margin: auto;
    margin: 5px;
    padding: 10px;
    border: 5px solid rgba(255, 255, 255, .5);
	margin-top:-70px;
}
/* circle effect */
.spinner {
	width: 135px !important;
    height: 135px !important;
    position: absolute;
    top: -5em;
    left: calc(50% - 4.4em);
    background-color: transparent;
    border: 1px solid #111 !important;
    border-right-color: #337ab7 !important;
    border-bottom-color: #bbb !important;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
/*========================== sample======================================== */
#section-sample .gallery_product{
	text-align: center;
}
#section-sample .gallery_product .item-desc{
	margin: 20px 0 10px;
}
.filter-button
{
    font-size: 13px;
    border: 1px solid #D65050;
    border-radius: 2px;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
	box-shadow: none !important;
    margin-left: 5px;
}
.filter-button:hover
{
    font-size: 13px;
    border: 1px solid #D65050;
    border-radius: 2px;
    text-align: center;
    color: #ffffff;
    background-color: #D65050;
	box-shadow: none !important;
}
.filter-button.active
{
    background-color: #D65050;
	box-shadow: none !important;
    color: white;
	outline: 0;
	border-radius: 3px;
}
/*sample- internal sample page*/
/*****************************Project Details**************************/
/*prodetail_part1*/
.prodetail_part1{
	padding: 0 0 60px;
	background-color: rgb(255, 255, 255);
	margin: 0px 0px 30px;
	border-radius: 5px;
}
/*info part*/
.prodetail_part1 .part1{
	float:right;
	width:47%; height:460px;
	padding: 23px 0;
}
.prodetail_part1 .part1 .info_part {
	position: relative;
	display: block;
	height: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 6px #ccc;
}
.prodetail_part1 .part1 .info_part .btn_style5 {
	color: #1baae6;
	margin: 15px 29px 0 0;
	padding: 0 20px;
}
.prodetail_part1 .part1 .info_part .btn_style5:hover {color: #ff4900;}
.prodetail_part1 .part1 .info_part .btn_style5 .bg-tall,
.prodetail_part1 .part1 .info_part .btn_style5 .bg-large {
	border: 1px solid rgba(112, 215, 249, 0.54);
}
.prodetail_part1 .part1 .info_part .btn_style5 .bg-large .line-bottom-left::after, 
.prodetail_part1 .part1 .info_part .btn_style5 .bg-large .line-bottom-left::before, 
.prodetail_part1 .part1 .info_part .btn_style5 .bg-large .line-top-right::after, 
.prodetail_part1 .part1 .info_part .btn_style5 .bg-large .line-top-right::before,
.prodetail_part1 .part1 .info_part .btn_style5 .bg-tall .line-bottom-left::after, 
.prodetail_part1 .part1 .info_part .btn_style5 .bg-tall .line-bottom-left::before, 
.prodetail_part1 .part1 .info_part .btn_style5 .bg-tall .line-top-right::after, 
.prodetail_part1 .part1 .info_part .btn_style5 .bg-tall .line-top-right::before {
	background-color: #ff4900;
}
.prodetail_part1 .part1 .info_part .title_part .name {
	background-color: #353535;
	color: #fff;
	line-height: 47px;
	position: relative;
	padding: 0 15px;
	width: 75%;
	text-align: left;
	height: 50px;
	font-size: 1.3rem;
}
.prodetail_part1 .part1 .info_part .title_part .name::before {
	content: '';
	position: absolute;
	left: -30px;
	top: 0;
	bottom: 0;
	border-right: solid 30px #353535;
	border-bottom: solid 50px transparent;
}
.prodetail_part1 .part1 .info_part .title_part .name .key{ font-size:1.1rem; color:#888;}
.prodetail_part1 .part1 .info_part .logo_pic {
	position: absolute;
	top: 3px;
	left: 0;
	width: 25%;
	height: 51px;
	background-repeat: no-repeat;
	background-size: auto 70%;
	background-position: center center;
}
.prodetail_part1 .part1 .info_part .info_list{
	display:block;
	padding:23px 25px 0;
}
.prodetail_part1 .part1 .info_part .info_list .item {
	position: relative;
	padding-right: 52px;
	min-height: 37px;
	margin-bottom: 7px;
}
.prodetail_part1 .part1 .info_part .info_list .item .icon {
	position: absolute;
	background-color: #eee;
	top: 0;
	right: 0;
	bottom: 0;
	width: 38px;
	line-height: 42px;
	font-size: 1.5rem;
	text-align: center;
	color: #4AC5F8;
	border-radius: 0px;
}
.prodetail_part1 .part1 .info_part .info_list .item .icon::after {
	content: '';
	position: absolute;
	left: -5px;
	top: 50%;
	width: 12px;
	height: 12px;
	background-color: #eee;
	margin-top: -6.5px;
	border-radius: 4px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.prodetail_part1 .part1 .info_part .info_list .item .name {
	color: #888;
	font-size: 1rem;
	margin-left: 2px;
	display: inline-block;
	line-height: 36px;
}
.prodetail_part1 .part1 .info_part .info_list .item .val {
	color: #0681C4;
	font-size: 1.05rem;
	display: inline-block;
	line-height: 35px;
}
.prodetail_part1 .part1 .info_part .info_list .item .val i {
	position: relative;
	bottom: -3px;
	left: -6px;
	font-size: 1.4rem;
}
.prodetail_part1 .part1 .info_part .info_list .item .val.link:hover{color:#4AC5F8;}
.prodetail_part1 .part1 .info_part .info_list .item .val.en_words{
	font-size:1.3rem;
	font-weight:bold;
	color: #ff4900;
	position:relative;
}
.prodetail_part1 .part1 .info_part .info_list .item .val.en_words:after{
	position:absolute;
	bottom:5px; right:0; left:0;
	content:'';
	border-bottom:dotted 1px #ff4900;
}
.prodetail_part1 .part1 .info_part .info_list .item .val.en_words:hover:after{border-bottom-color:#4AC5F8;}
.prodetail_part1 .part1 .info_part .circle_part {
	position: absolute;
	left: 10px;
	bottom: 5px;
	width: 200px;
	height: 150px;
}
.prodetail_part1 .part1 .info_part .circle_part .bg {
	background: url(../images/circle_bg.png) no-repeat center center / contain;
	opacity: .3;
	transform: rotate(180deg);
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
}
.prodetail_part1 .part1 .info_part .circle_part .logo {
	filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: gray;
	opacity: .3;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 127px;
	height: 127px;
	background-size: auto 40%;
	background-position: center center;
	background-repeat: no-repeat;
}
.prodetail_part1 .part1 .description
{
	text-align: justify;
	margin:20px;
	
}
.prodetail_part1 .part1 .item
{
	padding: 0px 35px 25px;
	text-align: justify;
}
.prodetail_part1 .part1 .title
{
	color:#EE1A26;
}
.prodetail_part1 .part1 .text
{
	color:#333;
}

.prodetail_part1 .part1 .info_part .progress {
	width: 35px;
	height: 35px;
	position: absolute;
	right: 19px;
	top: 50%;
	margin-top: -19px;
}
.prodetail_part1 .part1 .info_part .progress strong {
	font-size: 1em;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	text-align: center;
	line-height: 36px;
	color: #555;
}
/*pic part*/
.prodetail_part1 .part2 .pic_part{
	background-color: #fff;
	border-radius: 3px;
	/* box-shadow: 0 3px 5px 0 #b3b3b3; */
	float: left;
	width: 53%;
	position:relative;
	z-index:2;
}
.prodetail_part1 .part2 .pic_part .list_pic{
	float: right;
	padding: 0 2.5%;
	width: 65%;
	display:none;
}
.prodetail_part1 .part2 .pic_part .list_pic.desktop{
	display:block;
}
.prodetail_part1 .part2 .pic_part .list_pic ul li{
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto !important;
	border: 1px solid #eee;
	cursor: pointer;
	display: inline-block;
	float: right;
	height: 60px;
	list-style-type: none;
	margin: 0 1% 20px;
	overflow: hidden;
	padding: 5px;
	position: relative;
	transition: all 0.2s ease 0s;
	width: 23%;
	transition:all .2s ease;
	-o-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-webkit-transition:all .2s ease;
}
.prodetail_part1 .part2 .pic_part .list_pic ul li:hover{
	border-color:#8c9ae0;
}
.prodetail_part1 .part2 .pic_part .list_pic ul li img,
.prodetail_part1 .part2 .pic_part .main_pic img{
	height: auto;
	width: 100%;
	transition:all 10s ease;
	-o-transition:all 10s ease;
	-moz-transition:all 10s ease;
	-webkit-transition:all 10s ease;
}
.prodetail_part1 .part2 .pic_part .main_pic{
	border-radius: 10px;
	height: 347px;
	margin: 10px auto 20px;
	padding: 4.2% 4.85% 13%;
	text-align: center;
    display:block;
    overflow:hidden;
    transition:none;
}
.prodetail_part1 .part2 .pic_part .main_pic .label_style1{bottom: 145px;}
.prodetail_part1 .part2 .pic_part .main_pic.desktop{
	background: rgba(0, 0, 0, 0) url("../images/desktop.png") no-repeat scroll center center / 96% 93%;
}
.prodetail_part1 .part2 .pic_part .main_pic.tablet{
	width:50%;
	padding:5.5% 4.8% 6%;
	background: rgba(0, 0, 0, 0) url("../images/tablet.png") no-repeat scroll center center / 96% 93%;
}
.prodetail_part1 .part2 .pic_part .main_pic.mobile{
	background: rgba(0, 0, 0, 0) url("../images/mobile.png") no-repeat scroll center center / 96% 93%;
	width:34%;
	padding:7.8% 3.2% 9% 2.96%;
}
.prodetail_part1 .part2 .pic_part .main_pic > div{
	float: right;
	height: 100%;
	overflow: hidden;
	width: 100%;
}
.prodetail_part1 .part2 .pic_part .response_act{
	float: left;
	padding-left: 2%;
	width: 30%;
}
.prodetail_part1 .part2 .pic_part .response_act li{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	float: left;
	height: 30px;
	list-style: outside none none;
	margin: 11px 4% 0;
	opacity: 0.5;
	width: 25%;
	position:relative;
	transition:all .1s ease;
	-o-transition:all .1s ease;
	-moz-transition:all .1s ease;
	-webkit-transition:all .1s ease;
}
.prodetail_part1 .part2 .pic_part .response_act li:last-child{margin-left:0;}
.prodetail_part1 .part2 .pic_part .response_act li:after{
	border: 1px solid #aaa;
	bottom: -12px;
	content: "";
	height: 2px;
	left: 18%;right: 18%;
	position: absolute;
}
.prodetail_part1 .part2 .pic_part .response_act li:hover,
.prodetail_part1 .part2 .pic_part .response_act li.active{
	opacity:1;
}
.prodetail_part1 .part2 .pic_part .response_act li.active:after{
	background-color: #5c6ad2;
	border: medium none;
	height: 3px;
}
.prodetail_part1 .part2 .pic_part .response_act .desktop{
	background-image:url(../images/desktop.png);
}
.prodetail_part1 .part2 .pic_part .response_act .tablet{
	background-image:url(../images/tablet.png);
}
.prodetail_part1 .part2 .pic_part .response_act .mobile{
	background-image:url(../images/mobile.png);
}
/*prodetail_part2*/
.prodetail_part2{margin-bottom:60px;}
.prodetail_part2 .rightside {
	float: right;
	width: 46%;height: 300px;
	padding:50px 50px 30px 0;
	margin-right: 3.2%;
	position:relative;
	background-color: #FF4900;
}
.prodetail_part2 .rightside::before {
	content: '';
	position: absolute;
	top: 50%;left: -9px;
	margin-top: -15px;
	border-right: solid 10px #FF4900;
	border-top: solid 15px transparent;
	border-bottom: solid 15px transparent;
}
.prodetail_part2 .rightside .text {
	float: right;
	text-align: justify;
	width: 50%;
	font-size: 1.15rem;
	color: rgba(255,255,255,.9);
	line-height: 26px;
}
.prodetail_part2 .leftside {
	float: left;
	margin-left: 3.2%;
	position:relative;
	background-color: #353535;
	width: 46%;height: 300px;
	padding:50px 0 30px 50px;
}
.prodetail_part2 .leftside .text {
	float: left;
	text-align: justify;
	width: 50%;
	font-size: 1.15rem;
	color:#ccc;
	line-height: 26px;
}
.prodetail_part2 .leftside::before {
	content: '';
	position: absolute;
	top: 50%;
	right: -9px;
	margin-top: -15px;
	border-left: solid 10px #353535;
	border-top: solid 15px transparent;
	border-bottom: solid 15px transparent;
}
.quote_style1 {
	position: absolute;
	width: 180px;height: 175px;
	left: 10px;bottom: 10px;
	color:#FF4900;
	text-align:center;
	padding: 33px 27px;
	background: url(../images/quote3.png) no-repeat center center / contain;
}
.quote_style1 .title,
.quote_style2 .title {
	display: block;
	line-height: 35px;
	font-size: 1.2rem;
	color:#e33a0d;
	font-weight: bold;
}
.quote_style1 .subtitle,
.quote_style2 .subtitle {
	display: block;
	line-height: 17px;
	font-size: 0.9rem;
}
.quote_style2 {
	position: absolute;
	width: 180px;height: 200px;
	right: 10px;bottom: 10px;
	color: #999;
	text-align: center;
	padding: 37px 27px;
	background: url(../images/quote2.png) no-repeat center center / contain;
}
.quote_style2 .title {
	color:#777;
}
/*prodetail_part3*/
#sample .services-design
{
	text-align:justify;
	padding:40px;
}
.prodetail_part3{margin-bottom:50px; overflow:hidden;}
.prodetail_part3 .rightside {
	float:right;
	width:50%; min-height:400px;
	position:relative;
	padding:30px;
	background-color:#f5f5f5;
}
.prodetail_part3 .rightside .content{
	position:relative;
}
.prodetail_part3 .rightside:before{
	content:'';
	position:absolute;
	top:0; left:-50%; bottom:-100%; right:-100%;
	background-color:#eee;
}
.prodetail_part3 .rightside .content .text{
	line-height:23px;
	color:#666;
    height: 155px;
    overflow: hidden;
	font-size:1.05rem;
	margin-bottom:35px;
	text-align:justify;
}
.prodetail_part3 .rightside .list .item{
	float:right;
	width:50%;
	position:relative;
	margin-bottom:10px;
	padding:0 18px;
	line-height:30px;
	color:#333;
	font-size:1rem;
}
.prodetail_part3 .rightside .list .item:before{
	content:'';
	position:absolute;
	right:0; top:0;
	font-size:1.5rem;
	color:#FF4900;
	line-height:25px;
	font-family:'ifont';
	width:10px; height:100%;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.prodetail_part3 .rightside .list .title_style7{
	font-size:1.4rem;
	margin-bottom:30px;
}
.prodetail_part3 .rightside .list .title_style7:before,
.prodetail_part3 .rightside .list .title_style7:after{background-color:#F6A68A;}

.prodetail_part3 .leftside {
	float: left;
	width: 50%;
	min-height: 400px;
	position: relative;
	padding: 30px 40px 30px 30px;
	background-color: #42B8D4;
	-webkit-transform: skew(18deg);
	-moz-transform: skew(18deg);
	-o-transform: skew(18deg);
	transform: skew(18deg);
}
.prodetail_part3 .leftside::before {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: -100%;
	left: -100%;
	background-color: #42B8D4;
}
.prodetail_part3 .leftside .title_style7,
.prodetail_part3 .leftside .content .step1 .icon,
.prodetail_part3 .leftside .content .step1 .text{
	-webkit-transform: skew(-18deg);
	-moz-transform: skew(-18deg);
	-o-transform: skew(-18deg);
	transform: skew(-18deg);
}
.prodetail_part3 .leftside .line{
	-webkit-transform: skew(0deg);
	-moz-transform: skew(0deg);
	-o-transform: skew(0deg);
	transform: skew(0deg);
}
.prodetail_part3 .leftside .line {
	width: 2px;
	position: absolute;
	top: 130px;
	bottom:109px;
	right: 40px;
	background-color: #fff;
}
.prodetail_part3 .leftside .title_style7{color:#fff;}
.prodetail_part3 .leftside .title_style7:before,
.prodetail_part3 .leftside .title_style7:after{background-color:#fff;}
.prodetail_part3 .leftside .content{
	color:#fff;
	font-size:1rem;
	line-height:23px;
}
.prodetail_part3 .leftside .content .step1 .item{
	height:110px;
	position:relative;
	margin-top:-10px;
	padding-right:70px;
}
.prodetail_part3 .leftside .content .step1 .big_icon{ padding-right:85px;}
.prodetail_part3 .leftside .content .step1 .item::before {
	content: '';
	width: 25px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	right: 0;top: 27%;
}
.prodetail_part3 .leftside .content .step1 .icon {
	width: 30px;
	height: 50px;
	position: absolute;
	right: 30px;
	top: 8%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(../images/play.png);
}
.prodetail_part3 .leftside .content .step1 .big_icon .icon {
	width: 44px;
	top: 6%;
}
.prodetail_part3 .leftside .content .step1 .text{
	position:relative;
	top:20px;
}
.prodetail_part3 .leftside .content .step1 .name{ 
	font-weight:bold; 
	font-size:1.5rem; 
	display:inline-block; 
	margin-left:5px;
}
/*prodetail_part4*/
.prodetail_part4{margin-bottom:50px;}
/* folded paper */
.note {
    position: relative;
	width: 480px;
	padding: 1em 1.5em;
	margin: 2em auto;
	color: #fff;
	background: #d65050;
	overflow: hidden;
	border-radius: 5px 0px;
}
.note.blue {
    background: #53A3B4;
}
.note.taupe::before {
    border-color: #fff #fff #BDBB8B #BDBB8B;
    background: #BDBB8B;
}
.note::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width:0 35px 30px 0;
    border-style: solid;
    border-color: #fff #fff #658E15 #658E15;
    background: #658E15;
    display: block;
    width: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}
.note {
    color: #fff;
}
/*========================== gallery======================================== */
#blog{
	background-color: #eee;
}
#blog  a{
	color:#D65050;
}
#gallery .carousel-control.right {
    left: 0 !important;
	right: auto !important;
	top: -27px;
}
#gallery .carousel-control.left {
    left: -20px !important;
	right: auto !important;
	top: -27px;
}
#gallery img {
    width:100%;
	height:100px;
	object-fit:cover;
}
.fancybox-lock .fancybox-overlay {
    z-index: 9999;
}
#gallery .carousel-control {
    color: #d6504f;
    opacity: 1;
}
/*========================== blog======================================== */
#blog .news ul li
{
	padding: 10px 0;							
}
#blog .news ul li:not(:last-child)
{
	border-bottom: 3px solid #eee;
}
#blog .news .row .news-text
{
	line-height: 1.4;
	overflow: hidden;
	color: #757575;
	text-align: justify;
	padding: 30px 0;
}
#-blog .news .row .news-intro
{
	height:40px;
}
#blog .news .row .news-intro p
{
	display:inline-block;
}
#blog .news .row .news-detail
{
	color:#a3a3a3;
	margin:20px 0;
}
#blog .news .row .news-detail span
{
	margin-left:10px;
}
#blog .news ul
{
	list-style:none;
}
#banner-news-adver .news ul li
{
    margin: 7px 0; 
}
#blog .news ul li a
{
    color:#333;
    text-overflow: ellipsis;
}
#blog .news ul li a:hover
{
    color:#D71B1B;
}
#blog .news img
{
	width:100%;
    object-fit: cover;
    object-position: top left;
}
#blog .news img
{
    height: 260px;
}

#blog{
	margin:20px 0;
}
@media (min-width:992px){
	#blog .main-content{
	    width: 70%;
	}
}
.main-post-detailes{
	margin:20px 0 10px;
	color:#7e7e7e;
}
@media screen and (max-width:768px){
	.main-post-detailes .pull-left{
		margin-top:20px;
	}
}
.main-post-detailes i{
	padding-left:5px;
}
.main-post-detailes a{
	color:#7e7e7e;
}
.main-post-detailes .post-sharing, .main-post-detailes .fa-share-alt{
	color:#333;
}
.news-post-intro{
	margin: 20px 0;
	color: #837f7f;
	text-align: justify;
	line-height: 2;
}
.news-post-content{
	margin: 20px 0;
	color: #333;
	text-align: justify;
	line-height: 2;
}
.news-post-tag{
	margin:20px 0;
}
.news-post-tag span{
	background-color:#d65050;
	color: #fff;
	padding: 0px 7px;
	border-radius: 3px;
	margin-left: 10px;
}
.news-post-tag ul{
	display:inline-block;
}
.news-post-tag ul li{
	background-color: #b7b7b7;
	color: #fff;
	padding: 5px 7px;
	border-radius: 3px;
	margin-left: 10px;
}
.news-post-tag ul li a{
	color: #fff;
}
.news-link {
	color:#d65050;
	direction: ltr;
}
.news-link input{
	background-color: #fbfbfb;
	border: none;
	width: 69% !important;
	padding: 5px;
	margin: 10px 0 20px;
	border-radius: 3px;
	color:#000;
}
#internal-post .media {
    overflow: hidden;
    zoom: 1;
    background-color: #fff;
    padding: 15px 20px;
    margin: 0 10px;
}
#internal-post .media-reply {
	background-color: #eee;
	margin-top: 6px;
	border-radius: 3px;
}
#internal-post .media .fa-dot-circle-o{
    color:#a4a4a4;
}
#internal-post .media .media-body h4{
    font-size: 14px;
	display: inline;
}
#internal-post .media .media-body h4 span{
   color: #d65050;
	margin-left: 20px;
}
.media .media-body h4 {
    font-size: 14px;
    display: inline;
}
.media .media-firstcomment {
    color:#c21e1e;
}
.media .media-firstcomment span {
    margin-left: 20px;
}
#internal-post .media .media-body p{
    color: #a4a4a4;
	margin-top: 10px;
	line-height: 2;
	font-size: 14px;
}
#internal-post .media .media-bg {
    background-color: #F5F5F5;
    padding: 5px 10px;
}
#internal-post .media .like-dislike button{
    background-color: transparent;
	border:none;
}
#internal-post .media .like-dislike button .fa-thumbs-up{
    color:green;
	font-size:18px;
}
#internal-post .media .like-dislike button .fa-thumbs-down {
    color:#333;
	font-size:18px;
}
#internal-post .post-comment {
    margin-bottom: 20px;
}
.left-sidebar .left-sidebar3{
	background-color: #f4f4f4;
	padding: 20px;
}
.left-sidebar .related-post ul, .left-sidebar .Archive-post ul{
	list-style: none;
	padding: 0 !important;
}
.left-sidebar .related-post img{
	width: 100%;
	height: 120px;
	object-fit: cover;
	margin: 20px 0 20px;
}
.left-sidebar .related-post ul li a, .left-sidebar .Archive-post ul li a{
	color:#333;
	font-size:13px;
}
.left-sidebar .related-post ul li:hover a, .left-sidebar .Archive-post ul li:hover a, .left-sidebar .Archive-post ul li:hover a i{
	color:#4CAF50;
}
.left-sidebar .Archive-post{
	margin:40px 0 30px;
}
.left-sidebar .Archive-post ul li{
	margin:10px 0;
}
.left-sidebar .Archive-post ul li i{
	color:#a4a4a4;
	font-size:11px;
	padding-left:5px;
}
.news-center .btn-success {
    color: #fff;
    background-color: #B7B7B7;
    border-color: #B7B7B7;
}
.main-post-img{
	text-align: center;
}
.main-post-img img{
	max-width:100%;
	height:auto;
}
/*share button in blog post*/
.share-button{
    position: relative;
    height: 36px;
    top: -19%;
    margin-top: -17px;
    width: 135px;
    left: 93%;
    margin-left: -65px;
    background: #D65050;
    border-radius: 20px;
    overflow: hidden;
    line-height: 36px;
}
/*----- FIX overflow + transform + border-radius ---*/
.share-button:before {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
content: '';
box-shadow: 0 0 0 50px #36bfa6;
box-sizing: content-box;
transform: translate(0,0);
border-radius: 50px;
z-index: 3;
pointer-events: none;
}
.lid{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#f4f4f4;
  /* border-radius:20px; */
  color:#D65050;
  transition: 300ms ease all;
  transform-origin: 0 0;
  cursor:default;
  z-index: 4;
  text-align: center;
}
.open .lid{
  transform:rotateX(90deg);
}
.thank-you {
  position:absolute;
top: -100px;
left: 0;
width: 100%;
color: #fff;
  transition: 300ms ease all;
}
.thankyou .thank-you{
  position:absolute;
  top:0px;
}
.share-item{
  display:block;
  color:#368b8b;
  background:#fff;
  text-decoration:none;
  height:30px;
  width:30px;
  text-align:center;
  line-height:30px;  
  border-radius:50%;
  float:left;
  margin-left:3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  transition: 500ms ease all;
}
.share-item:active{
  background:#0e6e12;
  transition: 50ms ease all;
}
.share-item:nth-child(1){
transform: translateX(200px) rotate(180deg);
}
.share-item:nth-child(2){
transform: translateX(400px) rotate(200deg);
}
.share-item:nth-child(3){
transform: translateX(580px) rotate(220deg);
}
.share-item:nth-child(4){
transform: translateX(740px) rotate(240deg);
}
.share-item:nth-child(5){
transform: translateX(880px) rotate(260deg);
}
.share-item:nth-child(6){
transform: translateX(1000px) rotate(280deg);
}
.open .share-item{
transform: translateX(0) rotate(0);  
margin-left:3px;
}
.share-items {
position: absolute;
top: 0;
right: 0;
height: 100%;
padding: 3px 0;
width: 201px;
}
.share-items-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;  
  width : 267px;
  left: 50%;
  margin-left:-133.5px;
}
.shared .share-item{
  transform :translateY(200px);
}
.shared .share-item:nth-child(1){
  transition: 200ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(2){
  transition: 600ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(3){
  transition: 1000ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(4){
  transition: 1400ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(5){
  transition: 1800ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(6){
  transition: 2200ms cubic-bezier(.32,-0.22,.9,.93) all;
}
/*comment*/
.displaynone {
	display:none;
}
#commentForm .form-control, #comment {
    border: 1px solid #333;
    border-radius: 2px;
}
#commentForm #name, #commentForm #guest_email {
    height:30px;
}
.modal-title{
	color:green;
	font-size:15px;
	font-weight: 700;
}
/*========================== products======================================= */
#media  .btn_style4{
	color:#D65050;
}
#media .product-title{
	margin:20px 0;
}
/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 50px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
	right: 360px !important;
	background-image: none;
	background: none repeat scroll 0 0 #d65050;
    background-image: none;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width: 40px;
	margin-top: -44px;
	opacity:1;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  	right: 400px !important;
	background-image: none;
	background: none repeat scroll 0 0 #d65050;
    background-image: none;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width: 40px;
	margin-top: -44px;
	opacity:1;
}
@media screen and (max-width:768px){
	/* Previous button  */
	.media-carousel .carousel-control.left 
	{
		right: 40% !important;
	}
	/* Next button  */
	.media-carousel .carousel-control.right 
	{
	  	right: 60% !important;
	}
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel .product-box
{
	-webkit-box-shadow: -1px 5px 9px -1px rgba(89,89,89,1);
	-moz-box-shadow: -1px 5px 9px -1px rgba(89,89,89,1);
	box-shadow: -1px 5px 9px -1px rgba(89,89,89,1);
}
.media-carousel .product-box img
{
  	width: 100%;
	height: 200px;
	object-fit: cover;
}
/* End carousel */

/*========================== footer======================================== */
/* ================ Contact Section ================ */
#section-contact {
	background-color:#fff;
	 width: 100%;
    height: 100%;
    background: url(../images/contact2.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
	position: relative;
}
#section-contact:after {
	content:'';
	background-color: rgba(0,0,0,0.7);
	width:100%;
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	z-index: 1;
}
#section-contact .main_titles{
	font-size: 15px;
	color: #d65050;
}
.contact {
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 99;
}

.contact h2 {
	margin-bottom: 30px;
}
.footer-link i{
	color:#D65050;
	margin:5px 5px;
}
.footer-contact
{
	
}
.footer-contact i{
	color:#ee1a26;
	font-size:18px;
	text-align:right;
	margin:10px 5px;
}
.footer-contact span{
	color:#fff;
}
.footer-link
{
	margin-right:20px;
}
.footer-link a
{
	color:#fff;
}
.footer-link a:hover
{
	color:#D65050;
}
.shabdiz-map
{
	margin-top:150px;
}
.confirmation {
	display:none;
	clear: both;
	color: #e5e5e5;
}

.confirmation p span {
	margin-right: 8px;
}

.contact-form {
	color:#f9f9f9;
}

.contact-form .input-field {
	height: 30px;
}

.textarea-field, .input-field {
	border: 1px solid #111;
}

.contact-form .form-item {
	width: 100%;
    padding: 0px 15px;
    border-color: #ffffff;
    border-radius: 4px;
    background: rgba(255,255,255,0.3);
    box-shadow: none;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    color: #000;
}

.contact-form .form-item::-webkit-input-placeholder {
	color: #f9f9f9;
}

.contact-form .form-item:-moz-placeholder {
	color: #f9f9f9;
}

.contact-form .form-item::-moz-placeholder {
	color: #f9f9f9;
}

.contact-form .form-item:-ms-input-placeholder {
	color: #f9f9f9;
}

.contact-form .subform {
	margin-top: 20px;
}

.contact-form .form-item:hover, .contact-form .form-item:focus {
	border-color:#ccc;
	box-shadow: none;
}
.large {
    width: 100%;
    padding: 2px 25px;
    font-size: 14px;
    height: 34px;
    border: 1px solid #d65050 !important;
    color: #d65050 !important;
    margin: 0px auto;
	background-color: transparent;
	border-radius:3px;
}
.newsletter-input{
	width: 100%;
	padding: 0px 15px;
	border-color: #ffffff;
	border-radius: 4px;
	background: rgba(255,255,255,0.3);
	box-shadow: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
	color: #000;
	margin-bottom:10px;
}
.single_content_main ul li p{
	display: inline-block;
}
.single_content_main ul li i{
	color:#D65050;
}
.single_content_main .textarea-field, .input-field {
    border: 1px solid #111;
    width: 100%;
    border-radius: 2px;
    padding: 2px 5px;
}


/* ================ Footer Section ================ */
#section-footer {
	padding-top: 10px;
    padding-bottom: 10px;
    background: #060400;
    color: #e5e5e5;
}

.footer-title {
	display: inline-block;
	margin-bottom: 40px;
	text-transform: none;
}
.man{
	position:absolute;
	left:70px;
	bottom:40px;
}
@media (min-width: 768px){
	.text-sm-left {
	    text-align: left;
	}
	.col-sm-offset-8 {
	    margin-left: 66.66667%;
	}
	footer {
	    padding: 6.8% 0 7.3%;
	}
}
footer .footer_figure_left {
    position: absolute;
    padding-top: 37.1%;
    left: 0;
    bottom: 0;
    top: 31%;
    z-index: 0;
    width: 54.6%;
    overflow: hidden;
}
footer .footer_figure_left:before {
    content: '';
    position: absolute;
    left: -29%;
    top: 0;
    background: #165E89;
    width: 129%;
    height: 100%;
    border-radius: 100% 0 0 0;
}
footer .footer_figure_right {
    position: absolute;
    padding-top: 25.1%;
    right: 0;
    top: 4%;
    bottom: 0;
    z-index: 0;
    width: 46%;
    overflow: hidden;
}
footer .footer_figure_right:before {
    content: '';
    position: absolute;
    right: -29%;
    top: 0;
    background: #3497DB;
    width: 129%;
    height: 100%;
    border-radius: 0 100% 0 0;
}
footer address {
    color: #FFF;
    font-size: 15px;
    line-height: 30px;
    position: relative;
    z-index: 16;
    text-align: right;
}
footer address .footer-contact{
   margin-top:160px;
}
footer address .footer-contact i{
   padding-left:10px;
}
footer .footer-link{
    text-align: right;
    margin-top: 120px;
    line-height: 2;
	padding-right:30px;
}
footer .footer-link .footer-link-title i, footer .footer-link .footer-link-title span{
    font-size:18px;
	color:#01304C;
}
footer .footer-link  i{
   color:#fff;
	font-size:18px;
	padding-left:10px;
}
footer .footer-link  a{
   color:#fff;
	font-size:15px;
	line-height: 2.5;
}
footer .footer-link  a:hover{
   color:#01304C;
}
footer address ul {
    list-style: none;
}
footer address ul li p{
    display:inline-block;
}
footer .footer_bottom {
    bottom: 0;
	position: absolute;
	background: #eee;
	width: 100%;
    padding: 10px 0 0;
}
footer .footer_bottom a{
    color:#333;
}
address *+dl {
    margin-top: 44px;
}
/* ======================== internal pages ======================== */
/* breadcrumb*/
.breadcrumb {
    margin: 20px 0;
	background-color:transparent;
}
.breadcrumb > li {
    display: inline-block;
    border: 1px solid #bfbcbc;
    padding: 5px 10px;
    margin-left: 5px;
    transition: all 0.4s linear;
	border-radius:2px;
}
.breadcrumb > li a{
	color:#bfbcbc;
}
.breadcrumb > li:hover{
	border: 1px dashed #D65050;
}
.breadcrumb > li:hover a{
	color:#D65050;
}
.breadcrumb > li:first-child {
	border-radius: 0 30px 0px 0;
	padding: 5px 25px;
	font-size: 1.5rem;
}
.breadcrumb > .active {
    color: #d65050;
    border: dashed 1px #d65050;
}
.breadcrumb > .active a{
    color: #d65050;
}
.breadcrumb > .active:before{
    color: #d65050;
}

.breadcrumb > li + li::before {
	font-family: FontAwesome;	
    content: "\f100";
    padding: 0 5px;
    color: #ccc;
}
.breadcrumb .fa-home {
    color: #D65050;
}
/*top image in every page */
#back-img div{
	background-image: url('../images/back.jpg');
	width: 100%;
    height: 200px;
    object-fit: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position:bottom center;
    position: relative;
}
#back-img div:after{
	content:"";
	background-color: rgba(0,0,0,0.5);
	width:100%;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height: auto;
}
/* slideshow for page */
#single_content .carousel .fill{
	width: 100%;
	height: 200px;
	object-fit: cover;
	background-position: center;
	background-size: cover;
    border-radius: 5px;
}
/* video for page */
div.pp_default .pp_content_container .pp_right {
    padding-left: 0px !important;
}
a.pp_close {
    position: relative;
    left: 0 !important;
    top: 0px !important;
    display: block;
    line-height: 22px;
    text-indent: -10000px;
	z-index:9999 !important;
}
#pp_full_res video{
	max-width:100%;
	height:auto !important;
}
.single_content_main{
	margin-top:20px;
}
#internal-post{
	margin-bottom:30px;
}
.internal-post .page-content{
	background-color: #fff;
	min-height: 350px;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.internal-post .page-content table{
	width:100%;
}
.internal-post .page-content table td,.internal-post .page-content table th {
    padding: 10px 0;
}
.internal-post {
    background-color: #fff;
    border-radius: 3px;
    min-height: 400px;
    padding: 20px;
    float: right;
    width: 100%;
}
#internal-post .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 10px;
}
.internal-post .box-title h2.title{
    background-color: #fff;
	margin-bottom:20px;
}
.left-sidebar{
	background-color: #f4f4f4;
	min-height: 500px;
	margin-top:40px;
}
 .left-sidebar .box-title h2.title{
    background-color: #F4F4F4;
}
.internal-post .box-title::after, .left-sidebar .box-title::after {
    border: 4px double #757171;
}
/*=============================== title======================== */
.box-title, .box-title2{
    position: relative;
    clear: both;
    z-index: 1;
    margin:30px 0;
    line-height: 33px;
}
.box-title .read-more, .box-title2 .read-more{
    margin-top: -17px;
}
.box-title h2.title, .box-title2 h2.title{
    display: inline-block;
    position: relative;
    color: #1c1c1c;
    font-size: 18px;
    letter-spacing: -.4px;
    text-transform: uppercase;
    z-index: 1;
    margin: 0;
    padding-left: 15px;
    padding-right: 25px;
}
.box-title h2.title{
    background-color: #fff;
}
.box-title2 h2.title{
    background-color: #eee;
}
.box-title:after, .box-title2:after{
    content: "";
    position: absolute;
    z-index: 0;
    top: 12px;
    left: 0;
    width: 99%;
}
.box-title:after{
    border: 4px double #eee;
}
.box-title2:after{
    border: 4px double #333;
}
.box-title h2.title:before, .box-title2 h2.title:before{
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #D65050;
    right: 0;
    top: 49%;
    -webkit-transform: translateY(-49%);
    -ms-transform: translateY(-49%);
    transform: translateY(-49%);
    z-index: 5;
}
.box-title h2.title a, .box-title2 h2.title a{
    color: #1c1c1c;
}
/*====================== contact===================== */
#captcha-id-image{
	width:auto !important;
	border-radius: 3px;
}
#section-contact .footer_info{
	list-style: none;
}
#section-contact .google-map{
	display:none;
}
#section-contact .footer_info li p{
	display:inline-block;
}
#section-contact .footer_info li i{
	color:#D65050;
}
#section-contact .form-group {
    margin-bottom: 10px;
}
#section-contact #contact_submit {
    margin-top: 15px;
}
.social-network ul li{
	display:inline-block;
}
.social-network ul li i{
	color:#D65050;
	font-size:18px;
}

/*============================media======================*/
@media (min-width:992px){
	#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
	    z-index: 9999;
		background-color: transparent;
	}
	#cssmenu ul{
		padding-top:7px;
	}
}
@media screen and  (max-width:992px){
	.logo{
		display:none;
	}
	.top_menu .container{
	width:100%;
	}
}
@media screen and (max-width:1200px){
	.man {
	    display:none;
	}
}
@media (min-width:992px) and (max-width:1200px){
	.services_box {
	    width: 100%;
	    height: 200px;
	}
	.pic {
	    left: calc(50% - 2em);
	}
}
@media screen and (max-width:991px){
	.services_box {
	    margin-top:0px;
	}
	#myCarousel.carousel .fill {
	    height: 300px !important;
	}
	footer {
	    padding: 10px !important;
	}
}
@media screen and (max-width:768px){
	.services_box {
	    width: 100%;
	    height: 200px;
	    border-radius: 12px;
	    position: relative;
	    text-align: center;
	    background-image: none;
	    background-color: #eee;
		margin-top:25px;
	}
	.services_box p {
	    font-size: 16px;
	}
	#header_site .top_header .top_header_logo a img {
	    width: 100%;
	}
	footer{
		background-color:#1582CA;
		margin-top:30px;
	}
	footer address{
		margin-right: -20px !important;
	}
	footer .footer_figure_left {
	    display: none;
	}
	footer .footer_figure_right {
	    display: none;
	}
	footer .footer-link {
	   margin-top:20px;
	}
	footer address .footer-contact {
	    margin-top: 0px; 
	    margin-bottom: 58px;
	}
	#cssmenu > ul > li {
	    padding-right: 20px;
	}
	.shop-category img, #shop .category-desc{
		margin-bottom:20px;
	}
}
.img-logo{
	width:150px;
	height:auto;
}
/*============================shop======================*/
.shop-category .category-title a{
	color:#D65050;
}
#shop .shop-category{
	margin: 20px 0;
}
.shop-category {
	margin:20px 0;
}
.shop-category img{
	vertical-align: middle;
	width: 100%;
	height: 260px;
	object-fit: cover;
	margin-bottom: 20px;
}
#shop .category-desc{
	height: 80px;
	overflow: hidden;
	margin-top: 10px;
	text-align: justify;
}
#shop .read-more a{
	color:#fff;
}
#shop .read-more a:hover{
	color:#d1ae6c;
}
.product_box{
	border: 1px solid #337ab7;
	padding: 10px;
	margin:0 10px;
}
.product_box img{
	width:80%;
	margin-bottom:20px;
}
.product-real-title{
	margin-top:20px;
	color:#000;
}
.image-descp img{
	width:100%;
	height:auto;
}
.product-document{
	margin:20px 0;
}
.product-document .fa-file-pdf-o{
	color: darkred;
    font-size: 20px;
}
.product-document a{
	color: #000;
    font-size: 15px;
}
/*============================services======================*/
.ih-item.square.effect13 {
    margin-top: 20px !important;
}
.ih-item.square {
    width: 100% !important;
    height: 200px !important;
}
.ih-item img {
     width: 100% !important;
    height: 184px !important;
    object-fit: cover;
}
/* tab */
      /* BASIC TABS STYLE */
.basic-tabs [data-tab] {display: inline-block;padding: 10px;border: 1px solid #ddd;border-bottom: none;text-decoration: none;background-color: #fff;}
.basic-tabs [data-tab].tab-active {border-top: 2px solid #3498db;}
.basic-tabs [data-tab-content] {border: 1px solid #ddd;padding: 20px;float: left;width: 100%;}
        /* SIDE TABS STYLE */
.tab-links {width: 20%;float: right;}
.tab-content {width: 80%;float: left;min-height: 500px;}

        .side-tabs [data-tab] {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 5px;
            border: 1px solid #ddd;
            border-left: none;
            text-decoration: none;
            background-color: #fff;
        }

.side-tabs [data-tab].tab-active {border-top: 2px solid #d65050;}
.side-tabs [data-tab-content] {
    border: 1px solid #ededed;
	padding: 20px;
	float: left;
	width: 100%;
	background-color: #fff;
	border-top: 2px solid #d65050;
	min-height: 500px;
	margin-bottom: 20px;
}

        /* ACCORDION TABS STYLE */
        .accordion-tabs [data-tab] {
            display: block;
            width: 100%;
            float: left;
            padding: 10px;
            border: 1px solid #ddd;
        }
.accordion-tabs [data-tab].tab-active {border-bottom: 2px solid #3498db;}
.accordion-tabs [data-tab-content] {border: 1px solid #ddd;padding: 20px;float: left;width: 100%;}
.tab-links a{text-align: right;color: #D65050 !important;}
.side-tabs .img-news img{
	width: 100% !important;
	height: 80px !important;
	object-fit: cover !important;
}
.side-tabs .more{
	margin-top: 5px;
}
.side-tabs .more a{
	font-size: 14px;
	color: #d65050;
}
.side-tabs .more:hover a, .side-tabs .news-title:hover h4, .side-tabs .img-news img:hover{
	color: #d71b1b;
}
.side-tabs .more i{
	padding-left:5px;
}
.side-tabs .news-title h4{
	font-size: 14px;
	color: #757575;
}
.side-tabs .news-title p{
	color: #626060;
}
.side-tabs .news-main{
	border-bottom: 1px dashed #d4d2d2;
	padding: 10px;
}
@media screen and (max-width:768px){
	.tab-content {
	    width: 100%;
	}
	.tab-links {
	    width: 100%;
	}
	.side-tabs [data-tab] {
	   border-left: 1px solid #ddd;
	}
}
<!-- tab -->
.album_gallery ul{padding-bottom: 25px;}
.album_gallery ul li{float: right;margin-top: 10px;}
.album_gallery img{width: 100%; height: 180px;margin-top: 16px;}
.gallery_title{text-align: center;padding-bottom: 6px;padding-top: 6px;height: 30px;}
.album_gallery a{color: #333 !important;text-decoration: none !important;}

.gallery_inner ul{margin-top: 25px;padding-bottom: 25px;}
.gallery_inner ul li{margin-top: 25px;}
.gallery_inner a{color: #333 !important; text-decoration: none !important;}

.gallery_cat{margin-top: 25px;}
.gallery_cat ul li{border-bottom: 1px solid #ccc;padding-bottom: 12px;padding-top: 12px;text-align: center;}
.gallery_cat a{color: #333 !important; text-decoration: none !important;}
.gallery_cat ul li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.album_gallery #gallery{
	background-color: #fff;
	width: 100%;
	padding: 20px 10px 30px;
}
@media (min-width:992px){
	.album_gallery #gallery .col-md-4{
		width: 33.33333333%;
	}
}
.album_gallery #gallery .col-md-4 img{
	width: 100%;
	height: 120px;
	object-fit: cover
}
.cat_title {
   border: 1px solid #d65050;
	text-align: center;
	padding: 12px 0;
	background-color: #d65050;
	color: #fff;
  }
.album_gallery ul li a span{text-align: center !important}
.quick_access .navbar-nav > li > a:hover {color: #fff !important;}
.quick_access .nav > li > a:hover, .nav > li > a:focus{background-color: #000;text-decoration: none;}

.video_gallery li{list-style:none !important;}
.video_gallery .selected-product-caption-inner{text-align: center;}
.video_gallery a{text-decoration: none !important; color: #333 !important}
     .tab-container {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            float: left;
        }
.page-content .items_gal img {
    width: 100% !important;
    height: 120px !important;
    object-fit: cover;
}
.page404{
	margin:50px 0;
}	
.page404 h1{
	color:green;
	margin:10px 0;
}	
.page404 p{
	font-size:20px;
}	
.page-content .signin{
	padding-top:30px;
}
.required-mark{
	float: left;
	color: green;
}
input[type="checkbox"], input[type="radio"] {
    float: right;
	margin-left: 10px;
}
.box-news .text-news{
	margin-top: 15px;
}
.box-news .text-news p{
	display:inline;
}
video{
    width: 100%;
    height: 200px !important;
}
video[poster]{
	width: 100%;
    height: 200px !important;
}
/*============================searchbox======================*/
.search {
  width: 12em;
  height: 2em;
  padding: 0;
  margin: 0;
  line-height: 2em;
  background-color: #1582CA;
  position: relative;
  transition: all .25s linear;
	border-radius:2px;
   margin-right: -13px;
    cursor: pointer;
}
.search input {
  width: 9.5em;
  height: 2em;
  line-height: 1em;
  padding: 0 0 0 .5em;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1em;
  color: white;
  float: left;
  transition: all .25s linear;
}
.search a {
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding: 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .25s linear;
}
.search a:before {
  content: "\f002";
  font-family: FontAwesome;
  font-style: normal;
}
.search a:hover {
  color: #fff;
}
.search.collapsed {
  width: 2em;
  margin-left: 10em;
}
.search.collapsed input {
  width: 0;
}
.search.collapsed a {
  color: #fff;
}
.search.collapsed a:hover {
  color: #bbb;
}
.submitLogin{
	display:inline-block !important;
}
div.pp_overlay {
    z-index: 9999 !important;
}
.pp_content{
	width:100% !important;
	height:auto !important;
}
/* pagination */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #d65050 !important;
    border-color: #d65050 !important;
}
/* ========================= faq =============================== */
.panel-heading {
    cursor: pointer;
}
.accordion-toggle::after {
    color: #fff;
    content: "\f068";
    float: right;
    font-family: "FontAwesome";
    padding-left: 5px;
}
.panel-heading.collapsed .accordion-toggle::after {
    content: "\f067";
}
.panel-title {
    color: #fff;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
}
.panel-title h4 {
    padding-right: 20px;
}
.panel-info > .panel-heading {
    background-color: #d65050;
	border-color: #d65050;
    color: #fff;
}
.panel-info {
    border-color: transparent;
}
.fa {
    padding-left: 5px;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #ef9b29;
}
.FaqBox .btn-default {
    border-color: #d65050;
    background-color: transparent;
    color: #000;
}
.FaqBox .btn-default.active, .FaqBox .btn-default:hover, .FaqBox .btn-default:active,.FaqBox .btn-default.focus, .FaqBox .btn-default:focus .FaqBox .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #d65050;
    border-color: #adadad;
}
.btn-secondary
{
	color: #fff;
	background-color:#D65050;
	border-color: #D65050;
	-webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.btn-secondary:hover
{
	color: #000;
	background-color: transparent;
	border-color: #D65050;
	-webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
/* i hover design page */
/* ihover */
.ih-item.square {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    box-shadow: none !important;
}
.ih-item.circle.effect5 .info p {
    color: #bbb;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    position: absolute !important;
    top: 100px !important;
}
.ih-item.circle.effect1 .spinner {
    width: 70px !important;
    height: 70px !important;
    border: 3px solid #000 !important;
    border-right-color: #ee1a26 !important;
    border-bottom-color: #ee1a26 !important;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.step
{
	margin:20px;
}
.services-design
{
	text-align:justify;
	margin:20px;
}
.step-title
{
	text-align:center;
}
.standard-title
{
	color:#EE1A26;
	font-weight:bold;
}
.standard-text
{
	text-align:justify;
	margin:30px;
}
.service-design-title
{
	color:#EE1A26;
	font-weight:bold;
}
#attribuesForm select option{
	direction:ltr !important;
}
select.form-control:not([size]):not([multiple]) option{
	direction:ltr !important;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
    direction: ltr !important;
    text-align: right;
}
select { direction: ltr !important; }
@media screen and (max-width:768px){
	#slider img {
		height: 250px !important;
		object-fit: contain !important;
	}
}