nav{position:relative;width:100%;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu{border-top: 1px solid #b9b8b8;border-bottom: 1px solid #b9b8b8;padding: 10px 0 5px;}
#cssmenu > ul > li{float:right}
#cssmenu > ul > li > a{padding:9px 11px 15px;font-size:14px;text-decoration:none;color:#000;outline: 0px;}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#e947a5;}
#cssmenu > ul > li:hover, #cssmenu ul li.active:hover,#cssmenu ul li.has-sub.active:hover{background:#333 !important;-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;}
#cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active{
	background-color:transparent !important;
}
#cssmenu > ul > li.has-sub > a{padding-left:30px}
#cssmenu > ul > li.has-sub > a:after{position:absolute;top:16px;left:11px;width:8px;height:2px;display:block;background:#000;content:''}
#cssmenu > ul > li.has-sub > a:before{position:absolute;top:13px;left:14px;display:block;width:2px;height:8px;background:#000;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul{position:absolute;right:-9999px;padding-top: 2px;z-index: 9999;}
#cssmenu ul ul img{width:20px;height:20px;}
#cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:rgba(0,0,0,0.5);transition:all .25s ease;text-align: center;}
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul{right:auto}
#cssmenu li:hover > ul > li{height:35px}
#cssmenu ul ul ul{margin-right:100%;top:-2px;}
#cssmenu ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;min-width: 230px;font-size:14px;text-decoration:none;color:#ece6e6;font-weight:400;}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#fff}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;left:11px;width:8px;height:2px;display:block;background:#fff;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;left:14px;display:block;width:2px;height:8px;background:#fff;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#333;}
#cssmenu ul ul ul li.active a{border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

@media screen and (max-width:998px){
	#cssmenu ul ul li a{font-size:11px !important; }
    .logo{text-align:center;}
    nav{width:100%;display: flex;justify-content: center;z-index: 999;}
    #cssmenu{width:100%;background: transparent;}
    #cssmenu ul{width:100%;display:none;    background-color: #333; z-index: 9999;}
    #cssmenu ul li{width:100%;border-top:1px solid #fff;text-align: center;}
    #cssmenu ul li:hover{background:#1a4a72;}
    #cssmenu > ul > li > a {color:#fff;font-size: 11px;}
    #cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#fff}
    #cssmenu > ul > li > a:hover{
        color: #fff;
    }
    #cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto}
    #cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0}
    #cssmenu > ul > li{float:none}
    #cssmenu ul ul li a{padding-right:0}
    #cssmenu ul ul li{background:#333 !important;}
    #cssmenu ul ul li:hover{background: transparent !important}
    #cssmenu ul ul ul li a{padding-right:35px}
    #cssmenu ul ul li a{color:#ddd;background:none}
    #cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#fff}
    #cssmenu ul ul,#cssmenu ul ul ul{position:relative;right:0;width:100%;margin:0;text-align:right}
    #cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
    #cssmenu #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
    .button{width:50px;height:50px;position:absolute;right:0;top:0;cursor:pointer;z-index: 12399994;background-color: transparent;border-radius: 50%;}
    .button:after{position:absolute;top:23px;right:15px;display:block;height:7px;width:20px;border-top:2px solid #000;border-bottom:2px solid #000;content:''}
    .button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:18px;right:15px;display:block;height:2px;width:20px;background:#000;content:''}
    .button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#000;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
    .button.menu-opened:before{top:23px;background:#000;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
    #cssmenu .submenu-button{
    	position: absolute;
	    z-index: 99;
	    left: 27px;
	    top: -4px;
	    display: block;
	    border-right: transparent;
	    height: 50px;
	    width: 50px;
	    cursor: pointer;
	}
    #cssmenu .submenu-button.submenu-opened{/* background:#262626 */}
    #cssmenu ul ul .submenu-button{height:34px;width:34px}
    #cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#666;content:''}
    #cssmenu ul ul .submenu-button:after{top:15px;right:13px}
    #cssmenu .submenu-button.submenu-opened:after{background:#fff}
    #cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#666;content:''}
    #cssmenu ul ul .submenu-button:before{top:12px;right:16px}
    #cssmenu .submenu-button.submenu-opened:before{display:none}
    #cssmenu ul ul ul li.active a{border-left:none}
    #cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
    #cssmenu > ul > li > a {
        padding: 13px 9px !important;
    }
}
#cssmenu > ul > li {
    width: auto !important;
}