@media print {
	body{
		line-height:3;
		direction:rtl;
		font-family:tahoma;
		font-size:10px !important;
	}
	header, aside, #important-shortcut, .modal, footer, .content-header, .print-form-btn, .print-btn{
		display:none !important;
	}
	.table {
		width: 100%;
		direction:rtl !important;
		font-size:10px !important;
		border-spacing: 0px!important;
	}
	.table tr td{
		text-align:center;
		height:25px;
		font-size:10px !important;
	}
	.signiture td{
		height:200px !important;
	}
	thead{
	color: #b50b0b;
	}
	.thead-td{
		font-weight:bold;
		color: #b50b0b;
		text-align:left !important;
	}
	/* .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		border: 1px solid #333;
	} */
	.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
		border: 1px solid #333;
			border-top-color: #333;
			border-top-style: solid;
			border-top-width: 1px;
			border-bottom-width: 1px;
			line-height: 1.7;
	}
	.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
        border-top: 1px solid #333 !important;
	}
	.row::before {
		display: table;
		content: " ";
	}
	.col-md-5 {
		width: 40% !important;
		position: relative;
		min-height: 1px;
		text-align: left;
	}
	.col-md-7 {
		width: 60% !important;
		position: relative;
		min-height: 1px;
		text-align: left;
	}
	.col-md-6 {
		width: 50% !important;
		position: relative;
		min-height: 1px;
		text-align: left;
	}
	hr.divider{
		border-top: 3px solid #333;
		margin:10px 0 !important;
	}
	.print-logo{
		text-align: left;
		margin:10px 0;
	}
	.table-info{
        background-color: #bcbcbc;
        padding: 10px;
        height: 50px;
	}
	.box-title{
        font-size:10px !important;
	}
	.table-signiture tr td{
		border:0 !important;
	}
}