/* ***************
 grid system 
*************** */


.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: right;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float:right;
  }
}
/* ***************
 general style
*************** */
.rtl-text-right{
	text-align: right;
}

.sl-direction
{
	direction: rtl;
	text-align: right;
}
.sl-direction-reversed
{
	direction: ltr;
	text-align: left;
}
.sl-direction .list-inline 
{
    margin-right: -5px;
	margin-left: 0;
}
.img
{
	float: right;
	margin-left: 10px;
}
.sl-align-left
{
	text-align: left;
}
/* ***************
 bootstrap override
*************** */


th
{
	text-align: right;
}
@media (min-width: 768px)
{
	.navbar-nav>li 
	{
	    float: right;
	}
}
.nav
{
	padding-right: 0;
}
.dropdown-menu
{
	float: none;
	text-align: right;
	left: auto;
	right: 0;
}
.navbar-toggle
{
	margin-right: 0;
	margin-left: 15px;
}
.caret
{
	margin-left: 0;
	margin-right: 2px;
}
.radio label, 
.checkbox label
{
	padding-left: 0;
	padding-right: 20px;
}
.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"]
{
	margin-left: 0;
	margin-right: -20px;
}
/* ***************
basket
*************** */
.descp{
	direction: rtl;
	text-align: justify;
}

.basket-price:after
{
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent; 
	border-right:8px solid #ffc000;
	left: -7px;
}
/* ***************
 header
*************** */


.searchbox .input-group-btn,
.searchbox .form-control
{
	float: right;
}
.search_lesson
{
	background-position: 12px 3px;
}
.search_fieldofstudy
{
	background-position: 12px -112px;
}
.search_instructor
{
	background-position: 12px -49px;	
}
.search_product
{
	background-position: 12px -173px;
}
.searchbox .form-control:not(:last-child)
{
	border-left: none;
}
#header .flag a:after
{
	background-image: url(../images/en.png);	
}
.site-rules
{
	padding-right: 8px;
}
/* ***************
vertical tab
*************** */


.tab-list,
.tab-content-div
{
	float: right;
}
.tab-list
{
	padding-left: 15px;
}
#maintop .vertical-tab .nav-tabs>li>a:after
{
	left: -50px;
	border-top: 45px solid transparent;
	border-bottom: 45px solid transparent;
	border-right:30px solid #ffc212;
}
#mainbot .vertical-tab .nav-tabs>li>a:after
{
	left: -25px;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #ffc212;
}
.tab-content .img
{
	margin-left: 30px;
}
/* ***************
 mainmid
*************** */


.mainmid-title,
.mainmid-features
{
	float: right;
}
.mainmid-title
{
	padding-left: 15px;
}
.bootom-tab .nav-tabs>li
{
	float: right;
}
/* ***************
 mainbot
*************** */


.mainbot-news-header .fa 
{
    margin-left: 8px;
}
.mainbot-features-header .fa 
{
    margin-left: 8px;
}
/* ***************
 footertop
*************** */


#footertop .owl-controls
{
	left: 5px;
}
.alluserFiles
{
	direction: rtl;
	text-align: left;
}
.alluserFiles .btn:before
{
	margin-left: 8px;
}
/* ***************
 footermid
*************** */


@media(min-width: 768px)
{
	.footermid-logan
	{
		padding-left: 220px;
	}
}
.newsletter-box
{
	padding-right: 120px;
}
@media(min-width: 768px)
{
	.enamad
	{
		right: 0;
	}
}
/* ***************
footer-contact-form
*************** */


.footer-contact-form
{
	right: 0;
}
/* ***************
sidebar
*************** */


.sidebar-header .fa
{
	margin-left: 8px;
}
/* ***************
main-content
*************** */


.main-content-title h1 .fa
{
	margin-left: 8px;
}