/* ***************
 grid system 
*************** */

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after
{
	display: table;
  	content: " ";
	
}
.container:after,
.container-fluid:after,
.row:after
{
	clear: both;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  left: 100%;
}
.col-xs-pull-11 {
  left: 91.66666667%;
}
.col-xs-pull-10 {
  left: 83.33333333%;
}
.col-xs-pull-9 {
  left: 75%;
}
.col-xs-pull-8 {
  left: 66.66666667%;
}
.col-xs-pull-7 {
  left: 58.33333333%;
}
.col-xs-pull-6 {
  left: 50%;
}
.col-xs-pull-5 {
  left: 41.66666667%;
}
.col-xs-pull-4 {
  left: 33.33333333%;
}
.col-xs-pull-3 {
  left: 25%;
}
.col-xs-pull-2 {
  left: 16.66666667%;
}
.col-xs-pull-1 {
  left: 8.33333333%;
}
.col-xs-pull-0 {
  left: auto;
}
.col-xs-push-12 {
  right: 100%;
}
.col-xs-push-11 {
  right: 91.66666667%;
}
.col-xs-push-10 {
  right: 83.33333333%;
}
.col-xs-push-9 {
  right: 75%;
}
.col-xs-push-8 {
  right: 66.66666667%;
}
.col-xs-push-7 {
  right: 58.33333333%;
}
.col-xs-push-6 {
  right: 50%;
}
.col-xs-push-5 {
  right: 41.66666667%;
}
.col-xs-push-4 {
  right: 33.33333333%;
}
.col-xs-push-3 {
  right: 25%;
}
.col-xs-push-2 {
  right: 16.66666667%;
}
.col-xs-push-1 {
  right: 8.33333333%;
}
.col-xs-push-0 {
  right: auto;
}
.col-xs-offset-12 {
  margin-right: 100%;
}
.col-xs-offset-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-9 {
  margin-right: 75%;
}
.col-xs-offset-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-6 {
  margin-right: 50%;
}
.col-xs-offset-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-3 {
  margin-right: 25%;
}
.col-xs-offset-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-0 {
  margin-right: 0;
}
@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    left: 100%;
  }
  .col-sm-pull-11 {
    left: 91.66666667%;
  }
  .col-sm-pull-10 {
    left: 83.33333333%;
  }
  .col-sm-pull-9 {
    left: 75%;
  }
  .col-sm-pull-8 {
    left: 66.66666667%;
  }
  .col-sm-pull-7 {
    left: 58.33333333%;
  }
  .col-sm-pull-6 {
    left: 50%;
  }
  .col-sm-pull-5 {
    left: 41.66666667%;
  }
  .col-sm-pull-4 {
    left: 33.33333333%;
  }
  .col-sm-pull-3 {
    left: 25%;
  }
  .col-sm-pull-2 {
    left: 16.66666667%;
  }
  .col-sm-pull-1 {
    left: 8.33333333%;
  }
  .col-sm-pull-0 {
    left: auto;
  }
  .col-sm-push-12 {
    right: 100%;
  }
  .col-sm-push-11 {
    right: 91.66666667%;
  }
  .col-sm-push-10 {
    right: 83.33333333%;
  }
  .col-sm-push-9 {
    right: 75%;
  }
  .col-sm-push-8 {
    right: 66.66666667%;
  }
  .col-sm-push-7 {
    right: 58.33333333%;
  }
  .col-sm-push-6 {
    right: 50%;
  }
  .col-sm-push-5 {
    right: 41.66666667%;
  }
  .col-sm-push-4 {
    right: 33.33333333%;
  }
  .col-sm-push-3 {
    right: 25%;
  }
  .col-sm-push-2 {
    right: 16.66666667%;
  }
  .col-sm-push-1 {
    right: 8.33333333%;
  }
  .col-sm-push-0 {
    right: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    left: 100%;
  }
  .col-md-pull-11 {
    left: 91.66666667%;
  }
  .col-md-pull-10 {
    left: 83.33333333%;
  }
  .col-md-pull-9 {
    left: 75%;
  }
  .col-md-pull-8 {
    left: 66.66666667%;
  }
  .col-md-pull-7 {
    left: 58.33333333%;
  }
  .col-md-pull-6 {
    left: 50%;
  }
  .col-md-pull-5 {
    left: 41.66666667%;
  }
  .col-md-pull-4 {
    left: 33.33333333%;
  }
  .col-md-pull-3 {
    left: 25%;
  }
  .col-md-pull-2 {
    left: 16.66666667%;
  }
  .col-md-pull-1 {
    left: 8.33333333%;
  }
  .col-md-pull-0 {
    left: auto;
  }
  .col-md-push-12 {
    right: 100%;
  }
  .col-md-push-11 {
    right: 91.66666667%;
  }
  .col-md-push-10 {
    right: 83.33333333%;
  }
  .col-md-push-9 {
    right: 75%;
  }
  .col-md-push-8 {
    right: 66.66666667%;
  }
  .col-md-push-7 {
    right: 58.33333333%;
  }
  .col-md-push-6 {
    right: 50%;
  }
  .col-md-push-5 {
    right: 41.66666667%;
  }
  .col-md-push-4 {
    right: 33.33333333%;
  }
  .col-md-push-3 {
    right: 25%;
  }
  .col-md-push-2 {
    right: 16.66666667%;
  }
  .col-md-push-1 {
    right: 8.33333333%;
  }
  .col-md-push-0 {
    right: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    left: 100%;
  }
  .col-lg-pull-11 {
    left: 91.66666667%;
  }
  .col-lg-pull-10 {
    left: 83.33333333%;
  }
  .col-lg-pull-9 {
    left: 75%;
  }
  .col-lg-pull-8 {
    left: 66.66666667%;
  }
  .col-lg-pull-7 {
    left: 58.33333333%;
  }
  .col-lg-pull-6 {
    left: 50%;
  }
  .col-lg-pull-5 {
    left: 41.66666667%;
  }
  .col-lg-pull-4 {
    left: 33.33333333%;
  }
  .col-lg-pull-3 {
    left: 25%;
  }
  .col-lg-pull-2 {
    left: 16.66666667%;
  }
  .col-lg-pull-1 {
    left: 8.33333333%;
  }
  .col-lg-pull-0 {
    left: auto;
  }
  .col-lg-push-12 {
    right: 100%;
  }
  .col-lg-push-11 {
    right: 91.66666667%;
  }
  .col-lg-push-10 {
    right: 83.33333333%;
  }
  .col-lg-push-9 {
    right: 75%;
  }
  .col-lg-push-8 {
    right: 66.66666667%;
  }
  .col-lg-push-7 {
    right: 58.33333333%;
  }
  .col-lg-push-6 {
    right: 50%;
  }
  .col-lg-push-5 {
    right: 41.66666667%;
  }
  .col-lg-push-4 {
    right: 33.33333333%;
  }
  .col-lg-push-3 {
    right: 25%;
  }
  .col-lg-push-2 {
    right: 16.66666667%;
  }
  .col-lg-push-1 {
    right: 8.33333333%;
  }
  .col-lg-push-0 {
    right: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
/* ***************
 general style
*************** */

body
{
	color: #434243;
}
a 
{
    -webkit-transition: color .6s ease;
    -o-transition: color .6s ease;
    transition: color .6s ease;
}
select
{
	cursor: pointer;
}
p
{
	margin: 0 0 10px;
}
h1, h2, h3, h4, h5, h6
{
	font-family: inherit;
}
h1
{
	font-size: 18px;
}
h2
{
	font-size: 17px;
}
h3
{
	font-size: 16px;
}
h4
{
	font-size: 15px;
}
h5
{
	font-size: 14px;
}
h6
{
	font-size: 13px;
}
ul, ol
{
	margin-bottom: 10px;
    margin-top: 0;
}
textarea.form-control
{
	resize: vertical;
	min-height: 100px;
}
.sl-margin-bottom
{
	margin-bottom: 30px;
}
.sl-margin-top
{
	margin-top: 30px;
}
.sl-margin
{
	margin: 15px;
}
.sl-padding-top
{
	padding-top: 30px;
}
.sl-padding-bottom
{
	padding-bottom: 30px;
}
.sl-no-margin
{
	margin: 0;
}
.sl-no-margin-bottom
{
	margin-bottom: 0;
}
.sl-no-margin-top
{
	margin-top: 0;
}
.sl-align-center
{
	text-align: center;
}
.sl-large-text
{
	font-size: 2em;
}
.sl-hidden
{
	opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}
.sl-visible 
{
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.sl-data-delay
{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.sl-title
{
    font-weight: 400;
	position: relative;
	padding-bottom: 10px;
	margin-top: 0;
}
.sl-title:before
{
	content: "";
	width: 110px;
	position: absolute;
	top: 5px;
	height: 17px;
	background-color: transparent;
	background-repeat: no-repeat;	
}
.sl-table
{
	margin: 0 auto;
}
.sl-ul
{
	list-style: none;
	margin: 0 0 15px;
	padding: 0;
}
.sl-green
{
	color: green;
}
.img
{
	display: block;
}
.img-border 
{
    border: 10px solid #beb9b6;
    border-radius: 5px;
}
.img img
{
	max-width: 100%;
}
.txt
{
	text-align: justify;
	line-height: 28px;
}
.list-inline 
{
    list-style: none;
    margin-left: -5px;
	padding: 0;
}
.list-inline > li 
{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
/* ***************
 bootstrap override
*************** */

active, 
a:focus 
{ 
    outline: none;
}
@media (min-width: 768px)
{
	.navbar-nav
	{
		float: none;
	}
}
.btn:focus, 
.btn:active:focus, 
.btn.active:focus 
{
    outline: none;
}
.navbar-toggle .icon-bar
{
	background-color: #fff;
}
.navbar-toggle
{
	border-color: #fff;
}
.form-control
{
	border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
	border-color: #989897;
}
.form-control:focus
{
	border-color: #fe992a;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn
{
	border-radius: 0;
}
.btn-gradient 
{
    color: #fff;
	background: #ffac3b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffac3b 0%, #ff8d1d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffac3b 0%,#ff8d1d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffac3b 0%,#ff8d1d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac3b', endColorstr='#ff8d1d',GradientType=0 ); /* IE6-9 */
	border-color: #cf863f;
}
.btn-gradient:hover,
.btn-gradient:focus,
.btn-gradient:active,
.btn-gradient.active,
.open>.dropdown-toggle.btn-gradient
{
	color:#fff;
	background: #ff8d1d; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff8d1d 0%, #ffac3b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ff8d1d 0%,#ffac3b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ff8d1d 0%,#ffac3b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8d1d', endColorstr='#ffac3b',GradientType=0 ); /* IE6-9 */
	border-color: #cf863f;
}
.btn-secondary 
{
    color: #fff;
	background: #373d43;
	border-color: #373d43;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open>.dropdown-toggle.btn-secondary
{
	color:#fff;
	background: #fe992a;
	border-color: #fe992a;
}
.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active
{
	background: #373d43;
	border-color: #373d43;
}
.btn-secondary .badge
{
	background-color:#373d43;
	border-color: #373d43;
}
.input-group-btn:last-child > .btn, 
.input-group-btn:last-child > .btn-group
{
	margin-right: -1px;
	margin-left: 0;
}
.btn-primary 
{
	border-color: #e2ac05;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary
{
	border-color: #ce9d04;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active
{
	border-color: #e2ac05;
}
.btn-primary .badge
{
	border-color: #e2ac05;
}
/* ***************
 logo
*************** */

.logo a
{
  text-decoration: none;
}
.logo img
{
  max-width: 100%;
}
/* ***************
 top menu
*************** */
#navigation .navbar-nav > li > a
{
	background-color: #f7f7f7;
	color: #6c6c6c;
}
#navigation .navbar-nav > li > a:hover
{
	color: #ff8a0f;
}
@media(min-width: 768px)
{
	#navigation .navbar-nav > li > .dropdown-menu
	{
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding: 5px 20px;
	}
	#navigation .navbar-nav > li:hover > .dropdown-menu,
	#navigation .navbar-nav > li:active > .dropdown-menu,
	#navigation .navbar-nav > li:focus > .dropdown-menu
	{
		display: block;
	}
	#navigation .navbar-nav > li > .dropdown-menu > li > a
	{
		color: #333;
		background-color: transparent;
		padding: 5px 0px;
	}
	#navigation .navbar-nav > li > .dropdown-menu > li + li > a
	{
		border-top: 1px solid #ddd;	
	}
}
@media(max-width: 768px)
{
	.dropdown-menu
	{
		position: static;
		display: block;
	    border: none;
	    border-radius: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    -webkit-background-clip: initial;
	    background-clip: initial;
		padding: 0 20px 0 0;
		margin: 0;
	}
	.dropdown-menu > li > a
	{
		padding-top: 6px;
    	padding-bottom: 6px;
	}
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus,
	.dropdown-menu > li > a:active
	{
		background-color: transparent;
	}
}
@media(max-width: 768px)
{
	#mainmenu
	{
		background-color: #fff;
	}
	#navigation .navbar-nav > li > a:hover, 
	#navigation .navbar-nav > li.active > a
	{
		border-color: transparent;
	}
	body.front #header, 
	body.front #header a
	{
		color: #333;
	}
}
/* ***************
admin page
*************** */


.small-form
{
	position: relative;
}
.small-form h4
{
	margin-top: 0;
}
@media(min-width: 768px)
{
	.small-form
	{
		-webkit-box-shadow: 0px 0px 12px -3px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 0px 12px -3px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 0px 12px -3px rgba(50, 50, 50, 0.75);
		width: 50%;
		padding: 25px;
		margin: 50px auto 25px;
		border-radius: 4px;
	}
}
/* ***************
post
*************** */


.post-item:before,
.post-item:after
{
	display: table;
  	content: " ";
	
}
.post-item:after
{
	clear: both;
}
.post-item-img-holder,
.post-item-txt
{
	position: relative;
	min-height: 1px;
	float: right;
}
.post-item-img-holder
{
	width: 16.66666667%;
	/* padding-left: 15px; */
}
.post-item-txt
{
	width: 83.33333333%;
}
.post-item
{
	padding-bottom: 15px;
}
.post-item + .post-item
{
	padding-top: 15px;
	border-top: 1px solid #74accf;	
}
.post-item-img
{
	max-width: 100%;
}
@media(min-width: 768px)
{
	.post-item-img
	{
		width: 100%
	}
}
.post-item-title
{
	margin-top: 0;
	font-size: 13px;
}
@media(min-width: 768px)
{
	.post-det-img
	{
		width: 400px;
		/* padding-left: 30px; */
		float: right;
	}
}
.post-det-img img
{
	max-width: 100%;
	width: 100%;
}
.post-exerpt
{
	font-size: 12px;
	color: #2f567d;
	line-height: 25px;
	text-align: justify;
}
/* ***************
gallery
*************** */


.gallery
{
	display: block;
	margin-bottom: 15px;
	text-decoration: none;
}
/* ***************
 banner
*************** */


.banner
{
	width: 100%;
	overflow: hidden;
}
.banner p
{
	margin: 0;
	padding: 0;
}
.banner img
{
	width: 100%;
}
/* ***************
 faq
*************** */


.faq
{
	padding-bottom: 15px;
	padding-top: 15px;
	border-top: 1px solid #e0e0e0;
	margin-top: -1px;
}
.faq:first-child
{
	padding-top: 0;
	border-top: none;
	margin-top: 0;	
}
.faq-title
{
	margin-top: 0;
	margin-bottom: 0;	
	cursor: pointer;
	color: #d67625;
}
.faq-status
{
	display: none;
	padding-top: 15px;
}
/* ***************
 page
*************** */

#page
{
	padding-bottom: 25px;
	padding-top: 25px;
}
/* ***************
 copyright
*************** */


.copyright
{
	margin-top: 15px;
}
.copyright,
.copyright a
{
	color: #bebdbd;
	font-family: arial;
}
.copyright a:hover
{
	color: #fff;
}
/* ***************
 social
*************** */


.social
{
	margin-bottom: 0;
}
.social > li > a
{
	display: inline-block;
	border-radius: 25px;
	width: 40px;
	height: 40px;
	border: 3px solid #3a3a3a;
	background-color: #3a3a3a;
	color: #262626;
	font-size: 22px;
	text-align: center;
}
.social > li > a:hover
{
	color: #ffc212;
	border-color: #ffc212;
}
.social > li > a > i
{
	position: relative;
	top: 2px;
}