@font-face {
    font-family: 'yekan';
    src: url('../fonts/BYekan/Yekan.eot');
    src: url('../fonts/BYekan/Yekan.eot#iefix') format('embedded-opentype'),
    url('../fonts/BYekan/Yekan.woff') format('woff'),
    url('../fonts/BYekan/Yekan.ttf') format('truetype'),
    url('../fonts/BYekan/Yekan.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}/*
@font-face {
    font-family: 'BYagut';
    src: url('../fonts/persian/BYagut.eot?#') format('eot'),
    url('../fonts/persian/BYagut.woff') format('woff'),
    url('../fonts/persian/BYagut.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}*/
body{
    font-family: yekan;
    background: #fcfcfc;
}
a{
    text-decoration: none !important;
    outline: 0px !important;
}
.input-block{
    margin-top: 20px;
}
.input-block label{
    color: #2D4761;
}
.form-control {
    border: 1px solid #b38e00;
    border-radius: 2px;
}
.top_header{
    min-height: 127px;
    border-bottom: 1px solid #1F1A19;
}
.right_text_logo{
    border: 1px solid #c6b39b;
    border-radius: 40px;
    color: #3c1702;
    display: inline-block;
    font-size: 16px;
    margin: 70px 20px 0 0;
    padding: 10px 85px 10px 20px;
    position: relative;
    width: auto;
}
.right_text_logo p{
    margin-bottom: 0px;
}
.right_text_logo_img {
    background: rgba(0, 0, 0, 0) url("../images/images.png") repeat scroll -6px -5px;
    bottom: -7px;
    height: 108px;
    position: absolute;
    right: -15px;
    width: 93px;
}
.contact_map p{
	margin-bottom: 20px;
	margin-top: -46px;
}
.left_text_logo{
    border: 1px solid #c6b39b;
    border-radius: 40px;
    color: #3c1702;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 70px 0px 0px 20px;
    padding: 10px 20px 10px 85px;
    position: relative;
    width: auto;
}
.left_text_logo_img {
    background: rgba(0, 0, 0, 0) url("../images/images.png") repeat scroll -6px -115px;
    bottom: -3px;
    height: 90px;
    left: -17px;
    position: absolute;
    width: 90px;
}
.logo_col img{
    margin: 15px auto ;
}
.top_menu{
	background: #2D2625;
    background: rgba(48, 41, 40, 0.9);
    height: 55px;
}
.contact_map{
	margin-bottom: 25px;
}
#header_site{
    position: relative;
    z-index: 1;
}
#myCarousel.carousel {
    height: 50%;
}

#myCarousel.carousel .item,
#myCarousel.carousel .item.active,
#myCarousel.carousel .carousel-inner {
    height: 100%;
}
.logo_col p{
	display: table;
	margin: 0 auto;
}
#myCarousel.carousel .fill {
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}
.carousel-control {
    background-image: none !important;
}
.carousel-caption{
    display: none;
}
.services_box{
    width: 100%;
    height: 143px;
    border: 2px solid #C9B7A0;
    margin:0px auto;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
}
.services_box:hover {
    background: #3C1702;
    border: 2px solid #3C1702;
}
.services_box:hover p{
    color: #E0BF66;
}
section h3{
    border: 1px solid #c6b39b;
    border-radius: 40px 5px 5px 40px;
    color: #3c1702;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 70px 15px 20px;
    width: auto;
    margin-bottom: 25px;
    background: url("../images/images.png") 188px -222px;
}
.services_img{
    background: rgba(0, 0, 0, 0) url("../images/images.png") repeat scroll 0 0;
    border: 2px solid #c9b7a0;
    border-radius: 119px;
    height: 84px;
    margin: 0 auto;
    width: 84px;
    margin-top: 10px;
}
.services_box p{
    color: #3c1702;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
    transition: all ease-in-out 0.3s;
}
.services_1{background-position: -121px -11px;}
.services_2{background-position: -121px -109px;}
.services_3{background-position: -121px -206px;}
.services_4{background-position: -121px -304px;}
.services_5{background-position: -125px -403px;}
#about{
    width: 100%;
    min-height: 407px;
    margin-top: 20px;
    background: url("../images/about.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #DFC276;
}
.left_text_logo p{
	margin-bottom: 0px;
}
#about p{
    color: #3c1702;
    font-size: 20px;
    line-height: 35px;
}
.footer_info p{
	float: right;
}
.footer_info li{
	display: table;
}
.footer_info .fa{
	float: right;
}
.signiture{
    background: rgba(0, 0, 0, 0) url("../images/images.png") repeat scroll 0 -414px;
    float: left;
    height: 70px;
    left: 0;
    width: 120px;
}
#gallery {
    padding-bottom: 54px;
    background: url("../images/gallery_bg.png");
    background-size: cover;
    background-position: 0px 30px;
}
#gallery h3{
    background: url("../images/images.png") 137px -282px;
}
.gallery_img img{
    margin: 0px auto;
    border: 1px solid #C9B7A0;
}
#links{
    background: #423C3B;
    border-bottom: 5px solid #E0BF66;
    border-top: 5px solid #E0BF66;
    padding-bottom: 20px;
}
#links .main_titles{
    background: #F1E9D7 url("../images/images.png") 124px -348px;
}
.ch_lang{
    color: #e7d8ba;
    font-family: arial;
    font-weight: bold;
    position: relative;
    top: 18px;
}
.ch_lang:hover{
    color: #fff;
}
.links_img{
    width: 208px;
    height: 143px;
    border: 2px solid #C9B7A0;
    margin:0px auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #F1E9D7 url("../images/images.png");
    transition: all ease-in-out 0.3s;
    overflow: hidden;
}
.links_img{
    width: 208px;
    height: 143px;
    border: 2px solid #C9B7A0;
    margin:0px auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #F1E9D7 url("../images/images.png");
    transition: all ease-in-out 0.3s;
    overflow: hidden;
}
.links_items:hover .links_img_ol{
    opacity: 1;
}
.links_items:hover .links_img + p{
    color: #fff;
}
.links_img_ol{
    width: 100%;
    height: 143px;
    background: rgba(0, 0, 0, 0) linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 50%, rgba(205, 205, 205, 0.6) 50%) repeat scroll 0 0;
    opacity: 0;
    transition: all ease-in-out 0.3s;
}
.col-sm-5ths:nth-child(1) .links_img{
   background-position: -13px -506px;
}
.col-sm-5ths:nth-child(2) .links_img{
    background-position: -258px -12px;
}
.col-sm-5ths:nth-child(3) .links_img{
    background-position: -263px -189px;
}
.col-sm-5ths:nth-child(4) .links_img{
    background-position: -263px -376px;
}
.col-sm-5ths:nth-child(5) .links_img{
    background-position: -260px -536px;
}
.links_img + p {
    text-align: center;
    color: #E0BF66;
    font-size: 20px;
    transition: all ease-in-out 0.3s;
}
footer{
    padding-top: 30px;
}
footer p{
    color: #302928;
    font-size: 18px;
    margin: 0px;
}
footer ul{
    list-style-type: none;
    margin-right: -40px;
    margin-top: 20px;
    font-size: 18px;
}
footer ul li{
    margin-top: 20px;
	display: inline-block;
}
footer ul .fa{
    font-size: 25px;
    margin-left: 5px;
}
.footer_bottom{
    min-height: 43px;
    background: #E0BF66;
    border-top: 1px solid #302928;
    border-bottom: 1px solid #302928;
    margin-top: 20px;
}
.cp p{
    margin-top: 10px;
}
#about h1{
    color: #502f1a;
    font-size: 20px;
    font-weight: bold;
}
.shabdiz{
    text-align: left;
    margin-top: 10px;
    color: #302928;
}
.shabdiz a{
    color: #302928;
    font-size: 18px;
    transition: all ease-in-out 0.3s;
}
.shabdiz a:hover{
    color: #774035;
}
.lan_mobile{
    border: 1px solid #f5eedc;
    border-radius: 2px;
    color: #f5eedc;
    height: 40px;
    left: 5px;
    line-height: 44px;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 40px;
    z-index: 2000;
}
.carousel-control.right {
    left: 0;
    right: auto;
}
.carousel-control.left {
    right: 0;
    left: auto;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    background: #6A645C;
    border-radius: 3px;
    line-height: 23px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    background: #6A645C;
    border-radius: 3px;
    line-height: 23px;
}
#single_header{
    width: 100%;
    min-height: 199px;
    margin-top: -56px;
    background: url("../images/single.jpg");
    background-size: cover;
    background-position: center center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#single_header h1{
    border-left: 3px solid #d3b460;
    border-right: 3px solid #d3b460;
    color: #fff;
    display: table;
    font-size: 20px;
    margin: 40px auto 0;
    padding: 10px 30px;
    text-align: center;
}
.single_content_main{
    border: 1px solid #E0BF66;
    border-radius: 10px;
    /* min-height: 400px; */
    margin: 20px auto;
    padding: 46px 23px;
}
.single_content_main p{
    font-size: 18px;
    line-height: 30px;
}
.breadcrumb{
    background: none;
    border-radius: 0px;
    border-bottom: 1px solid #E0BF66;
}
.breadcrumb > .active {
    color: #3C1702;
}
.breadcrumb a {
    color: #785347;
}
.bread_icon{
    background: #f1e9d7 url("../images/images.png") repeat scroll -13px -671px;
    border-radius: 40px;
    height: 31px;
    position: relative;
    right: -10px;
    top: 10px;
    width: 36px;
}
.contact_map {
    padding-top: 45px;
}
.contact_btn{
    background: #3c1702 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    margin-top: 10px;
    padding: 10px 44px 10px 20px;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: right;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: right;
    }
    .links_img {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: right;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: right;
    }
}
@media (max-width: 1199px) {
    .services_box {
        height: 160px;
    }
}
@media (max-width: 767px) {
    .top_header {
        padding-bottom: 20px;
    }
    .slick-next {
        right: 5px;
    }
    .slick-prev {
        left: 5px;
    }
    .cp p{
        text-align: center;
    }
    .shabdiz{
        text-align: center;
    }
    #myCarousel.carousel .fill{
        height: 158px;
        margin-top: 63px;
    }
    #single_header h1 {
        margin: 90px auto 0;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .right_text_logo {
        margin: 55px 20px 0 0;
    }
}
}
.fa-refresh{
	cursor: pointer;;
}

<!-- tab -->
.album_gallery ul{padding-bottom: 25px;}
.album_gallery ul li{float: right;margin-top: 10px;}
.album_gallery img{width: 100%; height: 180px;margin-top: 16px;}
.gallery_title{text-align: center;padding-bottom: 6px;padding-top: 6px;}
.album_gallery a{color: #333 !important;text-decoration: none !important;}

.gallery_inner ul{margin-top: 25px;padding-bottom: 25px;}
.gallery_inner ul li{margin-top: 25px;}
.gallery_inner a{color: #333 !important; text-decoration: none !important;}

.gallery_cat{margin-top: 25px;}
.gallery_cat ul li{border-bottom: 1px solid #ccc;padding-bottom: 12px;padding-top: 12px;text-align: center;}
.gallery_cat a{color: #333 !important; text-decoration: none !important;}
.gallery_cat ul li:hover {
    background-color: #ffcc89;cursor: pointer;
}

.album_gallery ul li a span{text-align: center !important}
.quick_access .navbar-nav > li > a:hover {color: #fff !important;}
.quick_access .nav > li > a:hover, .nav > li > a:focus{background-color: #000;text-decoration: none;}

.video_gallery li{list-style:none !important;}
.video_gallery .selected-product-caption-inner{text-align: center;}
.video_gallery a{text-decoration: none !important; color: #333 !important}
     .tab-container {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            float: left;
        }

        /* BASIC TABS STYLE */
.basic-tabs [data-tab] {display: inline-block;padding: 10px;border: 1px solid #ddd;border-bottom: none;text-decoration: none;background-color: #fff;}
.basic-tabs [data-tab].tab-active {border-top: 2px solid #3498db;}
.basic-tabs [data-tab-content] {border: 1px solid #ddd;padding: 20px;float: left;width: 100%;}
        /* SIDE TABS STYLE */
.tab-links {width: 20%;float: right;}
.tab-content {width: 80%;float: left;}

        .side-tabs [data-tab] {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 5px;
            border: 1px solid #ddd;
            border-left: none;
            text-decoration: none;
            background-color: #fff;
        }

.side-tabs [data-tab].tab-active {border-top: 2px solid #fca600;}
.side-tabs [data-tab-content] {border: 1px solid #ddd;padding: 20px;float: left;width: 100%;}

        /* ACCORDION TABS STYLE */
        .accordion-tabs [data-tab] {
            display: block;
            width: 100%;
            float: left;
            padding: 10px;
            border: 1px solid #ddd;
        }
.accordion-tabs [data-tab].tab-active {border-bottom: 2px solid #3498db;}
.accordion-tabs [data-tab-content] {border: 1px solid #ddd;padding: 20px;float: left;width: 100%;}
.tab-links a{text-align: right;color: #fca600 !important;}
.innerservices_text{ direction: rtl;line-height: 40px;text-align: justify;}  
.title_innerservices{ color: #fca600;padding-bottom: 15px;text-align: right;} 
.fullservices{padding-bottom: 25px;} 
.btn-primary {
    background-color: #fca600 !important;
    border-color: #ccc !important;
    color: #fff;
}
#f_number p{font-family: YekanNumbers !important;}
.quick_access .nav{margin-right: 0px !important;}
.img-fade{
	-webkit-animation: fadein 6s; /* Safari and Chrome */
    -moz-animation: fadein 6s; /* Firefox */
    -ms-animation: fadein 6s; /* Internet Explorer */
    -o-animation: fadein 6s; /* Opera */
    animation: fadein 6s;
}

/* shop products */
/***********************Product****************************/
.product-main{background: #fcfcfc;padding-bottom: 25px}
.proud-main{border: 1px solid #ccc;height: 250px;}
.prod-img{height: 200px;padding: 10px;}
.prod-img img{width: 100%;height: 194px;}
.proud-main p{text-align: center; color: #333;font-size: 15px;padding-top: 10px;}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;margin-top: 30px;float: right;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.products{margin-top: 25px;}
.tab-links {width: 20%;float: right;}
.tab-content {width: 80%;float: left;margin-bottom: 27px;}

        .side-tabs [data-tab] {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 5px;
            border: 1px solid #ddd;
            border-left: none;
            text-decoration: none;
            background-color: #fff;
            text-align: right;
            color: #373737;
        }
.side-tabs [data-tab].tab-active {border-top: 2px solid #D8002F;}
.side-tabs [data-tab-content] {border: 1px solid #ddd;padding: 3px 20px 20px 20px;float: left;width: 100%;}
.main-descproud{border: 1px solid #ededed; margin-top: 25px; padding-top: 25px;margin-bottom: 30px;padding-bottom: 19px;}
.main-descproud img{width: 100%}
.image-descp{float: right;}
.descp{float: right; direction: rtl;}
.descp p{padding-top: 15px; line-height: 35px;text-align: justify;padding-left: 25px;color: #666 !important; clear: both}
.descp h3{margin-top: 0 !important;}
.phone p{margin: 0 !important;}
.hall{height: 170px; border: 1px solid #ededed;margin-bottom: 25px;}
#owl-demo2 .item img{width: 100%; padding: 5px; height: 130px;}
.form-control{border-radius: unset !important;}
.info ul li div{direction: ltr}   
.breadcrumb i{padding-left: 11px;color: #666}      
.descp table, th, td {border: 2px solid #d2d6de;border-collapse: collapse;padding: 8px;text-align: center;}
.descp table th{padding: 8px 33px;font-size: 17px;text-align: center;font-weight: normal !important;}
.descp table td{padding: 8px 33px;font-size: 14px;text-align: center}
.descp table, th{font-size: 14px;}
.descp table{margin-bottom: 25px;margin-top: 45px;float: right;}
.descp tr:nth-child(odd){background-color: #f2f2f2}   
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #D8002F !important;border-color: #D8002F !important;}  

/*blog-news */
.NewsBlogBack{
	background-color:#f6f4f4;
	width:100%;
/* 	position:absolute;
	top:600px; */
}
.NewsBack{
	background-color:rgba(205,174,81,0.34);
	height:auto;
	margin:20px;
	position:relative;
	z-index:1;
	padding:20px;
}
.NewsBlogTitle{
	color:#000;
	padding:20px;
	border-bottom:1px  solid #262420;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	
}
.NewsContent img{
	padding:20px 0px 0px 0px;
	width:100%;
	height:auto;
}
.NewsContent img:hover{
	/* background-color:rgba(0,0,0,0.2);
	padding:20px; */
}
.NewsContent p{
	padding:40px 40px 0px 10px;
	text-align:justify;
	color:#000;
	overflow: hidden;
    height: 100px;
}
.NewsContent p:hover{
	padding:40px 40px 0px 10px;
	text-align:justify;
	color:#f86208;
	-webkit-transition:color .6s ease;-o-transition:color .6s ease;
	transition:color .6s ease;
}
.BlogTitle{
	color:#0a9b3a;
	font-size:14px;
	padding-top:10px;
	font-weight:bold;
}
.BlogContent:hover .BlogTitle{
	color:#ef9b29;
	-webkit-transition:color .6s ease;-o-transition:color .6s ease;
	transition:color .6s ease;
	padding-left:5px;
	-webkit-transition:padding-left .6s ease;-o-transition:padding-left .6s ease;
	transition:padding-left .6s ease;
	font-size:14px;
	padding-top:10px;
	font-weight:bold;
}
.BlogContent p {
    padding: 3px 40px 0px 0px;
    text-align: justify;
    color: #000;
	font-size:12px;
	overflow: hidden;
    height: 50px;
}
.BlogContent img
{
	width: 100%;
    margin: 0px auto;
    text-align: center;
    padding-top: 10px;
}
.BlogContent:hover img
{
	opacity:0.8;
	-webkit-transition:opacity .6s ease;-o-transition:opacity .6s ease;
	transition:opacity .6s ease;
}
/**************************NEWS******************************/

.main-newscat h4{
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 12px;
    width: 100%;
    text-align: right;
}
.main-newscat ul{
    clear: both;
}
.main-newscat ul li{
    direction: rtl;
    float: right;
    clear: both;
    line-height: 31px;
    border-bottom: 1px solid #d9d9d9;
}
.main-newscat ul li a{
    color: #333 !important;
}
.main-newscat ul li i{
    padding-left: 12px;
}
.img-news img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.text-news p{
    direction: rtl;
    line-height: 29px;
    font-size: 13px;
    padding: 9px 15px;
}
.text-news > .more{}
.news-title a h4{
    padding-bottom: 12px;
    color: #ED1C24 !important;
    direction: rtl;
    padding-top: 11px;
}
.main-news{
    margin-top: 20px;
}
.box-news{
    margin-top: 15px;
    background-color: #F3F3F3;
}
.box-news .more > p{
    margin-top: -16px;
}
.box-news .more{
    padding:
}
.box-news .more a:hover{
    color: red !important;
    transition: all 0.5s ease-out;
}

/* portfolio item hover */
.ih-item.square {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    box-shadow: none !important;
}
        