@font-face {
    font-family: 'Yekan';
    src: url("../fonts/YekanWeb-Regular.eot");
    src: url("../fonts/YekanWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanWeb-Regular.woff") format("woff"), url("../fonts/YekanWeb-Regular.ttf") format("truetype"), url("../fonts/YekanWeb-Regular.svg#YekanWeb-Regular") format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility
}
@font-face {
    font-family: 'YekanNumbers';
    src: url("../fonts/YekanNumbers-Regular.eot");
    src: url("../fonts/YekanNumbers-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanNumbers-Regular.woff") format("woff"), url("../fonts/YekanNumbers-Regular.ttf") format("truetype"), url("../fonts/YekanNumbers-Regular.svg#YekanNumbers-Regular") format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility
}