<?php
 
$postUrl = $this->parameter;
 

?>
<div class="share-button green-share">
    <div class="lid"><i class="fa fa-share-alt" aria-hidden="true"></i>
     <span>اشتراک گذاری</span>
    </div>
    <div class="share-items-wrapper">
        <div class="share-items"> 
     
          <a href="<?php echo $this->socialMediaHelper()->share('telegram', array(
                                                 					    'url' => $postUrl,
                                                 					    'text' => $this->post['title']
                                                 					)); ?>" class="share-item">      
            <i class="fa fa-paper-plane" aria-hidden="true" style="padding:0px !important;padding-top:-2px;"></i>      
          </a>
          
          
          <a href="<?php echo $this->socialMediaHelper()->share('twitter', array(
                                                  						    'url' => $postUrl,
                                                  						    'text' => $this->post['title']
                                                  						)); ?>" class="share-item">
            <i class="fa fa-twitter" aria-hidden="true" style="padding:0px !important;padding-top:-2px;"></i>
          </a>
     
     
     
          <a href="<?php echo $this->socialMediaHelper()->share('g-plus', array(
                                                  						    'url' => $postUrl
                                                  						)); ?>" class="share-item">
            <i class="fa fa-google-plus" aria-hidden="true" style="padding:0px !important;padding-top:-2px;"></i>
          </a>
      
          <a href="<?php echo $this->socialMediaHelper()->share('facebook', array(
                                                  						    'url' => $postUrl
                                                  						)); ?>" class="share-item">
            <i class="fa fa-facebook" aria-hidden="true" style="padding:0px !important;padding-top:-2px;"></i>
          </a>
      
        </div>
  </div>
<div class="thank-you">
  Thank you
</div>
</div>
<script>
$('.share-button').on('mouseover',function(){  
	  $(this).addClass('open');
	})
	$('.share-button').on('mouseout',function(){  
	  $(this).removeClass('open');
	})
	 
	$( ".share-item" ).on('click',function(){
	   $('.share-button').addClass('shared');
	   setTimeout(function(){
	    $('.share-button').addClass('thankyou');
	  }, 800);
	  setTimeout(function(){
	    $('.share-button').removeClass('open');
	    $('.share-button').removeClass('shared');
	    $('.share-button').removeClass('thankyou');
	  }, 2500);
	});
    </script>