<?php 
	echo $this->headTitle('انجمن گفتگوی برنامه نویسان');
?>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/">صفحه اصلی</a></li>
                <li class="active">انجمن گفتگوی برنامه نویسان</li>
             </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">  
                <?php 
                $categories = array();
                if ($this->mainCategories) { ?> 
                    <ul class="nav nav-pills nav-stacked">
                    <?php 
                    foreach ($this->mainCategories as $mainCategoryId => $mainCategoryName) { ?>
                         <li role="presentation"><a href="#"><?php echo $this->escapeHtml($mainCategoryName);?></a>
                         <?php if (isset($this->categories[$mainCategoryId])) {?>
                             <ul class="nav nav-pills nav-stacked">
                                <?php foreach ($this->categories[$mainCategoryId] as $categoryId => $categoryName) {
                                    $categoryUrl = $this->urlGenerator()->forumCategoryUrl($categoryName);
                                    $categories[$categoryId] = $categoryName;
                                    echo "<li><a href='$categoryUrl'>" . $this->escapeHtml($categoryName) . "</a></li>";
                                }?> 
                                </ul>
                             </li> 
                         <?php }?>
                <?php } ?>
                     </ul>
                <?php } ?> 
        </div>
        <div class="col-md-9">
            <?php if ($this->topics) {?>
                <?php foreach ($this->topics as $topic) {
                            $categoryUrl = '#';
                            $categoryName = '';
                            if (isset($categories[$topic['forum_category_id']])) {
                                $categoryName = $categories[$topic['forum_category_id']];
                                $categoryUrl =  $this->urlGenerator()->forumCategoryUrl($categoryName);
                            }  
                            $userName = $this->escapeHtml($topic['firstname'] . " " . $topic['lastname']); 
                            $date = $this->date()->persianDate(strtotime($topic['create_time']), "Y/m/d");
                            $topicUrl = $this->urlGenerator()->forumTopicUrl($this->escapeHtml($categoryName), $this->escapeHtml($topic['topic_name']));
                            ?> 
                            <div class="col-md-12 bs-callout bs-callout-info">
                                <div class="col-md-1">
                                    <img class="img-rounded" src="<?php echo $this->gravatarGenerator()->getGravatar($topic['email'], '60')?>" title="<?php echo $userName?>"/>
                                </div>
                                <div class="col-md-11">
                                    <h4><a href="<?php echo $topicUrl;?>"><?php echo $this->escapeHtml($topic['topic_name']);?></a></h4>
                                    <small><?php echo $date . ' توسط ' . $userName;?></small>
                                    <p><?php echo $this->escapeHtml($topic['topic_content']);?></p>
                                    <div class="tags">
                                        <a href="<?php echo $categoryUrl;?>" class="label label-success"><?php echo $this->escapeHtml($categoryName);?></a>
                                    </div>
                                    <div  class="tags">
                                        <span class="label label-info">
                                            <i class="glyphicon glyphicon-comment"></i>&nbsp;<?php echo $topic['post_count']?>
                                         </span>    
                                     </div>
                                 </div>
                            </div>  
                    <?php 
                    }
                    echo $this->paginationControl($this->topics, 'Sliding', 'layout/paginator', array(
                        'route' => 'forum-home',
                        'params' => array()
                    ));
                } ?>  
        </div>
    </div>
</div>
