<?php 
echo $this->headTitle('انجمن گفتگوی برنامه نویسان - ' . $this->categoryName);
?>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/">صفحه اصلی</a></li>
                <li><a href="/forum">انجمن گفتگوی برنامه نویسان</a></li>
                <li><a href="<?php echo $this->urlGenerator()->forumCategoryUrl($this->escapeHtml($this->topic['category_name']));?>"><?php echo $this->escapeHtml($this->topic['category_name']); ?></a></li>
                <li class="active"><?php echo $this->escapeHtml($this->topic['topic_name']); ?></li>
            </ol>
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-12">
            <?php if ($this->topic) {
                $userName = $this->escapeHtml($this->topic['firstname'] . " " . $this->topic['lastname']);
                $topicUrl = $this->urlGenerator()->forumTopicUrl($this->escapeHtml($this->topic['category_name']), $this->escapeHtml($this->topic['topic_name']));
                $date = $this->date()->persianDate(strtotime($this->topic['create_time']), "Y/m/d");
                ?>
                 <div class="col-md-12 bs-callout bs-callout-info">
                     <div class="col-md-1">
                         <img class="img-rounded" src="<?php echo $this->gravatarGenerator()->getGravatar($this->topic['email'], '60')?>" title="<?php echo $userName?>"/>
                     </div>
                     <div class="col-md-11">
                         <h4 style="color: #000; "><?php echo $this->escapeHtml($this->topic['topic_name']);?></h4>
                         <small><?php echo $date . ' توسط ' . $userName;?></small>
                         <p><?php echo $this->escapeHtml($this->topic['topic_content']);?></p>
                     </div>
                </div>  
                <div style="clear:both;border-bottom:1px solid #666"></div>
                <?php 
                echo $this->flashMessenger()->render('success', array('alert', 'alert-success'));
                ?>
                <?php 
                $replyPosts = array();
                foreach ($this->posts as $post) {  
                            $userName = $this->escapeHtml($post['firstname'] . " " . $post['lastname']); 
                            $replyPosts[$post['id']] = array(
                                'userName' => $userName,
                                'post_id' => $post['id']
                            );
                            $date = $this->date()->persianDate(strtotime($post['create_time']), "Y/m/d");
                            
                            ?> 
                            <div class="col-md-12 bs-callout bs-callout-info post" id="post-<?php echo $post['id'];?>" data-id="<?php echo $post['id'];?>">
                                <div class="col-md-1">
                                    <img class="img-rounded" src="<?php echo $this->gravatarGenerator()->getGravatar($post['email'], '60')?>" title="<?php echo $userName?>"/>
                                </div>
                                <div class="col-md-11">
                                    <small><?php echo $date . ' توسط ' . $userName;?></small>
                                    <p class='post-content'><?php echo $this->escapeHtml($post['post_content']);?></p>
                                    <?php 
                                    if ($post['parent_id']) {
                                        if (isset($replyPosts[$post['parent_id']])) {
                                            echo "<p class='replied-to'>در پاسخ به <a href='#post-" . $replyPosts[$post['parent_id']]['post_id'] . "'>" . $replyPosts[$post['parent_id']]['userName'] . "</a></p>";
                                        }
                                    }
                                    ?>
                                    <div class="form-box"></div>
                                    <?php if ($this->userData && $this->userData->id == $post['user_id']) {?>
                                        &nbsp;&nbsp;<small><span class="edit">ویرایش</span></small>                                    
                                    <?php } else {?>
                                        <?php if ($this->userData) { ?>
                                            &nbsp;&nbsp;<small><span class="reply-to">پاسخ</span></small>
                                        <?php }?>
                                    <?php }?>
                                 </div>
                            </div>  
                            <div class="col-md-12 post-info" id="post-info-<?php echo $post['id'];?>" data-id="<?php echo $post['id'];?>">
                                <div class="thanks-list">
                                <?php 
                                $thanksBefore = false;
                                if ($post['thanks_ids'] && $post['thanks_user_ids']) {
                                    $thanksIds = explode(",", $post['thanks_ids']);
                                    $thanksUsers = explode(",", $post['thanks_user_ids']);
                                    foreach ($thanksIds as $key => $thanksId) {
                                        if ($this->userData && $thanksUsers[$key] == $this->userData->id) {
                                            $thanksBefore = true;
                                        }
                                        echo "<small>" . ($this->userData && $thanksUsers[$key] == $this->userData->id?"<i class='delete-thanks' data-id='$thanksId'>X</i>&nbsp;":"") . 
                                        "<span class='thanks-item'>{$this->users[$thanksUsers[$key]]}</span></small>";
                                    }
                                } 
                                ?>
                                </div>
                                <?php if ($this->userData && !$thanksBefore) { ?>
                                    <small><span class="thanks">تشکر</span></small>
                                <?php }?>
                            </div>
                    <?php 
                    }  
                  echo $this->paginationControl($this->posts, 'Sliding', 'layout/paginator', array(
                      'route' => 'forum_topic',
                      'params' => array(
                            'slug' => $this->escapeHtml($this->slug),
                            'topic' => $this->escapeHtml(str_replace(" ", "-", $this->topic['topic_name']))
                       )
                  )); ?>
            <?php if ($this->userData) { ?>
            <div style="clear:both;margin-top:10px;padding-top: 50px;"></div>
                <form action="" method="post" id="post-0">
                    <input type="hidden" name="parent" value="0" >
                    <div class="form-group">
                    	<textarea name="post" placeholder="متن"  class="form-control" id="post"></textarea> 
                    </div>
                    <input type="submit" value="ثبت" class="btn btn-success btn-xs">      
                </form>
            <?php } else { ?>
                <div class="alert alert-danger">برای ثبت نظر وارد حساب کاربری خود شوید.</div>
            <?php } ?>
            <?php 
            } ?>  
        </div>
    </div>

</div> 
<script type="text/javascript">
$('.thanks').click(function() {
	$('.thanks-message').remove();
    var postId = $(this).closest('.post-info').attr('data-id');
    var $this = $(this);
    $.ajax({
        url:'<?php echo $this->url('ajax_forum', array('action' => 'add-thanks'));?>',
        method:"post",
        data:{id:postId},
        success:function(data) {
            var result = data;
            if (result.status) {
            	$this.closest('.post-info').html("<small><i class='delete-thanks' data-id='"+result.thanksid+"'>X</i>&nbsp;<span class='thanks-item'>"+result.message+"</span></small>");
            } else {
            	$this.closest('.post-info').append("<small><span class='thanks-message'>"+result.message+"</span></small>");
            }
        }
    });
});
$('body').on('click', '.delete-thanks', function() {
	$('.thanks-message').remove();
    var postThanksId = $(this).attr('data-id');
    var $this = $(this);
    $.ajax({
        url:'<?php echo $this->url('ajax_forum', array('action' => 'remove-thanks'));?>',
        method:"post",
        data:{id:postThanksId},
        success:function(data) {
            var result = data;
            if (result.status) {
            	$this.closest('small').fadeOut(500, function(){ $(this).remove() });
            } else {
            	$this.closest('.post-info').append("<small><span class='thanks-message'>"+result.message+"</span></small>");
            }
        }
    });
});
var defaultPost = '<?php echo $this->escapeHtml($this->post); ?>';
var error = '<?php echo $this->error?>';
$('.reply-to').click(function() {
	$('.alert').remove();
	$('.reply-to').show();
	$('.edit').show();
	$(this).hide();
	var parentId = $(this).closest('.post').attr('data-id');
	var template = '<form class="reply-box" action="" method="post"> \
        <input type="hidden" name="parent" value="'+parentId+'" > \
        <div class="form-group"> \
        	<textarea name="post" placeholder="متن پاسخ" class="form-control">'+defaultPost+'</textarea> \
        </div> \
        <input type="submit" value="ثبت" class="btn btn-success btn-xs"> \
        </form>';
	$('.reply-box').remove();
	defaultPost = '';
	$(this).closest('div').find('.form-box').html(template); 
    if (error) {
    	$(this).after('<div class="alert alert-danger">'+error+'</div>');
    	error = false;
    }
});
$('.edit').click(function() {
	$('.alert').remove();
	$('.edit').show();
	$('.reply-to').show();
	$(this).hide();
	var postText = $(this).closest('div').find('.post-content').text();
	var parentId = $(this).closest('.post').attr('data-id');
	var template = '<form class="reply-box" action="" method="post"> \
        <input type="hidden" name="edit_post_id" value="'+parentId+'" > \
        <div class="form-group"> \
        	<textarea name="post" class="form-control">'+postText+'</textarea> \
        </div> \
        <input type="submit" value="ثبت ویرایش" class="btn btn-success btn-xs"> \
        </form>';
	$('.reply-box').remove();
	defaultPost = '';
	$(this).closest('div').find('.form-box').html(template); 
    if (error) {
    	$(this).after('<div class="alert alert-danger">'+error+'</div>');
    	error = false;
    }
});
<?php if ($this->parent !== false) {?>
var dest = $('#post-<?php echo $this->parent; ?>').offset().top;
$('html,body').animate({
    scrollTop: dest
}, 1000, 'swing');
<?php if ($this->parent) { ?>
    $('#post-<?php echo $this->parent; ?> .reply-to').trigger('click');
<?php } else {?>
    $('#post-0').prepend('<div class="alert alert-danger">'+error+'</div>');
    $('#post').val(defaultPost);
    defaultPost = '';
    error = false;
  <?php 
    }
} ?>
<?php if ($this->edit_post_id !== false) {?>
var dest = $('#post-<?php echo $this->edit_post_id; ?>').offset().top;
$('html,body').animate({
    scrollTop: dest
}, 1000, 'swing');
<?php if ($this->edit_post_id) { ?>
    $('#post-<?php echo $this->edit_post_id; ?> .edit').trigger('click');
<?php } else {?>
    $('#post-0').prepend('<div class="alert alert-danger">'+error+'</div>');
    $('#post').val(defaultPost);
    defaultPost = '';
    error = false;
  <?php 
    }
} ?>
</script>