<?php 
	echo $this->headTitle("افزودن تاپیک جدید");
	$topicForm = $this->topicForm;
	$topicForm->prepare();
?>
<div class="row" style="margin:20px;">
<?php 
	echo $this->form()->openTag($topicForm);
	echo $topicForm->get('forum_category_id')->getLabel();
	echo $this->formElement($topicForm->get('forum_category_id')); 
	echo $topicForm->get('topic_name')->getLabel();
	echo $this->formElement($topicForm->get('topic_name')); 
	echo $topicForm->get('topic_content')->getLabel();
	echo $this->formElement($topicForm->get('topic_content')); 
	echo $this->formElement($topicForm->get('csrf'));
	echo '<br>';
	echo $this->formElement($topicForm->get('submit'));
	
	echo $this->form()->closeTag();
?>
</div>