<?php 
	echo $this->headTitle("ویرایش دسته بندی اصلی");
	$mainCategoryForm = $this->mainCategoryForm;
	$mainCategoryForm->prepare();
?>
<div class="row" style="margin:20px;">
<?php 
	echo $this->form()->openTag($mainCategoryForm);
	echo $mainCategoryForm->get('name')->getLabel();
	echo $this->formElement($mainCategoryForm->get('name')); 
	echo $this->formElement($mainCategoryForm->get('csrf'));
	echo '<br>';
	echo $this->formElement($mainCategoryForm->get('submit'));
	
	echo $this->form()->closeTag();
?>
</div>