<?php 
	echo $this->headTitle("ویرایش دسته بندی");
	$categoryForm = $this->categoryForm;
	$categoryForm->prepare();
?>
<div class="row" style="margin:20px;">
<?php 
	echo $this->form()->openTag($categoryForm);
	echo $categoryForm->get('name')->getLabel();
	echo $this->formElement($categoryForm->get('name')); 
	echo $categoryForm->get('main_category_id')->getLabel();
	echo $this->formElement($categoryForm->get('main_category_id')); 
	echo $this->formElement($categoryForm->get('csrf'));
	echo '<br>';
	echo $this->formElement($categoryForm->get('submit'));
	
	echo $this->form()->closeTag();
?>
</div>