<?php 
	echo $this->headTitle("تلیست دسته بندی های انجمن");
?>
<h4>مدیریت انجمن ها</h4>
<table class="table table-hover table-striped">
  <tr>
    <td><strong>#</strong></td>
    <td><strong>نام انجمن</strong></td>
    <td><strong>نام گروه</strong></td>
    <td><strong>ویرایش انجمن</strong></td>
    <td><strong>حذف انجمن</strong></td>  
  </tr>
  <?php 
  	if($this->categories) { 
  		foreach ($this->categories as $counter => $category) {
           ?>
          <tr>
            <td><?php echo ++$counter; ?></td>
            <td><?php echo $category['name']; ?></td>
            <td><?php echo $category['main_category_name']; ?></td>
            <td><a class="btn btn-xs btn-success" href="<?php  echo $this->url('forum-admin', array(
            		'action' => 'edit-category',
            		'id' => $category['id']
            ));  ?>"><span class="glyphicon glyphicon-pencil"></span></a></td>
	   <td ><a class="btn btn-xs btn-danger delete-btn" href="<?php echo $this->url('forum-admin', array(
            		'action' => 'delete-category',
            		'token' => $this->hash,
            		'id' => $category['id']
            ));  ?>"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
          <?php 
  		} 
  	}
  ?>
</table>