<?php 
	echo $this->headTitle("لیست دسته بندی های اصلی انجمن");
?>
<h4>مدیریت نام گروه های اصلی انجمن</h4>
<table class="table table-hover table-striped">
  <tr>
    <td><strong>#</strong></td>
    <td><strong>نام گروه</strong></td> 
    <td><strong>ویرایش گروه</strong></td>  
    <td><strong>حذف گروه</strong></td>  
  </tr>
  <?php 
  	if($this->categories) {
  		$row = 1;
  		foreach ($this->categories as $counter => $category) {
          ?>
          <tr>
            <td><?php echo ++$counter; ?></td>
            <td><?php echo $this->escapeHtml($category['name']); ?></td> 
            <td><a class="btn btn-xs btn-success" href="<?php  echo $this->url('forum-admin', array(
            		'action' => 'edit-main-category',
                    'id' => (int)$category['id']
            ));  ?>"><span class="glyphicon glyphicon-pencil"></span></a></td>
	   <td ><a class="btn btn-xs btn-danger delete-btn" href="<?php echo $this->url('forum-admin', array(
            		'action' => 'delete-main-category',
                    'id' => (int)$category['id'],
                    'token' => $this->hash
            ));  ?>"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
          <?php 
  		} 
  	}
  ?>
</table>