<?php 
	echo $this->headTitle("لیست پست های انجمن");
?>
<h4>مدیریت تاپیک های ارسالی انجمن</h4>
<table class="table table-hover table-striped">
  <tr>
    <td><strong>#</strong></td>
    <td><strong>عنوان تاپیک</strong></td> 
    <td><strong>انجمن</strong></td>  
    <td><strong>پست</strong></td>  
    <td><strong>کاربر</strong></td>  
    <td><strong>حذف</strong></td>  
  </tr>
  <?php 
  	if($this->posts) {
  		$row = 1;
  		foreach ($this->posts as $counter => $post) { 
  			$userName = $post['firstname'] . ' ' . $post['lastname'];
          ?>
          <tr>
            <td><?php echo ++$counter; ?></td>
            <td><?php echo $this->escapeHtml($post['topic_name']); ?></td> 
            <td><?php echo $this->escapeHtml($post['category_name']); ?></td>  
            <td><?php echo $this->escapeHtml($post['post_content']); ?></td>  
            <td><?php echo $this->escapeHtml($userName); ?></td>  
	        <td ><a class="btn btn-xs btn-danger delete-btn" href="<?php echo $this->url('forum-admin', array(
            		'action' => 'delete-post',
                    'id' => (int)$post['id'],
                    'token' => $this->hash
            ));  ?>"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
          <?php 
  		} 
  	}
  ?>
</table>