<?php 
	echo $this->headTitle("لیست تاپیک های انجمن");
?>
<h4>مدیریت تاپیک های ارسالی انجمن</h4>
<table class="table table-hover table-striped">
  <tr>
    <td><strong>#</strong></td>
    <td><strong>عنوان</strong></td> 
    <td><strong>نام انجمن</strong></td>  
    <td><strong>ویرایش</strong></td>  
    <td><strong>حذف</strong></td>  
  </tr>
  <?php 
  	if($this->topics) {
  		$row = 1;
  		foreach ($this->topics as $counter => $topic) { 
          ?>
          <tr>
            <td><?php echo ++$counter; ?></td>
            <td><?php echo $this->escapeHtml($topic['topic_name']); ?></td> 
            <td><?php echo $this->escapeHtml($topic['category_name']); ?></td> 
            <td><a class="btn btn-xs btn-success" href="<?php echo $this->url('forum-admin', array(
            		'action' => 'edit-topic',
                    'id' => (int)$topic['id']
            ));  ?>"><span class="glyphicon glyphicon-pencil"></span></a></td>
	        <td ><a class="btn btn-xs btn-danger delete-btn" href="<?php echo $this->url('forum-admin', array(
            		'action' => 'delete-topic',
                    'id' => (int)$topic['id'],
                    'token' => $this->hash
            ));  ?>"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
          <?php 
  		} 
  	}
  ?>
</table>