<!-- Content Header (Page header) -->
<?php
	echo $this->headTitle('Add new layout');
?>
<section class="content-header">
    <h1>
        <?php echo __('Add new layout'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new layout'); ?></li>
    </ol>
</section>
 <!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add new layout');?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
            	$Form = $this->Form;
            	$Form->prepare();
            	echo $this->form()->openTag($Form);
            ?>
            <div class="row">
                    <div class="col-lg-6">
                         <!--  help -->
                        <fieldset class="help-form">    	
        					<legend>  راهنمای ایجاد لی اوت</legend>
    						<p>
    						ایجاد لی اوت برای زمانی است که شما میخواهید بلاکی را با ظاهر متفاوت ایجاد کنید، بدین ترتیب شما، لی اوت مد نظر خود را ایجاد میکنید و در صفحه اضافه و یا ویرایش بلاک، لی اوت مدنظر را برای اینکه بلاک با آن ظاهر به نمایش در بیاید انتخاب میکنید
    						<br />
    						امکان ایجاد لی اوت هم در این جا و هم در بخش کدنویسی فراهم شده است
    						</p>
            			</fieldset>	
                    </div>
                    <div class="col-lg-6">
                    	<div class="form-group">
                    		<label class="control-label"><?php echo $this->formLabel($Form->get('name')); ?></label>
                        	<?php echo $this->formElement($Form->get('name'));
                        	echo $this->formElementErrors($Form->get("name")); ?>
                    	</div>
                    	<div class="form-group">
                    		<label class="control-label"><?php echo $this->formLabel($Form->get('layout_style')); ?></label>
                        	<?php echo $this->formElement($Form->get('layout_style')); 
                        	echo $this->formElementErrors($Form->get("layout_style"));?>
                    	</div>
                    </div>
            </div>
        	
        	<div class="form-group pull-left">
        	   <?php 
            	   echo $this->formElement($Form->get('csrf'));
            	   echo $this->formElementErrors($Form->get("csrf"));
            	   echo $this->formElement($Form->get('submit'));
        	   ?>
                <a href="/<?php echo $this->layout()->lang;?>/admin-block/lists-layout" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
        	</div>
        	<?php 
        		echo $this->form()->closeTag();
        	?>
        </div>
    </div>
</section>
<!-- Modal HTML -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <p><?php echo __('Just use lower case letter!');?></p>
                </div>
                <div class="modal-footer">
                    <div class="form-group pull-left">
                        <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#"><?php echo __('Ok');?></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
	$('#layout-name').blur(function(){
    	var value = $(this).val();
	   if (value.match(/^[a-z0-9_\-]+$/) === null){
		  $('#save').val('');
			$('#modal').modal();
  	        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
		  
	   }
    	});

</script>
<script type='text/javascript'>
    $(document).ready(function(){
       $("#form").validationEngine(); 
       $('#update-menu').click(function(e){ 
          // e.preventDefault();
           if($("#form").validationEngine('validate')) 
           {
          	   $("#form").submit();
           }
       });
    }); 
</script>