<!-- Content Header (Page header) -->
<?php
	echo $this->inlineScript()->prependFile($this->basePath('/tinymce/tinymce.min.js'));
?>
<script type="text/javascript">
	    tinymce.init({
	    	directionality : 'rtl',
	    	height: 200,
	        plugins: [
	                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
	                  "searchreplace visualblocks visualchars code fullscreen",
	                  "insertdatetime media nonbreaking save table contextmenu directionality",
	                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
	              ],
	        selector: "#block-content",
	      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
	      	relative_urls: false
	    });
</script>
<style>
.display{display: none;}
</style>
<section class="content-header">
    <h1>
        <?php echo __('Add new block'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new block'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add new block');?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
            	$blockForm = $this->blockForm;
            	$blockForm->prepare();
            	echo $this->form()->openTag($blockForm);
            ?>
            <div class="row">
                <div class="col-lg-7">
                  <!--  help -->
                    <fieldset class="help-form">    	
    					<legend>   راهنمای ایجاد بلوک</legend>
						<p>
						1-فیلد انتخاب نوع مشخص می کند که شما میخواهید یک بلاک ساده ایجاد کنید یا اینکه بلاک شامل خروجی ای از جداول دیتابیس است
						<br />
						2-فیلد انتخاب زبان مشخص میکند که بلاک شما در چه زبانی قرار است به نمایش در بیاید
						<br />
						3-فیلد موقعیت،مکان قرار گرفتن بلاک را مشخص میکند، این موقعیت در کدنویسی استفاده می شود و کاربران عادی نباید آن را تغییر دهند
						<br />
						4- انتخاب لی آوت این امکان را میدهد که ظاهر متفاوتی برای بلاک خود ایجاد نمایید
						<br />
						5- فیلد محتوا  جهت مشخص کردن محتوای بلاک به کار می رود ، به عنوان مثال محتوای بلاک شما می تواند حاوی آدرس یا تلفن وب سایت یا یک تصویر یا هر چیز دیگه باشد
						</p>
        			</fieldset>	
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($blockForm->get('block_type')); ?></label>
                    	<?php echo $this->formElement($blockForm->get('block_type'));
                    	echo $this->formElementErrors($blockForm->get("block_type")); ?>
                	</div>	
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($blockForm->get('block_lang')); ?></label>
                    	<?php echo $this->formElement($blockForm->get('block_lang'));
                    	echo $this->formElementErrors($blockForm->get("block_lang")); ?>
                	</div>	
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($blockForm->get('block_position')); ?></label>
                    	<?php echo $this->formElement($blockForm->get('block_position')); 
                    	echo $this->formElementErrors($blockForm->get("block_position"));?>
                	</div>
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($blockForm->get('layout')); ?></label>
                    	<?php echo $this->formElement($blockForm->get('layout')); 
                    	echo $this->formElementErrors($blockForm->get("layout"));?>
                    </div>
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($blockForm->get('block_content')); ?></label>
                    	<?php echo $this->formElement($blockForm->get('block_content')); 
                    	echo $this->formElementErrors($blockForm->get("block_content"));?>
                    </div>
                </div>
                <div class="col-lg-5 display">
                 <!--  help -->
                    <fieldset class="help-form">    	
							<legend style="width:75%">  راهنمای ایجاد بلوک از محتوای سایر جداول و موجودیت ها</legend>
							<p>
							در صورتیکه بلوک شما از نوع create block from entity باشد، این بخش برای شما فعال می شود
    						1-فیلد انتخاب نوع، جهت انتخاب خروجی کوئری از یک جدول و یا کوئری دیگر به کار میرود
    						<br />
    						2-فیلد مرتب سازی، نوع مرتب سازی که صعودی باشد یا نزولی را مشخص میکند
    						<br />
    						3-تعداد آیتم ها مشخص میکند که  چند آیتم از میان همه آیتم ها به نمایش گذاشته شود
							</p>
        			</fieldset>	
        			
                    <div class="form-group " >
                		<label class="control-label"><?php echo $this->formLabel($blockForm->get('block_kind')); ?></label>
                    	<?php echo $this->formElement($blockForm->get('block_kind')); 
                    	echo $this->formElementErrors($blockForm->get("block_kind"));?>
                	</div>
                	<div class="form-group display" >
                		<label class="control-label"><?php echo $this->formLabel($blockForm->get('order_by')); ?></label>
                    	<?php echo $this->formElement($blockForm->get('order_by')); 
                    	echo $this->formElementErrors($blockForm->get("order_by"));?>
                	</div>
                	<div class="form-group display" >
                		<label class="control-label"><?php echo $this->formLabel($blockForm->get('block_limit')); ?></label>
                    	<?php echo $this->formElement($blockForm->get('block_limit')); 
                    	echo $this->formElementErrors($blockForm->get("block_limit"));?>
                	</div>
                	
                </div>
            </div>
            <div class="form-group pull-left">
               <?php 
            	   echo $this->formElement($blockForm->get('csrf'));
            	   echo $this->formElementErrors($blockForm->get("csrf"));
            	   echo $this->formElement($blockForm->get('submit'));
               ?>
               <?php 
            	   echo $this->formElement($blockForm->get('csrf'));
            	   echo $this->formElementErrors($blockForm->get("csrf"));
            	   echo $this->formElement($blockForm->get('submit2'));
               ?>
                <a href="/<?php echo $this->layout()->lang;?>/admin-block/add-layout" target="_blanck" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i><?php echo __("Add new layout")?></a>
                <a href="/<?php echo $this->layout()->lang;?>/admin-block/list-blocks" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
            </div>
            <?php 
            	echo $this->form()->closeTag();
            ?>
        </div>
    </div>
</section>
<script type="text/javascript">
$(document).ready(function(){ 
   $("#blockForm").validationEngine(); 
   $('#submit').click(function(e){ 
      // e.preventDefault();
       if($("#blockForm").validationEngine('validate')) 
       {
      	   $("#blockForm").submit();
       }
   });
});  
$('#block-type').on('change', function(){
	if ($(this).val() === 'Entity')
	{
		$('.display').css('display', 'block');
	}else{
		$('.display').css('display', 'none');
	}
});
                
</script>
