<!-- Content Header (Page header) -->

<section class="content-header">
<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
    <li class="active"><?php echo __('List links');?></li>
  </ol>
</div>  
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('List links');?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
<table class="table table-hover table-hover">
  <tr>
   <th class="td-sm">#</th>
   <th>عنوان</th>
    <th class="td-sm">ویرایش</th>
    <th class="td-sm">حذف</th>  
  </tr>
  <?php  
  		if($this->links) {
  			foreach ($this->links as $counter => $link) {  
			  ?>				
			    <tr>
				    <td><?php echo ++$counter ?></td>
				    <td><?php echo $this->escapeHtml($link['url']); ?></td>
				    <td><a class="btn btn-xs btn-success" href="<?php echo $this->url('link-admin', array(
				    		'id'         => $link['id'],
				    		'controller' => 'admin',
				    		'action'     => 'edit-link'
				    )); ?>"><span class="glyphicon glyphicon-pencil"></span></a></td>
				    <td><a class="btn btn-xs btn-danger delete-btn" href="<?php echo $this->url('link-admin', array(
				    		'id'         => $link['id'],
				    		'controller' => 'admin',
				    		'action'     => 'delete-link',
				    		'token'      => $this->csrf
				    )); ?>"><span class="glyphicon glyphicon-remove"></span></a></td>
			  </tr> 
			  <?php 
  		}
  	}
  ?>   
</table>
<a href="<?php echo $this->url('link-admin', array('action' => 'add-link', 'controller' => 'admin')); ?>" class="btn btn-primary">ا<?php echo __("Add new link");?></a>
<!-- Modal HTML -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <h5>آیا مطمئن هستید که قصد حذف این پیوند را دارید؟</h5>
                    <p>توجه داشته باشید که در صورت حذف پیوند، امکان بازگرداندن آن وجود نخواهد داشت.</p>
                </div>
                <div class="modal-footer">
                    <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#">آری، قصد حذف این پیوند را دارم</a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $('.delete-btn').click(function(e) {
        e.preventDefault();
        $('#modal').modal();
        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
    });
</script> 
</div>
</div>
</section>