<!-- Content Header (Page header) -->

<section class="content-header">
<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
    <li class="active"><?php echo __("List layouts");?></li>
  </ol>
</div>  
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("List layouts");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered table-hover">
              <tr>
                <th class="td-sm"><?php echo _('#'); ?></th>
                <th><?php echo __('Uniq name'); ?></th>
                 <th class="td-sm td-edit"><?php echo __('Edit'); ?></th>
                <th class="td-sm"><?php echo  __('Delete'); ?></th>  
              </tr>
              <?php  
              		if($this->layouts) { 
              			foreach ($this->layouts as $counter => $lay) { 
            			  ?>				
            			    <tr>
            				    <td><?php echo $counter++; ?></td>
            				    <td><?php echo $this->escapeHtml($lay['name']); ?></td>
            
            				    <td class="sl-align-center"><a href="<?php echo $this->url('block-admin', array(
            				    		'name'         => $lay['name'],
            				    		'controller' => 'admin',
            				    		'action'     => 'edit-layout'
            				    )); ?>"><?php echo '<span class="glyphicon glyphicon-edit"></span>'; ?></a></td>
            				    <td class="sl-align-center"><a class="delete-btn" href="<?php echo $this->url('block-admin', array(
            				    		'name'         => $lay['name'],
            				    		'controller' => 'admin',
            				    		'action'     => 'delete-layout',
            				    		'token'      => $this->csrf
            				    )); ?>" ><?php echo '<span class="glyphicon glyphicon-remove"></span>'; ?></a></td>
            			  </tr> 	       
              		       <?php  
              		}
              	}
              ?>   
            </table>
            <div class="sl-margin-top">
                <a href="<?php echo $this->url('block-admin', array('action' => 'add-layout', 'controller' => 'admin')); ?>" class="btn btn-primary"><?php echo __("Add") ?></a>
            </div>
        </div>
    </div>
</section>

<!-- Modal HTML -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <h5><?php echo __('Are you sure to delete this?')?></h5>
                    <p><?php echo __('Pay attention: after delete the item, you could not recover it!')?></p>
                </div>
                <div class="modal-footer">
                    <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#"><?php echo __('Yes! I want to delete.')?></a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $('.delete-btn').click(function(e) {
        e.preventDefault();
        $('#modal').modal();
        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
    });
</script> 
