<section class="content-header">
    <h1>
        <?php echo __('Add public user'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add public user'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Add public user");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <form action="" name="CompanyForm" method="post">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                    		<label class="control-label">نام کاربری</label>
                        	<input name="username" id="" class="form-control"  placeholder="نام کاربری" value="" type="text" required>
                	   </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                    		<label class="control-label">کلمه عبور</label>
                        	<input name="password" id="" class="form-control"  placeholder="کلمه عبور" value="" type="password" required>
                	   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                    		<label class="control-label">آدرس ایمیل</label>
                        	<input name="email" id="" class="form-control"  placeholder="آدرس ایمیل" value="" type="text" required>
                	   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                    		<label class="control-label">نام</label>
                        	<input name="firstname" id="" class="form-control"  placeholder="نام" value="" type="text">
                	   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                    		<label class="control-label">شغل</label>
                        	<input name="job" id="" class="form-control"  placeholder="شغل" value="" type="text">
                	   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                    		<label class="control-label">شماره تماس</label>
                        	<input name="phone" id="" class="form-control"  placeholder="شماره تماس" value="" type="text">
                	   </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                    		<label class="control-label">شماره همراه</label>
                        	<input name="mobile" id="" class="form-control"  placeholder="شماره همراه" value="" type="text">
                	   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                   <div class="form-group">
            		  <label class="control-label">ارسال خبرنامه</label>
                	  <div class="onoff">
            		      <input type="checkbox" value="1" id="checkboxID2" name="newsletter"><label for="checkboxID2"></label>
            		  </div>
            		</div>
                </div>
            </div>
               <div class="row">
                  <div class="form-group">
                		<label class="control-label">آدرس</label>
            		</div>
        		</div>
               <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                      <div class="form-group">
                        	<input name="area" id="" class="form-control"  placeholder="منطقه" value="" type="text">
                	   </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                      <div class="form-group">
                        	<input name="district" id="" class="form-control"  placeholder="محله" value="" type="text">
                	   </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        	<input name="address" id="" class="form-control"  placeholder="آدرس کامل" value="" type="text">
                	   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                	<input type="submit" class="btn btn-primary" value="ثبت اطلاعات" >
                </div>
            </div>
        </form>
    </div>
</section>
