<section class="content-header">
	<h1>
        <?php echo __('Add seller user'); ?>
        <small><?php echo __("Control panel")?></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i
				class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
		<li class="active"><?php echo __('Add seller user'); ?></li>
	</ol>
</section>
<!-- Main content -->
<section class="content">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title"><?php echo __("Add seller user");?></h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<form action="" name="CompanyForm" method="post">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<label class="control-label">نام کاربری</label> <input
								name="username" id="" class="form-control"
								placeholder="نام کاربری" value="" type="text" required>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<label class="control-label">کلمه عبور</label> <input
								name="password" id="" class="form-control"
								placeholder="کلمه عبور" value="" type="password" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<label class="control-label">نام</label> <input name="firstname"
								id="" class="form-control" placeholder="نام" value=""
								type="text" required>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<label class="control-label">نام خانوادگی</label> <input
								name="firstname" id="" class="form-control"
								placeholder="نام خانوادگی" value="" type="text" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<label class="control-label">آدرس ایمیل</label> <input
								name="email" id="" class="form-control" placeholder="آدرس ایمیل"
								value="" type="text" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<label class="control-label">شماره تماس</label> <input
								name="phone" id="" class="form-control" placeholder="شماره تماس"
								value="" type="text">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<label class="control-label">شماره همراه</label> <input
								name="mobile" id="" class="form-control"
								placeholder="شماره همراه" value="" type="text">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-3">
						<div class="form-group">
							<label class="control-label">پیوند ارسال رزومه کاری</label> <input
								name="cv_file" id="" class="form-control" value="" type="file">
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<div class="form-group">
							<label class="control-label">سابقه کاری</label> <input
								name="work_exp" id="" class="form-control" value="" type="text">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<label class="control-label">پیوند ارسال نمونه کار</label> <input
								name="work_samples" id="" class="form-control"
								placeholder="شماره همراه" value="" type="file">
						</div>
					</div>
				</div>
				<div class="row">
					<label class="control-label">توضیحات</label>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<textarea name="description" class="form-control" rows="5"
								placeholder="توضیحات بنیس در مورد این طراح"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-left">
						<input type="submit" class="btn btn-primary" value="ثبت اطلاعات">
					</div>
				</div>
		</div>
		</form>
	</div>
</section>
