<?php
    $this->headTitle(__('Add new User'));

    echo $this->headScript()->appendFile('/js/js-persian-cal-mbr.js');
    echo $this->headlink()->prependStylesheet($this->basePath('/css/js-persian-cal.css'));
	echo $this->inlineScript()->prependFile($this->basePath('/tinymce/tinymce.min.js'));
	echo $this->headScript()->appendFile('/js/select2.full.min.js');
	$Form = $this->Form;
	$Form->prepare();
?>
<script type="text/javascript">
$('document').ready(function(){
    $('#date_of_birth').persiancalendar({defaultFormat:"yyyy/mm/dd"});
    tinymce.init({
    	directionality : 'rtl',
    	height: 200,
        plugins: [
                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                  "searchreplace visualblocks visualchars code fullscreen",
                  "insertdatetime media nonbreaking save table contextmenu directionality",
                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
              ],
        selector: "#research",
      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
      	relative_urls: false
    });
    tinymce.init({
    	directionality : 'rtl',
    	height: 200,
        plugins: [
                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                  "searchreplace visualblocks visualchars code fullscreen",
                  "insertdatetime media nonbreaking save table contextmenu directionality",
                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
              ],
        selector: "#experience",
      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
      	relative_urls: false
    });
    tinymce.init({
    	directionality : 'rtl',
    	height: 200,
        plugins: [
                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                  "searchreplace visualblocks visualchars code fullscreen",
                  "insertdatetime media nonbreaking save table contextmenu directionality",
                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
              ],
        selector: "#aboutme",
      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
      	relative_urls: false
    });
});
</script>
<section class="content-header">
    <h1>
        <?php echo __('Add new user'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new user'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
            <div class="box-header">
                <h3 class="box-title"><?php echo __("Add new page");?></h3>
            </div><!-- /.box-header -->
            <div class="box-body">
            <?php 
	           echo $this->form()->openTag($Form);
            ?>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">تنظیمات کاربری (ضروری)</a></li>
                <li><a data-toggle="tab" href="#menu2">اطلاعات شخصی (ضروری)</a></li>
                <li><a data-toggle="tab" href="#menu3">اطلاعات تماس (ضروری)</a></li>
                <li><a data-toggle="tab" href="#menu4">اطلاعات آدرس (اختیاری)</a></li>
                <li><a data-toggle="tab" href="#menu5"> اطلاعات شغلی و تحصیلی - مشترک در همه زبان ها (اختیاری)</a></li>
              </ul>
            
              <div class="tab-content">
              <!-- user configuration -->
                <div id="home" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-lg-4">
                            <!--  help -->
                             <fieldset class="help-form" id="tour5">
                                    <legend style="width:75%;">
                                     راهنمای تنظیمات کاربری
                					</legend>
        							<p>
        							1- در این بخش ، ابتدا زبان سایت را برای مشخص کردن کاربران آن زبان مشخص میکنیم
        							<br/>
        							2- در بخش تنظیمات کاربری، ابتدا باید سطح دسترسی کاربر را مشخص کنید، مدیر سایت دارای بالاترین سطح دسترسی است و به ترتیب سطوح پایین تر دارای سطوح دسترسی کمتری هستند
        							<br/>
        							3- وضعیت ، دسترسی کاربر را فعال یا غیرفعال میکند
        							<br/>
        							بعد از تکمیل این مرحله ، به تب بعد رفته و فیلدهای ستاره دار را حتما پر کنید
        							</p>
                			</fieldset>	
                        </div>
                        <div class="col-lg-8">
                            <span class="blog-step">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                  مرحله اول :
                                  <span>زبان و تنظیمات کاربری</span>
                             </span>
                            <br/><br/><br/><br/>
                            <!-- language -->
                           <div class="box box-primary" >
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                    <?php echo __('select your language');?>
                                    </h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="form-group" id="tour1">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('lang')); ?></label>
                                    	<?php echo $this->formElement($Form->get('lang'));
                                    	echo $this->formElementErrors($Form->get("lang")); ?>
                                	</div>
                                </div>
                            </div>
                            <!-- configuration -->
                            <div class="box box-success ">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        <?php echo __('User configurations');?>
                                    </h3>
                                    <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                </div>
                                <div class="box-body">
                                    <div class="form-group" id="tour2">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('user_group_id')); ?></label>
                                    	<?php echo $this->formElement($Form->get('user_group_id'));
                                    	echo $this->formElementErrors($Form->get("user_group_id")); ?>
                                	</div>
                                	<div class="form-group" id="tour3">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('priority')); ?></label>
                                    	<?php echo $this->formElement($Form->get('priority'));
                                    	echo $this->formElementErrors($Form->get("priority")); ?>
                                	</div>
                                	<div class="form-group" id="tour4">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('status')); ?></label>
                                    	<?php echo $this->formElement($Form->get('status'));
                                    	echo $this->formElementErrors($Form->get("status")); ?>
                                	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tab2 -->
                 <div id="menu2" class="tab-pane fade">
                      <div class="row">
                            <div class="col-lg-4">
                                <!--  help -->
                                 <fieldset class="help-form" id="tour15">
                                        <legend style="width:75%;">
                                          راهنمای اطلاعات شخصی
                    					</legend>
            							<p>
                						1-آواتار اصطلاحی برای تصویر یا عکس پروفایل کاربر است، که با زدن روی دکمه آواتار می توانید تصویر مدنظر را انتخاب کنید
                						<br />
                						2-رمز عبور، رمزی است که برای ورود به پنل ادمین به کار می رود
            							<br />
            							3-اطلاعات ستاره دار،مواردی هستند که حتما باید پر شوند، در غیر این صورت اطلاعات ثبت نمی شوند، مابقی اطلاعات اختیاری هستند
            							<br />
            							4-بعد از تکمیل این مرحله ، در تب بعد ورود اطلاعات ستاره دار، در خصوص اطلاعات تماس اجباری است
            							</p>
                    			</fieldset>	
                            </div>
                            <div class="col-lg-8">
                             <span class="blog-step">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                 مرحله دوم :
                                  <span>اطلاعات شخصی</span>
                             </span>
                            <br/><br/><br/><br/>
                            <!-- avatar -->
                            <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            <?php echo __('avatar');?>
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                    		<label class="control-label"><?php echo $this->formLabel($Form->get('avatar')); ?></label>
                                    		<div class="clearfix">
                                    		     <div class="box1-img-holder sl-margin-bottom" id="image-holder1">
                                                </div>
                                    		</div>
                                        	<div class="file-upload-cnt sl-margin-top">
                                            	<div class="fileUpload btn bg-maroon margin fa fa-image" id="tour6">
                                            		<span><?php echo $this->formLabel($Form->get('avatar')); ?></span>
                                            	   <?php echo $this->formElement($Form->get('avatar'));
                                            	   echo $this->formElementErrors($Form->get("avatar")); ?>
                                            	</div>
                                    	    </div>          	    
                                    	</div>
                                    </div>
                                </div>
                               <div class="box box-success ">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        <?php echo __('Password');?>
                                    </h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="form-group" id="tour7">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('password')); ?></label>
                                    	<?php echo $this->formElement($Form->get('password'));
                                    	echo $this->formElementErrors($Form->get("password")); ?>
                                	</div>
                                </div>
                            </div>
                            <div class="box box-info ">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        <?php echo __('Personal informations');?>
                                    </h3>
                                    <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                </div>
                                <div class="box-body">
                                    <div class="form-group" id="tour8">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('firstname')); ?></label>
                                    	<?php echo $this->formElement($Form->get('firstname'));
                                    	echo $this->formElementErrors($Form->get("firstname")); ?>
                                	</div>
                                	<div class="form-group" id="tour9">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('lastname')); ?></label>
                                    	<?php echo $this->formElement($Form->get('lastname'));
                                    	echo $this->formElementErrors($Form->get("lastname")); ?>
                                	</div>
                                	<div class="form-group" id="tour10">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('gender')); ?></label>
                                    	<?php echo $this->formElement($Form->get('gender'));
                                    	echo $this->formElementErrors($Form->get("gender")); ?>
                                	</div>
                                	<div class="form-group" id="tour11">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('username')); ?></label>
                                    	<?php echo $this->formElement($Form->get('username'));
                                    	echo $this->formElementErrors($Form->get("username")); ?>
                                	</div>	
                                	
                                	<div class="form-group date-picker" id="tour12">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('date_of_birth')); ?></label>
                                    	<?php echo $this->formElement($Form->get('date_of_birth'));
                                    	echo $this->formElementErrors($Form->get("date_of_birth")); ?>
                                	</div>	
                                	<div class="form-group" id="tour13">
                                    		<label class="control-label"><?php echo $this->formLabel($Form->get('national_code')); ?></label>
                                        	<?php echo $this->formElement($Form->get('national_code'));
                                        	echo $this->formElementErrors($Form->get("national_code")); ?>
                                    </div>
                                    <div class="form-group" id="tour14">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('bank_card_no')); ?></label>
                                    	<?php echo $this->formElement($Form->get('bank_card_no'));
                                    	echo $this->formElementErrors($Form->get("bank_card_no")); ?>
                                	</div>	
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <!-- tab3 -->
                 <div id="menu3" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-4">
                            <!--  help -->
                             <fieldset class="help-form" id="tour20">
                                    <legend style="width:75%;">
                                     راهنمای اطلاعات تماس
                					</legend>
        							<p>
            						1-در این مرحله ، ایمیلی که انتخاب می شود ، به عنوان نام کاربری استفاده می شود، و برای ورود به سایت استفاده می شود
            						<br/><br/>
            						اطلاعات تب های بعدی اختیاری هستند و در صورت عدم نیاز میتوانید بدون پرکردن آنها دکمه ذخیره را زده و اطلاعات خود را ثبت نمایید.            						
        							</p>
                			</fieldset>	
                        </div>
                        <div class="col-lg-8">
                             <span class="blog-step">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                مرحله سوم :
                                  <span>اطلاعات تماس</span>
                             </span>
                             <br/><br/><br/><br/>
                             <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        <?php echo __('Contact informations');?>
                                    </h3>
                                    <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                </div>
                                <div class="box-body">
                                    <div class="form-group" id="tour16">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('email')); ?></label>
                                    	<?php echo $this->formElement($Form->get('email'));
                                    	echo $this->formElementErrors($Form->get("email")); ?>
                                	</div>	
                                	
                                	<div class="form-group" id="tour17">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('mobile')); ?></label>
                                    	<?php echo $this->formElement($Form->get('mobile'));
                                    	echo $this->formElementErrors($Form->get("mobile")); ?>
                                	</div>	
                                	<div class="form-group" id="tour18">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('telegram')); ?></label>
                                    	<?php echo $this->formElement($Form->get('telegram'));
                                    	echo $this->formElementErrors($Form->get("telegram")); ?>
                                	</div>	
                                	<div class="form-group" id="tour19">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('phone')); ?></label>
                                    	<?php echo $this->formElement($Form->get('phone'));
                                    	echo $this->formElementErrors($Form->get("phone")); ?>
                                	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <!-- tab4 -->
                 <div id="menu4" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-4">
                            <!--  help -->
                             <fieldset class="help-form" id="tour27">
                                    <legend style="width:75%;">
                                     راهنمای اطلاعات آدرس
                					</legend>
        							<p>
            						1-پرکردن فیلدهای این بخش اختیاری است و در تکمیل شدن اطلاعات کمک میکند
            						<br/><br/>
            						اطلاعات تب های بعدی اختیاری هستند و در صورت عدم نیاز میتوانید بدون پرکردن آنها دکمه ذخیره را زده و اطلاعات خود را ثبت نمایید.            						
        							</p>
                			</fieldset>	
                        </div>
                        <div class="col-lg-8">
                             <span class="blog-step">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                               مرحله چهارم :
                                  <span>اطلاعات آدرس</span>
                             </span>
                             <br/><br/><br/><br/>
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        <?php echo __('Address information');?>
                                    </h3>
                                    <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                </div>
                                <div class="box-body">
                                    <div class="form-group" id="tour21">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('country')); ?></label>
                                    	<?php echo $this->formElement($Form->get('country'));
                                    	echo $this->formElementErrors($Form->get("country")); ?>
                                	</div>	
                                	<div class="form-group" id="tour22">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('provience')); ?></label>
                                    	<?php echo $this->formElement($Form->get('provience'));
                                    	echo $this->formElementErrors($Form->get("provience")); ?>
                                	</div>	
                                	 <div class="form-group" id="tour23">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('city')); ?></label>
                                    	<?php echo $this->formElement($Form->get('city'));
                                    	echo $this->formElementErrors($Form->get("city")); ?>
                                	</div> 
            
                                	<div class="form-group" id="tour24">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('address')); ?></label>
                                    	<?php echo $this->formElement($Form->get('address'));
                                    	echo $this->formElementErrors($Form->get("address")); ?>
                                	</div>	
                                	<div class="form-group" id="tour25">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('postalcode')); ?></label>
                                    	<?php echo $this->formElement($Form->get('postalcode'));
                                    	echo $this->formElementErrors($Form->get("postalcode")); ?>
                                	</div>
                                	<div class="form-group" id="tour26">
                                		<label class="control-label"><?php echo $this->formLabel($Form->get('company_address')); ?></label>
                                    	<?php echo $this->formElement($Form->get('company_address'));
                                    	echo $this->formElementErrors($Form->get("company_address")); ?>
                                	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <!-- tab5 -->
                 <div id="menu5" class="tab-pane fade">
                      <div class="row">
                            <div class="col-lg-4">
                                <!--  help -->
                                 <fieldset class="help-form">
                                        <legend style="width:75%;">
                                         راهنمای اطلاعات آدرس
                    					</legend>
            							<p>
                						این بخش حاوی اطلاعات تکمیلی در رابطه با سوابق شغلی و تحصیلی کاربر می باشد 
            							</p>
                    			</fieldset>	
                            </div>
                            <div class="col-lg-8">
                                 <span class="blog-step">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                   مرحله پنجم :
                                      <span>اطلاعات شغلی و تحصیلی</span>
                                 </span>
                                 <br/><br/><br/><br/>
                                <div class="box box-primary ">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            <?php echo __('Informations to repeat in all languages');?>
                                        </h3>
                                        <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    </div>
                                    <div class="box-body" >
                                        <div class=" table-responsive stydies" >
                                        	<table class="table" id="tour28">
                                        	   <thead>
                                        	       <tr>
                                        	           <th>#</th>
                                        	           <th><?php echo $this->formLabel($Form->get('university1')); ?></th>
                                        	           <th><?php echo $this->formLabel($Form->get('grade1')); ?></th>
                                        	           <th><?php echo $this->formLabel($Form->get('field_of_study1')); ?></th>
                                        	       </tr>
                                        	   </thead>
                                        	   <tbody>
                                        	       <tr>
                                        	           <td>1</td>
                                        	           <td><?php echo $this->formElement($Form->get('university1'));
                                            	               echo $this->formElementErrors($Form->get("university1")); ?></td>
                                        	           <td><?php echo $this->formElement($Form->get('grade1'));
                                            	               echo $this->formElementErrors($Form->get("grade1")); ?></td>
                                        	           <td><?php echo $this->formElement($Form->get('field_of_study1'));
                                            	               echo $this->formElementErrors($Form->get("field_of_study1")); ?></td>
                                        	       </tr>
                                        	       <tr>
                                        	           <td>2</td>
                                        	           <td><?php echo $this->formElement($Form->get('university2'));
                                            	               echo $this->formElementErrors($Form->get("university2")); ?></td>
                                        	           <td><?php echo $this->formElement($Form->get('grade2'));
                                            	               echo $this->formElementErrors($Form->get("grade2")); ?></td>
                                        	           <td><?php echo $this->formElement($Form->get('field_of_study2'));
                                            	               echo $this->formElementErrors($Form->get("field_of_study2")); ?></td>
                                        	       </tr>
                                        	       <tr>
                                        	           <td>3</td>
                                        	           <td><?php echo $this->formElement($Form->get('university3'));
                                            	               echo $this->formElementErrors($Form->get("university3")); ?></td>
                                        	           <td><?php echo $this->formElement($Form->get('grade3'));
                                            	               echo $this->formElementErrors($Form->get("grade3")); ?></td>
                                        	           <td><?php echo $this->formElement($Form->get('field_of_study3'));
                                            	               echo $this->formElementErrors($Form->get("field_of_study3")); ?></td>
                                        	       </tr>
                                        	       <tr>
                                        	           <td>4</td>
                                        	           <td><?php echo $this->formElement($Form->get('university4'));
                                            	               echo $this->formElementErrors($Form->get("university4")); ?></td>
                                        	           <td><?php echo $this->formElement($Form->get('grade4'));
                                            	               echo $this->formElementErrors($Form->get("grade4")); ?></td>
                                        	           <td><?php echo $this->formElement($Form->get('field_of_study4'));
                                            	               echo $this->formElementErrors($Form->get("field_of_study4")); ?></td>
                                        	       </tr>
                                        	       <tr>
                                        	           <td>5</td>
                                        	           <td><?php echo $this->formElement($Form->get('university5'));
                                            	               echo $this->formElementErrors($Form->get("university5")); ?></td>
                                        	           <td><?php echo $this->formElement($Form->get('grade5'));
                                            	               echo $this->formElementErrors($Form->get("grade5")); ?></td>
                                        	           <td><?php echo $this->formElement($Form->get('field_of_study5'));
                                            	               echo $this->formElementErrors($Form->get("field_of_study5")); ?></td>
                                        	       </tr>
                                        	       <tr>
                                        	           <td>6</td>
                                        	           <td><?php echo $this->formElement($Form->get('university6'));
                                            	               echo $this->formElementErrors($Form->get("university6")); ?></td>
                                        	           <td><?php echo $this->formElement($Form->get('grade6'));
                                            	               echo $this->formElementErrors($Form->get("grade6")); ?></td>
                                        	           <td><?php echo $this->formElement($Form->get('field_of_study6'));
                                            	               echo $this->formElementErrors($Form->get("field_of_study6")); ?></td>
                                        	       </tr>
                                        	   </tbody>
                                        	</table>
                                    	</div>
            
                                        <div class="box box-info">
                                            <div class="box-header with-border">
                                                <h5 class="box-title"><?php echo __('Job experience');?></h5>
                                            </div>
                                    	   <div class="box-body">
                                            	<div class="form-group" id="tour29">
                                            		<!-- <label class="control-label"><?php //echo $this->formLabel($Form->get('experience')); ?></label> -->
                                                	<?php echo $this->formElement($Form->get('experience'));
                                                	echo $this->formElementErrors($Form->get("experience")); ?>
                                            	</div>
                                        	</div>
                                    	</div>
                                    	<div class="box box-info">
                                            <div class="box-header with-border">
                            	               <h5 class="form-group"><?php echo __('Researchs');?></h5>
                                            </div>
                                    	    <div class="box-body">
                                            	<div class="form-group" id="tour30">
                                            		<!-- <label class="control-label"><?php //echo $this->formLabel($Form->get('research')); ?></label> -->
                                                	<?php echo $this->formElement($Form->get('research'));
                                                	echo $this->formElementErrors($Form->get("research")); ?>
                                            	</div>
                                        	</div>
                                    	</div>
                                    	<div class="box box-info">
                                            <div class="box-header with-border">
                                    	       <h5 class="form-group"><?php echo __('Biography');?></h5>
                                    	    </div>
                                    	    <div class="box-body">
                                            	<div class="form-group" id="tour31">
                                            		<!-- <label class="control-label"><?php //echo $this->formLabel($Form->get('aboutme')); ?></label> -->
                                                	<?php echo $this->formElement($Form->get('aboutme'));
                                                	echo $this->formElementErrors($Form->get("aboutme")); ?>
                                            	</div>
                                        	</div>
                                    	</div>
                                    </div>
                                </div>
                            </div>
                       </div>    
                 </div>
            </div>
                
                    
        	<div class="form-group pull-left" id="tour32">		
            	<?php 
            		echo $this->formElement($Form->get('csrf'));
            		echo $this->formElementErrors($Form->get("csrf"));
            		echo $this->formElement($Form->get('submit'));
            	?>
            	<?php 
            		echo $this->formElement($Form->get('csrf'));
            		echo $this->formElementErrors($Form->get("csrf"));
            		echo $this->formElement($Form->get('submit2'));
            	?>
            	<a href="/<?php echo $this->layout()->lang;?>/admin-user" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
            </div>
            <?php 	echo $this->form()->closeTag(); ?>
            </div>
        </div>
</section>
<script type="text/javascript">
    $("#lang").change(function(){
        $(".tazakor").text("(لطفا به زبان " + $("#lang option:selected").text() + " وارد شود)");
    });
    $("#lang").change();
            	
    $("#gender").select2({
      tags: true,
      dir: "rtl"
    });
    $("#user_group_id").select2({
        tags: true,
        dir: "rtl"
      });
    $("#country").select2({
        tags: true,
        dir: "rtl"
      });
    $("#provience").select2({
        tags: true,
        dir: "rtl"
      });
    $("#city-id").select2({
        tags: true,
        dir: "rtl"
      });
    
    $("#fileUpload1").on('change', function () {
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $("#image-holder1");
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof (FileReader) != "undefined") {
                for (var i = 0; i < countFiles; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                                "class": "thumb-image"
                        }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[i]);
                }
            } else {
                alert("<?php echo __("This browser does not support FileReader");?>.");
            }
        } else {
            alert("<?php echo __("Please choose only images");?>");
        }
    });
    
$('#country').change(function(){
   var provinceId = $(this).val();
   if (provinceId == 0) {
	   var defaultOption = '<option value="0">لطفا ابتدا یک استان انتخاب نمایید.</option>';
	   $('#provience').html(defaultOption);
   }
   $.ajax({
      url: '/admin-user/get-province',
      type:'POST',
      data: 
	      {
	      	 id: provinceId, 
	      },
      success:function(result) {
        if(result) {
            var text = '';
        	 var options = JSON.parse(result);
        	 for (var i = 0; i < options.length; i++ ) {
					text += '<option value="'+ options[i].id +'">' + options[i].name + '</option>';
        	 }
        	 $('#provience').html(text);
        	 $('#provience').select2('val', 7);
        } else {

        }
      }
   });
});
$('#country').change();
$('#provience').change(function(){ 
	   var provinceId = $(this).val();
	   if (provinceId == 0) {
		   var defaultOption = '<option value="0">لطفا ابتدا یک استان انتخاب نمایید.</option>';
		   $('#city-id').html(defaultOption);
	   }
	   $.ajax({
	      url: '/admin-user/get-cities',
	      type:'POST',
	      data: 
		      {
		      	 id: provinceId, 
		      },
	      success:function(result) {
	        if(result) {
	            var text = '';
	        	 var options = JSON.parse(result);
	        	 for (var i = 0; i < options.length; i++ ) {
						text += '<option value="'+ options[i].id +'">' + options[i].name + '</option>';
	        	 }
	        	 $('#city-id').html(text);
	        	 $('#city-id').select2('val', 117);
	        } else {

	        }
	      }
	   });
	});
$(document).ready(function(){
	   $("#userForm").validationEngine(); 
	   $('#submit').click(function(e){ 
	      // e.preventDefault();
	       if($("#userForm").validationEngine('validate')) 
	       {
	      	   $("#userForm").submit();
	       }
	   });
	});
</script>
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "انتخاب زبان",
    content: "زبانی که کاربر قرار است در آن به نمایش در بیاید را مشخص کنید",
  },
  {
    element: "#tour2",
    title: "گروه کاربری",
    content: "گروه کاربری کاربر را جهت افزودن حق دسترسی انتخاب کنید",
  },
  {
    element: "#tour3",
    title: "الویت",
    content: "الویت نمایش کاربر را مشخص کنید",
  },
  {
    element: "#tour4",
    title: "وضعیت",
    content: "این گزینه را تیک بزنید وگرنه کاربر غیرفعال خواهد ماند و امکان دسترسی به پنل را نخواهد داشت"
  },
  {
    element: "#tour5",
    title: "اطلاعات شخصی",
    content: "در این تب ، اطلاعات ضروری کاربر که حاوی اطلاعات شخصی و کلمه عبور برای ورود به سایت است مشخص می شود",
    onNext:function(tour){
    	activaTab('menu2');
    },
    onShow:function(tour){
    	activaTab('menu2');
    }
  },
  {
    element: "#tour6",
    title: "آواتار",
    content: "در این بخش عکس کاربر را آپلود کنید"
  },
  {
    element: "#tour7",
    title: "رمز عبور",
    content: "رمز عبورخود را برای ورود به پنل وارد کنید"
  },
  {
    element: "#tour8",
    title: "نام",
    content: "نام کاربر را وارد کنید"
  },
  {
    element: "#tour9",
    title: "نام خانوادگی",
    content: "نام خانوادگی کاربر را وارد کنید"
  },
  {
    element: "#tour10",
    title: "جنسیت",
    content: "جنسیت کاربر را مشخص کنید"
  },
  {
    element: "#tour11",
    title: "نام و خانوادگی",
    content: "نام و نام خانوادگی کاربر را باهم وارد کنید"
  },
  {
    element: "#tour12",
    title: "تاریخ تولد",
    content: "تاریخ تولد کاربر را وارد کنید(اختیاری)"
  },
  {
    element: "#tour13",
    title: "کدملی",
    content: "کدملی کاربر را وارد کنید (اختیاری)"
  },
  {
    element: "#tour14",
    title: "شماره کارت بانکی",
    content: "شماره کارت بانکی کاربر را وارد کنید(اختیاری)"
  },
  {
    element: "#tour15",
    title: "اطلاعات تماس",
    content: "در این تب ،اطلاعات تماس کاربر را باید وارد کنید",
    onNext:function(tour){
    	activaTab('menu3');
    },
    onShow:function(tour){
    	activaTab('menu3');
    }
  },
  {
    element: "#tour16",
    title: "ایمیل",
    content: "ایمیل کاربر را وارد کنید، این ایمیل به  عنوان نام کاربری جهت ورود به پنل ادمین به کارمی رود(ضروری)"
  },
  {
    element: "#tour17",
    title: "موبایل",
    content: "موبایل کاربر را وارد کنید(ضروری)"
  },
  {
    element: "#tour18",
    title: "شماره تلگرام",
    content: "شماره تلگرام کاربر را وارد کنید(اختیاری)"
  },
  {
    element: "#tour19",
    title: "تلفن ثابت",
    content: "تلفن ثابت کاربر را وارد کنید(اختیاری)"
  },
  {
    element: "#tour20",
    title: "اطلاعات آدرس",
    content: "در این تب ،اطلاعات آدرس کاربر را باید وارد کنید",
    onNext:function(tour){
    	activaTab('menu4');
    },
    onShow:function(tour){
    	activaTab('menu4');
    }
  },
  {
    element: "#tour21",
    title: "کشور",
    content: "کشور کاربر را انتخاب کنید(اختیاری)"
  },
  {
    element: "#tour22",
    title: "استان",
    content: "استان کاربر راانتخاب کنید(اختیاری)"
  },
  {
    element: "#tour23",
    title: "شهر",
    content: "شهر کاربر را انتخاب کنید(اختیاری)"
  },
  {
    element: "#tour24",
    title: "نشانی",
    content: "نشانی یا آدرس منزل کاربر را وارد کنید"
  },
  {
    element: "#tour25",
    title: "کد پستی",
    content: "کد پستی کاربر را وارد کنید(اختیاری)"
  },
  {
    element: "#tour26",
    title: "نشانی شرکت",
    content: "نشانی شرکت یا محل کار کاربر را وارد کنید(اختیاری)"
  },
  {
    element: "#tour27",
    title: "اطلاعات شغلی و تحصیلی",
    content: "در این تب، اطلاعات شغلی و تحصیلی کاربر را در صورت لزوم باید وارد کنید",
    onNext:function(tour){
    	activaTab('menu5');
    },
    onShow:function(tour){
    	activaTab('menu5');
    }
  },
  {
    element: "#tour28",
    title: "مقاطع تحصیلی",
    content: "مقاطع تحصیلی کاربر را وارد کنید"
  },
  {
    element: "#tour29",
    title: "سوابق شغلی",
    content: "در صورت نیاز سوابق شغلی کاربر را وارد کنید"
  },
  {
    element: "#tour30",
    title: "تحقیقات",
    content: "موارد و کارهای تحقیقاتی کاربر را اینجا وارد کنید"
  },
  {
    element: "#tour31",
    title: "بیوگرافی",
    content: "بیوگرافی کاربر را اینجا وارد کنید"
  },
  {
    element: "#tour32",
    title: "ذخیره",
    content: "با کلیک روی دکمه ذخیره، اطلاعات وارد شده را ثبت نمایید"
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>