<?php 
    $this->headScript()->appendFile('/js/select2.full.min.js');
?>
<section class="content-header">
    <h1>
        <?php echo __('Add Area'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add Area'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Add Area");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
        	<?php
    			$form = $this->form;
    			$form->prepare();
    			echo $this->form()->openTag($form);
            ?>
            <div class="row">
                <div class="col-lg-7">
                	<div class="form-group">
    					<label class="control-label"><?php echo $this->formLabel($form->get('area_id')); ?></label>
    			    	<?php echo $this->formElement($form->get('area_id'));
    			    	echo $this->formElementErrors($form->get("area_id")); ?>
    				</div>	
                	<div class="form-group">
    					<label class="control-label"><?php echo $this->formLabel($form->get('district')); ?></label>
    			    	<?php echo $this->formElement($form->get('district'));
    			    	echo $this->formElementErrors($form->get("district")); ?>
    				</div>
    				<div class="form-group pull-left">
        				<?php 
        				echo $this->formElement($form->get('submit'));
        				?>
    				</div>
                </div>
            </div>
    </div>
</section>
<script>
$('#area_id').select2();
// $('#district').select2();
$('#district').select2({
    tags: true,
    tokenSeparators: [","],
    createTag: function (tag) {
        return {
            id: tag.term,
            text: tag.term,
            isNew : true
        };
    }
}).on("select2:select", function(e) {
    if(e.params.data.isNew){
        $('#console').append('<code>New tag: {"' + e.params.data.id + '":"' + e.params.data.text + '"}</code><br>');
        $(this).find('[value="'+e.params.data.id+'"]').replaceWith('<option selected value="'+e.params.data.id+'">'+e.params.data.text+'</option>');
    }
});
</script>


