<section class="content-header">
    <h1>
        <?php echo __('Add Area'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit Area'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit Area");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
   		<?php
			$form = $this->form;
			$form->prepare();
			echo $this->form()->openTag($form);
        ?>
        <div class="row">
            <div class="col-lg-7">
            	<div class="form-group">
					<label class="control-label"><?php echo $this->formLabel($form->get('name')); ?></label>
			    	<?php echo $this->formElement($form->get('name'));
			    	echo $this->formElementErrors($form->get("name")); ?>
				</div>	
				<div class="form-group pull-left">
    				<?php echo $this->formElement($form->get('submit')); ?>
				</div>
            </div>
        </div>
<!--             <form action="" name="areaForm" method="post"> -->
<!--                 <div class="row"> -->
<!--                     <div class="col-xs-12 col-sm-3 col-md-3"> -->
<!--                           <div class="form-group"> -->
<!--                             	<input name="area" id="" class="form-control"  placeholder="منطقه" value="" type="text"> -->
<!--                     	  </div> -->
<!--                     </div> -->
                    
<!--                 </div> -->
                
<!--                 <div class="row"> -->
<!--                     <div class="col-md-12 text-left"> -->
<!--                         <input type="submit" class="btn btn-primary" value="ثبت اطلاعات" > -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </form> -->
    </div>
</section>
