<section class="content-header">
    <h1>
        <?php echo __('Edit user'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit user'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit user");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php
            	$userForm = $this->userForm;
            	$userForm->prepare();
            	echo $this->form()->openTag($userForm);
            ?>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userForm->get('username')); ?></label><span class="mandetory-field"> (فیلد اجباری)</span>
                	    <?php echo $this->formElement($userForm->get('username'));
                	    echo $this->formElementErrors($userForm->get("username"));
                	    ?>
                	</div>	
                </div>
                <div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userForm->get('email')); ?></label>
                	    <?php echo $this->formElement($userForm->get('email'));
                	    echo $this->formElementErrors($userForm->get("email")); ?>
                	</div>	
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userForm->get('phone')); ?></label><span class="mandetory-field"> (فیلد اجباری)</span>
                	    <?php echo $this->formElement($userForm->get('phone'));
                	    echo $this->formElementErrors($userForm->get("phone")); ?>
                	</div>	
                </div>
                <div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userForm->get('mobile')); ?></label>
                	    <?php echo $this->formElement($userForm->get('mobile'));
                	    echo $this->formElementErrors($userForm->get("mobile")); ?>
                	</div>	
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-3">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userForm->get('area')); ?></label><br>
                	    <?php echo $this->formElement($userForm->get('area'));
                	    echo $this->formElementErrors($userForm->get("area")); ?>
                	</div>
            	</div>
            	<div class="col-xs-12 col-md-3">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userForm->get('district')); ?></label><br>
                	    <?php echo $this->formElement($userForm->get('district'));
                	    echo $this->formElementErrors($userForm->get("district")); ?>
                	</div>
            	</div>
            	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userForm->get('address')); ?></label><br>
                	    <?php echo $this->formElement($userForm->get('address'));
                	    echo $this->formElementErrors($userForm->get("address")); ?>
                	</div>
            	</div>	
             </div>
             <div class="row">
                
            	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userForm->get('job')); ?></label><br>
                	    <?php echo $this->formElement($userForm->get('job'));
                	    echo $this->formElementErrors($userForm->get("job")); ?>
                	</div>
            	</div>	
            	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userForm->get('description')); ?></label><br>
                	    <?php echo $this->formElement($userForm->get('description'));
                	    echo $this->formElementErrors($userForm->get("description")); ?>
                	</div>
            	</div>		
             </div>
             <?php 
                if($this->group == 7){ 
                    $officeForm = $this->officeForm;
                    $officeForm->prepare();
             ?>
             <div class="row">
            	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($officeForm->get('office_name')); ?></label><br>
                	    <?php echo $this->formElement($officeForm->get('office_name'));
                	    echo $this->formElementErrors($officeForm->get("office_name")); ?>
                	</div>
            	</div>	
            	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($officeForm->get('manager_name')); ?></label><br>
                	    <?php echo $this->formElement($officeForm->get('manager_name'));
                	    echo $this->formElementErrors($officeForm->get("manager_name")); ?>
                	</div>
            	</div>		
             </div>
             <div class="row">
            	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($officeForm->get('fax')); ?></label>
                	    <?php echo $this->formElement($officeForm->get('fax'));
                	    echo $this->formElementErrors($officeForm->get("fax")); ?>
                	</div>
            	</div>	
            	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($officeForm->get('online_services')); ?></label>
                	    <?php echo $this->formElement($officeForm->get('online_services'));
                	    echo $this->formElementErrors($officeForm->get("online_services")); ?>
                	</div>
            	</div>		
             </div>
             <div class="row">
            	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($officeForm->get('usual_courier')); ?></label>
                	    <?php echo $this->formElement($officeForm->get('usual_courier'));
                	    echo $this->formElementErrors($officeForm->get("usual_courier")); ?>
                	</div>
            	     	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($officeForm->get('special_courier')); ?></label>
                	    <?php echo $this->formElement($officeForm->get('special_courier'));
                	    echo $this->formElementErrors($officeForm->get("special_courier")); ?>
                	</div>
            	</div>		
             	<div class="col-xs-12 col-md-6 user-services">
                	<div class="form-group">
                		<label class="control-label">خدمات قابل ارائه</label><br>
                	    <?php echo $this->formElement($officeForm->get('service_id'));
                	    echo $this->formElementErrors($officeForm->get("service_id")); ?>
                	</div>
            	</div>
             
             </div>
             
             	
             <?php } ?>
             
             <?php 
                if($this->group == 8){ 
                    $companyForm = $this->companyForm;
                    $companyForm->prepare();
             ?>
             <div class="row">
            	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($companyForm->get('company_name')); ?></label><br>
                	    <?php echo $this->formElement($companyForm->get('company_name'));
                	    echo $this->formElementErrors($companyForm->get("company_name")); ?>
                	</div>
            	</div>	
            	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($companyForm->get('company_history')); ?></label><br>
                	    <?php echo $this->formElement($companyForm->get('company_history'));
                	    echo $this->formElementErrors($companyForm->get("company_history")); ?>
                	</div>
            	</div>		
             </div>
             <div class="row">
             	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($companyForm->get('manager_name')); ?></label><br>
                	    <?php echo $this->formElement($companyForm->get('manager_name'));
                	    echo $this->formElementErrors($companyForm->get("manager_name")); ?>
                	</div>
            	</div>
            	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($companyForm->get('fax')); ?></label><br>
                	    <?php echo $this->formElement($companyForm->get('fax'));
                	    echo $this->formElementErrors($companyForm->get("fax")); ?>
                	</div>
            	</div>	
             </div>
             	
             <?php } ?>
             
             <div class="row">
            	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                    	<?php 
                    		echo $this->formElement($userForm->get('csrf'));
                    		echo $this->formElementErrors($userForm->get("csrf"));
                    		echo $this->formElement($userForm->get('submit'));
                    	?>
                	</div>
            	</div>
            <?php echo $this->form()->closeTag(); ?>
        </div>
    </div>
</section>
