<section class="content-header">
    <h1>
        <?php echo __('View user'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('View user'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("View user");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">  
          <?php foreach($this->designerData as $data){?>
          	<div class="col-lg-3">
          		<div class=""></div>
          		aaaaaa
          	</div>
          <?php } ?> 
          
    	</div>
	</div>
</section>
