<style>
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
 <div class="alert alert-dismissable alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div id="message"> </div></div> 
<section class="content-header">
    <h1>
        <?php echo __('Users List'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Users List'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header" id="tour3>
            <h3 class="box-title"><?php echo __('Users List');?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-pull-2 col-md-8">
                    <form action="" method="post" name="userGroupForm" id="userGroupForm">
                   		<label class="control-label"><label for="groups">لطفا یک گروه را انتخاب کنید.</label></label>
                   		<select name="group_id" id="groups" class="form-control"><option value="">لطفا یک مورد را انتخاب کنید</option>
                            <option value="3">کاربر عادی</option>
                            <option value="7">کاربران دفاتر فنی</option>
                            <option value="8">کاربران فروشندگان عمده</option>
							<option value="9">طراحان</option>
                        </select> 	
                    </form>
                    <div class="form-group">
                	   <button type="button" name="submit" id="submitusergroup" class="btn btn-primary fa fa-arrow-left" value="">نمایش کاربران</button>                        
                	   <button type="button" name="submit" id="addusergroup" class="btn btn-primary fa fa-arrow-left" value="">افزودن کاربر</button>                        
<!--                 	   <a href="/fa/admin-permission/list-permissions" class="btn btn-warning"> -->
<!--                 	   		<i class="fa fa-times" aria-hidden="true"></i>لغو -->
<!--                 	   </a> -->
                    </div>
                    <span class="accesslistmsg" style="display:none">
                    	<img alt="loading..."  src="/images/loading.gif" /><?php echo __("Please wait")?>
                    </span>
                    <div class="user-table">
<!--                     	<table> -->
<!--                           <tr> -->
<!--                             <th>گروه کاربری</th> -->
<!--                             <th>نام</th> -->
<!--                             <th>نام مسئول</th> -->
<!--                             <th>آدرس ایمیل</th> -->
<!--                           </tr> -->
<!--                           <tr> -->
<!--                             <td>Alfreds Futterkiste</td> -->
<!--                             <td>Maria Anders</td> -->
<!--                             <td>Germany</td> -->
<!--                             <td>Donya.valeh@gmail.com</td> -->
<!--                           </tr> -->
<!--                         </table>      	                 -->
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>
<script>
$(document).ready(function(){
	$("#addusergroup").click(function(e) {
		var groups=$("#groups").val();
		if(groups == 3){
			window.location.assign('/admin-user/add-user-register-public');
		}
		if(groups == 8){
			window.location.assign('/admin-user/add-user-register-seller');
		}
		if(groups == 7){
			window.location.assign('/admin-user/add-user-register');
		}	
	}); 
	$(".alert-danger").hide();
	$("#submitusergroup").click(function(e) {
		e.preventDefault();
		$(".accesslistmsg").show();
		$('.user-table').empty();
    	var groups=$("#groups").val();
    	$.ajax({
			url:"/<?php echo $this->layout()->lang;?>/admin-user/get-users",
			type:'POST',
			data:{
				group_id:groups,
			},
			success:function(data){
				var data = JSON.parse(data);
				//var table = '<table><tr><th>گروه کاربری</th><th>نام</th><th>نام مسئول</th><th>آدرس ایمیل</th><th>عملیات</th><th>وضعیت  کاربر</th><th>تایید کاربر</th></tr>';
				if(groups == '9'){
					var table = '<table><tr><th>گروه کاربری</th><th>نام</th><th>نام مسئول</th><th>آدرس ایمیل</th><th>عملیات</th><th>وضعیت  کاربر</th><th>تایید کاربر</th><th>نمونه کارهای طر اح</th></tr>';
				}else{
					var table = '<table><tr><th>گروه کاربری</th><th>نام</th><th>نام مسئول</th><th>آدرس ایمیل</th><th>عملیات</th><th>وضعیت  کاربر</th><th>تایید کاربر</th></tr>';
				}
                $.each(data, function(key, value) {
                    if(value.confirm == '0') {
						confirm = '<span style="color:red;">تایید نشده</span>';
						icon = '<i style="color:red;" class="fa fa-remove"></i>';
                    } else {
                    	confirm = '<span style="color:green;">تایید شده</span>';
                		icon = '<i style="color:green;" class="fa fa-check"></i>';
                    }
                    if(value.user_group_id == '9'){ //alert('a');
                    	table += '<tr><td>' + value.group_name + '</td><td>' + value.username + '</td><td>' + value.manager_name + '</td><td>' + value.email + '</td><td><a href="/admin-user/view/' + value.id + '"><i class="glyphicon glyphicon-user"></i></a><a href="/admin-user/edit/' + value.id + '"><i class="glyphicon glyphicon-edit"></i></a></td><td>'+ confirm +'</td><td><a href="/admin-user/confirm/' + value.id + '">' + icon + '</a></td><td><a href="/admin-user/samples/' + value.id + '">مشاهده</a></td></tr>';
                    }else{
                    	table += '<tr><td>' + value.group_name + '</td><td>' + value.username + '</td><td>' + value.manager_name + '</td><td>' + value.email + '</td><td><a href="/admin-user/edit/' + value.id + '"><i class="glyphicon glyphicon-edit"></i></a></td><td>'+ confirm +'</td><td><a href="/admin-user/confirm/' + value.id + '">' + icon + '</a></td></tr>';
                    }
                    
                }); 
                table += '</table>';
                $('.user-table').append(table);
                
			},complete:function(data)
			{
				$(".accesslistmsg").hide();
			}
		});
// 		alert(groups);
		
	});
});
</script>
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "انتخاب گروه دسترسی",
    content: "لطفاً یک گروه حق دسترسی را انتخاب نمایید"
  },
  {
    element: "#tour2",
    title: "ادامه",
    content: "دکمه ادامه را برای رفتن به مرحله بعد انتخاب نمایید",
  }
 /*  {
    element: "#tour3",
    title: "ادامه",
    content: "دکمه ادامه را برای رفتن به مرحله بعد انتخاب نمایید",
    path:'/'
  } */
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>