<section class="content-header">
    <h1>
        <?php echo __('View user'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('View user'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("View user");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">  
          <p>نام و نام خانوادگی: <?php echo $this->userMainData['firstname'] . ' ' . $this->userMainData['lastname']?></p>
          <p>نام کاربری: <?php echo $this->userMainData['username']; ?></p>
          <p>ایمیل: <?php echo $this->userMainData['email']; ?></p>
          <p>شماره تماس: <?php echo $this->userMainData['phone']; ?></p>
          <p>شماره همراه: <?php echo $this->userMainData['mobile']; ?></p>
          <p>سابقه: <?php echo $this->designerData['work_exp']; ?></p>
          <p>رزومه: <a href="/uploads/designer/cv/<?php echo $this->designerData['cv_file']; ?>" class="btn btn-success">دانلود رزومه</a></p>
          <p>نمونه کار: <a href="/uploads/designer/samples/<?php echo $this->designerData['work_samples']; ?>" class="btn btn-success">دانلود نمونه کار</a></p>  
    	</div>
	</div>
</section>
