<?php 
if($this->blockContent)
{?>
    <div class="vertical-tab">
		<div class="tab-list">
			<div class="tab-header">
				<i class="fa fa-graduation-cap"></i>
				<span><?php echo __("Currnet cadafzar"); ?></span>
			</div>
			<ul class="nav nav-tabs" role="tablist">
                <?php 
                $i = 1;
                foreach($this->blockContent as $row){
                   // var_dump($row);
                   ?>
                    <li role="presentation">
                        <a href="#c<?php echo $i;?>" aria-controls="c<?php echo $i;?>" role="tab" data-toggle="tab">
    						<img src="/uploads/education/<?php echo $row['icon']; ?>" alt="<?php echo $row['title']; ?>" />
        				</a>
                    </li>
                    <?php 
                    $i++;
                } ?>
            </ul>
            <div class="tab-footer">
				<a href="<?php echo $this->layout()->lang;?>/courses/cadafzar"><?php echo __("See all cadafzar"); ?></a>
			</div>
		</div>
       <div class="tab-content-div">
			<!-- Tab panes -->
			<div class="tab-content">
                <?php 
                $j = 1;
              
                foreach($this->blockContent as $rows){
            
                    ?>
                    <div role="tabpanel" class="tab-pane fade" id="c<?php echo $j;?>">
                        <h3 class="tab-pane-title"><?php echo $rows['title']; ?></h3>
						<div class="tab-pane-text">
							<?php 
							 echo $rows['intro'];
							?>
						</div>
						<div class="sl-align-left sl-margin-bottom">
							<a href="<?php echo $this->layout()->lang;?>/courses/cadafzar-details/<?php echo $rows['id']; ?>" class="btn btn-secondary"><?php echo __("Read more");?></a>
						</div>
						<div class="tab-pane-imageholder">
							<img src="/uploads/education/<?php echo $rows['image']; ?>" alt="<?php echo $rows['title']; ?>" />
						</div>
					</div>
                <?php
                $j++;
                 }?>
			</div>
		</div>
    </div>
    <script>
    $(document).ready(function(){
        $("#maintop .tab-pane:first").addClass("in active");
        $("#maintop .nav-tabs > li:first").addClass("active");
    });
    </script>
   <?php }
?>