<!-- css & js popup-->
<style>
.sl-item-title {
    height: auto;
}
</style>
<?php 
    echo $this->headLink()->appendStylesheet('/css/popup-style.css');
    echo $this->headLink()->appendStylesheet('/css/video-js.css');
    echo $this->inlineScript()->appendFile('/js/jquery.simplePopup.js');
    echo $this->inlineScript()->appendFile('/js/videojs-ie8.min.js');
    echo $this->inlineScript()->appendFile('/js/video.js');
?>
<!-- Main content -->
<section class="content">
        <div class="box-body">
			<div class="row" >
			<?php 
              if ($this->blockContent) {
                foreach ($this->blockContent as $file) {
                    $video = "";
             ?>
             <div class="col-lg-4">
			     <div class="sl-item-box">
                     <h6 class="sl-item-title">
                         <a href="#">  <?php echo $file['name']; ?></a>
                     </h6>
                     <div class="sl-item-img">
                         <a href="<?php echo $video;?>" class="show1">
                             <img src="/images/video-pic.png" class="img-responsive"/>
                         </a>
                         <a class="btn btn-secondary" style="margin-top:5px;" href="<?php echo $video;?>">
                           <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                            <?php echo __("View video")?>
                        </a>
                     </div>
                     
                 </div>
			 </div>
			
			 <?php }} ?>
		  </div>
    </div>  
</section>



<script type="text/javascript">

$(document).ready(function(){
    $('.show1').click(function(e){
        e.preventDefault();
        $("#my-video source").attr("src", $(this).attr("href"));
        $("#my-video")[0].load();
        $("#my-video")[0].play();
        $('#pop1').simplePopup();
    });
});

</script>