<ul class="sidebar-section">
<?php $products = $this->blockContent;
foreach ($products as $product){
    ?>
        <li>
       <a href ="<?php echo $this->url("shop-home", array("action" => "product", "slug" => $product["seo_name"]));?>">
            <span class="sidebar-section-row">
                <span class="sidebar-img">
    	                <img class="product_images" src="/uploads/shop/product/<?php echo $product['image'];?>" alt="" />
                </span>
                <span class="sidebar-info">
                    <span class="sidebar-info-title">
                        <?php echo $product['name'];?>
                        <br>
	                         <?php for($i=0;$i<$product["rating"];$i++) {?>
	                             <img class="rating" src="/images/rating.png" />
	                         <?php }?>
                    </span>
                    <span class="sidebar-info-date"><strong><?php echo $product['description'];?></strong></span>
                </span>
            </span>
        </a>
    </li>
        <?php 
    }
?>
    
   
</ul>