<div class="mainmid-title">
<div class="mainmid-content">
<i class="mainmid-content-icon"></i>
<h3 class="mainmid-content-tlt"><?php echo __("Introduce best professor"); ?></h3>
<a class="btn btn-secondary" href="/<?php echo $this->layout()->lang;?>/instructor"><?php echo __("Show all professor"); ?></a></div>
</div>

