<?php 
    if($this->blockContent)
    {
        foreach ($this->blockContent as $lang){
            if($lang['code'] == "fa") {
                echo '<a style="font-size: 15px; " title="'. $lang["title"].'" href="/" class="flag-icon-'. $lang['code'].' flag-icon-squared flag-icon-background">'. $lang["code"].'</a>';
                
            }else{
            echo '<a style="font-size: 15px; " title="'. $lang["title"].'" href="/'. $lang['code'].'" class="flag-icon-'. $lang['code'].' flag-icon-squared flag-icon-background">'. $lang["code"].'</a>';
            }
        
    }
    }
?>