<?php 
    use Application\Helper\GeneralHelper;
use Application\Helper\Jdates;
if($this->blockContent)
    {?>
			<div class="row">
                <?php 
                foreach($this->blockContent as $row){
               ;
                   ?>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                    <a href="">
                                        <img src="/images/blog/<?php echo $row['image']; ?>" alt="<?php echo $row['title']; ?>" />
                                    </a>
                                <div class="news-text">
                                    <a href="<?php echo $this->urlGenerator()->postUrl($row);?>">
                						<?php echo $row['title']; ?>
                    				</a>
                    				<div class="news-detail">
                    				<span>
                    				   <!--  <i class="fa fa-clock-o" aria-hidden="true"></i> -->
                    				    <?php //echo Jdates::gregorian_to_jalali_string($row['date'], '-', '/'); ?>
                    				</span>
                    				<!-- <span>
                    				    <i data-id="<?php //echo $row['id'];?>" class="fa fa-eye getvisitcount" aria-hidden="true"></i>
                    	               
                    				    <?php //echo $row['visiteCount'];?>
                    				</span> -->
                    				</div>
                    				<div class="news-intro">
                        				<p>
                        				   <?php 
                                            echo GeneralHelper::replaceStringByDotInPersianText($row['description'], 100);
                        				  ?> 
                        				</p>
                    				</div>
                                </div>
                            </div>
                    <?php } ?>
            </div>
   <?php }
?>
 