<?php 
   if($this->blockContent)
  {?>
		<div class="mainbot-news">
			<div class="mainbot-news-header">
				<i class="fa fa-link"></i>
				<span><?php echo __("Links"); ?></span>
			</div>
			<ul class="mainbot-news-section">
                <?php 
                 foreach($this->blockContent as $row){ 
                   ?>
                    <li>
                         <a href="<?php echo $row["url"];?>">
    						<?php echo $row['title']; ?>
        				</a> 
                    </li>
                    <?php } ?>
            </ul>
         
		</div>
   <?php }
?>