<?php 
if($this->blockContent)
{?>
<div class="mainbot-features">
	<div class="mainbot-features-header">
		<i class="fa fa-youtube-play"></i>
		<span><?php echo __("Best products");?></span>
	</div>
	<div class="vertical-tab">
		<div class="tab-list">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
                <?php 
                $i = 0;
                foreach($this->blockContent as $row){
                    ?>
                    <li role="presentation">
                        <a href="#mainbot<?php echo $i; ?>" aria-controls="mainbot<?php echo $i; ?>" role="tab" data-toggle="tab">
                            <?php echo $row['name']; ?>
                        </a>
        			</li>
                <?php
                $i++;
                 }?>
            </ul>
	   </div>
	   <div class="tab-content-div">
	       <!-- Tab panes -->
			<div class="tab-content">
			     <?php 
                    $j = 0;
                    foreach($this->blockContent as $rows){
                        ?>
                        <div role="tabpanel" class="tab-pane fade" id="mainbot<?php echo $j;?>">
                            <h3 class="tab-pane-title"><?php echo $rows['name']; ?></h3>
                            <div class="row">
								<div class="col-xs-12 col-lg-7">
								 <img src="/uploads/shop/product/<?php echo $rows['image']; ?>" alt="">
								    <div class="txt">
								        <?php echo $rows['description']; ?>
								    </div>
								</div>
								<div class="col-xs-12 col-lg-5">
									<div class="sl-margin-top sl-align-left" style="margin-top:30px;">
										<a class="btn btn-secondary" href="<?php echo $this->url("shop-home", array("lang" => $this->layout()->lang, "action" => "product", "slug" => $rows["seo_name"]));?>">
											<span><?php echo __("Read more")?></span>
										<!-- 	<i class="fa fa-youtube-play"></i> -->
										</a>
									</div>
								   
								</div>
							</div>
            			</div>
                    <?php
                    $j++;
                 }?>
			</div>
	   </div>
	</div>
</div>
<script>
$(document).ready(function(){
    $("#mainbot .tab-pane:first").addClass("in active");
    $("#mainbot .nav-tabs > li:first").addClass("active");
});
</script>
<?php }?>