<?php 
            $this->headLink()->prependStylesheet('/css/owl.carousel.css');
            $this->headScript()->appendFile('/js/owl.carousel.min.js');
?>
<?php 
    if($this->blockContent)
    {
        ?>
   <section id="best-sell2">
    <div class="container">
        <div class="sl-direction footertop-header">
    		<i class="fa fa-heart"></i>
    		<span><?php echo $this->title; ?></span>
    	</div>
    	<div id="owl-best" class="owl-carousel owl-theme">
    	
    	<?php foreach ($this->blockContent as $product) {
    	    $discount  = $this->shopViewHelper()->getDiscounts((isset($this->layout()->userData)?$this->layout()->userData->id:null), $product["id"]);
    	    $specialPrice = number_format($product["price"] - ($product["price"] * $discount /100));
    	    $classDiscount = "";
    	    if ($discount > 0 ) {
    	        $classDiscount = "price-discount";
    	    }
    	   ?>
    	   <div class="item">
        	   <div class="col-product">
        	       <div class="sl-item-box">
                         <h6 class="sl-item-title">
                             <a href="#"> <?php echo $product["name"];?></a>
                             <br>
	                         <?php for($i=0;$i<$product["rating"];$i++) {?>
	                             <img class="rating" src="/images/rating.png" />
	                         <?php }?>
                         </h6>
                         <div class="sl-item-img">
                             <a href="<?php echo $this->url("shop-home", array("lang" => $this->layout()->lang, "action" => "product", "slug" => $product["seo_name"]));?>">
	                             <img class="product_images" src="/uploads/shop/product/<?php echo $product["image"];?>" alt="<?php echo $product["name"];?>" />
                             </a>
                         </div>
                       
                        <?php if ($specialPrice <= 0 || $product["price"] <= 0) {?>
	                           <div class="sl-item-price2">
	                            <br/>
	                             <span class="item-free"><i class="fa fa-gift" aria-hidden="true"></i><?php echo __("Free of charge");?> </span>
	                             <br/>
	                          </div>
	                         <?php } else {?>
	                         <div class="sl-item-price">
	                             <span class="<?php echo $classDiscount;?>"><?php echo number_format($product["price"]);?> </span><label><?php echo __("Toman");?></label>
	                         </div>
	                         
	                         <?php
	                         if ($discount > 0) {?>
	                         <div class="shop-details-price2">
	                           <i class="fa fa-star" aria-hidden="true" style="color:#ff8a0f;"></i>
                                <?php //echo __("Special price");?>
                                <span><?php echo $specialPrice;?></span>
                                <?php echo __("Toman");?>
                            </div>
                            <?php }?>
						<?php }?>
        				
        				<ul class="sl-item-list">
                            <li>
                                <span data-toggle="tooltip" data-placement="top" title="<?php echo __("View Details");?>" class="view-details">
                                    <a href ="<?php echo $this->url("shop-home", array("lang" => $this->layout()->lang, "action" => "product", "slug" => $product["seo_name"]));?>"><i class="fa fa-eye"></i></a>
                                </span>
                            </li>
                           <li>
                            <?php echo $this->getPlugin('add-to-favorite/index/index', array($product["id"], "MinMode")); ?>  
                            </li>
                            <li>
                            <?php echo $this->getPlugin('add-to-card/index/index', array($product["id"], "MinMode")); ?> 
                            </li>
        				</ul>
                    </div>
        	   </div>
    	   </div>
    <?php }?>
    	</div>
    	
    </div>

</section>
   <?php }
?>