<ul class="sidebar-section">
<?php $similar = $this->blockContent;
foreach ($similar as $sim){
    ?>
        <li>
        <span class="sidebar-section-row">
            <span class="sidebar-img">
	             <a href="<?php $this->layout()->lang;?>/courses/course-registration/<?php echo $sim['id'];?>">
	                <img src="/uploads/education/<?php echo $sim['image'];?>" alt="" />
                </a>
            </span>
            <span class="sidebar-info">
                <span class="sidebar-info-title">
                    <a href="<?php $this->layout()->lang;?>/courses/course-registration/<?php echo $sim['id'];?>"><?php echo $sim['title'];?></a>
                </span>
                <span class="sidebar-info-date"><?php echo __('Start date');?><strong><?php echo $sim['description'];?></strong></span>
            </span>
        </span>
    </li>
        <?php 
    }
?>
    
   
</ul>