<?php 
    if($this->blockContent)
    {?>
    <div class="mainmid-features">
        <div class="bootom-tab">
            <div class="tab-content">
                <?php 
                $i = 0;
                foreach($this->blockContent as $row){
                   // var_dump($row);
                   ?>
                    <div role="tabpanel" class="tab-pane fade" id="p<?php echo $i;?>">
                        <div class="clearfix">
        					<div class="img">
        						<img src="/uploads/avatar/<?php echo $row['image']; ?>" alt="<?php echo $row['title']; ?>" />
        					</div>
        					<div class="tabpanel-info">
        						<div class="txt">
        							<h3 class="tabpanel-tlt"><?php echo $row['title']; ?></h3>
        							<?php echo $row['description']; ?>
        						</div>
        						<div class="sl-align-left">
        							<a class="btn btn-secondary" href="#"><?php echo __("Read more")?></a>
        						</div>
        					</div>
        				</div>
                    </div>
                    <?php 
                    $i++;
                } ?>
            </div>
            <!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
                <?php 
                $j = 0;
              
                foreach($this->blockContent as $rows){
            
                    ?>
                    <li role="presentation">
						<a href="#p<?php echo $j;?>" aria-controls="p<?php echo $j;?>" role="tab" data-toggle="tab">
							<img src="/uploads/avatar/<?php echo $rows['image']; ?>" alt="<?php echo $rows['title']; ?>" />
						</a>
					</li>
                <?php
                $j++;
                 }?>
			</ul>
        </div>
    </div>
    <script>
    $(document).ready(function(){
        $("#mainmid .tab-pane:first").addClass("in active");
        $("#mainmid .nav-tabs > li:first").addClass("active");
    });
    </script>
   <?php }
?>