<?php 
if($this->blockContent)
{

    $this->headLink()->prependStylesheet('/css/owl.carousel.css');
    $this->headScript()->appendFile('/js/owl.carousel.min.js');
    ?>
    <div class="sl-direction footertop-header">
		<i class="fa fa-youtube-play"></i>
		<span><?php echo __("Last  user portfolio"); ?></span>
	</div>
	<div id="owl-cl" class="owl-carousel owl-theme">
    <?php 
        foreach($this->blockContent as $row){
    ?>
        <div class="item">
            <div class="owl-item-grid">
                <a href="<?php echo $this->url("instructor-home", array("action" => "user-files-details", "lang" => $this->layout()->lang, "id" => $row["id"]));?>" class="owl-item-box">
				    <h6 class="owl-item-title"><?php echo $row['title']; ?></h6>
				    <div class="owl-item-imageholder">
						<div class="owl-item-imageholderinner">
							<img src="/uploads/portfolio/<?php echo $row['instructor_id']; ?>/<?php echo $row['image']; ?>" alt="<?php echo $row['title']; ?>" />
						</div>
					</div>
					<ul class="sl-ul">
						<li><?php echo __("User name:"); ?>&nbsp;<strong><?php echo $row['username']; ?></strong></li>
						<li class="user-file-intro"><?php echo __("Cadafzar specifications:"); ?>&nbsp;<strong><?php echo $row['description']; ?></strong></li>
					</ul>
					
                </a>
            </div>
        </div>
    <?php } ?>
    </div>
     <div >
            <a href="/<?php echo $this->layout()->lang;?>/instructor/user-files" class="btn btn-secondary2 btn-ltr" >
           <p><?php echo __("show all portfolios");?></p></a>
        </div>
    <script>
		$(document).ready(function() {
			var owl = $("#owl-cl");
			owl.owlCarousel({
				items : 4,
				responsiveClass:true,
			    responsive:{
			        0:{
			            items:1
			        },
			        500:{
			        	items:2
			        },
			        600:{
			            items:3
			        },
			        
			        1000:{
			            items:4
			        }
			    },
				loop: true,
				nav: true,
				navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
				autoplay:true,
				autoplayTimeout:3000,
				autoplayHoverPause:true,
				dots: false
			});
		});
	 </script>
<?php } ?>
