
	<!-- open and close all -->
			<div class="FaqBox">
				<div class="text-left">
					<a id="faq" class="btn btn-default openall"><?php echo __('Open all');?></a>
					<!-- 								 <a  class="btn btn-default closeall">Tour Overview</a> -->
				</div>
				<br />
				<!-- end of button -->
				<div class="panel-group" id="accordion">
								
								<?php 
								if ($this->faqs) {
								    foreach ($this->faqs as $k => $personnel) {
								?>
								  <div class="panel panel-info divcolit lightbox">
            						<div class="panel-heading head1" data-toggle="collapse"
            							data-parent="#accordion" data-target="#collapse<?php echo $k;?>">
            							<h4 class="panel-title accordion-toggle">
            								<?php echo $personnel['question']?>
            							</h4>
            						</div>
            						<div id="collapse<?php echo $k;?>" class="panel-collapse collapse">
            							<div class="panel-body panel-label">
            							     <?php echo $this->escapeHtml($personnel['answer']); ?>
            							</div>
            						</div>
            					</div>
					   <?php 
    	}
    }
?>			  
								</div>
			</div>
			
<script>
$(".panel-heading").addClass("collapsed");

$('.openall').click(function(){
	var a =  $('.divcolit .panel-collapse:not(".in")').css('display');
	if(a == 'none'){
		$('.divcolit .panel-collapse:not(".in")').collapse('show');
		$('#faq').text('<?php echo __('Close all');?>');
	}
	else
	{
		$('.divcolit .panel-collapse.in').collapse('hide');
		$('#faq').text('<?php echo __('Open all');?>');
	}
});

$('.openallextension').click(function(){
	var a =  $('.divcolex .panel-collapse:not(".in")').css('display');
	if(a == 'none'){
		$('.divcolex .panel-collapse:not(".in")').collapse('show');
		$('#extensions').text('Full Extensions');
	}
	else
	{
		$('.divcolex .panel-collapse.in').collapse('hide');
		$('#extensions').text('Tour Extensions');
	}
});
</script>