<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php echo __('Add new main menu'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new main menu'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add new main menu')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php
            	$mainMenuForm = $this->mainMenuForm;
            	$mainMenuForm->prepare();
            	echo $this->form()->openTag($mainMenuForm);
            ?>
            <div class="row">
              <div class="col-lg-6">
                 <!--  help -->
                    <fieldset class="help-form" id="tour5">    	
        					<legend>راهنمای ایجاد منوی اصلی</legend>
							<p>
							شما میتوانید در موقعیت های مختلف، منو های مختلفی داشته باشید؛ برای مثال میتوانید در بالا، پایین یا سمت راست صفحه منوهایی داشته باشید که حاوی آیتم هایی است که به صفحه خاصی می رود، در این بخش میتوانید به تعداد دلخواه منو ایجاد کنید، منتها برای افزودن آیتم به هریک از این منوها لازم است در لیست منو، دکمه پلاس یا افزودن را بزنید.
    						<br />
    						1-فیلد انتخاب زبان برای انتخاب زبانی است که منو قرار است در آن زبان به نمایش در می آید
    						<br />
    						2-یک عنوان برای تمیز دادن منوها از هم در بخش عنوان باید وارد نمایید
    						<br />
    						3-موقعیت مشخص میکند که منو در کجای سایت نمایش داده  شود، این بخش در کدنویسی استفاده می شود.
							</p>
        			</fieldset>	
                </div>
                <div class="col-lg-6">
                	<div class="form-group">
                		<label class="control-label"><?php $this->formLabel($mainMenuForm->get('lang')); ?></label>
                    	<?php echo $this->formElement($mainMenuForm->get('lang'));
                    	echo $this->formElementErrors($mainMenuForm->get("lang")); ?>
                	</div>	
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($mainMenuForm->get('name')); ?></label>
                    	<?php echo $this->formElement($mainMenuForm->get('name'));
                    	echo $this->formElementErrors($mainMenuForm->get("name")); ?>
                	</div>	
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($mainMenuForm->get('position')); ?></label>
                    	<?php echo $this->formElement($mainMenuForm->get('position')); 
                    	echo $this->formElementErrors($mainMenuForm->get("position"));?>
                	</div>	
                	<div class="form-group pull-left">
                    	<?php 
                    		echo $this->formElement($mainMenuForm->get('csrf'));
                    		echo $this->formElementErrors($mainMenuForm->get("csrf"));
                    		echo $this->formElement($mainMenuForm->get('submit'));
                    		echo $this->form()->closeTag();
                    	?>
                    	<?php 
                    		echo $this->formElement($mainMenuForm->get('csrf'));
                    		echo $this->formElementErrors($mainMenuForm->get("csrf"));
                    		echo $this->formElement($mainMenuForm->get('submit2'));
                    		echo $this->form()->closeTag();
                    	?>
                    	<a href="/<?php echo $this->layout()->lang;?>/admin-menu" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type='text/javascript'>
                
$(document).ready(function(){
   $("#mainMenuForm").validationEngine(); 
   $('#update-menu').click(function(e){ 
      // e.preventDefault();
       if($("#mainMenuForm").validationEngine('validate')) 
       {
      	   $("#mainMenuForm").submit();
       }
   });
}); 
</script>