<?php 
    $this->headScript()->appendFile('/js/select2.full.min.js');
//===============js for dragable menu==========================
    $this->headScript()->appendFile($this->basePath('/js/menu/jquery-sortable-lists.min.js'));
    $this->headScript()->appendFile($this->basePath('/js/menu/jquery-sortable.js'));
?>
<style>
div.ui-dialog{
	background: #eeeeee;
	border: 1px solid #f39c12;
	text-align: center;
	padding: 20px;
}
</style>
<section class="content-header">
    <h1>
        <?php echo __('Add new main menu'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new main menu'); ?></li>
    </ol>
</section>
 <!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add new main menu')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php
            	$menuForm = $this->menuForm;
            	$menuForm->prepare();
            	echo $this->form()->openTag($menuForm);
            ?>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="sl-list-group">
                        <div class="sl-list-group-title"><?php echo $this->menu["name"] ."&nbsp;&nbsp;". __('menu management'); ?></div>
                        <?php 
                            if ($this->menuTree) {
                                echo $this->menuTree;
                            }
                        ?>
                    </div>
                </div>
            	<div  class="col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('caption')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('caption'));
                    	echo $this->formElementErrors($menuForm->get("caption")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('external_url')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('external_url'));
                    	echo $this->formElementErrors($menuForm->get("external_url")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('internal_url')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('internal_url'));
                    	echo $this->formElementErrors($menuForm->get("internal_url")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('parent_id')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('parent_id'));
                    	echo $this->formElementErrors($menuForm->get("parent_id")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('order')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('order'));
                    	echo $this->formElementErrors($menuForm->get("order")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('width')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('width'));
                    	echo $this->formElementErrors($menuForm->get("width")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('active')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('active'));
                    	echo $this->formElementErrors($menuForm->get("active")); ?>
                	</div>	
                
                	
                	<?php 
                	    echo $this->formElement($menuForm->get('menu_id'));
                		echo $this->formElement($menuForm->get('csrf_menus'));
                		echo $this->formElementErrors($menuForm->get("csrf_menus"));
                		echo $this->formElement($menuForm->get('submit'));
                		echo "    " . $this->formElement($menuForm->get('resetform'));
            		?>
            		<a href="/<?php echo $this->layout()->lang;?>/admin-menu" class="btn btn-warning"><?php echo __("Cancle")?></a>
            		<?php 
                		echo $this->form()->closeTag();
                	?>
            	</div>
            </div>
            <!-- =============== dragable menu =============== -->
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="sl-list-group">
                     <ul class="sTree bgC4" id="sTree2">
                		<li class="bgC4" id="item">
                			<div>
                              سوالات متداول   <a target="_blank" data-toggle="tooltip" data-placement="top" title="نمایش" href="/fa/faq"><i class="fa fa-search-plus"></i></a> <span data-toggle="tooltip" data-placement="top" title="ویرایش" style="cursor:pointer" class="editMenu" href="#" data-id="48" data-caption="سوالات متداول" data-external-url="" data-internal-url="38" data-parent-id="0" data-order="7" data-width="" data-active="1"><i class="fa fa-edit"></i></span>   <span data-toggle="tooltip" data-placement="top" title="حذف" style="cursor:pointer" class="deleteMenu" id="a" data-id="48"><i class="fa fa-remove"></i></span>
                            </div>
                		</li>
                		<li class="bgC4" id="item">
                    		<div>
                    			درباره ما   <a target="_blank" data-toggle="tooltip" data-placement="top" title="نمایش" href="/fa/about-me"><i class="fa fa-search-plus"></i></a> <span data-toggle="tooltip" data-placement="top" title="ویرایش" style="cursor:pointer" class="editMenu" href="#" data-id="2" data-caption="درباره ما" data-external-url="" data-internal-url="22" data-parent-id="0" data-order="2" data-width="0" data-active="1"><i class="fa fa-edit"></i></span>   <span data-toggle="tooltip" data-placement="top" title="حذف" style="cursor:pointer" class="deleteMenu" id="a" data-id="2"><i class="fa fa-remove"></i></span> 
                    		</div>
                		</li>
                		<li class="bgC4 sortableListsClose" id="item">
                			<div> سوالات متداول   <a target="_blank" data-toggle="tooltip" data-placement="top" title="نمایش" href="/fa/faq"><i class="fa fa-search-plus"></i></a> <span data-toggle="tooltip" data-placement="top" title="ویرایش" style="cursor:pointer" class="editMenu" href="#" data-id="48" data-caption="سوالات متداول" data-external-url="" data-internal-url="38" data-parent-id="0" data-order="7" data-width="" data-active="1"><i class="fa fa-edit"></i></span>   <span data-toggle="tooltip" data-placement="top" title="حذف" style="cursor:pointer" class="deleteMenu" id="a" data-id="48"><i class="fa fa-remove"></i></span></div>
                			<ul class="">
                				<li class="bgC4" id="item_1">
                					<div>Item 1</div>
                				</li>
                				<li class="bgC4" id="item_2">
                					<div>Item 2</div>
                				</li>
                				<li class="bgC4" id="item_3">
                					<div>Item 3</div>
                				</li>
                				<li class="bgC4" id="item_4">
                					<div>Item 4</div>
                				</li>
                				<li class="bgC4" id="item_5">
                					<div>Item 5</div>
                				</li>
                			</ul>
                		</li>
                		<li class="bgC4 sortableListsClose" id="item">
                			<div>تماس با ما   <a target="_blank" data-toggle="tooltip" data-placement="top" title="نمایش" href="/fa/contact"><i class="fa fa-search-plus"></i></a> <span data-toggle="tooltip" data-placement="top" title="ویرایش" style="cursor:pointer" class="editMenu" href="#" data-id="33" data-caption="تماس با ما" data-external-url="" data-internal-url="30" data-parent-id="0" data-order="5" data-width="" data-active="1"><i class="fa fa-edit"></i></span>   <span data-toggle="tooltip" data-placement="top" title="حذف" style="cursor:pointer" class="deleteMenu" id="a" data-id="33"><i class="fa fa-remove"></i></span></div>
                			<ul class="">
                				<li class="bgC4" id="item_1">
                					<div>Item 1</div>
                				</li>
                				<li class="bgC4" id="item_2">
                					<div>Item 2</div>
                				</li>
                				<li class="bgC4" id="item_3">
                					<div>Item 3</div>
                				</li>
                				<li class="bgC4" id="item_4">
                					<div>Item 4</div>
                				</li>
                				<li class="bgC4" id="item_5">
                					<div>Item 5</div>
                				</li>
                			</ul>
                		</li>
                		<li class="bgC4 sortableListsClose" id="item">
                			<div> اخبار و بلاگ   <a target="_blank" data-toggle="tooltip" data-placement="top" title="نمایش" href="/blog"><i class="fa fa-search-plus"></i></a> <span data-toggle="tooltip" data-placement="top" title="ویرایش" style="cursor:pointer" class="editMenu" href="#" data-id="34" data-caption="اخبار و بلاگ" data-external-url="/blog" data-internal-url="" data-parent-id="0" data-order="6" data-width="" data-active="1"><i class="fa fa-edit"></i></span>   <span data-toggle="tooltip" data-placement="top" title="حذف" style="cursor:pointer" class="deleteMenu" id="a" data-id="34"><i class="fa fa-remove"></i></span></div>
                			<ul class="">
                				<li class="bgC4" id="item_1">
                					<div>Item 1</div>
                				</li>
                				<li class="bgC4" id="item_2">
                					<div>Item 2</div>
                				</li>
                				<li class="bgC4" id="item_3">
                					<div>Item 3</div>
                				</li>
                				<li class="bgC4" id="item_4">
                					<div>Item 4</div>
                				</li>
                				<li class="bgC4" id="item_5">
                					<div>Item 5</div>
                				</li>
                			</ul>
                		</li>
                	</ul>
                	<div class="scrollUp dN"></div>
            	    <div class="scrollDown dN"></div>
            	    </div>
                    <!-- ================== End of dragable menu==================== -->
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal HTML -->
<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">&nbsp;</h4>
            </div>
            <div class="modal-body">
                <h5>آ<?php echo __("Are you sure that want to delete this main menu?");?></h5>
                <p><?php echo __("Be inform, after delete items, you are'nt able to recover.");?></p>
            </div>
            <div class="modal-footer">
                <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#"><?php echo __("Yes! I'm sure!");?></a>
            </div>
        </div>
    </div>
</div>
<script>
$("#resetfileds").click(function(){  
	$("#menu_id").val("");
	$("#caption").val("");
	$("#external_url").val("");
	$("#internal_url").val("").change();
	$("#parent_id").val("0").change();
	$("#order").val("");
	$("#width").val("");
	$('#active').prop('checked', true);
});

$(".editMenu").click(function(){
	var menuId = $(this).attr('data-id');
	var menuCaption = $(this).attr('data-caption');
	var menuExternalUrl = $(this).attr('data-external-url');
	var menuInternalUrl = $(this).attr('data-internal-url');
	var menuParentId = $(this).attr('data-parent-id');
	var menuSort = $(this).attr('data-order');
	var menuWidth = $(this).attr('data-width');
	var menuActive = $(this).attr('data-active');
	$("#menu_id").val(menuId);
	$("#caption").val(menuCaption);
	$("#external_url").val(menuExternalUrl);
	$("#internal_url").val(menuInternalUrl).change();
	$("#parent_id").val(menuParentId).change();
	$("#order").val(menuSort);
	$("#width").val(menuWidth);
	
	if (menuActive == 1) {
		$('#active').prop('checked', true);
	} else {
		alert(menuActive);
		$('#active').prop('checked', false);
	}
	
    });
$(".deleteMenu").click(function(e){
	var menuId = $(this).attr('data-id');
	var elm = $(this);
    
	var message = '<?php echo(__("Pay attention: after delete the item, you could not recover it!")); ?>';
	    $('<div></div>').appendTo('body')
	                    .html('<div ><h6>'+message+'?</h6></div>')
	                    .dialog({
	                        modal: true, title:"Are you sure to delete this?",   zIndex: 10000, autoOpen: true,
	                        width: '400px', resizable: false,
	                        buttons: {
	                            Yes: function () {
	                            	
	                            	   $.ajax({
	                            	      url: '/<?php echo $this->layout()->lang;?>/admin-menu-ajax/delete-menu/token/<?php echo $this->csrf;?>',
	                            	      type:'POST',
	                            	      data: 
	                            		      {
	                            		      	 id: menuId, 
	                            		      },
	                            	      success:function(result) {
	                            	        if(result == "true") {
	                            	        	$(elm).parent("li").hide();
	                            	        }  else if (result == "child") {
	                            	            alert("<?php echo __("This menu has child!");?>");
	                            	        } else {
	                            	            alert("<?php echo __("Operation failed");?>");
	                            	        }
	                            	      }
	                            	   });
	                                $(this).dialog("close");
	                            },
	                            No: function () {
	                                $(this).dialog("close");
	                            }
	                        },
	                        close: function (event, ui) {
	                            $(this).remove();
	                        }
	                    });
	   
});




$(document).ready(function(){
	$("#internal_url").select2();
	$("#parent_id").select2();
	$('.ui-dialog-titlebar-close').val('Close');
   $("#menuForm").validationEngine(); 
   $('#update-menu').click(function(e){ 
      // e.preventDefault();
       if($("#menuForm").validationEngine('validate')) 
       {
      	   $("#menuForm").submit();
       }
   });
}); 
</script>
<!-- script for dragable menu -->
<script type="text/javascript">
	$(function()
	{
		var options = {
			currElClass: 'red',
			placeholderClass: 'bgC2',
			listsClass:'',
			isAllowed: function(cEl, hint, target)
				{
					hint.css('background-color', '#99ff99');
					return true;
				}
		};
		$('#sTree2').sortableLists(options);

		console.log($('#sTree2').sortableListsToArray());
		console.log($('#sTree2').sortableListsToHierarchy());
		console.log($('#sTree2').sortableListsToString());
	});
</script> 