<?php 
   $this->headScript()->appendFile($this->basePath('/tinymce/tinymce.min.js'));
?>
<script type="text/javascript">
	    tinymce.init({
	    	directionality : '<?php echo $this->layout()->direction?>',
	    	height: 200,
	        plugins: [
	                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
	                  "searchreplace visualblocks visualchars code fullscreen",
	                  "insertdatetime media nonbreaking save table contextmenu directionality",
	                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
	              ],
	        selector: "textarea",
	      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
	      	relative_urls: false,
	      	targetPath: 'newsletters'
	    });
</script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php echo __('Send newsletter'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Send newsletter'); ?></li>
    </ol>
</section>
 <!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add new queue');?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
            	$addNewsletterForm = $this->addNewsletterForm;
            	$addNewsletterForm->prepare();
            	echo $this->form()->openTag($addNewsletterForm);
            ?>
            <div class="row">
                <div class="col-lg-4">
                    <!--  help -->
                    <fieldset class="help-form">    	
        					<legend>راهنمای ارسال خبرنامه</legend>
							<p>
							اطلاعات کاربرانی که در قسمت خبرنامه سایت عضو می شوند در بخش لیست خبرنامه قابل مشاهده است، در صورتی که بخواهید یک خبرنامه را به کاربران عضو شده در سایت ارسال کنید، کافیست در این بخش عنوان و متن خبرنامه را وارد کنید و سپس دکمه ارسال را بزنید، صفی از کاربران ایجاد می شود و اطلاعات به ترتیب برای انها ارسال می شود
    						</p>
        			</fieldset>	
                </div>
                <div class="col-lg-8">
                	<div class="form-group" id="tour1">
                		<label class="control-label"><?php echo $this->formLabel($addNewsletterForm->get('subject')); ?></label>
                    	<?php echo $this->formElement($addNewsletterForm->get('subject'));
                    	echo $this->formElementErrors($addNewsletterForm->get("subject")); ?>
                	</div>	
            	   <div id="image-holder1"></div>
                    <div class="form-group" id="tour2">
                        <label class="control-label"><?php echo $this->formLabel($addNewsletterForm->get('body')); ?></label>
                    	<?php echo $this->formElement($addNewsletterForm->get('body')); 
                    	echo $this->formElementErrors($addNewsletterForm->get("body"));?>
            	   </div>
                </div>
            </div>
            <div class="form-group pull-left" id="tour3">
            	<?php 
            		echo $this->formElement($addNewsletterForm->get('newsletter_submit'));
            		echo $this->form()->closeTag();
            	?>
            	<a href="/<?php echo $this->layout()->lang;?>/admin-newsletter/list-queues" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
        	</div>
        </div>
    </div>
</section>
<script type='text/javascript'>
                
$(document).ready(function(){
   $("#newsletter_form").validationEngine(); 
   $('#newsletter-button').click(function(e){ 
      // e.preventDefault();
       if($("#newsletter_form").validationEngine('validate')) 
       {
      	   $("#newsletter_form").submit();
       }
   });
});  
</script>
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "عنوان",
    content: "عنوانی به ایمیل خود اختصاص دهید"
  },
  {
    element: "#tour2",
    title: "متن ایمیل",
    content: "متن ایمیل خود را وارد کنید",
  },
  {
    element: "#tour3",
    title: "ارسال",
    content: "دکمه ارسال را برای ارسال اطلاعات به صف خبرنامه بزنید",
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>

