@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/Vazir.woff') format('woff2'), 
    url('../fonts/Vazir.woff') format('woff'), 
    url('../fonts/Vazir.ttf') format('truetype')
}
body{
	font-family: 'Vazir' !important;
	overflow-x: hidden;
	font-size:14px !important;
}
*{
	margin: 0 auto;
	padding:0;
}
a, a:hover, a:active{
	outlone:0;
	text-decoration:none;
	color:inherit;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
/* social network */
#social ul li{
    display: inline-block;
    background-color: #dfdfdf;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    padding: 9px;
    transition: all 1s;
    cursor: pointer;
}
#social ul li:hover{
    background-color: #9f4986;
}
#social ul li a i{
	color:#fff;
	font-size:16px;
}
.search-box, .logined-title{
	border-left: 1px solid #a1a1a1;
    border-radius: 0 !important;
    padding: 7px !important;
    height: 30px !important;
}
/* shopping cart */
header img {
    max-width: 100%;
}
header .logo img{
    margin-top: -30px;
}
header .header-info p, header .header-info a{
	margin:0;
	color:#666666;
}
.shop-info .div-top {
    height: 40px;
    background-color: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 9px;
    text-align: center;
}
.shop-info .fa-user {
    margin-left: 5px;
    font-size: 20px;
}
.shop-info div i {
    font-size: 14px;
    color: #333;
}
.addtobasket {
    margin: 20px 0 10px;
}
.shop-info span {
    color: #333;
}
.shop-info .badge {
 	position: absolute;
    top: -19px;
    right: -7px;
    height: 30px;
    width: 30px;
    background: #9f4986;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50%;
    text-indent: 0;
    padding: 9px;
    -webkit-transition: -webkit-transform .2s .5s;
    transition: -webkit-transform .2s .5s;
    transition: transform .2s .5s;
    transition: transform .2s .5s, -webkit-transform;
}

.shop-info .shopping-cart {
  float: left;
  background: #fbfbfb;
  width: 320px;
  position: absolute;
  border-radius: 3px;
  padding: 20px;
  left: 0;
  z-index: 9999;
}
.shop-info .shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
#shopping-cart .addtobasket button,#shopping-cart .addtobasket a {
    border: 1px solid #4CAF50;
    color: #1f201f !important;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 1em 0 0 0;
    background: none;
    cursor: pointer;
    transition: background ease-in .25s;
    /* height: 36px; */
    font-size: 12px;
}
.shopping-cart img {
    max-width: 100%;
    width: 100px !important;
    padding: 10px;
}
.shop-info .shopping-cart .shopping-cart-header .shopping-cart-total {
  /* float: right; */
}
.shop-info .shopping-cart .shopping-cart-items {
 /*  float: left;
   margin: -10px 0; */
	padding: 0;
}
.shop-info .shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
  border-bottom: 1px dashed #cec8c8;
}
.shop-info .shopping-cart .shopping-cart-items img {
  float: right;
  margin-right: 0;
}
.shop-info .shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 13px;
  text-align: right;
}
.shop-info .main-color-text{
	color: #F44336; 
}
.shop-info .shopping-cart .shopping-cart-items .item-price {
  color:#F44336;
  margin-right: 8px;
}
.shop-info .shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
}

.shop-info .shopping-cart:after {
  bottom: 100%;
  left: 5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.shop-info .cart-icon {
    color: #F44336;
    font-size: 12px;
    margin-right: 7px;
    float: right;
}

.shop-info .button {
  text-align: center;
  padding: 8px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  margin: 25px 0 15px 0;
}
.shop-info  .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.shop-info #cart{
	position:relative;
}
#cart .div-top{
	width:40px !important;
}
.shop-info .shopping-cart span {
    opacity: 1;
    margin: 0 2px;
    border-left: 1px solid #fff;
}
.shop-info .shopping-cart span {
    opacity: 1;
    margin: 0 2px;
    border-left: 1px solid #fff;
}
@media screen and (max-width:568px){
	.shop-info .shopping-cart {
	      left: 0;
	    width: 260px;
	    z-index: 9999;
	}
	.shop-info .shopping-cart .shopping-cart-items li {
	    margin-bottom: 0;
	    border-bottom: 1px dashed #cec8c8;
	}
	.shopping-cart img {
	    max-width: 100%;
	    width: 100px !important;
	    padding: 2px;
	}
}

/* slider */
#slider img{
	border-radius:5px;
	width:100%;
	height:450px;
	object-fit:cover;
}
#slider .slider-info{
	position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    bottom: 20%;
	background-color:rgba(255,255,255,0.1);
	border-radius:5px;
	padding:50px 5px;
}
#slider .slider-info h1{
	font-size:22px;
	color:#fff;
	font-weight:400;
}
#slider .slider-info p{
	color: #fff;
    margin: 25px 0 45px;
}
.btn-main{
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
	margin:40px 20px;
}
.btn-white, .btn-white:hover{
    background-color: #fff;
	color:#333;
}
.btn-white-border{
    border:1px solid #fff;
	color:#fff;
}

/* services */
#services{
	position:relative;
}
#services .service{
	background-size: cover;
    height: 210px;
    margin: 40px 0 20px;
    border-radius: 5px;
}
#services .service-title{
    position: absolute;
    top: 35%;
    bottom: 35%;
    left: 20%;
    right: 20%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}
#about{
    background-image: url(../images/digi-bg.jpg);
    background-size: 100% 450px;
    height: 450px;
    padding: 25px;
}
#about .about{
	background-color: rgba(0,0,0,0.5);
    height: 400px;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    line-height: 1.7;
    font-size: 15px;
    text-align: justify;
    padding: 20px;
}
#about .main-title, #last-products .main-title{
	border-right:1px solid #852573;
	color:#333;
	font-size:18px;
	font-weight:bold;
	text-align:right;
	padding:0 10px;
}
#last-products .main-title{
	border-right:1px solid #ee6a1f;
	color:#333;
	font-size:18px;
	font-weight:bold;
	text-align:right;
	padding:0 10px;
}
#about .btn-about{
	background-color: #333;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    margin: 100px 40px;
    text-align: center;
    color: #fff;
	font-size:16px;
}
.product-price{
	font-weight:bold;
	color:green;
	direction:rtl;
}
.product-old-price{
    color: #d4d0cf !important;
    text-decoration: line-through;
    font-weight: normal;
	direction:rtl;
}
/* products main page - filter carousel */
#demos .owl-carousel .item {
    background: #4dc7a0 none repeat scroll 0 0;
    height: 20rem;
    padding:0;
}
#demos .owl-carousel .item{
	background: transparent none repeat scroll 0 0;
    height: 24rem;
}
#demos .owl-carousel .item.__loading{
	opacity: 0;
	transform: translateX(40px);
	-webkit-transform: translateX(40px);
}
#demos .owl-carousel .item h4{
	margin: 0 0 10px 0;
}
.btn-filter-wrap{
	margin-bottom: 30px;
    margin-top: 30px;
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-filter-wrap .btn-filter{
    color: #333;
    border: none;
    border-bottom: 1px solid #eee;
    background: #FFF;
    padding: 4px 20px;
    margin-left: 10px;
    margin-bottom: 10px;
	outline: 0;
	cursor: pointer;
}
.btn-filter.btn-active{
	background: transparent;
    color: #ee6a1f;
    border-bottom: 1px solid #ee6a1f;
}
#demos .item{
	position:relative;
}
#demos .item img{
	height:320px !important;
	object-fit:cover;
}
#demos .owl-product-title{
	position:absolute;
	top:15%;
	left:5%;
	right:25%;
}
#demos .product-border{
	border:1px solid #fff;
	border-radius:3px;
	position:absolute;
	top:5%;
	left:5%;
	bottom:20%;
	right:5%;
}
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block!IMPORTANT;
    border: 0px solid black;
}
.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block!IMPORTANT;
    border: 0px solid black;
}
.owl-prev i, .owl-next i {
    color: #f39f7d;
    font-size: 24px;
}
#demos .btn-products .btn-product-cart{
	background-color:#fff;
	border-radius:3px;
	padding:5px 10px;
	color:#ee6a1f;
	position:absolute;
	bottom:30%;
	right:9%;
}
#demos .btn-products .btn-product-detail{
	background-color:transparent;
	border:1px solid #fff;
	border-radius:3px;
	padding:5px 10px;
	color:#333;
	position:absolute;
	bottom:30%;
	left:9%;
}

/* footer */
footer#footer {
    margin-top: 70px;
    color: #333;
    padding: 150px 0 20px;
    text-align: center;
    background-image: url(../images/footer-bg.jpg);
    height: auto;
    position: relative;
    background-repeat: no-repeat;
    background-color: #e4e2e3;
}
footer#footer .main-title{
	border-right: 1px solid #852573;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    padding: 0 10px;
    margin: 20px 0;
	line-height:2;
}
footer#footer ul li{
	line-height:2;
}
footer#footer .copy-right{
	border-top: 1px dashed #abaaaa;
    padding: 20px 0 0;
}
footer#footer .footer-contact{
	 background-image: url(../images/footer-map.png);
	background-size:100% 210px;
	height:210px;
	text-align: right;
}
footer#footer .footer-social ul li{
	display: inline-block;
    color: #23419c;
    margin: 0 3px;
}
footer#footer .footer-contact ul li p{
	display: inline-block;
}
footer#footer .footer-contact ul li i{
	color:#23419c;
    display: table-cell;
}
footer#footer .footer-gallery img{
	width:100%;
	height:55px;
	object-fit:cover;
}
footer#footer .footer-topimage{
	margin: -170px 175px;
}
footer#footer .footer-enamad{
	margin-top: 150px !important;
}

@media screen and (max-width:998px){
	#cssmenu {
	    padding: 0;
	}
	.btn-filter-wrap {
	    display: inherit;
    	text-align: center;
	}
	#social{
		margin: 3px 0 !important;
	}
	footer#footer {
	    margin-top: 0;
	}
	footer#footer .footer-topimage, .owl-controls {
	    display: none;
	}
	footer#footer .footer-enamad {
	    margin-top: 20px !important;
	}
	footer#footer .footer-gallery img {
	    height: 90px;
	}
	#about {
	    background-size: 100%;
        min-height: 450px;
    	height: auto;
	    background-repeat: no-repeat;
	}
	#about .about {
	    background-color: #f4c5cd;
	    height: auto;
	    color: #333;
	}
	#about .btn-about {
	    margin: 50px 40px;
	}
	#slider .slider-info {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background-color: transparent;
	}
	.btn-main {
	    padding: 10px 5px;
	    border-radius: 5px;
	    text-decoration: none;
	    margin: 40px 20%;
	    display: block;
	}
}
@media (min-width:768px)and (max-width:998px){
	#demos .btn-products .btn-product-cart{
		right:0;
	}
	#demos .btn-products .btn-product-detail{
		left:0;
	}
	#social{
		margin:20px 0 !important;
	}
}
.alert{
	text-align:right !important;
}
.modal-header h4{
    font-size:18px;
}
.modal-body {
    color: #733160;
}
.modal-footer .btn{
	background-color:transparent !important;
	border: 1px solid #ae1515 !important;
	padding:5px 10px !important;
	color:#ae1515 !important;
}
.modal-footer {
    width: 100%;
}
@media screen and (max-width:768px){
    #slider .slider-info {
        position: absolute;
        top: -49px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
    }
    #slider img {
        height: 180px !important;
        object-fit: contain !important;
    }
    .btn-white {
        background-color: #9f4986;
        color: #fff;
        margin:0 20%;
    }
    #slider .slider-info p{
        color: #ced4da;
        text-shadow: 1px 1px 1px #181515;
    }
    #slider .slider-info h1 {
        font-size: 22px;
        color: #ffc107;
        font-weight: 400;
        text-shadow: 1px 1px 1px #3f3f3f;
    }
    #main-header #social{
        display:none;
    }
}
