<script src="/sliderengine/amazingslider.js"></script>
<link rel="stylesheet" type="text/css" href="/sliderengine/amazingslider-1.css">
<script src="/sliderengine/initslider-1.js"></script>
<style>
/* #amazingslider-1{
	height: 300px !important;
}
.amazingslider-slider-1 {
    height: 300px;
}
 .amazingslider-1, .amazingslider-img-box-1, .amazingslider-bottom-shadow-1    {
	height:300px !important;
}
.amazingslider-text-wrapper-1{
	top:80px !important;
}
.amazingslider-bottom-shadow-1{
	top:80px !important;
}
.amazingslider-nav-1{
	top:250px !important;
}
@media screen and (max-width:998px){
     .amazingslider-img-1 img, .amazingslider-img-elem-1 , .amazingslider-space-1, .amazingslider-img-1, .amazingslider-wrapper-1, .amazingslider-img-2 img,.amazingslider-img-3 img{
    	height:214px !important;
    	object-fit:cover;
    }  
    .amazingslider-bullet-wrapper-1{
    	display:none !important;
    }  
    #amazingslider-1{
    	height: 214px !important;
    }
    .amazingslider-slider-1 {
        height: 214px;
    }
     .amazingslider-1, .amazingslider-img-box-1, .amazingslider-bottom-shadow-1    {
    	height:300px !important;
    }
    .amazingslider-text-wrapper-1{
    	top:80px !important;
    }
    .amazingslider-bottom-shadow-1{
    	top:80px !important;
    }
    .amazingslider-nav-1{
    	top:250px !important;
    } 
}
.amazingslider-box-1 {
    height: 50px;
}
.amazingslider-swipe-box-1 {
    height: 50px;
}
.amazingslider-button-1 {
    margin-top: 100px;
}
.amazingslider-timer-1{
	display:none !important;
}
.amazingslider-bullet-1{
	display:none;
} */
</style>
<!-- Insert to your webpage where you want to display the slider -->
    <div id="amazingslider-wrapper-1" style="display:block;position:relative;width:100%;">
        <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
            <ul class="amazingslider-slides" style="display:none;">
            <?php 
                $slides = $this->slideshows;
                foreach ($slides as $k => $slide) { 
                    if (!is_file($_SERVER['DOCUMENT_ROOT'] . "/uploads/slideshow/" . $slide["image"])) {
                        continue;
                    }
            ?>
            <li>
                <a href="<?php echo $slide["url"];?>">
                    <img src="/uploads/slideshow/<?php echo $slide["image"];?>" alt="<?php echo $slide["caption"];?>"  title="<?php echo $slide["caption"];?>" button="بیشتر بدانید"/>
                    <a href="/laser" target="_blank"><button >بیشتر بدانید</button></a>
                </a>
                 
            </li>
        <?php } ?>
        </ul>
        <ul class="amazingslider-thumbnails" style="display:none;">
            <?php 
            $slides = $this->slideshows;
            foreach ($slides as $k => $slide) { 
                if (!is_file($_SERVER['DOCUMENT_ROOT'] . "/uploads/slideshow/" . $slide["image"])) {
                    continue;
                }
            ?>
                <li><img src="/uploads/slideshow/<?php echo $slide["image"];?>" alt="<?php echo $slide["caption"];?>" title="<?php echo $slide["caption"];?>" /></li>
           <?php } ?>
        </ul>
    </div>
 </div>
 
    

<script>
    //related to slider
    $(document).ready(function(){
        for(i=1;i>20;i++) {
        $("div.amazingslider-text-box-"+i).next().remove();
        $("div.amazingslider-text-box-"+i).next().css('z-index', '-1 !important');
        }
    });
</script>