<link rel="stylesheet" href="/css/layerslider/slider-style.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="/css/layerslider/fractionslider.css">
<script src="/js/layerslider/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/layerslider/main.js" type="text/javascript" charset="utf-8"></script>

<div class="slider-wrapper">
	<div class="responisve-container">
		<div class="slider">
			<div class="fs_loader"></div>
			<div class="slide" style="background-color:#ffde00">
				<img    src="/images/01_box_bottom.png" 
						width="400" height="272"  		
						data-position="100,142" data-in="bottomRight" data-delay="">
				<img    src="/images/01_waves.png" 
						width="200" height="80"
						data-position="150,390" data-in="left" data-delay="" data-out="left">
				<p 		class="claim"			
						data-position="140,540" data-in="top" data-step="1" data-delay="400"  data-out="none">جذب مشتری</p>
				<p 		class="teaser"		
						data-position="190,540" data-in="left" data-step="1" data-special="cycle" data-delay="300" data-out="none">ما پیشرو در عرصه جذب مشتریان وفادار هستیم</p>
			</div>
		<div class="slide" style="background-color:#0792ce">
						<img    src="/images/bike.png" 
								width="250" height="202"  		
								data-position="100,142" data-in="bottomRight" data-delay="">
						<img    src="/images/01_waves.png" 
								width="200" height="80"
								data-position="150,390" data-in="left" data-delay="" data-out="left">
						
						<p 		class="claim"			
								data-position="140,540" data-in="top" data-step="1" data-delay="400"  data-out="none">سرعت انجام کار</p>
						<p 		class="teaser"		
								data-position="190,540" data-in="left" data-step="1" data-special="cycle" data-delay="300" data-out="none">هدف ما ارائه کار باکیفیت در کمترین زمان ممکن می باشد</p>
					</div>
					<div class="slide" style="background-color:#d62323">
						<img    src="/images/relax.png" 
								width="250" height="200"  		
								data-position="100,142" data-in="bottomRight" data-delay="">
						<img    src="/images/01_waves.png" 
								width="200" height="80"
								data-position="150,390" data-in="left" data-delay="" data-out="left">
						
						<p 		class="claim"			
								data-position="140,540" data-in="top" data-step="1" data-delay="400"  data-out="none">رضایت و آسودگی خیال مشتری</p>
						<p 		class="teaser"		
								data-position="190,540" data-in="left" data-step="1" data-special="cycle" data-delay="300" data-out="none">اعتقاد ما و هدف ما بر پایه رضایت و مشتری مداریست</p>
					</div>
					<div class="slide" style="background-color:#34ab01">
						<img    src="/images/scale.png" 
								width="250" height="210"  		
								data-position="100,142" data-in="bottomRight" data-delay="">
						<img    src="/images/01_waves.png" 
								width="200" height="80"
								data-position="150,390" data-in="left" data-delay="" data-out="left">
						
						<p 		class="claim"			
								data-position="140,540" data-in="top" data-step="1" data-delay="400"  data-out="none">قیمت رقابتی</p>
						<p 		class="teaser"		
								data-position="190,540" data-in="left" data-step="1" data-special="cycle" data-delay="300" data-out="none">بهترین را با کمترین قیمت از ما بخواهید</p>
					</div>
					<div class="slide" style="background-color:#702775">
						<img    src="/images/hand.png" 
								width="270" height="210"  		
								data-position="100,142" data-in="bottomRight" data-delay="">
						<img    src="/images/01_waves.png" 
								width="200" height="80"
								data-position="150,390" data-in="left" data-delay="" data-out="left">
						
						<p 		class="claim"			
								data-position="140,540" data-in="top" data-step="1" data-delay="400"  data-out="none">باور و اعتماد</p>
						<p 		class="teaser"		
								data-position="190,540" data-in="left" data-step="1" data-special="cycle" data-delay="300" data-out="none">با اعتماد به ما، به انگشتانتان اجازه دهید، راه بروند</p>
					</div>
					
				
		</div>
	</div>
</div>
