<div id="slider" class="carousel slide" data-ride="carousel">

  <!-- Indicators 
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
  </ul>-->

  <!-- The slideshow -->
  <div class="carousel-inner">
  	<?php foreach ($this->slideshows as $slide){ //var_dump($slide);die;?>
    <div class="carousel-item">
     	<img src="/uploads/slideshow/<?php echo $slide['image']?>" alt="<?php echo $slide['caption'];?>"/>
        <div class="slider-info carousel-caption d-none d-md-block slider-info-bg text-center">
            <h1><?php echo $slide['caption'];?></h1>
            <p><?php echo $slide['description'];?></p>
          <!--  <a href="/main-category" class="btn-main btn-white">سفارش خدمات</a>
            <a href="/products" class="btn-main btn-white-border">خرید محصول</a>-->
        </div>
    </div>
    <?php }?>
  </div>
   <!-- Company name
    <div class="slider-info">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="carousel-caption d-none d-md-block slider-info-bg text-center">
                    <h1>شرکت کف بازار</h1>
                    <p>ارائه دهنده خدمات چاپ و هدایای تبلیغاتی به صورت آنلاین و در سریعترین زمان</p>
                    <a href="/main-category" class="btn-main btn-white">سفارش خدمات</a>
                    <a href="/products" class="btn-main btn-white-border">خرید محصول</a>
                </div>
            </div>
        </div>
    </div> -->
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slider" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slider" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<script type="text/javascript">
    //$(document).ready(function(){
        $('#slider .carousel-item').first().addClass('active');
        $('#slider .carousel-indicators > li').first().addClass('active');
        $('#slider').carousel();
    //});
</script>
