<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php $this->layout('layout/empty');?>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Coming Soon</title>
<link href="/tools/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/tools/jquery.min.js"></script> 
<script type="text/javascript" src="/tools/cufon-yui.js"></script>
<script type="text/javascript" src="/tools/Abraham_Lincoln_400.font.js"></script>
<script type="text/javascript" src="/tools/Inspiration_400.font.js"></script>
<script type="text/javascript" src="/tools/Museo_Slab_100_400-Museo_Slab_700_400.font.js"></script>
<script type="text/javascript">
	Cufon.replace('.logo h1', {fontFamily: 'Inspiration'});
	Cufon.replace('.logo h2', {fontFamily: 'Museo Slab 100'});
	Cufon.replace('.logo h2 span', {fontFamily: 'Abraham Lincoln'});
	Cufon.replace('p.big_text, p.small_text', {fontFamily: 'Museo Slab 100'});
	Cufon.replace('p.big_text strong, p.small_text strong', {fontFamily: 'Museo Slab 700'});
</script>


</head>
<body>
<div id="transy">
</div>
<div id="wrapper">
	<div class="logo"><h1>Something went wrong...</h1><h2><strong class="one"></strong><span>&amp;</span> <strong class="two"></strong></h2></div>
	<div class="content">
		<p class="big_text"> </p>
		<strong style="font-size:30px; font-family: 'Yekan';color:#fff">Page not found... </strong>
		<p class="small_text"><strong></strong></p>
		<!-- <div class="form">
			<div class="field_content">
				<input class="field" type="text"  />
				<input class="submit" type="button" value="" />
			</div>
		</div> -->
		<div class="clear"></div>
		<p style="text-align:center;font-family: 'Yekan';text-decoration:none;color:#fff"><a href="http://cadafzar.netshahr.com/fa" target="_blank" style="text-align:center;font-family: 'Yekan';text-decoration:none;color:#fff;font-weight:bold">Home </a></p>
		<!-- <ul class="social">
			<li class=""><a href="#">طراحی سایت </a>:<a href="#">شبدیز </a></li>
		</ul> -->
		
		
	</div>
</div>
</body>
</html>
