<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php echo __('Edit'). $this->title; ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit') . $this->title ; ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Edit'). $this->title?></h3>
        </div><!-- /.box-header -->
        <div class="box-body" style="padding:20px 40px;">
                    <?php 
                    	$footbalForm = $this->footbalForm;
                    	$footbalForm->prepare();
                    	echo $this->form()->openTag($footbalForm);
                    ?> 
                    <?php 
        				 foreach ($footbalForm as $elements) {   
        				 	$type = $elements->getAttribute("type"); 
        				 	if ($type != 'submit') {
        					?>
			            <div class="row">
			                  <div class="col-lg-6">
			                	<div class="form-group">
			                	     <label class="control-label"><?php echo  $elements->getLabel() ; ?></label>
			                		 <?php echo  $this->formElement($elements) ; ?> 
			                	</div>  
			        		</div>
		        		</div>
                   <?php }?>
                <?php }?>
            	<div class="form-group">
                	<?php 
                	//	echo $this->formElement($footbalForm->get('csrf'));
                	//	echo $this->formElementErrors($footbalForm->get("csrf"));
                		echo $this->formElement($footbalForm->get('submit'));
                		//echo $this->formElement($footbalForm->get('submitandreturn'));
            		?>
            		<a href="/admin-football/parameter/League" class="btn btn-warning"><?php echo __("Cancle")?></a>
        		</div>
        		<?php  echo $this->form()->closeTag(); ?>
    	</div>
	</div>
</section>
<script type='text/javascript'> 
$(document).ready(function(){
	  jQuery('#game_date').persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:" "});  
	  jQuery('#start_date').persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:" "});  
});
$('body').find('#league_id').on('change', function() { 
    var leagueId = this.value; 
  
    $.ajax({
        url: '/football-ajax-getweek',
        method: 'post',
        data: {
            leagueId: leagueId, 
        },
        success: function(data) {
     	   $("#content-team").html('');
            var result = $.parseJSON(data);
            var html = '';  
   
            for (i = 1; i<= result; i++) {
                html += '<option value="'+i+'">' + getweekname(i) + '</option>'; 
            } 
            $("#game_week").html(html); 
        }

});	
});	
</script>
