<?php $this->headTitle(__('Edit link'));?>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
 <?php echo __('Edit comment')?>
    <small><?php echo __("Control panel")?></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
    <li class="active"><?php echo __('Edit comment')?></li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Edit comment')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
  <?php 
	$commentForm = $this->commentForm;
	$commentForm->prepare();
	echo $this->form()->openTag($commentForm);
	?>
        <div class="row">
            <div class="col-lg-5">
                 <!--  help -->
                <fieldset class="help-form">    	
					<legend> راهنمای کامنت گذاری در بلاگ</legend>
					<p>
					در این بخش میتوانید بعد از مشاهده کامنت های افراد، هرکدام از کامنت ها را که بخواهید  برای نمایش در سایت فعال کنید یا در صورتی که تمایلی به نمایش در سایت ندارید، غیرفعال نمایید.
					</p>
    			</fieldset>
            </div>
            <div class="col-lg-7">  
				<div class="form-group">
					<label class="control-label"><?php echo $commentForm->get('name')->getLabel(); ?></label><span class="mandetory-field"> <?php echo __("Required");?></span>
			        <?php echo $this->formElement($commentForm->get('name'));
			        echo $this->formElementErrors($commentForm->get("name")); ?>
			    </div>	
				<div class="form-group">
					<label class="control-label"><?php echo $commentForm->get('guest_email')->getLabel(); ?></label><span class="mandetory-field"> <?php echo __("Required");?></span>
			        <?php echo $this->formElement($commentForm->get('guest_email'));
			        echo $this->formElementErrors($commentForm->get("guest_email")); ?>
			    </div>	
				<div class="form-group">
					<label class="control-label"><?php echo $commentForm->get('comment')->getLabel(); ?></label><span class="mandetory-field"> <?php echo __("Required");?></span>
			        <?php echo $this->formElement($commentForm->get('comment'));
			        echo $this->formElementErrors($commentForm->get("comment")); ?>
			    </div>	
				 	
				<div class="form-group">
					<label class="control-label"><?php echo $commentForm->get('status')->getLabel(); ?></label><span class="mandetory-field"> <?php echo __("Required");?></span>
			        <?php echo $this->formElement($commentForm->get('status'));
			        echo $this->formElementErrors($commentForm->get("status")); ?>
			    </div>	
				 	
		    </div> 
        </div>
        <div class="form-group pull-left">
            <?php echo  $this->formElement($commentForm->get('submit'));   ?>
            <a href="/admin-comment/list-comments/<?php echo $this->id; ?>" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
        </div>
    </div>
</div>
    <?php echo $this->form()->closeTag();?>
</section>
 