
<h4><?php echo __('Users comments list');?></h4>

<table class="table table-hover table-striped">
  <tr>
    <td><strong>#</strong></td>
    <td class="col-lg-2"><strong>عنوان</strong></td>
    <td><strong>نوع</strong></td>
    <td><strong>نام</strong></td>
    <td class="col-lg-5"><strong>متن نظر</strong></td>
    <td><strong>تاریخ</strong></td>
    <td><strong>وضعیت</strong></td>  
    <td><strong>حذف</strong></td>  
  </tr>
  <?php 
  		if($this->comments) {
  			foreach ($this->comments as $counter => $comment) { 
  				$title = "";
  				$commentLink = "#";
  				if ($comment['entity_type'] == 'post') { 
		  			$commentLink = $this->urlGenerator()->postUrl($comment);
  					$title = $comment['post_title'];
  				} 
    ?>				
    <tr>
	    <td><?php echo ++$counter ?></td>
	    <td class="col-lg-2"><a href="<?php echo $commentLink; ?>" target="_blank"><?php echo $this->escapeHtml($title); ?></a></td>
	    <td><?php 
	    	switch ($comment['entity_type']) {
	    		case 'post': 
	    			echo __("Blog");
	    		break;
	    	}
	    ?></td>
	    <td><?php echo $this->escapeHtml($comment['firstname'] . ' ' . $comment['lastname']); ?></td>
	    <td class="col-lg-5"><?php echo $this->escapeHtml($comment['comment']); ?></td>
	    <td><?php echo $this->date()->persianDate(strtotime($comment['date'])); ?></td>
	    <td><?php echo ($comment['status'] == 1 ? "Published":"Unpublished"); ?></td>  
	    <td><a class="btn btn-xs btn-danger delete-btn" href="<?php echo $this->url('admin_comments_delete', array(
	    		'id' => $comment['id'],
	    		'token' => $this->csrf
	    )); ?>"><span class="glyphicon glyphicon-remove"></span></a></td>
  </tr> 
  <?php 
  		}
  	}
  ?>   
</table>
<?php 
	echo $this->paginationControl($this->comments, 'Sliding', 'layout/paginator', array(
			'route' => 'comment-admin'
	));
?>
<!-- Modal HTML -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <h5>آیا مطمئن هستید که قصد حذف این کامنت را دارید؟</h5>
                    <p>توجه داشته باشید که در صورت حذف کامنت، امکان بازگرداندن آن وجود نخواهد داشت.</p>
                </div>
                <div class="modal-footer">
<!--                     <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">انصراف</button> -->
                    <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#">آری، قصد حذف کامنت را دارم</a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $('.delete-btn').click(function(e) {
        e.preventDefault();
        $('#modal').modal();
        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
    });
</script> 