<link rel="stylesheet" type="text/css" href="/css/aos.css" /> 
<link rel="stylesheet" type="text/css" href="/css/style3.css" /> 
 <style>
.internal-post .page-content {
    background-color: transparent !important;
}
</style>
	<a id="active25">
	</a>
	<div class="">
	       <div class="col-xs-12 col-md-3 gallery_cat pull-right">
			<div class="cat_title">دسته بندی آلبوم تصاویر </div>
				
					<ul id="selectableGalley" class="list-unstyled"> 
                     	<?php
    
                    foreach ($this->galleries as $galleryId => $g) {
                        $class = isset($g['child'])?"has_sub": "";
               
                    	if ($g['latin_name'] == 'my-image-gallery') { 
                     	   $class = isset($g['child'])?" has_sub ": "";
                    	}
                        $classPlus = isset($g['child'])?"plus_sub": "";
                        
                        echo '<li data="' . $galleryId . '"  class="'.$class.'" id="active'.$galleryId.'"><div class="'.$classPlus.'"></div>' . $g['persian_name'] . '</li>';
                
                        if (isset($g['child'])) {
                            
                            echo '<ul>';
                            foreach ($g['child'] as $id => $img) {
                                // var_dump($img);
                                echo '<li data=' . $id.'  id="acitve'.$id.'">' . $img['persian_name'] . '</li>';
                            }
                            echo '</ul>';
                        }
                    }
                    ?>
 	              </ul>
		</div>
		<div class="col-xs-12 col-md-9 album_gallery">
			<ul class="list-unstyled pull-right" id="gallery">
			    <?php
        $count = 0;
        $tt = 0;
        if ($this->images) {
            $count = count($this->images);
            $count = $count % 4;
            $gallerries = $this->galleries; // die;

 
                     $i = 1;
                    foreach ($this->images as $image) {
                    
                ?>
		 
				<li data-aos="fade-right" class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate pull-right">
				<a class="fancybox" href="/uploads/gallery/<?php echo $image['file_name'];?>" data-fancybox-group="gallery" title="<?php echo $image['caption'];?>">
					   <img src="/uploads/gallery/<?php echo $image['file_name'];?>" class="img-responsive img-fade">
					</a>
					<a class="fancybox" href="/uploads/gallery/<?php echo $image['file_name'];?>" data-fancybox-group="gallery" title="<?php echo $image['caption'];?>">
					   <div class="gallery_title"><?php echo $image['caption'];?></div>
					</a>
				</li>
			 
				<?php  $i++;} ?>
 				
			</ul>
		</div>
	</div>

<?php } ?>
 
<script type="text/javascript">
 
$(document).ready(function(){  
	$('.fancybox').fancybox();
 
	 $("li.has_sub").on('click', function(){
	       $(this).next("ul").slideToggle();
	 });
   $("#selectableGalley li#active25").trigger("click"); 
});
$('body').on('click',"#selectableGalley li",function() {
//$("#selectableGalley li").on('click', function(){
	
	var html = '';
	var count = 0;
	var galleryId = $(this).attr('data');  
 	$('.carousel-inner').html('');
    $.ajax({
        url: '/gallery-ajax-selector',
        data: {
            galleryId : galleryId 
        },
        dataType: 'json',
        type: 'POST',
        success: function(data) {
        	html ='';
            if(data) {
           	 $('#gallery').empty();
               
                var i = 1;
                 $.each(data, function(key, newArray) {
                  
                    	 var classs = '';
                    	 var html = '';
                      	 if (key == 0) {
                        	}   

 html +='<li data-aos="fade-right" class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate pull-right">';
 html +='<a class="fancybox" href="/uploads/gallery/'+newArray.file_name+'" data-fancybox-group="gallery" title="'+newArray.caption+'">';
 html +='<img src="/uploads/gallery/'+newArray.file_name+'" alt="'+newArray.caption+'" width="150" height="150">';
  html +='</div></li>';
 
                            
             				$('#gallery').append(html);
             				i++;
                 });

                 
            } else {
                $(".gallery-alert").addClass('alert-danger');
                $(".gallery-alert").html('<?php echo __("No Gallery Found!");?>');
                $('.gallery-alert').show().fadeOut(10000);
            }
        
        },
        error: function(result) { 
            $('#contact-form-error').show().fadeOut(10000);
        }
     });

}) 

</script>

