<script type="text/javascript">
	
    $(document).ready(function() { 
		$('.fancybox').fancybox();
	});
 
</script>

<?php
if ($this->images) {
    ?>
    <div class="container">
<div class="col-md-12 album_gallery">
			<ul class="list-unstyled pull-right">
    			<?php 
    			     foreach ($this->images as  $image) { 
    			?>
				<li class="col-md-4">
					<a class="fancybox" href="/uploads/gallery/<?php echo $image['file_name'];?>" data-fancybox-group="gallery" title="<?php echo $image['caption'];?>">
					   <img src="/uploads/gallery/<?php echo $image['file_name'];?>" class="img-responsive">
					</a>
					<a class="fancybox" href="/uploads/gallery/<?php echo $image['file_name'];?>" data-fancybox-group="gallery" title="<?php echo $image['caption'];?>">
					   <div class="gallery_title"> <?php echo $image['caption'];?></div>
					</a>
				</li>
				<?php }?>
 				
			</ul>
			</div>
			</div>
<?php } ?>

