<!-- gallery for home page: -->
<link rel="stylesheet" href="/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />

<script src="/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<?php
	if ($this->images) { 
?>
              <div class="carousel margin-top-20" data-flickity='{ "autoPlay": true,"cellAlign": "left","freeScroll": true, "wrapAround": true  }'>
                <?php foreach ($this->images as $image) { 
                ?>
                 
                    
               <a class="carousel-cell" rel="prettyPhoto[gallery1]" href="/uploads/gallery/<?php echo $image['file_name'];?>">
                    <img src="/uploads/gallery/<?php echo $image['file_name'];?>" class="img-responsive" width="381" height="240" alt="<?php echo $image['caption']?>"  />
                    <div class="carousel-caption"><?php echo $image['caption']?></div>
                </a>
                <?php } ?>
      </div>
<?php } ?>
