<script type="text/javascript">
    
    $(document).ready(function() { 
        $('.fancybox').fancybox();
    });
 
</script>
      <?php if($this->images) {?>
        <div class="row">
          <?php  foreach ($this->images as  $image) {
          ?>  
    
    	  <div class="col-xs-4 col-sm-6 col-md-4 m-0 p-0">
				<a href="/uploads/gallery/<?php echo $image['file_name'];?>"
					data-fancybox-group="gallery" title="<?php echo $image['caption'];?>"
					class="thumbnail fancybox"><img
					src="/uploads/gallery/<?php echo $image['file_name'];?>"
					alt="Image" style="max-width: 100%;"> </a>
			</div>
     <?php
        }?>
        </div>
    <?php   }
    ?>
