<style>
    .hide-bullets {
        list-style:none;
        margin-left: -40px;
        margin-top:20px;
    }
    
    .thumbnail {
        padding: 0;
    }
    
    .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        width: 100%;
    }
    
    .col-sm-3 a {
        border: 1px solid transparent;
        border-radius: 0;
        transition: all 3s ease;
    }
    
    .col-sm-3 a:hover {
        border: 1px solid #ff4647;
        border-radius: 100% 60% / 30% 10%;
        background: linear-gradient(rgba(56,123,131,0.7),rgba(56,123,131,0.7));
    }
</style>

<div class="">
	       <div class="col-xs-12 col-md-3 gallery_cat pull-right">
			<div class="cat_title">دسته بندی آلبوم تصاویر </div>
				
					<ul id="selectableGalley" class="list-unstyled"> 
                     	<?php
    
                    foreach ($this->galleries as $galleryId => $g) {
                        $class = isset($g['child'])?"has_sub": "";
               
                    	if ($g['latin_name'] == 'my-image-gallery') { 
                     	   $class = isset($g['child'])?" has_sub ": "";
                    	}
                        $classPlus = isset($g['child'])?"plus_sub": "";
                        
                        echo '<li data="' . $galleryId . '"  class="'.$class.'" id="active'.$galleryId.'"><div class="'.$classPlus.'"></div>' . $g['persian_name'] . '</li>';
                
                        if (isset($g['child'])) {
                            
                            echo '<ul>';
                            foreach ($g['child'] as $id => $img) {
                                // var_dump($img);
                                echo '<li data=' . $id.'  id="acitve'.$id.'">' . $img['persian_name'] . '</li>';
                            }
                            echo '</ul>';
                        }
                    }
                    ?>
 	              </ul>
		</div>
		<div class="col-xs-12 col-md-9 album_gallery">
			<ul class="list-unstyled pull-right" id="gallery">
			    <?php
        $count = 0;
        $tt = 0;
        if ($this->images) {
            $count = count($this->images);
            $count = $count % 4;
            $gallerries = $this->galleries; // die;

 
                     $i = 1;
                    foreach ($this->images as $image) {
                    
                ?>
		 
				<li data-aos="fade-right" class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate pull-right">
				<a class="fancybox" href="/uploads/gallery/<?php echo $image['file_name'];?>" data-fancybox-group="gallery" title="<?php echo $image['caption'];?>">
					   <img src="/uploads/gallery/<?php echo $image['file_name'];?>" class="img-responsive img-fade">
					</a>
					<a class="fancybox" href="/uploads/gallery/<?php echo $image['file_name'];?>" data-fancybox-group="gallery" title="<?php echo $image['caption'];?>">
					   <div class="gallery_title"><?php echo $image['caption'];?></div>
					</a>
				</li>
			 
				<?php  $i++;} ?>
 				
			</ul>
		</div>
	</div>

<?php } ?>
<div class="container">
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-6" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets">
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-16">
                            <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories16.jpg">
                        </a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-1"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories01.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-2"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories02.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-3"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories03.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-4"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories04.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-5"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories05.jpg"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-6"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories06.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-7"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories07.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-8"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories08.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-9"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories09.jpg"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-10"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories10.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-11"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories11.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-12"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories12.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-13"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories13.jpg"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-14"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories14.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-15"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories15.jpg"></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel2">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item" data-slide-number="16">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories16.jpg"></div>

                                    <div class="item" data-slide-number="1">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories01.jpg"></div>

                                    <div class="item" data-slide-number="2">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories02.jpg"></div>

                                    <div class="item" data-slide-number="3">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories03.jpg"></div>

                                    <div class="item" data-slide-number="4">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories04.jpg"></div>

                                    <div class="item" data-slide-number="5">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories05.jpg"></div>
                                    
                                    <div class="item" data-slide-number="6">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories06.jpg"></div>
                                    
                                    <div class="item" data-slide-number="7">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories07.jpg"></div>
                                    
                                    <div class="item" data-slide-number="8">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories08.jpg"></div>
                                    
                                    <div class="item" data-slide-number="9">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories09.jpg"></div>
                                    
                                    <div class="item" data-slide-number="10">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories10.jpg"></div>
                                    
                                    <div class="item" data-slide-number="11">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories11.jpg"></div>
                                    
                                    <div class="item" data-slide-number="12">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories12.jpg"></div>

                                    <div class="item" data-slide-number="13">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories13.jpg"></div>

                                    <div class="item" data-slide-number="14">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories14.jpg"></div>

                                    <div class="item" data-slide-number="15">
                                        <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/falko_gallery_accessories15.jpg"></div>
                                </div>
                                <!-- Carousel nav -->
                                <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Slider-->
        </div>

    </div>
</div>
<script type="text/javascript">
 
$(document).ready(function(){  
	$('.fancybox').fancybox();
 
	 $("li.has_sub").on('click', function(){
	       $(this).next("ul").slideToggle();
	 });
   $("#selectableGalley li#active25").trigger("click"); 
});
$('body').on('click',"#selectableGalley li",function() {
//$("#selectableGalley li").on('click', function(){
	
	var html = '';
	var count = 0;
	var galleryId = $(this).attr('data');  
 	$('.carousel-inner').html('');
    $.ajax({
        url: '/gallery-ajax-selector',
        data: {
            galleryId : galleryId 
        },
        dataType: 'json',
        type: 'POST',
        success: function(data) {
        	html ='';
            if(data) {
           	 $('#gallery').empty();
               
                var i = 1;
                 $.each(data, function(key, newArray) {
                  
                    	 var classs = '';
                    	 var html = '';
                      	 if (key == 0) {
                        	}   

 html +='<li data-aos="fade-right" class="col-xs-12 col-sm-6 col-md-4 aos-init aos-animate pull-right">';
 html +='<a class="fancybox" href="/uploads/gallery/'+newArray.file_name+'" data-fancybox-group="gallery" title="'+newArray.caption+'">';
 html +='<img src="/uploads/gallery/'+newArray.file_name+'" alt="'+newArray.caption+'" width="150" height="150">';
  html +='</div></li>';
 
                            
             				$('#gallery').append(html);
             				i++;
                 });

                 
            } else {
                $(".gallery-alert").addClass('alert-danger');
                $(".gallery-alert").html('<?php echo __("No Gallery Found!");?>');
                $('.gallery-alert').show().fadeOut(10000);
            }
        
        },
        error: function(result) { 
            $('#contact-form-error').show().fadeOut(10000);
        }
     });

}) 

</script>
<!-- gallery new -->
<script>
    jQuery(document).ready(function($) {
    	 
        $('#myCarousel2').carousel({
                interval: 5000
        });
    
        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click(function () {
        var id_selector = $(this).attr("id");
        try {
            var id = /-(\d+)$/.exec(id_selector)[1];
            console.log(id_selector, id);
            jQuery('#myCarousel2').carousel(parseInt(id));
        } catch (e) {
            console.log('Regex failed!', e);
        }
    });
        // When the carousel slides, auto update the text
        $('#myCarousel2').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
    });
</script>