<script type='text/javascript' src='/js/jquery-11.0.min.js'></script>	
	<script type='text/javascript' src='/js/unitegallery.min.js'></script>	

	<link rel='stylesheet' href='/css/unite-gallery.css' type='text/css' />
	
	<script type='text/javascript' src='/js/ug-theme-tiles.js'></script>
	
<?php if($this->images) { 

 
?>

 <div class="tours-holder " style="padding-top: -50px;padding-bottom:80px">
 
 
	<div class="container">
		<div class="row">
			<div id="gallery" >
<?php foreach ($this->images as $image) {
        echo '
    		<a href="#">
    		<img alt="'.$image['is_special'].'"
    		     src="/uploads/gallery/'.$image['file_name'].'"
    		     data-image="/uploads/gallery/'.$image['file_name'].'"
    		     data-description="'.$image['is_special'].'"
    		     >
    		</a>
     
     ';
    
}
    ?>
    
 
			 
	</div>
			
		</div>		
	</div>		
</div>	
		
		
<?php }?>
		
<script type="text/javascript"> 
	$(document).ready(function(){ 
		$("#gallery").unitegallery(); 
	}); 
</script>
		

 
