<script type="text/javascript">
    $(document).ready(function() { 
        $('.fancybox').fancybox();
    });
</script>
<div style="direction: ltr;" class="">	
   <?php if($this->images) {  ?>  
    <div  class="owl-carousel owl-theme">
       <?php  foreach ($this->images as  $image) { ?>
    	  <div class="item">
    			<a href="/uploads/gallery/<?php echo $image['file_name'];?>"
        			data-fancybox-group="gallery" title="<?php echo $image['caption'];?>"
        			class="thumbnail fancybox"><img
        			src="/uploads/gallery/<?php echo $image['file_name'];?>"
        			alt="Image" style="max-width: 100%;"> </a>
    	  </div>
        <?php } ?>
    </div>
    <?php }?>
</div>
  <!-- owl -->
<script type="text/javascript">
$(document).ready(function() {
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: true
        },
        600: {
          items: 3,
          nav: false
        },
        1000: {
          items: 4,
          nav: true,
          loop: false,
          margin: 20
        }
      }
    })
})
</script>