<?php 
$this->headLink()->prependStylesheet('/css/gallery.css');
$this->headscript()->prependFile($this->basePath('/js/jquery.prettyPhoto.js'));
?>


<style>
.submenu {
left: 10px;
}
</style>
<div class="col-sm-8 ">
        <div class="col-sm-4 mobpagemenu navbar-collapse multicol" id="navbar">    
    		<ul class="mobmenu nav" >
    			
    		<?php 
    		$allGallery = $this->allGallery;
			     if(isset ($allGallery)){
			         echo $allGallery;
			     }

    		?>
    		</ul>
        </div>
	<div class="text-center ">

			<ul class="gallery clearfix">
        <?php 
        if ($this->allimage) {
        foreach ($this->allimage as $image) { ?>
              <li><a href="/uploads/gallery/<?php echo $image['file_name'];?>" rel="prettyPhoto[gallery1]"  title="<?php echo $image['caption'];?>">
					<img src="/uploads/gallery/<?php echo $image['file_name'];?>" alt="<?php echo $image['caption'];?>" title="<?php echo $image['caption'];?>" /></a></li>
               <?php }} ?>
             </ul>
             


</div>
</div>


<div class="col-sm-4 nopadding" >
<div class="pagemenu ">
	<div class="verticaltext ">Gallery</div>

			<?php 
			     if(isset ($allGallery)){
			         echo $allGallery;
			     }
    		?>
    		
</div>
</div>
<script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        $("area[rel^='prettyPhoto']").prettyPhoto();
        
        $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: false});
        $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
    
        $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
          custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
          changepicturecallback: function(){ initialize(); }
        });

        $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
          custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
          changepicturecallback: function(){ _bsap.exec(); }
        });
      });


      $('.gallery').click(function(){
      	   var catId = $(this).attr('data-id'); 
    
      	   $.ajax({
      	      url: '/<?php echo $this->layout()->lang;?>/gallery/ajax/show-gallery',
      	      type:'POST', 
      	      data: 
      		      {
      		      	 id: catId, 
      		      },
      	      success:function(result) {
       	    	 $(".submenu").empty();
      	    	 var result = $.parseJSON(result);
      	    	 
      	        if(result) { 
      	    		  $.each(result.item, function(key, value){
        	    			console.log(value);
          			  $('.submenu').append('<li data-id='+value.id+' ><a href="/gallery/index/showimage/'+value.id+'">'+value.persian_name+'</a></li>');		    	     
      		    	  });
      	        } else {

      	        }
      	      }    	   });
      });
      $('.pagemenu > ul.menu > li > a').click(function(){
    	  $(".pagemenu ul.menu ul.menu").fadeOut();
    	  $('ul.menu > li').removeClass('active');
          $(this).parent('li').addClass('active');
          var ulright = $('.pagemenu > ul.menu').width();
          var ulrighthalf = ulright/2;
          var ulrightquarter = ulright/4;
          var ulright65 = ulrighthalf + ulrightquarter;
          var ulright = ulright + ulright65;
          $(this).next().css("right" , ulright).fadeIn();
      });

</script>
