<div class="col-md-12 col-xs-12 col-sm-12 top-menu">
    <a class="col-md-2 col-sm-3 pull-right" href="/">
         <img alt="Brand" class="img-responsive" src="/images/logo/logo.png">
    </a>
   <!--   <form class="searchbox" name="searchbox" id="searchbox" action="/" method="POST">  -->
        <div class="col-md-9 col-xs-12 col-sm-8 navbar-text pull-right">
            <div class="form-group col-md-10 col-sm-10 col-xs-10 pull-right">
                <input id="search_inputt" name="search" type="search" class="form-control col-md-2" placeholder="جستجو">

            </div>
            <button id="btn-searchbox" type="button" class="btn btn-default col-md-2 col-sm-2 col-xs-2 btn-primary pull-right"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="col-md-9 col-xs-12 col-sm-8 navbar-text pull-right">
            <div class="form-group col-md-10 col-sm-10 col-xs-10 pull-right resultOfsearch"> 

            </div> 
        </div>
   <!--  </form>  --> 
</div>
<script>
// $("#btn-searchbox").on('click', function(e) {
$("#btn-searchbox").on('click', function() {
	$('.resultOfsearch').html('');
	var q = $("#search_input").val();
	//q += 'downalod '+q;
	   $.ajax({
	 	      url: '/application-search-ajax',
	 	      type:'POST',
	 	      data: 
	 		      {
	 		      	 q: q, 
	 		      },
	 	      success:function(result) {
				var html = '';
				var result = JSON.parse(result);
	 	        if(result) {
	 	        	$.each(result, function(val,res) {
		 	        	html += '<div class="row">';
		 	        	html += '<div class="col-lg-9">';
		 	        	html += '<div class="col-lg-12">'+ res[0] +'</div>'; 
		 	        	html += '<div class="col-lg-12"><img src ="'+res[3]+'" >'; 
		 	        	html += '<div class="col-lg-12"><a href="'+ res[1] +'">'+ res[1] +'</a></div>'; 
		 	        	html += '<div class="col-lg-12">'+ res[2] +'</div>'; 
		 	        	html += '</div>';
		 	        	html += '</div>';
	 	        	});
	 	        	$('.resultOfsearch').html(html);
		 	       }  else if (result == "child") {
		 	          alert('<?php echo __("This menu has child!");?>');
		 	       } else {
		 	           alert('<?php echo __("Operation failed");?>');
		 	       }
	 	      }
	    });
});
</script>