<?php
$_SESSION['RF']['subfolder'] = "pages";
	$this->headScript()->appendFile($this->basePath('/tinymce/tinymce.min.js'));
	$pageForm = $this->pageForm;
	$pageForm->prepare();
?>

<section class="content-header">
    <h1>
        <?php echo __('Edit page'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit page'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit page");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
	           echo $this->form()->openTag($pageForm);
            ?>
           <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">محتوای صفحه</a></li>
                <li><a data-toggle="tab" href="#menu2">سئو</a></li>
                <li><a data-toggle="tab" href="#menu3">افزودن رسانه</a></li>
              </ul>
            
              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <!-- first tab-page content -->
                                <div class="row">
                        <div class="col-lg-4">
                         <!--  help -->
                            <fieldset class="help-form">    	
                					<legend>راهنمای محتوای صفحه</legend>
        							<p>
            						1-فیلد انتخاب زبان، جهت انتخاب زبان صفحه در سایتهای چند زبانه می باشد، توجه کنید به تعداد زبان ها باید صفحه به ازای آن زبان ایجاد کنید
            						<br />
            						2-عنوان و بدنه صفحه، محتوای صفحه شما را تشکیل می دهند و جزء فیلدهای ضروری هستند
            						<br />
            						3-این امکان برای شما وجود داردکه با فعال یا غیرفعال کردن صفحه ، صفحه ای را برای کاربر به نمایش بگذارید و یا موقتا آن را از دسترس کاربران خارج کنید
        							<br />
        							برای فعال کردن صفحه ، توجه داشته باشید که حتما باید تیک منتشر شده را بزنید
        							</p>
                			</fieldset>	
                        </div>
                    	<div class="col-lg-8">
                    	
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($pageForm->get('page_lang')); ?></label>
                            	<?php echo $this->formElement($pageForm->get('page_lang'));
                            	echo $this->formElementErrors($pageForm->get("page_lang")); ?>
                        	</div>
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($pageForm->get('page_title')); ?></label>
                            	<?php echo $this->formElement($pageForm->get('page_title'));
                            	echo $this->formElementErrors($pageForm->get("page_title")); ?>
                        	</div>
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($pageForm->get('page_content')); ?></label>
                            	<?php echo $this->formElement($pageForm->get('page_content'));
                            	echo $this->formElementErrors($pageForm->get("page_content")); ?>
                        	</div>
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($pageForm->get('page_status')); ?></label>
                            	<?php echo $this->formElement($pageForm->get('page_status'));
                            	echo $this->formElementErrors($pageForm->get("page_status")); ?>
                        	</div>
                    	</div>
                    	</div>
                </div>
                <div id="menu2" class="tab-pane fade">
                  <div class="row">
                	 <div class="col-lg-6">
                     <!--  help -->
                         <fieldset class="help-form">
                                <legend>
                                  راهنمای متا
            					</legend>
    							<p>
    							توضیحات و کلمات متا ، دو بخش از هر صفحه وب هستند که کمک شایانی به افزایش بازدید صفحه از طریق موتورهای جستجو میکنند و جزو مواردی هستند که در سئوی سایت موثر هستند
        					؛ بنابراین سعی کنید برای هر صفحه از سایت خود، این موارد را ایجاد کنید
        						<br />
        						1-توضیحات متا، شامل توضیحاتی مرتبط با صفحه شما می باشد که در واقع معرف صفحه شما در گوگل است و هنگامی که کاربر واژه ای را جستجومیکند، ولینک سایت شما ظاهر می شود، این توضیحات در زیر عنوان به نمایش گذاشته می شود
        						؛ توجه کنید که این متن نباید بیشتر از 160 کاراکتر باشد
        						<br />
        						2-کلمات متا، شامل کلیدواژه های مرتبط با صفحه شما می باشد که احتمال میدهید کاربران این واژه ها را بیشتر جستجو میکنند؛ توجه کنید که این کلید واژه ها باید کاملا مرتبط با محتوای صفحه شما باشند و با کامای انگلیسی از هم جدا شوند و نکته دیگر اینکه حتی الامکان در عنوان صفحه و متن بدنه صفحه ذکر شده باشند؛ شما میتوانید 7 الی 10 واژه انتخاب نمایید
    							3-این فیلدها غیرضروری هستند و میتوانید آنها را پر نکنید و لی توصیه ما به شما، توجه به این بخش است
    							</p>
            			</fieldset>	
                       
                    </div>
                    <div class="col-lg-6">
                	    <div class="box1">
                	       <div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($pageForm->get('page_meta_description')); ?></label>
                            	<?php echo $this->formElement($pageForm->get('page_meta_description')); 
                            	echo $this->formElementErrors($pageForm->get("page_meta_description"));?>
                        	</div>	
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($pageForm->get('page_meta_keywords')); ?></label>
                            	<?php echo $this->formElement($pageForm->get('page_meta_keywords'));
                            	echo $this->formElementErrors($pageForm->get("page_meta_keywords")); ?>
                        	</div>
                        	
                	   </div>
                	   </div>
                	   </div>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <div class="row">
            	    <div class="col-lg-6">
            	    
                     <!--  help -->
                        <fieldset class="help-form">    	
            					<legend>
                					راهنمای اضافه کردن رسانه به صفحه
            					</legend>
    							<p>
        						در صورت نیاز شما می توانید ، به صفحه خود گالری، اسلایدشو، و یا گالری ویدئو اضافه کنید؛ البته این بخش مستلزم این است که این بخش ها در قرارداد طراحی سایت شما آمده باشد یا خیر.
        						<br />
        						1- نکته ای که در این بخش وجود دارد این است که در صورتی که شما نیاز داشته باشید به هریک ازصفحات سایت خود، این موارد را اضافه کنید، کافیست قبل از ایجاد صفحه مورد نظر، در بخش های مربوطه رسانه های مدنظر را ایجاد کرده باشید ، به عنوان مثال در صورتی که صفحه درباره مای شما دارای گالری تصاویر اختصاصی باشد، شما باید ابتدا در بخش مدیریت گالری ، گالری مورد نظر را ایجاد نموده و سپس ، از لیست مربوط به گالری ، عنوان گالری ای که قبلا ایجاد کرده اید را انتخاب نمایید، این مورد در ارتباط با اسلاید شو و گالری ویدئو نیز به همین صورت است.
    							<br />
    							2- این بخش به صورت اختیاری است، و میتواند فیلدها به همین صورت باقی بماند و تغییری نکند
    							</p>
            			</fieldset>	
            			</div>
            			 <div class="col-lg-6">
                    	   <div class="box1">
                    	        <div class="form-group">
                            		<label class="control-label"><?php echo $this->formLabel($pageForm->get('page_gallery')); ?></label>
                                	<?php echo $this->formElement($pageForm->get('page_gallery'));
                                	echo $this->formElementErrors($pageForm->get("page_gallery")); ?>
                            	</div>
                            	<div class="form-group">
                            		<label class="control-label"><?php echo $this->formLabel($pageForm->get('page_video_gallery')); ?></label>
                                	<?php echo $this->formElement($pageForm->get('page_video_gallery'));
                                	echo $this->formElementErrors($pageForm->get("page_video_gallery")); ?>
                            	</div>
                            	<div class="form-group">
                            		<label class="control-label"><?php echo $this->formLabel($pageForm->get('page_slideshow')); ?></label>
                                	<?php echo $this->formElement($pageForm->get('page_slideshow'));
                                	echo $this->formElementErrors($pageForm->get("page_slideshow")); ?>
                            	</div>
                    	   </div>
                	   </div>
            	</div>
                </div>
                </div>
        	<div class="form-group pull-left">
                <?php 
                		echo $this->formElement($pageForm->get('csrf'));
                		echo $this->formElementErrors($pageForm->get("csrf"));
                		echo $this->formElement($pageForm->get('submit'));
            	?>
            	<a href="/<?php echo $this->layout()->lang;?>/admin-page" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
        	</div>
            <?php 
            		echo $this->form()->closeTag();
            ?>
        </div>
    </div>
</section>
<script type='text/javascript'>
    $(document).ready(function(){
       $("#pageForm").validationEngine(); 
       $('#submit').click(function(e){ 
          // e.preventDefault();
           if($("#pageForm").validationEngine('validate')) 
           {
          	   $("#pageForm").submit();
           }
       });
    });  
</script>
<script type="text/javascript">
tinymce.init({
	directionality : 'rtl',
	height: 200,
    plugins: [
              "advlist autolink lists link image charmap print preview hr anchor pagebreak",
              "searchreplace visualblocks visualchars code fullscreen",
              "insertdatetime media nonbreaking save table contextmenu directionality",
              "emoticons template paste textcolor colorpicker textpattern imagetools responsivefilemanager"
          ],
    selector: "#page_content",
  	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
  	relative_urls: false,
  	external_filemanager_path:"/filemanager/",
    filemanager_title:"Responsive Filemanager" ,
    external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
});	
</script>
