<?php
	echo $this->setHeadTitle('لیست مقالات وبلاگ');
	if ($this->flashMessenger()->render()) {
		echo '<div class="alert alert-success" role="alert">' . $this->flashMessenger()->render() . '</div>';
	}
  	if ($this->pagesList->getTotalItemCount() > 0) {
?>
<h4>لیست کلیه مقالات وبلاگ</h4>
<table class="table table-hover table-striped">
  <tr>
    <td><strong>#</strong></td>
    <td><strong>عنوان پست</strong></td>
    <td><strong>تاریخ انتشار</strong></td>
    <td><strong>وضعیت</strong></td>  
    <td><strong>نوشته شده توسط</strong></td>  
    <td><strong>ویرایش</strong></td>  
    <td><strong>حذف</strong></td>  
  </tr>
    <?php foreach ($this->pagesList as $counter => $page) { ?>				
    <tr class="<?php echo ($page['page_status'] == 1 ? "" : "danger"); ?>">
	    <td><?php echo ($this->pagesList->getCurrentPageNumber()-1)*$this->pagesList->getItemCountPerPage() + ++$counter ?></td>
	    <td><a href = '<?php echo $this->urlGeneratorPage()->pageUrl($page)?>' ><?php echo $this->escapeHtml($page['page_title']); ?></a></td>
	    <td><?php echo $this->date()->persianDate($page['page_create_date']); ?></td>
	    <td><?php echo ($page['page_status'] == 1 ? "منتشر شده" : "آرشیو شده"); ?></td>  
	    <td><?php echo $this->escapeHtml($page['page_display_name']); ?></td>
	    <td><a class="btn btn-xs btn-success" href="<?php echo $this->url('page-admin', array(
	    		'id' => $page['id'],
	    		'action' => 'edit-page'
	    )); ?>"><span class="glyphicon glyphicon-pencil"></span></a>
	    </td>
        <td><a class="btn btn-xs btn-danger delete-btn" href="<?php echo $this->url('page-admin', array(
		    		'id'     => $page['id'],
	          		'action' => 'delete-page',
       				'token'  => $this->csrf
	    	)); ?>"><span class="glyphicon glyphicon-remove"></span></a>
	   </td>
  </tr> 
  <?php 
  		}
  ?>   
</table>
<a href="<?php echo $this->url('page-admin', array('action' => 'add-page')); ?>" class="btn btn-primary">افزودن </a>
<?php 
  	} else {
  		echo '<br><div class="alert alert-info" role="alert">هیچ صفحه ای تاکنون به ثبت نرسیده است.</div>';
  	}
	echo $this->paginationControl($this->pagesList, 'Sliding', 'layout/paginator', array(
	        'route' => 'page-admin'
	));
?>
<!-- Modal HTML -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <h5>آیا مطمئن هستید که قصد حذف این صفحه را دارید؟</h5>
                    <p>توجه داشته باشید که در صورت حذف صفحه، امکان بازگرداندن آن وجود نخواهد داشت.</p>
                </div>
                <div class="modal-footer">
                    <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#">آری، قصد حذف این صفحه را دارم</a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $('.delete-btn').click(function(e) {

        e.preventDefault();
        $('#modal').modal();
        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
    });
</script> 
