#demos .owl-carousel .item {
    background: #4dc7a0 none repeat scroll 0 0;
    height: 20rem;
    padding: 1rem;
}
#demos .owl-carousel .item{
	background: transparent none repeat scroll 0 0;
    height: 20rem;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0px 1px 2px #dbd8d8;
}
#demos .owl-carousel .item.__loading{
	opacity: 0;
	transform: translateX(40px);
	-webkit-transform: translateX(40px);
}
#demos .owl-carousel .item h4{
	margin: 0 0 10px 0;
}
.btn-filter-wrap{
	margin-bottom: 30px;
    margin-top: 30px;
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-filter-wrap .btn-filter{
    color: #333;
    border: none;
    border-bottom: 1px solid #eee;
    background: #FFF;
    padding: 4px 20px;
    margin-left: 10px;
    margin-bottom: 10px;
	outline: 0;
	cursor: pointer;
}
.btn-filter.btn-active{
	background: transparent;
    color: #E10414;
    border-bottom: 1px solid #E10414;
}

.site-title{
	margin-bottom: 40px;
}
.__doc{
	margin-top: 50px;
}
footer{
	margin-top: 70px;
	background: #333;
	color: #FFF;
	padding: 10px 0;
	text-align: center;
}