body{
	position:relative;
	-webkit-font-kerning: auto;
	-webkit-font-smoothing: antialiased;
	color:#000;
}

/* SLIDER STYLES */
	
.slider-wrapper{
	position:relative;
	overflow:hidden;
	width:100%;
	margin:0 auto;
	/* background:#1b1b1b;
	border:1px solid #000;
	box-shadow:0 3px 5px #666; */
}
.slider{
		position:relative;
		width:100%; 
		/*height:769px;  when responsive comment this */
		margin:0 auto;
		max-width: 100% !important;
		background:#1b1b1b;
	}
@media screen and (max-width:998px){
	.slider{
		position:relative;
		width:100%; 
		height:100%; /* when responsive comment this */
		margin:0 auto;
		max-width: 100% !important;
		background:#1b1b1b;
	}
	.fraction-slider {
		height: 100vh !important;
	}
}
@media (min-width:998px) and (max-width:1366px){
	.slider{
		position:relative;
		width:100%; 
		height:100vh; /* when responsive comment this */
		margin:0 auto;
		max-width: 100% !important;
		background:#1b1b1b;
	}
	.fraction-slider {
		height: 100vh !important;
	}
}
@media (min-width:1366px){
	.slider{
		position:relative;
		width:100%; 
		height:100vh; /* when responsive comment this */
		margin:0 auto;
		max-width: 100% !important;
	}
	.fraction-slider {
		height: 100vh !important;
	}
}

@media only screen and (min-width: 1000px){
	.slider{
		width:100%;
	}
}

@media only screen and (min-width: 1440px){
	.slider{
		width:1440px;
	}
}

/* ELEMENT STYLES */

p{
	position:absolute;
	top:-200px;
	
	z-index:8000;
	padding:1% 3%;
	
	font-size:24px;
	line-height:100%
	color:#fff;
	white-space: nowrap;
	text-transform:uppercase;
}

.claim{
	line-height:100%
}	

.teaser{
	padding:0.5% 1.5%;
	font-size:14px;
	 line-height:100%
}

.small{
	width:250px;
   padding-left:0; padding-right:0px;
	text-align:center;
}

.light-green{background:#95C542;}
.green{background:#7CB761}
.orange{background:#EF7D00}
.turky{background:#348E8A}
.white{background:#fff; color:#333}