<?php 
$this->headMeta()->appendName('description', '');
$this->headMeta()->appendName('keywords', '');
$this->headLink()->prependStylesheet('/css/page-styles.css');

?>
<!-- container 1 -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="<?php echo $this->url('home'); ?>">صفحه اصلی</a></li>
               
                <li class="active">کلیه مقالات <?php 
                	echo str_replace('-', ' ', $this->authorName);
                ?></li>
            </ol>
        </div>
    </div>
    <br>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">		
		<?php 
			if ($this->pagesList) {
				foreach ($this->pagesList as $page) {
					$pageUrl = $this->urlGeneratorPage()->pageUrl($page);
					$pageTags = false;
					if ($page['page_tags']) {
						$pageTags = explode(",", $page['page_tags']);
					}
		?>	
			    <div class="postThumbnail thumbnail"><!-- start of post -->
			        <a href="<?php echo $pageUrl; ?>">
				        <div class="postThumbnailTitle"><?php echo $page['page_title']?></div>
			        </a>
				       
				        <div class="postThumbnailDetails">
				        	<?php if ($pageTags) {?>
					        	<span class="glyphicon glyphicon-tags"></span><strong> برچسب ها:</strong> 
					        	<?php 
					        		$tags = array();
					        		foreach ($pageTags as $tag) {
					        			$tagLink = $this->urlGeneratorPage()->tagUrl($tag, $page['page_lang']);
							        	$tags[] = "<a href='$tagLink' >$tag</a>";
					        		}
					        		echo implode(" | ", $tags);
					        	?>
	        					&nbsp;&nbsp;&nbsp;&nbsp;
        					<?php }?>
        					<span class="glyphicon glyphicon-user"></span><strong> توسط:</strong> <?php echo "<a href='{$this->urlGeneratorPage()->authorUrl($page)}'>" . $page['firstname'] . ' ' . $page['lastname'] . "</a>"; ?>
				        	&nbsp;&nbsp;&nbsp;&nbsp;
				        	<span class="glyphicon glyphicon-calendar"></span><strong> در تاریخ:</strong> <?php echo $this->date()->persianDate(strtotime($page['page_create_date'])); ?>
			        	</div>
			    </div><!-- end of post -->
	    <?php 
	    	}
	    }
		echo $this->paginationControl($this->pagesList, 'Sliding', 'layout/paginator', array(
				'route' => 'page-page',
				'params' => array(
				    'action' => "author",
				    'lang' => $this->layout()->lang,
				 	'param' => $this->authorName
				)
		));
	?>
		</div>
	</div><!-- end of row -->
</div>
    			  