<link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css">

<style type="text/css" media="screen">
	ul li {
		list-style: none;
    }
	#content{
/* 	padding-bottom:50px;*/
	}
    .breadcrumb {
        padding: 5px !important;
        margin-bottom: 0 !important;
        background-color:transparent !important;
    }
</style>
<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<!--  image hover -->  
<style>


</style>
<?php 
$content = $this->pagePage['page_content'];
$slideshowPlugin = '';
$title = $this->pagePage['page_title']; 
if ($this->plugins) {
    $pluginOutput = array();
    
    foreach ($this->plugins as $k => $plugin) {
        ob_start();
        if (strpos($plugin["code"], 'slideshow') || strpos($plugin["code"], 'gallery')) {
            if (strpos($plugin["code"], 'slideshow')) {
                
                $slideshowPlugin = $plugin;
            }
            if (strpos($plugin["code"], 'gallery')) {
                
                $galleryPlugin = $plugin;
            }
        } else {
            eval($plugin["code"]);
            $output = ob_get_contents();
            ob_end_clean();
            if (strpos($content, $plugin["name"]) === false) {
                $content .= $output;
            } else {
                $content = str_replace($plugin["name"], $output, $content);
            }
        }
    }
}

$this->headMeta()->appendName('description', $this->pagePage['page_meta_description']);
$this->headMeta()->appendName('keywords', $this->pagePage['page_meta_keywords']);
?>
  <section id="page-slideshow">
    <?php
    if (isset($slideshowPlugin['code']))  eval($slideshowPlugin['code']);
    ?>
</section>
<div class="header-bg2 text-right">
    <h1><?php echo $title; ?></h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<?php echo $title; ?>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
<section id="single_content">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 rtl-text-right">
				<div class="single_content_main">
				    <div class="row">
    					<div class="col-md-12">
                            <?php echo $content; ?>
                        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<!--  <section id="page-contactus">
	   <div class="container">
	       <div class="row single_content_main">
				<div class="col-md-6 text-center page-contact-phone">
	                    <i class="fa fa-phone"></i><?php  //echo $this->getPlugin('block/index/index',array('position'=>'tel')); ?>
	           </div>
				<div class="col-md-6 text-center">
	                    <?php  //echo $this->getPlugin('link/index/index',array('layout'=>'social', 'position'=>'social')); ?>
	           </div>
           </div>
       </div>
	</section>-->
	<div class="container">
	   <div class="single_content_main">
		    <div class="row">
				<div class="col-md-12">
                    <?php
                    if (isset($galleryPlugin['code']))  eval($galleryPlugin['code']);
                    ?>
                </div>
		    </div>
		</div>
	</div>
</section>
 <!-- owl -->
 <link rel="stylesheet" type="text/css" href="/js/owl.carousel.js">
