<?php 
$content = $this->pagePage['page_content'];
if ($this->plugins) {
    $pluginOutput= array();
    foreach ($this->plugins as $k => $plugin) {
        ob_start();
        eval($plugin["code"]);
        $output = ob_get_contents();
        ob_end_clean();
      $content =str_replace($plugin["name"],$output, $content);
    }
}
$this->headMeta()->appendName('description', $this->pagePage['page_meta_description']);
$this->headMeta()->appendName('keywords', $this->pagePage['page_meta_keywords']);
?>
<section id="page">
    <div class="sl-direction container">
        <header class="banner">
            /*هرچی دوست داری اکو کن*/
        </header>
        <article class="main-content-article">
    	   <?php echo $content; ?>
	   </article>
    </div>
</section>