
<style>
.radioSection label{
	margin-right:50px;
}
</style>
<section class="content-header">
    <h1>
        <?php echo __('Edit permission'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit permission'); ?></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit permission");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
            	$permissionForm = $this->permissionForm;
            	$permissionForm->prepare();
            	echo $this->form()->openTag($permissionForm);
            ?>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($permissionForm->get('name')); ?></label>
                    	<?php echo $this->formElement($permissionForm->get('name'));
                    	echo $this->formElementErrors($permissionForm->get("name")); ?>
                    </div>
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($permissionForm->get('desc')); ?></label>
                    	<?php echo $this->formElement($permissionForm->get('desc'));
                    	echo $this->formElementErrors($permissionForm->get("desc")); ?>
                    </div>
                    
                    <div class="form-group">
                    <?php 
                    	echo $this->formHidden($permissionForm->get('csrf'));
                    	echo $this->formElementErrors($permissionForm->get("csrf"));
                    	echo $this->formElement($permissionForm->get('submit'));
                    ?>
                    <a href="/<?php echo $this->layout()->lang;?>/admin-permission/list-permissions" class="btn btn-warning"><?php echo __("Cancle")?></a>
                    </div>
                </div>
                <div class="col-lg-6"></div>
            </div>
            <?php echo $this->form()->closeTag();?>
        </div>
    </div>
</section>
              
