<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<style>
.radioSection label{
	margin-right:50px;
}
</style>
<section class="content-header">
    <h1>
        <?php echo __('Edit permission'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit permission'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit user group");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
            	$userGroupForm = $this->userGroupForm;
            	$userGroupForm->prepare();
            	echo $this->form()->openTag($userGroupForm);
            ?>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($userGroupForm->get('title')); ?></label>
                    	<?php echo $this->formElement($userGroupForm->get('title'));
                    	echo $this->formElementErrors($userGroupForm->get("title")); ?>
                    </div>
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($userGroupForm->get('is_package')); ?></label>
                    	<?php echo $this->formElement($userGroupForm->get('is_package'));
                    	echo $this->formElementErrors($userGroupForm->get("is_package")); ?>
                    </div>
                    <div class="hidenms" style="display: none" >
                        <div class="form-group">
                        	<label class="control-label"><?php echo $this->formLabel($userGroupForm->get('credit_time')); ?></label>
                        	<?php echo $this->formElement($userGroupForm->get('credit_time'));
                        	echo $this->formElementErrors($userGroupForm->get("credit_time")); ?>
                        </div>
                        <div class="form-group ">
                        	<label class="control-label"><?php echo $this->formLabel($userGroupForm->get('price')); ?></label>
                        	<?php echo $this->formElement($userGroupForm->get('price'));
                        	echo $this->formElementErrors($userGroupForm->get("price")); ?>
                        </div>
                        <div class="form-group ">
                        	<label class="control-label"><?php echo $this->formLabel($userGroupForm->get('percentage')); ?></label>
                        	<?php echo $this->formElement($userGroupForm->get('percentage'));
                        	echo $this->formElementErrors($userGroupForm->get('percentage')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                    <?php 
                    	echo $this->formHidden($userGroupForm->get('csrf'));
                    	echo $this->formElementErrors($userGroupForm->get("csrf"));
                    	echo $this->formElement($userGroupForm->get('submit'));
                    ?>
                    <a href="/<?php echo $this->layout()->lang;?>/admin-permission/list-user-groups" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                    </div>
                </div>
                <div class="col-lg-6"></div>
            </div>
            <?php echo $this->form()->closeTag();?>
        </div>
    </div>
</section>
 <script type="text/javascript"> 
 $("#package").change(function(event) {
	    if ($(this).is(":checked"))
	      $(".hidenms").show();
	    else
	      $(".hidenms").hide();
	  });
	$("#package").change();
</script>