<?php 
	$usersGroupsForm = $this->usersGroupsForm;
	$usersGroupsForm->prepare();
?>
 <div class="alert alert-dismissable alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div id="message"> </div></div> 
<section class="content-header">
    <h1>
        <?php echo __('Manage permissions'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Manage permissions'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header" id="tour3>
            <h3 class="box-title"><?php echo __('Manage permissions');?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-pull-2 col-md-8">
                    <?php 
                        $usersGroupsForm = $this->usersGroupsForm;
                        $usersGroupsForm->prepare();
                        echo $this->form()->openTag($usersGroupsForm);
                    ?>
                    <div class="form-group" id="tour1">
                		<label class="control-label"><?php echo $this->formLabel($usersGroupsForm->get('group_id')); ?></label>
                    	<?php echo $this->formElement($usersGroupsForm->get('group_id'));
                    	echo $this->formElementErrors($usersGroupsForm->get("group_id")); ?>
                	</div>
                    <div class="form-group" id="tour2">
                	   <?php 
                    	   echo $this->formElement($usersGroupsForm->get('csrf'));
                    	   echo $this->formElementErrors($usersGroupsForm->get("csrf"));
                    	   echo $this->formElement($usersGroupsForm->get('submit')); 
                        ?>
                        <a href="/<?php echo $this->layout()->lang;?>/admin-permission/list-permissions" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                    </div>
                    <?php 
                    	echo $this->form()->closeTag();
                    ?>
                    <span class="accesslistmsg" style="display:none">
                    	<img alt="loading..."  src="/images/loading.gif" /><?php echo __("Please wait")?>
                    </span>
                    <div class="aclcontainer">
                                          
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>
<script>
$(document).ready(function(){
	$(".alert-danger").hide();
	$("#submitusergroup").click(function(e) {
		e.preventDefault();
		$(".accesslistmsg").show();
    	var mgroups=$("#groups").val();
    	var muser=$("#users").val();
		$.ajax({
			url:"/<?php echo $this->layout()->lang;?>/admin-permission-ajax",
			type:'POST',
			data:{
				group_id:mgroups,
			},
			success:function(data){
			 
				if(data=="error")
				{
					alert("<?php echo __("Operation failed"); ?>")
				}  
				else {
					if (data == '1') {
					    	$("#message").html('<?php echo __("Please Choose An Item")?>'); 
					    	$(".alert-danger").show();
					} else {
						$(".aclcontainer").html(data); 
					}
				}
				
			},complete:function(data)
			{
				$(".accesslistmsg").hide();
			}
		});
		
	});
});
</script>
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "انتخاب گروه دسترسی",
    content: "لطفاً یک گروه حق دسترسی را انتخاب نمایید"
  },
  {
    element: "#tour2",
    title: "ادامه",
    content: "دکمه ادامه را برای رفتن به مرحله بعد انتخاب نمایید",
  }
 /*  {
    element: "#tour3",
    title: "ادامه",
    content: "دکمه ادامه را برای رفتن به مرحله بعد انتخاب نمایید",
    path:'/'
  } */
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>