

<h4><?php echo __('Permissions management');?></h4>
<table class="table table-hover table-striped">
  <tr>
   <th class="td-sm">#</th>
   <th>نام دسترسی</th>
   <th>توضیحات دسترسی</th>
   <th>خودکار</th>
   <th class="td-sm">ویرایش</th>
   <th class="td-sm">حذف</th>
  </tr>
  <?php  
  		if($this->permissionAllPermissions) {
  			foreach ($this->permissionAllPermissions as $counter => $permission) {  
			  ?>				
			    <tr>
				    <td><?php echo ++$counter ?></td>
				    <td><?php echo $this->escapeHtml($permission['name']); ?></td>
				    <td><?php echo $this->escapeHtml($permission['desc']); ?></td>
				    <td><?php echo ($permission['auto'] == 1 ? "خودکار" : "دستی"); ?></td> 
				    <td><a class="btn btn-xs btn-success" href="<?php echo $this->url('permission-admin', array(
				    		'id'         => $permission['id'],
				    		'controller' => 'admin',
				    		'action'     => 'edit-permission'
				    )); ?>"><span class="glyphicon glyphicon-pencil"></span></a></td>
				   <td ><a class="btn btn-xs btn-danger delete-btn" href="<?php echo $this->url('permission-admin', array(
				    		'id'         => $permission['id'],
				    		'controller' => 'admin',
				    		'action'     => 'delete-permission',
				    		'token'      => $this->csrf
				   )); ?>"><span class="glyphicon glyphicon-remove"></span></a></td>
			  </tr> 
			  <?php 
  		}
  	}
  ?>         
</table>
<a href="<?php echo $this->url('permission-admin', array('action' => 'update-auto-permissions')); ?>" class="btn btn-primary">بروز رسانی دسترسی ها</a>
<a href="<?php echo $this->url('permission-admin', array('action' => 'add-permission')); ?>" class="btn btn-primary">افزودن</a> 
<!-- Modal HTML -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <h5>آیا مطمئن هستید که قصد حذف این دسترسی را دارید؟</h5>
                    <p>توجه داشته باشید که در صورت حذف دسترسی، امکان بازگرداندن آن وجود نخواهد داشت.</p>
                </div>
                <div class="modal-footer">
                    <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#">آری، قصد حذف این دسترسی را دارم</a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $('.delete-btn').click(function(e) {
        e.preventDefault();
        $('#modal').modal();
        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
    });
</script> 

