 <?php $this->headScript()->appendFile($this->basePath('/tinymce/tinymce.min.js')); ?> 
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php echo __('Add Services'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add Services'); ?></li>
    </ol>
</section>
 <!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add Services')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
            	
            	$servicesForm = $this->servicesForm;
            	$servicesForm->prepare();
            	echo $this->form()->openTag($servicesForm);
            ?>
             <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">ایجاد خدمات</a></li>
                <li><a data-toggle="tab" href="#menu2">افزودن رسانه</a></li>
              </ul>
            
              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <!-- first tab-page content -->
                    <div class="row">
                        <div class="col-lg-5">
                         <!--  help -->
                            <fieldset class="help-form" id="tour4">    	
                					<legend>راهنمای ایجاد خدمات</legend>
        							<p>
            						1-فیلد زبان جهت انتخاب زبانی است که در آن سرویس  یا خدمات مورد نظر قرار است به نمایش گذاشته شود
            						<br />
            						2-عنوان، بیانگر تیتر  اصلی خدمات می باشد
            						<br />
            						3-توضیحات، بیانگر مطالب مرتبط با خدمات یا سرویس مورد نظر است که میتواند شامل متن یا تصویر باشد
        							<br />
        							در صورتی که میخواهید تصویر یا گالری به سرویس خود اضافه کنید به تب بعدی مراجعه کنید
        							</p>
                			</fieldset>	
                        </div>
                        <div class="col-lg-7">
                        	 	<div class="form-group" id="tour1">
                        		<label class="control-label"><?php echo $this->formLabel($servicesForm->get('post_lang')); ?></label>
                            	<?php echo $this->formElement($servicesForm->get('post_lang'));
                            	echo $this->formElementErrors($servicesForm->get("post_lang")); ?>
                        	</div>	
                        	<div class="form-group" id="tour2">
                        		<label class="control-label"><?php echo $this->formLabel($servicesForm->get('name')); ?></label>
                            	<?php echo $this->formElement($servicesForm->get('name'));
                            	echo $this->formElementErrors($servicesForm->get("name")); ?>
                        	</div>	
                        	 
                        	<div class="form-group" id="tour3">
                        		<label class="control-label"><?php echo $this->formLabel($servicesForm->get('description')); ?></label>
                            	<?php echo $this->formElement($servicesForm->get('description')); 
                            	echo $this->formElementErrors($servicesForm->get("description"));?>
                        	</div>
                        </div>
                     </div>
                     </div>
                    <div id="menu2" class="tab-pane fade">
                      <div class="row">
                    	 <div class="col-lg-6">
                         <!--  help -->
                             <fieldset class="help-form">
                                    <legend>
                                      راهنمای افزودن رسانه
                					</legend>
        							<p>
        							در این صفحه شما میتوانید تصویری  را که بیانگر خدمات شما هست را به سرویس خود اضافه کنید
        							و یا در صورتی که خدمات شما دارای گالری است، گالری مورد نظر را از لیست انتخاب نمایید.
            						<br />
            						توجه داشته باشید که برای افزودن گالری، قبل از ایجاد سرویس باید گالری خود را در بخش مدیریت گالری ایجادکرده باشید، تا نام آن در لیست گالری به نمایش گذاشته شود ولی در صورتی که گالری را ایجاد نکرده اید، میتوانید با زدن دکمه افزودن گالری، آن را ایجاد نمایید.
            						<br />
            						رفرش کردن صفحه، باعث میشود گالری ای که ایجاد کرده اید داخل لیست گالری اضافه شود، منتها توجه داشته باشید که فیلدهای دیگر را خالی میکند و مجبور به وارد کردن دوباره آن می شوید
        							</p>
                			</fieldset>	
                           
                        </div>
                        <div class="col-lg-6">
                            <div class="box1">
                                <div class="form-group">
                                	<label class="control-label"><?php echo $this->formLabel($servicesForm->get('image')); ?></label>
                    		          <div id="image-holder"></div>
                    		          <?php if ($this->image) {?>
                                	   <img id="image" class="image-responsive" alt="" src="/uploads/services/<?php echo $this->image;?>">
                                      <?php }?>
                        	           <div class="file-upload-cnt sl-margin-top text-center">
                                        	<div class="fileUpload btn bg-maroon margin fa fa-image" id="tour5">
                                        		<span><?php echo $this->formLabel($servicesForm->get('image')); ?></span>
                                        	   <?php echo $this->formElement($servicesForm->get('image')); 
                                        	   echo $this->formElementErrors($servicesForm->get("image"));?>
                                        	</div>
                    	               </div>
                                	 <div class="form-group"> 
                                		 <label class="control-label"> <?php echo $this->formLabel($servicesForm->get('video_id')); ?>  </label>  
                                    	<?php  echo $this->formElement($servicesForm->get('video_id')); 
                                    	 	   echo $this->formElementErrors($servicesForm->get("video_id"));?>
                                	</div>	 
                                	<!-- <div class="form-group"> -->
                                		<!-- <label class="control-label"> --><?php //echo $this->formLabel($servicesForm->get('parent_id')); ?><!-- </label> -->
                                    	<?php //echo $this->formElement($servicesForm->get('parent_id')); 
                                    	//echo $this->formElementErrors($servicesForm->get("parent_id"));?>
                                	<!-- </div> -->		
                               </div>
                           </div>
                            <div class="box1">
                                <div class="form-group" id="tour6">
                            		<label class="control-label"><?php echo $this->formLabel($servicesForm->get('gallery_id')); ?></label>
                                    	<?php echo $this->formElement($servicesForm->get('gallery_id')); 
                                    	echo $this->formElementErrors($servicesForm->get("gallery_id"));?>
                               </div>
                               <div class="form-group text-center" id="tour7">
                                <a href="/admin-gallery/add-gallery" target="_blank" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> افزودن گالری</a>
                               </div>
                           </div>
            	   </div>
        	   </div>
                </div>
            	 <div class="form-group pull-left" id="tour8">
            	   <?php 
                	//	echo $this->formElement($servicesForm->get('token_services'));
                	//	echo $this->formElementErrors($servicesForm->get("token_services"));
                		echo $this->formElement($servicesForm->get('submit'));
                		echo $this->form()->closeTag();
                	?>
            	   <?php 
                	//	echo $this->formElement($servicesForm->get('token_services'));
                	//	echo $this->formElementErrors($servicesForm->get("token_services"));
                		echo $this->formElement($servicesForm->get('submit2'));
                		echo $this->form()->closeTag();
                	?>
                	<a href="/<?php echo $this->layout()->lang;?>/admin-ourservices" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
            	 </div>
            </div>
        </div>
</section>
<script type='text/javascript'> 
 
tinymce.init({
	directionality : 'rtl',
	height: 200,
    plugins: [
              "advlist autolink lists link image charmap print preview hr anchor pagebreak",
              "searchreplace visualblocks visualchars code fullscreen",
              "insertdatetime media nonbreaking save table contextmenu directionality",
              "emoticons template paste textcolor colorpicker textpattern imagetools responsivefilemanager"
          ],
    selector: "#description",
  	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons  fontsizeselect",
  	relative_urls: false,
  	external_filemanager_path:"/filemanager/",
    filemanager_title:"Responsive Filemanager" ,
    external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
});
    

$(document).ready(function() {
   $("#serviceForm").validationEngine(); 
   $('#update-menu').click(function(e){ 
      // e.preventDefault();
       if($("#mainMenuForm").validationEngine('validate')) 
       {
      	   $("#mainMenuForm").submit();
       }
   });
});

uploadFileData('#fileUpload', '#image-holder');  
function uploadFileData(fileUpload, imageholder) {
    $(fileUpload).on('change', function () {
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $(imageholder);
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg" || extn == "zip" || extn == "rar" ) {
            if (typeof (FileReader) != "undefined") {
                for (var i = 0; i < countFiles; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                                "class": "thumb-image",
                                "id": "image",
                        }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[i]);
                }
            } else {
                alert("This browser does not support FileReader.");
            }
        } else {
            alert("Please select only images");
        }
    });
}
</script>
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "انتخاب زبان",
    content: "زبانی که قراراست خدمات و سرویس شما در آن به نمایش در بیاید را انتخاب کنید"
  },
  {
    element: "#tour2",
    title: "عنوان",
    content: "نام یا عنوانی را برای خدمات خود انتخاب نمایید"
  },
  {
    element: "#tour3",
    title: "توضیحات",
    content: "توضیحات مربوط به خدمات خود را وارد کنید"
  },
  {
    element: "#tour4",
    title: "افزودن رسانه",
    content: "در این تب می توانید ، تصویر یا گالری برای سرویس خود انتخاب نمایید",
     onNext:function(tour){
    	activaTab('menu2');
    },
    onShow:function(tour){
    	activaTab('menu2');
    }
  },
  {
    element: "#tour5",
    title: "انتخاب تصویر",
    content: "تصویری مرتبط با سرویس یا خدمت مورد نظر انتخاب کنید",
  },
  {
    element: "#tour6",
    title: "انتخاب گالری",
    content: "از بین گالری هایی که قبلا در بخش مدیریت گالری ایجاد کرده اید، در صورتی که سرویس شما دارای گالری تصاویر است، گالری مورد نظر را انتخاب نمایید",
  },
  {
    element: "#tour7",
    title: "افزودن گالری",
    content: "در صورتی که گالری مورد نظر شما در لیست گالری های موجود وجود ندارد، میتوانید با زدن این دکمه، گالری مورد نظر را ایجاد کنید",
  },
  {
    element: "#tour8",
    title: "ذخیره",
    content: "بازدن بر روی دکمه ذخیره میتوانید اطلاعات وارد شده را ثبت نمایید",
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

	function activaTab(tab){
	  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
	}; 
	function dactiveTab(tab){
	  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
	}; 
</script>
