<?php
$this->headScript()->appendFile($this->basePath('/tinymce/tinymce.min.js'));
	if ($this->error) {
		echo '<br><div class="alert alert-danger" role="alert">' . $this->error . '</div>';
	}
?>
<section class="content-header">
    <h1>
        <?php echo __('Add new service'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new service'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Add new service");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
			<?php
			$servicesForm = $this->servicesForm;
			$servicesForm->prepare();
			echo $this->form()->openTag($servicesForm);
            ?>
            <div class="row">
                <div class="col-lg-5">
                     <!--  help -->
                     
                </div>
                <div class="col-lg-7">
    				<div class="form-group" id="tour4">
    					<label class="control-label"><?php echo $this->formLabel($servicesForm->get('title')); ?></label>
    			    	<?php echo $this->formElement($servicesForm->get('title'));
    			    	echo $this->formElementErrors($servicesForm->get("title")); ?>
    				</div>	
    					
    				<div class="form-group pull-left" id="tour7">
        				<?php 
        				echo $this->formElement($servicesForm->get('submit'));
        				?>
        				<?php 
        					//echo $this->formElement($productCategoriesForm->get('csrf'));
        					//echo $this->formElementErrors($productCategoriesForm->get("csrf"));
        					//echo $this->formElement($productCategoriesForm->get('submitreturn'));
        				?>
        			 	<a href="/<?php echo $this->layout()->lang;?>/admin-shop" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>    		
        				<script>
        					$(document).ready(function(){
        						$('a.back').click(function(){
        						    parent.history.back();
        						    return false;
        						});
        					});
        				</script>
    				</div>
                </div>
            </div>
            <?php 	echo $this->form()->closeTag(); ?>
		</div>
	</div>
</section>
<script>
$('document').ready(function(){
       $("#shopCategoriesForm").validationEngine(); 
       $('#submit').click(function(e){ 
          // e.preventDefault();
           if($("#shopCategoriesForm").validationEngine('validate')) 
           {
          	   $("#shopCategoriesForm").submit();
           }
       });

	$('#shop-category-attribute-group-id').select2({
	    dir: "rtl"
	  });
	$(".showHide").hide();
    $("#shop-category-parent-id").change(function(){
    	if ($(this).val() == 0) {
    		$(".showHide").slideUp(1000);
    	} else {
    		$(".showHide").slideDown(1000);
    	}
    });
    $("#shop-category-parent-id").change();
});
</script>
<script type="text/javascript">
    $("#tag-title").select2({
      tags: true,
      dir: "rtl"
    });

 
    function ajaxupload(fileupload, imageholder) {
    	$(fileupload).on('change', function () {
    	    var countFiles = $(this)[0].files.length;
    	    var imgPath = $(this)[0].value;
    	    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    	    var image_holder = $(imageholder),
    	    	id = '#'+$(this)[0].id,
    	    	basename = $(this)[0].name
    	    	name = basename.split('[')[0];
    	    image_holder.empty();

    	    

    	    
    	    if(name == 'pdf'){ 
    	    	if (extn == "pdf") {    
        	    	$(id).parent().before(imgPath);     
    	    	}	
    	    	else{
    	    			alert("<?php echo __("Please choose only pdf");?>");
    	    	}    
    	    }
    	    else if(name == 'video'){
    	    	if (extn == "mpeg" || extn == "avi" || extn == "mp4" ||extn == "mp3") {   
    	    		$(id).parent().before(imgPath);  
    	    	}
    	    	else{
	    			alert("<?php echo __("Please choose only video");?>");
    	    	}  
    	    }
    	    else {
    	    	if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
      	      	  //  	console.log(fileupload, imageholder,FileReader);
  	      	        if (typeof (FileReader) != "undefined") {
  	      	            for (var i = 0; i < countFiles; i++) {
  	      	                var reader = new FileReader();
  	      	                reader.onload = function (e) {
  	      	                    $("<img />", {
  	      	                        "src": e.target.result,
  	      	                            "class": "thumb-image"
  	      	                    }).appendTo(image_holder);
  	      	                }
  	      	                image_holder.show();
  	      	                reader.readAsDataURL($(this)[0].files[i]);    
  	      	            }
  	      	        } else {
  	      	            alert("<?php echo __("This browser does not support FileReader");?>.");
  	      	        }
  	      	    } else {
  	      	        alert("<?php echo __("Please choose only images");?>");
  	      	    }
        	} 
    	});
    	}


	
    
    $('document').ready(function(){

    	function tiny(){
      		 tinymce.init({
      		    	directionality : 'rtl',
      		    	height: 200,
      		        plugins: [
      		                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
      		                  "searchreplace visualblocks visualchars code fullscreen",
      		                  "insertdatetime media nonbreaking save table contextmenu directionality",
      		                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
      		              ],
      		        selector: "#shop-category-description, #shop-category-text, .file-category-description",
      		      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons",
      		      	relative_urls: false,
      		      	targetPath: 'pages',
      		    	external_filemanager_path:"/filemanager/",
        		    filemanager_title:"Responsive Filemanager" ,
        		    external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
      		    });
          	}
    	tiny();

        
       ajaxupload('#fileUpload1', "#image-holder1");
    	ajaxupload('#fileUpload2', "#image-holder2");
    	ajaxupload('#fileUpload3', "#image-holder3"); 

    	var counter = 1,
    	image_counter = 4;

    	//add pdf
    	$("body").on("click",".add-pdf",function(e){
				$('#pdf-body').before('<div class="row" id="pdf-row-'+counter+'">'+
					'<div class="col-lg-4">'+       					
					'<div class="box1">'+
            	       '<div class="form-group">'+
            		      '<label class="control-label">Pdf</label>'+
        		          '<div id="image-holder'+image_counter+'"></div>'+
            	           '<div class="file-upload-cnt sl-margin-top">'+
                            	'<div class="fileUpload btn bg-maroon margin fa fa-image" id="tour6">'+
                            		'<span>Pdf</span><input type="file" name="pdf['+counter+']" id="fileUpload'+image_counter+'"></div>'+
        	               '</div>'+
	                    '</div>'+	   
    				'</div>'+          					 						
				'</div>'+
				'<div class="col-lg-8">'+
					'<div class="form-group">'+
        		      '<label class="control-label">Title</label>'+
    		          '<input type="text" name="pdf['+counter+'][title]" class="form-control" />'+
                    '</div>'+
                    '<div class="form-group">'+
        		      '<label class="control-label">Description</label>'+
    		          '<textarea rows="4" cols="" name="pdf['+counter+'][description]"  class="form-control file-category-description"></textarea>'+
                    '</div>'+
				'</div>'+
			'<hr></div>');
			ajaxupload('#fileUpload'+image_counter+'', '#image-holder'+image_counter+''); 

			tiny();
			
			counter++;
			image_counter++;
		});


		//add video
    	$("body").on("click",".add-video",function(e){
    		$('#video-body').before('<div class="row" id="video-row-'+counter+'">'+
					'<div class="col-lg-4">'+
					'<div class="box1">'+
            	       '<div class="form-group">'+
            		      '<label class="control-label">Video</label>'+
        		          '<div id="image-holder'+image_counter+'"></div>'+
            	           '<div class="file-upload-cnt sl-margin-top">'+
                            	'<div class="fileUpload btn bg-maroon margin fa fa-image" id="tour6">'+
                            		'<span>Video</span><input type="file" name="video['+counter+']" id="fileUpload'+image_counter+'"></div>'+
        	               '</div>'+
	                    '</div>'+  
    				'</div>'+	  						
				'</div>'+
				'<div class="col-lg-8">'+
					'<div class="form-group">'+
        		      '<label class="control-label">Title</label>'+
    		          '<input type="text" name="video['+counter+'][title]" class="form-control" />'+
                    '</div>'+
                    '<div class="form-group">'+
        		      '<label class="control-label">Description</label>'+
    		          '<textarea rows="4" cols="" name="video['+counter+'][description]" class="form-control file-category-description"></textarea>'+
                    '</div>'+
				'</div>'+	
			'<hr></div>');
			
			ajaxupload('#fileUpload'+image_counter+'', '#image-holder'+image_counter+''); 

			tiny();
			
			counter++;
			image_counter++;
    	});


    	//add Image
    	$("body").on("click",".add-image",function(e){
    		$('#image-body').before('<div class="row" id="picture-row-'+counter+'">'+
					'<div class="col-lg-4">'+   
					'<div class="box1">'+
            	       '<div class="form-group">'+
            		      '<label class="control-label">File Image</label>'+
        		          '<div id="image-holder'+image_counter+'"></div>'+
            	           '<div class="file-upload-cnt sl-margin-top">'+
                            	'<div class="fileUpload btn bg-maroon margin fa fa-image" id="tour6">'+
                            		'<span>File Image</span><input type="file" name="pic['+counter+']" id="fileUpload'+image_counter+'"></div>'+
        	               '</div>'+	
	                    '</div>'+
                    '</div>'+          									
				'</div>'+
				'<div class="col-lg-8">'+
					'<div class="form-group">'+
        		      '<label class="control-label">Title</label>'+
    		          '<input type="text" name="pic['+counter+'][title]" class="form-control" />'+
                    '</div>'+
                    '<div class="form-group">'+
        		      '<label class="control-label">Description</label>'+
    		          '<textarea rows="4" cols="" name="pic['+counter+'][description]" class="form-control file-category-description"></textarea>'+
                    '</div>'+
				'</div>'+		
				'<hr></div>');
			
			ajaxupload('#fileUpload'+image_counter+'', '#image-holder'+image_counter+''); 

			tiny();

			
			counter++;
			image_counter++;
    	});





		//remove pdf
    	$("body").on("click",".remove-pdf",function(e){
			counter--;
			if($('#pdf-row-'+counter+'').length ) {
				$('#pdf-row-'+counter+'').remove();
			}
		});

    	//remove video
    	$("body").on("click",".remove-video",function(e){
			counter--;
			if($('#video-row-'+counter+'').length ) {
				$('#video-row-'+counter+'').remove();
			}
		});

    	//remove image
    	$("body").on("click",".remove-image",function(e){
			counter--;
			if($('#picture-row-'+counter+'').length ) {
				$('#picture-row-'+counter+'').remove();
			}
		});

		

        	
    	$("body").on("click",".add-cat-file",function(e){	
        	var image_counter_plus_one = image_counter+1,
        		image_counter_plus_two = image_counter+2;  
    			$('#cat-file-body').after('<div class="row" id="cat-file-row-'+counter+'">'+
						'<div class="col-lg-4">'+         					
    					'<div class="box1">'+
                	       '<div class="form-group">'+
                		      '<label class="control-label">Pdf</label>'+
            		          '<div id="image-holder'+image_counter+'"></div>'+
                	           '<div class="file-upload-cnt sl-margin-top">'+
                                	'<div class="fileUpload btn bg-maroon margin fa fa-image" id="tour6">'+
                                		'<span>Pdf</span><input type="file" name="pdf[]" id="fileUpload'+image_counter+'"></div>'+
            	               '</div>'+
    	                    '</div>'+	   
        				'</div>'+              					 						
					'</div>'+
					'<div class="col-lg-4">'+
    					'<div class="box1">'+
                	       '<div class="form-group">'+
                		      '<label class="control-label">Video</label>'+
            		          '<div id="image-holder'+image_counter_plus_one+'"></div>'+
                	           '<div class="file-upload-cnt sl-margin-top">'+
                                	'<div class="fileUpload btn bg-maroon margin fa fa-image" id="tour6">'+
                                		'<span>Video</span><input type="file" name="video[]" id="fileUpload'+image_counter_plus_one+'"></div>'+
            	               '</div>'+	
    	                    '</div>'+	   
        				'</div>'+  		  						
					'</div>'+
					'<div class="col-lg-4">'+   
    					'<div class="box1">'+
                	       '<div class="form-group">'+
                		      '<label class="control-label">File Image</label>'+
            		          '<div id="image-holder'+image_counter_plus_two+'"></div>'+
                	           '<div class="file-upload-cnt sl-margin-top">'+
                                	'<div class="fileUpload btn bg-maroon margin fa fa-image" id="tour6">'+
                                		'<span>File Image</span><input type="file" name="file_image[]" id="fileUpload'+image_counter_plus_two+'"></div>'+
            	               '</div>'+	
    	                    '</div>'+
	                    '</div>'+           									
					'</div>'+	
				'</div>');
    			counter++;	
 		
    			image_counter = image_counter_plus_two+1;
    	 
    			
			});

    		$("body").on("click",".remove-cat-file",function(i){
    			counter--;
        		console.log($('#cat-file-row-'+counter+'').length);
    			if($('#cat-file-row-'+counter+'').length ) {
					$('#cat-file-row-'+counter+'').remove();
    			}
    		});

    		
			//remove image schema
    		$('body').on('click', '.remove-image_schema', function(){
    			$('#image-holder3').empty();
    			$('#fileUpload3').val('');
    		});

    		//remove image 
    		$('body').on('click', '.remove-image', function(){
    			$('#image-holder2').empty();
    			$('#fileUpload2').val('');
    		});

    		//remove image 
    		$('body').on('click', '.remove-icone', function(){
    			$('#image-holder1').empty();
    			$('#fileUpload1').val('');
    		});
                       		
    });
    
</script>
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "انتخاب زبان",
    content: "ابتدا زبانی را که میخواهید گروه محصولات در آن به نمایش در بیاید را مشخص کنید"
  },
  {
    element: "#tour2",
    title: "گروه والد",
    content: "انتخاب کنید که گروهی که ایجاد میکنید گروه اصلی است یا زیر مجموعه گروه دیگر، در صورتی که زیرمجموعه گروه دیگری است، فیلدهای مربوط به نوع و گروه ویژگی را هم مطابق با راهنمای سمت راست پر کنید"
  },
  {
    element: "#tour3",
    title: "نام گروه",
    content: "نامی را به گروه خود اختصاص دهید"
  },
  {
    element: "#tour4",
    title: "توضیحات ",
    content: "در صورتی که گروه شما حاوی توضیحاتی است، آن را وارد کنید"
  },
  {
    element: "#tour5",
    title: "آیکن یا تصویر",
    content: "آیکن یا تصویری مرتبط با گروه خود وارد کنید"
  },
  {
    element: "#tour6",
    title: "وضعیت",
    content: "وضعیت گروه را از لحاظ فعال یا غیرفعال بودن مشخص کنید"
  },
  {
    element: "#tour7",
    title: "ذخیره",
    content: "با کلیک روی دکمه ذخیره، اطلاعات وارد شده را ذخیره کنید و سپس به لیست دسته بندی بازگشته و با کلیک روی آیکن افزودن محصول به گروه، محصولات مربوط به گروهی که ایجاد کرده اید را وارد کنید"
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>