<section class="content-header">
    <h1>
        <?php echo __('Add video')?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add video')?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add video')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="form-group">
        	   <?php 
                	echo $this->getPlugin('drop-zone/index/index', array(
                                "configName" => "config_6",
                                'extraColumnsValue' => array(
                    				'product_id' =>$this->productId,
                                    'user_id' =>  $this->userId,
                                    'path' =>  $this->productId ,
                        		)
                        ));
        		?>
            </div>
           <div class="form-group">
            <a href="/<?php echo $this->layout()->lang;?>/admin-shop/products/<?php echo $this->category_id?>" class="btn btn-warning"><?php echo __("Cancle")?></a>
           </div>
        </div>
    </div>
</section>
 