<?php
	$shopAttributeGroupsForm = $this->shopAttributeGroupsForm;
	$shopAttributeGroupsForm->prepare();
?>
<section class="content-header">
    <h1>
        <?php echo __('Add new attribute group'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new attribute group'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Add new attribute group");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
			<?php 
			    echo $this->form()->openTag($shopAttributeGroupsForm);
				if ($this->error) {
					echo '<br><div class="alert alert-danger" role="alert">' . $this->error . '</div>';
				}
			?>
			<div class="row">
			 <div class="col-lg-7">
			         <!--  help -->
                     <fieldset class="help-form">
                        <legend>
                          راهنمای ایجاد گروه ویژگی
    					</legend>
						<p>
						  هر محصولی میتواند وِیژگی ها و فیلدهای مخصوص به خود را داشته باشد، برای مثال ممکن است ما محصولی بنام کتاب داشته باشیم که دارای ویژگی هایی مثل نویسنده، شابک، ناشر و ... باشه، و محصول دیگری مثل CD داشته باشیم که دارای حجم و کیفیت و...باشد، بنابراین شما میتوانید قبل از اینکه محصولی را ایجادکنید، یکسری فیلد اختصاصی برای آن محصول ایجاد کنید.
						  <br/>
						  نکته: بنابر این اولین مرحله ، ایجاد ویژگی های اختصاصی برای یک محصول است، البته این را در نظر داشته باشید که ممکن است محصول شما، ویژگی خاصی نداشته باشد و همان موارد عمومی مثل قیمت و نام و...کفایت کند، دراین مواقع نیازی به افزودن ویژگی وجود ندارد و شما میتوانید مستقیم به قسمت ایجاد دسته بندی و محصول بروید.
						  <br/>
						  - در اینجا با مثال محصول کتاب، توضیحات را ادامه می دهیم.دراین مرحله عنوانی برای ویژگی های محصول کتاب نظر میگیریم، برای مثال ویژگی های کتاب و دکمه ذخیره را میزنیم
						  <br/>
						  - در صورتی که بخواهیدگروه دیگری مثل گروه CDنیز ایجاد کنید، باز زدن دکمه ذخیره و جدید، گروه دیگری ، مثل ویژگی های CD نیز ایجاد میکنیم.
						 <br/>
						 -  در صفحه لیست وِیژگی با زدن دکمه + میتوانید به هر گروه ویژگی های مرتبط را اضافه کنید
						<br/>
						- فیلد وضعیت، میتواند یک ویژگی را فعال یا غیرفعال کند
						</p>
					</fieldset>
			     </div>
			     <div class="col-lg-5">
    			     <div class="form-group" id="tour1">
    					<label class="control-label"><?php echo $this->formLabel($shopAttributeGroupsForm->get('title')); ?></label>
    			    	<?php echo $this->formElement($shopAttributeGroupsForm->get('title'));
    			    	echo $this->formElementErrors($shopAttributeGroupsForm->get("title")); ?>
    				</div>	
    				<div class="form-group" id="tour2">
    					<label class="control-label"><?php echo $this->formLabel($shopAttributeGroupsForm->get('status')); ?></label>
    			    	<?php echo $this->formElement($shopAttributeGroupsForm->get('status'));
    			    	echo $this->formElementErrors($shopAttributeGroupsForm->get("status")); ?>
    				</div>	
    				<div class="form-group pull-left" id="tour4">
    				   <!--   <button class="btn btn-success" type="button" id="addbutton">  <i class="fa fa-plus" aria-hidden="true"></i><?php //echo __("Add attribute to group");?></button>-->
        				<span id="tour3">
        				<?php 
        					echo $this->formElement($shopAttributeGroupsForm->get('csrf'));
        					echo $this->formElementErrors($shopAttributeGroupsForm->get("csrf"));
        					echo $this->formElement($shopAttributeGroupsForm->get('submit'));
        				?>
        				<?php 
        					echo $this->formElement($shopAttributeGroupsForm->get('csrf'));
        					echo $this->formElementErrors($shopAttributeGroupsForm->get("csrf"));
        					echo $this->formElement($shopAttributeGroupsForm->get('submit2'));
        				?>
        				</span>
        				<a href="/<?php echo $this->layout()->lang;?>/admin-shop/attribute-groups" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                    </div>
			     </div>
			    
			</div>
			<?php echo $this->form()->closeTag(); ?>	
        </div>
    </div>
</section>
<!--        script		 -->
<script>
$(document).ready(function(){ 
	   $("#shopAttributeGroupsForm").validationEngine(); 
	   $('#submit').click(function(e){ 
	      // e.preventDefault();
	       if($("#shopAttributeGroupsForm").validationEngine('validate')) 
	       {
	      	   $("#shopAttributeGroupsForm").submit();
	       }
	   }); 
	   $('a.back').click(function(){
		    parent.history.back();
		    return false;
	   }); 
	   $("#shopAttributeGroupsForm").validationEngine(); 
	   $('#submitLink').click(function(e){ 
	      // e.preventDefault();
	       if($("#shopAttributeGroupsForm").validationEngine('validate')) 
	       {
	      	   $("#shopAttributeGroupsForm").submit();
	       }
	   });
	});

</script>

<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "عنوان",
    content: "یک نام برای گروه ویژگی خود انتخاب کنید"
  },
  {
    element: "#tour2",
    title: "وضعیت",
    content: "تیک این بخش را بزنید، در غیر اینصورت گروه شما غیرفعال می ماند"
  },
  {
    element: "#tour3",
    title: "ذخیره",
    content: "دکمه ذخیره را بزنید تا گروه مورد نظر ایجاد شود"
  },
  {
    element: "#tour4",
    title: "ذخیره",
    content: "دکمه ذخیره را بزنید تا گروه مورد نظر ایجاد شود",
    path:'/fa/admin-shop/add-attribute'
  }
  
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>