<?php
$this->headScript()->appendFile($this->basePath('/tinymce/tinymce.min.js'));
if ($this->error) {
    echo '<br><div class="alert alert-danger" role="alert">' . $this->error . '</div>';
}
?>
<section class="content-header">
    <h1>
        <?php echo __('Add new product'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new product'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Add new product");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
			<?php
            	$productsForm = $this->productsForm;
            	$productsForm->prepare();
            	echo $this->form()->openTag($productsForm);
            ?>
            <div class="row">
                <div class="col-lg-5">
                     <!--  help -->
                     <fieldset class="help-form">
                        <legend style="width:75%">
<!--                           راهنمای ایجاد یا ویرایش گروه محصولات -->
    					</legend>
<!-- 						<p> -->
<!-- 						شما می توانید محصولات خود را در این بخش دسته بندی نمائید، به این صورت که گروه های محصولات را اینجا ایجاد کنید و در مرحله ایجاد محصول ، هر محصول را به یک گروه اختصاص دهید -->
<!-- 						  <br/> -->
<!-- 						  1- ابتدا زبانی که قرار است گروه محصولات و محصولات درآ ن به نمایش در بیاید را مشخص میکنیم -->
<!-- 						  <br/> -->
<!-- 						  2-منظور از گروه والد این است که شما میخواهید گروهی که ایجاد میکنید گروه اصلی باشد یا زیر گروه یکی از گروه های دیگر، در اینجا باید در صورتی که زیر مجموعه گروه دیگری است ،نام آن را انتخاب کنید -->
<!-- 						  <br/> -->
<!-- 						  3-نوع ویژگی برای زمانی است که محصولاتتون شامل دو نوع مجازی و واقعی هستند، در حالت پیش فرض این گزینه را روی real قرار دهید -->
<!-- 						  <br/> -->
<!-- 						  4-گروه ویژگی ، همان ویژگی های اختصاصی هستند که در بخش مدیریت ویژگی ها به محصول اعمال کردیم، در صورتی که محصول شما ، ویژگی خاصی ندارد ، میتوانید به همان ویژگی های اصلی بسنده کنید،در غیر اینصورت ویژگی های دیگر را نیز با کلیک بر روی آن به این بخش اضافه کنید -->
<!-- 						  <br/> -->
<!-- 						  5- در بخش نام گروه، باید نام یا عنوانی را به گروه خود اختصاص دهید -->
<!-- 						  <br/> -->
<!-- 						  6-در صورتی که گروه شما دارای توضیحات خاصی است،آن را در بخش توضیحات وارد میکنید -->
<!-- 						  <br/> -->
<!-- 						  7-آیکن، برای اختصاص دادن یک آیکن یا تصویر به گروه مورد نظر است،گاهی در سایت نیاز است که گروه را با یک تصویر نمایش دهید -->
<!-- 						  <br/> -->
<!-- 						 8-فیلد وضعیت ، فعال یا غیرفعال بودن یک گروه را مشخص میکند، از این لحاظ که آیا این گروه را در دسترس کاربران -->
<!-- 						 </p> -->
					 </fieldset>
                </div>
                <div class="col-lg-7">
                 	<div class="form-group" id="tour1">
    					<label class="control-label"><?php echo $this->formLabel($productsForm->get('category_id')); ?></label>
    			    	<?php echo $this->formElement($productsForm->get('category_id'));
    					echo $this->formElementErrors($productsForm->get("category_id")); ?>
    				</div>	
                    <div class="form-group" id="tour1">
    					<label class="control-label"><?php echo $this->formLabel($productsForm->get('product_name')); ?></label>
    			    	<?php echo $this->formElement($productsForm->get('product_name'));
    					echo $this->formElementErrors($productsForm->get("product_name")); ?>
    				</div>	
                    <div class="form-group" id="tour2">
    					<label class="control-label"><?php echo $this->formLabel($productsForm->get('price')); ?></label>
    			    	<?php echo $this->formElement($productsForm->get('price'));
    					echo $this->formElementErrors($productsForm->get("price")); ?>
    				</div>	
    				
    				<div class="form-group" id="tour2">
    					<label class="control-label"><?php echo $this->formLabel($productsForm->get('discount_price')); ?></label>
    			    	<?php echo $this->formElement($productsForm->get('discount_price'));
    					echo $this->formElementErrors($productsForm->get("discount_price")); ?>
    				</div>	
                    <div class="form-group">
    					<label class="control-label"><?php echo $this->formLabel($productsForm->get('unit')); ?></label>
    			    	<?php echo $this->formElement($productsForm->get('unit'));
    			    	echo $this->formElementErrors($productsForm->get("unit")); ?>
    				</div>	
    
    				<div class="form-group">
    					<label class="control-label"><?php echo $this->formLabel($productsForm->get('minimum_order')); ?></label>
    			    	<?php echo $this->formElement($productsForm->get('minimum_order'));
    			    	echo $this->formElementErrors($productsForm->get("minimum_order")); ?>
    				</div>	
    				<div class="form-group" id="tour3">
    					<label class="control-label"><?php echo $this->formLabel($productsForm->get('discount')); ?></label>
    			    	<?php echo $this->formElement($productsForm->get('discount'));
    			    	echo $this->formElementErrors($productsForm->get("discount")); ?>
    				</div>	
    				<div class="form-group" id="tour4">
    					<label class="control-label"><?php echo $this->formLabel($productsForm->get('count')); ?></label>
    			    	<?php echo $this->formElement($productsForm->get('count'));
    			    	echo $this->formElementErrors($productsForm->get("count")); ?>
    				</div>	
    				<div class="form-group" id="tour6">
    					<label class="control-label"><?php echo $this->formLabel($productsForm->get('image')); ?></label>
    			    	<?php echo $this->formElement($productsForm->get('image'));
    			    	echo $this->formElementErrors($productsForm->get("image")); ?>
    				</div>	
    				<div class="form-group" id="tour6">
    					<label class="control-label"><?php echo $this->formLabel($productsForm->get('description')); ?></label>
    			    	<?php echo $this->formElement($productsForm->get('description'));
    			    	echo $this->formElementErrors($productsForm->get("description")); ?>
    				</div>
    				<div class="form-group pull-left" id="tour7">
        				<?php 
        					echo $this->formElement($productsForm->get('csrf'));
        					echo $this->formElementErrors($productsForm->get("csrf"));
        					echo $this->formElement($productsForm->get('submit'));
        				?>
        			 	<a href="/<?php echo $this->layout()->lang;?>/admin-shop" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>    		
        				<script>
        					$(document).ready(function(){
        						$('a.back').click(function(){
        						    parent.history.back();
        						    return false;
        						});
        					});
        				</script>
    				</div>
                </div>
            </div>
            <?php 	echo $this->form()->closeTag(); ?>
		</div>
	</div>
</section>
<script type="text/javascript">
    tinymce.init({
    	directionality : 'rtl',
    	height: 200,
        plugins: [
                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                  "searchreplace visualblocks visualchars code fullscreen",
                  "insertdatetime media nonbreaking save table contextmenu directionality",
                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
              ],
        selector: "#shop-category-description",
      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons",
      	relative_urls: false,
      	targetPath: 'pages',
    });
    
 	  
</script>
<script>
$('#submit').click(function(e){
     // e.preventDefault();
	 $("#productsForm").validationEngine(); 
     if($("#productsForm").validationEngine('validate')) 
     {
     	$("#productsForm").submit();
     }
});
$('document').ready(function(){
//        $("#productsForm").validationEngine(); 
       $('#submit').click(function(e){ 
          // e.preventDefault();
           if($("#productsForm").validationEngine('validate')) 
           {
          	   $("#productsForm").submit();
           }
       });

	$('#shop-category-attribute-group-id').select2({
	    dir: "rtl"
	  });
	$(".showHide").hide();
    $("#shop-category-parent-id").change(function(){
    	if ($(this).val() == 0) {
    		$(".showHide").slideUp(1000);
    	} else {
    		$(".showHide").slideDown(1000);
    	}
    });
    $("#shop-category-parent-id").change();
});
</script>
<script type="text/javascript">
    $("#tag-title").select2({
      tags: true,
      dir: "rtl"
    });
    
    $("#fileUpload1").on('change', function () {
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $("#image-holder1");
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof (FileReader) != "undefined") {
                for (var i = 0; i < countFiles; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                                "class": "thumb-image"
                        }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[i]);
                }
            } else {
                alert("<?php echo __("This browser does not support FileReader");?>.");
            }
        } else {
            alert("<?php echo __("Please choose only images");?>");
        }
    });
</script>
<!-- tour guide -->
<script>
//Instance the tour
// var tour = new Tour({
//   steps: [
//   {
//     element: "#tour1",
//     title: "انتخاب زبان",
//     content: "ابتدا زبانی را که میخواهید گروه محصولات در آن به نمایش در بیاید را مشخص کنید"
//   },
//   {
//     element: "#tour2",
//     title: "گروه والد",
//     content: "انتخاب کنید که گروهی که ایجاد میکنید گروه اصلی است یا زیر مجموعه گروه دیگر، در صورتی که زیرمجموعه گروه دیگری است، فیلدهای مربوط به نوع و گروه ویژگی را هم مطابق با راهنمای سمت راست پر کنید"
//   },
//   {
//     element: "#tour3",
//     title: "نام گروه",
//     content: "نامی را به گروه خود اختصاص دهید"
//   },
//   {
//     element: "#tour4",
//     title: "توضیحات ",
//     content: "در صورتی که گروه شما حاوی توضیحاتی است، آن را وارد کنید"
//   },
//   {
//     element: "#tour5",
//     title: "آیکن یا تصویر",
//     content: "آیکن یا تصویری مرتبط با گروه خود وارد کنید"
//   },
//   {
//     element: "#tour6",
//     title: "وضعیت",
//     content: "وضعیت گروه را از لحاظ فعال یا غیرفعال بودن مشخص کنید"
//   },
//   {
//     element: "#tour7",
//     title: "ذخیره",
//     content: "با کلیک روی دکمه ذخیره، اطلاعات وارد شده را ذخیره کنید و سپس به لیست دسته بندی بازگشته و با کلیک روی آیکن افزودن محصول به گروه، محصولات مربوط به گروهی که ایجاد کرده اید را وارد کنید"
//   }
// ],

// storage: false

// });

// // Initialize the tour
// tour.init();

// // Start the tour
// tour.start();

// function activaTab(tab){
//   $('.nav-tabs a[href="#' + tab + '"]').tab('show');
// }; 
// function dactiveTab(tab){
//   $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
// }; 
</script>