<?php
	$shopProductAttributeOptionsForm = $this->shopProductAttributeOptionsForm;
	$shopProductAttributeOptionsForm->prepare();
	echo $this->form()->openTag($shopProductAttributeOptionsForm);
?>
<section class="content-header">
    <h1>
        <?php echo __('Assign values to attribute'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Assign values to attribute'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Assign values to attribute");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
			<?php 
				if ($this->error) {
					echo '<br><div class="alert alert-danger" role="alert">' . $this->error . '</div>';
				}
			?>
			<div class="row">
    			   <div class="col-lg-6">
    			         <div class="form-group">
    					<label class="control-label"><?php echo $shopProductAttributeOptionsForm->get('values')->getLabel(); ?></label><span class="mandetory-field"> (فیلد اجباری)</span>
    			    	<?php echo $this->formElement($shopProductAttributeOptionsForm->get('values')); 
    			    	echo $this->formElementErrors($shopProductAttributeOptionsForm->get("values"));?>
    				</div>
    				<div class="form-group">	
        				<?php 
        					echo $this->formElement($shopProductAttributeOptionsForm->get('csrf'));
        					echo $this->formElementErrors($shopProductAttributeOptionsForm->get("csrf"));
        					echo $this->formElement($shopProductAttributeOptionsForm->get('submit'));
        				?>
        			 	<a href="#" class="back btn btn-warning"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><?php echo __("Back")?></a>      		
                    </div>
			     </div>
			     <div class="col-lg-6">
			     </div>
			</div>
            <?php echo $this->form()->closeTag(); ?>
        </div>
    </div>
</section>
			 	
<!-- script	 -->
<script>
	$(document).ready(function(){
		$('a.back').click(function(){
		    parent.history.back();
		    return false;
		});
	});
</script>

