<?php
	echo $this->headTitle('لیست اتریبیوت ها');
?>
<div class="container">
    <div class="row bodyText">
     	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     		<?php if ($this->productAttributes) { ?>
			<h4>لیست اتریبیوت ها</h4>
			<a class="btn btn-success btn-xs" href="<?php echo $this->url('admin-shop', array(
					'action' => 'add-attribute'
			));?>">افزودن اتریبیوت جدید</a>
			<table class="table table-hover">
				<tr>
				    <td><strong>#</strong></td>
				    <td><strong>نام</strong></td>
				    <td><strong>اختصاص مقادیر</strong></td>
				    <td><strong>ویرایش</strong></td>
				    <td><strong>حذف</strong></td>
						
				</tr>	
				<?php foreach ($this->productAttributes as $counter => $attribute){ ?>		
					<tr class="<?php echo ($attribute['status'] == 1 ? _('') : _('danger')); ?>">
					    <td><?php echo ++$counter; ?></td>
					    <td><?php echo $attribute['title']; ?></td>
					    <td>
		    				<a class="btn btn-success btn-xs" href="<?php echo $this->url('admin-shop', array(
					    		'action' => 'assign-values-to-attribute',
					    		'id'     => $attribute['id']
		    				)); ?>">اختصاص مقادیر</a>
					    </td>
					    <td><a class="btn btn-info btn-xs" href="<?php echo $this->url('admin-shop', array(
					    		'action' => 'edit-attribute',
					    		'id'     => $attribute['id']
					    ));?>">ویرایش</a></td>
					    <td><a class="btn btn-danger btn-xs delete-btn" href="<?php echo $this->url('admin-shop', array(
					    		'action' => 'delete-attribute',
					    		'id'     => $attribute['id'],
					    		'token'  => $this->csrf
					    ));?>">حذف</a></td>
					</tr>	
				<?php } ?>
			</table>
 			<?php } else { ?>
			 			<a class="btn btn-success btn-xs" href="<?php echo $this->url('admin-shop', array(
								'action' => 'add-attribute'
						));?>">افزودن اتریبیوت جدید</a>
 						<div class="alert alert-info">هنوز هیچ اتریبوتی به ثبت نرسیده است.</div>
 			<?php } ?>
			<!-- Modal HTML -->
			    <div id="modal" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h4 class="modal-title">&nbsp;</h4>
			                </div>
			                <div class="modal-body">
			                    <h5>آیا مطمئن هستید که قصد حذف این اتریبیوت را دارید؟</h5>
			                    <p>توجه داشته باشید که در صورت حذف این اتریبیوت، امکان بازگرداندن آن وجود نخواهد داشت.</p>
			                </div>
			                <div class="modal-footer">
			<!--                     <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">انصراف</button> -->
			                    <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#">آری، قصد حذف اتریبویت را دارم</a>
			                </div>
			            </div>
			        </div>
			    </div>
			<script type="text/javascript">
			    $('.delete-btn').click(function(e) {
			        e.preventDefault();
			        $('#modal').modal();
			        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
			    });
			</script> 
			<?php 
				echo $this->inlineScript()->prependFile($this->basePath('js/bootstrap.min.js'));
			?>
		</div>
	</div>
</div>
