<?php
	echo $this->headTitle('تکمیل اطلاعات محصول');
	echo $this->inlineScript()->prependFile($this->basePath('/tinymce/tinymce.min.js'));
	$this->headLink()->appendStylesheet('/css/select2.min.css');
	$this->headScript()->appendFile('/js/select2.min.js');
?>
<div style="direction: rtl">
    <div class=" bodyText">
     	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h4>تکمیل اطلاعات محصول</h4>
			<?php 
				if ($this->error) {
					echo '<br><div class="alert alert-danger" role="alert">' . $this->error . '</div>';
				}
				if ($this->errors) {
					echo '<br><div class="alert alert-danger" role="alert">' . implode("<br>", $this->errors) . '</div>';
				}
				if ($this->form === null) {
				?>
					<a class="btn btn-success btn-xs" href="<?php echo $this->url('admin-shop', array(
							'action' => 'add-attribute'
					));?>">افزودن اتریبیوت جدید</a>					
				<?php 
					echo '<br><div class="alert alert-danger" role="alert">هیچ اتریبوتی برای این محصول در نظر گرفته نشده است!</div>';
				}
			?>
			<script type="text/javascript">
			    tinymce.init({
			    	directionality : 'rtl',
			    	height: 200,
			        plugins: [
			                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
			                  "searchreplace visualblocks visualchars code fullscreen",
			                  "insertdatetime media nonbreaking save table contextmenu directionality",
			                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
			              ],
			        selector: "#shop-category-description",
			      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons",
			      	relative_urls: false
			    });
			</script>
		    	<?php echo $this->form; ?>
		</div>
		<?php
			if ($this->images) {
				foreach ($this->images as $image) {
		?>
			<div id="<?php echo 'image-' . $image['id']; ?>">
				<img height="100" width="100" src="<?php echo '/'.$this->filePath . $image['name']; ?>">
				<span style="cursor:pointer;" class="glyphicon glyphicon-remove remove-btn" data-image-id="<?php echo $image['id']; ?>"></span>
			</div>
		<?php 
				}
			}
		?>
		<div>
		
		</div>
	</div>
</div>
<br>
<script>
	$('#shop-category-attribute-group-id').select2({
	    dir: "rtl"
	  });
	
	//remove
	$('.remove-btn').click(function(){
	var imageId = $(this).attr('file-id');
	var filePath = '<?php echo $this->filePath; ?>';
	$.ajax({
		url: '/admin/shop/delete-product',
		type: 'POST',
		data:{ 
			imageId: imageId,
			filePath: filePath,
		},
		success: function(result) {
			if (result) {
				var data = JSON.parse(result);
				if (data['status'] == 200) {
					$('#file-' + imageId).remove();
					
				}
			} 
		}
	});

	});
</script>
