<?php
	echo $this->inlineScript()->prependFile($this->basePath('/tinymce/tinymce.min.js'));
 	$this->headLink()->appendStylesheet('/css/select2.min.css');
 	$this->headScript()->appendFile('/js/select2.min.js');
	$shopProductsForm = $this->shopProductsForm;
	$shopProductsForm->prepare();
	echo $this->form()->openTag($shopProductsForm);
?>
<section class="content-header">
    <h1>
        <?php echo __('Add product'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add product'); ?></li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add product');?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
             <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">مشخصات اصلی محصول</a></li>
                    <li><a data-toggle="tab" href="#menu2">افزودن رسانه</a></li>
                    <li><a data-toggle="tab" href="#menu3">ویژگی های فنی</a></li>
                    <li><a data-toggle="tab" href="#menu4">سئو</a></li>
                </ul>
                 <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <!-- first tab-page content -->
                        <div class="col-lg-5">
                            <!--  help -->
                            <fieldset class="help-form" id="tour7">    	
            					<legend style="width:75%;">راهنمای مشخصات اصلی محصول</legend>
        						<p>
        						 در این بخش شما می توانید محصول خود را ایجاد کنید
        						<br/>
        						1- ابتدا زبانی که قرار است محصول در ان به نمایش در بیاید را انتخاب میکنید
        						<br/>
        						2- نام محصول و یک نام برای سئو محصول انتخاب میکنید، این دو نام میتواند یکی باشد، توجه داشته باشید که نام سئو ، به یافتن محصول در گوگل کمک می کند
        						<br/>
        						3- در بخش توضیحات ، می توانید توضیحاتی در مورد محصول خود ارائه دهید
        						<br/>
        						4- الویت ترتیب نمایش محصول را از بین محصولات موجود نمایش می دهد ، که می توانید عددی بین 0 تا n به آن اختصاص دهید
        						<br/>
        						5- فیلد وضعیت، فعال یا غیرفعال بودن محصول را از لحاظ اینکه در سایت نمایش داده شود یا خیر ، مشخص میکند، توجه کنید که در صورت نزدن تیک ، این محصول در سایت نمایش داده نخواهد شد
        						<br/>
        						6-در تب های بعدی می توانید به محصول خود تصویر یا فایل اضافه کنید یا اینکه ویژگی های اختصاصی ای که برای محصول در نظر گرفته اید را پر نمایید
        						</p>
                			</fieldset>	
                         </div>
                         <div class="col-lg-7">
                             <span class="blog-step">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                  مرحله اول :
                                  <span>مشخصات اصلی محصول</span>
                             </span>
                            <br/><br/><br/><br/>
                            <?php 
                				if ($this->error) {
                					echo '<div class="alert alert-danger" role="alert">' . $this->error . '</div>';
                				}
                			?>
                			<div class="form-group" id="tour1">
        					    <label class="control-label"><?php  echo $this->formLabel($shopProductsForm->get('product_lang')); ?></label>
        			    	    <?php echo $this->formElement($shopProductsForm->get('product_lang')); 
        			    	    echo $this->formElementErrors($shopProductsForm->get("product_lang"));?>
        				    </div>	
                            <div class="form-group" id="tour2">
            					<label class="control-label"><?php echo $this->formLabel($shopProductsForm->get('name')); ?></label>
            			    	<?php echo $this->formElement($shopProductsForm->get('name'));
            			    	echo $this->formElementErrors($shopProductsForm->get("name")); ?>
            				</div>	
            				<div class="form-group" id="tour3">
            					<label class="control-label"><?php echo $this->formLabel($shopProductsForm->get('seo_name')); ?></label>
            			    	<?php echo $this->formElement($shopProductsForm->get('seo_name'));
            			    	echo $this->formElementErrors($shopProductsForm->get("seo_name")); ?>
            				</div>	
            				<div class="form-group">
            					<label class="control-label"><?php //echo $this->formLabel($shopProductsForm->get('price')); ?></label>
            			    	<?php //echo $this->formElement($shopProductsForm->get('price'));
            			    	//echo $this->formElementErrors($shopProductsForm->get("price")); ?>
            				</div>
            				<div class="form-group" id="tour4">
            					<label class="control-label"><?php echo $this->formLabel($shopProductsForm->get('description')); ?></label>
            			    	<?php echo $this->formElement($shopProductsForm->get('description')); 
            			    	echo $this->formElementErrors($shopProductsForm->get("description"));?>
            				</div>
            				<div class="form-group">
            					<label class="control-label"><?php //echo $this->formLabel($shopProductsForm->get('description_additional')); ?></label>
            			    	<?php //echo $this->formElement($shopProductsForm->get('description_additional')); 
            			    	//echo $this->formElementErrors($shopProductsForm->get("description_additional"));?>
            				</div>
                            <div class="form-group" id="tour5">
            					<label class="control-label"><?php echo $this->formLabel($shopProductsForm->get('priority')); ?></label>
            			    	<?php echo $this->formElement($shopProductsForm->get('priority'));
            			    	echo $this->formElementErrors($shopProductsForm->get("priority")); ?>
            				</div>
            				<div class="form-group">
            					<label class="control-label"><?php //echo $this->formLabel($shopProductsForm->get('rating')); ?></label>
            			    	<?php //echo $this->formElement($shopProductsForm->get('rating'));
            			    	//echo $this->formElementErrors($shopProductsForm->get("rating")); ?>
            				</div>
            				<div class="form-group" id="tour6">
            					<label class="control-label"><?php echo $this->formLabel($shopProductsForm->get('status')); ?></label>
            			    	<?php echo $this->formElement($shopProductsForm->get('status'));
            			    	echo $this->formElementErrors($shopProductsForm->get("status")); ?>
            				</div>	
	    					 <div class="form-group pull-left"  >
	                               <a  data-toggle="tab" href="#" aria-expanded="true" onclick="activaTabx('menu2')" class="btn btn-success"><?php echo __("Next  "); ?> <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
	  				         </div>
    					</div>
                    </div>
                     <div id="menu2" class="tab-pane fade">
                           <div class="col-lg-5">
                                <!--  help -->
                                <fieldset class="help-form" id="tour11">    	
                					<legend style="width:75%;">  راهنمای رسانه</legend>
            						<p>
            						1-در این بخش ، میتوانید تصویری برای محصول خود انتخاب نمایید
            						<br />
            						2-در صورتی که محصول شما دارای گالری تصاویر است می توانید از بین گالری های موجود ،گالری مورد نظر را انتخاب نمایید، توجه کنید که قبل از این مرحله باید گالری خود را در بخش مدیریت گالری ایجاد نمایید
            						<br />
            						3-در صورتی که محصول شما دارای کاتالوگ یا فایل است میتوانید، آن را در بخش فایل ذخیره نمایید
            						</p>
                    			</fieldset>	
                             </div>
                             <div class="col-lg-7">
                                 <span class="blog-step">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                        مرحله دوم :
                                      <span>افزودن رسانه</span>
                                 </span>
                                <br/><br/><br/><br/>
                                <div class="box1">
                                	<div class="form-group">
                                	    <div class="box1-img-holder sl-margin-bottom" id="image-holder1">
                                        </div>
                                    	<div class="file-upload-cnt sl-margin-top">
                                        	<div class="fileUpload btn bg-maroon margin fa fa-image" id="tour8">
                                        		<span><?php echo $this->formLabel($shopProductsForm->get('image')); ?></span>
                                        	   <?php echo $this->formElement($shopProductsForm->get('image')); 
                                        	   echo $this->formElementErrors($shopProductsForm->get("image"));?>
                                        	</div>
                                	    </div>          	    
                                	</div>	
                    	       </div>
                				<div class="form-group" id="tour9">
                					<label class="control-label"><?php echo $this->formLabel($shopProductsForm->get('gallery_id')); ?></label>
                			    	<?php echo $this->formElement($shopProductsForm->get('gallery_id'));
                			    	echo $this->formElementErrors($shopProductsForm->get("gallery_id")); ?>
                				</div>	
            				    <div class="form-group" id="tour10">
                					<label class="control-label"><?php echo $this->formLabel($shopProductsForm->get('file')); ?></label>
                			    	<?php echo $this->formElement($shopProductsForm->get('file'));
                			    	echo $this->formElementErrors($shopProductsForm->get("file")); ?>
                				</div>	
                				<?php if(!empty($this->product["file"])) {?>
                                	<div class="clearfix">
                                        <div class="box1-img-holder sl-margin-bottom">
                                	        <a href="<?php echo '/uploads/shop/product/' . $this->product["file"]; ?>">Download</a>
                                        </div>
                                    </div>
                                <?php }?>
                            </div>
                            <div class="form-group pull-left"  >
                                <a  data-toggle="tab" href="#" onclick="activaTabx('home')" aria-expanded="true" class="btn btn-info"><?php echo __("Previous  "); ?> <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                <a  data-toggle="tab" href="#menu3" onclick="activaTabx('menu3')" aria-expanded="true" class="btn btn-success	"><?php echo __("Next  "); ?> <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </div>
                         </div>
                         <div id="menu3" class="tab-pane fade">
                            <div class="row">
                                <div class="col-lg-5">
                                    <!--  help -->
                                    <fieldset class="help-form" id="tour12">
                                        <legend>
                                         راهنمای مشخصات فنی
                    					</legend>
            							<p>
            							همانطور که قبلا در بخش مدیریت ویژگی های محصول اشاره شد، هر محصول میتواند ویژگی های منحصر به فرد خود را داشته باشد،در صورتی که در بخش مدیریت ویژگی ها، ویژگی ای تعریف کرده باشید و به محصول خود در بخش مدیریت دسته بندی محصولات آن ویژگی را اضافه کرده باشید، فیلدهای ایجاد شده را در این بخش می توانید مشاهده کنید
                						<br />
                						این فیلدها به صورت جدول در صفحه هر محصول قابل مشاهده هستند
            							</p>
                			     </fieldset>	
                                </div>
                                <div class="col-lg-7">
                                     <span class="blog-step">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                           مرحله سوم :
                                          <span>مشخصات فنی محصول</span>
                                     </span>
                                    <br/><br/><br/><br/>
                                    <div class="box1" id="tour13">
                            			<?php
                                                   
                                        if ($this->form === null) {
                                            ?>
                                    			<a class="btn btn-success fa fa-plus" href="<?php echo $this->url('admin-shop', array(
                                    					'action' => 'add-attribute'
                                    			));?>"><?php __("Add new attribute")?></a>					
                                    		<?php 
                                    			echo '<br><div class="alert alert-danger" role="alert">' . __("There is no attribute for this product category").'</div>';
                                    		}
                                    	?>
                                    	<?php echo $this->form; ?>
                                    </div>
	                                <div class="form-group pull-left">
		                                <a  data-toggle="tab" href="#" onclick="activaTabx('menu2')"  aria-expanded="true" class="btn btn-info"><?php echo __("Previous  "); ?> <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
	                                    <a  data-toggle="tab" href="#" onclick="activaTabx('menu4')"  aria-expanded="true" class="btn btn-success"><?php echo __("Next  "); ?> <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
	                                </div>
                                 </div>
                            </div>
                         </div>
                         <div id="menu4" class="tab-pane fade">
                            <div class="row">
                                <div class="col-lg-6">
                                    <!--  help -->
                                    <fieldset class="help-form">
                                        <legend>
                                          راهنمای متا
                    					</legend>
            							<p>
            							توضیحات و کلمات متا ، دو بخش از هر صفحه وب هستند که کمک شایانی به افزایش بازدید صفحه از طریق موتورهای جستجو میکنند و جزو مواردی هستند که در سئوی سایت موثر هستند
                					؛ بنابراین سعی کنید برای هر محصول از سایت خود، این موارد را ایجاد کنید
                						<br />
                						1-توضیحات متا، شامل توضیحاتی مرتبط با صفحه شما می باشد که در واقع معرف صفحه شما در گوگل است و هنگامی که کاربر واژه ای را جستجومیکند، ولینک سایت شما ظاهر می شود، این توضیحات در زیر عنوان به نمایش گذاشته می شود
                						؛ توجه کنید که این متن نباید بیشتر از 160 کاراکتر باشد
                						<br />
                						2-کلمات متا، شامل کلیدواژه های مرتبط با صفحه شما می باشد که احتمال میدهید کاربران این واژه ها را بیشتر جستجو میکنند؛ توجه کنید که این کلید واژه ها باید کاملا مرتبط با محتوای صفحه شما باشند و با کامای انگلیسی از هم جدا شوند و نکته دیگر اینکه حتی الامکان در عنوان صفحه و متن بدنه صفحه ذکر شده باشند؛ شما میتوانید 7 الی 10 واژه انتخاب نمایید
            							<br />
            							3-این فیلدها غیرضروری هستند و میتوانید آنها را پر نکنید و لی توصیه ما به شما، توجه به این بخش است
            							</p>
                			     </fieldset>	
                                </div>
                                <div class="col-lg-6">
                                     <span class="blog-step">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                      مرحله چهارم :
                                      <span>سئو (اختیاری)</span>
                                     </span>
                                    <br/><br/><br/><br/>
                                    <div class="box1" id="tour14">
                        				<div class="form-group">
                        					<label class="control-label"><?php echo $this->formLabel($shopProductsForm->get('meta_description')); ?></label>
                        			    	<?php echo $this->formElement($shopProductsForm->get('meta_description'));
                        			    	echo $this->formElementErrors($shopProductsForm->get("meta_description")); ?>
                        				</div>	
                        				<div class="form-group">
                        					<label class="control-label"><?php echo $this->formLabel($shopProductsForm->get('meta_keywords')); ?></label>
                        			    	<?php echo $this->formElement($shopProductsForm->get('meta_keywords')); 
                        			    	echo $this->formElementErrors($shopProductsForm->get("meta_keywords"));?>
                        				</div>	
                                    </div>
                               </div>
                            </div>
                                     <div class="form-group pull-left" id="tour15">
                                        <a  data-toggle="tab" href="#" aria-expanded="true" onclick="activaTabx('menu3')" class="btn btn-info"><?php echo __("Previous  "); ?> <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
										<?php 
										    echo $this->formElement($shopProductsForm->get('category_id'));
										    echo $this->formElementErrors($shopProductsForm->get("category_id"));
											echo $this->formElement($shopProductsForm->get('csrf'));
											echo $this->formElementErrors($shopProductsForm->get("csrf"));
						                   echo $this->formElement($shopProductsForm->get('submit')); 
						                   echo $this->formElement($shopProductsForm->get('submitreturn')); 
											 
										?> 
									    <a href="/<?php echo $this->layout()->lang;?>/admin-shop/products/<?php echo $this->catId; ?>" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
						        	</div> 
                       </div>
                  </div>
            </div>
   
            <?php 
				echo $this->form()->closeTag();
            ?>
        </div>
    </div>
</section>
<script>
	
	$(document).ready(function() {
		   $('#shop-category-attribute-group-id,#related-products,#instructor_id,#study_id').select2({
		     dir: "rtl"
		   }); 
		   $("#shopProductsForm").validationEngine(); 
		   $('#submit').click(function(e){ 
		      // e.preventDefault();
		       if($("#shopProductsForm").validationEngine('validate')) 
		       {
		      	   $("#shopProductsForm").submit();
		       }
		   }); 
		$("#study_id").change(function(e) {
	    	var mstudy=$(this).val(); 
			$.ajax({
				url:"/admin-shop/get-lessons",
				type:'POST',
				dataType : "json",
				data:{
					study_id:mstudy,
				},
				success:function(data){
					if(data=="error") {
						alert("<?php echo __("Operation failed");?>")
					}  
					else {
						var options = '';
			            for (var x = 0; x < data.length; x++) {
			                options += '<option value="' + data[x]['id'] + '">' + data[x]['name'] + '</option>';
			            }
			            $("#lesson_id").html(options);
					} 
					
				},complete:function(data)
				{
				}
			});
			
		});
		$("#study_id").change();

		//remove
		$('.remove-btn').click(function(){
		var imageId = $(this).attr('file-id');
		$.ajax({
			url: '/admin-shop/delete-image',
			type: 'POST',
			data:{ 
				imageId: imageId,
			},
			success: function(result) {
				if (result) {
					var data = JSON.parse(result);
					if (data['status'] == 200) {
						$('#file-' + imageId).remove();
						
					}
				} 
			}
		});

		});
		
		//remove
		$('#product_image').click(function(){
		var productId = $(this).data('product-id');
		$.ajax({
			url: '/admin-shop/delete-product-image',
			type: 'POST',
			data:{ 
				productId: productId,
			},
			success: function(result) {
				if (result) {
					var data = JSON.parse(result);
					if (data['status'] == 200) {
						$('#product-image').remove();
						
					}
				} 
			}
		});

		});

		$(".showHide").hide();
	    $("#gallery_id").change(function(){
	    	if ($(this).val() == '') {
	    		$(".showHide").slideDown(1000);
	    	} else {
	    		$(".showHide").slideUp(1000);
	    	}
	    
	    });
	    $("#gallery_id").change();

	    $('#product_lang').change(function(){
	 		 var newlang = this.value;
	 	     var lang = '<?php echo $this->layout()->lang;?>';
	 	     var cat_id = '<?php echo $this->catId;?>';
	  	     window.location="/"+lang+"/admin-shop/add-product/"+cat_id+"?lang="+newlang;
	    });
	});

    tinymce.init({
    	directionality : 'rtl',
    	height: 200,
        plugins: [
                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                  "searchreplace visualblocks visualchars code fullscreen",
                  "insertdatetime media nonbreaking save table contextmenu directionality",
                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
              ],
        selector: ".shop-product-description",
      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons",
      	relative_urls: false
    });

    $("#fileUpload1").on('change', function () {
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $("#image-holder1");
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof (FileReader) != "undefined") {
                for (var i = 0; i < countFiles; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                                "class": "thumb-image"
                        }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[i]);
                }
            } else {
                alert("<?php echo __("This browser does not support FileReader");?>.");
            }
        } else {
            alert("<?php echo __("Please choose only images");?>");
        }
    });
    
</script>
<!--------------------------------------------- Price Script ---------------------------------------->
<script type="text/javascript">
		$(document).ready(function(){
			  
        	function isInt(n) {
        		return n%1 === 0;
        	}
        	$("#amount_total").on("keyup", function() {
                	var amount = this.value;
                    amount = amount.split(",").join("");
        
        	if (isInt(amount) && amount != "") { 
          	    amount = parseInt(amount); 
        		var rial = (amount) * 10;
        		var percent = (amount*9/100);
                var total = (amount + (percent * 1));
                $("#toman").text(amount);
        		$("#rial").text(digitGroup(rial));
                $("#amount_total").val(	digitGroup (amount));		 
                $("#finalAmount").text(digitGroup(Math.ceil(total)));
        	    $("#paidAmount").val(Math.ceil(total));
                 
        	 } else {
        		 $("#toman").text(0);
        		 $("#rial").text(0); 
        		 $("#finalAmount").text(0);
        		 $("#paidAmount").val(0);
        	 }
        	});
        
        //digit number-----------------------------------------------------------------------------------
        	$("#amount_total").keydown(function (e) {
                 //console.log(e.keyCode);
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [8, 9, 13 , 109 , 173 , 46]) !== -1 ||
                     // Allow: Ctrl+A, Command+A
                    (e.keyCode == 65 && ( e.ctrlKey === true || e.metaKey === true ) ) || 
                     // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                         return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
      });
</script>
<script>
    function digitGroup(val)
        {
    
            var nStr = val + "";
            nStr = nStr.replace( /\,/g, "");
            x = nStr.split( "." );
            x1 = x[0];
            x2 = x.length > 1 ? "." + x[1] :"" ;
            var rgx = /(\d+)(\d{3})/;
            while ( rgx.test(x1) ) {
                x1 = x1.replace( rgx, "$1" + "," + "$2" );
            }
            val = x1 + x2;
            return val;
        }
</script>
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
	  steps: [
	          {
	      	    element: "#tour1",
	      	    title: "انتخاب زبان",
	      	    content: "در صورت چندزبانه بودن سایت، زبانی که قرار است این محصول درآن به نمایش در بیاید را مشخص کنید"
	      	  },
	      	  {
	      	    element: "#tour2",
	      	    title: "انتخاب نام",
	      	    content: "نام محصول خود را وارد کنید"
	      	  },
	      	  {
	      	    element: "#tour3",
	      	    title: "نام سئو",
	      	    content: "نامی برای سئوی محصول که مشتریان بیشتر در گوگل جستجو میکنند انتخاب کنید، این نام میتواند با نام محصول یکسان باشد"
	      	  },
	      	  {
	      	    element: "#tour4",
	      	    title: "توضیحات",
	      	    content: "توضیحات و اطلاعات محصول خود را وارد کنید"
	      	  },
	      	  {
	      	    element: "#tour5",
	      	    title: "الویت",
	      	    content: "الویت نمایش محصول را میتوانید با انتخاب عددی بین 0 تا n مشخص کنید، محصولات دارای عدد کمتر در رده های بالاتری قرار میگیرند، این فیلد اختیاری است"
	      	  },
	      	  {
	      	    element: "#tour6",
	      	    title: "وضعیت",
	      	    content: "تیک این بخش را بزنید، در غیر اینصورت محصول شما نشان داده نخواهد شد و غیرفعال باقی می ماند"
	      	  }
	          ],storage: false
	          });
	var tour2 = new Tour({
	  steps: [ 
	   
	  {
	    element: "#tour11",
	    title: "ویژگی های فنی",
	    content: "در صورتی که قبلا در بخش مدیریت ویژگی ها، فیلدهای اختصاصی برای محصول خود انتخاب کرده باشید، در این قسمت این فیلدها نمایش داده می شود، و شما میتوانید اطلاعات مربوط به آنها را پر نمایید",
	    onNext:function(tour){
	    	activaTab('menu3');
	    },
	    onShow:function(tour){
	    	activaTab('menu3');
	    } 
	  },
	  {
	    element: "#tour12",
	    title: "مشخصات فنی محصول",
	    content: "در این بخش میتوانید فیلدهای اختصاصی محصول خود را  پر نمایید"
	  } 

	], 
	storage: false

	});

	var tour3 = new Tour({
		  steps: [
		  
		          {
		        	    element: "#tour13",
		        	    title: "سئو",
		        	    content: "در این تب میتوانید اطلاعات مربوط به سئو که مربوط به شناسایی محصول توسط موتورهای جستجو هستند را پر نمایید",
		        	    onNext:function(tour){
		        	    	activaTab('menu4');
		        	    },
		        	    onShow:function(tour){
		        	    	activaTab('menu4');
		        	    } 
		        	  },
		        	  {
		        	    element: "#tour14",
		        	    title: "سئو",
		        	    content: "پرکردن این اطلاعات اختیاری می باشد ولی کمک شایانی به شناسایی محصول شما توسط موتورهای جستجویی نظیر گوگل میکند"
		        	  },
		        	  {
		        	    element: "#tour15",
		        	    title: "ذخیره",
		        	    content: "در این بخش میتوانید اطلاعات محصول خود را با زدن دکمه ذخیره ثبت نمایید"
		        	  }
		],

		storage: false 
 });
	var tour1 = new Tour({
		  steps: [
		  
		  {
		    element: "#tour7",
		    title: "رسانه",
		    content: "در این تب میتوانید برای محصول خود تصویر انتخاب کنید، یا در صورتی که محصول شما دارای گالری تصاویر یا فایل باشد، آن را به محصول بیفزایید",
	 	    onNext:function(tour){
	 	    	activaTab('menu2');
	 	    },
	 	    onShow:function(tour){
	 	    	activaTab('menu2');
	 	    }
		  },
		  {
		    element: "#tour8",
		    title: "انتخاب تصویر",
		    content: "تصویری را متناسب با محصول خود انتخاب کنید"
		  },
		  {
		    element: "#tour9",
		    title: "انتخاب گالری",
		    content: "در صورتی که محصول شما دارای گالری تصاویر است و گالری خود را قبلا در بخش مدیریت گالری ایجاد کرده اید، میتوانید نام آن را اینجا انتخاب کنید، در غیر اینصورت به گزینه بعد بروید"
		  },
		  {
		    element: "#tour10",
		    title: "انتخاب فایل",
		    content: "در صورتی که محصول شما دارای فایل یا کاتالوگی جهت دانلود می باشد، در این قسمت آپلود کنید، در غیر اینصورت به تب بعد بروید"
		  } 
		  
		],

		storage: false

		});
	//Initialize the tour
	tour.init(); 
	 
	// Start the tour
	tour.start();
function activaTabx(tab){
	//tour.setCurrentStep(7);
	tour.init(); 
	if (tab == 'menu2') {  
		tour.pause();  
		 
		tour1.start(); 
	} else if (tab == 'menu3') {   
		tour2.start();
	}   else if (tab == 'menu4') {   
		tour3.start();
	} else { 
	 
		tour.start();
	}
 
 $('.nav-tabs a[href="#' + tab + '"]').tab('show');
 $(' a[href="#' + tab + '"]').closest('li').addClass("active"); 
 $('.nav-tabs a[href="#' + tab + '"]').focus();  
  activeTab(tab)
}; 
function activaTab(tab){ 
  $('.nav-tabs a[href="#' + tab + '"]').tab('show'); 
  $('a[href="#' + tab + '"]').focus(); 
 
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
  $('a[href="#' + tab + '"]').focus();
}; 
</script>