
<section class="content-header">
    <h1>
        <?php echo __('Download Files'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Download Files'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Download Files");?></h3>
        </div><!-- /.box-header -->
        
        <div class="box-body">
			<div class="row" >
    			 <ul >
    				 <?php 
                      if ($this->productFiles) {
                        foreach ($this->productFiles as $file) {
                            $filePath = "/uploads/shop/product/"  . $file['file'];
                           
                     ?>
                    
                    <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4">
        				<li style="list-style: none;">
        				<!-- show video link -->
                            <div class="video-box">
                                <a href="<?php echo $filePath;?>" class="show1">
                                    <div class="video-pic">
                                         <img src="/images/video-pic.png" class="img-responsive"/>
                                    </div>
                              
                                    <?php echo $file['name']; ?>
                                </a>
                            </div>
        				</li>
        			</div>
        		
                   <?php }} ?>
    			</ul>
		  </div>
    </div>  
</div>
</section>
