<section class="content-header">
    <h1>
        <?php echo __('Edit attribute'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new attribute'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit attribute");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php
            	$shopAttributesForm = $this->shopAttributesForm;
            	$shopAttributesForm->prepare();
            	echo $this->form()->openTag($shopAttributesForm);
            ?>
			<?php 
				if ($this->error) {
					echo '<br><div class="alert alert-danger" role="alert">' . $this->error . '</div>';
				}
			?>
			     <div class="row">
    			     <div class="col-lg-5">
    			         <!--  help -->
                         <fieldset class="help-form">
                            <legend>
                              راهنمای ایجاد گروه ویژگی
        					</legend>
    						<p>
    						  در این بخش وِیژگی هایی که میخواهیم به گروه ویژگی اضافه میکنیم
    						  <br/>
    						  1- ابتدا باید یک نام لاتین برای ویژگی مورد نظر خود در نظر بگیرید.
    						  <br/>
    						  2-سپس یک نام به فارسی و انگلیسی برای آن درنظر میگیرید
    						  <br/>
    						  3- در ادامه باید نوع ویژگی را مشخص کنید.
    						  (نوع ویژگی میتواند یک فیلد متنی ساده از نوع text باشد، یا یا یک فیلد متنی طولانی از نوع textarea، یا به صورت radio button که دارای چند گزینه است و از بین گزینه ها میتوان تنها یک مورد را انتخاب کرد، یا میتواند از نوع select box باشد که میتواند چندین گزینه را ازبین گزینه های موجود در آن انتخاب کرد و یا به صورت فایل تصویری یا عمومی باشد.
    						  <br/>
    						  4- در صورتی که نوع فایل را از نوع radiobutton یا selectbox انتخاب کنید، در زیر آن میتوانید گزینه های مربوطه رانیز اضافه کنید، با زدن دکمه پلاس میتوانید ، گزینه های بیشتری را بدان اضافه کنید
    						  <br/>
    						  5- بخش ویژگی ها مشخص میکند که این ویژگی به کدام گروه های ویژگی تعلق دارد، این امکان وجود دارد که مثلا یک ویژگی به چندین گروه تعلق داشته باشد
    						  <br/>
    						  6-می توانید ترتیبی برای نمایش ویژگی ها در نظر بگیرید، برای این کار کافیست براساس شماره دهی 0 تا n الویت نمایش این ویژگی را نسبت به سایر ویژگی ها مشخص کنید
    						  <br/>
    						  7-در آخر میتوانید مشخص کنید که فیلد یا ویژگی مدنظر باید ضروری باشد یا خیر(یعنی کاربر مجبور به پرکردن این فیلد باشد) و اینکه وضعیت آن فعال یا غیرفعال باشد(نمایش داده شود یا خیر)
    						</p>  
    			     </div>
			         <div class="col-lg-7">
			                <input type="hidden" name="url" value="<?php echo (isset($_SERVER['HTTP_REFERER'])?$_SERVER['HTTP_REFERER']:'');?>"/>
            				<div class="form-group ">
            					<label class="control-label"><?php echo $this->formLabel($shopAttributesForm->get('developer_name')); ?></label>
            			    	<?php echo $this->formElement($shopAttributesForm->get('developer_name'));
                        	       echo $this->formElementErrors($shopAttributesForm->get("developer_name"));
                        	       echo $this->formElementErrors($shopAttributesForm->get("developer_name")); ?>
            				</div>				
            				<div class="form-group">
            					<label class="control-label"><?php echo $this->formLabel($shopAttributesForm->get('title')); ?></label>
            			    	<?php echo $this->formElement($shopAttributesForm->get('title'));
                        	       echo $this->formElementErrors($shopAttributesForm->get("title"));
                        	       echo $this->formElementErrors($shopAttributesForm->get("title")); ?>
            				</div>	
            				<div class="form-group">
            					<label class="control-label"><?php echo $this->formLabel($shopAttributesForm->get('title_en')); ?></label>
            			    	<?php echo $this->formElement($shopAttributesForm->get('title_en'));
                        	       echo $this->formElementErrors($shopAttributesForm->get("title_en"));
                        	       echo $this->formElementErrors($shopAttributesForm->get("title_en")); ?>
            				</div>	
            				<div class="form-group">
            					<label class="control-label"><?php echo $this->formLabel($shopAttributesForm->get('type')); ?></label>
            			    	<?php echo $this->formElement($shopAttributesForm->get('type'));
                        	       echo $this->formElementErrors($shopAttributesForm->get("type"));
                        	       echo $this->formElementErrors($shopAttributesForm->get("type")); ?>
            				</div>	
            				<div style="display:none;" id="show_hidden_form">
            				
            				<?php 
            				if ($this->productAttributeOptions) {
            				    foreach ($this->productAttributeOptions as $attributeOption) {
            				?>
            				<div class="option_section">
            				        <input type="text" name="value[]" value="<?php echo $attributeOption["value"];?>" placeholder="value"/>
            				        <span style="cursor:pointer;" class="glyphicon glyphicon-remove remove-btn"></span>
            				</div>
            				<?php 
            				    }
            			    }?>
                				<div class="hidden_form">
                				</div>
                				<span class="btn btn-success" id="add_input"><i  class="fa fa-plus" ></i></span>
                				
            				</div>
            				<div class="form-group">
            					<label class="control-label"><?php echo $this->formLabel($shopAttributesForm->get('attribute_groups')); ?></label>
            			    	<?php echo $this->formElement($shopAttributesForm->get('attribute_groups'));
                        	       echo $this->formElementErrors($shopAttributesForm->get("attribute_groups"));
                        	       echo $this->formElementErrors($shopAttributesForm->get("attribute_groups")); ?>
            				</div>	
            				<div class="form-group ">
            					<label class="control-label"><?php echo $this->formLabel($shopAttributesForm->get('order')); ?></label>
            			    	<?php echo $this->formElement($shopAttributesForm->get('order'));
                        	       echo $this->formElementErrors($shopAttributesForm->get("order"));
                        	       echo $this->formElementErrors($shopAttributesForm->get("order")); ?>
            				</div>				
            				<div class="form-group">
            					<label class="control-label"><?php echo $this->formLabel($shopAttributesForm->get('is_forced')); ?></label>
            			    	<?php echo $this->formElement($shopAttributesForm->get('is_forced'));
                        	       echo $this->formElementErrors($shopAttributesForm->get("is_forced")); 
                        	       echo $this->formElementErrors($shopAttributesForm->get("is_forced"));?>
            				</div>
            				<div class="form-group" id="tour9">
								<label class="control-label"><?php echo $this->formLabel($shopAttributesForm->get('kind')); ?></label>
						    	<?php echo $this->formElement($shopAttributesForm->get('kind'));
			            	       echo $this->formElementErrors($shopAttributesForm->get("kind")); ?>
							</div>		
            				<div class="form-group">
            					<label class="control-label"><?php echo $this->formLabel($shopAttributesForm->get('status')); ?></label>
            			    	<?php echo $this->formElement($shopAttributesForm->get('status'));
                        	       echo $this->formElementErrors($shopAttributesForm->get("status")); 
                        	       echo $this->formElementErrors($shopAttributesForm->get("status"));?>
            				</div>	
            				<div class="form-group pull-left">
                				<?php 
                					echo $this->formElement($shopAttributesForm->get('csrf'));
                					echo $this->formElementErrors($shopAttributesForm->get("csrf"));
                					echo $this->formElement($shopAttributesForm->get('submit'));
                				?>
                                <a href="<?php echo $_SERVER['HTTP_REFERER'];?>" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                            </div>
			         </div>
			     </div>
			     <?php echo $this->form()->closeTag(); ?>
		</div>
    </div>
</section>
<!-- script --> 	
<script>
	$(document).ready(function(){
		$('a.back').click(function(){
		    parent.history.back();
		    return false;
		});
	});
</script>

<script>

  $(document).ready(function(){
	  $('#shop-attribute-type').on('change', function() {
		  var input_type = this.value ; 
		  if( input_type == 'radio-button' || input_type == 'select'){
			  $('#show_hidden_form').css("display","");
			  $('.hidden_form').empty();
			  $('.hidden_form').append('<input type="text" name="value[]" value="" placeholder="label (user seen)" />');
			  } 
		});


	   $("#shopAttributesForm").validationEngine(); 
	   $('#submit').click(function(e){ 
	      // e.preventDefault();
	       if($("#shopAttributesForm").validationEngine('validate')) 
	       {
	      	   $("#shopAttributesForm").submit();
	       }
	   });
	   
    	$('#add_input').click(function() {
    			  $('.hidden_form').append('<input type="text" name="value[]" value="" placeholder="label (user seen)" />');
    		});
    	$('.remove-btn').click(function() {
    		  $(this).parent().remove();
    	});
    	// var $ = jQuery;
    	$('#shop-attributes-group-id').select2({
    	    dir: "rtl",
    	    tags: true
    	  }); 
	  $('#shop-attribute-type').change();

  });
</script>