<?php
$this->headScript()->appendFile($this->basePath('/tinymce/tinymce.min.js'));
$designerSampleForm = $this->designerSampleForm;
$designerSampleForm->prepare();
?>
<section class="content-header">
    <h1>
        <?php echo __('Edit product category'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit product category'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit product category");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
			<?php 
			     echo $this->form()->openTag($designerSampleForm);
				if ($this->error) {
					echo '<br><div class="alert alert-danger" role="alert">' . $this->error . '</div>';
				}
			?>
                <div class="row">
                    <div class="col-lg-12">
		                <div class="form-group">
        					<label class="control-label"><?php echo $this->formLabel($designerSampleForm->get('title')); ?></label>
        			    	<?php echo $this->formElement($designerSampleForm->get('title'));
        			    	echo $this->formElementErrors($designerSampleForm->get("title")); ?>
        				</div>	
		               <div class="form-group">
        					<label class="control-label"><?php echo $this->formLabel($designerSampleForm->get('price')); ?></label>
        			    	<?php echo $this->formElement($designerSampleForm->get('price')); 
        			    	echo $this->formElementErrors($designerSampleForm->get("price"));?>
        				</div>
        				<div class="form-group">
        					<label class="control-label"><?php echo $this->formLabel($designerSampleForm->get('admin_percent')); ?></label>
        			    	<?php echo $this->formElement($designerSampleForm->get('admin_percent')); 
        			    	echo $this->formElementErrors($designerSampleForm->get("admin_percent"));?>
        				</div>
        				
        				  <div class="box1">
                    	     <div class="form-group">
                        		<?php if ($this->getSample['file']) {?>
                            	<div class="clearfix">
                                    <div class=" sl-margin-bottom" id="image-holder1">
                            	        <a href="/uploads/designer/samples/<?php echo $this->getSample['file'];?>" /> دانلود فایل</a>
                            	         <!-- <span style="cursor:pointer;" class="glyphicon glyphicon-remove" id="remove-icon-file" cat-id="<?php //echo $this->cagegory["id"];?>"></span> -->
                                    </div>
                                </div>
                                <?php }?>
                            	<div class="file-upload-cnt">
                                	<div class="fileUpload btn bg-maroon margin fa fa-image">
                                		<span><?php echo $this->formLabel($designerSampleForm->get('file')); ?></span>
                                    	<?php echo $this->formElement($designerSampleForm->get('file'));
                                    	echo $this->formElementErrors($designerSampleForm->get('file')); ?>
                                	</div>
                            	</div>
                    	   </div>  
        				</div>
        				<div class="form-group">
        					<label class="control-label"><?php echo $this->formLabel($designerSampleForm->get('confirm')); ?></label>
        			    	<?php echo $this->formElement($designerSampleForm->get('confirm')); 
        			    	echo $this->formElementErrors($designerSampleForm->get("confirm"));?>
        				</div>
        				<div class="form-group pull-left">
            				<?php 
                				echo $this->formElement($designerSampleForm->get('csrf'));
                				echo $this->formElementErrors($designerSampleForm->get("csrf"));
                				echo $this->formElement($designerSampleForm->get('submit'));
            				?>
            				<a href="/<?php echo $this->layout()->lang;?>/admin-shop" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
        				</div>
		          </div>
		     </div>
		     <?php echo $this->form()->closeTag(); ?>
        </div>
    </div>
</section>

<script type="text/javascript">
    tinymce.init({
    	directionality : 'rtl',
    	height: 200,
        plugins: [
                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                  "searchreplace visualblocks visualchars code fullscreen",
                  "insertdatetime media nonbreaking save table contextmenu directionality",
                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
              ],
        selector: "#shop-category-description",
      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons",
      	relative_urls: false,
      	targetPath: 'pages',
    });
    
 	  
</script>
<!-- script -->
<script>
$("#fileUpload1").on('change', function () {
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $("#image-holder1");
    image_holder.empty();
    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
            for (var i = 0; i < countFiles; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                            "class": "thumb-image"
                    }).appendTo(image_holder);
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
            }
        } else {
            alert("<?php echo __("This browser does not support FileReader");?>.");
        }
    } else {
        alert("<?php echo __("Please choose only images");?>");
    }
});

$('document').ready(function(){

	$('#remove-icon-file').click(function(){
		var catId = $(this).attr('cat-id');
		$.ajax({
			url: '/admin-shop/delete-category-icon',
			type: 'POST',
			data:{ 
				catId: catId,
			},
			success: function(result) {
				if (result == "1") {
					$("#file-container").remove();
				} 
			}
		});

		});
	
	 $("#shopCategoriesForm").validationEngine(); 
     $('#submit').click(function(e){ 
        // e.preventDefault();
         if($("#shopCategoriesForm").validationEngine('validate')) 
         {
        	   $("#shopCategoriesForm").submit();
         }
     });
     
	$('#shop-category-attribute-group-id').select2({
	    dir: "rtl",
	    tags: true
	  }); 
	$(".showHide").hide();
    $("#shop-category-parent-id").change(function(){
    	if ($(this).val() == 0) {
    		$(".showHide").slideUp(1000);
    	} else {
    		$(".showHide").slideDown(1000);
    	}
    
    });
    $("#shop-category-parent-id").change();
});
</script>