<?php
$this->headScript()->appendFile($this->basePath('/tinymce/tinymce.min.js'));
	$shopCategoriesForm = $this->shopCategoriesForm;
	$shopCategoriesForm->prepare();
?>
<section class="content-header">
    <h1>
        <?php echo __('Edit product category'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit product category'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit product category");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
			<?php 
			     echo $this->form()->openTag($shopCategoriesForm);
				if ($this->error) {
					echo '<br><div class="alert alert-danger" role="alert">' . $this->error . '</div>';
				}
			?>
                <div class="row">
                    <div class="col-lg-5">
                         <!--  help -->
                         <fieldset class="help-form">
                            <legend style="width:75%">
                              راهنمای ایجاد یا ویرایش گروه محصولات
        					</legend>
    						<p>
    						شما می توانید محصولات خود را در این بخش دسته بندی نمائید، به این صورت که گروه های محصولات را اینجا ایجاد کنید و در مرحله ایجاد محصول ، هر محصول را به یک گروه اختصاص دهید
    						  <br/>
    						  1- ابتدا زبانی که قرار است گروه محصولات و محصولات درآ ن به نمایش در بیاید را مشخص میکنیم
    						  <br/>
    						  2-منظور از گروه والد این است که شما میخواهید گروهی که ایجاد میکنید گروه اصلی باشد یا زیر گروه یکی از گروه های دیگر، در اینجا باید در صورتی که زیر مجموعه گروه دیگری است ،نام آن را انتخاب کنید
    						  <br/>
    						  3-نوع ویژگی برای زمانی است که محصولاتتون شامل دو نوع مجازی و واقعی هستند، در حالت پیش فرض این گزینه را روی real قرار دهید
    						  <br/>
    						  4-گروه ویژگی ، همان ویژگی های اختصاصی هستند که در بخش مدیریت ویژگی ها به محصول اعمال کردیم، در صورتی که محصول شما ، ویژگی خاصی ندارد ، میتوانید به همان ویژگی های اصلی بسنده کنید،در غیر اینصورت ویژگی های دیگر را نیز با کلیک بر روی آن به این بخش اضافه کنید
    						  <br/>
    						  5- در بخش نام گروه، باید نام یا عنوانی را به گروه خود اختصاص دهید
    						  <br/>
    						  6-در صورتی که گروه شما دارای توضیحات خاصی است،آن را در بخش توضیحات وارد میکنید
    						  <br/>
    						  7-آیکن، برای اختصاص دادن یک آیکن یا تصویر به گروه مورد نظر است،گاهی در سایت نیاز است که گروه را با یک تصویر نمایش دهید
    						  <br/>
    						 8-فیلد وضعیت ، فعال یا غیرفعال بودن یک گروه را مشخص میکند، از این لحاظ که آیا این گروه را در دسترس کاربران قرار دهید یا خیر
    						</p>
                    </div>
                    <div class="col-lg-7">
		                <div class="form-group">
            					<label class="control-label"><?php echo $this->formLabel($shopCategoriesForm->get('cat_lang')); ?></label>
            			    	<?php echo $this->formElement($shopCategoriesForm->get('cat_lang'));
            					echo $this->formElementErrors($shopCategoriesForm->get("cat_lang")); ?>
        				</div>	
		               <div class="form-group">
        					<label class="control-label"><?php echo $this->formLabel($shopCategoriesForm->get('parent_id')); ?></label>
        			    	<?php echo $this->formElement($shopCategoriesForm->get('parent_id'));
        			    	echo $this->formElementErrors($shopCategoriesForm->get("parent_id")); ?>
        				</div>	
        				<div class="form-group showHide">
        					<label class="control-label"><?php echo $this->formLabel($shopCategoriesForm->get('type')); ?></label>
        			    	<?php echo $this->formElement($shopCategoriesForm->get('type'));
        			    	echo $this->formElementErrors($shopCategoriesForm->get("type")); ?>
        				</div>		
        				<div class="form-group showHide">
        					<label class="control-label"><?php echo $this->formLabel($shopCategoriesForm->get('attribute_groups')); ?></label>
        			    	<?php echo $this->formElement($shopCategoriesForm->get('attribute_groups'));
        			    	echo $this->formElementErrors($shopCategoriesForm->get("attribute_groups")); ?>
        				</div>	
        				<div class="form-group">
        					<label class="control-label"><?php echo $this->formLabel($shopCategoriesForm->get('name')); ?></label>
        			    	<?php echo $this->formElement($shopCategoriesForm->get('name'));
        			    	echo $this->formElementErrors($shopCategoriesForm->get("name")); ?>
        				</div>	
        				<div class="form-group">
        					<label class="control-label"><?php echo $this->formLabel($shopCategoriesForm->get('description')); ?></label>
        			    	<?php echo $this->formElement($shopCategoriesForm->get('description'));
        			    	echo $this->formElementErrors($shopCategoriesForm->get("description")); ?>
        				</div>	
        				  <div class="box1">
                    	     <div class="form-group">
                        		<?php if ($this->cagegory['icon']) {?>
                            	<div class="clearfix">
                                    <div class="box1-img-holder sl-margin-bottom" id="image-holder1">
                            	        <img src="/uploads/shop/category/<?php echo $this->cagegory['icon'];?>" />
                            	         <!-- <span style="cursor:pointer;" class="glyphicon glyphicon-remove" id="remove-icon-file" cat-id="<?php //echo $this->cagegory["id"];?>"></span> -->
                                    </div>
                                </div>
                                <?php }?>
                            	<div class="file-upload-cnt">
                                	<div class="fileUpload btn bg-maroon margin fa fa-image">
                                		<span><?php echo $this->formLabel($shopCategoriesForm->get('icon')); ?></span>
                                    	<?php echo $this->formElement($shopCategoriesForm->get('icon'));
                                    	echo $this->formElementErrors($shopCategoriesForm->get('icon')); ?>
                                	</div>
                            	</div>
                    	   </div>  
        				</div>
        				
        				<div class="form-group">
        					<label class="control-label"><?php echo $this->formLabel($shopCategoriesForm->get('status')); ?></label>
        			    	<?php echo $this->formElement($shopCategoriesForm->get('status')); 
        			    	echo $this->formElementErrors($shopCategoriesForm->get("status"));?>
        				</div>	
        				<div class="form-group pull-left">
            				<?php 
            					echo $this->formElement($shopCategoriesForm->get('csrf'));
            					echo $this->formElementErrors($shopCategoriesForm->get("csrf"));
            					echo $this->formElement($shopCategoriesForm->get('submit'));
            				?>
            				<a href="/<?php echo $this->layout()->lang;?>/admin-shop" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
            				<script>
            					$(document).ready(function(){
            						$('a.back').click(function(){
            						    parent.history.back();
            						    return false;
            						});
            					});
            				</script>
        				</div>
		          </div>
		     </div>
		     <?php echo $this->form()->closeTag(); ?>
        </div>
    </div>
</section>

<script type="text/javascript">
    tinymce.init({
    	directionality : 'rtl',
    	height: 200,
        plugins: [
                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                  "searchreplace visualblocks visualchars code fullscreen",
                  "insertdatetime media nonbreaking save table contextmenu directionality",
                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
              ],
        selector: "#shop-category-description",
      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons",
      	relative_urls: false,
      	targetPath: 'pages',
    });
    
 	  
</script>
<!-- script -->
<script>
$("#fileUpload1").on('change', function () {
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $("#image-holder1");
    image_holder.empty();
    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
            for (var i = 0; i < countFiles; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                            "class": "thumb-image"
                    }).appendTo(image_holder);
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
            }
        } else {
            alert("<?php echo __("This browser does not support FileReader");?>.");
        }
    } else {
        alert("<?php echo __("Please choose only images");?>");
    }
});

$('document').ready(function(){

	$('#remove-icon-file').click(function(){
		var catId = $(this).attr('cat-id');
		$.ajax({
			url: '/admin-shop/delete-category-icon',
			type: 'POST',
			data:{ 
				catId: catId,
			},
			success: function(result) {
				if (result == "1") {
					$("#file-container").remove();
				} 
			}
		});

		});
	
	 $("#shopCategoriesForm").validationEngine(); 
     $('#submit').click(function(e){ 
        // e.preventDefault();
         if($("#shopCategoriesForm").validationEngine('validate')) 
         {
        	   $("#shopCategoriesForm").submit();
         }
     });
     
	$('#shop-category-attribute-group-id').select2({
	    dir: "rtl",
	    tags: true
	  }); 
	$(".showHide").hide();
    $("#shop-category-parent-id").change(function(){
    	if ($(this).val() == 0) {
    		$(".showHide").slideUp(1000);
    	} else {
    		$(".showHide").slideDown(1000);
    	}
    
    });
    $("#shop-category-parent-id").change();
});
</script>