
<style>
.radioSection label{
	margin-right:50px;
}
</style>
<section class="content-header">
    <h1>
        <?php echo __('Edit order'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit order'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit order");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
                <?php
                	$shopOrderStatusesForm = $this->shopOrderStatusesForm;
                	$shopOrderStatusesForm->prepare();
                	echo $this->form()->openTag($shopOrderStatusesForm);
                ?>
                <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                        	<label class="control-label"><?php echo $this->formLabel($shopOrderStatusesForm->get('payment_status')); ?></label>
                        	<?php echo $this->formElement($shopOrderStatusesForm->get('payment_status'));
                        	echo $this->formElementErrors($shopOrderStatusesForm->get("payment_status")); ?>
                        </div>
                        <div class="form-group">
                        	<label class="control-label"><?php echo $this->formLabel($shopOrderStatusesForm->get('order_status')); ?></label>
                        	<?php echo $this->formElement($shopOrderStatusesForm->get('order_status'));
                        	echo $this->formElementErrors($shopOrderStatusesForm->get("order_status")); ?>
                        </div>
                         <div class="form-group showHide">
                        	<label class="control-label"><?php echo $this->formLabel($shopOrderStatusesForm->get('ref_code')); ?></label>
                        	<?php echo $this->formElement($shopOrderStatusesForm->get('ref_code'));
                        	echo $this->formElementErrors($shopOrderStatusesForm->get("ref_code")); ?>
                        </div>
                        <div class="form-group">
                            <?php 
                            	echo $this->formHidden($shopOrderStatusesForm->get('csrf'));
                            	echo $this->formElementErrors($shopOrderStatusesForm->get("csrf"));
                            	echo $this->formElement($shopOrderStatusesForm->get('submit'));
                            ?>
                            <a href="/<?php echo $this->layout()->lang;?>/admin-shop/list-orders" class="btn btn-warning"><?php echo __("Cancle")?></a>
                        </div>
                </div>
                <div class="col-lg-6">
                
                </div>
            </div>
              <?php echo $this->form()->closeTag(); ?>  
                
</div>
</div>
</section>

<script>
$(document).ready(function() {
	$(".showHide").hide();
	  $('#order_status').change(function() {
		  if (this.value == 1) {
			  $(".showHide").slideDown(1000);
		  } else {
			  $(".showHide").slideUp(1000);
		  }
	  });
	  $('#order_status').change();
});

</script>
