<?php
	echo $this->headTitle('مدیریت شاپ');
?>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="<?php echo $this->url('home'); ?>">صفحه اصلی</a></li>
                <li><a href="<?php echo $this->url('admin_home'); ?>">پنل مدیریتی</a></li>
                <li class="active"> شاپ</li>
            </ol>
        </div>
    </div>
    <div class="row bodyText">
     	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h4>مدیریت شاپ</h4>
			<a class="btn btn-success" href = "<?php echo $this->url('admin_shop', array(
					'action' => 'categories'
			)); ?>">مدیریت گروه های محصول</a>
			<a class="btn btn-success" href = "<?php echo $this->url('admin_shop', array(
					'action' => 'products'
			)); ?>">مدیریت محصولات</a>
			<a class="btn btn-success" href = "<?php echo $this->url('admin_shop', array(
					'action' => 'attribute-groups'
			)); ?>">مدیریت گروه ویژگی ها</a>
			<a class="btn btn-success" href = "<?php echo $this->url('admin_shop', array(
					'action' => 'attributes'
			)); ?>">مدیریت اتریبیوت ها</a>

		</div>
	</div>
</div>
