<style>
.box-header {
    background-color:transparent;
    margin: 0px !important;
	color:#000;
}
</style>
<?php 
//     $this->headLink()->appendStylesheet('/css/select2.min.css');
//     $this->headScript()->appendFile('/js/select2.min.js');
    echo $this->headScript()->appendFile('/js/js-persian-cal-mbr.js');
    echo $this->headlink()->prependStylesheet($this->basePath('/css/js-persian-cal.css'));
?>
<section class="content-header">
    <h1>
        <?php echo __('Search orders')?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Search orders')?></li>
        </ol>
</section>
<!-- Main content -->
<section class="content">
<div class="col-lg-4">
   <div class="box box-warning collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">
                <?php echo __('Search');?>
            </h3>
            <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        </div>
        <div class="box-body">
            
                 <?php 
                 $form = $this->shopReportForm;
                 $form->setAttributes(array('action' =>'','method' =>'POST'));
                 $form->prepare();
                 echo $this->form()->openTag($form);
                 ?> 
                    	<div>
                            <div class="form-group">
                                   <label class="control-label">     
                                   <?php echo $this->formLabel($form->get('order_status')); ?>
                                   </label>
                                   <?php echo $this->formelement($form->get('order_status'))?>
                            </div>  
                             <div class="form-group">
                                   <label class="control-label">  
                                   <?php echo $this->formLabel($form->get('from_date')); ?>
                                   </label>
                                   <?php echo $this->formelement($form->get('from_date'))?>
                            </div>
                             <div class="form-group">
                                   <label class="control-label">   
                                   <?php echo $this->formLabel($form->get('to_date')); ?>
                                   </label>
                                   <?php echo $this->formelement($form->get('to_date'))?>
                              </div>
                              <div class="form-group">
                                   <?php echo $this->formSubmit($form->get('submit'));?>
                              </div>
                           <div style="clear:both;" ></div>
                        </div> 
                  <?php  
                  echo $this->form()->closeTag();
                  ?>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="row-fluid pull-left" style="margin:20px;">
        <span class="pagecounter"> 
            <select name="count" class="pagecount">
                <option value="10" <?php echo ($this->count == '10'?"selected":"");?>>10</option>
                <option value="50" <?php echo ($this->count == '50'?"selected":"");?>>50</option>
                <option value="100" <?php echo ($this->count == '100'?"selected":"");?>>100</option>
                <option value="500" <?php echo ($this->count == '500'?"selected":"");?>>500</option>
            </select> 
        </span>
        <?php if($this->canClearCache){ ?>
        <a class="btn btn-warning" href="/<?php echo $this->layout()->lang;?>/admin-shop/instructor-sells-report/clear/true">
            <i class="icon-trash"></i>
            <?php echo __("Clear search");?>
        </a>
        <?php } ?>
    </div>
</h4>

<?php

  	if ($this->sellsReport->getTotalItemCount() > 0) {
?>
<div class="row-fluid" style="margin:20px;">
    <a class="excel" href = "/admin-shop/sells-report/export/true" ><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a>
    <table class="table table-bordered table-hover dataTable table table-striped table-bordered">
        <thead>
              <tr class="thead-border">
                <td><strong><?php echo __("Product name")?></strong></td>
                <td><strong><?php echo __("Instructor")?></strong></td>
                <td><strong><?php echo __("Price")?></strong></td>
                <td><strong><?php echo __("Quantity")?></strong></td> 
                <td><strong><?php echo __("Total price")?></strong></td>  
                <td><strong><?php echo __("Total tax")?></strong></td>  
                <td><strong><?php echo __("Tax rate")?></strong></td>   
                <td><strong><?php echo __("Total discount")?></strong></td>  
                <td><strong><?php echo __("Discount rate")?></strong></td>  
                <td><strong><?php echo __("Sum")?></strong></td>
                <td><strong><?php echo __("Order status")?></strong></td>  
                <td><strong><?php echo __("Payment status")?></strong></td>   
                <td><strong><?php echo __("Order time")?></strong></td>  
              </tr>
         </thead>
                <?php foreach ($this->sellsReport as $counter => $sell) {
                    ?>
                    				
                <tr>
                    <td>
                    <?php echo $sell["name"];?>
                    </td>
                    <td>
                    <?php echo $sell["username"];?>
                    </td>
                    <td>
                    <?php echo $sell["price"];?>
                    </td>
                    <td>
                    <?php echo $sell["quantity"];?>
                    </td>
                    <td>
                    <?php echo $sell["total_price"];?>
                    </td>
                    <td>
                    <?php echo $sell["total_tax"];?>
                    </td>
                    <td>
                    <?php echo $sell["tax_rate"];?>
                    </td>
                    <td>
                    <?php echo $sell["total_discount"];?>
                    </td>
                    <td>
                    <?php echo $sell["discount_rate"];?>
                    </td>
                    <td>
                    <?php echo $sell["sum"];?>
                    </td>
                    <td>
                    <?php echo ($sell["order_status"]==0?__("Waiting"):($sell["payment_status"]==1?__("Sent"):__("Cancel")));?>
                    </td>
                    <td>
                    <?php echo ($sell["payment_status"]==0?__("Unpaid"):__("Paid"));?>
                    </td>
                     <td>
                    <?php echo $this->date()->persianDate(strtotime($sell["added_date_time"]));?>
                    </td>
                </tr>
      <?php 
      		}
      ?>   
      </table>
  </div>
  <div class="row-fluid" style="margin:20px;">
    <div class="col-lg-7"></div>
    <div class="col-lg-5">
          <table class="table table-bordered table-hover dataTable table table-striped table-bordered pull-left">
          <tr class="thead-border">
              <td>
                <?php echo __("Instructor username");?>
              </td>
              <td>
                <?php echo __("Sells sum");?>
              </td>
              <td>
              <?php echo __("Instructor benefit");?>
              </td>
          </tr>
          <?php 
          foreach ($this->sellsReportSum as $reportSum) {
          ?>
          <tr>
              <td>
                <?php echo $reportSum["username"];?>
              </td>
              <td>
                <?php echo number_format($reportSum["SumTotal"]);?>
              </td>
              <td>
              <?php echo number_format($reportSum["SumDiscount"]);?>
              </td>
          </tr>
          <?php }?>
        </table>
    </div>
    <?php 
      	} else {
      		echo '<br><br><div class="alert alert-warning" role="alert">' . __("There is no sells") . '</div><br>';
      	}
    	echo $this->paginationControl($this->sellsReport, 'Sliding', 'layout/paginator', array(
    	        'route' => 'admin-shop',
        	    'params'=> array("action" => 'instructor-sells-report', "count" => $this->pageCount),
    	));
    ?>
  </div>
</div>

</section>
<script>
	$(document).ready(function() {

		 $('#to_date').persiancalendar({defaultFormat:"yyyy/mm/dd"});
		    $('#from_date').persiancalendar({defaultFormat:"yyyy/mm/dd"});
		    
		$('#instructor_id').select2({
			  dir: "rtl"
		  });
		$('.pagecount').change(function(){
		    var count = $(this).val();
		    var pageno = <?php echo ($this->pageNo?$this->pageNo:0);?>;
		    window.location.href= "/admin-shop/sells-report"+(pageno?"/page/"+pageno:"")+"/count/"+count;
		});
	 });
</script>

