<?php
	echo $this->headTitle('لیست محصولات');
?>
<div class="container">
    <div class="row bodyText">
     	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     		<?php if ($this->products) { ?>
			<h4>لیست محصولات</h4>
			<a class="btn btn-success btn-xs" href="<?php echo $this->url('admin-shop', array(
					'action' => 'add-product'
			));?>">افزودن محصول جدید</a>
			<table class="table table-hover">
				<tr>
				    <td><strong>#</strong></td>
				    <td><strong>نام</strong></td>
				    <td><strong>تکمیل اطلاعات</strong></td>
				    <td><strong>ویرایش</strong></td>
				    <td><strong>حذف</strong></td>	
				</tr>	
				<?php foreach ($this->products as $counter => $product){ ?>		
					<tr class="<?php echo ($product['status'] == 1 ? _('') : _('danger')); ?>">
					    <td><?php echo ++$counter; ?></td>
					    <td><?php echo $product['name']; ?></td>
					    <?php if (isset($product['product_id'])) { ?>
						    <td><a class="btn btn-success btn-xs" href="<?php echo $this->url('admin-shop', array(
						    		'action' => 'complete-product-info',
						    		'id'     => $product['category_id']
						    )) . '?productId=' .  $product['id'] . '&edit=toEdit';?>">ویرایش اطلاعات</a></td>
					    <?php } else { ?>
						    <td><a class="btn btn-success btn-xs" href="<?php echo $this->url('admin-shop', array(
						    		'action' => 'complete-product-info',
						    		'id'     => $product['category_id']
						    )) . '?productId=' .  $product['id'];?>">تکمیل اطلاعات</a></td>
					    <?php } ?>
					    <td><a class="btn btn-info btn-xs" href="<?php echo $this->url('admin-shop', array(
					    		'action' => 'edit-product',
					    		'id'     => $product['id']
					    ));?>">ویرایش</a></td>
					    <td><a class="btn btn-danger btn-xs delete-btn" href="<?php echo $this->url('admin-shop', array(
					    		'action' => 'delete-product',
					    		'id'     => $product['id'],
					    		'token'  => $this->csrf
					    ));?>">حذف</a></td>
					</tr>	
				<?php } ?>
			</table>
 			<?php } else { ?>
			 			<a class="btn btn-success btn-xs" href="<?php echo $this->url('admin-shop', array(
								'action' => 'add-product'
						));?>">افزودن محصول جدید</a>
 						<div class="alert alert-info">هنوز هیچ محصولی به ثبت نرسیده است.</div>
 			<?php } ?>
			<!-- Modal HTML -->
			    <div id="modal" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h4 class="modal-title">&nbsp;</h4>
			                </div>
			                <div class="modal-body">
			                    <h5>آیا مطمئن هستید که قصد حذف این محصول را دارید؟</h5>
			                    <p>توجه داشته باشید که در صورت حذف محصول، امکان بازگرداندن آن وجود نخواهد داشت.</p>
			                </div>
			                <div class="modal-footer">
			<!--                     <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">انصراف</button> -->
			                    <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#">آری، قصد حذف محصول را دارم</a>
			                </div>
			            </div>
			        </div>
			    </div>
			<script type="text/javascript">
			    $('.delete-btn').click(function(e) {
			        e.preventDefault();
			        $('#modal').modal();
			        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
			    });
			</script> 
			<?php 
				echo $this->inlineScript()->prependFile($this->basePath('js/bootstrap.min.js'));
			?>
		</div>
	</div>
</div>
