<!-- css & js popup-->
<?php 
    echo $this->headLink()->appendStylesheet('/css/popup-style.css');
    echo $this->headLink()->appendStylesheet('/css/video-js.css');
    echo $this->inlineScript()->appendFile('/js/jquery.simplePopup.js');
    echo $this->inlineScript()->appendFile('/js/videojs-ie8.min.js');
    echo $this->inlineScript()->appendFile('/js/video.js');
?>
<section class="content-header">
    <h1>
        <?php echo __('Show videos'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Show videos'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Show videos");?></h3>
        </div><!-- /.box-header -->
        
        <div class="box-body">
			<div class="row" >
    			 <ul >
    				 <?php 
                      if ($this->productVideos) {
                        foreach ($this->productVideos as $file) {
                            $video = "/uploads/shop/productVideo/" . $file['product_id'] . "/" . $file['file_name'];
                           
                     ?>
                    <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4">
    			     <div class="sl-item-box">
                         <h6 class="sl-item-title">
                             <a href="#">  <?php echo $file['caption']; ?></a>
                         </h6>
                         <div class="sl-item-img">
                             <a href="<?php echo $video;?>" class="show1">
                                 <img src="/images/video-pic.png" class="img-responsive">
                             </a>
                             <a class="btn btn-secondary show1" style="margin-top:5px;" href="<?php echo $video;?>" >
                               <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                                <?php echo __("view video"); ?>
                              </a>
                         </div>
                         
                     </div>
    			 </div>
        		
                   <?php }} ?>
    			</ul>
		  </div>
    </div>  
</div>
</section>

<div id="pop1" class="simplePopup">
      <div class="video-title"><?php echo __("Cadafzar video"); ?></div>
      <div class="video-logo">
        <img class='cloudzoom-gallery' src="/uploads/video/video-logo.png" />
      </div>
    <!-- video -->
       <video id="my-video" class="video-js" controls preload="auto" width="60%" height="30%"
          poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
            <source src=""  type='video/mp4'>
            <source src=""  type='video/webm'>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
       </video>
</div>

<script type="text/javascript">

$(document).ready(function(){
	var elm;
	$("body").on("click" ,".simplePopupClose",function(){
		elm[0].pause();
		});
    $('.show1').click(function(e){
        e.preventDefault();
        $("#my-video source").attr("src", $(this).attr("href"));
        elm = $("#my-video");
        $("#my-video")[0].load();
        $("#my-video")[0].play();
        $('#pop1').simplePopup();
    });
});

</script>