<?php echo $this->headScript()
   // ->prependFile($this->basePath('/js/list/makisu.js'))
    //portfolio
    ->prependFile($this->basePath('/js/portfolio.js'))
   
?>
<?php
$uls = ' <button class="btn btn-xl btn-primary sorter" data-filter="*">All</button>';
$lis = '';
 if ($this->samples) { 
     $samplesCat = $this->samples;
   foreach ($samplesCat as $categoryId => $samples) {  
       $uls .= '<div class="text-right" style="display:inline">
            <button class="btn btn-xl btn-primary sorter" data-filter="'.$categoryId.'">'.$samples[0]['catergory_title'].'</button></div>';
       foreach ($samples as  $sample) {   
 
           if (is_file($_SERVER['DOCUMENT_ROOT'].'/uploads/samples/'.$sample['website_view_img']) ) { 
                 if ($sample['website_view_img'] != '') {
                         $lis .='<li class="col-md-4 '.$categoryId.'">
        <div class="ih-item square effect13 top_to_bottom">
                                <a href="sample/'.$sample['id'].'">
									<div class="img"><img class="img-responsive" src="/uploads/samples/'.$sample['intro_img'].'" alt="sample image"></div>
									<div class="info">
									  <h3><i class="fa fa-eye" aria-hidden="true"></i></h3>
							              <p>'.$sample['sample_title'].'</p> 
									</div>
							       </a>
								</div> 
								<span class="item-desc">  '.$sample['sample_title'].' </span>
    </li>';
               
               
           
                }
            }
       }
   }
 }
 
 
 ?>
 
<div class="row" style="margin-top: 10px;">
    <div class="col-xs-12">
			 	<?php echo $uls; ?>
     </div>
</div>
<hr/>
<ul id="sort-me">
	  	<?php echo $lis; ?>
</ul>



