<?php
$uls = '<button class="btn btn-default filter-button active" data-filter="all">All</button>';
$lis = '';
 if ($this->samples) { 
     $samplesCat = $this->samples;
   foreach ($samplesCat as $categoryId => $samples) {  
//        var_dump($samples);die;
       //if ( $samples['view_home_page'] == '1'){
       $uls .= '<button class="btn btn-default filter-button" data-filter="'.$categoryId.'">'.$samples[0]['catergory_title'].'</button>';
       foreach ($samples as  $sample) {   
 
          // var_dump($samples['view_home_page']);die;
           if (is_file($_SERVER['DOCUMENT_ROOT'].'/uploads/samples/'.$sample['website_view_img']) ) { 
                 if ($sample['website_view_img'] != '') {
                         $lis .='<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter '.$categoryId.'">
                                    <div class="ih-item square effect13 top_to_bottom">
                                       <a href="sample/'.$sample['id'].'">
    									<div class="img"><img class="img-responsive" src="/uploads/samples/'.$sample['intro_img'].'" alt="sample image"></div>
    									<div class="info">
    									  <h3><i class="fa fa-eye" aria-hidden="true"></i></h3>
    							              <p>'.$sample['sample_title'].'</p> 
    									</div>
    							       </a>
                                    </div>
                                   <div class="item-desc">  '.$sample['sample_title'].' </div>
								</div> 
								';
                }
            }
       }
      // }
   }
 }
 
 
 ?>

  <div class="row">
        <div align="center">
            <?php echo $uls; ?>
        </div>
        <br/>

        <?php echo $lis; ?>
        </div>

        
<script type="text/javascript">
$(document).ready(function(){

    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        
        if(value == "all")
        {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else
        {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
            
        }
    });

});
 </script>


