<?php if ($this->sample) {
  $samples = $this->sample[0];  
    
 ?>
 <section id="back-img">
    <div class="" style="background-image: url('../images/sample.jpg');"></div>
</section>
<!--=== Breadcrumb Starts ===-->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="/internalsample">
    		<?php echo __('Sample'); ?>
    	</a></li>
        <li class="active"><?php echo $samples ['sample_title']; ?></li>
    </ol>
</div>
<!--=== Breadcrumb Ends ===-->
	
<!--=== sample Starts ===-->
<section id="sample" class="download-wrap">
	<div class="container download center">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-rtl">
				<div class="row">
					<section class="prodetail_part1 clearfix">
                        <div class="container">
                        	<div class="inner">
                            	<aside class="part1">
                        			<div class="note taupe">
                        				<?php echo __("project name"); ?> : <?php echo $samples ['sample_title']; ?>
                        			</div>
                        			<div class="item">
                        				<div class="description">
                        				<?php $samples ['description'] ?>
                        				</div>
                        				<div>
                        					<span class="title">
                        						<?php echo __('Project name :'); ?> 
                        					</span>
                        					<span class="text">
                        						<?php echo $samples ['sample_title']; ?>
                        					</span>
                        				</div>
                        				<div>
                        					<span class="title">
                        						<?php echo __('Cooperation :'); ?>
                        					</span>
                        					<span class="text">
                        							<?php 
                        							if ($this->subjects) {
                        							    $subject = $this->subjects;
                        							    echo $subject[$samples['subject']]; 
                        							}
                        							?>
                        					</span>
                        				</div>
                        				<div>
                        					<span class="title">
                        						<?php echo __('Technology used :'); ?>
                        					</span>
                        					<div class="">
                        						 <img src="/uploads/samples/<?php  echo $samples['technology_img']; ?> " alt="" />
                        					</div>
                        				</div>
                        				<div class="internal-margin services-button">
                        					 <div class="flex">
                        					  <a href="<?php echo $samples['sample_link']; ?>" class="bttn"><?php echo __('Website'); ?></a>
                        					</div> 
                        				</div>
                        			</div>
                        			
                        		</aside>
                                
                                <aside class="part2">
                                	<div class="pic_part clearfix">
                                    	<a href="http://wfiltration.com" rel="nofollow" title="wfiltration.com" target="_blank" class="main_pic desktop">
                                            <div>
                                                <img style="margin-top: 0px;" src="/uploads/samples/<?php echo $samples['website_view_img']; ?>" alt="<?php echo $samples ['website_view_img']; ?>" title="<?php echo $samples ['sample_title']; ?>">
                                              </div>
                                        </a>
                                  
                                     
                                        
                                        <div style="display: block;" class="list_pic desktop">
                                            <ul><li data-href="/uploads/samples/<?php echo $samples['website_view_img']; ?>" style="background-image:url(/uploads/samples/<?php echo $samples['website_view_img']; ?>)"></li></ul>
                                        </div> 
                                        
                                                            <div style="display: none;" class="list_pic tablet">
                                            <ul><li data-href="/uploads/samples/<?php echo $samples['tablet_view_img']; ?>" style="background-image:url(/uploads/samples/<?php echo $samples['tablet_view_img']; ?>)"></li></ul>
                                        </div> 
                                                            
                                                            <div style="display: none;" class="list_pic mobile">
                                            <ul><li data-href="/uploads/samples/<?php echo $samples['mobile_view_img']; ?>" style="background-image:url(/uploads/samples/<?php echo $samples['mobile_view_img']; ?>)"></li></ul>
                                        </div> 
                                                            
                                        <div class="response_act">
                                            <ul>
                                                <li class="desktop active" data-type="desktop"></li>
                                                <li class="tablet" data-type="tablet"></li> 
                        						<li class="mobile" data-type="mobile"></li>
                        					</ul>
                                        </div><!--response_act-->
                                    </div><!--pic_part-->
                                </aside><!--part2-->
                            </div><!--inner-->
                        </div><!--container-->
                        </section>
					</div>
				</div>
			</div>
		</div>
	</section>
<?php }?>	
  <script src="/js/login/index.js"></script>
<script>
$(document).ready(function(e) {
	
	/*Project Change pic & pic_position*/
	$(".prodetail_part1 .part2 .pic_part .main_pic").hover(function(){
		
		var target = $(this).find("img");
		var img_height = target.height();
		
		if($(this).hasClass("desktop")){
			img_height = img_height - 240;
		}else if($(this).hasClass("tablet")){
			img_height = img_height - 290;
		}else if($(this).hasClass("mobile")){
			img_height = img_height - 250;
		}
		
		target.css("margin-top","-"+img_height+"px");
	}).mouseleave(function(){
		var target = $(this).find("img");
		var img_height = target.height();
		target.css("margin-top",0);
	});//mouse leave
	

	$(".prodetail_part1 .part2 .pic_part .list_pic ul li").click(function(){
		src = $(this).attr("data-href");
		setTimeout(function(){
			$(".prodetail_part1 .part2 .pic_part .main_pic img").attr("src",src).fadeOut(0).fadeIn(500);
			//image_zoom($("#project_details .project_part1 aside.pic .main_pic"));
		},100);
	});//click

	
	$(".response_act li").click(function(){
		var class1 = $(this).attr('data-type');
		var src = $(".prodetail_part1 .part2 .pic_part .list_pic."+class1).find("li:first-child").attr("data-href");
		$(".response_act li").removeClass('active');
		$(this).addClass('active');
		
		$('.prodetail_part1').find('.main_pic').removeClass().addClass('main_pic').addClass(class1);
		$(".prodetail_part1 .part2 .pic_part .list_pic").fadeOut(0);
		$(".prodetail_part1 .part2 .pic_part .list_pic."+class1).fadeIn(300);
		$(".prodetail_part1 .part2 .pic_part .main_pic img").attr("src",src);
	});//click
	    
});//dom ready
</script> 