<script type="text/javascript">
	    tinymce.init({
	    	directionality : '<?php echo $this->layout()->direction?>',
	    	height: 200,
	        plugins: [
	                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
	                  "searchreplace visualblocks visualchars code fullscreen",
	                  "insertdatetime media nonbreaking save table contextmenu directionality",
	                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
	              ],
	        selector: "textarea",
	      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
	      	relative_urls: false,
	      	targetPath: 'newsletters'
	    });
</script>
<style> 
    i:hover{
    	cursor :pointer
    }
</style>
 <link rel="stylesheet" type="text/css" href="/css/js-persian-cal.css" />
<script type="text/javascript" src="/js/js-persian-cal-mbr.js"></script>
<?php $this->headTitle(__('Add new Coworker'));?>
<?php
$options =''; 
if ($this->education) {
    foreach ($this->education as $key => $data) {
        $options .= '<option value="'.$key.'">'.$data.'</option>';
    }
}
?>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php echo __('Add new Coworker'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new Coworker'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add new Coworker')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
                    <?php 
                    	$coworkersForm = $this->coworkersForm;
                    	$coworkersForm->prepare();
                    	echo $this->form()->openTag($coworkersForm);
                    ?> 
            <div class="row">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">مشخصات اولیه</a></li>
                    <li><a data-toggle="tab" href="#menu2">رزومه شغلی</a></li>
                    <li><a data-toggle="tab" href="#menu3">رزومه تحصیلی</a></li>
                  </ul>
                  <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <!-- first tab-page content -->
                            <div class="col-lg-5">
                                <!--  help -->
                                <fieldset class="help-form" id="tour7">    	
                					<legend style="width:75%;"> راهنمای اطلاعات پایه</legend>
            						<p>
            				         	1- ابتدا زبانی که در آن اطلاعات همکاران قرار است به نمایش در بیاید را مشخص میکنیم
            						    <br/>
            						    2- سپس اطلاعات مربوط به عکس همکار، نام، توضیحات کلی درباره رزومه همکار و در صورتی که لینکی برای شبکه اجتماعی دارد، لینک آن را وارد میکنیم
            						    <br />
            						    3- در بخش وضعیت، وضعیت تمایش یا عدم نمایش این فرد را در سایت، مشخص میکنیم
            						    <br/>
            						    4- اطلاعات مربوط به رزومه شغلی و تحصیلی فرد را میتوانید در تب های بعدی پرنمایید.
            						</p>
                    			</fieldset>	
                             </div>
                             <div class="col-lg-7">
                                 <span class="blog-step">
                                     <i class="fa fa-caret-left" aria-hidden="true"></i>
                                      مرحله اول :
                                      <span>اطلاعات پایه و مشخصات اولیه</span>
                                 </span>
                                <br/><br/><br/><br/>
                                <div class="form-group" id="tour1">
                            		<label class="control-label"><?php echo $this->formLabel($coworkersForm->get('lang')); ?></label>
                                	<?php echo $this->formElement($coworkersForm->get('lang'));
                                	echo $this->formElementErrors($coworkersForm->get("lang")); ?>
                            	</div>
                            	<div class="box1">
                            	   <div class="form-group">
                                	   <div id="image-holder1" class="sl-margin-bottom">
                                	   <label class="control-label"><?php echo $this->formLabel($coworkersForm->get('image')); ?></label>
                                	   </div>
                                	   <div class="fileUpload btn bg-maroon margin fa fa-image" id="tour2">
                                           <span><?php echo __("Select image");?></span>
                                    	   <?php echo $this->formElement($coworkersForm->get('image'));
                                    	   echo $this->formElementErrors($coworkersForm->get("image")); ?>
                                    	</div>
                                	</div>
                                </div>
                               	<div class="form-group" id="tour3">
                            		<label class="control-label"><?php echo $this->formLabel($coworkersForm->get('name')); ?></label>
                                	<?php echo $this->formElement($coworkersForm->get('name'));
                                	echo $this->formElementErrors($coworkersForm->get("name")); ?>
                            	</div>
                            	<div class="form-group" id="tour4">
                            		<label class="control-label"><?php echo $this->formLabel($coworkersForm->get('description')); ?></label>
                                	<?php echo $this->formElement($coworkersForm->get('description')); 
                                	echo $this->formElementErrors($coworkersForm->get("description"));?>
                            	</div> 
                            	<div class="form-group" id="tour5">
                            		<label class="control-label"><?php echo $this->formLabel($coworkersForm->get('link_social_network')); ?></label>
                                	<?php echo $this->formElement($coworkersForm->get('link_social_network'));
                                	echo $this->formElementErrors($coworkersForm->get("link_social_network")); ?>
                            	</div>
                            	<div class="form-group" id="tour6">
                            		<label class="control-label"><?php echo $this->formLabel($coworkersForm->get('status')); ?></label>
                                	<?php echo $this->formElement($coworkersForm->get('status'));
                                	echo $this->formElementErrors($coworkersForm->get("status")); ?>
                            	</div> 
                    	   	</div>
                    	</div>
                         <div id="menu2" class="tab-pane fade">
                           <div class="col-lg-5">
                                <!--  help -->
                                <fieldset class="help-form" id="tour10">    	
                					<legend style="width:75%;"> راهنمای رزومه شغلی</legend>
            						<p>
                						1-فیلد پست، سمت یا فیلد کاری را مشخص میکند
                						<br />
                						2-برای اضافه کردن رزومه شغلی، کافیست به تعداد سوابق کاری در موقعیت های مختلف، دکمه اضافه کردن را بزنید و فیلدهای نام شغل و تاریخ شروع و پایان آن شغل و در صورت نیاز توضیحات مربوط به ان را وارد نمایید
            						</p>
                    			</fieldset>	
                             </div>
                             <div class="col-lg-7">
                                 <span class="blog-step">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                        مرحله دوم :
                                      <span>رزومه شغلی</span>
                                 </span>
                                <br/><br/><br/><br/>
                            	<div class="form-group" id="tour8">
                            		<label class="control-label"><?php echo $this->formLabel($coworkersForm->get('coworker_position')); ?></label>
                                	<?php echo $this->formElement($coworkersForm->get('coworker_position'));
                                	echo $this->formElementErrors($coworkersForm->get("coworker_position")); ?>
                            	</div>
                    	        <div id="addJobResume"> 
                            	    <a class="btn btn-success" id="addJobResumeBtn"> <i class="fa fa-plus " ></i><?php echo  __("Add New Job"); ?></a>
                            	</div>
                            	       
                    	   </div>
                         </div>
                         <div id="menu3" class="tab-pane fade">
                            <div class="row">
                                <div class="col-lg-5">
                                    <!--  help -->
                                    <fieldset class="help-form">
                                        <legend>
                                         راهنمای رزومه تحصیلی
                    					</legend>
            							<p>
                						1-برای وارد کردن رزومه تحصیلی کافیست به ازای مقاطع تحصیلی مختلف، با زدن دکمه اضافه کردن، فیلدهای مربوط به مقطع تحصیلی تاریخ شروع و پایان، محل تحصیل و توضیحات آن را وارد کنید
            							</p>
                			     </fieldset>	
                                </div>
                                <div class="col-lg-7">
                                     <span class="blog-step">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                       مرحله سوم :
                                      <span>رزومه تحصیلی</span>
                                     </span>
                                    <br/><br/><br/><br/> 
                                	<div id="addEducationResume" > 
                                	    <a id="addEducationResumeBtn" class="btn btn-success"> <i class="fa fa-plus" ></i><?php echo  __("Add New Education"); ?></a>
                                   	</div>  
                    	       </div>
                            </div>
                      </div>
                  </div>
            </div>
            <div class="form-group pull-left" id="tour12">
                	<?php 
                		echo $this->formElement($coworkersForm->get('cpworkerscsrf'));
                		echo $this->formElementErrors($coworkersForm->get("cpworkerscsrf"));
                		echo $this->formElement($coworkersForm->get('submit'));
            		?>
                	<?php 
                		echo $this->formElement($coworkersForm->get('cpworkerscsrf'));
                		echo $this->formElementErrors($coworkersForm->get("cpworkerscsrf"));
                		echo $this->formElement($coworkersForm->get('submit2'));
            		?>
            		<a href="/<?php echo $this->layout()->lang;?>/admin-coworkers" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
        	 </div>
        		<?php 
                	echo $this->form()->closeTag();
                ?>
    	</div>
	</div>
</section>
<script type='text/javascript'>  
$(document).ready(function(){
  uploadFileData('#fileUpload1', '#image-holder1');  
  $("#coworkersForm").validationEngine(); 
  $('#submitCoworker').click(function(e){ 
      // e.preventDefault();
       if($("#coworkersForm").validationEngine('validate')) 
       {
      	   $("#coworkersForm").submit();
       }
   });
   var i = 0;
   var j = 0;
  $("#addJobResumeBtn").on('click', function(){
	  i++;
	  var html = '<div class="form-group success job" > <i class="fa fa-minus removeJobResumeBtn" ></i>';
		  html +='<label class="control-label"> <?php echo  __("Job Name"); ?> </label><input class="form-control" name="job['+i+'][name]" value="">';
		  html +='<div class="form-group date-picker"><label class="control-label"><?php echo  __("Job From Date"); ?> </label><input  class="form-control" id="datepick'+i+'" name="job['+i+'][from_date]" value=""></div>';
		  html +='<div class="form-group date-picker"><label class="control-label"><?php echo  __("Job To Date"); ?> </label><input  class="form-control" id="datepickto'+i+'" name="job['+i+'][to_date]" value=""></div>';
		  html +='<label class="control-label"><?php echo  __("Job Description"); ?> </label><textarea   name="job['+i+'][description]" class="form-control"></textarea></div>';
	 	  $("#addJobResume").append(html);
    	  jQuery('#datepick'+i).persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:"<?php //echo $this->date()->today();?>"});  
    	  jQuery('#datepickto'+i).persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:"<?php //echo $this->date()->today();?>"});   
  }); 
  $("#addEducationResumeBtn").on('click', function(){
	  j++;
	  var html = '<div class="form-group education" > <i class="fa fa-minus removeEducationResumeBtn" ></i><label class="control-label"> <?php echo  __("Education Name"); ?> </label><select class="form-control" name="education['+j+'][name]" value=""><?php echo $options;?></select><div class="form-group date-picker"><label class="control-label"> <?php echo  __("Education From Date"); ?> </label><input  id="datepickedu'+j+'" class="form-control" name="education['+j+'][from_date]" value=""></div>';
		  html +='<div class="form-group date-picker"><label class="control-label"> <?php echo  __("Education To Date"); ?> </label><input  class="form-control" id="datepickeduto'+j+'" name="education['+j+'][to_date]" value=""></div>';
		  html +='<label class="control-label"> <?php echo  __("Education Institutions"); ?> </label><input  class="form-control"  name="education['+j+'][institutions]" value="">';
	 	  html +='<label class="control-label"> <?php echo  __("Education Description"); ?> </label><textarea  name="education['+j+'][description]" class="form-control"></textarea></div>';
		  $("#addEducationResume").append(html);
     	  jQuery('#datepickedu'+j).persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:"<?php //echo $this->date()->today();?>"});  
    	  jQuery('#datepickeduto'+j).persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:"<?php //echo $this->date()->today();?>"});   
      }); 

});  
   
$(document).on('click','.removeJobResumeBtn',function() {
   $(this).parent().remove();
});
$(document).on('click','.removeEducationResumeBtn',function() {
   $(this).parent().remove();
});
function uploadFileData(fileUpload, imageholder) {
    $(fileUpload).on('change', function () {
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $(imageholder);
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof (FileReader) != "undefined") {
                for (var i = 0; i < countFiles; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                                "class": "thumb-image"
                        }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[i]);
                }
            } else {
               // alert('<?php //echo ___("This browser does not support FileReader.")?>');
            }
        } else {
           // alert('<?php //echo ___("Please select only images")?>');
        }
    });
}
</script>
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "انتخاب زبان",
    content: "زبانی که اطلاعات پرسنل یا همکار قرار است آنجا نمایش داده شود را مشخص کنید",
  },
  {
    element: "#tour2",
    title: "تصویر",
    content: "تصویر یا عکس پرسنل را اینجا وارد کنید",
  },
  {
    element: "#tour3",
    title: "نام و نام خانوادگی",
    content: "نام و نام خانوادگی همکار را اینجا وارد کنید",
  },
  {
    element: "#tour4",
    title: "توضیحات",
    content: "توضیحات عمومی و کلی مربوط به رزومه فرد را اینجا وارد کنید"
  },
  {
    element: "#tour5",
    title: "لینک شبکه اجتماعی",
    content: "لینک کامل شبکه اجتماعی یا سایت فرد را اینجا وارد کنید"
  },
  {
    element: "#tour6",
    title: "وضعیت",
    content: "تیک این بخش را بزنید در غیر اینصورت اطلاعات این همکار در سایت نشان داده نخواهد شد و غیرفعال باقی می ماند"
  },
  {
    element: "#tour7",
    title: "رزومه شغلی",
    content: "اطلاعات مربوط به رزومه شغلی فرد را میتوانید در این بخش کامل کنید",
    onNext:function(tour){
    	activaTab('menu2');
    },
    onShow:function(tour){
    	activaTab('menu2');
    }
  },
  {
    element: "#tour8",
    title: "پست فعلی",
    content: "سمت یا پست فعلی فرد را اینجا وارد کنید"
  },
  {
    element: "#addJobResume",
    title: "افزودن رزومه شغلی",
    content: "به تعداد سوابق کاری خود، دکمه افزودن را بزنید و اطلاعات مربوط به نام شغل و تاریخ شروع و پایان کار را وارد کنید "
  },
  {
    element: "#tour10",
    title: "رزومه تحصیلی",
    content: "در این بخش میتوانید اطلاعات مربوط به رزومه تحصیلی فرد را وارد کنید",
    onNext:function(tour){
    	activaTab('menu3');
    },
    onShow:function(tour){
    	activaTab('menu3');
    }
  },
  {
    element: "#addEducationResume",
    title: "افزودن رزومه تحصیلی",
    content: "به تعداد مقاطع تحصیلی خود دکمه افزودن را بزنید و اطلاعات هر مقطع را کامل کنید"
  },
  {
    element: "#tour12",
    title: "ذخیره",
    content: "اطلاعات وارد شده را با زدن دکمه ذخیره، ثبت نمایید"
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>