<script type="text/javascript">
	    tinymce.init({
	    	directionality : '<?php echo $this->layout()->direction?>',
	    	height: 200,
	        plugins: [
	                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
	                  "searchreplace visualblocks visualchars code fullscreen",
	                  "insertdatetime media nonbreaking save table contextmenu directionality",
	                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
	              ],
	        selector: "textarea",
	      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
	      	relative_urls: false,
	      	targetPath: 'newsletters'
	    });
</script>
<style> 
    i:hover{
    	cursor :pointer
    }
</style>
 <link rel="stylesheet" type="text/css" href="/css/js-persian-cal.css" />
<script type="text/javascript" src="/js/js-persian-cal-mbr.js"></script>
<?php $this->headTitle(__('Edit Coworker'));?>
<?php
$options =''; 
$i = 0;
$j = 0;
if ($this->education) {
    foreach ($this->education as $key => $data) {
        $options .= '<option value="'.$key.'">'.$data.'</option>';
    }
}
?>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
 <?php echo __('Edit  Coworker')?>
    <small><?php echo __("Control panel")?></small>
  </h1>
<ol class="breadcrumb">
	<li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
	<li class="active"><?php echo __('Edit  Coworker')?></li>
</ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add new Coworker')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
                    <?php 
                    	$coworkersForm = $this->coworkersForm;
                    	$coworkersForm->prepare();
                    	echo $this->form()->openTag($coworkersForm);
                    ?> 
             <div class="row">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">مشخصات اولیه</a></li>
                    <li><a data-toggle="tab" href="#menu2">رزومه شغلی</a></li>
                    <li><a data-toggle="tab" href="#menu3">رزومه تحصیلی</a></li>
                  </ul>
                  <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <!-- first tab-page content -->
                            <div class="col-lg-5">
                                <!--  help -->
                                <fieldset class="help-form">    	
                					<legend style="width:75%;"> راهنمای اطلاعات پایه</legend>
            						<p>
            				         	1- ابتدا زبانی که در آن اطلاعات همکاران قرار است به نمایش در بیاید را مشخص میکنیم
            						    <br/>
            						    2- سپس اطلاعات مربوط به عکس همکار، نام، توضیحات کلی درباره رزومه همکار و در صورتی که لینکی برای شبکه اجتماعی دارد، لینک آن را وارد میکنیم
            						    <br />
            						    3- در بخش وضعیت، وضعیت تمایش یا عدم نمایش این فرد را در سایت، مشخص میکنیم
            						    <br/>
            						    4- اطلاعات مربوط به رزومه شغلی و تحصیلی فرد را میتوانید در تب های بعدی پرنمایید.
            						</p>
                    			</fieldset>	
                             </div>
                             <div class="col-lg-7">
                                 <span class="blog-step">
                                     <i class="fa fa-caret-left" aria-hidden="true"></i>
                                      مرحله اول :
                                      <span>اطلاعات پایه و مشخصات اولیه</span>
                                 </span>
                                <br/><br/><br/><br/>
                            	<div class="form-group">
                            		<label class="control-label"><?php echo $this->formLabel($coworkersForm->get('lang')); ?></label>
                                	<?php echo $this->formElement($coworkersForm->get('lang'));
                                	echo $this->formElementErrors($coworkersForm->get("lang")); ?>
                            	</div>
                            	<div class="box1">
                            	   <div class="form-group">
                                	   <div id="image-holder1" class="sl-margin-bottom">
                                	   <label class="control-label"><?php echo $this->formLabel($coworkersForm->get('image')); ?></label>
                                	   <img src="/uploads/coworkers/<?php echo $this->imageData; ?>">
                                	   </div>
                                	   <div class="fileUpload btn btn-primary">
                                           <sapn><?php echo __("Select image");?></sapn>
                                    	   <?php echo $this->formElement($coworkersForm->get('image'));
                                    	   echo $this->formElementErrors($coworkersForm->get("image")); ?>
                                    	</div>
                                	</div>
                                </div>
                             	<div class="form-group">
                            		<label class="control-label"><?php echo $this->formLabel($coworkersForm->get('name')); ?></label>
                                	<?php echo $this->formElement($coworkersForm->get('name'));
                                	echo $this->formElementErrors($coworkersForm->get("name")); ?>
                            	</div>
                            	<div class="form-group">
                            		<label class="control-label"><?php echo $this->formLabel($coworkersForm->get('description')); ?></label>
                                	<?php echo $this->formElement($coworkersForm->get('description')); 
                                	echo $this->formElementErrors($coworkersForm->get("description"));?>
                            	</div>  
                            	<div class="form-group">
                            		<label class="control-label"><?php echo $this->formLabel($coworkersForm->get('link_social_network')); ?></label>
                                	<?php echo $this->formElement($coworkersForm->get('link_social_network'));
                                	echo $this->formElementErrors($coworkersForm->get("link_social_network")); ?>
                            	</div>
                            	<div class="form-group">
                            		<label class="control-label"><?php echo $this->formLabel($coworkersForm->get('status')); ?></label>
                                	<?php echo $this->formElement($coworkersForm->get('status'));
                                	echo $this->formElementErrors($coworkersForm->get("status")); ?>
                            	</div>
                    	   	</div>
                    	</div>
                         <div id="menu2" class="tab-pane fade">
                           <div class="col-lg-5">
                                <!--  help -->
                                <fieldset class="help-form">    	
                					<legend style="width:75%;"> راهنمای رزومه شغلی</legend>
            						<p>
                						1-فیلد پست، سمت یا فیلد کاری را مشخص میکند
                						<br />
                						2-برای اضافه کردن رزومه شغلی، کافیست به تعداد سوابق کاری در موقعیت های مختلف، دکمه اضافه کردن را بزنید و فیلدهای نام شغل و تاریخ شروع و پایان آن شغل و در صورت نیاز توضیحات مربوط به ان را وارد نمایید
            						</p>
                    			</fieldset>	
                             </div>
                             <div class="col-lg-7">
                                 <span class="blog-step">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                        مرحله دوم :
                                      <span>رزومه شغلی</span>
                                 </span>
                                <br/><br/><br/><br/>
                            	<div class="form-group">
                            		<label class="control-label"><?php echo $this->formLabel($coworkersForm->get('coworker_position')); ?></label>
                                	<?php echo $this->formElement($coworkersForm->get('coworker_position'));
                                	echo $this->formElementErrors($coworkersForm->get("coworker_position")); ?>
                            	</div>
                            	 <div id="addJobResume"> 
                            	    <a class="btn btn-success" id="addJobResumeBtn"> <i class="fa fa-plus"></i><?php echo  __("Add Job"); ?></a>
                            	</div> 
                        		  <?php if ($this->jobData) { 
                            	       foreach ($this->jobData as $jkey => $jobData) {
                                	         $option = ''; 
                            	             echo '<div class="form-group education"> <i class="fa fa-minus removeEducationResumeBtn"></i>
                	    	                      <input class="form-control" name="job['.$jkey.'][name]" value='.$jobData['name'].'  >
            	                            <div class="form-group date-picker"><label class="control-label"> Job From Date </label>
                	    	                      <input  name="job['.$jkey.'][from_date]" class="form-control  valid" id="datepick'.$jkey.'" value="'.$jobData['from_date'].'">
                	    	                      <a class="pdate" href="#"></a></div><div class="form-group date-picker"> <label class="control-label"> Job To Date </label><input   name="job['.$jkey.'][to_date]" id="datepickto'.$jkey.'" class="form-control valid" value="'.$jobData['to_date'].'"> </div>
                                	    	      <label class="control-label"> Job Description </label>
                                	    	      <textarea class="form-control" name="job['.$jkey.'][description]">'.$jobData['description'].' </textarea>
                            	    	    </div>';
                            	       }
                            	}
                            	?>
                    	    </div>
                         </div>
                         <div id="menu3" class="tab-pane fade">
                            <div class="row">
                                <div class="col-lg-5">
                                    <!--  help -->
                                    <fieldset class="help-form">
                                        <legend>
                                         راهنمای رزومه تحصیلی
                    					</legend>
            							<p>
                						1-برای وارد کردن رزومه تحصیلی کافیست به ازای مقاطع تحصیلی مختلف، با زدن دکمه اضافه کردن، فیلدهای مربوط به مقطع تحصیلی تاریخ شروع و پایان، محل تحصیل و توضیحات آن را وارد کنید
            							</p>
                			     </fieldset>	
                                </div>
                                <div class="col-lg-7">
                                     <span class="blog-step">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                       مرحله سوم :
                                      <span>رزومه تحصیلی</span>
                                     </span>
                                    <br/><br/><br/><br/>  
                	                <div id="addEducationResume"> 
                                	    <a id="addEducationResumeBtn" class="btn btn-success"> <i class="fa fa-plus"></i><?php echo  __("Add  Education"); ?></a>
                                   	</div>
                                   	<?php if ($this->educationData) { 
                                	       foreach ($this->educationData as $edkey => $educationanl) {
                                    	         $option = ''; 
                                	             echo '<div class="form-group education"> <i class="fa fa-minus removeEducationResumeBtn"></i>
                    	    	                       <input class="form-control" name="education['.$edkey.'][name]" value='.$educationanl['name'].'  >
                	                               <select   name="education['.$edkey.'][name]" class="form-control">';
                                                    if ($this->education) { 
                                                        foreach ($this->education as $k => $selects) { 
                                                            $selected ='';
                                                            if ($educationanl['name'] == $k) {
                                                                $selected = 'selected';
                                                            } 
                                	    	                 $option .='<option '.$selected.' value="'.$k.'">'.$selects.'</option>';
                                                        }
                                                    }
                                                    echo $option;
                    	    	                echo '</select><div class="form-group date-picker"><a class="pdate" href="#"></a><label class="control-label"> Education From Date </label>
                    	    	                      <input  name="education['.$edkey.'][from_date]" class="form-control  valid" id="datepickedu'.$edkey.'" value="'.$educationanl['from_date'].'">
                    	    	                      <a class="pdate" href="#"></a></div><div class="form-group date-picker"><label class="control-label"> Education To Date </label>
                                    	    	      <input   name="education['.$edkey.'][to_date]" id="datepickeduto'.$edkey.'" class="form-control valid" value="'.$educationanl['to_date'].'">
                                    	    	      <a class="pdate" href="#"></a></div><label class="control-label"> Education Institutions </label>
                                    	    	      <input name="education['.$edkey.'][institutions]" class="form-control" value="'.$educationanl['institutions'].'">
                                    	    	      <label class="control-label"> Education Description </label>
                                    	    	      <textarea class="form-control" name="education['.$edkey.'][description]">'.$educationanl['description'].' </textarea>
                                	    	    </div>';
                                	       }
                                	}
                                	?> 
                               	 </div>
                            </div>
                      </div>
                  </div>
            </div>
             <div class="form-group pull-left">
                	<?php 
                		echo $this->formElement($coworkersForm->get('cpworkerscsrf'));
                		echo $this->formElementErrors($coworkersForm->get("cpworkerscsrf"));
                		echo $this->formElement($coworkersForm->get('submit'));
            		?>
            		<a href="/<?php echo $this->layout()->lang;?>/admin-coworkers" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
        	 </div> 
                	
        		<?php 
                	echo $this->form()->closeTag();
                ?>
    	</div>
	</div>
</section>
<script type='text/javascript'>  
$(document).ready(function(){
  uploadFileData('#fileUpload1', '#image-holder1');  
  $("#coworkersForm").validationEngine(); 
  $('#submitCoworker').click(function(e){ 
      // e.preventDefault();
       if($("#coworkersForm").validationEngine('validate')) 
       {
      	   $("#coworkersForm").submit();
       }
   });
   var i = <?php echo $this->educationDataCount; ?>;
   var j = <?php echo $this->jobDataCount; ?>;
  
  
   for(t = 0; t<=i; t++ ) {
	   jQuery('#datepick'+t).persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:"<?php //echo $this->date()->today();?>"}); 
	   jQuery('#datepickto'+t).persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:"<?php //echo $this->date()->today();?>"}); 
   }
   for(t = 0;t<=j; t++ ) {
	   jQuery('#datepickedu'+t).persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:"<?php //echo $this->date()->today();?>"}); 
	   jQuery('#datepickeduto'+t).persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:"<?php //echo $this->date()->today();?>"}); 
   }
  $("#addJobResumeBtn").on('click', function(){
	  i++;
	  var html = '<div class="form-group success job" > <i class="glyphicon glyphicon-minus removeJobResumeBtn" ></i><label class="control-label"> <?php echo  __("Job Name"); ?> </label><input class="form-control" name="job['+i+'][name]" value=""><label class="control-label"> <?php echo  __("Job From Date"); ?> </label><input  class="form-control" id="datepick'+i+'" name="job['+i+'][from_date]" value="">';
		  html +='<label class="control-label"> <?php echo  __("Job To Date"); ?> </label><input  class="form-control" id="datepickto'+i+'" name="job['+i+'][to_date]" value="">';
		  html +='<label class="control-label"> <?php echo  __("Job Description"); ?> </label><textarea   name="job['+i+'][description]" class="form-control "></textarea></div>';
	 	  $("#addJobResume").append(html);
    	  jQuery('#datepick'+i).persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:"<?php //echo $this->date()->today();?>"});  
    	  jQuery('#datepickto'+i).persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:"<?php //echo $this->date()->today();?>"});   
  }); 
  $("#addEducationResumeBtn").on('click', function(){
	  j++;
	  var html = '<div class="form-group education" > <i class="glyphicon glyphicon-minus removeEducationResumeBtn" ></i><label class="control-label"> <?php echo  __("Education Name"); ?> </label><select class="form-control" name="education['+j+'][name]" value=""><?php echo $options;?></select><label class="control-label"> <?php echo  __("Education From Date"); ?> </label><input  id="datepickedu'+j+'" class="form-control" name="education['+j+'][from_date]" value="">';
		  html +='<label class="control-label"> <?php echo  __("Education To Date"); ?> </label><input  class="form-control" id="datepickeduto'+j+'" name="education['+j+'][to_date]" value="">';
		  html +='<label class="control-label"> <?php echo  __("Education Institutions"); ?> </label><input  class="form-control"  name="education['+j+'][institutions]" value="">';
	 	  html +='<label class="control-label"> <?php echo  __("Education Description"); ?> </label><textarea  name="education['+j+'][description]" class="form-control"></textarea></div>';
		  $("#addEducationResume").append(html);
     	  jQuery('#datepickedu'+j).persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:"<?php //echo $this->date()->today();?>"});  
    	  jQuery('#datepickeduto'+j).persiancalendar({defaultFormat:"yyyy/mm/dd", initialDate:"<?php //echo $this->date()->today();?>"});   
      }); 

});  
   
$(document).on('click','.removeJobResumeBtn',function() {
   $(this).parent().remove();
});
$(document).on('click','.removeEducationResumeBtn',function() {
   $(this).parent().remove();
});
function uploadFileData(fileUpload, imageholder) {
    $(fileUpload).on('change', function () {
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $(imageholder);
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof (FileReader) != "undefined") {
                for (var i = 0; i < countFiles; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                                "class": "thumb-image"
                        }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[i]);
                }
            } else {
               // alert('<?php //echo ___("This browser does not support FileReader.")?>');
            }
        } else {
           // alert('<?php //echo ___("Please select only images")?>');
        }
    });
}
 
</script>
