<section class="content-header">
    <h1>
        <?php echo __('Add video'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add video'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add video')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
        <!--  help -->
                    <fieldset class="help-form">    	
        					<legend>راهنمای استفاده از ویدئو</legend>
							<p>
        					در این صفحه به ازای هر گروه ویدئو گالری که درست میکنید، میتوانید تا حداکثر تعداد 50 عدد تصویر اضافه کنید
        					<br /> 
        					نکته: برای اضافه کردن ویدئو کافیست روی یک فضای خالی از باکس زیر کلیک کنید، و بعد از باز شدن کادر محاوره ای، ویدئو خود را انتخاب و تایید کنید
    						<br/>
    						1-لینک remove file می تواند ویدئو شما را حذف کند
    						<br />
    						2-در صورتی که ویدئویی  را ایجاد کردید و بعدها نیاز داشتید تا عنوان یا عدد مرتب سازی را تغییر دهید، میتوانید بعد از تغییر با زدن دکمه ویرایش، اطلاعات  ویدئو را ویرایش کنید
    						<br />
    						3-برای مرتب سازی ویدئو مطابق با دلخواه خود، کافیست به هر ویدئو یک عدد اختصاص دهید، مرتب سازی صعودی است،میتوانید از اعداد 1 تا n استفاده کنید
							</p>
        			</fieldset>	
            <div class="form-group">
        	   <?php 
                	echo $this->getPlugin('drop-zone/index/index', array(
                                "configName" => "config_2",
                                'extraColumnsValue' => array(
                    				'video_gallery_id' =>$this->videoGalleryId,
                    				'user_id' =>  $this->userId,
                        		)
                        ));
        		?>
            </div>
            <div class="form-group pull-left">
                <a href="/<?php echo $this->layout()->lang;?>/admin-video-gallery" class="btn btn-purple fa  fa-arrow-left"><?php echo __("Return to list")?></a>
            </div>
        </div>
    </div>
</section>
 <!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#uploadFile",
    title: "آپلود ویدئو",
    content: "در یک مکان خالی از صفحه کلیک کنید و ویدئو خود را آپلود کنید",
    placement:'top'
  },
  {
    element: "#caption",
    title: "انتخاب عنوان",
    content: "در صورتی که ویدئو شما دارای عنوان است، عنوان آن را در این کادر وارد کنید",
  },
  {
    element: "#order",
    title: "ترتیب",
    content: "در صورتی که میخواهید تصاویر شما به ترتیب خاصی نمایش داده شوند، به هر یک از تویدئوها عددی بین 0 تا n را اختصاص دهید",
  },
  {
    element: "#edit-guid",
    title: "ویرایش",
    content: "در صورتی که بخواهید نام یا ترتیب را تغییر دهید میتوانید اطلاعات را ویرایش و سپس دکمه ویرایش را بزنید وبرای حذف، روی لینک حذف بزنید"
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>