
<?php 
	$videoGalleryForm = $this->videoGalleryForm;
	$videoGalleryForm->prepare();
?>

<section class="content-header">
    <h1>
        <?php echo __('Add new video gallery'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new video gallery'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Add new video gallery");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 	echo $this->form()->openTag($videoGalleryForm); ?>
            <div class="row">
                <div class="col-lg-6">
                    <!--  help -->
                    <fieldset class="help-form">    	
        					<legend>راهنمای ایجاد ویدئو گالری</legend>
        					این صفحه برای ایجاد گروه ویدئو گالری به کارمی رود، یعنی شما ابتدا باید یک یا هر تعداد گروه ویدئو گالری را که میخواهید ایجاد کنید ، سپس  می توانید به هر تعداد که بخواهید به هر یک از این گروه ها عکس  اضافه کنید
							<p>
    						1-زبان سایت مشخص میکند که ویدئو گالری شما قرار است در کدام زبان به نمایش در بیاید
    						<br />
    						2-نام فارسی نامی است که برای تمیز دادن ویدئو گالری ها از هم به کار می رود
    						<br />
    						3-نام یکتا، نامی است که باید به زبان لاتین نوشته شود و حتما باید این نام منحصر به فرد باشد یعنی در لیست ویدئو گالری ها چنین نامی وجود نداشته باشد
							<br />
							4- ویدئو گالری شما می تواند ویدئو گالری اصلی باشد یا زیر مجموعه یک ویدئو گالری دیگر قرار بگیرد، برای مثال ویدئو گالری تور اصفهان زیر مجموعه ویدئو گالری تور های داخلی باشد
							</p>
        			</fieldset>	
                </div>
                <div class="col-lg-6">
                	<div class="form-group" id="tour1">
                	<label class="control-label"><?php echo $this->formLabel($videoGalleryForm->get('lang'));  ?></label>
                	<?php echo $this->formElement($videoGalleryForm->get('lang')); 
                	echo $this->formElementErrors($videoGalleryForm->get("lang"));?>
                	</div>	
                	<div class="form-group" id="tour2">
                		<label class="control-label"><?php echo $this->formLabel($videoGalleryForm->get('persian_name'));  ?></label>
                    	<?php echo $this->formElement($videoGalleryForm->get('persian_name')); 
                    	echo $this->formElementErrors($videoGalleryForm->get("persian_name"));?>
                	</div>	
                	<div class="form-group" id="tour3">
                		<label class="control-label"><?php echo $this->formLabel($videoGalleryForm->get('latin_name'));  ?></label>
                    	<?php echo $this->formElement($videoGalleryForm->get('latin_name'));
                    	echo $this->formElementErrors($videoGalleryForm->get("latin_name")); ?>
                    	 <div id="image-holder1"></div>
                	</div>	
                	<div class="form-group" id="tour4">
                		<label class="control-label"><?php echo $videoGalleryForm->get('parent_id')->getLabel(); ?></label>
                    	<?php echo $this->formElement($videoGalleryForm->get('parent_id'));
                    	echo $this->formElementErrors($videoGalleryForm->get("parent_id")); ?>
                    	 <div id="image-holder1"></div>
                	</div>
                	<div class="form-group pull-left" id="tour5">
                    	<?php 
                    		echo $this->formElement($videoGalleryForm->get('csrf'));
                    		echo $this->formElementErrors($videoGalleryForm->get("csrf"));
                    		echo $this->formElement($videoGalleryForm->get('submit'));
                    	?>
                    	<?php 
                    		echo $this->formElement($videoGalleryForm->get('csrf'));
                    		echo $this->formElementErrors($videoGalleryForm->get("csrf"));
                    		echo $this->formElement($videoGalleryForm->get('submit2'));
                    	?>
                    	<a href="/<?php echo $this->layout()->lang;?>/admin-video-gallery/list-video-galleries" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                	</div>	
                </div>
            </div>
            <?php echo $this->form()->closeTag(); ?>
        </div>
    </div>
</section>
<script type='text/javascript'>
                
$(document).ready(function(){
   $("#videoGalleryForm").validationEngine(); 
   $('#submit').click(function(e){ 
      // e.preventDefault();
       if($("#videoGalleryForm").validationEngine('validate')) 
       {
      	   $("#videoGalleryForm").submit();
       }
   });
});  
</script>
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "انتخاب زبان",
    content: "زبانی که میخواهید ویدئو گالری را در آن به نمایش بگذارید را مشخص کنید",
  },
  {
    element: "#tour2",
    title: "نام فارسی",
    content: "یک نام فارسی برای ویدئو گالری انتخاب کنید",
  },
  {
    element: "#tour3",
    title: "نام یکتا",
    content: "نامی برای ویدئو گالری انتخاب کنید که قبلا به هیچ ویدئو گالری ای انتساب نداده اید، بهتر است این نام به زبان لاتین باشد",
  },
  {
    element: "#tour4",
    title: "گروه ویدئو گالری",
    content: "در صورتی که ویدئو گالری شما زیر مجموعه ویدئو  گالری دیگری است،نام  ویدئو گالری والد را انتخاب کنید در غیر اینصورت، گزینه گروه اصلی را تغییر ندهید"
  },
  {
    element: "#tour5",
    title: "ذخیره",
    content: "برای ثبت اطلاعات گزینه ذخیره را بزنید و به لیست اصلی جهت اضافه کردن تصویر به  ویدئو گالری ایجاد شده برگردید",
    //path:'/admin-gallery/list-galleries'
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>
