
<section class="content-header">
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __("List galleries");?></li>
    </ol>
</div>    
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("List galleries");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered table-striped">
              <tr>
                <th class="td-sm"><?php echo _('#'); ?></th>
               <th><?php echo __('Video gallery title'); ?></th>
                <th><?php echo __('Video gallery unique name'); ?></th>
                <th class="td-sm "><?php echo __('Add video to gallery'); ?></th>
                 <th class="td-sm td-edit"><?php echo __('Edit'); ?></th>
                <th class="td-sm"><?php echo  __('Delete'); ?></th>  
              </tr>
              <?php  
              		if($this->videoGalleryVideos) { 
              		    $i = 1;
              			foreach ($this->videoGalleryVideos as $counter =>$video) { 
              			    if(isset($video['child'])){
            			  ?>				
            			    <tr style="background-color: #eee;">
            				    <td><?php echo $i; ?></td>
            				    <td><?php echo $this->escapeHtml($video['persian_name']); ?></td>
              		            <td><?php echo $this->escapeHtml($video['latin_name']); ?></td>
            				    <td class="sl-align-center"><a href="<?php echo $this->url('video-gallery-admin', array(
            				            'id'         => $counter,
            				    		'controller' => 'admin',
            				    		'action'     => 'add-video'
            				    )); ?>"><?php //echo '<span class="glyphicon glyphicon-plus"></span>'; ?></a></td>
            				    <td class="sl-align-center"><a href="<?php echo $this->url('video-gallery-admin', array(
            				    		'id'         => $counter,
            				    		'controller' => 'admin',
            				    		'action'     => 'edit-gallery'
            				    )); ?>"><?php echo '<span class="glyphicon glyphicon-pencil"></span>'; ?></a></td>
            				    <td class="sl-align-center"><a class="delete-btn" href="<?php echo $this->url('video-gallery-admin', array(
            				    		'id'         => $counter,
            				    		'controller' => 'admin',
            				    		'action'     => 'delete-gallery',
            				    		'token'      => $this->csrf
            				    )); ?>" ><?php echo '<span class="glyphicon glyphicon-remove"></span>'; ?></a></td>
            			  </tr> 
            			  <?php 
              		   
              		        foreach ($video['child'] as $id=>$img) {
              		            ?>
              		             <tr>
            				    
            				    <td colspan="2" class="text-center"><?php echo $this->escapeHtml($img['persian_name']); ?></td>
            				    <td  class="text-center"><?php echo $this->escapeHtml($img['latin_name']); ?></td>
            				    <td class="sl-align-center"><a href="<?php echo $this->url('video-gallery-admin', array(
            				            'id'         => $id,
            				    		'controller' => 'admin',
            				    		'action'     => 'add-video'
            				    )); ?>"><?php echo '<span class="glyphicon glyphicon-plus"></span>'; ?></a></td>
            				    <td class="sl-align-center"><a href="<?php echo $this->url('video-gallery-admin', array(
            				    		'id'         => $id,
            				    		'controller' => 'admin',
            				    		'action'     => 'edit-gallery'
            				    )); ?>"><?php echo '<span class="glyphicon glyphicon-pencil"></span>'; ?></a></td>
            				    <td class="sl-align-center"><a class="delete-btn" href="<?php echo $this->url('video-gallery-admin', array(
            				    		'id'         => $id,
            				    		'controller' => 'admin',
            				    		'action'     => 'delete-gallery',
            				    		'token'      => $this->csrf
            				    )); ?>" ><?php echo '<span class="glyphicon glyphicon-remove"></span>'; ?></a></td>
            			  </tr> 
              		       
              		       <?php  }
              		    }else{
              		        //var_dump($video);die;
              		        ?>
              		        <tr style="background-color: #eee;">
              		        <td><?php echo $i; ?></td>
              		        				    <td><?php echo $this->escapeHtml($video['persian_name']); ?></td>
              		        				    <td><?php echo $this->escapeHtml($video['latin_name']); ?></td>
              		        				    <td class="sl-align-center"><a href="<?php echo $this->url('video-gallery-admin', array(
            				                        'id'         => $counter,
            				    		            'controller' => 'admin',
            				    		            'action'     => 'add-video'
            				                         )); ?>"><?php echo '<span class="glyphicon glyphicon-plus"></span>'; ?></a>
            				                    </td>
              		        				    <td class="sl-align-center"><a href="<?php echo $this->url('video-gallery-admin', array(
              		        				    		'id'         => $counter,
              		        				    		'controller' => 'admin',
              		        				    		'action'     => 'edit-video-gallery'
              		        				    )); ?>"><?php echo '<span class="glyphicon glyphicon-pencil"></span>'; ?></a></td>
              		        				    <td class="sl-align-center"><a class="delete-btn" href="<?php echo $this->url('video-gallery-admin', array(
              		        				    		'id'         => $counter,
              		        				    		'controller' => 'admin',
              		        				    		'action'     => 'delete-video-gallery',
              		        				    		'token'      => $this->csrf
              		        				    )); ?>" ><?php echo '<span class="glyphicon glyphicon-remove"></span>'; ?></a></td>
              		        			  </tr> 
              		 <?php    }
              		}$i++;
              	}
              ?>   
            </table>

<div class="sl-margin-top">
                <a href="<?php echo $this->url('video-gallery-admin', array('action' => 'add-video-gallery', 'controller' => 'admin')); ?>" class="btn btn-primary"><?php echo __("Add new video gallery"); ?></a>
            </div>
        </div>
    </div>
</section>

<!-- Modal HTML -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <h5><?php echo __('Are you sure to delete this?')?></h5>
                    <p><?php echo __('Pay attention: after delete the item, you could not recover it!')?></p>
                </div>
                <div class="modal-footer">
                    <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#"><?php echo __('Yes! I want to delete.')?></a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $('.delete-btn').click(function(e) {
        e.preventDefault();
        $('#modal').modal();
        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
    });
</script> 
<?php 
	echo $this->inlineScript()->prependFile($this->basePath('/js/bootstrap.min.js'));
?> 