this is the blog sidebar

<?php 
	if ($this->layout()->mostVisitedBlogPosts) {
?>
<div>
	<div id="most-visited-wrapper">
        <?php
        	foreach($this->layout()->mostVisitedBlogPosts as $post) {
                $postUrl = $this->urlGenerator()->postUrl($post);
                preg_match( '@src="([^"]+)"@' , $post['post_exerpt'], $match);
                $src = array_pop($match);
		?>
         <div>
            <div class="row">
                <a class="most-visited-blog-post-link" href="<?php echo $postUrl; ?>">
                    <img style="float:right;width:100px;height:70px; margin:0 13px 10px 10px;" class="most-visited-blog-post-image" src="<?php echo $src; ?>">
                    <p style="width:300px;"><?php echo $post['post_title']; ?></p>
                </a>
            </div>
        </div> 
        <?php 
        	}
        ?>
    </div>
</div>	
<?php } ?>	