<?php  
	echo $this->doctype(); 
?>
<html>
    <head>
        <?php $this->headMeta()->setCharset('UTF-8'); ?>
        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge') ?>
        <?php echo $this->headTitle('')->setSeparator('')->setAutoEscape(false) ; 
			//$this->headlink()->appendStylesheet($this->minify($this->basePath() . '/css/style.css'));
        ?>
        <!-- Styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico'))
            //ihover
            ->prependStylesheet($this->basePath('/css/ihover/ihover.min.css'))
            //owl
              ->prependStylesheet($this->basePath('/css/owl.theme.default.min.css'))
              ->prependStylesheet($this->basePath('/css/owl.carousel.min.css'))
              //->prependStylesheet($this->basePath('/css/docs.theme.min.css'))
            //fancy box for images
            ->prependStylesheet($this->basePath('/css/jquery.fancybox.css'))
            ->prependStylesheet($this->basePath('/css/jquery.fancybox-buttons.css'))
            ->prependStylesheet($this->basePath('/css/jquery.fancybox-thumbs.css'))
            //font icon
            ->prependStylesheet($this->basePath('/css/fontawesome-all.min.css'))
            //main css
            ->prependStylesheet($this->basePath('/css/benis.css'))
            //menu css
            ->prependStylesheet($this->basePath('/css/nav.css'))
            //validation form
            ->prependStylesheet($this->basePath('js/validator/css/validation.css'))
            //bootstrap-rtl for right to left
            ->prependStylesheet($this->basePath('/css/bootstrap-'. $this->layout()->direction .'.min.css'))
            //bootstrap
            ->prependStylesheet($this->basePath('/css/bootstrap.min.css'))
            //->prependStylesheet($this->basePath('/css/bootstrap-reboot.min.css'))
        ; ?>
        <?php echo $this->headScript()
            ->prependFile($this->basePath('/js/tabs.js'))
            ->prependFile($this->basePath('/js/jquery.fancybox-buttons.js'))
            ->prependFile($this->basePath('/js/jquery.fancybox-thumbs.js'))
            ->prependFile($this->basePath('/js/jquery.fancybox.js'))
            ->prependFile($this->basePath('/js/owl.carousel.js'))
            ->prependFile($this->basePath('/js/nav.js'))
            ->prependFile($this->basePath('/js/main.js'))
            ->prependFile($this->basePath('/js/validator/js/jquery.validationEngine.js'))
            ->prependFile($this->basePath('/js/validator/languages/jquery.validationEngine-fa.js'))
            ->prependFile($this->basePath('/js/bootstrap.min.js'))
            ->prependFile($this->basePath('/js/jquery-1.11.3.min.js'));
        ?>
       <link rel="stylesheet" href="<?php echo "/css/" . $this->layout()->direction .".css" ;?>" />
       <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <meta name="author" content="shabdiznet.com">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body id='<?php echo $this->layout()->direction; ?>' class="<?php //echo $this->layout()-> ?>">
   
    <!-- begin header -->
<header id="header">
    <section id="main-menu" class="mb-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-3  col-sm-3 col-md-2">
                    <?php echo $this->getPlugin('block/index/index', array('position' => "logo")); ?>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-6">
                     <nav id='cssmenu' class="mt-2 mb-2">
                        <div id="head-mobile"></div>
                        <div class="button"></div>
                        <?php  echo $this->getPlugin('menu/index/index', array("mainindex")); ?>
                    </nav>
                </div>
               <div class="col-xs-6 col-sm-6 col-md-4 shop-info text-left pull-left">
                    <a href="/technical-office-search"><div class="search-box"><i class="fa fa-search"></i></div></a>
                    <?php if(!$this->layout()->userData){ ?>
                    	<a href="/signin"><div><i class="fa fa-user"></i><span>ثبت نام  و  ورود</span></div></a>
                    <?php }else{ ?>
                    	<a href="/dashboard"><div><i class="fa fa-user"></i><span>داشبورد</span></div></a>
                    <?php } ?>
                   <!-- <a href="/request-cart"><div class="shopping-cart"><i class="fa fa-shopping-cart">
                     <span class="counter" style="opacity: 1;">2</span>
                    </i></div></a>-->
                    <br/>
                    <?php if($this->layout()->office){ if($this->layout()->userData->user_group_id == 7){ ?>
                    	<p class="print-user-title" ><span class="text-center"><?php echo $this->layout()->office; ?></span></p>
                    <?php } }?>
                   
                </div>
            </div>
        </div>
    </section> 
</header>
        <!-- Modal Failed-->
<div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><?php echo __("Error message");?><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </h4>
        
        
      </div>
      <div class="modal-body">
         <div class="alert alert-danger" style="text-align:center">
          <strong><?php echo __("Operation failed!");?></strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-alert-ok" data-dismiss="modal"><?php echo __("Ok");?></button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Success-->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><?php echo __("Success message");?>
        <i class="fa fa-check-circle" aria-hidden="true"></i>
         </h4>
        
        
      </div>
      <div class="modal-body">
      <div class="alert alert-success" style="text-align:center">
          <strong><?php echo __("Operation done successfully.");?></strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-alert-ok" data-dismiss="modal"><?php echo __("Ok");?></button>
      </div>
    </div>
  </div>
</div>
	<?php 
        
        $flash = $this->flashMessenger();
        $flash->setMessageOpenFormat('<div%s>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
        <div>')->setMessageCloseString('</div></div>');
        if (isset($this->layout()->errorMessage))
            echo '<div class="alert alert-dismissable alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>' . $this->layout()->errorMessage .'</div></div>';
        if (isset($this->layout()->successMessage))
            echo '<div class="alert alert-dismissable alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>' . $this->layout()->successMessage .'</div></div>';
        echo $flash->render('error', array('alert', 'alert-dismissable', 'alert-danger'));
        echo $flash->render('info', array('alert', 'alert-dismissable', 'alert-info'));
        echo $flash->render('default', array('alert', 'alert-dismissable', 'alert-warning'));
        echo $flash->render('success', array('alert', 'alert-dismissable', 'alert-success'));

    ?>
    
	<?php echo $this->content; ?>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 text-right pull-right">
                    تمام حقوق این سایت متعلق به شرکت <span style="color:#F44336"> دیجی بنیس </span>می باشد
                </div>
                <div class="col-xs-12 col-md-4 text-left pull-left">
                طراحی سایت : <span style="color:#F44336"> شبدیز</span>
                </div>
            </div>
        </div>
    </footer>
    
<!-- shopping cart -->
<div class="cd-cart-container empty">
	<a href="#0" class="cd-cart-trigger">
		سبد خرید
		<ul class="count"> <!-- cart items count -->
			<li>0</li>
			<li>0</li>
		</ul> <!-- .count -->
	</a>

	<div class="cd-cart">
		<div class="wrapper">
			<header>
				<h2>سبد خرید</h2>
				<span class="undo">آیتم مورد نظر حذف شد /<a href="#0">بازگرداندن </a></span>
			</header>
			
			<div class="body">
			     <div class="addtobasket text-center">
                    <a class="cart-list" href="#"  data-price=""><i class="fas fa-eye" style="margin-left:3px;"></i>مشاهده سبد خرید</a>
                 </div>
				<ul>
                   
					<!-- products added to the cart will be inserted here using JavaScript -->
				</ul>
			</div>

			<footer>
				<a href="#0" class="checkout btn"><em>Checkout - $<span>0</span></em></a>
			</footer>
		</div>
	</div> <!-- .cd-cart -->
</div> <!-- cd-cart-container -->
	
<script>
    jQuery(document).ready(function($){
    	$.ajax({
 	        type:'POST',
 	        url:'/get-cart-session',
 	        success:function(data){ //alert(data);
 	 	        if(data != 'null'){
 	 	 	      	var data = JSON.parse(data);
 	 		    	$.each(data, function(key, value) { 
 	 					var productAdded = $('<li class="product" value="1" id="' + key + '" ><div class="product-image"><a href="#0"><img src="/uploads/products/' + value.product[0]['image'] + '" alt="placeholder"></a></div><div class="product-details"><h3><a href="#0">' + value.product[0]['product_name'] + '</a></h3><span class="price">' + value.product[0]['price'] + '</span><div class="actions"><a href="#0" class="delete-item"><i class="fas fa-trash-alt"></i></a><div class="quantity"><label for="cd-product-'+ productId +'">تعداد</label><span class="select">' + value.qty + '</span></div></div></div></li>');
 	 					$('.body ul').append(productAdded);
 	 		        });
 	 	        }
 	        }
 		});
 		
 		
    	var cartWrapper = $('.cd-cart-container');
    	cartWrapper.removeClass('empty');	
		
// 		$(cartWrapper).addClass('cart-open');
    	
    });
   
    $(document).on('click','.cd-cart-trigger',function(){
    	var cartWrapper = $('.cd-cart-container');
//         if($('body').find('.cd-cart-container cart-open')){
//         	$(cartWrapper).removeClass('cart-open');
//         }else{
        	$(cartWrapper).addClass('cart-open');
//         }
    	
    	
    });
        
    $(document).on('click','.cart-list',function(){ //alert('a');
    	var items = $('.body').find('ul li'); console.log(items);
    	var detail = $('.body').find('ul li .product-details');
    	var itemArr = [];
    	var item = [];
    	if(items.length > 0){
    		$.each(items, function(key, value) {
    			itemArr.push({'id' : value.id, 'qty':value.value});
    //	 		console.log(value.id);
    //	 		console.log(value.value);
    		});	
    		$.ajax({
     	        type:'POST',
     	        url:'/set-cart-session',
     	        data:{'itemArr':itemArr},
     	        success:function(data){ //alert(data);
         	        if(data == 'true'){
       	        	  var base_url = window.location.origin;
    	      	       window.location.replace(base_url + "/request-cart");
         	        }
      	     
    //  		       	var data = JSON.parse(data);
    //  		    	$.each(data, function(key, value) { //alert(value);
    //  		    		var html = '<div class="col-md-4 ' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href=""><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div class="product-name">' + value.product_name + '</div><div class="product-price">' + value.price  + '<span>ریال</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" data-image="' + value.image + '" data-price="' + value.price + '" data-name="' + value.product_name + '"><i class="fas fa-cart-plus"></i>افزودن به سبد خرید</a></div></div></div>'
    // //	 	        	var html = '<div class="col-md-4 ' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href=""><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div class="product-name">' + value.product_name + '</div><div class="product-price">' + value.price  + '<span>ریال</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" ><i class="fas fa-cart-plus"></i>افزودن به سبد خرید</a></div></div></div>'
    //  		    		$('.products').append(html);
    //  		        });
    //  	    		$.getScript("/js/main.js");
     	        }
     		});
//     		console.log(itemArr);
    	}
    	
    	
    });
    // related to slider
    $(document).ready(function(){
        $("div.amazingslider-text-box-1").next().remove();
        $("div.amazingslider-text-box-1").next().css('opacity','0 !important');
        $("div.amazingslider-text-box-1").next().css('z-index','-1 !important');
    });
</script>
<script>
    var $ = jQuery;
    jQuery(".search a").click(function() {
    	jQuery(this).parent(".search").toggleClass("collapsed");
    });
    
    $("#submitSearch").click(function() {
        var serachText = $("#search").val();
     
        if (serachText) {
            $("#submitFrm").submit();
        } 
    });
    
    function searchToggle(obj, evt){
        var container = jQuery(obj).closest('.search-wrapper');
            if(!container.hasClass('active')){
                container.addClass('active');
                evt.preventDefault();
            }
            else if(container.hasClass('active') && jQuery(obj).closest('.input-holder').length == 0){
                container.removeClass('active');
                // clear input
                container.find('.search-input').val('');
            }
    }
</script>
<!-- /* shopping cart */ -->

    </body>
</html>