<?php  
	echo $this->doctype(); 
?>
<html>
    <head>
        <?php $this->headMeta()->setCharset('UTF-8'); ?>
        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge') ?>
        <?php echo $this->headTitle('')->setSeparator('')->setAutoEscape(false) ; 
			//$this->headlink()->appendStylesheet($this->minify($this->basePath() . '/css/style.css'));
        ?>
        <!-- Styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico'))
            //font icon
            ->prependStylesheet($this->basePath('/css/fontawesome-all.min.css'))
            //main css
            ->prependStylesheet($this->basePath('/css/shabdizstyle.css'))
            //menu css
            ->prependStylesheet($this->basePath('/css/nav.css'))
            //fancy box for images
            ->prependStylesheet($this->basePath('/css/jquery.fancybox.css'))
            ->prependStylesheet($this->basePath('/css/jquery.fancybox-buttons.css'))
            ->prependStylesheet($this->basePath('/css/jquery.fancybox-thumbs.css'))
            //validation form
            ->prependStylesheet($this->basePath('js/validator/css/validation.css'))
            //bootstrap-rtl for right to left
            ->prependStylesheet($this->basePath('/css/bootstrap-'. $this->layout()->direction .'.min.css'))
            //bootstrap
            ->prependStylesheet($this->basePath('/css/bootstrap.min.css'))
        ; ?>
        <?php echo $this->headScript()
            ->prependFile($this->basePath('/js/nav.js'))
            ->prependFile($this->basePath('/js/jquery.fancybox-buttons.js'))
            ->prependFile($this->basePath('/js/jquery.fancybox-thumbs.js'))
            ->prependFile($this->basePath('/js/jquery.fancybox.js'))
            ->prependFile($this->basePath('/js/validator/js/jquery.validationEngine.js'))
            ->prependFile($this->basePath('/js/validator/languages/jquery.validationEngine-fa.js'))
            ->prependFile($this->basePath('/js/bootstrap.min.js'))
            ->prependFile($this->basePath('/js/jquery-1.11.3.min.js'));
        ?>
       <link rel="stylesheet" href="<?php echo "/css/" . $this->layout()->direction .".css" ;?>" />
       <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <meta name="author" content="shabdiznet.com">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body id='<?php echo $this->layout()->direction; ?>' class="<?php //echo $this->layout()-> ?>">
        <header id="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-3 text-right pt-4 mt-2">
                        <!--logo -->
                        <a class="logo" href="/"><?php echo $this->getPlugin('block/index/index', array('position' => "logo")); ?></a>
                    </div>
                    <!--<div class="col-xs-12 col-md-7 text-center">
                        menu   
                         <nav id='cssmenu' class="mt-2 mb-2">
                            <div id="head-mobile"></div>
                            <div class="button"></div>
                            <?php // echo $this->getPlugin('menu/index/index', array("mainindex")); ?>
                        </nav>
                    </div>--> 
                    <div class="col-xs-12 col-md-9 text-left pt-4 mt-2">
                         <?php if(!$this->layout()->userData){ ?>
                        	<a href="/signin"><div class="div-top logined-title"><i class="fa fa-user"></i><span>ورود به سیستم واریز</span></div></a>
                        <?php }else{ ?>
                        	<a href="/dashboard"><div class="div-top logined-title"><i class="far fa-user"></i><span>داشبورد</span></div></a>
                        <?php } ?>
                          <!--info --> 
                          <?php //echo $this->getPlugin('block/index/index', array('position' => "info")); ?>
                    </div>
                </div>
            </div>
        </header>
  

        <!-- Modal Failed-->
<div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><?php echo __("Error message");?><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </h4>
        
        
      </div>
      <div class="modal-body">
         <div class="alert alert-danger" style="text-align:center">
          <strong><?php echo __("Operation failed!");?></strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-alert-ok" data-dismiss="modal"><?php echo __("Ok");?></button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Success-->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><?php echo __("Success message");?>
        <i class="fa fa-check-circle" aria-hidden="true"></i>
         </h4>
        
        
      </div>
      <div class="modal-body">
      <div class="alert alert-success" style="text-align:center">
          <strong><?php echo __("Operation done successfully.");?></strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-alert-ok" data-dismiss="modal"><?php echo __("Ok");?></button>
      </div>
    </div>
  </div>
</div>
	<?php 
        
        $flash = $this->flashMessenger();
        $flash->setMessageOpenFormat('<div%s>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
        <div>')->setMessageCloseString('</div></div>');
        if (isset($this->layout()->errorMessage))
            echo '<div class="alert alert-dismissable alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>' . $this->layout()->errorMessage .'</div></div>';
        if (isset($this->layout()->successMessage))
            echo '<div class="alert alert-dismissable alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>' . $this->layout()->successMessage .'</div></div>';
        echo $flash->render('error', array('alert', 'alert-dismissable', 'alert-danger'));
        echo $flash->render('info', array('alert', 'alert-dismissable', 'alert-info'));
        echo $flash->render('default', array('alert', 'alert-dismissable', 'alert-warning'));
        echo $flash->render('success', array('alert', 'alert-dismissable', 'alert-success'));

    ?>
    
	<?php echo $this->content; ?>
<footer id="footer">
    <div class="container">
        <div class="row">
                <div class="col-md-12 col-lg-12">
                <div class="main-title">
                   ارتباط با ما
                </div>
                <div class="footer-contact">
                    <div>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-phone"></i>
                                 <?php echo $this->getPlugin('block/index/index', array('position' => "tel")); ?>
                            </li>
                            <li>
                                <i class="fas fa-envelope"></i>
                                <?php echo $this->getPlugin('block/index/index', array('position' => "email")); ?>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row copy-right">
            <div class="col-xs-12 col-md-8 text-right pull-right">
                تمام حقوق این سایت متعلق به  <span style="color:#F44336"><a href="/"> شرکت شبدیز</a></span>می باشد
            </div>
            <div class="col-xs-12 col-md-4 text-left pull-left">
            طراحی سایت : <span style="color:#F44336"><a href="https://shabdiznet.com" target="_blank"> شبدیز</a></span>
            </div>
        </div>
    </div>
</footer>
    
<!-- shopping cart -->
<div class="cd-cart-container empty"></div>
    

	
<script>
    jQuery(document).ready(function($){
 		$.ajax({
	        type:'POST',
	        url:'/get-cart-session',
	        success:function(data){
	        	var data = JSON.parse(data);
	        	if(data){
    	        	$.each(data['sessionData'], function(key, value) { 
        	        	if(value.status != 0) {
            	        	if(value.product_id){
            	        		var item = '<li class="clearfix" id="' + value.product_id + '">'+
                                	'<img src="/uploads/products/' + value.image + '" alt="item1" />'+
                                    '<span class="item-name">' + value.name + '</span>'+
                                    '<span class="item-price"><span>' + value.price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + '</span> تومان</span>'+
                                    '<span class="item-quantity">تعداد: <span>' + value.qty + '</span></span>'+
                              	'</li>';		
            	        	}else{
            	        		var item = '<li class="clearfix">'+
                                	'<img src="/uploads/services/' + value.image + '" alt="item1" />'+
                                    '<span class="item-name">' + value.name + '</span>'+
                                    '<span class="item-price"><span>' + value.price + '</span> تومان</span>'+
                                    '<span class="item-quantity">تعداد: <span>' + value.qty + '</span></span>'+
                              	'</li>';
            	        	}
        	        		
    		        		$(".shopping-cart ul").append(item);
        	        	}
    		        	
    		        });
    	        	$(".shopping-cart .shopping-cart-total .cart-total-price").val(data['total_price']);
    	        	$(".shopping-cart .shopping-cart-total .main-color-text").text(data['total_price'].toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
    	            
    	        	if(data['sum_qty'] != '0'){
     	 	        	$('#cart .div-top span').text(data['sum_qty']);
     	 	        }else{
     	 	        	$('#cart .div-top span').text('0');
     	 	        }
	        	}
	        }
		});
    });
    // related to slider
    $(document).ready(function(){
        $("div.amazingslider-text-box-1").next().remove();
        $("div.amazingslider-text-box-1").next().css('opacity','0 !important');
        $("div.amazingslider-text-box-1").next().css('z-index','-1 !important');
    });
</script>
<script>
    var $ = jQuery;
    jQuery(".search a").click(function() {
    	jQuery(this).parent(".search").toggleClass("collapsed");
    });
    
    $("#submitSearch").click(function() {
        var serachText = $("#search").val();
     
        if (serachText) {
            $("#submitFrm").submit();
        } 
    });
    
    function searchToggle(obj, evt){
        var container = jQuery(obj).closest('.search-wrapper');
            if(!container.hasClass('active')){
                container.addClass('active');
                evt.preventDefault();
            }
            else if(container.hasClass('active') && jQuery(obj).closest('.input-holder').length == 0){
                container.removeClass('active');
                // clear input
                container.find('.search-input').val('');
            }
    }
</script>
<!-- /* shopping cart */ -->
<script>
$(document).ready(function() {
	 $(".shopping-cart").css("display", "none");
});
(function(){
  $("#cart").on("click", function() {
    $(".shopping-cart").fadeToggle( "fast");
  });
  
})();


</script>
<script>
$(document).mouseup(function(e) 
{
    var container = $(".shopping-cart");

    // if the target of the click isn't the container nor a descendant of the container
    if (!container.is(e.target) && container.has(e.target).length === 0) 
    {
        container.hide(500);
    }
});
</script>
    </body>
</html>