<?php 
 $user = (array)$this->identity();
echo $this->doctype(); ?>
<html lang="fa">
    <head>
        <?php $this->headMeta()->setCharset('UTF-8'); ?>
        <?php echo $this->headTitle("")->setAutoEscape(false) ?>
        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge') ?>
            
            <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/logos/favicon.ico'))
            ->prependStylesheet($this->basePath('adminTemplate/dist/css/AdminRTL2.css'))
            ->prependStylesheet($this->basePath('adminTemplate/dist/css/skins/_all-skins.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/dist/css/AdminLTE.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/plugins/yekan/css/yekan.css'))
            ->prependStylesheet($this->basePath('css/validation.css'))
            ->prependStylesheet($this->basePath('css/select2.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/plugins/ionicons/css/ionicons.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/plugins/font-awesome/css/font-awesome.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/bootstrap/css/bootstrap.min.css'));
        
        ?>
             <?php echo $this->headScript()
            ->prependFile($this->basePath('adminTemplate/dist/js/admin-script.js'))
            ->prependFile($this->basePath('js/validation/jquery.validationEngine.js'))
            ->prependFile($this->basePath('js/validation/languages/jquery.validationEngine-en.js'))
            ->prependFile($this->basePath('tinymce/tinymce.min.js'))
            ->prependFile($this->basePath('js/select2.full.min.js'))
            ->prependFile($this->basePath('adminTemplate/dist/js/demo.js'))
            ->prependFile($this->basePath('adminTemplate/dist/js/app.min.js'))
            ->prependFile($this->basePath('adminTemplate/plugins/slimScroll/jquery.slimscroll.min.js'))
            ->prependFile($this->basePath('adminTemplate/bootstrap/js/bootstrap.min.js'))
            ->prependFile($this->basePath('adminTemplate/plugins/jQueryUI/jquery-ui.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/html5shiv.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('adminTemplate/plugins/jQuery/jQuery-2.1.4.min.js'));
         
            ?>
    </head>
    <body class="hold-transition skin-red sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="/" class="logo">
                  <!-- mini logo for sidebar mini 50x50 pixels -->
                  <span class="logo-mini"><b>Shabdiz</b></span>
                  <!-- logo for regular state and mobile devices -->
<!--                   <span class="logo-lg"><b>Shabdiz </b>Panel</span> -->
                  <span class="logo-lg">
                    <img src="/adminTemplate/dist/img/logo.png" class="" alt="logo" width="80%">
                  </span>
                  
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu panel-nav">
                        <?php echo $this->getPlugin('menu/index/index', array("mainindex")); ?>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                    <?php if ($user["avatar"]) {?>
                        <div class="pull-left image">
                            <img src="/uploads/avatar/<?php echo $user["avatar"];?>" class="img-circle" alt="User Image">
                        </div>
                        <?php }?>
                        <div class="pull-left info">
                            <?php 
                               
                                if ($user) {
                                   	$userName = $user['username'];
                                   	echo "<p>" . $userName . "</p>" ;
                                }
                            ?>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class='header'>
                            <?php echo __("MAIN NAVIGATION")?>
                        </li>
                        <?php 
            				$userPermissions = $this->layout()->userPermissions;
            				$menu = $this->menuGenerator()->getMenu(); 
            				if ($menu && $userPermissions) {
            					foreach ($menu as $item) {
            						$htmlMenu = '';
            						if (isset($item['permission'])) {
            							if (!in_array($item['permission'], $userPermissions)) {
            								 continue;
            							}
            						} 
            						$hasSub = false;
            						$htmlPage = '';
            						if (isset($item['pages'])) {
            							foreach ($item['pages'] as $page) {
            								if (!in_array($page['permission'], $userPermissions)) {
            									continue;
            								}
            								$hasSub = true;
            								$ib = isset($page['iclass']) ? '<i class="'.$page['iclass'].'"></i>' : '';
            								$htmlPage .= "<li><a href='{$page['link']}'>{$ib}<span>{$page['label']}</span></a></li>";
            							}
            						}
            						if ($hasSub) {
            						    $ib = isset($item['iclass']) ? '<i class="'.$item['iclass'].'"></i>' : '';
            							$htmlMenu = "<li class='has-sub treeview'><a href='{$item['link']}'>{$ib}<span>{$item['label']}</span><span class='fa fa-angle-left pull-right'></span></a>
            								<ul class='treeview-menu'>
            									$htmlPage
            								</ul>
            							</li>";
            						} else {
            							if (isset($item['permission'])) {
            							    $ib = isset($item['iclass']) ? '<i class="'.$item['iclass'].'"></i>' : '';
            								$htmlMenu = "<li><a href='{$item['link']}'>{$ib}<span>{$item['label']}</span></a></li>";
            							}
            						}
            						echo $htmlMenu;
            					}
            				}
            			?>
                    </ul>
                </section>
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <?php
    				$flash = $this->flashMessenger();
    				$flash->setMessageOpenFormat('<div%s>
    				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    				    &times;
    				</button>
    				<div>')->setMessageCloseString('</div></div>');
    				
    				if (isset($this->layout()->errorMessage))
    				    echo '<div class="alert alert-dismissable alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>' . $this->layout()->errorMessage .'</div></div>';
    				if (isset($this->layout()->successMessage))
    				    echo '<div class="alert alert-dismissable alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>' . $this->layout()->successMessage .'</div></div>';
    				    echo $flash->render('error', array('alert', 'alert-dismissable', 'alert-danger'));
    				    echo $flash->render('info', array('alert', 'alert-dismissable', 'alert-info'));
    				    echo $flash->render('default', array('alert', 'alert-dismissable', 'alert-warning'));
    				    echo $flash->render('success', array('alert', 'alert-dismissable', 'alert-success'));
    	        ?>
                <?php echo $this->content; ?>
            </div>
            <footer class="main-footer">
                <strong>Copyright &copy; 2015-<?php echo date("Y")?> <a target="_blank" href="http://shabdiznet.com">shabdiz</a>.</strong> All rights reserved.
            </footer>
        </div>
      
    </body>
</html>
