<?php 
$params = $this->params;
if ($this->pageCount): ?>
<div class="text-center" style="direction:<?php echo $this->layout()->direction; ?>">
<div class="row">
                              <!--  page ...of.... -->
    
     <div class="">
        <ul class="pagination pagination-sm">
            <!-- Previous page link -->
            <?php if (isset($this->previous)): 
              $params['page'] = $this->previous;
              ?>
              <li><a href="<?php echo $this->url($this->route, $params); ?>"><?php echo __("previous Page");?></a></li>
            <?php else: ?>
                <li class="disabled"><a><?php echo __("previous Page");?></a></li>
            <?php endif; ?>
             
            <?php foreach ($this->pagesInRange as $page): 
                 $params['page'] = $page;
                 if ($page != $this->current): 
                 ?>
                <li><a href="<?php echo $this->url($this->route, $params); ?>"><?php echo $page ?></a></li>
              <?php else:  
                ?>
                <li class="active"><a href="<?php echo $this->url($this->route, $params); ?>"><?php echo $page ?></a></li>
              <?php endif; ?>
            <?php endforeach; ?>
             
            <!-- Next page link -->
            <?php if (isset($this->next)): 
              $params['page'] = $this->next;
              ?>
              <li><a href="<?php echo $this->url($this->route, $params); ?>"><?php echo __("Next Page");?></a></li>
            <?php else: ?>
                <li class="disabled"><a> <?php echo __("Next Page");?></a></li>
            <?php endif; ?>
        </ul>
    </div>
</div>

<?php endif; ?>
</div>