<?php 
 $user = (array)$this->identity();
echo $this->doctype(); ?>
<html lang="fa">
    <head>
        <?php $this->headMeta()->setCharset('UTF-8'); ?>
        <?php echo $this->headTitle("")->setAutoEscape(false) ?>
        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge') 
        ?>
        <!-- Styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/logos/favicon.ico'))
            ->prependStylesheet($this->basePath('adminTemplate/dist/css/bootstrap-tour.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/dist/css/AdminRTL.css'))
            ->prependStylesheet($this->basePath('adminTemplate/dist/css/AdminLTE.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/dist/css/skins/_all-skins.css'))
            ->prependStylesheet($this->basePath('adminTemplate/plugins/yekan/css/yekan.css'))
            ->prependStylesheet($this->basePath('css/validation.css'))
            ->prependStylesheet($this->basePath('css/select2.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/plugins/ionicons/css/ionicons.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/plugins/font-awesome/css/font-awesome.min.css'))
            ->prependStylesheet($this->basePath('/css/mdb.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/bootstrap/css/bootstrap.min.css'))
            ->prependStylesheet($this->basePath('css/flag-icon.css'))
            ->prependStylesheet($this->basePath('/css/menunew.css'))
            ->prependStylesheet($this->basePath('css/adminStyle.css'))
            ->prependStylesheet($this->basePath('/adminTemplate/plugins/datatables/jquery.dataTables.css'));
        ?>
          <?php echo $this->headScript()
            ->prependFile($this->basePath('/adminTemplate/plugins/datatables/jquery.dataTables.js'))
            ->prependFile($this->basePath('adminTemplate/dist/js/bootstrap-tour.min.js'))
            ->prependFile($this->basePath('adminTemplate/dist/js/admin-script.js'))
            ->prependFile($this->basePath('js/validation/jquery.validationEngine.js'))
            ->prependFile($this->basePath('js/validation/languages/jquery.validationEngine-fa.js'))
            ->prependFile($this->basePath('tinymce/tinymce.min.js'))
            ->prependFile($this->basePath('js/select2.full.min.js'))
            ->prependFile($this->basePath('adminTemplate/dist/js/demo.js'))
            ->prependFile($this->basePath('adminTemplate/dist/js/app.min.js'))
            ->prependFile($this->basePath('adminTemplate/plugins/slimScroll/jquery.slimscroll.min.js'))
            ->prependFile($this->basePath('/js/mdb.min.js'))
            ->prependFile($this->basePath('adminTemplate/bootstrap/js/bootstrap.min.js'))
            ->prependFile($this->basePath('adminTemplate/plugins/jQueryUI/jquery-ui.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/html5shiv.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/index.js'))
            ->prependFile($this->basePath('adminTemplate/plugins/jQuery/jQuery-2.1.4.min.js'));
            ?>
                  <script>
      $(document).ready(function(){
  		$(".choose_color").click(function() {
  	        var style = $(this).attr("data-name");


  	        $.ajax({ 
  	            url: '/application-ajax-request-project1', 
  	            dataType:'json', 
  	            type:'POST',
  	    	      data: 
  	    		      {
  	    		      	 user_id: 0, 
  	    	    		 style: style,
  	    		      },
  	            success: function(data) { 
  	               // alert(data);
  	            	$("body").removeClass();
  	                $("body").addClass("sidebar-mini skin-"+data);
  	            }
  	        })   

  	       /*  .done(function( data ) {
  	        	alert(data);
  	        	$("body").removeClass();
  	            $("body").addClass("sidebar-mini skin-"+data);
  	          });    */
  	    });
  		    
  	});
      </script>
    </head>
    <body class="hold-transition skin-red sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Logo -->
                <a href="/" class="logo">
                  <!-- mini logo for sidebar mini 50x50 pixels -->
                  <span class="logo-mini"><b>Shabdiz</b></span>
                  <!-- logo for regular state and mobile devices -->
<!--                   <span class="logo-lg"><b>Shabdiz </b>Panel</span> -->
                  <span class="logo-lg">
                    <img src="/adminTemplate/dist/img/logo.png" class="" alt="logo" width="80%">
                  </span>
                  
                </a>
                    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <img src="/uploads/avatars/user.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/uploads/avatars/user.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        AdminLTE Design Team
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/uploads/avatars/user.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Developers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/uploads/avatars/user.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Sales Department
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="/uploads/avatars/user.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-primary">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Create a nice theme
                        <small class="pull-right">40%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">40% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Some task I need to do
                        <small class="pull-right">60%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Make beautiful transitions
                        <small class="pull-right">80%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">80% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             <?php if ($user["avatar"]) {?>
                    <img src="/uploads/avatar/<?php echo $user["avatar"];?>" class="user-image" alt="User Image">
                <?php }?>
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <?php 
                       
                        if ($user) {
                           	$userName = $user['username'];
                           	echo "<p>" . $userName . "</p>" ;
                        }
                    ?>
            </a>
            <ul class="dropdown-menu">
              <!-- Menu Body -->
              <li class="user-body">
                   
                <div class="row">
                    <div class="">
                         <ul>
                            <li>
                                <a href="/"><i class="fa fa-home"></i><span>صفحه نخست</span></a>
                            </li>
                            <li>
                                <a href="/admin"><i class="fa fa-dashboard"></i><span>داشبورد</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-user"></i><span>ویرایش پروفایل</span></a>
                            </li>
                            
                        </ul>
                        
                    </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
               <a href="/admin/logout"><i class="fa fa-sign-out"></i><span>خروج</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
                    <!--  <nav id='cssmenu'>
						<div id="head-mobile"></div>
						<div class="button"></div>

						<?php //echo $this->getplugin('menu/index/index' , array('mainindex'));?>

					</nav>-->
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <ul class="sidebar-menu">
                        <li class='header'>
                            <?php echo __("MAIN NAVIGATION")?>
                        </li>
                        <?php 
            				$userPermissions = $this->layout()->userPermissions;
            				$menu = $this->menuGenerator()->getMenu(); 
            				if ($menu && $userPermissions) {
            					foreach ($menu as $item) {
            						$htmlMenu = '';
            						if (isset($item['permission'])) {
            							if (!in_array($item['permission'], $userPermissions)) {
            								 continue;
            							}
            						} 
            						$hasSub = false;
            						$htmlPage = '';
            						if (isset($item['pages'])) {
            							foreach ($item['pages'] as $page) {
            								if (!in_array($page['permission'], $userPermissions)) {
            									continue;
            								}
            								$hasSub = true;
            								$ib = isset($page['iclass']) ? '<i class="'.$page['iclass'].'"></i>' : '';
            								$htmlPage .= "<li><a href='{$page['link']}'>{$ib}<span>{$page['label']}</span></a></li>";
            							}
            						}
            						if ($hasSub) {
            						    $ib = isset($item['iclass']) ? '<i class="'.$item['iclass'].'"></i>' : '';
            							$htmlMenu = "<li class='has-sub treeview'><a href='{$item['link']}'>{$ib}<span>{$item['label']}</span><span class='fa fa-angle-left pull-right'></span></a>
            								<ul class='treeview-menu'>
            									$htmlPage
            								</ul>
            							</li>";
            						} else {
            							if (isset($item['permission'])) {
            							    $ib = isset($item['iclass']) ? '<i class="'.$item['iclass'].'"></i>' : '';
            								$htmlMenu = "<li><a href='{$item['link']}'>{$ib}<span>{$item['label']}</span></a></li>";
            							}
            						}
            						echo $htmlMenu;
            					}
            				}
            			?>
                    </ul>
                </section>
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <?php
    				$flash = $this->flashMessenger();
    				$flash->setMessageOpenFormat('<div%s>
    				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    				    &times;
    				</button>
    				<div>')->setMessageCloseString('</div></div>');
    				
    				if (isset($this->layout()->errorMessage))
    				    echo '<div class="alert alert-dismissable alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>' . $this->layout()->errorMessage .'</div></div>';
    				if (isset($this->layout()->successMessage))
    				    echo '<div class="alert alert-dismissable alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>' . $this->layout()->successMessage .'</div></div>';
    				    echo $flash->render('error', array('alert', 'alert-dismissable', 'alert-danger'));
    				    echo $flash->render('info', array('alert', 'alert-dismissable', 'alert-info'));
    				    echo $flash->render('default', array('alert', 'alert-dismissable', 'alert-warning'));
    				    echo $flash->render('success', array('alert', 'alert-dismissable', 'alert-success'));
    	        ?>
    	        <!-- quick access -->
    	        <!-- ======================= IMPORTANT SHORTCUT ======================= -->
    	        <section class="content" style="padding:0">
                    <section id="important-shortcut" style="padding:15px 15px 0">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                              <h3 class="box-title"> <?php echo __("Important shortcut")?></h3>
                
                              <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                              </div>
                            </div>
                            <!-- /.box-header -->
                           <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                         <a href="/admin/deposit-list" class="btn btn-app">
                                            <i class="fa fa-money"></i><?php echo __("deposit management")?>
                                          </a>
                                    </div>
                                   
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                        <a href="/admin-block/list-blocks" class="btn btn-app">
                                            <i class="fa fa-square"></i> <?php echo __("Block management")?>
                                          </a>
                                    </div>
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                        <a href="/admin-user" class="btn btn-app">
                                            <i class="fa fa-user"></i> <?php echo __("User management")?>
                                          </a>
                                    </div>                            
                                </div>
                                <!--  <div class="row">
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                         <a href="/admin-gallery/list-galleries" class="btn btn-app">
                                            <i class="fa fa-image"></i><?php echo __("Gallery management")?>
                                          </a>
                                    </div>
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                         <a href="/admin-video-gallery/list-video-galleries" class="btn btn-app">
                                            <i class="fa fa-file-video-o"></i> <?php echo __("Video gallery management")?>
                                          </a>
                                    </div>
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                        <a href="/admin-slideshow" class="btn btn-app">
                                            <i class="fa fa-file-image-o"></i> <?php echo __("Slideshow management")?>
                                          </a>
                                    </div>
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                        <a href="/admin-page/add-page" class="btn btn-app">
                                            <i class="fa fa-file-o"></i><?php echo __("Pages management")?>
                                          </a>
                                    </div>
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                         <a href="/admin-menu" class="btn btn-app">
                                            <i class="fa fa-bars"></i> <?php echo __("Menus management")?>
                                          </a>
                                    </div>
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                          <a href="/admin-user" class="btn btn-app">
                                            <span class="badge bg-yellow">3</span>
                                            <i class="fa fa-user"></i> <?php echo __("Users management")?>
                                          </a>
                                    </div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                        <a href="/admin-block/list-blocks" class="btn btn-app">
                                            <span class="badge bg-yellow">3</span>
                                            <i class="fa fa-square"></i> <?php echo __("Block management")?>
                                          </a>
                                    </div>
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                          <a href="/admin-link" class="btn btn-app">
                                            <span class="badge bg-green">300</span>
                                            <i class="fa fa-link"></i> <?php echo __("Links management")?>
                                          </a>
                                    </div>
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                         <a href="/admin-blog" class="btn btn-app">
                                            <span class="badge bg-purple">891</span>
                                            <i class="fa fa-file-text-o"></i> <?php echo __("Blog management")?>
                                          </a>
                                    </div>
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                        <a href="/admin-shop" class="btn btn-app">
                                            <span class="badge bg-teal">67</span>
                                            <i class="fa fa-shopping-basket"></i> <?php echo __("Shop management")?>
                                          </a>
                                    </div>
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                         <a href="/admin-ourservices" class="btn btn-app">
                                            <span class="badge bg-aqua">12</span>
                                            <i class="fa fa-cogs"></i> <?php echo __("Our Services management")?>
                                          </a>
                                    </div>
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                         <a href="/admin-faq" class="btn btn-app">
                                            <span class="badge bg-green">50</span>
                                            <i class="fa fa-question"></i> <?php echo __("Faq management")?>
                                          </a>
                                    </div>
                                </div>-->
                              
                            </div>
                    </div>
                </section>
    <!-- Modal Failed-->
<div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><?php echo __("Error message");?><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </h4>
        
        
      </div>
      <div class="modal-body">
         <div class="alert alert-danger" style="text-align:center">
          <strong><?php echo __("Operation failed!");?></strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-alert-ok" data-dismiss="modal"><?php echo __("Ok");?></button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Success-->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><?php echo __("Success message");?>
        <i class="fa fa-check-circle" aria-hidden="true"></i>
         </h4>
        
        
      </div>
      <div class="modal-body">
      <div class="alert alert-success" style="text-align:center">
          <strong><?php echo __("Operation done successfully.");?></strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-alert-ok" data-dismiss="modal"><?php echo __("Ok");?></button>
      </div>
    </div>
  </div>
</div>
    <!-- end of shortcut -->
                <?php echo $this->content; ?>
                </section>
            </div>
            
            <footer class="main-footer">
                <strong>Copyright &copy; 2015-<?php echo date("Y")?> <a target="_blank" href="http://shabdiznet.com">shabdiz</a>.</strong> All rights reserved.
            </footer>

    </body>
</html>
