<?php  
	use Application\Form\LoginForm;
echo $this->doctype(); 
?>
<html>
    <head>
        <?php $this->headMeta()->setCharset('UTF-8'); ?>
        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge') ?>
        <?php echo $this->headTitle("")->setAutoEscape(false) ?>
        <!-- Styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/logos/favicon.ico'))
                    ->prependStylesheet($this->basePath('/js/validator/css/validation.css'))
                    ->prependStylesheet($this->basePath('/css/user-style.css'))
                    ->prependStylesheet($this->basePath('/css/style.css'))
                    ->prependStylesheet($this->basePath('/css/skin.css'))
                    ->prependStylesheet($this->basePath('/css/yekan.css'))
                    ->prependStylesheet($this->basePath('/css/flag-icon.css'))
        ; ?>
        <link rel="stylesheet" href="<?php echo "/css/" . $this->layout()->direction .".css" ;?>" />
        <!-- Styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/logos/favicon.ico'))
            ->prependStylesheet($this->basePath('adminTemplate/dist/css/UserRTL.css'))
            ->prependStylesheet($this->basePath('adminTemplate/dist/css/AdminRTL.css'))
            ->prependStylesheet($this->basePath('adminTemplate/dist/css/AdminLTE.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/dist/css/skins/_all-skins.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/plugins/yekan/css/yekan.css'))
            ->prependStylesheet($this->basePath('js/validator/css/validation.css'))
            ->prependStylesheet($this->basePath('css/select2.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/plugins/ionicons/css/ionicons.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/plugins/font-awesome/css/font-awesome.min.css'))
            ->prependStylesheet($this->basePath('adminTemplate/bootstrap/css/bootstrap.min.css'));
        ?>
        <?php 
        $valLang = "en";
        if ($this->layout()->lang == "fa") {
            $valLang = "fa";
        }
        ?>
          <?php echo $this->headScript()
            ->prependFile($this->basePath('adminTemplate/dist/js/admin-script.js'))
            ->prependFile($this->basePath('js/validator/js/jquery.validationEngine.js'))
            ->prependFile($this->basePath('js/validator/languages/jquery.validationEngine-' . $valLang . 'en.js'))
            ->prependFile($this->basePath('/tinymce/tinymce.min.js'))
            ->prependFile($this->basePath('/js/select2.full.min.js'))
            ->prependFile($this->basePath('adminTemplate/dist/js/demo.js'))
            ->prependFile($this->basePath('adminTemplate/dist/js/app.min.js'))
            ->prependFile($this->basePath('adminTemplate/plugins/slimScroll/jquery.slimscroll.min.js'))
            ->prependFile($this->basePath('adminTemplate/bootstrap/js/bootstrap.min.js'))
            ->prependFile($this->basePath('adminTemplate/plugins/jQueryUI/jquery-ui.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/html5shiv.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('adminTemplate/plugins/jQuery/jQuery-2.1.4.min.js'))
         
            ?>
        <meta name="author" content="shabdiznet.com">
        <meta name="googlebot" content="noindex">
        <style>
            .sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li {
                margin: -12px 0px;
            }
        </style>
        <!--[if IE]>
    <style>
        .basket{
        	height: 55px;
        	position: rel;
        }
        .basket-price, .basket-title {
        	top:-24px;
        }
        </style>
<![endif]-->
        <style>
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
 .basket{
        	height: 55px;
        	position: rel;
        }
        .basket-price, .basket-title {
        	top:-24px;
        }
}
        </style>
    </head>
    <body id='<?php echo $this->layout()->direction; ?>' class="<?php //echo $this->layout()-> ?>">
    <!-- ==================== header ==================== -->
    <header id="header">
        <div class="sl-direction container">
            <div class="pull-right">
                <!--  <span class="flag" style="display:inline-block">-->
                  <?php //echo $this->getPlugin('block/index/index', array('position' => "flag")); ?>
<!--                 </span> -->
                <ul class="list-inline">
				     <li class="user-name">
<!-- 					   <i class="fa fa-home" aria-hidden="true"></i> 
					   <a href="/admin"><?php //echo __("Admin panel home"); ?></a>-->
					    <i class="fa fa-user" aria-hidden="true"></i>
					   <?php echo __("Hello,"); ?>
					   <?php 
                                $user = (array)$this->identity();
                                if ($user) {
                                   	$userName = $user['username'];
                                   	echo "" . $userName . "" ;
                                }
                            ?>
					</li>
					<li class="header-login">
                       <i class="fa fa-bars" aria-hidden="true"></i>
					   <a href="javascript:void(0)"><?php echo __("Access Menu"); ?></a>
					   <span class="header-login-block">
					   <div class="user-panel">
                            <?php 
                                $user = (array)$this->identity();
                                if ($user) {
                                   	$userName = $user['username'];
                                   	echo "<p>" . $userName . "</p>" ;
                                }
                            ?>
                        <div class="pull-left info">
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                         <?php if ($user["avatar"]) {?>
                        <div class="pull-left image">
                            <img src="/uploads/avatar/<?php echo $user["avatar"];?>" class="img-circle" alt="User Image">
                        </div>
                         <?php }?>
                        
                    </div>
					     <ul class="sidebar-menu">
                        <li class='header'>
                            <?php echo __("MAIN NAVIGATION")?>
                        </li>
                        <?php 
            				$userPermissions = $this->layout()->userPermissions;
            				$menu = $this->menuGenerator()->getMenu(); 
            				if ($menu && $userPermissions) {
            					foreach ($menu as $item) {
            						$htmlMenu = '';
            						if (isset($item['permission'])) {
            							if (!in_array($item['permission'], $userPermissions)) {
            								 continue;
            							}
            						} 
            						$hasSub = false;
            						$htmlPage = '';
            						if (isset($item['pages'])) {
            							foreach ($item['pages'] as $page) {
            								if (!in_array($page['permission'], $userPermissions)) {
            									continue;
            								}
            								$hasSub = true;
            								$ib = isset($page['iclass']) ? '<i class="'.$page['iclass'].'"></i>' : '';
            								$htmlPage .= "<li><a href='/{$this->lang}{$page['link']}'>{$ib}<span>{$page['label']}</span></a></li>";
            							}
            						}
            						if ($hasSub) {
            						    $ib = isset($item['iclass']) ? '<i class="'.$item['iclass'].'"></i>' : '';
            							$htmlMenu = "<li class='has-sub treeview'><a href='/{$this->lang}{$item['link']}'>{$ib}<span>{$item['label']}</span><span class='fa fa-angle-left pull-right'></span></a>
            								<ul class='treeview-menu'>
            									$htmlPage
            								</ul>
            							</li>";
            						} else {
            							if (isset($item['permission'])) {
            							    $ib = isset($item['iclass']) ? '<i class="'.$item['iclass'].'"></i>' : '';
            								$htmlMenu = "<li><a href='/{$this->lang}{$item['link']}'>{$ib}<span>{$item['label']}</span></a></li>";
            							}
            						}
            						echo $htmlMenu;
            					}
            				}
            			?>
                    </ul>
					   </span>
					</li>
                
            </div>
            
			<div class="pull-left">
				<ul class="list-inline">
				<li>
					   <div class="flag sss">
                        <?php echo $this->getPlugin('block/index/index', array('position' => "flag")); ?>
                        </div>
					</li>
					
					<li class="">
					   <i class="fa fa-sign-out" aria-hidden="true"></i>
					   <a href="/admin/logout"><?php echo __("Log out"); ?></a>
					</li>
				</ul>
			</div>
		</div>
	</header><!-- ./#header -->
	<!-- ==================== top ==================== -->
		<!-- ==================== top ==================== -->
    <div class="main-border">
	<section id="top">
		<div class="sl-direction container">
			<div class="row">
				<div class="col-xs-12 col-md-2 col-xm-2 col-lg-2 text-center">
					<div class="logo">
					   <?php echo $this->getPlugin('block/index/index', array('position' => "logo")); ?>
					</div>
				</div>
				<div class="col-xs-12 col-md-7 col-xm-7 col-lg-7 text-center">
					<div class="searchbox" style="display:none" id="div2">
    					<form method="GET" action="/search" >
    						<div class="input-group1"> 
        						 
        							<input type="text" name="search_fieldOfStudy" class="form-control search_fieldOfStudy validate[minSize[3]]" placeholder="<?php echo __("Cadafzar"); ?>"> 
        							<input type="text" name="search_toolbar" class="form-control search_product validate[minSize[3]]" placeholder="<?php echo __("Toolbar"); ?>">
        							<input type="text" name="search_instructor" class="form-control search_instructor validate[minSize[3]]" placeholder="<?php echo __("Professor"); ?>">
        							<span class="input-group-btn search-ltr2" > 
        								<input type="submit" class="btn btn-gradient" value="<?php echo __("Search"); ?>">
        							</span> 
        						
    						</div>
						
						 <!-- advanced search link -->
    					<span class="advanced-search-btn2" > 
            					<input  id="triggerButton2" type="submit" class="btn btn-gradient" value="<?php echo __("Normal Search"); ?>">
            			</span>
            			</form>
					</div>
                    <!-- search2 -->
                    <div class="searchbox2" id="div1" >
    					<form method="GET" action="/search" >
    						<div class="input-group2"> 
        						
        							<input type="text" name="search" class="form-control validate[minSize[3]]" placeholder="<?php echo __("Search product, instructor..."); ?>">
        						
        							<span class="input-group-btn search-ltr" > 
        								<input type="submit" name="search_submit" class="btn btn-gradient" value="<?php echo __("Search"); ?>">
        							</span> 
        						
    						</div>
						
                        <!-- advanced search link -->
    					<span class="advanced-search-btn" > 
            					<input  id="triggerButton" type="submit" name="search_submit" class="btn btn-gradient" value="<?php echo __("Advanced Search"); ?>">
            			</span>
            			</form>
					</div>
				</div>
				<a href ="/<?php echo $this->lang;?>/shop/show-card" />
    				<div class="col-xs-12 col-md-3 col-xm-3 col-lg-3 text-center">
    					<div class="basket pull-left">
    						<span class="basket-price basketTotalQuantity"><?php echo $this->totalQuantity;?></span>
    						<span class="basket-title"><?php echo __("Basket"); ?></span>
    						<button class="basket-button"></button>
    						<img id="loading-image" src="/images/loading.gif" style="display:none"/>
    						<table class="basket-details">
        						
        						
        					</table>
    					</div>
    				</div>
    			</a>
			</div>
		</div>
	</section><!-- ./#top -->
    <!-- ==================== navigation ==================== -->
	<nav id="navigation">
	    <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
          </div>
          <div class="navbar-collapse collapse">
    		<div class="sl-direction container">
                <?php echo $this->getPlugin('menu/index/index', array("mainindex")); ?>
    		</div>
		</div>
	</nav><!-- ./#navigation -->
	</div>
	<div class="container">
    	<?php 
            
            $flash = $this->flashMessenger();
            $flash->setMessageOpenFormat('<div%s>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
            <div>')->setMessageCloseString('</div></div>');
            if (isset($this->layout()->errorMessage))
                echo '<div class="alert alert-dismissable alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>' . $this->layout()->errorMessage .'</div></div>';
            if (isset($this->layout()->successMessage))
                echo '<div class="alert alert-dismissable alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>' . $this->layout()->successMessage .'</div></div>';
            echo $flash->render('error', array('alert', 'alert-dismissable', 'alert-danger'));
            echo $flash->render('info', array('alert', 'alert-dismissable', 'alert-info'));
            echo $flash->render('default', array('alert', 'alert-dismissable', 'alert-warning'));
            echo $flash->render('success', array('alert', 'alert-dismissable', 'alert-success'));
    
        ?>
        <!-- Modal Failed-->
<div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><?php echo __("Error message");?><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </h4>
        
        
      </div>
      <div class="modal-body">
         <div class="alert alert-danger" style="text-align:center">
          <strong><?php echo __("Operation failed!");?></strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-alert-ok" data-dismiss="modal"><?php echo __("Ok");?></button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Success-->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><?php echo __("Success message");?>
        <i class="fa fa-check-circle" aria-hidden="true"></i>
         </h4>
        
        
      </div>
      <div class="modal-body">
      <div class="alert alert-success" style="text-align:center">
          <strong><?php echo __("Operation done successfully.");?></strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-alert-ok" data-dismiss="modal"><?php echo __("Ok");?></button>
      </div>
    </div>
  </div>
</div>
    </div>
    <div class="admin-content">
<!-- -------------------------------------------------------------------------------------------------------------------------- -->
     <div class="sl-direction container">
	    <section class="main-content product-list">
		         <article class="main-content-article">
                            <div class="wrapper">
                                    <!-- Content Wrapper. Contains page content -->
                                    <?php echo $this->content; ?>
                                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            </div>      
                      </article>
            </section>
    </div>
 <!-- ------------------------------------------------------------------------------------------------------------ -->   
    </div>

	<!-- ==================== footermid ==================== -->
	<section id="footermid">
		<div class="sl-direction container">
			<div class="row">
				<div class="col-lg-7">
					<div class="footermid-logan">
					   <?php echo $this->getPlugin('block/index/index', array('position' => "footerlogan")); ?>
					</div>
					<div class="footermid-email">
					   <?php echo $this->getPlugin('block/index/index', array('position' => "footeremail")); ?>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="newsletter-box">
						<div class="enamad">
							<img src="/images/enamad.png" alt="" />
						</div>
						<div class="newsletter">
                            <?php echo $this->getPlugin('block/index/index', array('position' => "Newslettertitle")); ?>
							<div class="newsletter-form">
								<input class="form-control" type="Text" />
							</div>
							<div class="sl-align-center">
								<button class="btn btn-primary">عضویت در خبرنامه</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ==================== footerbot ==================== -->
	<footer id="footerbot">
		<div class="sl-direction container">
			<div class="pull-right">
				<div class="copyright">
					<a href="#">Copyright © 2015</a>  | <a href="#">Shabdiznet.com</a>
				</div>
			</div>
			<div class="pull-left">
                <div class="sl-direction reserved">
                    <?php echo $this->getPlugin('link/index/index',array('layout'=>'social', 'position'=>'social')); ?>
                </div>
			</div>

		</div>
	</footer>
	<script>
    $(document).ready(function(){
    	$(".registrationForm").validationEngine();
    	$(".searchForm").validationEngine();
    	$('.show_password').click(function(){
            if($(this).prop("checked") == true){
            	$(this).parents('.registrationForm').find('.password_signup').prop('type', 'text');
            }
            else if($(this).prop("checked") == false){
            	$(this).parents('.registrationForm').find('.password_signup').prop('type', 'password');
            }
        });

    	$('.rules_register').click(function(){
            if($(this).prop("checked") == true){
            	$(this).parents('.registrationForm').find('.register_button').attr('disabled',false);
            }
            else if($(this).prop("checked") == false){
            	$(this).parents('.registrationForm').find('.register_button').attr('disabled',true);
            }
        });
     
    	$(".basket").mouseenter(function() {
         	 $("#loading-image,.basket-details").show();
         	 $.ajax({ 
               url: '/shop-get-basket-details', 
               type:"POST", 
  	         async: true, 
               success: function(data) { 
              	 $("#loading-image").hide();
              	 $(".basket-details").html(data);
               }
           }); 
          }).mouseleave(function() {
          $(".basket-details").hide();
          });
        
        $(".scroll-top").click(function(){
        	$('html, body').animate({scrollTop : 0},1000);
    		return false;
            });
        window.onload = function(){
            document.getElementById('close').onclick = function(){
                this.parentNode.parentNode.parentNode
                .removeChild(this.parentNode.parentNode);
                return false;
            };
        };
        //register
            $(".footer-contact-form-header").click(function(){
                $(".footer-contact-form-body").slideToggle();
                $("#lz_eye_catcher").hide();
                });

    
        	$('input[name="rules"]').click(function(){
                if($(this).prop("checked") == true){
               	 $('#register').attr('disabled',false);
                }
                else if($(this).prop("checked") == false){
                	$('#register').attr('disabled',true);
                }
            });
        });

      //fade in-fade out search box
        $('#triggerButton').click(function(e){
            e.preventDefault();
            $('#div1').fadeOut('fast', function(){
                $('#div2').fadeIn('fast');
            });
        });
        $('#triggerButton2').click(function(e){
            e.preventDefault();
            $('#div2').fadeOut('fast', function(){
                $('#div1').fadeIn('fast');
            });
        });
        //fixed menu
        $(document).ready(function(){
      	   $(window).bind('scroll', function() {
        		 if (document.documentElement.clientWidth > 900) {
              	   var navHeight = $( window ).height() - 70;
              			 if ($(window).scrollTop() > navHeight) {
              				 $('.main-border').addClass('fixed');
              			 }
              			 else {
              				 $('.main-border').removeClass('fixed');
              			 }
       		      } 
            });
      	  
      	}); 

	</script>

    </body>
</html>