<?php
$this->headScript()->appendFile($this->basePath('/tinymce/tinymce.min.js'));
	if ($this->error) {
		echo '<br><div class="alert alert-danger" role="alert">' . $this->error . '</div>';
	}
?>
<section class="content-header">
    <h1>
        <?php echo __('Edit services type'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit services type'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit services type");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
			<?php
			$form = $this->form;
			$form->prepare();
			echo $this->form()->openTag($form);
            ?>
            <div class="row">
                <div class="col-lg-7">
                	
    				<div class="form-group">
    					<label class="control-label"><?php echo $this->formLabel($form->get('title')); ?></label>
    			    	<?php echo $this->formElement($form->get('title'));
    			    	echo $this->formElementErrors($form->get("title")); ?>
    				</div>	
    				<div class="form-group">
    					<label class="control-label"><?php echo $this->formLabel($form->get('status')); ?></label>
    			    	<?php echo $this->formElement($form->get('status'));
    			    	echo $this->formElementErrors($form->get("status")); ?>
    				</div>	
    				<div class="form-group">
    					<label class="control-label"><?php echo $this->formLabel($form->get('office_status')); ?></label>
    			    	<?php echo $this->formElement($form->get('office_status'));
    			    	echo $this->formElementErrors($form->get("office_status")); ?>
    				</div>
    				<div class="form-group pull-left">
        				<?php 
        				echo $this->formElement($form->get('submit'));
        				?>
        				<?php 
        					//echo $this->formElement($productCategoriesForm->get('csrf'));
        					//echo $this->formElementErrors($productCategoriesForm->get("csrf"));
        					//echo $this->formElement($productCategoriesForm->get('submitreturn'));
        				?>
        			 	<a href="/<?php echo $this->layout()->lang;?>/admin-printservices/services-types" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>    		
        				<script>
        					$(document).ready(function(){
        						$('a.back').click(function(){
        						    parent.history.back();
        						    return false;
        						});
        					});
        				</script>
    				</div>
                </div>
            </div>
            <?php 	echo $this->form()->closeTag(); ?>
		</div>
	</div>
</section>
<script>
$("#image").on('change', function () {
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $("#image-holder1");
    image_holder.empty();
    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
            for (var i = 0; i < countFiles; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                            "class": "thumb-image"
                    }).appendTo(image_holder);
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
            }
        } else {
            alert("<?php echo __("This browser does not support FileReader");?>.");
        }
    } else {
        alert("<?php echo __("Please choose only images");?>");
    }
});
$('document').ready(function(){
       $("#shopCategoriesForm").validationEngine(); 
       $('#submit').click(function(e){ 
          // e.preventDefault();
           if($("#shopCategoriesForm").validationEngine('validate')) 
           {
          	   $("#shopCategoriesForm").submit();
           }
       });

	$('#shop-category-attribute-group-id').select2({
	    dir: "rtl"
	  });
	$(".showHide").hide();
    $("#shop-category-parent-id").change(function(){
    	if ($(this).val() == 0) {
    		$(".showHide").slideUp(1000);
    	} else {
    		$(".showHide").slideDown(1000);
    	}
    });
    $("#shop-category-parent-id").change();
});
</script>
<script type="text/javascript">
    $("#tag-title").select2({
      tags: true,
      dir: "rtl"
    });

 
    function ajaxupload(fileupload, imageholder) {
    	$(fileupload).on('change', function () {
    	    var countFiles = $(this)[0].files.length;
    	    var imgPath = $(this)[0].value;
    	    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    	    var image_holder = $(imageholder),
    	    	id = '#'+$(this)[0].id,
    	    	basename = $(this)[0].name
    	    	name = basename.split('[')[0];
    	    image_holder.empty();

    	    

    	    
    	    if(name == 'pdf'){ 
    	    	if (extn == "pdf") {    
        	    	$(id).parent().before(imgPath);     
    	    	}	
    	    	else{
    	    			alert("<?php echo __("Please choose only pdf");?>");
    	    	}    
    	    }
    	    else if(name == 'video'){
    	    	if (extn == "mpeg" || extn == "avi" || extn == "mp4" ||extn == "mp3") {   
    	    		$(id).parent().before(imgPath);  
    	    	}
    	    	else{
	    			alert("<?php echo __("Please choose only video");?>");
    	    	}  
    	    }
    	    else {
    	    	if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
      	      	  //  	console.log(fileupload, imageholder,FileReader);
  	      	        if (typeof (FileReader) != "undefined") {
  	      	            for (var i = 0; i < countFiles; i++) {
  	      	                var reader = new FileReader();
  	      	                reader.onload = function (e) {
  	      	                    $("<img />", {
  	      	                        "src": e.target.result,
  	      	                            "class": "thumb-image"
  	      	                    }).appendTo(image_holder);
  	      	                }
  	      	                image_holder.show();
  	      	                reader.readAsDataURL($(this)[0].files[i]);    
  	      	            }
  	      	        } else {
  	      	            alert("<?php echo __("This browser does not support FileReader");?>.");
  	      	        }
  	      	    } else {
  	      	        alert("<?php echo __("Please choose only images");?>");
  	      	    }
        	} 
    	});
    	}


	
    
    $('document').ready(function(){

    	tinymce.init({
        	directionality : 'rtl',
        	height: 200,
            plugins: [
                      "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                      "searchreplace visualblocks visualchars code fullscreen",
                      "insertdatetime media nonbreaking save table contextmenu directionality",
                      "emoticons template paste textcolor colorpicker textpattern imagetools responsivefilemanager"
                  ],
            selector: "#description",
          	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons  fontsizeselect",
          	relative_urls: false,
          	external_filemanager_path:"/filemanager/",
            filemanager_title:"Responsive Filemanager" ,
            external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
        });
                       		
    });
    
</script>
<!-- tour guide -->
