<?php
$this->headScript()->appendFile($this->basePath('/tinymce/tinymce.min.js'));
$this->headScript()->appendFile('/js/select2.full.min.js');
	if ($this->error) {
		echo '<br><div class="alert alert-danger" role="alert">' . $this->error . '</div>';
	}
?>
<section class="content-header">
    <h1>
        <?php echo __('Add new service'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new service'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Add new service");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
			<?php
			$attributesForm = $this->attributesForm;
			$attributesForm->prepare();
			echo $this->form()->openTag($attributesForm);
            ?>
            <div class="row">
                <div class="col-lg-5">
                     <!--  help -->
                     <fieldset class="help-form">
                        <legend style="width:75%">
                          راهنمای ایجاد یا ویرایش گروه محصولات
    					</legend>
						<p>
						شما می توانید محصولات خود را در این بخش دسته بندی نمائید، به این صورت که گروه های محصولات را اینجا ایجاد کنید و در مرحله ایجاد محصول ، هر محصول را به یک گروه اختصاص دهید
						  <br/>
						  1- ابتدا زبانی که قرار است گروه محصولات و محصولات درآ ن به نمایش در بیاید را مشخص میکنیم
						  <br/>
						  2-منظور از گروه والد این است که شما میخواهید گروهی که ایجاد میکنید گروه اصلی باشد یا زیر گروه یکی از گروه های دیگر، در اینجا باید در صورتی که زیر مجموعه گروه دیگری است ،نام آن را انتخاب کنید
						  <br/>
						  3-نوع ویژگی برای زمانی است که محصولاتتون شامل دو نوع مجازی و واقعی هستند، در حالت پیش فرض این گزینه را روی real قرار دهید
						  <br/>
						  4-گروه ویژگی ، همان ویژگی های اختصاصی هستند که در بخش مدیریت ویژگی ها به محصول اعمال کردیم، در صورتی که محصول شما ، ویژگی خاصی ندارد ، میتوانید به همان ویژگی های اصلی بسنده کنید،در غیر اینصورت ویژگی های دیگر را نیز با کلیک بر روی آن به این بخش اضافه کنید
						  <br/>
						  5- در بخش نام گروه، باید نام یا عنوانی را به گروه خود اختصاص دهید
						  <br/>
						  6-در صورتی که گروه شما دارای توضیحات خاصی است،آن را در بخش توضیحات وارد میکنید
						  <br/>
						  7-آیکن، برای اختصاص دادن یک آیکن یا تصویر به گروه مورد نظر است،گاهی در سایت نیاز است که گروه را با یک تصویر نمایش دهید
						  <br/>
						 8-فیلد وضعیت ، فعال یا غیرفعال بودن یک گروه را مشخص میکند، از این لحاظ که آیا این گروه را در دسترس کاربران
						 </p>
					 </fieldset>
                </div>
                <div class="col-lg-7">
                	<div class="form-group" id="tour4">
    					<label class="control-label"><?php echo $this->formLabel($attributesForm->get('type_id')); ?></label>
    			    	<?php echo $this->formElement($attributesForm->get('type_id'));
    			    	echo $this->formElementErrors($attributesForm->get("type_id")); ?>
    				</div>	
    				<div class="form-group" id="tour4">
    					<label class="control-label"><?php echo $this->formLabel($attributesForm->get('parent_id')); ?></label>
    			    	<?php echo $this->formElement($attributesForm->get('parent_id'));
    			    	echo $this->formElementErrors($attributesForm->get("parent_id")); ?>
    				</div>	
                	<div class="form-group" id="tour4">
    					<label class="control-label"><?php echo $this->formLabel($attributesForm->get('print_service_id')); ?></label>
    			    	<?php echo $this->formElement($attributesForm->get('print_service_id'));
    			    	echo $this->formElementErrors($attributesForm->get("print_service_id")); ?>
    				</div>	
    				<div class="form-group" id="tour4">
    					<label class="control-label"><?php echo $this->formLabel($attributesForm->get('title')); ?></label>
    			    	<?php echo $this->formElement($attributesForm->get('title'));
    			    	echo $this->formElementErrors($attributesForm->get("title")); ?>
    				</div>	
    					
    				<div class="form-group pull-left" id="tour7">
        				<?php 
        				echo $this->formElement($attributesForm->get('submit'));
        				?>
        				<?php 
        					//echo $this->formElement($productCategoriesForm->get('csrf'));
        					//echo $this->formElementErrors($productCategoriesForm->get("csrf"));
        					//echo $this->formElement($productCategoriesForm->get('submitreturn'));
        				?>
        			 	<a href="/<?php echo $this->layout()->lang;?>/admin-printservices/attributes-list" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>    		
        				<script>
        					$(document).ready(function(){
        						$('a.back').click(function(){
        						    parent.history.back();
        						    return false;
        						});
        					});
        				</script>
    				</div>
                </div>
            </div>
            <?php 	echo $this->form()->closeTag(); ?>
		</div>
	</div>
</section>

<script type="text/javascript">
// $(document).ready(function() {
// 	var val = $('#parent_id').val();
// 	$.ajax({
//         type:'POST',
//         url:'/admin-printservices/get-child',
//         data:{'id':val},
//         success:function(data){
//        	 	var data = JSON.parse(data);
//             var options = '';
//         	$.each(data, function(key, value) { 
//         		options += '<option value ="'+ value.id +'">' + value.title + '</option>';	
//         	});
//         	$('#print_service_id').append(options);
// //         	$('.print-services').removeClass("hidden");
// //         	$('.attr-input').removeClass("hidden");
//         }
//     });
// });
$('#print_service_id').select2();
// $('#title').select2();
$('#title').select2({
    tags: true,
    tokenSeparators: [","],
    createTag: function (tag) {
        return {
            id: tag.term,
            text: tag.term,
            isNew : true
        };
    }
}).on("select2:select", function(e) {
    if(e.params.data.isNew){
        $('#console').append('<code>New tag: {"' + e.params.data.id + '":"' + e.params.data.text + '"}</code><br>');
        $(this).find('[value="'+e.params.data.id+'"]').replaceWith('<option selected value="'+e.params.data.id+'">'+e.params.data.text+'</option>');
    }
});

    
</script>