
<h4><?php echo __('Users comments list');?></h4>

<table class="table table-bordered table-striped">
  <tr>
   <th class="td-sm">#</th>
   <th>نام</th>
   <th>ایمیل</th>
   <th>تلفن</th>
   <th>متن</th>
   <th class="td-sm">حذف</th>
  </tr>
  <?php  
  		if($this->servicess) {
  			foreach ($this->servicess as $counter => $services) {  
  			    
			  ?>				
			    <tr>
				    <td><?php echo ++$counter ?></td>
				    <td><?php echo $this->escapeHtml($services['name']); ?></td>
				    <td><?php echo $this->escapeHtml($services['email']); ?></td>
				    <td><?php echo $this->escapeHtml($services['tel']); ?></td>
				    <td><?php echo $this->escapeHtml($services['text']); ?></td>
				    <td><a class="btn btn-xs btn-danger delete-btn" href="<?php echo $this->url('services-admin', array(
				    		'id'         => $services['id'],
				    		'controller' => 'admin',
				    		'action'     => 'delete-services',
				    		'token'      => $this->csrf
				    )); ?>"><span class="glyphicon glyphicon-remove"></span></a></td>
			  </tr> 
			  <?php 
  		}
  	}
  ?>   
</table>
<!-- Modal HTML -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <h5>آیا مطمئن هستید که قصد حذف این متن را دارید؟</h5>
                    <p>توجه داشته باشید که در صورت حذف متن، امکان بازگرداندن آن وجود نخواهد داشت.</p>
                </div>
                <div class="modal-footer">
                    <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#">آری، قصد حذف این متن را دارم</a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $('.delete-btn').click(function(e) {
        e.preventDefault();
        $('#modal').modal();
        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
    });
</script> 
<?php 
	echo $this->inlineScript()->prependFile($this->basePath('/js/bootstrap.min.js'));
?> 
