<?php
use Application\Helper\Jdates;
$jdate = new Jdates();
	if ($this->error) {
		echo '<br><div class="alert alert-danger" role="alert">' . $this->error . '</div>';
	}
?>
<section class="content-header">
    <h1>
        <?php echo __('Orders List'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Orders List'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Orders List");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
			<div class="filter-box">
				<button class="filter-btn btn btn-default" id="all" data-value="all"><?php echo __('all'); ?></button>
				<button class="filter-btn btn btn-default" id="requested" data-value="requested"><?php echo __('requested'); ?></button>
				<button class="filter-btn btn btn-default" id="checking" data-value="checking"><?php echo __('checking'); ?></button>
				<button class="filter-btn btn btn-default" id="sent" data-value="sent"><?php echo __('sent'); ?></button>
			</div>
            <div class="row">
                <div class="col-lg-12">
                     <table style="margin-top: 15px;" class="table table-striped table-hover clear form-inline" id="order">
                        <thead>
                            <tr>
                                <th><strong>#</strong></th>
                                <th><strong><?php echo  __('سفارش دهنده')?></strong></th>
                                <th><strong><?php echo  __('سفارش گیرنده')?></strong></th>
                                <th><strong><?php echo  __('Total Price')?></strong></th>
                                <th><strong><?php echo  __('Delivery Type')?></strong></th>
                                <th><strong><?php echo  __('Delivery Price')?></strong></th>  
                                <th><strong><?php echo  __('Order Created')?></strong></th> 
                                <th><strong><?php echo  __('Status')?></strong></th> 
                                <th><strong><?php echo  __('Operations')?></strong></th> 
                            </tr>
                        </thead>
                      <tbody>
                  	  <?php foreach ($orders as $key => $order){ ?>
                          <tr>
                      		    <td>
                        			<?php echo $key + 1 ; ?>
                        		</td>
                        		<td>
                        			<?php echo $order['username']; ?>
                        		</td>	
                        		<td>
                        			<?php 
                        			if(empty($order['office_name'])){
                        			    echo 'کف بازار'; 
                        			}else{
                        			    echo $order['office_name']; 
                    			    }
                        			?>
                        		</td>	
                        		<td>
                        			<?php echo $order['total_price']; ?>
                        		</td>	
                        		<td>
                        			<?php echo __($order['delivery_type']); ?>
                        		</td>	
                        		<td>
                        			<?php echo $order['delivery_price']; ?>
                        		</td>	
                        		<td>
                        		<?php 
                            		$date = strtotime($order['created']);
                                    $dateArr = Jdates::gregorian_to_jalali(date('Y',$date), date('m',$date), date('d',$date));
                                    echo $dateArr[0] . '/' .  $dateArr[1] . '/' .  $dateArr[2];
                        		?>
                        		</td>	
                        		<td>
                        			<?php echo __($order['status']); ?>
                        		</td>
                        		<td>
                        			<a href="/admin-printservices/view-order/id/<?php echo $order['id']?>" ><i class="fa fa-file-o"></i></a>
                        			<a class="status-btn" data-toggle="modal" data-id="<?php echo $order['id']?>" data-target="#order-status" ><i class="glyphicon glyphicon-check"></i></a>
                        		</td>
                          </tr>
                      <?php } ?>
                      </tbody>
                      </table>
                </div>
            </div>
		</div>
	</div>
</section>
<!-- Modal -->
<div class="orderStatus modal fade" id="order-status"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="display:block">
        <div class="row">
            <div class="col-md-9">
                <h6 class="modal-title" id="exampleModalLabel">مشاهده جزئیات سفارش</h6>
            </div>
            <div class="col-md-3">
                <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
      </div>
      <div class="modal-body" id="orderStatus">
      	<div class="col-lg-12">
      		<div class="message alert-success" style="padding: 10px;display:none;"></div>
  		</div>
  		<div class="col-lg-12">
          	<form action="/change-status" method="POST">
          	    <input class="order-id" name="order_id" type="hidden" value="0">
          		<div class="col-lg-6">
          			<div class="form-group">
          				<label>وضعیت</label>
                  		<select class="form-control" name="order_status">
                  			<option value="">انتخاب کنید</option>
                  			<option value="checking">در حال بررسی</option>
                  			<option value="sent">ارسال شده</option>
                  		</select>
              		</div>
          		</div>
          		<div class="col-lg-6">
          			<label>توضیحات وضعیت سفارش</label>
          			<textarea name="status-desc"></textarea>
          		</div>
          		<input type="submit" value="ذخیره" class="btn btn-success btn-submit">
          	</form>    
      	</div> 
      </div>
      <div class="modal-footer pull-left">
      	<button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
      </div>
    </div>
  </div>
</div>
<script>
$('document').ready(function(){
	$('#order').dataTable();
	var val = window.location.href.substr(window.location.href.lastIndexOf('/') + 1);
	var btn = $('#'+ val);
	$(btn).removeClass('btn-default');
	$(btn).addClass('btn-success');
	console.log(btn);
});

$(document).on("click",".status-btn",function(){
	var id = $(this).data('id');
	$('.modal-body .order-id').val(id);
});

$(document).on('click', '.orderStatus .btn-secondary', function() {
	location.reload(); 
});

$(document).on('click', '.btn-submit', function(e) {
	e.preventDefault();
	$.ajax({
        type:'POST',
        url:'/admin-printservices/change-order-status',
        data:$('form').serializeArray(),
        success:function(data){
            if(data = 1){
                $('form').empty();
				$('#orderStatus .message').html('<p>وضعیت سفارش ثبت گردید.</p>');
				$('#orderStatus .message').css('display','block');
            }
        }
	});
});

$(document).on("click",".filter-btn",function(){
	
	
    var val = $(this).data('value');
    var url = window.location.href;
    var the_arr = url.split('/');
    the_arr.pop()
    url = the_arr.join('/');
    url += '/' + val
    window.location.href = url;
});
</script>
