<style>
<!--
i {
	color: #fff;
}
-->
</style>
<section class="content-header">
    <h1>
        <?php echo __('Optimize My Image'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Optimize My Image'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
	<div class="box-body">
		<div class="row">
			<div class="col-lg-8">
				<form action="" method="post" name="postForm" id="FaqForm"
					novalidate="1">
					<div class="col-lg-8">
						<div class="form-group">
							<button class="btn btn-success">
								<a href="/fa/admin-faq" type="submit"><i
									" class="fa fa-file-archive-o"></i></a>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
