<?php 
    echo $this->headScript()->appendFile('/js/js-persian-cal-mbr.js');
    echo $this->headlink()->prependStylesheet($this->basePath('/css/js-persian-cal.css'));
?>
<style>
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        vertical-align:middle !important;
    }
    .table>thead>tr>td , .table .signiture td{
        text-align:center;
        font-weight:bold;
    }
    .btn.btn-md {
        font-size: 24px !important;
        padding: 0 15px !important;
    }
    #mytable{
        border: 1px solid #eee;
    }
    .box-title{
        font-size:14px !important;
    }
    #created-check{
        display:inline-block !important;
        width:90% !important;
        text-align:right !important;
    }
</style>
<script type="text/javascript">
    $('document').ready(function(){
        console.log($('#created-check'));
        $('#created-check').persiancalendar({defaultFormat:"yyyy-mm-dd"});
    }); 
</script>      
<section class="content-header">
    <h1>
        <?php echo __('Add new Deposit'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new Deposit'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
            <div class="box-header">
                <h3 class="box-title"><?php echo __("Add new Deposit");?></h3>
            </div><!-- /.box-header -->
            <div class="box-body">
            <form action="" name="depositForm" method="post" enctype="multipart/form-data">
                <div class="container">
                    <!-- list table -->
                    <table id="myTable" class=" table order-list">
                        <thead>
                            <tr>
                                <td>ردیف </td>
                                <td>نام کالا یا خدمات ارائه شده</td>
                                <td>تعداد / مقدار</td>
                                <td>قیمت واحد ( ریال )</td>
                                <td>جمع کل ( ریال )</td>
                                <td> </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pr-row">
                                <td class="col-sm-1 align-middle">
                                   <label>1</label>
                                </td>
                                <td class="col-sm-3">
                                    <input type="text" name="product[]" class="form-control" required/>
                                </td>
                                <td class="col-sm-2">
                                    <input type="text" name="count[]"  class="form-control row-count" value="1"/>
                                </td>
                                <td class="col-sm-2">
                                    <input type="text" name="price[]"  class="form-control row-price" value="0" onkeyup="separateNum(this.value,this);" required/>
                                </td>
                                <td class="col-sm-2">
                                    <input type="text" name="sum[]"  class="form-control row-sum" value="0" readonly/>
                                </td>
                                <td class="col-sm-1">
                                    <a class="deleteRow"></a>
                                    <input type="button" class="btn btn-md btn-success" id="addrow" value="+" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- dicount -->
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                        <table id="myTable" class="table">
                            <tbody>
                                <tr>
                                    <td class="col-md-5 text-left">
                                        <label>  تخفیف :</label>
                                    </td>
                                    <td class="col-md-6">
                                        <input type="text" name="discount" class="form-control invoice-discount" value="0" onkeyup="separateNum(this.value,this);"/>
                                    </td>
                                    <td class="col-md-1">
                                        <label>ریال </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-5 text-left">
                                        <label>مالیات بر ارزش افزوده : </label>
                                    </td>
                                    <td class="col-md-6">
                                        <input type="text" name="tax" class="form-control invoice-tax" value="0"/>
                                    </td>
                                    <td class="col-md-1">
                                        <label>% </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-5 text-left">
                                        <label>مبلغ قابل پرداخت به عدد (ریال) :</label>
                                    </td>
                                    <td class="col-md-6">
                                        <input type="text" name="to_pay" class="form-control invoice-to-pay" value="0" readonly />
                                    </td>
                                    <td class="col-md-1">
                                        <label>ریال </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-5 text-left">
                                        <label>مبلغ قابل پرداخت به حروف (ریال) :</label>
                                    </td>
                                    <td class="col-md-6">
                                        <input type="text" name="to_pay_word" class="form-control invoice-to-pay-word" readonly/>
                                    </td>
                                    <td class="col-md-1">
                                        <label>ریال </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <!-- account -->
                    <hr class="divider"/>
                    <p class="text-right">احتراما مبلغ فوق به حساب/ کارت زیر واریز گردد .</p>
                    <!-- add acount number -->
                    <table id="myTable2" class=" table order-list2">
                        <thead>
                            <tr>
                                <td>ردیف </td>
                                <td>نوع حساب</td>
                                <td>نام بانک</td>
                                <td>شماره حساب یا شماره کارت</td>
                                <td>نام صاحب حساب</td>
                                <td> </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-1 align-middle">
                                   <label>1</label>
                                </td>
                                <td class="col-sm-3">
                                    <select class="form-control" name="account_type[]" required>
                                        <option value="">انتخاب شماره حساب</option>
                                        <option >شماره کارت</option>
                                        <option >شماره حساب</option>
                                        <option >شماره شبا</option>
                                    </select>
                                </td>
                                <td class="col-sm-2">
                                    <input type="text" name="bank_name[]"  class="form-control" required/>
                                </td>
                                <td class="col-sm-2">
                                    <input type="text" name="account_number[]"  class="form-control" required/>
                                </td>
                                <td class="col-sm-2">
                                    <input type="text" name="account_owner[]"  class="form-control" required/>
                                </td>
                                <td class="col-sm-1">
                                    <a class="deleteRow"></a>
                                    <input type="button" class="btn btn-md btn-success" id="addAccountRow" value="+" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Description -->
                    <div class="form-group">
                        <label for="desc">توضیحات</label>
                        <textarea class="form-control" id="desc" rows="3" name="description"></textarea>
                    </div>
                     <!-- Cheque -->
                     <hr class="divider"/>
                     <hr/>
                     <input class="btn btn-success" type="button" id="request-check" value="درخواست چک"   />

                     <table id="myTable3" class=" table order-list3">
                        <thead>
                            <tr>
                                <td>درخواست چک </td>
                                <td>تاریخ چک</td>
                                <td>در وجه</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-4">
                                    <input type="text" name="request_check"  class="form-control"/>
                                </td>
                                <td class="col-sm-4">
                                    <input type="text" name="created_check"  class="form-control" id="created-check"/>
                                </td>
                                <td class="col-sm-4">
                                    <input type="text" name="pay_to"  class="form-control"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Variz -->
                    <hr class="divider"/>
                    <h3 class="box-title">مبالغ واریز شده</h3>
                    <table id="myTable4" class=" table order-list4">
                        <thead>
                            <tr>
                                <td>ردیف </td>
                                <td>مبلغ واریز شده</td>
                                <td>توضیحات</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pay-row">
                                <td class="col-sm-1 align-middle">
                                   <label>1</label>
                                </td>
                                <td class="col-sm-3">
                                    <input type="text" name="payment_price[]"  class="form-control payment-price" onkeyup="separateNum(this.value,this);"/>
                                </td>
                                <td class="col-sm-7">
                                    <input type="text" name="payment_desc[]"  class="form-control payment-desc"/>
                                </td>
                                <td class="col-sm-1">
                                    <a class="deleteRow"></a>
                                    <input type="button" class="btn btn-md btn-success" id="addVarizRow" value="+" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6">
                             <!-- File upload -->
                      <h3 class="box-title">ضمیمه فایل</h3>
                            <table id="myTable5" class=" table order-list5">
                                <thead>
                                    <tr>
                                        <td>ردیف </td>
                                        <td>فایل پیوست</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-sm-1 align-middle">
                                            <label>1</label>
                                        </td>
                                        <td class="col-sm-10">
                                            <input type="file" class="form-control-file" id="file-upload" name="file[]">
                                        </td>
                                        <td class="col-sm-1">
                                            <a class="deleteRow"></a>
                                            <input type="button" class="btn btn-md btn-success" id="addFileUploadRow" value="+" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="col-md-5 text-left">
                                            <label>مبلغ باقی مانده :</label>
                                        </td>
                                        <td class="col-md-6">
                                            <input type="text" name="payment_remain_price" class="form-control remain_payment_price" value="0" readonly/>
                                        </td>
                                        <td class="col-md-1">
                                            <label>ریال </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                     
                    <br/>
                    <br/>
                    <br/>
                    <input type="submit" class="btn btn-primary" value="ثبت " >
                </div>
            </form>      
            </div>
                
                    
        	
    </div>
</section>

<script src="/js/wordifyfa.js"></script>

<script>
     $(".order-list3").hide();

    function separateNum(value, input) {
        /* seprate number input 3 number */
        var nStr = value + '';
        nStr = nStr.replace(/\,/g, "");
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        if (input !== undefined) {

            input.value = x1 + x2;
        } else {
            return x1 + x2;
        }
    }

    function ex_normalNum(num) {
        num = num.replace(/,\s?/g, "");
        return num;
    }
    $(document).ready(function () {
        
    var counter = 0;
    var counter2 = 0;

    $("#request-check").on("click", function () { 
        $(".order-list3").toggle();
    });

    $("#addrow").on("click", function () {
        var newRow = $("<tr class='pr-row'>");
        var cols = "";

        cols += ' <td class="col-sm-1"><label>2</label></td>';
        cols += ' <td class="col-sm-3"><input type="text" class="form-control " name="product[]" required/></td>';
        cols += ' <td class="col-sm-2"><input type="text" class="form-control row-count" name="count[]" value="1"/></td>';
        cols += ' <td class="col-sm-2"><input type="text" class="form-control row-price" name="price[]" value="0" onkeyup="separateNum(this.value,this);" required/></td>';
        cols += ' <td class="col-sm-2"><input type="text" class="form-control row-sum" name="sum[]" value="0"/></td>';

        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="×"></td>';
        newRow.append(cols);
        $("table.order-list").append(newRow);
        counter++;
    });
    
    function calculateToPay(){
        var toPay = 0;
        var toPayWithDiscount = 0;
        var toPayWithTax = 0;
        var finalToPay = 0;
        var finalToPayVal = 0;
        var counter = 0;

        $.each($(".row-sum"), function(key, value) { 
            toPay = parseInt(toPay, 10) + parseInt(ex_normalNum($(value).val()),10);
        });

        toPayWithDiscount = parseInt(toPay,10) - parseInt(ex_normalNum($('.invoice-discount').val()),10);
        var percentToGet = parseInt($('.invoice-tax').val(),10);
        var tax =  (percentToGet / 100) * parseInt(toPayWithDiscount, 10);
        var toPayWithTax = parseInt(toPayWithDiscount, 10) + parseInt(tax, 10) ;
        
        finalToPay = toPayWithTax;
        finalToPayVal = toPayWithTax.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
        $('.invoice-to-pay').val(finalToPayVal);

        var numToWord = wordifyfa(finalToPay); 
        $('.invoice-to-pay-word').val(numToWord);

        return finalToPay;


    }

    $(document).on('input', '.payment-price', function() {
        var rowPrice = $(this).closest(".pay-row").find(".payment-price");
        var toPayPrice = ex_normalNum($('.invoice-to-pay').val());
        $.each($(".payment-price"), function(key, value) { 
            toPayPrice = parseInt(toPayPrice,10) - parseInt(ex_normalNum($(value).val()),10);
        });
        var finalRemainVal = toPayPrice.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
        $('.remain_payment_price').val(finalRemainVal);
    });

    $(document).on('input', '.row-price', function() {
        var rowSum = $(this).closest(".pr-row").find(".row-sum");
        var rowPrice = $(this).closest(".pr-row").find(".row-price");
        var rowCount = $(this).closest(".pr-row").find(".row-count");
        var toPay = 0;
        var calRowSum = parseInt(ex_normalNum($(rowPrice).val()), 10) * parseInt($(rowCount).val(), 10);
        $(rowSum).val(calRowSum.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
        calculateToPay();
        
    }); 

    $(document).on('input', '.row-count', function() {
        var rowSum = $(this).closest(".pr-row").find(".row-sum");
        var rowPrice = $(this).closest(".pr-row").find(".row-price");
        var rowCount = $(this);
        var toPay = 0;
        var calRowSum = parseInt(ex_normalNum($(rowPrice).val()), 10) * parseInt($(rowCount).val(), 10);
        $(rowSum).val(calRowSum.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));

        calculateToPay();
    }); 

    $(document).on('input', '.invoice-discount', function() {
       calculateToPay();
    });

    $(document).on('input', '.invoice-tax', function() {
        calculateToPay();
    });
    
    $("#addAccountRow").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";

        cols += ' <td class="col-sm-1"><label>2</label></td>';
        cols += ' <td class="col-sm-3"> <select class="form-control" name="account_type[]"><option >انتخاب شماره حساب</option><option >شماره کارت</option><option >شماره حساب</option><option >شماره شبا</option></select></td>';
        cols += ' <td class="col-sm-2"><input type="text" class="form-control" name="bank_name[]"/></td>';
        cols += ' <td class="col-sm-2"><input type="text" class="form-control" name="account_number[]"/></td>';
        cols += ' <td class="col-sm-2"><input type="text" class="form-control" name="account_owner[]"/></td>';

        cols += '<td><input type="button" class="ibtnDel2 btn btn-md btn-danger "  value="×"></td>';
        newRow.append(cols);
        $("table.order-list2").append(newRow);
        counter2++;
    });


    $("table.order-list").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });

    $("table.order-list2").on("click", ".ibtnDel2", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });
    $("#addVarizRow").on("click", function () {
        var newRow = $("<tr class='pay-row'>");
        var cols = "";

        cols += ' <td class="col-sm-1"><label>2</label></td>';
        cols += ' <td class="col-sm-3"><input type="text" class="form-control payment-price" name="payment_price[]" onkeyup="separateNum(this.value,this);"/></td>';
        cols += ' <td class="col-sm-7"><input type="text" class="form-control payment-desc" name="payment_desc[]"/></td>';
        cols += ' <td class="col-sm-1"><input type="button" class="ibtnDel4 btn btn-md btn-danger "  value="×"></td>';
        newRow.append(cols);
        $("table.order-list4").append(newRow);
        counter2++;
    });


    $("table.order-list4").on("click", ".ibtnDel4", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });

    $("#addFileUploadRow").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";

        cols += ' <td class="col-sm-1"><label>2</label></td>';
        cols += ' <td class="col-sm-10"><input type="file" class="form-control-file" id="file-upload" name="file[]"></td>';
        cols += ' <td class="col-sm-1"><input type="button" class="ibtnDel5 btn btn-md btn-danger "  value="×"></td>';
        newRow.append(cols);
        $("table.order-list5").append(newRow);
        counter2++;
    });


    $("table.order-list5").on("click", ".ibtnDel5", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });
});



// function calculateRow(row) {
//     var price = +row.find('input[name^="price"]').val();

// }

// function calculateGrandTotal() {
//     var grandTotal = 0;
//     $("table.order-list").find('input[name^="price"]').each(function () {
//         grandTotal += +$(this).val();
//     });
//     $("#grandtotal").text(grandTotal.toFixed(2));
// }
    </script>