<section class="content-header">
    <h1>
        <?php echo __('Edit profile'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit profile'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit profile");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php
            	$userAccountForm = $this->userAccountForm;
            	$userAccountForm->prepare();
            	echo $this->form()->openTag($userAccountForm);
            ?>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userAccountForm->get('firstname')); ?></label><span class="mandetory-field"> (فیلد اجباری)</span>
                	    <?php echo $this->formElement($userAccountForm->get('firstname'));
                	    echo $this->formElementErrors($userAccountForm->get("firstname"));
                	    ?>
                	</div>	
                </div>
                <div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userAccountForm->get('lastname')); ?></label>
                	    <?php echo $this->formElement($userAccountForm->get('lastname'));
                	    echo $this->formElementErrors($userAccountForm->get("lastname")); ?>
                	</div>	
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userAccountForm->get('email')); ?></label><span class="mandetory-field"> (فیلد اجباری)</span>
                	    <?php echo $this->formElement($userAccountForm->get('email'));
                	    echo $this->formElementErrors($userAccountForm->get("email")); ?>
                	</div>	
                </div>
                <div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userAccountForm->get('password')); ?></label>
                	    <?php echo $this->formElement($userAccountForm->get('password'));
                	    echo $this->formElementErrors($userAccountForm->get("password")); ?>
                	</div>	
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($userAccountForm->get('gender')); ?></label><br>
                	    <?php echo $this->formElement($userAccountForm->get('gender'));
                	    echo $this->formElementErrors($userAccountForm->get("gender")); ?>
                	</div>
            	</div>	
            	<div class="col-xs-12 col-md-6">
                	<div class="form-group">
                    	<?php 
                    		echo $this->formElement($userAccountForm->get('csrf_security'));
                    		echo $this->formElementErrors($userAccountForm->get("csrf_security"));
                    		echo $this->formElement($userAccountForm->get('submit'));
                    	?>
                	</div>
            </div>
            <?php echo $this->form()->closeTag(); ?>
        </div>
    </div>
</section>
