<style>
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        vertical-align:middle !important;
    }
    /* .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: 1px solid #b5b2b2;
    } */
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
		border: 1px solid #333;
			border-top-color: #333;
			border-top-style: solid;
			border-top-width: 1px;
			border-bottom-width: 1px;
	}
    .table tr td{
		text-align:center;
		height:30px;
	}
	.signiture td{
		height:200px !important;
	}
    .table>thead>tr>td , .table .signiture td{
        text-align:center;
        font-weight:bold;
    }
    .btn.btn-md {
        font-size: 24px !important;
        padding: 0 15px !important;
    }
    #mytable{
        border: 1px solid #eee;
    }
    .table {
        width: 100%;
        direction:rtl !important;
    }
    .table tr td{
        text-align:center;
    }
    thead{
    color: #b50b0b;
    }
      .thead-td{
        font-weight:bold;
        color: #b50b0b;
        text-align:left !important;
    }
    .fa-check-square-o{
        margin-left:10px;
        color: #b50b0b;
    }
    hr.divider{
        border-top: 3px solid #333;
    }
    .table-info{
        background-color: #eee;
        padding: 10px;
        height: 50px;
    }
    .box-title{
        font-size:14px !important;
    }
    .table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
        border-top: 1px solid #333 !important;
    }
    @media print {
        body{
            line-height:2;
            direction:rtl;
            font-family:tahoma;
        }
         header, aside, #important-shortcut, .modal, footer, .content-header, .print-form-btn, .print-btn{
             display:none !important;
         }
         .table {
             width: 100%;
             direction:rtl !important;
          }
          .table tr td{
              text-align:center;
          }
          thead{
            color: #b50b0b;
          }
          .thead-td{
                font-weight:bold;
                color: #b50b0b;
                text-align:left !important;
            }
          .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                border-top: 1px solid #f4f4f4;
            }
            hr.divider{
                border-top: 2px dotted #b50b0b;
            }

        }
</style>
<section class="content-header">
    <h1>
        <?php echo __('Print deposit form'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Print deposit form'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box main-print" id="main-print">
            <div class="box-header">
                <div class="col-md-12 text-right">
                    <h3 class="box-title">فرم واریز وجه</h3>
                </div>
                
                <!-- <div class="col-md-12 m-3  text-left print-logo">
                    <img src="/adminTemplate/dist/img/logo.png" class="" alt="logo" width="150px">
                </div> -->
            </div><!-- /.box-header -->
            <div class="box-body">
            <form action="" name="depositForm" method="post">
                <div class="container">
                    <!-- list table -->
                    <table id="myTable" class=" table table-bordered order-list">
                        <thead>
                            <tr>
                                <td>ردیف </td>
                                <td>نام کالا یا خدمات ارائه شده</td>
                                <td>تعداد / مقدار</td>
                                <td>قیمت واحد ( ریال )</td>
                                <td>جمع کل ( ریال )</td>
                            </tr>
                        </thead>
                        <tbody>
                            <?php //foreach($getDepositDetailData as $key=>$depositDetail){ ?>
                            <?php for($i = 0; $i < count($getDepositDetailData); $i++){ ?>
                            <tr class="pr-row">
                                <td class="col-sm-1 align-middle">
                                   <label><?php echo $i + 1; ?></label>
                                </td>
                                <td class="col-sm-3">
                                    <!-- <input type="text" name="product[]" class="form-control" /> -->
                                    <label><?php echo $getDepositDetailData[$i]['product']; ?></label>
                                </td>
                                <td class="col-sm-2">
                                    <!-- <input type="text" name="count[]"  class="form-control row-count" value="1"/> -->
                                    <label><?php echo $getDepositDetailData[$i]['count']; ?></label>
                                </td>
                                <td class="col-sm-2">
                                    <!-- <input type="text" name="price[]"  class="form-control row-price" value="0" onkeyup="separateNum(this.value,this);"/> -->
                                    <label><?php echo $getDepositDetailData[$i]['price']; ?></label>
                                </td>
                                <td class="col-sm-2">
                                    <!-- <input type="text" name="sum[]"  class="form-control row-sum" value="0" readonly/> -->
                                    <label><?php echo $getDepositDetailData[$i]['sum']; ?></label>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                    <!-- dicount -->
                    <br/>
                    <div class="row" style="display:flex !important;">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-7" style="align-self: flex-end !important;">
                        <table id="myTable" class="table table-bordered thead-right">
                            <tbody>
                                <tr class="table-info">
                                    <td class="col-md-6 text-left thead-td" style="width:600px !important">
                                        <label>تخفیف (ریال)</label>
                                    </td>
                                    <td class="col-md-6">
                                        <!-- <input type="text" name="discount" class="form-control invoice-discount" value="0" onkeyup="separateNum(this.value,this);"/> -->
                                        <label><?php echo $getDepositData['discount']; ?></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6 text-left thead-td">
                                        <label>مالیات بر ارزش افزوده ( درصد ) </label>
                                    </td>
                                    <td class="col-md-6">
                                        <label><?php echo $getDepositData['tax']; ?></label>
                                        <!-- <input type="text" name="tax" class="form-control invoice-tax" value="0"/> -->
                                    </td>
                                </tr>
                                <tr  class="table-info">
                                    <td class="col-md-6 text-left thead-td">
                                        <label>مبلغ قابل پرداخت به عدد (ریال) </label>
                                    </td>
                                    <td class="col-md-6">
                                        <label><?php echo $getDepositData['to_pay_price']; ?></label>
                                        <input type="hidden" name="to_pay" class="form-control invoice-to-pay" value="<?php echo $getDepositData['to_pay_price']; ?>" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6 text-left thead-td">
                                        <label>مبلغ قابل پرداخت به حروف (ریال) </label>
                                    </td>
                                    <td class="col-md-6">
                                        <label class="invoice-to-pay-word"> </label>
                                        <!-- <input type="text" name="to_pay_word" class="form-control invoice-to-pay-word" readonly/> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <!-- account -->
                    <br/>
                    <hr class="divider"/>
                    <p class="text-right"><b><i class="fa fa-check-square-o"></i> احتراما مبلغ فوق به حساب/ کارت زیر واریز گردد .</b></p>
                    <!-- add acount number -->
                    <table id="myTable2" class=" table table-bordered order-list2">
                        <thead>
                            <tr>
                                <td>ردیف </td>
                                <td>نوع حساب</td>
                                <td>نام بانک</td>
                                <td>شماره حساب یا شماره کارت</td>
                                <td>نام صاحب حساب</td>
                            </tr>
                        </thead>
                        <tbody>
                            <?php for($i = 0; $i < count($getDepositAccountData); $i++){ ?>    
                            <tr>
                                <td class="col-sm-1 align-middle">
                                   <label><?php echo $i + 1; ?></label>
                                </td>
                                <td class="col-sm-3">
                                    <!-- <select class="form-control" name="account_type[]">
                                        <option >انتخاب شماره حساب</option>
                                        <option >شماره کارت</option>
                                        <option >شماره حساب</option>
                                        <option >شماره شبا</option>
                                    </select> -->
                                    <label><?php echo $getDepositAccountData[$i]['account_type']; ?></label>
                                </td>    
                                <td class="col-sm-2">
                                    <!-- <input type="text" name="bank_name[]"  class="form-control"/> -->
                                    <label><?php echo $getDepositAccountData[$i]['bank_name']; ?></label>
                                </td>
                                <td class="col-sm-2">
                                    <!-- <input type="text" name="account_number[]"  class="form-control"/> -->
                                    <label><?php echo $getDepositAccountData[$i]['account_number']; ?></label>
                                </td>
                                <td class="col-sm-2">
                                    <!-- <input type="text" name="account_owner[]"  class="form-control"/> -->
                                    <label><?php echo $getDepositAccountData[$i]['account_owner']; ?></label>
                                </td>
                                
                                
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                    <!-- Description -->
                    <div class="form-group">
                        <label for="desc" class="thead-td">توضیحات ::</label>
                        <label><?php echo $getDepositData['description']; ?></label>
                        <!-- <textarea class="form-control" id="desc" rows="3" name="description"></textarea> -->
                    </div>
                     <!-- Cheque -->
                     <hr class="divider"/>
                     <table id="myTable3" class=" table table-bordered order-list3">
                        <thead>
                            <tr>
                                <td>درخواست چک </td>
                                <td>تاریخ چک</td>
                                <td>در وجه</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-4">
                                    <!-- <input type="text" name="request_check"  class="form-control"/> -->
                                    <label><?php echo $getDepositData['request_check']; ?></label>
                                </td>
                                <td class="col-sm-4">
                                    <!-- <input type="date" name="created_check"  class="form-control"/> -->
                                    <label><?php echo $getDepositData['created_check']; ?></label>
                                </td>
                                <td class="col-sm-4">
                                    <!-- <input type="text" name="pay_to"  class="form-control"/> -->
                                    <label><?php echo $getDepositData['pay_to']; ?></label>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <!-- Variz -->
                    <hr class="divider"/>
                    <h3 class="box-title">مبالغ واریز شده</h3>
                    <table id="myTable4" class=" table table-bordered order-list4">
                        <thead>
                            <tr>
                                <td>ردیف </td>
                                <td>مبلغ واریز شده</td>
                                <td>توضیحات</td>
                            </tr>
                        </thead>
                        <tbody>
                            <?php for($i = 0; $i < count($getDepositPaymentData); $i++){ ?>    
                                <tr>
                                    <td class="col-sm-1 align-middle">
                                    <label><?php echo $i + 1; ?></label>
                                    </td>
                                    <td class="col-sm-3">
                                        <label><?php echo $getDepositPaymentData[$i]['price'] ?></label>
                                    </td>
                                    <td class="col-sm-8">
                                        <label><?php echo $getDepositPaymentData[$i]['description'] ?></label>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                    <br/>
                    <div class="row" style="display:flex !important;">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="align-self: flex-end !important;">
                            <table class="table table-bordered thead-right">
                                <tbody>
                                    <tr class="table-info">
                                        <td class="col-md-5 text-left thead-td">
                                            <label>مبلغ باقی مانده ( ریال ) :</label>
                                        </td>
                                        <td class="col-md-6">
                                            <label><?php echo $remainPrice; ?></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table thead-right table-signiture">
                                <tbody>
                                    <tr>
                                        <td class="col-md-4 text-center">
                                            <label>نام و امضای درخواست کننده  / تائید کننده</label>
                                        </td>
                                        <td class="col-md-4 text-center">
                                            <label>تاییدیه مالی</label>
                                        </td>
                                        <td class="col-md-4 text-center">
                                        <label>امضای پرداخت کننده</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="print-btn">
                        <br/>
                        <br/>
                        <br/>
                        <input type="button" class="btn btn-primary print-form-btn" value="چاپ فرم " onclick="printInfo()">
                    </div>
                   
                </div>
            </form>      
            </div>
                
                    
        	
    </div>
</section>

<script src="/js/wordifyfa.js"></script>

<script>
    function printInfo(){
        var prtContent = document.getElementById("main-print");
        var WinPrint = window.open('', '', 'left=0,top=0,width=1500,height=900,toolbar=0,scrollbars=0,status=0');
        WinPrint.document.write('<html><head>');
        WinPrint.document.write('<link rel="stylesheet" href="/css/print.css">');
        WinPrint.document.write('</head><body onload="print();close();">');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.write('</body></html>');
        WinPrint.document.close();
        WinPrint.focus();
    }
    function separateNum(value, input) {
        /* seprate number input 3 number */
        var nStr = value + '';
        nStr = nStr.replace(/\,/g, "");
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        if (input !== undefined) {

            input.value = x1 + x2;
        } else {
            return x1 + x2;
        }
    }

    function ex_normalNum(num) {
        num = num.replace(/,\s?/g, "");
        return num;
    }
    $(document).ready(function () {
        var counter = 0;
        var counter2 = 0;

        var numToWord = wordifyfa(ex_normalNum($('.invoice-to-pay').val())); 
        $('.invoice-to-pay-word').text(numToWord);
    
        
    // $(".print-form").on("click", function () {
    //     alert('aaaa');
    // });
    
    $("#addrow").on("click", function () {
        var newRow = $("<tr class='pr-row'>");
        var cols = "";

        cols += ' <td class="col-sm-1"><label>2</label></td>';
        cols += ' <td class="col-sm-3"><input type="text" class="form-control " name="product[]"/></td>';
        cols += ' <td class="col-sm-2"><input type="text" class="form-control row-count" name="count[]" value="1"/></td>';
        cols += ' <td class="col-sm-2"><input type="text" class="form-control row-price" name="price[]" value="0"/></td>';
        cols += ' <td class="col-sm-2"><input type="text" class="form-control row-sum" name="sum[]" value="0"/></td>';

        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="×"></td>';
        newRow.append(cols);
        $("table.order-list").append(newRow);
        counter++;
    });
    
    function calculateToPay(){
        var toPay = 0;
        var toPayWithDiscount = 0;
        var toPayWithTax = 0;
        var finalToPay = 0;
        var finalToPayVal = 0;

        $.each($(".row-sum"), function(key, value) { 
            toPay = parseInt(toPay, 10) + parseInt(ex_normalNum($(value).val()),10);
        });

        toPayWithDiscount = parseInt(toPay,10) - parseInt(ex_normalNum($('.invoice-discount').val()),10);
        var percentToGet = parseInt($('.invoice-tax').val(),10);
        var tax =  (percentToGet / 100) * parseInt(toPayWithDiscount, 10);
        var toPayWithTax = parseInt(toPayWithDiscount, 10) + parseInt(tax, 10) ;
        
        finalToPay = toPayWithTax;
        finalToPayVal = toPayWithTax.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
        $('.invoice-to-pay').val(finalToPayVal);

        var numToWord = wordifyfa(finalToPay); 
        $('.invoice-to-pay-word').val(numToWord);

        return finalToPay;


    }

    $(document).on('input', '.row-price', function() {
        var rowSum = $(this).closest(".pr-row").find(".row-sum");
        var rowPrice = $(this).closest(".pr-row").find(".row-price");
        var rowCount = $(this).closest(".pr-row").find(".row-count");
        var toPay = 0;
        var calRowSum = parseInt(ex_normalNum($(rowPrice).val()), 10) * parseInt($(rowCount).val(), 10);
        $(rowSum).val(calRowSum.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
        calculateToPay();
        
    }); 

    $(document).on('input', '.row-count', function() {
        var rowSum = $(this).closest(".pr-row").find(".row-sum");
        var rowPrice = $(this).closest(".pr-row").find(".row-price");
        var rowCount = $(this);
        var toPay = 0;
        var calRowSum = parseInt(ex_normalNum($(rowPrice).val()), 10) * parseInt($(rowCount).val(), 10);
        $(rowSum).val(calRowSum.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));

        calculateToPay();
    }); 

    $(document).on('input', '.invoice-discount', function() {
       calculateToPay();
    });

    $(document).on('input', '.invoice-tax', function() {
        calculateToPay();
    });
    
    $("#addAccountRow").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";

        cols += ' <td class="col-sm-1"><label>2</label></td>';
        cols += ' <td class="col-sm-3"> <select class="form-control"><option >انتخاب شماره حساب</option><option >شماره کارت</option><option >شماره حساب</option><option >شماره شبا</option></select></td>';
        cols += ' <td class="col-sm-2"><input type="text" class="form-control" name="bankName' + counter2 + '"/></td>';
        cols += ' <td class="col-sm-2"><input type="text" class="form-control" name="accountNumber' + counter2 + '"/></td>';
        cols += ' <td class="col-sm-2"><input type="text" class="form-control" name="accountHolder' + counter2 + '"/></td>';

        cols += '<td><input type="button" class="ibtnDel2 btn btn-md btn-danger "  value="×"></td>';
        newRow.append(cols);
        $("table.order-list2").append(newRow);
        counter2++;
    });


    $("table.order-list").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });

    $("table.order-list2").on("click", ".ibtnDel2", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });
});



// function calculateRow(row) {
//     var price = +row.find('input[name^="price"]').val();

// }

// function calculateGrandTotal() {
//     var grandTotal = 0;
//     $("table.order-list").find('input[name^="price"]').each(function () {
//         grandTotal += +$(this).val();
//     });
//     $("#grandtotal").text(grandTotal.toFixed(2));
// }
    </script>