          <?php 
                $user = (array)$this->identity();
                if ($user) {
          ?>
               
    	<div class="row">
        	<div class="col-lg-8">
        	   <article class="main-content-article2">
        	   <div class="sidebar-header">
        	   <i class="fa fa-info-circle" aria-hidden="true"></i>
        	    </div>
        	    <br/>
        	    <?php if ($user["avatar"]) {?>
    	            <div class="pull-right image ">
                        <img class="avatar-image" src="/uploads/avatar/<?php echo $user["avatar"];?>" class="img-circle avator-image" alt="User Image">
                         <?php 
                               	$userName = $user['username'];
                               	echo "<span>" . $userName . "</span>" ;
                           	?>
                    </div>
                    <?php }?>
            	   	<div class="text-center user-welcome">
                	      <p>
                	          <?php   echo __('Dear user, welcome to cadafzar admin panel. '); ?>
                	      </p>
                	</div>
        	       <div class="row text-center main-icon">
        	        <div class="col-lg-1 col-xs-12">
                     </div>
                     <div class="col-lg-2 col-xs-12 bg-icon">
                         <a href="/<?php echo $this->layout()->lang;?>/admin-shop/list-user-payments">
                           <div class="icon">
                              <i class="ion ion-bag"></i>
                            </div>
                            <p><?php echo __("My Payments"); ?></p>
                         </a>
                     </div><!-- ./col -->
                    <div class="col-lg-2 col-xs-12 bg-icon">
                         <a href="/<?php echo $this->layout()->lang;?>/admin-favorite/list-favorites">
                            <div class="icon">
                              <i class="ion ion-heart"></i>
                            </div>
                            <p><?php echo __("My Favorites"); ?></p>
                         </a>
                    </div><!-- ./col -->
                    <div class="col-lg-2 col-xs-12 bg-icon">
                         <a href="/<?php echo $this->layout()->lang;?>/admin-shop/list-user-orders">
                          <div class="icon">
                              <i class="ion ion-card"></i>
                            </div>
                            <p><?php echo __("My Orders"); ?></p>
                          </a>
                    </div><!-- ./col -->
                    <div class="col-lg-2 col-xs-12 bg-icon">
                         <a href="/<?php echo $this->layout()->lang;?>/admin-instructor/edit-user-by-user/<?php echo $this->Identity()->id;?>" >
                            <div class="icon">
                              <i class="ion ion-person"></i>
                            </div>
                             <p><?php echo __("My Profile"); ?></p>
                         </a>
                    </div><!-- ./col -->
                    <div class="col-lg-2 col-xs-12 bg-icon">
                         <a href="/<?php echo $this->layout()->lang;?>/admin-shop/list-user-files-videos">
                            <div class="icon">
                              <i class="ion ion-videocamera"></i>
                            </div>
                             <p><?php echo __("My Files"); ?></p>
                         </a>
                    </div><!-- ./col -->
                     <div class="col-lg-1 col-xs-12">
                     </div>
                </div>
            		<?php echo $this->getPlugin('block/index/index', array('position'=> 'dashboarduservideosorders', 'id' => $this->identity()->id));?>
            		<div class="text-center user-welcome">
                	     <p><?php 
                	     $interval = date_diff(date_create($user['user_registration_date']),  date_create(date('Y-m-d H:i:s')));
                	     echo __('You are with us in CadAfzar for: ').$interval->format('%a days');
                	     ?></p>
                	     
                	</div>
            	</article>
        	</div>
        	<div class="col-lg-4">
    	       <div class="sidebar sidebar-gray">
    	           <div class="sidebar-header">
					  <i class="fa fa-product-hunt" aria-hidden="true"></i>
					   <?php echo __('Newest Virtual Products')?>
				   </div>
				   <?php echo $this->getPlugin('block/index/index', array('position'=> 'dashboardnewestvirtualproducts'));?>
    	       </div>
            </div>
            
        </div> 
<?php }?>
              
 <div id="pop1" class="simplePopup">
     <div class="video-title"><?php echo __("Cadafzar video"); ?></div>
      <div class="video-logo">
        <img class='cloudzoom-gallery' src="/uploads/video/video-logo.png" />
      </div>
    <!-- video -->
       <video id="my-video" class="video-js" controls preload="auto" width="60%" height="30%"
          poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
            <source src=""  type='video/mp4'>
            <source src=""  type='video/webm'>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
       </video>
</div>

<script type="text/javascript">

$(document).ready(function(){
    $('.show1').click(function(e){
        e.preventDefault();
        $("#my-video source").attr("src", $(this).attr("href"));
        $("#my-video")[0].load();
        $("#my-video")[0].play();
        $('#pop1').simplePopup();
    });
});

</script>   	