﻿<?php 
	$style1 = "cursor: pointer;font-size: 10px;";
	$style2 = "margin-left:5px;font-family: B Yekan;position:relative;top:-3px";
	$typeLike = $this->entityName . "Like";
	$typeLikeTitle = _("Like");
	$typeDislike = $this->entityName . "Dislike";
	$typeDislikeTitle = _("Dislike");

	$usersLike = "";
	$usersDislike = "";
	if ($this->entityLikes[0]) {
	    foreach ($this->entityLikes[0] as $users) {
	        $usersLike = $usersLike  . $users["username"] . "<br>";
	    }
	}
	if ($this->entityLikes[1]) {	    
	    foreach ($this->entityLikes[1] as $users) {
	        $usersDislike = $usersDislike . $users["username"] . "<br>";
	    }
	}
	
?>

<button type="button" data-container="body" data-trigger='hover' data-toggle="popover" data-placement="bottom" data-content="<?php  echo $usersLike;?>" class="btn btn-secondary likebutton" style="<?php echo $style1;?>" title ="<?php  echo $typeLikeTitle;?>" id="<?php echo $typeLike;?>"><span data-id = "<?php echo  $this->entityId?>" data-entityTable = "<?php echo $this->entityTable;?>" data-entityName = "<?php echo $this->entityName;?>" style="<?php echo $style2;?>"><?php echo count($this->entityLikes[0]);?></span><i class="fa fa-thumbs-up"></i></button>
<?php if ($this->enableDislikeLikeButton) { ?>
<button type="button" data-container="body" data-trigger='hover' data-toggle="popover" data-placement="bottom" data-content="<?php  echo $usersDislike;?>" class="btn btn-secondary likebutton" style="<?php echo $style1;?>" title ="<?php  echo $typeDislikeTitle;?>" id="<?php echo $typeDislike;?>"><span data-id = "<?php echo  $this->entityId?>" data-entityTable = "<?php echo $this->entityTable;?>" data-entityName = "<?php echo $this->entityName;?>" style="<?php echo $style2;?>"> <?php echo count($this->entityLikes[1]);?></span><i class="fa fa-thumbs-down"></i></button>
<?php }?>

	


