<?php
	echo $this->headTitle('افزودن یک بنر جدید');
	$form = $this->form;
	if ($this->error) {
		echo '<span class"alert alert-danger">' . $this->error . '</span>';
	}
	$form->prepare();
?>
<section class="content-header">
    <h1>
        <?php echo __('Add new banner position'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new banner position'); ?></li>
    </ol>
</section>

<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add new banner position'); ?></h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-5">
                     <!--  help -->
                    <fieldset class="help-form">    	
    					<legend>  راهنمای ایجاد بنر</legend>
						<p>
						1- در بخش موقعیت، مکان نمایش بنر در سایت مشخص می شود که در کدنویسی استفاده می شود و نباید توسط کاربر تغییر کند
						<br/>
						2-در  کادر اسکریپت بنر،شما میتوانید اسکریپت یا کد ایجاد بنر را در کادر مربوطه وارد کنید، این اسکریپت حاوی لینک و تصویر بنر مورد نظر است
						</p>
        			</fieldset>
                </div>
                <div class="col-lg-7">
                	<?php 
                	   echo $this->form()->openTag($form);
                	?>
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($form->get('name')); ?></label>
                    	<?php echo $this->formElement($form->get('name'));
                    	echo $this->formElementErrors($form->get('name')); ?>
                	</div>	
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($form->get('script')); ?></label>
                    	<?php echo $this->formElement($form->get('script'));
                    	echo $this->formElementErrors($form->get('script')); ?>
                	</div>
                	<div class="form-group pull-left">	
                    	<?php 
                    		echo $this->formElement($form->get('csrf'));
                    		echo $this->formElement($form->get('submit'));
                    		echo $this->form()->closeTag();
                    	?>
                    	<?php 
                    		echo $this->formElement($form->get('csrf'));
                    		echo $this->formElement($form->get('submit2'));
                    		echo $this->form()->closeTag();
                    	?>
                    	<a href="/admin-banner/positions-list" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                	</div>
                </div>
            </div>
        </div>
    </div>
</section>
