<style type="text/css" media="screen">
	ul li {
		list-style: none;
    }
</style>
<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<script src="/js/gallery2/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<?php if($this->services) { 
                    $service = $this->services; 
                    $service = $service[0];
                 
                ?>
<section id="back-img">
    <div class="" style="background-image: url('/uploads/services/<?php echo $service['image'];?>');"></div>
</section>
<section id="single_content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                 <div class="bradcrumb-div">
                
                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li><a href="<?php echo $this->url('home'); ?>"> <i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><a href="/<?php echo $this->layout()->lang;?>/ourservices"><?php echo __("Services"); ?></a></li>
                        <li class="active"><a href="/<?php echo $this->layout()->lang;?>/ourservices/detail/id/<?php echo $service["id"];?>"><?php echo $service["name"];?></a></li>
                    </ul>
                </div>

	<div class="container">		
        <div class="main-descproud row">
            <div class="col-md-4 image-descp pull-right">
            	<img src="/uploads/services/<?php echo $service['image'];?>">
            </div>
            <div class="col-md-8 descp">
                <h3><?php echo $service['name'];?></h3>
                <p><?php echo $service['description'];?></p>
            </div>
        </div>
<!----------------------------gallery---------------------------------------->
        <?php if ($this->serviceFiles) { ?>
        <div class="box-title">
			<h2 class="title">
				<a href="/"> گالری تصاویر </a>
			</h2>
		</div>
		<div class="hall" style="direction: ltr;">
			<div id="owl-demo2" class="owl-carousel owl-theme">	  
			<?php 
			    foreach($this->serviceFiles as $data) { 
			            echo '<div class="item"><a class="fancybox" rel="groupf" href="/uploads/gallery/'. $data['file_name'] .'"><img src="/uploads/gallery/'. $data['file_name'] .'"  ></a></div>';
			    }
			?>   
			    			    		       
		    </div>			
		</div>
		<?php }?>
<!-- ---------------------------video------------------------------------------  -->
		<div class="row" >
			<div class="gallery clearfix">
			 <?php 
                if ($this->serviceVideoFiles) {
             ?>
             <div class="box-title">
    			<h2 class="title">
    				<a href="/"> گالری ویدئو </a>
    			</h2>
    		</div>
             <?php  
             foreach($this->serviceVideoFiles as $video) {
            ?>
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4">
					 <a class="selected-product-thumb  galleryvideo" href="/uploads/videoGallery/<?php echo $video['file_name'];?>" title="">
						 
						  <video width="100%" height="auto" controls>
                              <source src="/uploads/videoGallery/<?php echo $video['file_name'];?>" type="video/mp4">
                            Your browser does not support the video tag.
                            </video> 
						 
						 <div class="selected-product-caption">
							<div class="selected-product-caption-inner">
								<div><?php 
								$caption = $video['caption'];
								$captions = explode("|", $caption);
								foreach ($captions as $text) {
								    echo $text . "<br>";
								}
								?></div>
							</div>
						</div>
					 </a>
			</div>
               <?php }} ?>
							
								
</div></div></div>
            </div>
        </div>
    </div>
</section>
  
<?php   } ?>	 
<script type="text/javascript">

  	$("#owl-demo2").owlCarousel({
  		items : 5,
  		itemsTablet : [980,2],
        navigation : false, // Show next and prev buttons
        slideSpeed : 300,
        paginationSpeed : 400,	       
        pagination : true,
        autoPlay: false,
  	});      	
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});  
</script>
 <script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$(".galleryvideo").prettyPhoto(
				{
					quicktime_markup: '<video height="{height}" width="{width}" controls><source src="{path}" type="video/mp4"></video>',
					social_tools:''
					}
				);
		
	});
</script>