<style>
.services-detail{width: 154px;height: 154px;background-color: red;border-radius: 50%;margin: 12px auto 0 auto}
.main-servicess{border: 1px solid #F3F3F3; float: right;width: 100%; margin-top: 25px;background-color: #F3F3F3; }
.title-servicess{padding-bottom: 20px;}
.title-servicess h4{text-align: center;padding-top: 12px;}
.about-more{margin: 0 auto;float: none !important;text-align: center;}
.services-detail img{width: 154px;height: 154px;border-radius: 50%;}
.text-servicess{direction: rtl;padding: 15px;text-align: justify;font-size: 13px;}
footer .footer_figure_left, footer .footer_figure_right, footer .link-address, .man {
    display: none;
}
footer{
	padding: 33px 0;
}
</style>
<link rel="stylesheet" href="/css/ihover/ihover.min.css"/>
<section id="back-img">
<div class="" style="background-image: url('../images/services2.jpg');"></div>
</section>
<div class="container">
<section id="internal-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 news-center">
               <article id="news-center" class="news">
                    <!-- breadcrumb -->
                    <div class="bradcrumb-div">
                	       <ul class="breadcrumb">
                	            <li>
                	            <a href="<?php echo $this->url('home'); ?>"> <i class="fa fa-home" aria-hidden="true"></i></a></li>
                                <li class="active"><?php echo __("Services"); ?></li>
                	       </ul>
                	   </div>
                	   <!-- title -->
                    <div class="box-title">
                        <h2 class="title">
                            <a href="/">
                                <?php echo __("Services"); ?>
                            </a>
                        </h2>
                    </div>
                    <div class="page-content  internal-post">
                       <div class="row">
                        <?php 
                        if($this->services){  
                            foreach ($this->services as $data) {		         		         
                                echo '
                                    <div class="col-md-4 col-xs-12 col-sm-6 pull-right">
                            <div class="ih-item square effect13 left_to_right"><a href="/'.$this->layout()->lang.'/ourservices/detail/id/'.$data['id'].'">
                                <div class="img"><img src="/uploads/services/'.$data['image'].'" alt="img"></div>
                                <div class="info">
                                  <h3>'.$data['name'].'</h3>
                                  <p>'.mb_substr($data['description'],0,150,"utf-8").'...</p>
                                </div></a></div>
                                    </div>';
                        		   } 
                                 } 
                        ?>
                         
                                </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
</div>