
<?php echo $this->getPlugin('block/index/index', array('position' => "Newslettertitle", "lang" => $this->layout()->lang)); ?>
<?php 
	$newsletterForm = $this->newsletterForm;
	$newsletterForm->prepare();
	echo $this->form()->openTag($newsletterForm);
?>		
	<div class="newsletter-form">
		<?php echo $this->formElement($newsletterForm->get('newsletter_email')); ?>
	</div>

	<div class="sl-align-center">
    	<button id = "newsletter-button" class="fancy-button button-line button-white large zoom subform">عضویت در خبرنامه</button>
    </div>
	   <?php echo $this->form()->closeTag();?>
	<script>
	$(document).ready(function(){
		$("#newsletter_form").validationEngine();
        $('#newsletter-button').click(function(e){
        	e.preventDefault();
        	if($("#newsletter_form").validationEngine('validate'))
    		{
                $.post("/newsletter-ajax/save-newsletter", $("#newsletter_form").serialize(),function(result){
                    if(result == 'save'){
                    	$("#successModal").modal();
                    }else if(result == 'duplicate'){
                        $("div#errortext").html("<?php echo __('duplicated email!'); ?>");
                    	$("#failModal").modal();
                    }else{
                    	$("#failModal").modal();
                    }
                });
    		}
        });  
		});
	</script>
