<?php 
$this->headLink()->prependStylesheet('/css/dropzone.css');
$this->headscript()->prependFile($this->basePath('/js/dropzone.js'));
?>

<style>
.dz-remove{
	cursor: pointer !important;
	display: inline-block !important;
	padding-top: 20px;
	color: red;
	font-weight: bold;
}
.alert {
	display:none;
}
</style>
<?php  
$options = $this->options;
?>
<div id="uploadFile" class="dropzone">
<div class="alert"></div>
<div style="text-align:center">
<?php 
echo "Max file size: " . $options["maxSize"]   . " KB<br>";
echo "Valid file extensions: " . $options["front_acceptedFiles"] . "<br>";
echo "Max file counts: " . $options["front_maxFiles"] . "<br>";
?>
</div>
</div>

<script>
$(document).ready(function(){
	var initialize = true;
	$('body').on('click', '.specials', function (){
		var server_file = $(this).parent().children('.server_file').text();
		var caption = $(this).siblings('.caption').val();
		var order = $(this).siblings('.order').val();
		$.post("<?php echo $options["front_specialUrl"]?>", { "fileId": server_file,"configName" : "<?php echo $this->configName;?>","extraColumnsValue" : "<?php echo urlencode(json_encode($this->extraColumnsValue));?>","caption" : (caption), "order" : (order) },function(data){
			if (data == "1") {
			   	$(".alert").slideDown();
			   	$(".alert").addClass("alert-success");
			   	$(".alert").html("<?php echo _("Operation done succesfully");?>");
			   	$(".alert").delay(1000);
			   	$(".alert").slideUp(1000);
			} else { 
			 	$(".alert").slideDown();
			   	$(".alert").addClass("alert-danger");
			   	$(".alert").html("<?php echo _("Operation failed");?>");
			   	$(".alert").delay(1000);
			   	$(".alert").slideUp(1000);
			}	
		});	 
    });
	Dropzone.options.uploadFile = {
			url : "<?php echo $options["front_url"] . "/configName/" . urlencode($this->configName) . "/extraColumnsValue/" . urlencode(json_encode($this->extraColumnsValue));?>",
			addRemoveLinks: <?php echo $options["canDeleteUploadedFile"]; ?>,
		    paramName: "file", // The name that will be used to transfer the file
			maxFilesize: <?php echo $options["front_maxFilesize"]; ?>, // MB
			acceptedFiles: "<?php echo $options["front_acceptedFiles"]; ?>",
			maxFiles: <?php echo $options["front_maxFiles"]; ?>,
			clickable:<?php echo $options["front_clickable"]; ?>,
			success: function(file, response) {
				response = $.parseJSON(response);	
				if(response.code == 200){ // succeeded
					$(file.previewTemplate).append('<button class="btn btn-primary specials"><?php echo __("Save"); ?></button><span class="server_file hidden" >'+response.msg+"</span> <?php echo ($options["canDeleteUploadedFile"]?"<br/><input type ='text' class='form-control caption' placeholder='" . __("Caption") . "' ></input><br/><input type ='text' class='form-control order' placeholder='" . __("Sort") . "' ></input>":'');?>");
				    file.previewElement.classList.add("dz-success"); // from source
				  }else if (response.code == 400 ){  //  error
				    // below is from the source code too
				    var node, _i, _len, _ref, _results;
				    var message = response.msg // modify it to your error message
				    file.previewElement.classList.add("dz-error");
				    _ref = file.previewElement.querySelectorAll("[data-dz-errormessage]");
				    _results = [];
				    for (_i = 0, _len = _ref.length; _i < _len; _i++) {
				      node = _ref[_i];
				      _results.push(node.textContent = message);
				    }
				    return _results;
				}
			},
			removedfile: function(file) {
				var server_file = $(file.previewTemplate).children('.server_file').text();
					$.post("<?php echo $options["front_deleteUrl"]?>", { "fileId": server_file,"configName" : "<?php echo $this->configName;?>","extraColumnsValue" : "<?php echo urlencode(json_encode($this->extraColumnsValue));?>","token" : "<?php echo $this->token;?>", "path" : <?php echo (isset($this->extraColumnsValue["path"])?"'" . $this->extraColumnsValue["path"] . "/'":"''");?>  },function(data){
				    if (data == "1") { 
				    	$(".alert").slideDown();
					   	$(".alert").addClass("alert-success");
					   	$(".alert").append("<?php echo _("File deleted");?>");
					   	$(".alert").delay(1000);
					   	$(".alert").slideUp(1000);
				    	var _ref;
				    	return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
				    }
				    else {
				    	$(".alert").slideDown();
					   	$(".alert").addClass("alert-danger");
					   	$(".alert").append("<?php echo _("Operation done succesfully");?>");
					   	$(".alert").delay(1000);
					   	$(".alert").slideUp(1000);
						alert("<?php echo _("Operation failed");?>");
					}
				  });
			},  
			 init: function () {
				 this.on("addedfile", function (file) {
					 if (initialize) {

						 	$(file.previewTemplate).append('<span class="server_file hidden">'+file.fileId+'</span><br /><span  >'+file.caption+'</span><br /> <input type ="text" value="' + file.caption + '" class="form-control caption" placeholder="<?php echo  __("Caption"); ?>" ></input><br/><input type ="text" value="' + file.order + '" class="form-control order" placeholder="<?php echo  __("Sort"); ?>" ></input></input><br /><button class="btn btn-warning fa fa-edit specials" data-id="'+file.fileId+'" ><?php echo __("Edit")?></button>');

					 }
			        });
				 var myDropzone = this; 
				 <?php 
					if ($this->filesInfo) {
						foreach ($this->filesInfo as $fileInfo) {
							$filePath = $options["uploadPath"] . (isset($this->extraColumnsValue["path"])?$this->extraColumnsValue["path"] . "/":"") . $fileInfo['file_name']; 
							$filePathImg = $options["uploadPathThumb"] . (isset($this->extraColumnsValue["path"])?$this->extraColumnsValue["path"] . "/":"") . $fileInfo['file_name'];
							if (! is_file($filePath)) {
                                continue;
                            }
							?>
							var mockFile = { name: "<?php echo $fileInfo["original_file_name"];?>", size: <?php echo filesize($filePath); ?>,type: '<?php echo $fileInfo["mime_type"];?>',status: Dropzone.ADDED,fileId: "<?php echo $fileInfo["id"] ?>",caption: "<?php echo $fileInfo["caption"] ?>",order: "<?php echo $fileInfo["order"] ?>" };
							myDropzone.emit("addedfile", mockFile);
			                // And optionally show the thumbnail of the file:
							myDropzone.emit("thumbnail", mockFile, "<?php echo $filePathImg ?>");
							myDropzone.files.push(mockFile); 
			               <?php 
                        }
					}
				 ?>
				 initialize = false;  
	            }
			  
	};
});
</script>