
<?php 
$this->headLink()->prependStylesheet('/css/blog-styles.css');
?>
<!-- container 1 -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="<?php echo $this->url('home'); ?>"><?php echo __('Home');?></a></li>
                <li><a href="<?php echo $this->url('blog-home'); ?>"><?php echo __('Blog');?></a></li>
                <li class="active"><?php echo $this->authorName . "`s " . __('articles'); ?></li>
            </ol>
        </div>
    </div>
    <br>
	<div class="row">
		<div class="col-sm-12 col-xs-12">		
		<?php 
			if ($this->postList) {
				foreach ($this->postList as $post) {
					$postUrl = $this->urlGenerator()->postUrl($post);
					$postTags = false;
					if ($post['post_tags']) {
						$postTags = explode(",", $post['post_tags']);
					}
		?>	
			    <div class="postThumbnail thumbnail"><!-- start of post -->
			        <a href="<?php echo $postUrl; ?>">
				        <div class="postThumbnailTitle"><?php echo $post['post_title']?></div>
			        </a>
				        <p class="post-exerpt">
				        	<a href="<?php echo $this->urlGenerator()->categoryUrl($post); ?>"><span class="categoryId"><?php echo $post['category_title']; ?></span></a>
							<?php echo $post['post_exerpt']; ?>
				        </p>
				        <hr>
				        <div class="postThumbnailDetails">
				        	<?php if ($postTags) {?>
					        	<span class="glyphicon glyphicon-tags"></span><strong> <?php echo __("Tags")?>:</strong> 
					        	<?php 
					        		$tags = array();
					        		foreach ($postTags as $tag) {
					        			$tagLink = $this->urlGenerator()->tagUrl($tag, $post["post_lang"]);
							        	$tags[] = "<a href='$tagLink' >$tag</a>";
					        		}
					        		echo implode(" | ", $tags);
					        	?>
	        					&nbsp;&nbsp;&nbsp;&nbsp;
        					<?php }?>
        					<span class="glyphicon glyphicon-user"></span><strong> <?php echo __("By")?>:</strong> <?php echo "<a href='{$this->urlGenerator()->authorUrl($post)}'>" . $post['firstname'] . ' ' . $post['lastname'] . "</a>"; ?>
				        	&nbsp;&nbsp;&nbsp;&nbsp;
				        	<span class="glyphicon glyphicon-calendar"></span><strong> <?php echo __("At")?>:</strong> <?php echo $this->date()->persianDate(strtotime($post['post_date'])); ?>
			        	</div>
			    </div><!-- end of post -->
	    <?php 
	    	}
	    }
		echo $this->paginationControl($this->postList, 'Sliding', 'layout/paginator', array(
				'route' => 'blog-author',
				'params' => array(
				 	'name' => $this->authorName
				)
		));
	?>
		</div>


	</div><!-- end of row -->
</div>
    		
    		
    		
			  
