<?php 
use Application\Helper\GeneralHelper;
use Application\Helper\Jdates;
$jdate = new Jdates();
?>
<style>
.ssd li i {
	color: #fca600
}

.ssd {
	padding-bottom: 12px
}
</style>
<section id="back-img">
    <div class="" style="background-image: url('/images/news.jpg');"></div>
</section>
<section id="internal-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 news-center internal-post">
				<article id="news-center" class="news">
					<!-- breadcrumb -->
					<div class="bradcrumb-div">
						<ul class="breadcrumb">
							<li> <a	href="<?php echo $this->url('home'); ?>"><i class="fa fa-home" aria-hidden="true"></i></a></li>
							<li class="active"><?php echo __("News");?></li>
						</ul>
					</div>
                   <?php
                     $mainArray = array();
                     $mainArrayProduct = array();
                     $main = '';
                     $submain = '';
                    if ($this->postList) {
                        foreach ($this->postList as $post) {  
                            $date = strtotime($post['post_date']);
                            $dateArr = Jdates::gregorian_to_jalali(date('Y',$date), date('m',$date), date('d',$date));
                            $post['post_date'] = $dateArr[0].'/'.$dateArr[1].'/'.$dateArr[2];
                            
                            
                            $postUrl = $this->urlGenerator()->postUrl($post);
                         
                    //         $mainArray[$post['post_category_id']]= $post['category_title']; 
                            $post['url'] =  $this->urlGenerator()->postUrl($post);;
                    //         $mainArray[$post['post_category_id']]['data'] = $post['category_title'];
                            $mainArrayProduct[$post['post_category_id']][] = $post; 
                             
                        }
                     
                    } 
                    // if ($mainArray){ 
                       /*  foreach ($mainArray as $key => $value) {
                        	$count = count($value);
                          //  $main .= ' <a data-tab="#side-tab'.$key.'" href="">'.$value.'<div class="pull-left">('.$count.')</div></a>';
                        } */
                       
                        if ($mainArrayProduct) {
                          
                            $i = 0;
                            foreach ($mainArrayProduct as $key => $valueData) { 
                            	$count = count($valueData);
                            	$main .= ' <a data-tab="#side-tab'.$key.'" href="">'.$valueData[0]['category_title'].'<div class="pull-left">('.$count.')</div></a>';
                            	if ($this->categorieId) {
                            		if ($valueData[0]['post_category_id'] == $this->categorieId) {
                            			$submain .= '<div data-tab-content data-tabs-default id="side-tab'. $this->categorieId.'">';
                            	 
                            		}else {
                                    $submain .= ' <div data-tab-content id="side-tab'.$key.'">';
                                }
                            	} else  if ($i == 0) { 
                                    $submain .= '<div data-tab-content data-tabs-default id="side-tab'.$key.'">';
                                } else {
																						$submain .= ' <div data-tab-content id="side-tab' . $key . '">';
																					}
																					$i ++;
																					foreach ( $valueData as $key => $valuem ) {
																						$date = explode ( ' ', $valuem ['post_date'] );
																						$submain .= '                                                            
                                    				<div class="col-md-12 col-xs-12 col-sm-12 pull-right news-main">
                                    					<div class="box-news">
                                                            <div class="row">
                                    						  <div class="news-title col-md-12"><a href="' . $valuem ['url'] . '"><h4>' . $valuem ['post_title'] . '</h4></a></div>
                                    						</div>
                                                              <div class="row">
                                                                <div class="img-news col-md-3"><a href="'.$valuem['url'].'"><img src="/images/blog/'.$valuem['post_image'].' "></a></div>
                                                                 <div class="text-news col-md-9">'. GeneralHelper::replaceStringByDotInPersianText($valuem['post_exerpt'], 150) .'
                                    						 </div>
                                                              <div class="row">
                                                                <div class="more col-md-12">
                                                                <div class="col-md-6 pull-right text-right"><i class="fa fa-calendar" aria-hidden="true"></i>
                                                                '.$date[0].'</div>
                                                                <div class="col-md-6 pull-right text-left"><a class="pull-left" href="'.$valuem['url'].'"><i class="fa fa-arrow-left"></i>ادامه</a></div>                							                							
                                    						  </div>
                                                             </div>
                                    						</div>
                                    					</div>
                                    				</div>
                    
                                			  ';
                                }		    
                                $submain .= '</div>  ';
                            }
                        }
                       
                        
                    // }
                    		 
                    	 
                     ?>		
                    <div class="side-tabs tab-container">
						<div class="tab-links">
                                    <?php echo $main;?>
                                </div>

						<div class="tab-content">
                                    
                                    <?php echo $submain;?>
                          
                                </div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	
    $(document).ready(function() { 
    	$(function() {
            $('.side-tabs [data-tab]').tabs();
        });
    });
</script>