<style>
    .news-content-image {
        -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
        width: 91px;
        height: 71px;
    }
</style>
<!-- news -->
<div class="sl-direction container">
	   <div class="bradcrumb-div">
       <span class="breadcrumb-news"> <?php echo __("News");?></span>
           <!-- 	   <span>اخبار</span> -->
	       <ul class="breadcrumb">
	           <li>
	               <a href="/">
	                   <?php echo __("Home");?>
	               </a>
	           </li>
	           <li>
	               <span>
	                   <?php echo __("News");?>
	               </span>
	           </li>
	       </ul>
	   </div>
        <section class="main-content main-content-padding">
	         <header class="main-content-title">
                 <i class="fa fa-newspaper-o"></i>
			      <?php echo __('News')?>
	         </header>
	         <article class="main-content-article">
    	           <?php 
            			if ($this->postList) {
            				foreach ($this->postList as $post) {
            					$postUrl = $this->urlGenerator()->postUrl($post);
            					$postTags = false;
            					if ($post['post_tags']) {
            						$postTags = explode(",", $post['post_tags']);
    					}
            		?>	
    			    <div class="main-content content-padding"><!-- start of post -->
    			        <a href="<?php echo $postUrl; ?>">
    				        <div class="news-title"><?php echo $post['post_title']?></div>
    			        </a>
    			        <div class="row news-content">
    			             <a href="<?php echo $postUrl?>">
								<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
									<img src="/images/blog/<?php echo $post["post_image"]?>" alt="" class="news-content-image">
								</div>
								<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 news-content-text">
									<?php echo $post["post_exerpt"]?>
								</div>
								
							</a>
    			        </div>
				        <hr class="hr" />
				        <div class="ThumbnailDetails">
				        	
        					<span class="glyphicon glyphicon-user"></span><strong><i class="fa fa-user fa-color"></i></strong> <?php echo $post['firstname'] . ' ' . $post['lastname']; ?>
				        	&nbsp;&nbsp;&nbsp;&nbsp;
				        	<span class="glyphicon glyphicon-calendar"></span><strong> <i class="fa fa-clock-o fa-color"></i></strong> <?php echo $this->date()->persianDate(strtotime($post['post_date'])); ?>
			        	</div>
    			    </div><!-- end of post -->
            	    <?php 
                	    	}
                	    }
            	    ?>
	         </article>
	         <footer class="main-content-title mhd-paginator">
            	    <?php 
            		echo $this->paginationControl($this->postList, 'Sliding', 'layout/paginator', array(
            				'route' => 'blog-home',
            				'params' => array(
            				"lang" => $this->layout()->lang
            				)
            		));
            		?>
	         </footer>
         </section>
	</div>
<!-- End of news -->
