<?php 
 
	$this->headMeta()->appendName('description', $this->blogPost['post_meta_description']);
	$this->headMeta()->appendName('keywords', $this->blogPost['post_meta_keywords']);
	$postTags = explode(",", $this->blogPost['post_tags']);
?>

<section id="internal-post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-9 main-content">
                <div class="row">
                    <div class="col-md-4 right-sidebar">
                        <aside>
                            <figure class="b257dar80">
                                 <?php echo $this->getplugin('link/index/index' , array('position' => 'internal-257dar80-1' , 'layout' => 'banner'));?>
                            </figure>
                            <figure class="b257dar80">
                                 <?php echo $this->getplugin('link/index/index' , array('position' => 'internal-257dar80-2' , 'layout' => 'banner'));?>
                            </figure>
                            <!-- leag -->
                             <div class="box-title">
                                    <h2 class="title">
                                        <a href="">
                                           برنامه بازی ها
                                        </a>
                                    </h2>
                                      <?php   echo $this->getplugin('football/index/program' , array('position' => 'program'));?>
                             </div>
                            <!-- leag -->
                             <div class="box-title">
                                    <h2 class="title">
                                        <a href="">
                                           جدول بازی ها
                                        </a>
                                    </h2>
                                      <?php  echo $this->getplugin('football/index/index' , array('position' => 'index'));?>
                             </div>
                             <!-- advertismemnt -->
                             <figure class="b257dar240">
                                 <?php echo $this->getplugin('link/index/index' , array('position' => 'internal-257dar240-1' , 'layout' => 'banner'));?>
                             </figure>
                        </aside>
                    </div>
                    <div class="col-md-8 news-center internal-post">
                       <article id="news-center" class="news">
                              <!-- breadcrumb -->
                              <div class="bradcrumb-div">
                        	       <ul class="breadcrumb">
                        	            <li>
                        	            <i class="fa fa-home" aria-hidden="true"></i>
                        	            <a href="<?php echo $this->url('home'); ?>"><?php echo __('Home');?></a></li>
                                        <li><a href="<?php echo $this->url('blog-home'); ?>"><?php echo __('Blog');?></a></li>
                                        <li class="active"><?php echo $this->blogPost['post_title'];?></li>
                        	       </ul>
                        	   </div>
                        	   <!-- title -->
                            <div class="box-title">
                                <h2 class="title">
                                    <a href="/">
                                         <?php echo $this->blogPost['post_title']; ?>
                                    </a>
                                </h2>
                            </div>
                            <!-- news Details -->
                	         <article class="main-post">
                	         
                	             <!-- deatails -->
                	             <div class="row main-post-detailes">
                	               <div class=" pull-right">
                	                   <i class="fa fa-calendar" aria-hidden="true"></i>
                	                    <?php echo $this->date()->persianDate(strtotime($blogPost['post_date'])); ?>
                	                    <i data-id="<?php echo $this->blogPost['id'];?>" class="fa fa-eye getvisitcount" aria-hidden="true"></i>
                	                    <span id="myvisitCount"> </span>
                	               </div>
                	               <div class=" pull-left">
                	                   <i class="fa fa-share-alt" aria-hidden="true"></i>
                	                   <!-- <a href="" class="post-sharing">اشتراک گذاری</a> -->
                	                   <?php 
                	                    $postUrl = $this->urlGenerator()->postUrl($this->blogPost); 
                	                    if ($postUrl) {
                	                      echo $this->getplugin('social-share/index/index' , $postUrl);
                	                    }
                	                    ?>
                	                  <!--     |
            	                      <a id="sendfriend" href="" >ارسال به دوستان </a> -->
                	               </div>
                	             </div>
                	             
                	             <!-- image -->
                	            <div class="main-post-img">
                    	            <img src="/images/blog/<?php echo $this->blogPost['post_image']; ?>" alt="" >
                	            </div>
                	            
                	             <!-- intro -->
                	            <div class="news-post-intro">
                	                <?php echo $this->blogPost['post_exerpt']; ?>
                	            </div>
                	            
                	             <!-- content -->
                	            <div class="news-post-content">
                	                <?php echo $this->blogPost['post_content']; ?>
                	            </div>
                	             <!-- post tag -->
                	            <div class="news-post-tag">
                	               <span>تگ ها</span>
                	                <ul class="list-inline">
	                	                <?php 
	                	                if ($this->posttagsData) {
	                	                	  $tagsArray = explode(',', $this->posttagsData);
	                	                	  foreach ($tagsArray as $tag) { 
	                	                	     echo '<li><a href="/blog/tag/'.$tag.'">'.$tag.'</a></li>'; 
	                	                	  } 
	                	                } ?> 
                	                </ul>
                	            </div>
                	             <!-- post link -->
                	             <div class="row">
                	               <div class="col-md-4">
                	               </div>
                	               <div class="col-md-8">
                    	               <div class="news-link ">
                        	              <input id="copyTarget" value="<?php echo getenv('HTTP_HOST');?>/blog/<?php echo $this->blogPost['id'];?>" readonly="" type="text">
                        	              : لینک مقاله
                        	            </div>
                	               </div>
                	             </div>
                	             <!-- User comments -->
                       <?php   
                     
                      		echo $this->getplugin('comment/index/render' , array('entity_id' => $this->entityId , 'entity_type' => 'post', 'likes'=>'true'));
                      	?>
                	         </article>
                                <!-- End of news Details -->
                        </article>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 left-sidebar">
                 <aside>
                     <div class="left-sidebar3">
                    <!-- ==========related-post=========== -->
                        <div class="related-post">
                          <?php if ($this->relatedBlogPosts) {?>
                            <div class="box-title">
                                <h2 class="title">
                                    <a href="/">
                                        مقالات مرتبط
                                    </a>
                                </h2>
                            </div>
                            <ul>
                            <?php 
                            	$count = count ($this->relatedBlogPosts);
                            	$div = $count/4;
                            	$inRangeData = $div * 4;
                            	$mode = $count %4;
                            	$i = 0;
                            	$j = 0;
	                            foreach ($this->relatedBlogPosts as $data) {
	                            	$i ++;
	                            	$j ++; 
	                            	if ($i == 1) {
	                            		echo '<div class="row">';
	                            	}
	                            	echo ' <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                        <li>
                                            <a href="'.$this->urlGenerator()->postUrl($data).'"> 
                                 		 	  <img src="/images/blog/'.$data['post_image'] .'" alt="" >
                                               '. $data['post_title'] .'
                                            </a>
                                         </li>
                                     </div>';
	                            	if ($i == 4) {
	                            		echo '</div>';
	                            		$i = 0;
	                            	}
	                            	if ($count <  4) {
		                            	if ($i == $count) {
		                            		echo '</div>';
		                            		$i = 0;
		                            	}
	                            	}
	                            	if ($j> $inRangeData) {
	                            		if($i == $mode) {
	                            			echo '</div>';
	                            		}
	                            		 
	                            	}
	                            }
                            ?>
                                 
                            </ul>
                        </div>
                          <?php } ?>
                        <!-- ==========Archive=========== -->
                        <div class="Archive-post">
                             <div class="box-title">
                                <h2 class="title">
                                    <a href="/">
                                        آرشیو مطالب
                                    </a>
                                </h2>
                            </div>
                            <ul>
                            <?php if ($this->blogArchive) {
                            	foreach ($this->blogArchive as $archive) {
                             
                               echo ' <li> 
										<a href="'.$postUrl = $this->urlGenerator()->postUrl($archive).'"> 
	                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                 		         '. $archive['post_title'] .'
                                         </a>
                                  </li>';
                       
                                 }?>
                                <?php }?>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><?php echo __("Error message");?><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </h4>
        
        
      </div>
      <div class="modal-body">
         <div class="alert alert-danger" style="text-align:center">
          <strong><?php echo __("Operation failed!");?></strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-alert-ok" data-dismiss="modal"><?php echo __("Ok");?></button>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready( function(){
	var id = $('#getvisitcount').attr('data-id');  
	$.ajax({
		    url: '/blog-user-ajax/add-post-visit-count', 
	        method: 'post',
	        data: {
	        	id: id, 
	        },
	        dataType : "json",
	        success: function(data) { 
	     	    $("#myvisitCount").html(data); 
	            $("html, body").animate({
	                scrollTop: $('#select-league-program').offset().top - 200
	            }, '500', 'swing');
	        }
	 });
	 $("#sendfriend").on('click', function() {

		 
		 $("#postModal").modal();
		 
	 });
})  
</script>
