
<?php 
$this->headLink()->prependStylesheet('/css/blog-styles.css');

?>
<section id="internal-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 right-sidebar">
				<aside>
					<figure class="b257dar80">
                         <?php echo $this->getplugin('link/index/index' , array('position' => 'internal-257dar80-1' , 'layout' => 'banner'));?>
                    </figure>
					<figure class="b257dar80">
                         <?php echo $this->getplugin('link/index/index' , array('position' => 'internal-257dar80-2' , 'layout' => 'banner'));?>
                    </figure>
					 <!-- leag -->
                             <div class="box-title">
                                    <h2 class="title">
                                        <a href="">
                                           برنامه بازی ها
                                        </a>
                                    </h2>
                                      <?php   echo $this->getplugin('football/index/program' , array('position' => 'program'));?>
                             </div>
                            <!-- leag -->
                             <div class="box-title">
                                    <h2 class="title">
                                        <a href="">
                                           جدول بازی ها
                                        </a>
                                    </h2>
                                      <?php  echo $this->getplugin('football/index/index' , array('position' => 'index'));?>
                             </div>
                             <!-- advertismemnt -->
					<figure class="b257dar240">
                         <?php echo $this->getplugin('link/index/index' , array('position' => 'internal-257dar240-1' , 'layout' => 'banner'));?>
                     </figure>
				</aside>
			</div>
			<div class="col-md-8 news-center internal-post">
				<article id="news-center" class="news">
					<!-- breadcrumb -->
					<div class="bradcrumb-div">
						<ul class="breadcrumb">
							<li><i class="fa fa-home" aria-hidden="true"></i> <a
								href="<?php echo $this->url('home'); ?>"><?php echo __('Home');?></a></li>
							<li><a href="<?php echo $this->url('blog-home'); ?>"><?php echo __('Blog');?></a></li>
                             <li class="active"><?php echo __('All articles with') . " " . $this->tag; ?></li>
						</ul>
					</div>
		<?php 
			if ($this->postList) {
			 
				foreach ($this->postList as $post) {
					$postUrl = $this->urlGenerator()->postUrl($post);
					$postTags = false;
					if ($post['post_tags']) {
						$postTags = explode(",", $post['post_tags']);
					}
		?>	
			    <div class="postThumbnail thumbnail"><!-- start of post -->
			        <a href="<?php echo $postUrl; ?>">
				        <div class="postThumbnailTitle"><?php echo $post['post_title']?></div>
			        </a>
				        <p class="post-exerpt">
				        	<a href="<?php echo $this->urlGenerator()->categoryUrl($post); ?>"><span class="categoryId"><?php echo $post['category_title']; ?></span></a>
							<?php echo $post['post_exerpt']; ?>
				        </p>
				        <hr>
				        <div class="postThumbnailDetails">
				        	<?php if ($postTags) {?>
					        	<span class="glyphicon glyphicon-tags"></span><strong> <?php //$this->setHeadTitle(__('Tags'));?></strong> 
					        	<?php 
					        		$tags = array();
					        		foreach ($postTags as $tag) {
					        			$tagLink = $this->urlGenerator()->tagUrl($tag, $post['post_lang']);
							        	$tags[] = "<a href='$tagLink' >$tag</a>";
					        		}
					        		echo implode(" | ", $tags);
					        	?>
	        					&nbsp;&nbsp;&nbsp;&nbsp;
        					<?php }?>
        					<span class="glyphicon glyphicon-user"></span><strong> <?php //$this->setHeadTitle(__('By'));?></strong> <?php echo "<a href='{$this->urlGenerator()->authorUrl($post)}'>" . $post['firstname'] . ' ' . $post['lastname'] . "</a>"; ?>
				        	&nbsp;&nbsp;&nbsp;&nbsp;
				        	<span class="glyphicon glyphicon-calendar"></span><strong> <?php //$this->setHeadTitle(__('At'));?></strong> <?php echo $this->date()->persianDate(strtotime($post['post_date'])); ?>
			        	</div>
			    </div><!-- end of post -->
	    <?php 
	    	}
	    }
		echo $this->paginationControl($this->postList, 'Sliding', 'layout/paginator', array(
				'route' => 'blog-tag',
				'params' => array(
					'tag' => $this->tag
				)
		));
	?>
		</div>


	</div><!-- end of row -->
</div>
</section>
