<?php $this->headTitle(__('Add new Project Category'));?>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php echo __('Add new Project Category'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new Project Category'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">
                 <?php echo __('Add new Project Category')?>
            </h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-lg-6">
                    <!--  help -->
                    <fieldset class="help-form">    	
        					<legend>راهنمای ایجاد گروه ها برای پروژه ها</legend>
							<p>
							پروژه های شرکت ها می تواند ابتدا در این بخش گروه بندی شود، برای مثال شما ممکن است چند گروه آموزشی، سازمانی و ... داشته باشید که هر کدام از این گروه ها شامل زیر مجموعه ای از نمونه کارها باشند ، در این بخش می توانید این گروه ها را ایجاد کنید
							<br/>
    						1-زبان، مشخص کننده این بخش است که گروه ایجاد شده در چه زبانی قرار است به نمایش در بیاید
    						<br />
    						2-فیلد والد یا parent بدین منظور استفاده می شود که آیا گروه ای که ایجاد میکنید گروه اصلی است یا زیر مجموعه ی گروه دیگر،در صورتی که این گزینه را خالی رها کنید، به عنوان گروه اصلی شناخته می شود و در صورتی که از بین گزینه های موجود یک گزینه را انتخاب کنید، گروهی که ایجاد میکنید زیر مجموعه آن گروه می شود
    						<br />
    						3-عنوان که همان نام گروه است و وضعیت جهت فعال یا غیرفعال کردن گروه برای نمایش یا عدم نمایش آن در سایت به کار می رود.
							<br />
							4- ترتیب، ترتیب نمایش گروه هارا مطابق با دلخواه شما ایجاد میکند و میتواند اعداد 1 تا n باشد
							</p>
        			</fieldset>	
                </div>
                <div class="col-lg-6">
                <?php 
                	$linkForm = $this->categorySampleForm;
                	$linkForm->prepare();
                	echo $this->form()->openTag($linkForm);
                ?>
                	<div class="form-group" id="tour1">
                		<label class="control-label"><?php echo $this->formLabel($linkForm->get('catergory_lang')); ?></label>
                    	<?php echo $this->formElement($linkForm->get('catergory_lang'));
                    	echo $this->formElementErrors($linkForm->get("catergory_lang")); ?>
                	</div>
                	<div class="form-group" id="tour2">
                		<label class="control-label"><?php echo $this->formLabel($linkForm->get('parent_id')); ?></label>
                    	<?php echo $this->formElement($linkForm->get('parent_id'));
                    	echo $this->formElementErrors($linkForm->get("parent_id")); ?>
                	</div>
                	<div class="form-group" id="tour3">
                		<label class="control-label"><?php echo $this->formLabel($linkForm->get('catergory_title')); ?></label>
                    	<?php echo $this->formElement($linkForm->get('catergory_title'));
                    	echo $this->formElementErrors($linkForm->get("catergory_title")); ?>
                	</div>
                	<div class="form-group" id="tour4">
                		<label class="control-label"><?php echo $this->formLabel($linkForm->get('category_order')); ?></label>
                    	<?php echo $this->formElement($linkForm->get('category_order'));
                    	echo $this->formElementErrors($linkForm->get("category_order")); ?>
                	</div>
                	<div class="form-group" id="tour5">
                		<label class="control-label"><?php echo $this->formLabel($linkForm->get('category_status')); ?></label>
                    	<?php echo $this->formElement($linkForm->get('category_status'));
                    	echo $this->formElementErrors($linkForm->get("category_status")); ?>
                	</div>
                	<div class="form-group pull-left" id="tour6">
                    	<?php 
                    		echo $this->formElement($linkForm->get('sampleCategorycsrf'));
                    		echo $this->formElementErrors($linkForm->get("sampleCategorycsrf"));
                    		echo $this->formElement($linkForm->get('submit'));
                    	?>
                    	<?php 
                    		echo $this->formElement($linkForm->get('sampleCategorycsrf'));
                    		echo $this->formElementErrors($linkForm->get("sampleCategorycsrf"));
                    		echo $this->formElement($linkForm->get('submit2'));
                    	?>
                    	<a href="/<?php echo $this->layout()->lang;?>/admin-sample-category" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                	</div>
                	<?php 
                		echo $this->form()->closeTag();
                	?>
            	</div>
            </div>
        </div>
    </div>
</section>
<script>
$(document).ready(function(){
    $("#linkCatForm").validationEngine(); 
    $('.submitCatLink').click(function(e){ 
       // e.preventDefault();
        if($("#linkCatForm").validationEngine('validate')) 
        {
       	   $("#linkCatForm").submit();
        }
    });
});  
</script>
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "انتخاب زبان",
    content: "زبانی که نمونه کار در آن زبان به نمایش در می آید را مشخص کنید",
  },
  {
    element: "#tour2",
    title: "والد",
    content: "در صورتی که دسته بندی شما، جزو دسته بندی های اصلی است این گزینه را خالی رها کنید، در غیر اینصورت در صورتیکه زیرمجموعه گروه دیگری است، ،والد را انتخاب کنید",
  },
  {
    element: "#tour3",
    title: "عنوان",
    content: "نام یا عنوان گروه نمونه کار را انتخاب کنید",
  },
  {
    element: "#tour4",
    title: "ترتیب",
    content: "ترتیب نمایش گروه را در صورت دلخواه با عدد مشخص کنید",
  },
  {
    element: "#tour5",
    title: "وضعیت",
    content: "این گزینه را تیک بزنید در غیر  اینصورت گروه در سایت نمایش داده نمی شود"
  },
  {
    element: "#tour6",
    title: "ذخیره",
    content: "با زدن دکمه ذخیره ، اطلاعات خود را ثبت نمایید ، در بخش افزودن نمونه کار میتوانید به گروه های خود، به تعداد دلخواه نمونه کار اضافه کنید"
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>