<?php
$samples = $this->sampleData;
 
if ($samples) {
$this->headTitle(__('Edit Project'));?>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php echo __('Edit Project')?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit Project')?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Edit Project')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
            	$linkForm = $this->linkForm;
            	$linkForm->prepare();
            	echo $this->form()->openTag($linkForm);
            ?> 
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">محتوای پروژه</a></li>
                <li><a data-toggle="tab" href="#menu2">افزودن رسانه</a></li>
            </ul> 
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-lg-5">
                         <!--  help -->
                            <!--  help -->
                            <fieldset class="help-form" id="tour9">    	
            					<legend>راهنمای پروژه</legend>
    							<p>
        						1-فیلد گروه جهت انتخاب گروهی است که پروژه به آن تعلق دارد
        						<br />
        						2-عنوان،نام پروژه است
        						<br />
        						3-لینک، آدرس URL ای است که به پروژه اصلی لینک می شود
    							<br />
    							4-ترتیب، ترتیب نمایش پروژه ها را نشان میدهد
    							<br/>
    							5-وضعیت ، فعال یا غیر فعال بودن پروژه را از لحاظ دسترسی یا عدم دسترسی در سایت مشخص میکند
    							<br/>
    							6-موضوع همکاری ثابتی است که متناسب با نوع پروژه میتواند تغییر کند
    							<br/>
    							7-وضعیت نمایش در صفحه اصلی، مشخص میکند که آیا پروژه  در صفحه اصلی نشان داده شود یا خیر
    							<br/>
    							8-تو ضیحات، توضیحاتی را در خصوص پروژه یا نمونه کار مشخص میکند
    							</p>
                			</fieldset>	
                        </div>
                        <div class="col-lg-7">
                            <input type="Hidden" value="/<?php echo $this->layout()->lang;?>/admin-link/list-links/<?php echo $this->cat_id;?>" name="backurl"/>
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($linkForm->get('samples_category_id')); ?></label>
                            	<?php echo $this->formElement($linkForm->get('samples_category_id'));
                            	echo $this->formElementErrors($linkForm->get("samples_category_id")); ?>
                        	</div>
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($linkForm->get('sample_title')); ?></label>
                            	<?php echo $this->formElement($linkForm->get('sample_title'));
                            	echo $this->formElementErrors($linkForm->get("sample_title")); ?>
                        	</div>
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($linkForm->get('sample_link')); ?></label>
                            	<?php echo $this->formElement($linkForm->get('sample_link'));
                            	echo $this->formElementErrors($linkForm->get("sample_link")); ?>
                        	</div>
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($linkForm->get('sample_order')); ?></label>
                            	<?php echo $this->formElement($linkForm->get('sample_order'));
                            	echo $this->formElementErrors($linkForm->get("sample_order")); ?>
                        	</div>
                        	  
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($linkForm->get('subject')); ?></label>
                            	<?php echo $this->formElement($linkForm->get('subject')); 
                            	echo $this->formElementErrors($linkForm->get("subject"));?>
                        	</div>
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($linkForm->get('description')); ?></label>
                            	<?php echo $this->formElement($linkForm->get('description'));
                            	echo $this->formElementErrors($linkForm->get("description")); ?>
                        	</div>
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($linkForm->get('view_home_page')); ?></label>
                            	<?php echo $this->formElement($linkForm->get('view_home_page'));
                            	echo $this->formElementErrors($linkForm->get("view_home_page")); ?>
                        	</div>
                        	<div class="form-group">
                        		<label class="control-label"><?php echo $this->formLabel($linkForm->get('sample_status')); ?></label>
                            	<?php echo $this->formElement($linkForm->get('sample_status')); 
                            	echo $this->formElementErrors($linkForm->get("sample_status"));?>
                        	</div>
                    	</div>                                                
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <div class="row">
                    	 <div class="col-lg-4">
                          <!--  help -->
                             <fieldset class="help-form">
                                <legend>
                                 راهنمای افزودن رسانه
            					</legend>
    							<p>
    							این بخش مختص افزودن رسانه به پروژه یا نمونه کار است، و میتوان به فراخور پروژه تصویر به آن اضافه کرد
    							</p>
                			</fieldset>	                      
                        </div>                    
                    <div class="col-lg-4">
                	<div class="box1">
                	   <div class="form-group">
                    	   <div id="image-holder5" class="sl-margin-bottom">
                    	   <label class="control-label"><?php echo $this->formLabel($linkForm->get('intro_img')); ?></label>
                    	  	 <?php if ($samples['intro_img']) {?>
                    	    	<img src="<?php  echo '/uploads/samples/'.$samples['intro_img'];?>">
                    	  	 <?php }?> 
                    	   </div>
                    	   <div class="fileUpload btn bg-maroon margin fa fa-image">
                               <span><?php echo __("Select image");?></span>
                        	   <?php echo $this->formElement($linkForm->get('intro_img'));
                        	   echo $this->formElementErrors($linkForm->get("intro_img")); ?>
                        	</div>
                    	</div>
                    </div>
            	</div>
            	<div class="col-lg-4">
                	<div class="box1">
                	   <div class="form-group">
                    	   <div id="image-holder1" class="sl-margin-bottom">
                    	   <label class="control-label"><?php echo $this->formLabel($linkForm->get('technology_img')); ?></label>
                    	  	 <?php if ($samples['technology_img']) {?>
                    	    	<img src="<?php  echo '/uploads/samples/'.$samples['technology_img'];?>">
                    	  	 <?php }?> 
                    	   </div>
                    	   <div class="fileUpload btn bg-maroon margin fa fa-image">
                               <span><?php echo __("Select image");?></span>
                        	   <?php echo $this->formElement($linkForm->get('technology_img'));
                        	   echo $this->formElementErrors($linkForm->get("technology_img")); ?>
                        	</div>
                    	</div>
                    </div>
            	</div>
            	<div class="col-lg-4">
                	<div class="box1">
                	   <div class="form-group">
                	      <label class="control-label"><?php echo $this->formLabel($linkForm->get('website_view_img')); ?></label>
                    	   <div id="image-holder2" class="sl-margin-bottom">
                    	   <?php if ($samples['website_view_img']) {?>
                    	    	<img src="<?php  echo '/uploads/samples/'.$samples['website_view_img'];?>">
                    	  	 <?php }?> 
                    	   </div>
                    	   <div class="fileUpload btn bg-maroon margin fa fa-image">
                               <span><?php echo __("Select image");?></span>
                        	   <?php echo $this->formElement($linkForm->get('website_view_img'));
                        	   echo $this->formElementErrors($linkForm->get("website_view_img")); ?>
                        	</div>
                    	</div>
                    </div>
            	</div>
            	<div class="col-lg-4">
                	<div class="box1">
                	   <div class="form-group">
                	       <label class="control-label"><?php echo $this->formLabel($linkForm->get('tablet_view_img')); ?></label>
                    	   <div id="image-holder3" class="sl-margin-bottom">
                    	   	 <?php if ($samples['website_view_img']) {?>
                    	    	<img src="<?php  echo '/uploads/samples/'.$samples['tablet_view_img'];?>">
                    	  	 <?php }?> 
                    	   
                    	   </div>
                    	   <div class="fileUpload btn bg-maroon margin fa fa-image">
                               <span><?php echo __("Select image");?></span>
                        	   <?php echo $this->formElement($linkForm->get('tablet_view_img'));
                        	   echo $this->formElementErrors($linkForm->get("tablet_view_img")); ?>
                        	</div>
                    	</div>
                    </div>
            	</div>
            	<div class="col-lg-4">
                	<div class="box1">
                	   <div class="form-group">
                	       <label class="control-label"><?php echo $this->formLabel($linkForm->get('mobile_view_img')); ?></label>
                    	   <div id="image-holder4" class="sl-margin-bottom">
                    	    <?php if ($samples['website_view_img']) {?>
                    	    	<img src="<?php  echo '/uploads/samples/'.$samples['mobile_view_img'];?>">
                    	  	 <?php }?> 
                    	   
                    	   </div>
                    	   <div class="fileUpload btn bg-maroon margin fa fa-image">
                               <span><?php echo __("Select image");?></span>
                        	    <?php
                        	         echo $this->formElement($linkForm->get('mobile_view_img'));
                        	         echo $this->formElementErrors($linkForm->get("mobile_view_img"));
                        	    ?>
                        	</div>
                    	</div>
                    </div>
            	</div>
                    </div>
                </div>
            </div>
            	<div class="form-group pull-left">
                	<?php 
                		echo $this->formElement($linkForm->get('samplecsrf'));
                		echo $this->formElementErrors($linkForm->get("samplecsrf"));
                		echo $this->formElement($linkForm->get('submit'));
            		?>
            		<a href="/<?php echo $this->layout()->lang;?>/admin-samples" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
        		</div>
        		<?php 
                	echo $this->form()->closeTag();
                ?>
    	</div>
	</div>
	<?php } ?>
</section>
<script type='text/javascript'>
                
$(document).ready(function(){
  uploadFileData('#fileUpload1', '#image-holder1'); 
  uploadFileData('#fileUpload2', '#image-holder2'); 
  uploadFileData('#fileUpload3', '#image-holder3'); 
  uploadFileData('#fileUpload4', '#image-holder4'); 
  uploadFileData('#fileUpload5', '#image-holder5'); 
  $("#linkForm").validationEngine(); 
  $('#submitLink').click(function(e){ 
      // e.preventDefault();
       if($("#linkForm").validationEngine('validate')) 
       {
      	   $("#linkForm").submit();
       }
   });
});  
function uploadFileData(fileUpload, imageholder) {
    $(fileUpload).on('change', function () {
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $(imageholder);
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof (FileReader) != "undefined") {
                for (var i = 0; i < countFiles; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                                "class": "thumb-image"
                        }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[i]);
                }
            } else {
                alert("This browser does not support FileReader.");
            }
        } else {
            alert("Please select only images");
        }
    });
}
</script>
