<?php $this->headTitle(__('Edit link'));?>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
 <?php echo __('Edit link')?>
    <small><?php echo __("Control panel")?></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
    <li class="active"><?php echo __('Edit link')?></li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Edit link')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
                    <?php 
                    	$image = $this->imageInfo;
                    	$linkForm = $this->linkForm;
                    	$linkForm->prepare();
                    	echo $this->form()->openTag($linkForm);
                     ?>
            <div class="row">
                <div class="col-lg-8">
                     
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($linkForm->get('lang')); ?></label>
                    	<?php echo $this->formElement($linkForm->get('lang'));
                    	echo $this->formElementErrors($linkForm->get("lang")); ?>
                    </div>
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($linkForm->get('title')); ?></label>
                    	<?php echo $this->formElement($linkForm->get('title'));
                    	echo $this->formElementErrors($linkForm->get("title")); ?>
                    </div>
                    <div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($linkForm->get('description')); ?></label>
                    	<?php echo $this->formElement($linkForm->get('description'));
                    	echo $this->formElementErrors($linkForm->get("description")); ?>
                	</div>
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($linkForm->get('icon')); ?></label>
                    	<?php echo $this->formElement($linkForm->get('icon'));
                    	echo $this->formElementErrors($linkForm->get("icon")); ?>
                    </div>
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($linkForm->get('url')); ?></label>
                    	<?php echo $this->formElement($linkForm->get('url'));
                    	echo $this->formElementErrors($linkForm->get("url")); ?>
                    </div>
                    <div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($linkForm->get('order')); ?></label>
                    	<?php echo $this->formElement($linkForm->get('order')); 
                    	echo $this->formElementErrors($linkForm->get("order"));?>
                	</div>
                 </div>
                 <div class="col-lg-4">
                	<div class="box1">
                	   <div class="form-group">
                        <div class="sl-margin-bottom">
                            <?php 
                                if(!empty($image[0]['image'])){
                                    ?>
                                    <div class="clearfix" id="image-container">
                                    <img src="/uploads/links/<?php echo $image[0]['image']; ?>" class="img-responsive" />
                                    <div class="sl-margin-bottom">
                                    <span style="cursor:pointer;" class="glyphicon glyphicon-remove" id="remove-link-image" link-id="<?php echo $image[0]['id'];?>"></span>
                            	        
                                    </div>
                                </div>
                                    <?php 
                                }
                            ?>
                        </div>
                     </div>
                        <div class="fileUpload btn btn-primary">
                           <sapn><?php echo __("Select image");?></sapn>
                        	<?php echo $this->formElement($linkForm->get('image'));
                        	echo $this->formElementErrors($linkForm->get("image")); ?>
                        </div> 
                    </div>
            </div>
            
        </div>
        <div class="form-group">
            <?php 
            	echo $this->formHidden($linkForm->get('linkcsrf'));
            	echo $this->formElementErrors($linkForm->get("linkcsrf"));
            	echo $this->formElement($linkForm->get('submit'));
            ?>
            <a href="/admin-link/list-links/<?php echo $this->id; ?>" class="btn btn-warning"><?php echo __("Cancle")?></a>
        </div>
    </div>
</div>
    <?php echo $this->form()->closeTag();?>
</section>
<script type='text/javascript'>
 $(document).ready(function(){
	 $('#remove-link-image').click(function(){
			var linkId = $(this).attr('link-id');
			$.ajax({
				url: '/admin-link/delete-image',
				type: 'POST',
				data:{ 
					linkId: linkId,
				},
				success: function(result) {
					if (result == "1") {
						$("#image-container").remove();
					} 
				}
			});

			});
		
    $("#linkForm").validationEngine(); 
    $('#submitLink').click(function(e){ 
       // e.preventDefault();
        if($("#linkForm").validationEngine('validate')) 
        {
       	   $("#linkForm").submit();
        }
    });
});  
$("#fileUpload1").on('change', function () {
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $("#image-holder1");
    image_holder.empty();
    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
            for (var i = 0; i < countFiles; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                            "class": "thumb-image"
                    }).appendTo(image_holder);
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
            }
        } else {
            alert("<?php echo __("This browser does not support FileReader");?>.");
        }
    } else {
        alert("<?php echo __("Please select only images");?>");
    }
});

</script>
