<link rel="stylesheet" id="scheme-source" href="/css/team/team.css" />
<script type="text/javascript" src="/js/team/team.js"></script>
<?php 
if ($this->resume) { 
    $coworkers =  $this->resume ;
 ?>
<!--=== Breadcrumb Starts ===-->
	<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link">
									<?php echo __('Home'); ?>
								</a>
							</li>
							<li>
								<a class="breadcrumb__item breadcrumb_item--link">
									<?php echo __('Shabdiz team'); ?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									<?php echo $coworkers['coworkerName']; ?>
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
	
<!--=== Breadcrumb Ends ===-->

	
	<!--=== sample Starts ===-->
	<section id="sample" class="download-wrap">
		<div class="container download">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					<div class="row">
					
							
						<section class="prodetail_part1 clearfix" id="timeline">
							<div class="ih-item circle colored effect5 margin-auto"><a href="#">
								<div class="img"><img src= "/uploads/coworkers/<?php echo  $coworkers['image']; ?>" alt="img"></div>
								<!-- <div class="info">
								  <div class="info-back">
									<h3><i class="fa fa-eye" aria-hidden="true"></i></h3>
									<p>Description goes here</p>
								  </div>
								</div> -->
								
								</a>
							</div>
							
							<div class="timeline center">
								<canvas id="cvs3"></canvas>
								<article style="text-align:center;">
								<h2><?php echo __("Curriculum Vitae"); ?></h2>    
						        <?php 
								 if (isset($coworkers['education']) && $coworkers['education']) {  
									    foreach ($coworkers['education']  as $education) {
									        $option = '';
                                            if ($this->education) {
                                                foreach ($this->education as $k => $selects) {
                                                 
                                                    if ($education['name'] == $k) { 
                            	    	                 $option = $selects;
                                                    }
                                                }
                                             }
    									echo '<figure>
        										<figcaption>'.$option.'</figcaption>
        										<h6>'.$education['from_date'].'-'.$education['to_date'].'</h6>
        										<p>
        										'.$education['institutions'].'
        										</p>
    									       </figure>';
								      }
                                    }
                                ?>      
								</article> 
								<article class="text-center">
									<h2><?php echo  __("job resume"); ?></h2>
									 
									  <?php
									  
								 if (isset($coworkers['job']) && $coworkers['job']) {  
									    foreach ($coworkers['job']  as $job) {
    									echo '<figure>
    										<figcaption>'.$job['name'].'</figcaption>
    										<h6>'.$job['from_date'].'-'.$job['to_date'].'</h6>
    										<p>
    										'.$job['description'].'
    										</p>
    									</figure>';
								      }
                                    }
                                ?>      
								</article>
								<br style="clear:both" />
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
		<?php 
}
?>
	<!--=== sample Ends ===-->
		<!--=== sample Ends ===-->
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<!--=====team ====--->
<script type="text/javascript" src="/js/team/team.js"></script>
