<?php
    if ($this->coworkers) { 
       
?>
<div style="direction: ltr;">			
				  <div id="owl-demo2" class="owl-carousel owl-theme center">
            		<?php foreach ($this->coworkers as $coworkerData) { 
            		  ?>
            		  <div class="item">
						<!-- colored -->
						<div class="ih-item circle colored effect5 margin-auto">
							<a href="detail/<?php echo $coworkerData['id']?>">
								<div class="img"><img src="/uploads/coworkers/<?php echo $coworkerData['image']?>" alt="img"></div>
								<div class="info">
								  <div class="info-back">
									<h3><i class="fa fa-eye" aria-hidden="true"></i></h3>
									<p><?php echo $coworkerData['name']?></p>
								  </div>
								</div>
							</a>
						</div>
						<!-- end colored -->
					    <div class="title">
							<?php echo $coworkerData['name']?>
					    </div>
						<div class="job">
							<?php echo $coworkerData['coworker_position']?>
						</div>
<!-- 						<div class="social-networks"> -->
<!--     						  <a href="#" class="social-networks__twitter"> -->
<!--     							<svg viewbox="0 0 15 15"> -->
<!--     							  <path d="M13.1,4.7c0,0.1,0,0.2,0,0.3c0,3.7-2.9,8.2-8.2,8.2c-1.6,0-3.1-0.5-4.4-1.2c0.3,0,0.4,0,0.7,0 -->
<!--     							  c1.3,0,2.6-0.5,3.6-1.2c-1.2,0-2.3-0.8-2.7-2c0.2,0,0.3,0.1,0.5,0.1c0.3,0,0.5,0,0.8-0.1C2.1,8.4,1.1,7.3,1.1,5.8l0,0 c0.4,0.3,0.8,0.3,1.3,0.3C1.6,5.7,1.1,4.8,1.1,3.8c0-0.5,0.2-1,0.4-1.4c1.4,1.7,3.5,2.8,5.9,3C7.4,5.1,7.4,4.9,7.4,4.7 -->
<!--     							  c0-1.6,1.2-2.8,2.8-2.8c0.8,0,1.6,0.3,2.1,0.9c0.7-0.2,1.2-0.3,1.8-0.7c-0.3,0.7-0.7,1.2-1.2,1.6c0.6-0.1,1.2-0.2,1.7-0.4 -->
<!--     							  C14.1,3.8,13.6,4.3,13.1,4.7z"/> -->
<!--     							</svg> -->
<!--     						  </a> -->
<!--     						  <a href="#" class="social-networks__vimeo"> -->
<!--     							<svg viewbox="0 0 15 15"> -->
<!--     							  <path d="M11.6,9.8c-1.9,2.5-3.6,3.7-4.8,3.7c-0.8,0-1.5-0.7-2-2.2C4.4,9.9,4,8.6,3.6,7.1C3.1,5.6,2.7,4.9,2.2,4.9 -->
<!--     							  c-0.1,0-0.4,0.2-1.1,0.6L0.6,4.7c0.7-0.6,1.3-1.2,2-1.8c0.9-0.8,1.6-1.2,2-1.2c1.1-0.1,1.8,0.6,2,2.2C7,5.5,7.1,6.6,7.2,7.1 -->
<!--     							  c0.4,1.4,0.6,2.1,1.1,2.1c0.3,0,0.7-0.4,1.3-1.4c0.6-0.9,0.9-1.6,1-2.1c0.1-0.8-0.3-1.2-1-1.2c-0.4,0-0.7,0.1-1.1,0.3 -->
<!--     							  c0.7-2.2,2-3.4,3.9-3.3c1.4,0,2.1,1,2,2.8C14.4,5.6,13.5,7.5,11.6,9.8z"/> -->
<!--     							</svg> -->
<!--     						  </a> -->
<!--     						  <a href="#" class="social-networks__dribbble"> -->
<!--     							<svg viewBox="0 0 15 15"> -->
<!--     							  <path d="M7.6,0.5c-3.8,0-7,3.2-7,7s3.2,7,7,7s7-3.2,7-7S11.4,0.5,7.6,0.5z M13.3,7.2c-1.5-0.3-2.9-0.3-4.1,0 -->
<!--     							  C9,6.8,8.9,6.6,8.8,6.2c1.3-0.6,2.4-1.4,3.3-2.4C12.8,4.7,13.2,5.9,13.3,7.2z M11.1,2.9c-0.7,0.9-1.7,1.6-2.9,2.1 -->
<!--     							  C7.6,4,6.9,2.9,6.2,1.9c0.5-0.1,0.9-0.2,1.4-0.2C8.9,1.7,10.1,2.2,11.1,2.9z M4.9,2.4c0.7,1,1.5,2.1,2.1,3.2 -->
<!--     							  c-1.4,0.4-3.1,0.7-5,0.7C2.3,4.5,3.4,3.1,4.9,2.4z M1.8,7.5V7.3C4,7.3,6,7,7.6,6.6c0.1,0.3,0.3,0.6,0.4,0.8c-2,0.7-3.6,1.9-4.9,3.8 -->
<!--     							  C2.2,10.2,1.8,8.9,1.8,7.5z M4,12.1c1.1-1.8,2.6-3,4.4-3.5c0.6,1.4,0.9,2.9,1.2,4.4C7.6,13.7,5.6,13.3,4,12.1z M10.7,12.4 -->
<!--     							  c-0.3-1.4-0.7-2.7-1.1-4c1.1-0.2,2.3-0.1,3.6,0.1C13,10,12,11.4,10.7,12.4z"/> -->
<!--     							</svg> -->
<!--     						  </a> -->
<!-- 						</div> -->
					  </div> 
            <?php } ?>
		  </div>
</div>   
<?php }?>
<div style="direction: ltr;">			
			  <div id="owl-demo2" class="owl-carousel owl-theme center">
				  <div class="item">
					<!-- colored -->
					<div class="ih-item circle colored effect5 margin-auto">
						<a href="#">
							<div class="img"><img src="images/avator/atiyeh-barari.jpg" alt="img"></div>
							<div class="info">
							  <div class="info-back">
								<h3><i class="fa fa-eye" aria-hidden="true"></i></h3>
								<p>Description goes here</p>
							  </div>
							</div>
						</a>
					</div>
					<!-- end colored -->
						<div class="title">
							عطیه براری
						</div>
						<div class="job">
							تحقیقات بازار
						</div>
						<div class="social-networks">
						  <a href="#" class="social-networks__twitter">
							<svg viewbox="0 0 15 15">
							  <path d="M13.1,4.7c0,0.1,0,0.2,0,0.3c0,3.7-2.9,8.2-8.2,8.2c-1.6,0-3.1-0.5-4.4-1.2c0.3,0,0.4,0,0.7,0
							  c1.3,0,2.6-0.5,3.6-1.2c-1.2,0-2.3-0.8-2.7-2c0.2,0,0.3,0.1,0.5,0.1c0.3,0,0.5,0,0.8-0.1C2.1,8.4,1.1,7.3,1.1,5.8l0,0 c0.4,0.3,0.8,0.3,1.3,0.3C1.6,5.7,1.1,4.8,1.1,3.8c0-0.5,0.2-1,0.4-1.4c1.4,1.7,3.5,2.8,5.9,3C7.4,5.1,7.4,4.9,7.4,4.7
							  c0-1.6,1.2-2.8,2.8-2.8c0.8,0,1.6,0.3,2.1,0.9c0.7-0.2,1.2-0.3,1.8-0.7c-0.3,0.7-0.7,1.2-1.2,1.6c0.6-0.1,1.2-0.2,1.7-0.4
							  C14.1,3.8,13.6,4.3,13.1,4.7z"/>
							</svg>
						  </a>
						  <a href="#" class="social-networks__vimeo">
							<svg viewbox="0 0 15 15">
							  <path d="M11.6,9.8c-1.9,2.5-3.6,3.7-4.8,3.7c-0.8,0-1.5-0.7-2-2.2C4.4,9.9,4,8.6,3.6,7.1C3.1,5.6,2.7,4.9,2.2,4.9
							  c-0.1,0-0.4,0.2-1.1,0.6L0.6,4.7c0.7-0.6,1.3-1.2,2-1.8c0.9-0.8,1.6-1.2,2-1.2c1.1-0.1,1.8,0.6,2,2.2C7,5.5,7.1,6.6,7.2,7.1
							  c0.4,1.4,0.6,2.1,1.1,2.1c0.3,0,0.7-0.4,1.3-1.4c0.6-0.9,0.9-1.6,1-2.1c0.1-0.8-0.3-1.2-1-1.2c-0.4,0-0.7,0.1-1.1,0.3
							  c0.7-2.2,2-3.4,3.9-3.3c1.4,0,2.1,1,2,2.8C14.4,5.6,13.5,7.5,11.6,9.8z"/>
							</svg>
						  </a>
						  <a href="#" class="social-networks__dribbble">
							<svg viewBox="0 0 15 15">
							  <path d="M7.6,0.5c-3.8,0-7,3.2-7,7s3.2,7,7,7s7-3.2,7-7S11.4,0.5,7.6,0.5z M13.3,7.2c-1.5-0.3-2.9-0.3-4.1,0
							  C9,6.8,8.9,6.6,8.8,6.2c1.3-0.6,2.4-1.4,3.3-2.4C12.8,4.7,13.2,5.9,13.3,7.2z M11.1,2.9c-0.7,0.9-1.7,1.6-2.9,2.1
							  C7.6,4,6.9,2.9,6.2,1.9c0.5-0.1,0.9-0.2,1.4-0.2C8.9,1.7,10.1,2.2,11.1,2.9z M4.9,2.4c0.7,1,1.5,2.1,2.1,3.2
							  c-1.4,0.4-3.1,0.7-5,0.7C2.3,4.5,3.4,3.1,4.9,2.4z M1.8,7.5V7.3C4,7.3,6,7,7.6,6.6c0.1,0.3,0.3,0.6,0.4,0.8c-2,0.7-3.6,1.9-4.9,3.8
							  C2.2,10.2,1.8,8.9,1.8,7.5z M4,12.1c1.1-1.8,2.6-3,4.4-3.5c0.6,1.4,0.9,2.9,1.2,4.4C7.6,13.7,5.6,13.3,4,12.1z M10.7,12.4
							  c-0.3-1.4-0.7-2.7-1.1-4c1.1-0.2,2.3-0.1,3.6,0.1C13,10,12,11.4,10.7,12.4z"/>
							</svg>
						  </a>
						</div>
				  </div>
				  <div class="item">
					<!-- colored -->
					<div class="ih-item circle colored effect5 margin-auto"><a href="#">
						<div class="img"><img src="images/avator/azar-abdolahzadeh.jpg" alt="img"></div>
						<div class="info">
						  <div class="info-back">
							<h3><i class="fa fa-eye" aria-hidden="true"></i></h3>
							<p>Description goes here</p>
						  </div>
						</div></a></div>
					<!-- end colored -->
						<div class="title">
							آذر عبدالله زاده
						</div>
						<div class="job">
							مدیرداخلی
						</div>
						<div class="social-networks">
						  <a href="#" class="social-networks__twitter">
							<svg viewbox="0 0 15 15">
							  <path d="M13.1,4.7c0,0.1,0,0.2,0,0.3c0,3.7-2.9,8.2-8.2,8.2c-1.6,0-3.1-0.5-4.4-1.2c0.3,0,0.4,0,0.7,0
							  c1.3,0,2.6-0.5,3.6-1.2c-1.2,0-2.3-0.8-2.7-2c0.2,0,0.3,0.1,0.5,0.1c0.3,0,0.5,0,0.8-0.1C2.1,8.4,1.1,7.3,1.1,5.8l0,0 c0.4,0.3,0.8,0.3,1.3,0.3C1.6,5.7,1.1,4.8,1.1,3.8c0-0.5,0.2-1,0.4-1.4c1.4,1.7,3.5,2.8,5.9,3C7.4,5.1,7.4,4.9,7.4,4.7
							  c0-1.6,1.2-2.8,2.8-2.8c0.8,0,1.6,0.3,2.1,0.9c0.7-0.2,1.2-0.3,1.8-0.7c-0.3,0.7-0.7,1.2-1.2,1.6c0.6-0.1,1.2-0.2,1.7-0.4
							  C14.1,3.8,13.6,4.3,13.1,4.7z"/>
							</svg>
						  </a>
						  <a href="#" class="social-networks__vimeo">
							<svg viewbox="0 0 15 15">
							  <path d="M11.6,9.8c-1.9,2.5-3.6,3.7-4.8,3.7c-0.8,0-1.5-0.7-2-2.2C4.4,9.9,4,8.6,3.6,7.1C3.1,5.6,2.7,4.9,2.2,4.9
							  c-0.1,0-0.4,0.2-1.1,0.6L0.6,4.7c0.7-0.6,1.3-1.2,2-1.8c0.9-0.8,1.6-1.2,2-1.2c1.1-0.1,1.8,0.6,2,2.2C7,5.5,7.1,6.6,7.2,7.1
							  c0.4,1.4,0.6,2.1,1.1,2.1c0.3,0,0.7-0.4,1.3-1.4c0.6-0.9,0.9-1.6,1-2.1c0.1-0.8-0.3-1.2-1-1.2c-0.4,0-0.7,0.1-1.1,0.3
							  c0.7-2.2,2-3.4,3.9-3.3c1.4,0,2.1,1,2,2.8C14.4,5.6,13.5,7.5,11.6,9.8z"/>
							</svg>
						  </a>
						  <a href="#" class="social-networks__dribbble">
							<svg viewBox="0 0 15 15">
							  <path d="M7.6,0.5c-3.8,0-7,3.2-7,7s3.2,7,7,7s7-3.2,7-7S11.4,0.5,7.6,0.5z M13.3,7.2c-1.5-0.3-2.9-0.3-4.1,0
							  C9,6.8,8.9,6.6,8.8,6.2c1.3-0.6,2.4-1.4,3.3-2.4C12.8,4.7,13.2,5.9,13.3,7.2z M11.1,2.9c-0.7,0.9-1.7,1.6-2.9,2.1
							  C7.6,4,6.9,2.9,6.2,1.9c0.5-0.1,0.9-0.2,1.4-0.2C8.9,1.7,10.1,2.2,11.1,2.9z M4.9,2.4c0.7,1,1.5,2.1,2.1,3.2
							  c-1.4,0.4-3.1,0.7-5,0.7C2.3,4.5,3.4,3.1,4.9,2.4z M1.8,7.5V7.3C4,7.3,6,7,7.6,6.6c0.1,0.3,0.3,0.6,0.4,0.8c-2,0.7-3.6,1.9-4.9,3.8
							  C2.2,10.2,1.8,8.9,1.8,7.5z M4,12.1c1.1-1.8,2.6-3,4.4-3.5c0.6,1.4,0.9,2.9,1.2,4.4C7.6,13.7,5.6,13.3,4,12.1z M10.7,12.4
							  c-0.3-1.4-0.7-2.7-1.1-4c1.1-0.2,2.3-0.1,3.6,0.1C13,10,12,11.4,10.7,12.4z"/>
							</svg>
						  </a>
						</div>
				  </div>
				 <div class="item">
					<!-- colored -->
					<div class="ih-item circle colored effect5 margin-auto"><a href="#">
						<div class="img"><img src="images/avator/mehdi-pendaresh.jpg" alt="img"></div>
						<div class="info">
						  <div class="info-back">
							<h3><i class="fa fa-eye" aria-hidden="true"></i></h3>
							<p>Description goes here</p>
						  </div>
						</div></a></div>
					<!-- end colored -->
						<div class="title">
							مهدی پندارش
						</div>
						<div class="job">
							طراح سایت و Seo
						</div>
						<div class="social-networks">
						  <a href="#" class="social-networks__twitter">
							<svg viewbox="0 0 15 15">
							  <path d="M13.1,4.7c0,0.1,0,0.2,0,0.3c0,3.7-2.9,8.2-8.2,8.2c-1.6,0-3.1-0.5-4.4-1.2c0.3,0,0.4,0,0.7,0
							  c1.3,0,2.6-0.5,3.6-1.2c-1.2,0-2.3-0.8-2.7-2c0.2,0,0.3,0.1,0.5,0.1c0.3,0,0.5,0,0.8-0.1C2.1,8.4,1.1,7.3,1.1,5.8l0,0 c0.4,0.3,0.8,0.3,1.3,0.3C1.6,5.7,1.1,4.8,1.1,3.8c0-0.5,0.2-1,0.4-1.4c1.4,1.7,3.5,2.8,5.9,3C7.4,5.1,7.4,4.9,7.4,4.7
							  c0-1.6,1.2-2.8,2.8-2.8c0.8,0,1.6,0.3,2.1,0.9c0.7-0.2,1.2-0.3,1.8-0.7c-0.3,0.7-0.7,1.2-1.2,1.6c0.6-0.1,1.2-0.2,1.7-0.4
							  C14.1,3.8,13.6,4.3,13.1,4.7z"/>
							</svg>
						  </a>
						  <a href="#" class="social-networks__vimeo">
							<svg viewbox="0 0 15 15">
							  <path d="M11.6,9.8c-1.9,2.5-3.6,3.7-4.8,3.7c-0.8,0-1.5-0.7-2-2.2C4.4,9.9,4,8.6,3.6,7.1C3.1,5.6,2.7,4.9,2.2,4.9
							  c-0.1,0-0.4,0.2-1.1,0.6L0.6,4.7c0.7-0.6,1.3-1.2,2-1.8c0.9-0.8,1.6-1.2,2-1.2c1.1-0.1,1.8,0.6,2,2.2C7,5.5,7.1,6.6,7.2,7.1
							  c0.4,1.4,0.6,2.1,1.1,2.1c0.3,0,0.7-0.4,1.3-1.4c0.6-0.9,0.9-1.6,1-2.1c0.1-0.8-0.3-1.2-1-1.2c-0.4,0-0.7,0.1-1.1,0.3
							  c0.7-2.2,2-3.4,3.9-3.3c1.4,0,2.1,1,2,2.8C14.4,5.6,13.5,7.5,11.6,9.8z"/>
							</svg>
						  </a>
						  <a href="#" class="social-networks__dribbble">
							<svg viewBox="0 0 15 15">
							  <path d="M7.6,0.5c-3.8,0-7,3.2-7,7s3.2,7,7,7s7-3.2,7-7S11.4,0.5,7.6,0.5z M13.3,7.2c-1.5-0.3-2.9-0.3-4.1,0
							  C9,6.8,8.9,6.6,8.8,6.2c1.3-0.6,2.4-1.4,3.3-2.4C12.8,4.7,13.2,5.9,13.3,7.2z M11.1,2.9c-0.7,0.9-1.7,1.6-2.9,2.1
							  C7.6,4,6.9,2.9,6.2,1.9c0.5-0.1,0.9-0.2,1.4-0.2C8.9,1.7,10.1,2.2,11.1,2.9z M4.9,2.4c0.7,1,1.5,2.1,2.1,3.2
							  c-1.4,0.4-3.1,0.7-5,0.7C2.3,4.5,3.4,3.1,4.9,2.4z M1.8,7.5V7.3C4,7.3,6,7,7.6,6.6c0.1,0.3,0.3,0.6,0.4,0.8c-2,0.7-3.6,1.9-4.9,3.8
							  C2.2,10.2,1.8,8.9,1.8,7.5z M4,12.1c1.1-1.8,2.6-3,4.4-3.5c0.6,1.4,0.9,2.9,1.2,4.4C7.6,13.7,5.6,13.3,4,12.1z M10.7,12.4
							  c-0.3-1.4-0.7-2.7-1.1-4c1.1-0.2,2.3-0.1,3.6,0.1C13,10,12,11.4,10.7,12.4z"/>
							</svg>
						  </a>
						</div>
				  </div>
				  <div class="item">
					<!-- colored -->
					<div class="ih-item circle colored effect5 margin-auto"><a href="#">
						<div class="img"><img src="images/avator/mostagfa-pourgharib.jpg" alt="img"></div>
						<div class="info">
						  <div class="info-back">
							<h3><i class="fa fa-eye" aria-hidden="true"></i></h3>
							<p>Description goes here</p>
						  </div>
						</div></a></div>
					<!-- end colored -->
						<div class="title">
							مصطفی پورغریب
						</div>
						<div class="job">
							برنامه نویس
						</div>
						<div class="social-networks">
						  <a href="#" class="social-networks__twitter">
							<svg viewbox="0 0 15 15">
							  <path d="M13.1,4.7c0,0.1,0,0.2,0,0.3c0,3.7-2.9,8.2-8.2,8.2c-1.6,0-3.1-0.5-4.4-1.2c0.3,0,0.4,0,0.7,0
							  c1.3,0,2.6-0.5,3.6-1.2c-1.2,0-2.3-0.8-2.7-2c0.2,0,0.3,0.1,0.5,0.1c0.3,0,0.5,0,0.8-0.1C2.1,8.4,1.1,7.3,1.1,5.8l0,0 c0.4,0.3,0.8,0.3,1.3,0.3C1.6,5.7,1.1,4.8,1.1,3.8c0-0.5,0.2-1,0.4-1.4c1.4,1.7,3.5,2.8,5.9,3C7.4,5.1,7.4,4.9,7.4,4.7
							  c0-1.6,1.2-2.8,2.8-2.8c0.8,0,1.6,0.3,2.1,0.9c0.7-0.2,1.2-0.3,1.8-0.7c-0.3,0.7-0.7,1.2-1.2,1.6c0.6-0.1,1.2-0.2,1.7-0.4
							  C14.1,3.8,13.6,4.3,13.1,4.7z"/>
							</svg>
						  </a>
						  <a href="#" class="social-networks__vimeo">
							<svg viewbox="0 0 15 15">
							  <path d="M11.6,9.8c-1.9,2.5-3.6,3.7-4.8,3.7c-0.8,0-1.5-0.7-2-2.2C4.4,9.9,4,8.6,3.6,7.1C3.1,5.6,2.7,4.9,2.2,4.9
							  c-0.1,0-0.4,0.2-1.1,0.6L0.6,4.7c0.7-0.6,1.3-1.2,2-1.8c0.9-0.8,1.6-1.2,2-1.2c1.1-0.1,1.8,0.6,2,2.2C7,5.5,7.1,6.6,7.2,7.1
							  c0.4,1.4,0.6,2.1,1.1,2.1c0.3,0,0.7-0.4,1.3-1.4c0.6-0.9,0.9-1.6,1-2.1c0.1-0.8-0.3-1.2-1-1.2c-0.4,0-0.7,0.1-1.1,0.3
							  c0.7-2.2,2-3.4,3.9-3.3c1.4,0,2.1,1,2,2.8C14.4,5.6,13.5,7.5,11.6,9.8z"/>
							</svg>
						  </a>
						  <a href="#" class="social-networks__dribbble">
							<svg viewBox="0 0 15 15">
							  <path d="M7.6,0.5c-3.8,0-7,3.2-7,7s3.2,7,7,7s7-3.2,7-7S11.4,0.5,7.6,0.5z M13.3,7.2c-1.5-0.3-2.9-0.3-4.1,0
							  C9,6.8,8.9,6.6,8.8,6.2c1.3-0.6,2.4-1.4,3.3-2.4C12.8,4.7,13.2,5.9,13.3,7.2z M11.1,2.9c-0.7,0.9-1.7,1.6-2.9,2.1
							  C7.6,4,6.9,2.9,6.2,1.9c0.5-0.1,0.9-0.2,1.4-0.2C8.9,1.7,10.1,2.2,11.1,2.9z M4.9,2.4c0.7,1,1.5,2.1,2.1,3.2
							  c-1.4,0.4-3.1,0.7-5,0.7C2.3,4.5,3.4,3.1,4.9,2.4z M1.8,7.5V7.3C4,7.3,6,7,7.6,6.6c0.1,0.3,0.3,0.6,0.4,0.8c-2,0.7-3.6,1.9-4.9,3.8
							  C2.2,10.2,1.8,8.9,1.8,7.5z M4,12.1c1.1-1.8,2.6-3,4.4-3.5c0.6,1.4,0.9,2.9,1.2,4.4C7.6,13.7,5.6,13.3,4,12.1z M10.7,12.4
							  c-0.3-1.4-0.7-2.7-1.1-4c1.1-0.2,2.3-0.1,3.6,0.1C13,10,12,11.4,10.7,12.4z"/>
							</svg>
						  </a>
						</div>
				  </div>
		  </div>
</div>   
