<?php use Application\Helper\GeneralHelper; ?>
<style>
footer{
	padding: 33px 0;
}
footer .footer_figure_left, footer .footer_figure_right, footer .link-address, .man {
    display: none;
}
#shop{min-height: 500px;}
.main-content{padding-bottom: 30px;}
.cat_titlebox a{color: #251d35 !important;}
.cat_mainboxx{padding-left: 0px !important; padding-right: 0px !important; margin-top: 22px;}
.cat_titlebox{height: 50px;color: #251d53; font-family: kufi;padding-top: 14px;font-size:15px;}
.cat_mainboxx img{height: 225px;width: 100%}
.category_img_boxes{border: 1px solid #251d35; }
</style>
<section id="shop">
<?php 
    echo $this->headLink()->appendStylesheet('/css/jquery-ui.min.css');
    echo $this->inlineScript()->appendFile('/js/jquery-ui.min.js');
?>
<section id="back-img">
    <div class="" style="background-image: url('/images/shop.jpg');"></div>
</section>
<section id="internal-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 news-center">
               <article id="news-center" class="news">
                    <!-- breadcrumb -->
                    <div class="bradcrumb-div">
                	       <ul class="breadcrumb">
                	            <li>
                	            <i class="fa fa-home" aria-hidden="true"></i>
                	            <a href="<?php echo $this->url('home'); ?>"><?php echo __('Home');?></a></li>
                                <li class="active">محصولات</li>
                	       </ul>
                	   </div>
                	   <!-- title -->
                    <div class="box-title">
                        <h2 class="title">
                                محصولات
                        </h2>
                    </div>
                    <div class="page-content shop-content">
                        <div class="">
			                 <?php foreach ($this->productShopData as $category) {
			                     ?>
     			                 <div class="col-xs-12 col-sm-6 col-md-4">
     			                    <div class="shop-category text-center">
     			                             <div class="category-img">
             			                         <a href="<?php echo $this->url("shop-home", array("action" => "real", "id" => $category["id"]));?>">
             			                             <img class="product_images category_images img-responsive" src="/uploads/shop/category/<?php echo $category["icon"];?>" alt="<?php echo $category["name"];?>" />
             		                             </a>
         			                         </div>
     			                            <span class="category-title">
     			                                 <a href="<?php echo $this->url("shop-home", array("action" => "real", "id" => $category["id"]));?>"><?php echo $category["name"];?></a>
     			                            </span>
     			                            <br/>
     			                            <div class="category-desc">
         			                             <?php 
                                                    echo GeneralHelper::replaceStringByDotInPersianText($category['description'], 100);
                                    			  ?> 
     			                            </div>
                                        	<div class="about-product-button">
                                				<div class="contain"> 
                                					<a href="<?php echo $this->url("shop-home", array("action" => "real", "id" => $category["id"]));?>" class="btnnn fill"><span> <?php echo __('More'); ?></span></a>
                                				</div>
                                			</div>
     			                    </div>
		                          </div>
	                   <?php }?>
			             
		             </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>


