<div class="container">
    <div class="row">
    <div class="col-sm-6">
        <div class="small-form checkout_login_fotm sl-direction">
	  	<h4><?php echo __('Login form'); ?></h4>
		<?php
			$loginSigninForm = $this->loginForm;
			$loginSigninForm->prepare();
			echo $this->form()->openTag($loginSigninForm);
		?>
        <div class="form-group">
        <label class="control-label"><?php echo $this->formLabel($loginSigninForm->get('username')); ?></label>
             <?php echo $this->formElement($loginSigninForm->get('username'));
                   echo $this->formElementErrors($loginSigninForm->get("username"));
             ?>
        </div>
        <div class="form-group">
        <label class="control-label"><?php echo $this->formLabel($loginSigninForm->get('password')); ?></label>
             <?php echo $this->formElement($loginSigninForm->get('password'));
                   echo $this->formElementErrors($loginSigninForm->get("password"));
             ?>
        </div>
        <div class="form-group">
            <label class="control-label"><?php echo $this->formLabel($loginSigninForm->get('remember_me')); ?></label>
             <?php echo $this->formElement($loginSigninForm->get('remember_me'));
                   echo $this->formElementErrors($loginSigninForm->get("remember_me"));
             ?>
        </div>
		<?php 
			echo $this->formElement($loginSigninForm->get('csrf_security_login')); 
			echo $this->formElementErrors($loginSigninForm->get("csrf_security_login"));
			echo $this->formElement($loginSigninForm->get('submit')); 
		?>
		<a href="<?php echo $this->url('application' , array("lang" => $this->layout()->lang, "action" => "forgot-password"));?>" class="btn btn-flat btn-default">
		  <?php echo __("Forget password"); ?>
		</a>
		<?php 
			echo $this->form()->closeTag();
		?>
</div>
        
    </div>
   
    
    <div class="col-sm-6">
        <link href="/css/validation.css" rel="stylesheet" type="text/css" />
<script src="/js/validation/jquery.validationEngine.js"></script>
<script src="/js/validation/languages/jquery.validationEngine-en.js"></script>
<div class="small-form checkout_register_fotm sl-direction">
	  	<h4><?php echo __('Signup form'); ?></h4>
	  	<br>
		<?php 
			$registrationForm = $this->registrationForm;
			$registrationForm->prepare();
			echo $this->form()->openTag($registrationForm);
			?>
			<div class="form-group ">
			<label class="control-label"><?php echo $registrationForm->get('email')->getLabel(); ?></label>
                 <?php echo $this->formElement($registrationForm->get('email')); 
                  echo $this->formElementErrors($registrationForm->get("email"));?>
            </div>			
            <div class="form-group ">
            <label class="control-label"><?php echo $registrationForm->get('password')->getLabel(); ?></label>
                 <?php echo $this->formElement($registrationForm->get('password')); 
                  echo $this->formElementErrors($registrationForm->get("password"));?>
            </div>		
            <div class="form-group ">
            <label class="control-label"><?php echo $registrationForm->get('show_password')->getLabel(); ?></label>
                 <?php echo $this->formElement($registrationForm->get('show_password')); 
                  echo $this->formElementErrors($registrationForm->get("show_password"));?>
            </div>
            <div class="form-group ">
            <label class="control-label"><?php echo $registrationForm->get('rules')->getLabel(); ?></label>
                 <?php echo $this->formElement($registrationForm->get('rules')); 
                  echo $this->formElementErrors($registrationForm->get("rules"));?>
                  <a href="/<?php echo $this->layout()->lang;?>/rules"  target="_blank"><?php echo __('Site Rules')?></a>
            </div>	
			<?php 
				echo $this->formElement($registrationForm->get('csrf_security')); 
				echo $this->formElementErrors($registrationForm->get("csrf_security"));
				echo $this->formElement($registrationForm->get('submit')); 
				echo $this->form()->closeTag();
			?>
		<a href="<?php echo $this->url('application', array("lang" => $this->layout()->lang, "action" => "signin"));?>" class="btn btn-flat btn-default hidden"><?php echo __("I have already registered");?></a>
            </div>
	       </div>
        </div>
    </div>

<script>
var $ = jQuery;
$( document ).ready(function() {
	$("#registrationForm").validationEngine();
	$('input[name="show_password"]').click(function(){
        if($(this).prop("checked") == true){
        	$('.form').find('input:password').each(function() {
     		   $("<input type='text' class='form-control' id='show_password'/>").attr({ name: this.name, value: this.value }).insertBefore(this);
     		}).remove();

        	
        }
        else if($(this).prop("checked") == false){
        	$('.form').find('#show_password').each(function() {
       		   $("<input type='password' class='form-control' id='show_password'/>").attr({ name: this.name, value: this.value }).insertBefore(this);
       		}).remove();
        }
    });

	$('input[name="rules"]').click(function(){
        if($(this).prop("checked") == true){
       	 $('#register').attr('disabled',false);
        }
        else if($(this).prop("checked") == false){
        	$('#register').attr('disabled',true);
        }
    });
 
    
});

</script>


