<style>
.main-content-article {
    text-align: justify;
    padding: 60px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #333;
}
</style>
<div class="sl-direction container">
	   <div class="bradcrumb-div">
       <span class="breadcrumb-badge"> <?php echo __('Shopping card')?> </span>
           <!-- 	   <span>اخبار</span> -->
	       <ul class="breadcrumb">
	            <?php echo $this->breadcrumbs;?>
	       </ul>
	   </div>
        <section class="main-content main-content-padding">
	         <header class="main-content-title">
                  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
			      <?php echo __('Shopping card')?>
	         </header>
	         <article class="main-content-article">
                <?php 
                if ($this->card) {
                    ?>
                    <table class="table table-hover">
                     <tr >
                        <th>
                        <?php echo __("Product name"); ?>
                        </th>
                        <th>
                        <?php echo __("Operation");?>
                        </th>
                        <th>
                        <?php echo __("Main price");echo __("(Toman)");?>
                        </th>
                        <th>
                        <?php echo __("Product discount");echo __("(Toman)");?>
                        </th>
                        <th>
                        <?php echo __("Product tax");echo __("(Toman)");?>
                        </th>
                        <th>
                        <?php echo __("Product price");echo __("(Toman)");?>
                        </th>
                      
                     </tr>
                     
                    <?php
                    foreach ($this->card as $key => $value)
                    {
                        if (isset($value["sum"])) {
                  
                        ?>
                       
                        <tr>
                            <td>
                            <?php echo $value["name"]; ?>
                            </td>
                            <td>
                            <?php echo $this->getPlugin('add-to-card/index/index', array($value["id"], "ShowCard")); ?> 
                            </td>
                             <td>
                                <span class="productMainPrice"><?php  echo $value["price"] * $value["quantity"];?></span>
                            </td>
                            <td>
                                <span class="productDiscount"><?php  echo $value["discount"] * $value["quantity"];?></span>
                            </td>
                            <td>
                                <span class="productTax"><?php  echo $value["tax"] * $value["quantity"];?></span>
                            </td>
                            <td>
                                <span class="productPrice"><?php  echo $value["sum"];?></span>
                            </td>
                           
                        </tr>
                      <?php 
                        }
                    }
                    ?>
                   </table>
                  
                   <div class="row">
                        <div class="col-xs-12 col-md-8 col-lg-8">
                        
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                             <table class="table table-hover text-center">
                                  <tr class="total-table-title-tr">
                                         <td colspan="2" class="text-center">
                                         <?php echo __("Totals Factor"); echo __(" (Toman) ");?>
                                         </td>
                                  </tr> 
                                   <tr>
                                         <td>
                                            <?php echo __("Total Main Price");?>
                                        </td>
                                         <td>
                                            <span class = "totalMainPrice"></span>
                                        </td>
                                   </tr> 
                                   <tr>
                                       <td>
                                             <?php echo __("Total Discount");?>
                                        </td>
                                        <td>
                                             <span class = "totalDiscount"></span>
                                        </td>
                                   </tr> 
                                   <tr>
                                         <td>
                                            <?php echo __("Total Tax");?>
                                        </td>
                                        <td>
                                           <span class = "totalTax"></span>
                                        </td>
                                   </tr> 
                                   <tr>
                                        <td>
                                            <?php echo __("Total Price");?>
                                        </td>
                                        <td>
                                             <span class = "totalPrice"></span>
                                        </td>
                                    </tr>
                               </table> 
                        </div>
                   </div>
                    <?php
                        if ($this->successMessage) {?>
                            <div class="alert alert-success" style="text-align:center">
                              <?php echo $this->successMessage; ?>
                            </div>
                            <?php 
                        } else if ($this->errorMessage) {?>
                            <div class="alert alert-danger text-center"  style="text-align:center">
                              <?php echo $this->errorMessage; ?>
                            </div>
                            <?php 
                        } 
                    }
                    $this->card->getManager()->getStorage()->clear("addtocard");
                    ?>
                 
	         </article>
	    </section>
</div>

<script>
$(function() {
	$.fn.digits = function(){ 
	    return this.each(function(){ 
	        $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
	    })
	}
	function calculateTotals() {
		var sum = 0;
		$('.productMainPrice').each(function(){
		    sum += parseFloat($(this).text()); 
		});
		$(".totalMainPrice").text(sum).digits();

		sum = 0;
		$('.productDiscount').each(function(){
		    sum += parseFloat($(this).text());  
		});
		$(".totalDiscount").text(sum).digits();

		sum = 0;
		$('.productTax').each(function(){
		    sum += parseFloat($(this).text()); 
		});
		$(".totalTax").text(sum).digits();

		sum = 0;
		$('.productPrice').each(function(){
		    sum += parseFloat($(this).text()); 
		});
		$(".totalPrice").text(sum).digits();
		sum += parseFloat($(".transmitalWayPrice").text());
		$(".totalPriceWithTransmitalway").text(sum).digits();
	}
	calculateTotals();
	
});


</script>
