<style>
    .main-content-article {
        text-align: justify;
        padding: 60px;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #333;
    }
    .main-content-article img {
        max-width: 100%;
        height: 85px;
    }
</style>
<div class="sl-direction container">
	   <div class="bradcrumb-div">
       <span class="breadcrumb-badge"> <?php echo __('Instructor')?> </span>
           <!-- 	   <span>اخبار</span> -->
	       <ul class="breadcrumb">
	            <?php echo $this->breadcrumbs;?>
	       </ul>
	   </div>
        <section class="main-content main-content-padding">
	         <header class="main-content-title">
                  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
			      <?php echo __('Shopping card')?>
	         </header>
	         <article class="main-content-article">
                    <!-- Factor -->
                    <?php 
                    if ($this->card) {
                        ?>
                         <div id="no-more-tables">
                            <table class="table-striped table-condensed cf text-center" style="width: 100%;margin-bottom: 30px;">
                            <thead class="cf" style="border-top: 1px solid #333;">
                                 <tr>
                                    <th>
                                    <?php echo __("Product name");?>
                                    </th>
                                    <th>
                                    <?php echo __("Quantity");?>
                                    </th>
                                    <th>
                                    <?php echo __("Main price");?><?php echo __("(Toman)"); ?>
                                    </th>
                                    <th>
                                    <?php echo __("Product discount");?><?php echo __("(Toman)"); ?>
                                    </th>
                                    <th>
                                    <?php echo __("Product tax");?><?php echo __("(Toman)"); ?>
                                    </th>
                                    <th>
                                    <?php echo __("Product price");?><?php echo __("(Toman)"); ?>
                                    </th>
                                    <th>
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </th>
                                 </tr>
                             </thead>
                        <?php
                        foreach ($this->card as $key => $value)
                        {
                            if (isset($value["sum"])) {
                      
                            ?>
                             <tbody id="courseData" style="border-top: 1px solid #333;">
                                <tr>
                                    <td>
                                    <?php echo $value["name"]; ?>
                                    </td>
                                    <td>
                                    <?php echo $this->getPlugin('add-to-card/index/index', array($value["id"], "ShowCard")); ?> 
                                    </td>
                                     <td>
                                        <span class="productMainPrice"><?php  echo $value["price"] * $value["quantity"];?></span>
                                    </td>
                                    <td>
                                        <span class="productDiscount"><?php  echo $value["discount"] * $value["quantity"];?></span>
                                    </td>
                                    <td>
                                        <span class="productTax"><?php  echo $value["tax"] * $value["quantity"];?></span>
                                    </td>
                                    <td>
                                        <span class="productPrice"><?php  echo $value["sum"];?></span>
                                    </td>
                                     <td>
                                        <span style="cursor:pointer;" class="fa fa-remove remove-btn" data-product-id="<?php echo $value["id"];?>"></span>
                                    </td>
                                    
                                </tr>
                            </tbody>
                          <?php 
                            }
                        }
                        ?>
                       </table>
                       
                       <br/><br/>
                       <div class="row">
                        <div class="col-xs-12 col-md-8 col-lg-8">
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                             <table class="table table-hover text-center">
                                 <tr class="total-table-title-tr">
                                     <td colspan="2">
                                     <?php echo __("Totals");?><?php echo __("(Toman)");?>
                                     </td>
                                     
                                  </tr>
                                  <tr>
                                     <td>
                                     <?php echo __("Total Main Price");?>
                                     </td>
                                      <td>
                                        <span class = "totalMainPrice"></span>
                                      </td>
                                  </tr>
                                  <tr>
                                        <td>
                                         <?php echo __("Total Discount");?>
                                         </td>
                                        <td>
                                         <span class = "totalDiscount"></span>
                                        </td>
                                    </tr>
                                   <tr>
                                   <td>
                                         <?php echo __("Total Tax");?>
                                         </td>
                                    <td>
                                    <span class = "totalTax"></span>
                                    </td>
                                  </tr>
                                   <tr>
                                   <td>
                                         <?php echo __("Total Price");?>
                                         </td>
                                   <td>
                                    <span class = "totalPrice"></span>
                                    </td>
                                  </tr>
                                   <tr>
                                    <td >
                                     <?php echo __("Transmital way price") . "(" . $this->card->transmitalWay["display_name"] . ")" ;?>
                                     </td>
                            
                                    <td>
                                    <span class = "transmitalWayPrice"><?php echo $this->card->transmitalWay["amount"]; ?></span>
                                    </td>
                                  </tr>
                                      <tr>
                                     <td>
                                     <?php echo __("Total price with transmital way price");?>
                                     </td>
                            
                                    <td>
                                    <span class = "totalPriceWithTransmitalway"></span>
                                    </td>
                                </tr>
                            </table> 
                        </div>
                        </div>
                        </div>
                      
                        <?php 
                    }
                    ?>

<hr class="hr-shopping"/>
<!-- <hr class="hr-shopping2"/>  -->
     <i class="fa fa-chevron-down" aria-hidden="true"></i>
<!-- Payment ways

	  	<h4 class="teacher-title"><?php //echo __('Payment ways'); ?></h4> -->
	  	<?php 
	  	    if ($this->paymentWays) {
	  	?>
	  	<form action="/<?php echo $this->layout()->lang;?>/shop/payment-ways" method="POST" id="orderForm">
    		<table class="">
    		<tr>
        		<th  style="padding:5px">
        		<?php //echo __("Payment way name")?>
        		</th>
        		<th style="padding:5px">
        		<?php //echo __("Payment way price")?>
        		</th>
    		</tr>
    		<?php 
        		foreach ($this->paymentWays as $k => $paymentWay) {
        		      $checked = "";
                      if ($k == 0) {
                          $checked = "checked";
                      }
    		   ?>
		     <tr>
    		   <td style="padding:5px">
    		      <input type="radio" name="paymentWay" class="paymentWaysRadio" value="<?php echo $paymentWay["type"];?>" <?php echo $checked;?> /><?php echo $paymentWay["display_name"];?>
    		      <?php 
    		      if ($paymentWay["type"] == "online") {
    		          if($this->banks)
    		          {
    		              echo "<tr id='banks'><td></td>";
    		              foreach ($this->banks as $k => $bank) {
    		                  $checked = "";
    		                  if ($k == 0) {
    		                      $checked = "checked";
    		                  }
    		             ?>
    		           
            		   <td style="padding:5px">
            		      <input type="radio" name="paymentWayBank"  value="<?php echo $bank["id"];?>" <?php echo $checked;?> />
            		       <?php if ($bank["name"] == 'بانک ملت') {
    		                     echo '<img src="/images/melat.png" alt="بانک ملت" />';
    		                  } elseif ($bank["name"] == 'بانک صادرات'){
    		                      echo '<img src="/images/saderat.png" alt="بانک صادرات" />';
    		                  }
    		                  elseif ($bank["name"] == 'بانک سامان'){
    		                      echo '<img src="/images/saman.jpg" alt="ببانک سامان" />';
    		                  }
    		                  elseif ($bank["name"] == 'بانک ملت - شبدیز'){
    		                      echo '<img src="/images/melat.png" alt="بانک ملت - شبدیز" />';
    		                  }
    		                  elseif ($bank["name"] == 'بپیشخوان'){
    		                      echo '<img src="/images/saderat.png" alt="پیشخوان" />';
    		                  }
    		                  elseif ($bank["name"] == 'بانک پاسارگاد'){
    		                      echo '<img src="/images/pasargad.png" alt="پیشخوان" />';
    		                  }
    		             
            		      //echo $bank["name"];
            		      ?>
            		   </td>
            		   
    		   
    		             <?php 
    		              }
    		              echo "</tr>";
    		          }
    		      ?>
    		      
    		      <?php }?>
    		   </td>
    		   </tr>
    		   
    		   <?php 
    		}
    		?>
    		</table>
    		 <a class="btn btn-secondary pull-left" style="margin-right:5px;" href="<?php echo $this->url('shop-home', array(
	    		'action' => 'transmital-ways', "lang" => $this->layout()->lang
	    )); ?>"><?php echo __("Back"); ?></a>
    		<input type="submit" class="btn btn-secondary pull-left" value = "<?php  echo __('Continue'); ?>" />
    	</form>
		
		<?php }?>
</div>
<script>
$(function(){

	$.fn.digits = function(){ 
	    return this.each(function(){ 
	        $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
	    })
	}
	function calculateTotals() {
		var sum = 0;
		$('.productMainPrice').each(function(){
		    sum += parseFloat($(this).text()); 
		});
		$(".totalMainPrice").text(sum).digits();

		sum = 0;
		$('.productDiscount').each(function(){
		    sum += parseFloat($(this).text());  
		});
		$(".totalDiscount").text(sum).digits();

		sum = 0;
		$('.productTax').each(function(){
		    sum += parseFloat($(this).text()); 
		});
		$(".totalTax").text(sum).digits();

		sum = 0;
		$('.productPrice').each(function(){
		    sum += parseFloat($(this).text()); 
		});
		$(".totalPrice").text(sum).digits();
		sum += parseFloat($(".transmitalWayPrice").text());
		$(".totalPriceWithTransmitalway").text(sum).digits();
	}

	$(".remove-btn").click(function(){
		var productId = $(this).data('product-id');
		var elm = $(this);
		   $.ajax({
		      url: '/shop-user-ajax/delete-product-card',
		      type:'POST',
		      data: 
			      {
		    	    productId: productId, 
			      },
		      success:function(result) {
		        if(result !== "false") {
		        	data = jQuery.parseJSON(result);
		        	$(".basket-price").text(data.totalQuantity);
		        	$(".totalSum").text(data.totalSum);
		        	$(elm).closest("tr").remove();
		        	calculateTotals();
		        	
		        } else {
		        	$("#failModal").modal(); 
		        }
		      }
		   });
	});

	calculateTotals();
	$(".addtocardbutton").click(function(){
		var productId = $(this).data('product-id');
		var productQuantity = $(this).parent().find(".productQuantity").val();
		var elm = $(this);
		   $.ajax({
		      url: '/shop-user-ajax-update-card',
		      type:'POST',
		      data: 
			      {
		    	    productId: productId, 
		    	    productQuantity: productQuantity, 
			      },
		      success:function(result) {
		        if(result !== "false") {
		        	data = jQuery.parseJSON(result);
		        	$(elm).parents("tr").find(".productMainPrice").text(data.productMainPrice);
		        	$(elm).parents("tr").find(".productDiscount").text(data.productDiscount);
		        	$(elm).parents("tr").find(".productTax").text(data.productTax);
		        	$(elm).parents("tr").find(".productPrice").text(data.productPrice);
		        	calculateTotals();
		        	$(".basketTotalQuantity").text(data.totalQuantity);
		        	
		        } else {
		        	$("#failModal").modal();
		        }
		      }
		   });
	});
	
	
	$('.paymentWaysRadio').change(function() {
		  if ($('.paymentWaysRadio:checked').val() == "online") {
		     $("#banks").show(1000);
		  } else {
			 $("#banks").hide();
		  } 
		});
	$('.paymentWaysRadio').change();
	
})
    		</script>

    </article>
</section>


