<style type="text/css">
    #back-img div {
        background-image: url(../images/back.jpg);
        width: 100%;
        height: 200px;
        background-attachment: fixed;
        background-position: center;
        position: relative;
        background-size: contain !important;
    }
    .image-descp img {
    	width: 100%;
    }
    
    .descp {
    	direction: rtl;
    }
    .descp h3{
	    color: #ee1a26;
    }
    .descp p {
    	font-size: 14px;
    	padding-top: 7px;
    	line-height: 2;
    }
    .hall {
        /* height: 170px; */
        border: 1px solid #ededed;
        margin-bottom: 25px;
        padding: 20px;
    }
    .hall {
        /* height: 170px; */
        border: 1px solid #ededed;
        margin-bottom: 25px;
        padding: 20px;
    }
    .form-control {
    	border-radius: unset !important;
    }
    
    .main-descproud {
    	border: 1px solid #ededed;
    	margin-top: 25px;
    	padding-top: 25px;
    	margin-bottom: 30px;
    	padding-bottom: 19px;
    }
    
    .main-descproud img {
    	width: 100%
    }
</style>
<?php
if ($this->productShopData) {
    //var_dump($this->productShopData);die;
    $attributes = array();
    $productData = $this->productShopData['product']; 
    $galleryImage = $this->productShopData['galleryImage']; 
 
    if (isset($this->productShopData['atribute'])) {
        $attribute = $this->productShopData['atribute'];
    } 
    ?>

<section id="back-img">
    <div class="" style="background-image: url('/uploads/shop/product/<?php echo $productData['image'];?>');"></div>
</section>
<div class="container">
	<section id="internal-page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 news-center">
					<article id="news-center" class="news">
						<!-- breadcrumb -->
						<div class="bradcrumb-div">
							<ul class="breadcrumb">
								<li> <a	href="<?php echo $this->url('home'); ?>"><i class="fa fa-home" aria-hidden="true"></i></a></li>
								<li><a
									href="/<?php echo $this->layout()->lang;?>/shop/categories"><?php echo __("Products"); ?></a></li>
								<li><a
									href="/<?php echo $this->layout()->lang;?>/shop/real/<?php echo $productData['category_id'];?>"><?php echo $productData["category_name"];?></a></li>
								<li class="active"><a style="float: left;"
									href="/<?php echo $this->layout()->lang;?>/shop/real/<?php echo $this->productId;?>"><?php echo $productData["name"];?></a></li>
							</ul>
						</div>
						<!-- title -->
						<div class="box-title">
							<h2 class="title">
                                 <?php echo $productData['name'];?>
							</h2>
						</div>
						<div class="page-content  internal-post">
							<div class="main-descproud row">
								<div class="col-md-4 col-xs-6 image-descp">
									<img src="/uploads/shop/product/<?php echo $productData['image'];?>">
								</div>
								<div class="col-md-8 descp">
									<h3 class="text-center"><?php echo $productData['name'];?></h3>
									<div class="product-document pull-left">
                				<?php if ($productData['file']) {?>
										<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                				<a
											href="/uploads/shop/product/<?php echo $productData['file']; ?>"
											target="_blank"> دانلود کاتالوگ </a>
                				<?php }?>
                				</div>
                				<?php if ($attribute[0]['product_attribute_name']) {
                				 
                					?>
                				<div class="box-title">
										<h2 class="title">
											 ویژگی های اختصاصی محصول 
										</h2>
									</div>
									<table class="table table-bordered ">
                				<?php  
                				    $td = '';
                				    foreach ($attribute as $attr) {
                				        $td .= '<tr><th>'.$attr['title'].'</th>'; 
                				        $td .= '<td>'.$attr['value'].'</td></tr>'; 
                			     	} 
                				    ?> 
                				 <?php echo $td; ?>
                		 
                				</table>
                				<?php }?>
                				<div class="box-title">
										<h2 class="title">
											 توضیحات محصول 
										</h2>
									</div>
									<p><?php echo $productData['description'];?> </p>
								</div>
							</div>
                		<?php if ($galleryImage) {?>
                		<div class="row">
								<div class="box-title">
									<h2 class="title">
										 گالری تصاویر 
									</h2>
								</div>
								<div  class="hall" >
									 <section>
                        				<?php foreach ($galleryImage as $data) {?>
	                        			<div class="col-md-3" style="padding:10px;">
											<a class="fancybox" rel="groupf" href="/uploads/gallery/<?php echo $data['file_name']?>">
												<img src="/uploads/gallery/<?php echo $data['file_name']?>" style="width:100%;">
											</a>
										</div>
								 
                        				<?php }?>
                        		    </div>
								</div>
							</div>
                		<?php }?>
                    </div>
					</article>
				</div>
			</div>
		</div>
	</section>
</div>
<?php }?>

