<?php 
   if ($this->productInfo) {
   $product = $this->productInfo;
   //var_dump($product); die;
   $this->headMeta()->appendName('description', $product['meta_description']);
   $this->headMeta()->appendName('keywords', $product['meta_keywords']);
   ?>
<div class="inner_page">
   <div class="header_divider"></div>
   <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="/<?php echo $this->layout()->lang;?>"><?php echo __('home'); ?></a></li>
                     <li><a><?php echo __("Products"); ?></a></li>
                    <li><a><?php echo $product["name"]?></a></li>
                </ul>
            </div>
        </div>
    </div>
   <div class="container">
        <div class="row inner_content" style="margin-right: 0px;margin-left: 0px;">
            <div class="col-sm-12">
         <div class="title_box">
            <div><?php echo $product["name"]?></div>
         </div>
         <div class="col-sm-4" style="padding: 30px">
            <img src="/uploads/shop/product/<?php echo $product["image"];?>" class="img-responsive" />
         </div>
         <span class="font-bold"><i class="fa fa-th-large"></i><?php echo __("Summary"); ?></span>
         <span class="text-justify"><?php echo $product["description"]?></span>
         <span class="font-bold"><i class="fa fa-th-large"></i><?php echo __("More details"); ?></span>
         <span class="text-justify"><?php echo $product["description_additional"]?></span>
      </div>
      </div>
   </div>
</div>
<?php }?>
