<?php 
    echo $this->headLink()->appendStylesheet('/css/jquery-ui.min.css');
    echo $this->inlineScript()->appendFile('/js/jquery-ui.min.js');
?>
<link rel="stylesheet" href="/css/ihover/ihover.min.css"/>
<script>
    	$(function () {
    	  	  $('[data-toggle="tooltip"]').tooltip()
    		});
     // checkbox
        $(document).ready(function() {
        
        	$(".u-vmenu .sidebar-section > li > ul").addClass('sub-ul');
        	$(".u-vmenu .sidebar-section > li > input").change(function() {
        	    if($(this).is(':checked')) {
        	    	$('ul.sub-ul' , $(this).parent()).hide().show();
        	    } else {
        	    	$('ul.sub-ul' , $(this).parent()).hide();
        	    }
        	});

});

</script>
<section id="back-img">
    <div class="" style="background-image: url('/images/shop.jpg');"></div>
</section>
<div class="inner_page">
    <div class="header_divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="bradcrumb-div">
        	       <ul class="breadcrumb">
                        <li> <a href="/<?php echo $this->layout()->lang;?>"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><a href="/shop/categories"><?php echo __('products') ?></a></li>
                        <li class="active"><a style="float:left;"><?php echo $this->categoryName?></a></li>
                 </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <!-- title -->
            <div class="box-title">
                <h2 class="title">
                         <?php echo $this->categoryName?>
                </h2>
            </div>
        <div class="row inner_content internal-post" style="margin-right: 0px;margin-left: 0px;">
            <div class="col-sm-12">
         
                 <div class="row">
            <?php foreach ($this->productsPaginator as $product) {
                
                 ?>
                    <div class="col-md-4">
                     <div class="ih-item square effect13 top_to_bottom"><a href="/<?php echo $this->layout()->lang;?>/shop/product-detail/<?php echo $product['id']; ?>">
                                <div class="img"><img src="/uploads/shop/product/<?php echo $product["image"];?>" alt="<?php echo $product["name"];?>" alt="img"></div>
                                <div class="info">
                                  <h3><?php echo $product["name"];?></h3>
                                </div></a></div>
                                <div class="product-real-title text-center"> <?php echo $product["name"];?></div>
                    </div>
           <?php }?>
                 </div>
</div>
       </div>
    </div>

    <div class="container padding-0-40">
         <?php  
            echo $this->paginationControl( 
                $this->productsPaginator, 'Sliding', 
                array('layout/paginator.phtml', 'shop'), 
                array(
                   'route' => 'shop-home',
                   'params'=> array("action" => 'real', "count" => $this->pageCount),
                )
            );
        ?> 
    </div>
</div>

