<style>
    .main-content-article {
        text-align: justify;
        padding: 60px;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #333;
    }
    .main-content-article img {
        max-width: 100%;
        height: 85px;
    }
</style>
<div class="sl-direction container">
	   <div class="bradcrumb-div">
       <span class="breadcrumb-badge"> <?php echo __('Shopping card')?> </span>
           <!-- 	   <span>اخبار</span> -->
	       <ul class="breadcrumb">
	           <?php echo $this->breadcrumbs;?>
	       </ul>
	   </div>
        <section class="main-content main-content-padding">
	         <header class="main-content-title">
                  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
			      <?php echo __('Shopping card')?>
	         </header>
	         <article class="main-content-article">
                    <div class="sl-direction" style="width: 100%">
                    <!-- Factor -->
                    <?php
                    if (!$this->bankForm && $this->card) {
                        ?>
                         <div id="no-more-tables">
                            <table class="table-striped table-condensed cf text-center" style="width: 100%;margin-bottom: 30px;">
                            <thead class="cf" style="border-top: 1px solid #333;">
                                 <tr>
                                    <th>
                                    <?php echo __("Product name");?>
                                    </th>
                                    <th>
                                    <?php echo __("Quantity");?>
                                    </th>
                                    <th>
                                    <?php echo __("Main price");echo __("(Toman)");?>
                                    </th>
                                    <th>
                                    <?php echo __("Product discount");echo __("(Toman)");?>
                                    </th>
                                    <th>
                                    <?php echo __("Product tax");echo __("(Toman)");?>
                                    </th>
                                    <th>
                                    <?php echo __("Product price");echo __("(Toman)");?>
                                    </th>
                                 </tr>
                             </thead>
                        <?php
                        foreach ($this->card as $key => $value)
                        {
                            if (isset($value["sum"])) {
                      
                            ?>
                         <tbody id="courseData" style="border-top: 1px solid #333;">
                                <tr>
                                    <td>
                                    <?php echo $value["name"]; ?>
                                    </td>
                                    <td>
                                        <span class="productMainPrice"><?php  echo  $value["quantity"];?></span>
                                    </td>
                                     <td>
                                        <span class="productMainPrice"><?php  echo $value["price"] * $value["quantity"];?></span>
                                    </td>
                                    <td>
                                        <span class="productDiscount"><?php  echo $value["discount"] * $value["quantity"];?></span>
                                    </td>
                                    <td>
                                        <span class="productTax"><?php  echo $value["tax"] * $value["quantity"];?></span>
                                    </td>
                                    <td>
                                        <span class="productPrice"><?php  echo $value["sum"];?></span>
                                    </td>
                                   
                                </tr>
                            </tbody>
                          <?php 
                            }
                        }
                        ?>
                      </table>
                      <div class="row">
                        <div class="col-xs-12 col-md-8 col-lg-8">
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                               <table class="table table-hover">
                                 <tr class="total-table-title-tr">
                                     <td colspan="2">
                                     <?php echo __("Totals");?>
                                     </td>
                                  </tr>
                                  <tr>
                                    <td>
                                     <?php echo __("Total Main Price");?>
                                     </td>
                                     <td>
                                    <span class = "totalMainPrice"></span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                     <?php echo __("Total Discount");?>
                                     </td>
                                     <td>
                                    <span class = "totalDiscount"></span>
                                    </td>
                                  </tr>
                                  <tr>
                                     <td>
                                     <?php echo __("Total Tax");?>
                                     </td>
                                     <td>
                                    <span class = "totalTax"></span>
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                     <?php echo __("Total Price");?>
                                     </td>
                                    <td>
                                    <span class = "totalPrice"></span>
                                    </td>
                                  </tr>
                                </tr>
                                
                                <tr>
                                     <td >
                                     <?php echo __("Transmital way price") . "(" . $this->card->transmitalWay["display_name"] . ")" ;?>
                                     </td>
                            
                                    <td>
                                    <span class = "transmitalWayPrice"><?php echo $this->card->transmitalWay["amount"]; ?></span>
                                    </td>
                                </tr>
                                <tr>
                                     <td >
                                     <?php echo __("Total price with transmital way price");?>
                                     </td>
                            
                                    <td>
                                    <span class = "totalPriceWithTransmitalway"></span>
                                    </td>
                                </tr>
                               </table>
                           </div>
                       </div>
                       <div>
                       <?php 
                       if ($this->card->paymentWay == "offline") {
                       ?>
                        <form method="post"`>
                         <a class="btn btn-secondary pull-left" style="margin-right:5px;" href="<?php echo $this->url('shop-home', array(
                    	    		'action' => 'payment-ways'
                    	    )); ?>"><?php echo __("Back"); ?></a>
                        <input type="submit" class="btn btn-secondary pull-left" name ="offline" value="<?php echo __("Confirm and finish")?>"/>
                        </form>
                       <?php } else if($this->card->paymentWay == "online") {?>
                       <form method="post"`>
                        <a class="btn btn-secondary pull-left" style="margin-right:5px;" href="<?php echo $this->url('shop-home', array(
                    	    		'action' => 'payment-ways'
                    	    )); ?>"><?php echo __("Back"); ?></a>
                       <input type="submit" class="btn btn-secondary pull-left" name ="online" value="<?php echo __("Go to bank")?>"/>
                       </form>
                       <?php }?>
                       </div>
                       
                        <?php 
                    } else {
                        if ($this->bankForm) {
                            $form = $this->bankForm;
                            $form->prepare();
                            echo $this->form()->openTag($form);
                            echo $this->partial("/banks/".$this->viewForm.".phtml" ,array('bankform' => $form));
                            echo $this->form()->closeTag();
                        }
                       
                    }
                    ?>
                    </div>
                </article>
            </section>
        </div>

<script>
$(function() {
	$.fn.digits = function(){ 
	    return this.each(function(){ 
	        $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
	    })
	}
	function calculateTotals() {
		var sum = 0;
		$('.productMainPrice').each(function(){
		    sum += parseFloat($(this).text()); 
		});
		$(".totalMainPrice").text(sum).digits();

		sum = 0;
		$('.productDiscount').each(function(){
		    sum += parseFloat($(this).text());  
		});
		$(".totalDiscount").text(sum).digits();

		sum = 0;
		$('.productTax').each(function(){
		    sum += parseFloat($(this).text()); 
		});
		$(".totalTax").text(sum).digits();

		sum = 0;
		$('.productPrice').each(function(){
		    sum += parseFloat($(this).text()); 
		});
		$(".totalPrice").text(sum).digits();
		sum += parseFloat($(".transmitalWayPrice").text());
		$(".totalPriceWithTransmitalway").text(sum).digits();
	}

	calculateTotals();
});


</script>






