<style>
.main-content-article {
    text-align: justify;
    padding: 60px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #333;
}
</style>
<div class="sl-direction container">
	   <div class="bradcrumb-div">
       <span class="breadcrumb-badge"> <?php echo __('Shopping card')?> </span>
           <!-- 	   <span>اخبار</span> -->
	       <ul class="breadcrumb">
	                  <?php echo $this->breadcrumbs;?>
	       
	            
	       </ul>
	   </div>
        <section class="main-content main-content-padding">
	         <header class="main-content-title">
                  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
			      <?php echo __('Shopping card')?>
	         </header>
	         <article class="main-content-article">
                <?php 
                if ($this->card) {
                    ?>
                      <div id="no-more-tables">
                            <table class="table-striped table-condensed cf text-center" style="width: 100%;margin-bottom: 30px;">
                            <thead class="cf" style="border-top: 1px solid #333;">
                                 <tr >
                                    <th>
                                    <?php echo __("Product name"); ?>
                                    </th>
                                    <th>
                                    <?php echo __("Quantity");?>
                                    </th>
                                    <th>
                                    <?php echo __("Main price");echo __("(Toman)");?>
                                    </th>
                                    <th>
                                    <?php echo __("Product discount");echo __("(Toman)");?>
                                    </th>
                                    <th>
                                    <?php echo __("Product tax");echo __("(Toman)");?>
                                    </th>
                                    <th>
                                    <?php echo __("Product price");echo __("(Toman)");?>
                                    </th>
                                    <th>
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </th>
                                 </tr>
                            </thead>
                    <?php
                    foreach ($this->card as $key => $value)
                    {
                        if (isset($value["sum"])) {
                  
                        ?>
                       <tbody id="courseData" style="border-top: 1px solid #333;">
                        <tr>
                            <td>
                            <?php echo $value["name"]; ?>
                            </td>
                            <td>
                            <?php echo $this->getPlugin('add-to-card/index/index', array($value["id"], "ShowCard")); ?> 
                            </td>
                             <td>
                                <span class="productMainPrice"><?php  echo $value["price"] * $value["quantity"];?></span>
                            </td>
                            <td>
                                <span class="productDiscount"><?php  echo $value["discount"] * $value["quantity"];?></span>
                            </td>
                            <td>
                                <span class="productTax"><?php  echo $value["tax"] * $value["quantity"];?></span>
                            </td>
                            <td>
                                <span class="productPrice"><?php  echo $value["sum"];?></span>
                            </td>
                             <td>
                                <span style="cursor:pointer;" class="fa fa-remove remove-btn" data-product-id="<?php echo $value["id"];?>"></span>
                            </td>
                        </tr>
                        </tbody>
                      <?php 
                        }
                    }
                    ?>
                   </table>
                  </div>
                   <div class="row">
                        <div class="col-xs-12 col-md-8 col-lg-8">
                        
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                             <table class="table table-hover text-center">
                                  <tr class="total-table-title-tr">
                                         <td colspan="2" class="text-center">
                                         <?php echo __("Totals Factor"); echo __(" (Toman) ");?>
                                         </td>
                                  </tr> 
                                   <tr>
                                         <td>
                                            <?php echo __("Total Main Price");?>
                                        </td>
                                         <td>
                                            <span class = "totalMainPrice"></span>
                                        </td>
                                   </tr> 
                                   <tr>
                                       <td>
                                             <?php echo __("Total Discount");?>
                                        </td>
                                        <td>
                                             <span class = "totalDiscount"></span>
                                        </td>
                                   </tr> 
                                   <tr>
                                         <td>
                                            <?php echo __("Total Tax");?>
                                        </td>
                                        <td>
                                           <span class = "totalTax"></span>
                                        </td>
                                   </tr> 
                                   <tr>
                                        <td>
                                            <?php echo __("Total Price");?>
                                        </td>
                                        <td>
                                             <span class = "totalPrice"></span>
                                        </td>
                                    </tr>
                               </table> 
                        </div>
                   </div>
                   <div class="pull-left">
                         <?php 
                            }
                            ?>
                           
                            <?php 
                            if ($this->userData) {
                                ?>
                                 <a class="btn btn-secondary pull-left" style="margin-left:5px;" href="<?php echo $this->url('shop-home', array(
                    	    		'action' => 'transmital-ways', "lang" => $this->layout()->lang
                    	    )); ?>"></i><?php echo __("Checkout"); ?></a>
                    	    <?php  
                            }
                            else { ?>
                                  <a class="btn btn-secondary pull-left" style="margin-left:5px;" href="<?php echo $this->url('shop-home', array(
                            	    		'action' => 'checkout', "lang" => $this->layout()->lang
                            	    )); ?>"></i><?php echo __("Checkout"); ?></a>
                            <?php 
                            }
                           ?>
        	               
                   </div>
                   
	         </article>
	    </section>
</div>




<script>

$(function() {
	$.fn.digits = function(){ 
	    return this.each(function(){ 
	        $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
	    })
	}
	function calculateTotals() {
		var sum = 0;
		$('.productMainPrice').each(function(){
		    sum += parseFloat($(this).text()); 
		});
		$(".totalMainPrice").text(sum).digits();

		sum = 0;
		$('.productDiscount').each(function(){
		    sum += parseFloat($(this).text());  
		});
		$(".totalDiscount").text(sum).digits();

		sum = 0;
		$('.productTax').each(function(){
		    sum += parseFloat($(this).text()); 
		});
		$(".totalTax").text(sum).digits();

		sum = 0;
		$('.productPrice').each(function(){
		    sum += parseFloat($(this).text()); 
		});
		$(".totalPrice").text(sum).digits();
	}





	$(".remove-btn").click(function(){
		var productId = $(this).data('product-id');
		var elm = $(this);
		   $.ajax({
		      url: '/shop-user-ajax/delete-product-card',
		      type:'POST',
		      data: 
			      {
		    	    productId: productId, 
			      },
		      success:function(result) {
		        if(result !== "false") {
		        	data = jQuery.parseJSON(result);
		        	$(".basket-price").text(data.totalQuantity);
		        	$(".totalSum").text(data.totalSum);
		        	$(elm).closest("tr").remove();
		        	calculateTotals();
		        	
		        } else {
		        	$("#failModal").modal();
		        }
		      }
		   });
	});


	$(".addtocardbutton").click(function(){
		var productId = $(this).data('product-id');
		var productQuantity = $(this).parent().find(".productQuantity").val();
		var elm = $(this);
		   $.ajax({
		      url: '/shop-user-ajax-update-card',
		      type:'POST',
		      data: 
			      {
		    	    productId: productId, 
		    	    productQuantity: productQuantity, 
			      },
		      success:function(result) {
		        if(result !== "false") {
		        	data = jQuery.parseJSON(result);
		        	$(elm).parents("tr").find(".productMainPrice").text(data.productMainPrice);
		        	$(elm).parents("tr").find(".productDiscount").text(data.productDiscount);
		        	$(elm).parents("tr").find(".productTax").text(data.productTax);
		        	$(elm).parents("tr").find(".productPrice").text(data.productPrice);
		        	calculateTotals();
		        	$(".basketTotalQuantity").text(data.totalQuantity);
		        	
		        } else {
		        	$("#failModal").modal();
		        }
		      }
		   });
	});


	calculateTotals();

});


</script>
