<link href="/css/select2.min.css" rel="stylesheet" type="text/css" />
<script src="/js/select2.full.min.js"></script>
<style>
    @media (min-width: 768px){
    .small-form {
        -webkit-box-shadow: 0px 0px 12px -3px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 0px 12px -3px rgba(50, 50, 50, 0.75);
        box-shadow: 0px 0px 12px -3px rgba(50, 50, 50, 0.75);
        width: 50%;
        padding: 60px 20px;
        margin: 50px auto 25px;
        border-radius: 4px;
    }

.rightAlignText
{
   text-align:right;
   cursor: text;
}
    }
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none; 
}
</style>
<div class="sl-direction container">
     <div class="row">
        <div class="col-xs-12 col-lg-12">
	   <div class="bradcrumb-div">
       <span class="breadcrumb-badge"> <?php echo __('Instructor')?> </span>
	       <ul class="breadcrumb">
	           <?php echo $this->breadcrumbs;?>
	       </ul>
	   </div>
        <section class="main-content main-content-padding">
	         <header class="main-content-title">
                  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
			      <?php echo __('Shopping card')?>
	         </header>
	         <article class="main-content-article">
                <div class="small-form sl-direction">
                    	  	<h4><?php echo __('Transmital ways'); ?></h4>
                	  	<?php 
                	  	if ($this->transmitalWays) {
                	  	?>
                	  	<form action="/<?php echo $this->layout()->lang;?>/shop/payment-ways" method="POST" id="transmitalWayForm">
                    		<table class="table">
                    		<tr>
                    		  <td style="text-align: left; width: 25%;">
                    		  <span style="color: #df0808; font-size:16px; font-weight: 700;" >*</span>
                    		  <?php echo __("Name");?>
                    		  </td>
                    		  <td>
                    		  <input class="form-control validate[required]" placeholder="<?php echo __("Name");?>" type="text" name="firstname" value="<?php echo (isset($this->userInfo["firstname"])?$this->userInfo["firstname"]:"");?>" />
                    		  </td>
                    		</tr>
                    		<tr>
                    		  <td style="text-align: left;">
                    		  <span style="color: #df0808; font-size:16px; font-weight: 700;" >*</span>
                    		  <?php echo __("Family");?>
                    		  </td>
                    		   <td>
                    		   <input class="form-control validate[required]" type="text" name="lastname"  placeholder="<?php echo __("lastname");?>" value="<?php echo (isset($this->userInfo["lastname"])?$this->userInfo["lastname"]:"");?>" />
                    		  </td>
                    		</tr>
                    		
                    		
                    		
                    		<tr>
                    		  <td style="text-align: left;">
                    		  <span style="color: #df0808; font-size:16px; font-weight: 700;" >*</span>
                    		  <?php echo __("Country");?>
                    		  </td>
                    		   <td>
                    		   <select  name = "country" id="country" class="validate[required] form-control" style="width:244px;" >
                    		   <option value=""><?php echo __("Choose country");?></option>
                    		   <?php 
                    		   foreach ($this->countryList as $country) {
                    		       $populateIt = "";
                    		        if (isset($this->userInfo["country"]) && $country["id"] == $this->userInfo["country"]) {
                    		            $populateIt = "selected";
                    		        }
                    		            
                    		   ?>
                    		    <option value="<?php echo $country["id"];?>" <?php echo $populateIt;?>><?php echo $country["country_name"];?></option>
                    		   <?php }?>
                    		   </select>
                    		   
                    		  </td>
                    		</tr>
                    		<tr>
                    		  <td style="text-align: left;">
                    		  <span style="color: #df0808; font-size:16px; font-weight: 700;" >*</span>
                    		  <?php echo __("Provience");?>
                    		  </td>
                    		   <td>
                    		   <select name = "provience" id="provience" class="form-control validate[required]" style="width:244px;" >
                    		   
                    		   </select>
                    		  
                    		  </td>
                    		</tr>
                    		<tr>
                    		  <td style="text-align: left;">
                    		  <span style="color: #df0808; font-size:16px; font-weight: 700;" >*</span>
                    		  <?php echo __("City");?>
                    		  </td>
                    		   <td>
                    		   <select  name = "city" id="city" class="col-xs-12 form-control validate[required]" style="width:244px;" >
                    		   
                    		   </select>
                    		  </td>
                    		</tr>
                    		<tr>
                    		  <td style="text-align: left;">
                    		  <span style="color: #df0808; font-size:16px; font-weight: 700;" >*</span>
                    		  <?php echo __("Address");?>
                    		  </td>
                    		   <td>
                    		   <input class="form-control validate[required]" type="text" dir="rtl" name="address"  placeholder="<?php echo __("Address");?>" value="<?php echo (isset($this->userInfo["address"])?$this->userInfo["address"]:"");?>" />
                    		  </td>
                    		</tr>
                    		<tr>
                    		  <td style="text-align: left;">
                    		  <span style="color: #df0808; font-size:16px; font-weight: 700;" >*</span>
                    		  <?php echo __("Postal Code");?>
                    		  </td>
                    		   <td>
                    		   <input class="form-control validate[required, custom[onlyNumberSp], minSize[10]]" type="text" name="postalcode"  placeholder="<?php echo __("1111111111");?>" value="<?php echo (isset($this->userInfo["postalcode"])?$this->userInfo["postalcode"]:"");?>" />
                    		  </td>
                    		</tr>
                    		<tr>
                    		  <td style="text-align: left;">
                    		  <span style="color: #df0808; font-size:16px; font-weight: 700;" >*</span>
                    		  <?php echo __("Phone");?>
                    		  </td>
                    		   <td>
                    		   <input class="form-control validate[required, custom[onlyNumberSp],maxSize[11]]" type="text" name="phone"  placeholder="<?php echo __("02122222222");?>" value="<?php echo (isset($this->userInfo["phone"])?$this->userInfo["phone"]:"");?>" />
                    		  </td>
                    		</tr>
                    		<tr>
                    		  <td style="text-align: left;">
                    		  <span style="color: #df0808; font-size:16px; font-weight: 700;" >*</span>
                    		  <?php echo __("Mobile");?>
                    		  </td>
                    		   <td>
                    		   <input class="form-control validate[required, custom[onlyNumberSp],maxSize[11], minSize[11]]"  type="text" name="mobile"  placeholder="<?php echo __("091211111111");?>" value="<?php echo (isset($this->userInfo["mobile"])?$this->userInfo["mobile"]:"");?>" />
                    		  </td>
                    		</tr>
                    		<tr style="background-color: #ccc;">
                    		<th >
                    		<?php echo __("Transmital way name")?>
                    		</th>
                    		<th >
                    		<?php echo __("Transmital way description")?>
                    		</th >
                    		<th >
                    		<?php echo __("Transmital way price")?>
                    		</th>
                    		</tr>
                    		<?php 
                    		foreach ($this->transmitalWays as $k => $transmitalWay) {
                    		    $checked = "";
                    		    if ($k == 0) {
                    		        $checked = "checked";
                    		    }
                    		   ?>
                    		   <tr>
                    		   <td>
                    		      <input type="radio" name="transmitalWay" value="<?php echo $transmitalWay["name"];?>" <?php echo $checked;?> /><?php echo $transmitalWay["display_name"];?>
                    		   </td>
                    		   <td>
                    		      <?php echo $transmitalWay["transmital_description"];?>
                    		   </td>
                    		   <td>
                    		      <?php echo $transmitalWay["amount"];?>
                    		   </td>
                    		   </tr>
                    		   
                    		   <?php 
                    		}
                    		?>
                    		</table>
                    		 <a class="btn btn-secondary pull-left" style="margin-right:5px;" href="<?php echo $this->url('shop-home', array(
                    	    		'action' => 'show-card', "lang" => $this->layout()->lang
                    	    )); ?>"><?php echo __("Back"); ?>
                	     </a>
                    		<input id="transmitalWayButton" type="submit" class="btn btn-secondary pull-left" value = "<?php  echo __('Continue'); ?>" />
                    	</form>
                		
                		<?php }?>
                		
                </div>
            </article>
        </section>
    </div>
</div>
</div>
<script>
$(document).ready(function(){
	$("#transmitalWayForm").validationEngine();
    $('#transmitalWayButton').click(function(e){
    	e.preventDefault();
    	if($("#transmitalWayForm").validationEngine('validate'))
		{
  		  $("#transmitalWayForm").submit();
		}
    });  
	});
$(document).ready(function() {



	$("#country").select2({
        tags: true,
        dir: "rtl"
      });
    $("#provience").select2({
        tags: true,
        dir: "rtl"
      });
    $("#city").select2({
        tags: true,
        dir: "rtl"
      });
	
    $('#country').change(function(){
       var provinceId = $(this).val();
       if (provinceId == 0) {
    	   var defaultOption = '<option value="0">لطفا ابتدا یک استان انتخاب نمایید.</option>';
    	   $('#provience').html(defaultOption);
       }
       $.ajax({
          url: '/shop-user-ajax/get-province',
          type:'POST',
          data: 
    	      {
    	      	 id: provinceId, 
    	      },
          success:function(result) {
        if(result) {
            var text = '';
        	 var options = JSON.parse(result);
        	 for (var i = 0; i < options.length; i++ ) {
					text += '<option value="'+ options[i].id +'">' + options[i].name + '</option>';
        	 }
        	 $('#provience').html(text);
        	 
        	 <?php 
    	        	 if (isset($this->userInfo["provience"])) {
    	        	     echo "$('#provience').select2('val', " . $this->userInfo['provience'] . ");";
    	        	    
    	        	 }	 
        		?>
        } else {

        }
      }
   });
});

$('#provience').change(function(){ 
	   var provinceId = $(this).val();
	   if (provinceId == 0) {
		   var defaultOption = '<option value="0">لطفا ابتدا یک استان انتخاب نمایید.</option>';
		   $('#city').html(defaultOption);
	   }
	   $.ajax({
	      url: '/shop-user-ajax/get-cities',
	      type:'POST',
	      data: 
		      {
		      	 id: provinceId, 
		      },
	      success:function(result) {
	        if(result) {
	            var text = '';
	        	 var options = JSON.parse(result);
	        	 for (var i = 0; i < options.length; i++ ) {
						text += '<option value="'+ options[i].id +'">' + options[i].name + '</option>';
	        	 }
	        	 $('#city').html(text);
	        	 <?php 
	    	        	 if (isset($this->userInfo["city"])) {
	    	        	     echo "$('#city').select2('val', " . $this->userInfo['city'] . ");";
	    	        	    
	    	        	 }	 
	        		?>
	        } else {

	        }
	      }
	   });
	});

  $('#country').change();

});  
</script>