<style>

/* Rotate */
.product_images {
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.product_images:hover {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}



.new_line label input {
    float: right;
    margin: 2px 10px;
}
.hide_elements {
	display: none;
}
.instructor_section {
	display:block !important;
}
.main-content-article .product_images {
    max-width: 100%;
    height: 150px !important;
}
</style>
<section id="shop" class="small-margin-bottom">
<?php 
    echo $this->headLink()->appendStylesheet('/css/jquery-ui.min.css');
    echo $this->inlineScript()->appendFile('/js/jquery-ui.min.js');
?>
<script>
    	$(function () {
    	  	  $('[data-toggle="tooltip"]').tooltip()
    		});
        // checkbox
        $(document).ready(function() {
        
        	$(".u-vmenu .sidebar-section > li > ul").addClass('sub-ul');
        	$(".u-vmenu .sidebar-section > li > input").change(function() {
        	    if($(this).is(':checked')) {
        	    	$('ul.sub-ul' , $(this).parent()).hide().show();
        	    } else {
        	    	$('ul.sub-ul' , $(this).parent()).hide();
        	    }
        	});
        	$(".u-vmenu .sidebar-section > li > input").change();
	// jQuery ui

	$(".resetButton").click(function(){
		$('input:checkbox').removeAttr('checked');
	});
	$("#more").click(function(){
		if ($("#more").text() ==  "<?php echo __("More");?>") {
			$(".hide_elements").slideDown(200);
			$("#more").text("<?php echo __("Less");?>");
		} else {
			$(".hide_elements").slideUp(200);
			$("#more").text("<?php echo __("More");?>");
		}
		});

	$('.pageCount').change(function(){
	    var count = $(this).val();
	    var pageno = <?php echo ($this->pageNo?$this->pageNo:0);?>;
	    var pageSort = "<?php echo ($this->pageSort?$this->pageSort:0);?>";
	    var ascDesc = "<?php echo ($this->ascDesc?$this->ascDesc:0);?>";
	    window.location.href= "/<?php echo $this->layout()->lang;?>/shop/virtual"+(pageno?"/page/"+pageno:"")+"/count/"+count +(pageSort?"/sort/"+pageSort:"") +(ascDesc?"/type/"+ascDesc:"")+ "<?php echo ($this->searchParams?"?" . $this->searchParams:"");?>";
	});
	
	$('.pageSort').change(function(){
		    var pageSort = $(this).val();
		    var pageno = <?php echo ($this->pageNo?$this->pageNo:0);?>;
		    var count = <?php echo ($this->count?$this->count:0);?>;
		    var ascDesc = "<?php echo ($this->ascDesc?$this->ascDesc:0);?>";
		    window.location.href= "/<?php echo $this->layout()->lang;?>/shop/virtual"+(pageno?"/page/"+pageno:"")+(count?"/count/"+count:"") + "/sort/"+pageSort +(ascDesc?"/type/"+ascDesc:"")+ "<?php echo ($this->searchParams?"?" . $this->searchParams:"");?>";
	});
	
	$('.ascDesc').change(function(){
		var ascDesc = $(this).val();
	    var pageno = <?php echo ($this->pageNo?$this->pageNo:0);?>;
	    var count = <?php echo ($this->count?$this->count:0);?>;
	    var pageSort = "<?php echo ($this->pageSort?$this->pageSort:0);?>";
	    window.location.href= "/<?php echo $this->layout()->lang;?>/shop/virtual"+(pageno?"/page/"+pageno:"")+(count?"/count/"+count:"") + (pageSort?"/sort/"+pageSort:"") + "/type/" + ascDesc+ "<?php echo ($this->searchParams?"?" . $this->searchParams:"");?>";
	});

	$(".addtofavoritebutton").click(function(e){
		e.preventDefault();
		var productId = $(this).data('product-id');
		var elm = $(this);
		   $.ajax({
		      url: '/shop-user-ajax-update-favorite/update-favorite',
		      type:'POST',
		      data: 
			      {
		    	    productId: productId, 
			      },
			      success:function(result) {
				        if(result !== "false") {
		                        $(elm).children().effect("shake", {
		                            times: 3,
		                            direction :"left"
		                        }, 500);
				        	
				        }
				      }
		   });
	});

	$(".addtocardbutton").click(function(e){
		e.preventDefault();
		var productQuantity = $(this).find(".productQuantity").val();
		var productId = $(this).data('product-id');
		var elm = $(this);
		   $.ajax({
		      url: '/shop-user-ajax-update-card',
		      type:'POST',
		      data: 
			      {
		    	    productId: productId, 
		    	    productQuantity: productQuantity, 
			      },
		      success:function(result) {
		        if(result !== "false") {
		        	$(elm).children().effect("shake", {
                        times: 3,
                        direction :"left"
                    }, 500);
		        	data = jQuery.parseJSON(result);
		        	$(".basketTotalQuantity").text(data.totalQuantity);
		        	  var cart = $('.basket');
		                var imgtodrag = elm.parents('.col-product').find(".product_images");
		                if (imgtodrag) {
		                    var imgclone = imgtodrag.clone()
		                        .offset({
		                        top: imgtodrag.offset().top,
		                        left: imgtodrag.offset().left
		                    })
		                        .css({
		                        'opacity': '0.5',
		                            'position': 'absolute',
		                            'height': '150px',
		                            'width': '150px',
		                            'z-index': '100'
		                    })
		                        .appendTo($('body'))
		                        .animate({
		                        'top': cart.offset().top + 10,
		                            'left': cart.offset().left + 10,
		                            'width': 75,
		                            'height': 75
		                    }, 2000, 'easeInOutExpo');
		                    
		                    setTimeout(function () {
		                        cart.effect("shake", {
		                            times: 3
		                        }, 500);
		                    }, 1500);

		                    imgclone.animate({
		                        'width': 0,
		                            'height': 0
		                    }, function () {
		                        $(this).detach()
		                    });
		                }
		        }
		      }
		   });
	});
});

</script>

	<div class="sl-direction container">
<!-- 	   <div class="banner">
	       <img src="/images/faq.jpg" alt="" />
	   </div> -->
	   <div class="bradcrumb-div">
           <span class="breadcrumb-badge"><?php echo __("Shop");?></span>
	       <ul class="breadcrumb">
	           <?php echo $this->breadcrumbs;?>
	       </ul>
	   </div>
	   <div class="row">
			<div class="col-sm-4">
                
			   <form action="" method="get" id="searchForm">
                <div class="sidebar sidebar-with-title side-bar-checkbox sidebar-section u-vmenu">
					<div class="sidebar-header">
					   <i class="fa fa-list"></i>
					   <?php echo __('Filter')?>
				   </div>
				   
    						<ul class="sidebar-section">
    						<?php 
    						foreach ($this->allVirtualCategories as  $virtualCategory) {
    						?>
    							<li>
    								<input type="checkbox" value="<?php echo $virtualCategory["id"];?>" <?php echo (in_array($virtualCategory["id"], $this->studyIds)?"checked":""); ?> name="study_ids[] class="checkboxes virtual_l1"  /><a href="#"><?php echo $virtualCategory["name"];?></a>
    								<ul>
    								<?php 
    								if (isset($this->allLessons[$virtualCategory["id"]])) {
    								    
                						foreach ($this->allLessons[$virtualCategory["id"]] as  $lesson) {
                						?>
										<li><input type="checkbox" value="<?php echo $lesson["id"];?>" <?php echo (in_array($lesson["id"], $this->lessonIds)?"checked":""); ?> name="lesson_ids[]" class="checkboxes virtual_l2" /><a href="#" class="new_line"><?php echo $lesson["name"];?></a></li>
									<?php }}?>	
    									
    								</ul>
    							</li>
    						<?php }?>

				        <li>
				            <span class="sidebar-title">
				                <i class="fa fa-graduation-cap"></i>
				                <?php echo __("Instructor name");?>
				            </span>
				            <ul class="sidebar-section instructor_section">
            					<li>
            						<ul class="new_line sidebar-section instructor_section">
            						<?php foreach ($this->instructorList as $k => $instructor) {
                						    $class = "";
                    						if ($k > 5) {
                    						    $class = "hide_elements";
                    						}
            						    ?>
            							<li class="<?php echo $class;?>" ><input type="checkbox" value="<?php echo $instructor["id"];?>" <?php echo (in_array($instructor["id"], $this->instructorIds)?"checked":""); ?> name="instructor_ids[]" class="checkboxes" /><?php echo $instructor["firstname"] . " " . $instructor["lastname"];?></li>
            						<?php }?>
            						</ul>
            					</li>
            				</ul>
				           <?php if ($class) {?>
				            <span class="sidebar-more-link">
				                <a href="javascript:void(0)" id="more"><?php echo __("More") ;?></a>
				            </span>
				            <?php }?>
				        </li>
				        <li class="sidebar-clear-filter">
				            <div class="btn btn-secondary resetButton"><?php echo __("Clear all filter");?></div>
				            <br><br>
				            <input class="btn btn-secondary" name="search_submit" type="submit" value="<?php echo __("Search")?>" />
				            </form>
				        </li>
				   </ul>
				  
                </div>
			</div>
			<div class="col-sm-8">
                <section class="main-content product-list">
			         <header class="main-content-title">
			             <ul class="list-inline">
			                 <li><?php echo __("Ordered by");?></li>
			                 <li>
			                    <select name="count" class="product-list-controls pageSort">
			                   
                                    <option value=newest <?php echo ($this->pageSort == 'newest'?"selected":"");?>><?php echo __("Newest");?></option>
                                    <option value="best_sell" <?php echo ($this->pageSort == 'best_sell'?"selected":"");?>><?php echo __("Best sell");?></option>
                                </select> 
                                <select name="count" class="product-list-controls ascDesc">
                                    <option value="asc" <?php echo ($this->ascDesc == 'asc'?"selected":"");?>><?php echo __("ASC");?></option>
                                    <option value="desc" <?php echo ($this->ascDesc == 'desc'?"selected":"");?>><?php echo __("DESC");?></option>
                                </select> 
			                 </li>
			                 <li><?php echo __("Number of items");?></li>
			                 <li>
                                <select name="count" class="product-list-controls pageCount">
                                    <option value="10" <?php echo ($this->count == '10'?"selected":"");?>>10</option>
                                    <option value="50" <?php echo ($this->count == '50'?"selected":"");?>>50</option>
                                    <option value="100" <?php echo ($this->count == '100'?"selected":"");?>>100</option>
                                    <option value="500" <?php echo ($this->count == '500'?"selected":"");?>>500</option>
                                </select> 
			                 </li>
			             </ul>
			         </header>
			         
			         <article class="main-content-article">
			             <div class="row">
			                 <?php foreach ($this->productsPaginator as $product) {
			                     //var_dump($product); die;
			                     $discount  = $this->shopViewHelper()->getDiscounts((isset($this->layout()->userData)?$this->layout()->userData->id:null), $product["id"]);
			                     $specialPrice = number_format($product["price"] - ($product["price"] * $discount /100));
			                     $classDiscount = "";
			                     if ($discount > 0 ) {
			                         $classDiscount = "price-discount";
			                     }
			                   ?>
			                 <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-product">
			                     <div class="sl-item-box">
			                     <?php if($product['related_products']){?>
			                         <img style="position: absolute; left: 8%; width: 60px; height: 60px;" alt="<?php echo __("Products package");?>" src="/images/package.png" />
			                     <?php }?>
			                         <h6 class="sl-item-title">
    			                         <a href="#"><?php echo $product["name"];?></a>
    			                         <br>
    			                         <?php for($i=0;$i<$product["rating"];$i++) {?>
    			                             <img class="rating" src="/images/rating.png" />
    			                         <?php }?>
			                         </h6>
			                         <div class="sl-item-img">
    			                         <a href="<?php echo $this->url("shop-home", array("action" => "product", "lang" => $this->layout()->lang, "slug" => $product["seo_name"]));?>">
    			                             <img class="product_images" src="/uploads/shop/product/<?php echo $product["image"];?>" alt="<?php echo $product["name"];?>" />
    		                             </a>
			                         </div>
			                         <?php if ($specialPrice <= 0 || $product["price"] <= 0) {?>
			                          <div class="sl-item-price2">
			                          <br/>
			                          <a href="<?php echo $this->url("shop-home", array("action" => "product", "lang" => $this->layout()->lang, "slug" => $product["seo_name"]));?>"  data-toggle="tooltip" data-placement="top" title="<?php echo __("Download");?>">
			                             <span class="item-free"><i class="fa fa-gift" aria-hidden="true"></i><?php echo __("Free Download");?> </span>
			                             </a>
			                             <br/>
			                         </div>
			                         <?php } else {?>
			                         <div class="sl-item-price" style="margin:5px;">
			                             <span class="<?php echo $classDiscount;?>"><?php echo number_format($product["price"]);?> </span><label><?php echo __("Toman");?></label>
			                         </div>
			                         
			                         <?php
			                         if ($discount > 0) {?>
			                         <div class="shop-details-price2">
			                           <i class="fa fa-star" aria-hidden="true" style="color:#ff8a0f;"></i>
                                        <?php //echo __("Special price");?>
                                        <span><?php echo $specialPrice;?></span>
                                        <?php echo __("Toman");?>
                                    </div>
                                    <?php }?>
        							<?php }?>
        							<ul class="sl-item-list">
                                        <li>
                                            <span data-toggle="tooltip" data-placement="top" title="<?php echo __("View details");?>" class="view-details">
                                                <a href ="<?php echo $this->url("shop-home", array("action" => "product", "lang" => $this->layout()->lang, "slug" => $product["seo_name"]));?>">
                                                     <i class="fa fa-eye"></i>
                                                </a>
                                            </span>
                                        </li>
                                        <li>
                                        <?php echo $this->getPlugin('add-to-favorite/index/index', array($product["id"], "MinMode")); ?> 
                                           
                                        </li>
                                        <li>
                                        <?php echo $this->getPlugin('add-to-card/index/index', array($product["id"], "MinMode")); ?> 
                                            
                                        </li>
        							</ul>
			                     </div>
			                 </div>
			                 <?php }?>
			             </div>
			         </article>
			         <footer class="main-content-title mhd-paginator">
    			         <?php  
                            echo $this->paginationControl( 
                                $this->productsPaginator, 'Sliding', 
                                array('layout/paginator.phtml', 'shop'), 
                                array(
                                   'route' => 'shop-home',
                                   'params'=> array("lang" => $this->layout()->lang, "action" => 'virtual', "count" => $this->pageCount, "query" =>  $this->query),
                                )
                            );
                        ?> 
                    </footer>
		         </section>
			</div>
		</div>
	</div>
</section>
<?php echo $this->getPlugin('block/index/index', array('position' => "bestSellVirtualProducts")); ?>
 <?php echo $this->getPlugin('block/index/index', array('position' => "newestVirtualProducts")); ?>
  
  <script>
	$(document).ready(function() {
		var owl = $(".owl-carousel");
		owl.owlCarousel({
			items : 4,
			responsiveClass:true,
		    responsive:{
		        0:{
		            items:1
		        },
		        500:{
		        	items:2
		        },
		        600:{
		            items:3
		        },
		        
		        1000:{
		            items:4
		        }
		    },
			loop: true,
			nav: true,
			navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
			autoplay:true,
			autoplayTimeout:3000,
			autoplayHoverPause:true,
			dots: false
		});
	});
 </script>
