<?php
    $this->headTitle(__('Add new configuration'));?>
<?php
	$Form = $this->configurationForm;
	$Form->prepare();
?>
<section class="content-header">
    <h1>
        <?php echo __("Add new configuration");?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __("Add new configuration");?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Add new configuration");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
	           echo $this->form()->openTag($Form);
            ?>
            <div class="row">
                <div class="col-lg-5">
                    <!--  help -->
                    <fieldset class="help-form">    	
    					<legend style="width:75%;"> راهنمای کانفیگ</legend>
						<p>
				         	در این بخش ثابت هایی مثل قیمت ارز و دلار و ... تعریف می شود و در کدنویسی مورد استفاده قرار می گیرند
						</p>
        			</fieldset>	
                </div>
                <div class="col-lg-7">
                    <div class="form-group" id="tour1">
                		<label class="control-label"><?php echo $this->formLabel($Form->get('name')); ?></label>
                    	<?php echo $this->formElement($Form->get('name'));
                    	echo $this->formElementErrors($Form->get("name")); ?>
                	</div>	
                	<div class="form-group" id="tour2">
                		<label class="control-label"><?php echo $this->formLabel($Form->get('value')); ?></label>
                    	<?php echo $this->formElement($Form->get('value'));
                    	echo $this->formElementErrors($Form->get("value")); ?>
                	</div>
                 </div>
            </div>
            <div class="form-group pull-left" id="tour3">		
            	<?php 
            		echo $this->formElement($Form->get('csrf'));
            		echo $this->formElementErrors($Form->get("csrf"));
            		echo $this->formElement($Form->get('submit'));
        		?>
        		<a href="/<?php echo $this->layout()->lang;?>/admin-configuration" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
            </div>
            <?php 
        		echo $this->form()->closeTag();
        	?>
        </div>
    </div>
</section>
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "نام کانفیگ ",
    content: "نام کانفیگ را وارد کنید",
  },
  {
    element: "#tour2",
    title: "مقدار کانفیگ",
    content: "مقدار مورد نظر را به کانفیگ اختصاص دهید",
  },
  {
    element: "#tour3",
    title: "ذخیره",
    content: "با کلیک روی دکمه ذخیره، اطلاعات خود را ثبت نمایید",
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>