 <?php 
// $this->headLink()->prependStylesheet('/css/blog-styles.css');
// ?>
<!-- container 1-->
 <div class="sl-direction container">
      <!--  <div class="banner">
	       <img src="/images/teacher-banner.png" alt="" />
	   </div> -->
	   <div class="bradcrumb-div">
       <span class="breadcrumb-news"> <?php echo __('User')?> </span>
           <!-- 	   <span>اخبار</span> -->
	       <ul class="breadcrumb">
                <li><a href="<?php echo $this->url('home'); ?>"><?php echo __('Home');?></a></li>
                <li><a href="<?php echo $this->url('user-home', array("lang" => $this->layout()->lang)); ?>"><?php echo __('user');?></a></li>
	       </ul>
	   </div>
        <section class="main-content main-content-padding">
	         <header class="main-content-title">
                 <i class="fa fa-newspaper-o"></i>
			      <?php echo __('Cadafzar Teacher')?>
	         </header>
	         <article class="main-content-article">
                <div class="product-detail-info">
                    <section class="sl-content">
                        <div class="sl-direction container-fluid">
                            <div class="row">
                        <?php 
                 			if ($this->users) {
                			foreach ($this->users as $user) {
                
                		?>	
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <div class="row main-content content-padding user-overflow">
                                            <a href="/<?php echo $this->layout()->lang;?>/user/show-profile/<?php  echo $user['id'];?>">
                                                <div class="col-xs-12 col-md-4 col-lg-4 ">
                                                      <img src="/uploads/avatar/<?php  echo $user['avatar'];?>" class="img-responsive" />
                                                </div>
                                                <div class="col-xs-12 col-md-8 col-lg-8">
                                                    <div class="teacher-title">
                                                         <?php  //echo $user['username'];?>
                                                          <?php echo $user['firstname'];?>
                                                          <?php echo $user['lastname'];?>
                                                    </div>
                                                    <div class="teacher-certificate">
                                                     <?php echo __('The member of Cadafzar engineering group');?>
                                                    </div>
                                                     <div class="teacher-major">
                                                     <?php echo $user['field_of_study'];?>
                                                     </div>
                                                      <div class="teacher-university">
                                                      <?php echo $user['university'];?>
                                                      </div>
                                                    <hr/>
                                                    <div class="teacher-summery"> <?php  echo $user['aboutme'];?></div>
                                                </div>
                                            </a>
                                    </div>
                                </div>
                                <?php }?>	
              	  </div>
                      </section>
                </div>
            </article>
            <footer class="main-content-title mhd-paginator">
            	    <?php 
                		echo $this->paginationControl($this->users, 'Sliding', 'layout/paginator', array(
                				'route' => 'user-home',
                				'params' => array()
                		));
            		?>
	           </footer>
    	</section>
    </div>
		
 		
	<?php }?>	
