<?php 
$this->headLink()->prependStylesheet('/css/blog-styles.css');

$data = $this->user_data;

($data['gender'] == 'f')? $data['gender'] = 'Female': $data['gender'] = 'Male';
($data['status'] == '0')? $data['status'] = 'Inactive': $data['status'] = 'Active';
//var_dump($data); die;
?>
<!-- User Profile -->
<div class="sl-direction container">
      <!--  <div class="banner">
	       <img src="/images/teacher-banner.png" alt="" />
	   </div> -->
	   <div class="bradcrumb-div">
       <span class="breadcrumb-news"> <?php echo __('Insctructor')?> </span>
	       <ul class="breadcrumb">
	            <li><a href="<?php echo $this->url('home'); ?>"><?php echo __('Home');?></a></li>
                <li><a href="<?php echo $this->url('user-home', array("lang" => $this->layout()->lang)); ?>"><?php echo __('user');?></a></li>
                <li class="active"><?php echo $data['firstname'] . " " . $data['lastname']?></li>
	       </ul>
	   </div>
        <section class="main-content main-content-padding">
	         <header class="main-content-title">
                 <i class="fa fa-newspaper-o"></i>
			      <?php echo __('Cadafzar Teacher')?>
	         </header>
	         <article class="main-content-article">
                   <div class="row teacher-box">
                        <!-- image and tel -->
                        <div class="col-xs-12 col-md-12 col-lg-4">
                             <div class="teacher-title">
                                <i class="fa fa-user"></i>
                			     <?php 
                            		echo $data['firstname'] . " " . $data['lastname'];
                        		 ?>
                	         </div>
                	         <div class="teacher-image">
                	               <img src="/uploads/avatar/<?php echo $data['avatar'];?>" />
                	         </div>
<!--                 	          <div class="teacher-phone"> 
                	              <i class="fa fa-mobile" style="font-size:34px;"></i>-->
                	              <?php //echo $data['mobile'];?>
<!--                 	         </div> -->
<!--                 	          <div class="teacher-email"> 
                	              <i class="fa fa-envelope" style="font-size:20px;"></i>-->
                	              <?php //echo $data['email'];?>
<!--                 	         </div> -->
                        </div>
                        <!-- Biography -->
                         <div class="col-xs-12 col-md-12 col-lg-8">
                             <div class="Biography-title">
                			     <?php echo __('Biography')?>
                	         </div>
                	         <div class="biography-content">
                	            <?php echo $data['aboutme'];?>
                	         </div>
                        </div>
                   </div>
                   <!-- Curriculum Vitae -->
                   <div class="teacher-box">
                        <div class="teacher-title">
                            <i class="fa fa-graduation-cap"></i>
            			     <?php echo __('Curriculum Vitae')?>
            	         </div>
            	         <div class="resume-content">
                	         <table class="table table-striped table-size">
                    			<thead>
                    				<th>#</th>
                    				<th><?php echo __('University');?> </th>
                    				<th> <?php echo __('Grade');?></th>
                    				<th> <?php echo __('Filed of study');?></th>
                    			</thead>
                    			<tbody id="courseData">
                                    <?php 
                                    $i = 1;
                                        foreach ($data['studies'] as $d){
                                            echo'
                                	           <tr>
                            	                  <td>'.$i.'</td>
                            	                  <td>'.$d['university'].'</td>
                                		          <td>'.$d['grade'].'</td>
                                		          <td>'.$d['field_of_study'].'</td>
                                              </tr>
                        	               ';
                                        $i++;
                                        }
                                    ?>
                                </tbody>
                    		</table>
            	         </div>
                   </div>
                   <!-- job resume -->
                   <div class="teacher-box">
                        <div class="teacher-title">
                            <i class="fa fa-user-secret"></i>
            			     <?php echo __('job resume')?>
            	         </div>
            	         <div class="resume-content">
            	             <?php echo $data['experience'];?>
            	         </div>
                   </div>
                    <!-- Background research -->
                   <div class="teacher-box">
                        <div class="teacher-title">
                            <i class="fa fa-leanpub"></i>
            			     <?php echo __('Background research')?>
            	         </div>
            	         <div class="resume-content">
            	             <?php echo $data['research'];?>
            	         </div>
                   </div>
	         </article>
         </section>
	</div>
<!-- End of news Details -->
	
	
	


	</div><!-- end of row -->
</div>
    		
	  
