<div class="table-responsive">
   <form method="post" action="">
       <input type="hidden" name='group_id' value='<?php echo $this->groups ?>' />
       <div class="row">
        <hr />
        <div class="col-md-6 pull-left">
            <div class="form-group">
                 <button id="selectall" type="button"  class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i>
                  <?php echo __('Select all');?></button>
                 <button type="submit" class="btn btn-primary" id="tour6">
                   <i class="fa fa-floppy-o" aria-hidden="true"></i>
                   <?php echo __('Save');?>
               </button>
            </div>
        </div>
       </div>
       <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th ><?php echo __('Name');?></th>
                    <th ><?php echo __('Description');?></th>
                    <th ><?php echo __('Permission');?></th>
                </tr>
           </thead>
       <tbody>
       <?php
      
       foreach ($this->allPermissionsData as $title => $allPermissionsDatas) {
           $pname = ucfirst ($title).' management';
           $name = __($pname);
           if (!preg_match('/^[پچجحخهعغفقثصضشسیبلاتنمکگوئدذرزطظژؤإأءًٌٍَُِّ\s]+$/u',$name)){
               $pname = ucfirst ($title).'s management'; 
               $name = __($pname); 
               if (!preg_match('/^[پچجحخهعغفقثصضشسیبلاتنمکگوئدذرزطظژؤإأءًٌٍَُِّ\s]+$/u',$name)){
                   $pname = ucfirst ($title); 
                   $name = __($pname);  
               }
           }
           echo  '<tr class="info">  
           <td  colspan="4">'.$name.'<input class="groupcheckbox" data-attr="'.$title.'" type="checkbox" ></td>
           </tr>';
       foreach ($allPermissionsDatas as $acl) {
           $checked='';
           if ($this->permissionsData)
           {
               $index = array_search($acl['name'], $this->permissions);
               $checked = ($index !== false ?'checked':'');
           }
       ?>
               <tr> 
                   <td><?php echo $acl['name'] ?></td>
                   <td><?php echo $acl['desc'] ?></td>
                   <td><input type="checkbox"  class="<?php echo $title; ?>" name='chk[<?php echo $acl['name'];?>]' <?php echo $checked ?> id="tour5"/></td> 
                <?php     
                   }
       }
                   ?>   
              </tbody>
           </table>
         </form>
       </div>
<script>
$(document).ready(function(){
	var i = 0;
	$("#selectall").click(function() { 
		  if (i == 1) {
			   $(':checkbox').prop('checked',false);
			   
			   i = 0; 
	      } else {
	    	   $(':checkbox').prop('checked',true);
			   i = 1;
	      }
	});
 
	$(".groupcheckbox").click(function() {
		var ischecked = $(this).is(':checked'); 
		var name = $(this).attr('data-attr');
		var name = "."+name; 
		if(ischecked) {
			$(name).prop( "checked",true );
		} else {
			$(name).prop( "checked",false );
		}
	});
});
</script>  
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#selectall",
    title: "انتخاب همه",
    content: "از طریق این دکمه میتوانید کلیه گزینه ها را انتخاب یا از انتخاب خارج کنید، توجه کنید اگر همه تیک ها برداشته شود شما دیگر دسترسی به پنل نخواهید داشت،در استفاده از این بخش دقت کنید"
  },
  {
    element: "#tour5",
    title: "افزودن یا گرفتن حق دسترسی",
    content: "در صورتیکه تیک این بخش را بزنید، حق دسترسی این صفحه به کاربری که انتخاب کرده اید داده میشود و در صورت برداشتن تیک،کاربر اجازه دسترسی به این صفحه را نخواهد داشت",
  },
  {
    element: "#tour6",
    title: "ذخیره ",
    content: "با کلیک روی دکمه ذخیره، تغییرات ایجاد شده، اعمال خواهد شد",
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>