<?php 	
	$languageForm = $this->languageForm;
	$languageForm->prepare();
?>
<section class="content-header">
    <h1>
        <?php echo __('Edit language');?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit language');?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit language");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
	           echo $this->form()->openTag($languageForm);
            ?>
            <div class="row">
             <div class="col-lg-5">     
                     <!--  help -->
                    <fieldset class="help-form">    	
        					<legend>راهنمای مدیریت زبان</legend>
							<p>
    						1- فیلد زبان، مشخص کننده نام زبان سایت شماست
    						<br />
    						2- کد زبان، نام اختصاری زبان مورد نظر به لاتین می باشد که معمولا شامل دو حرف است، به عنوان مثال برای زبان فارسی fa و برای زبان انگلیسی en به کار برده می شود
    						<br />
    						3- فیلد فعال و غیر فعال ، این امکان را به شما می دهد که یک زبان را در سایت خود به نمایش بگذارید و یا اینکه به صورت موقت از دسترس خارج کنید و غیرفعال نمایید
    						<br />
    						4-زبان پیش فرض ، زبانی است که مشخص میکند که در ابتدای ورود به سایت ، سایت شما با چه زبانی به کاربر نمایش داده شود، فقط یکی از زبان های سایت شما باید این خاصیت برایش فعال باشد
    						<br />
    						5- جهت سایت بیانگر این مطلب که زبان سایت شما راست به چپ است یا بالاعکس، برای مثال زبان فارسی و عربی راست به چپ- rtl و زبان انگلیسی ltr می باشد.	 
							</p>
        			</fieldset>	      
                </div>
                <div class="col-lg-7">
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($languageForm->get('title')); ?></label>
                    	<?php echo $this->formElement($languageForm->get('title'));
                    	echo $this->formElementErrors($languageForm->get("title")); ?>
                    </div>
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($languageForm->get('code')); ?></label>
                    	<?php echo $this->formElement($languageForm->get('code'));
                    	echo $this->formElementErrors($languageForm->get("code")); ?>
                    </div>
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($languageForm->get('enable')); ?></label>
                    	<?php echo $this->formElement($languageForm->get('enable'));
                    	echo $this->formElementErrors($languageForm->get("enable")); ?>
                    </div>
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($languageForm->get('default')); ?></label>
                    	<?php echo $this->formElement($languageForm->get('default'));
                    	echo $this->formElementErrors($languageForm->get("default")); ?>
                    	<div style="display:none" class="alert_list">
						  <ul class="unstyled">
						        <li data-alert_id="3" class="alert_li">
						       		 <a href="#">Messaggio di notifica un po più lungo del normale</a>
						         	 <br /><a href="#" class="turn_off_alert">turn off</a>
						       		 <div class="clearfix"></div>
						         </li>
						  </ul>
						</div>
                    </div>
                    <div class="form-group radioSection">
                    	<label class="control-label"><?php echo $this->formLabel($languageForm->get('direction')); ?></label>
                    	<?php echo $this->formElement($languageForm->get('direction'));
                    	echo $this->formElementErrors($languageForm->get("direction")); ?>
                    </div>
                    <div class="form-group pull-left">
                    <?php 
                    	echo $this->formHidden($languageForm->get('csrf'));
                    	echo $this->formElementErrors($languageForm->get("csrf"));
                    	echo $this->formElement($languageForm->get('submit'));
                    ?>
                    <a href="/<?php echo $this->layout()->lang;?>/admin-language/list-languages" class="btn btn-warning"><?php echo __("Cancle")?></a>
                    </div>
                </div>
            </div>
            <?php 
                echo $this->form()->closeTag();
            ?>
        </div>
    </div>
 

</section>
<script type='text/javascript'>
                
$(document).ready(function(){
 
   $("#default").on('change', function() {
	   if($("#default").attr( "checked" ,"checked" )){
	   $.ajax({ 
	        url:"/<?php echo $this->layout()->lang;?>/admin-language-default-ajax",
	        method: 'post', 
	        	 data: {
	                 leagueId: 1 
	             },
	        success: function(data) { 
	            var result = $.parseJSON(data); 
	            var html = '';  
	            if (result) {
		            html += '<?php echo __("Dear User this make your default language to be change from ");?>';
		            html +=  result.title; 	
		            html += '<?php  echo __("to this language");?>';
		            	$("#default").popover({
			      		  'title' : '<?php  echo __("Notifiche"); ?>', 
			      		  'html' : true,
			      		  'placement' : 'left',
			      		  'content' : $(".alert_li").html(html)
			      		});
			      		            
	            }
	            
	            $("html, body").animate({
	                scrollTop: $('#select-league-program').offset().top - 200
	            }, '500', 'swing');
	        }
	    });
	   }
   }); 
   $("#languageForm").validationEngine(); 
   $('#submit').click(function(e){ 
      // e.preventDefault();
       if($("#languageForm").validationEngine('validate')) 
       {
      	   $("#languageForm").submit();
       }
   });
});  
</script>