<section class="content-header">
    <h1>
        <?php echo __('Update Phrase'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Update Phrase'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Update Phrase");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
        <div class="row">
            <div class="col-md-pull-2 col-md-8">
            <div class="form-group pull-left">
                 <a href="<?php echo $this->url('language-admin', array('action' => 'update-phrases')); ?>" class="btn btn-primary">
                 <i class="fa fa-refresh" aria-hidden="true"></i>
                 <?php echo __("Update phrases");?></a>
             </div>
            <br>
            <table class="table table-hover table-striped" dir="rtl">
              <tr>
               <th class="td-sm">#</th>
               <th><?php echo __("Phrase");?></th>
              </tr>
              <?php  
              		if($this->phrases) {
              			foreach ($this->phrases as $counter => $phrase) {  
            			  ?>				
            			    <tr>
            				    <td><?php echo ++$counter ?></td>
            				    <td><?php echo $phrase['phrase']; ?></td>
            				  
            			  </tr> 
            			  <?php 
              		}
              	}
              ?>         
            </table>
            </div>
        </div>
    </div>
 </div>
</section>
 
<!-- Modal HTML -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <h5><?php echo __('Are you sure to delete this?')?></h5>
                    <p><?php echo __('Pay attention: after delete the item, you could not recover it!')?></p>
                </div>
                <div class="modal-footer">
                    <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#"><?php echo __('Yes! I want to delete.')?></a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $('.delete-btn').click(function(e) {
        e.preventDefault();
        $('#modal').modal();
        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
    });
</script> 

