
<h4><?php echo __('Languages list');?></h4>
<table class="table table-hover table-striped">
  <tr>
   <th class="td-sm">#</th>
   <th><?php echo __("Title");?></th>
   <th><?php echo __("Language code");?></th>
   <th><?php echo __("Status");?></th>
   <th><?php echo __("Default language");?></th>
   <th>جهت زبان</th>
   <th class="td-sm"><?php echo __("Edit");?></th>
   <th class="td-sm"><?php echo __("Delete");?></th>
  </tr>
  <?php  
  		if($this->languages) {
  			foreach ($this->languages as $counter => $language) {  
			  ?>				
			    <tr>
				    <td><?php echo ++$counter ?></td>
				    <td><?php echo $this->escapeHtml($language['title']); ?></td>
				    <td><?php echo $this->escapeHtml($language['code']); ?></td>
				    <td><?php echo ($language['enable'] == 1 ? __("Active"):__("Deactive")); ?></td> 
				    <td><?php echo ($language['default'] == 1 ? __("Default language") : "-"); ?></td> 
				    <td><?php echo ($language['direction']); ?></td>
				    <td><a class="btn btn-xs btn-success" href="<?php echo $this->url('language-admin', array(
				    		'id'         => $language['id'],
				    		'controller' => 'admin',
				    		'action'     => 'edit-language'
				    )); ?>"><span class="glyphicon glyphicon-pencil"></span></a></td>
				   <td ><a class="btn btn-xs btn-danger delete-btn" href="<?php echo $this->url('language-admin', array(
				    		'id'         => $language['id'],
				    		'controller' => 'admin',
				    		'action'     => 'delete-language',
				    		'token'      => $this->csrf
				   )); ?>"><span class="glyphicon glyphicon-remove"></span></a></td>
			  </tr> 
			  <?php 
  		}
  	}
  ?>         
</table>
<a href="<?php echo $this->url('language-admin', array('action' => 'add-language')); ?>" class="btn btn-primary"><?php echo __('Add'); ?></a>
<!-- Modal HTML -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <h5><?php echo __('Are you sure to delete this?')?></h5>
                    <p><?php echo __('Pay attention: after delete the item, you could not recover it!')?></p>
                </div>
                <div class="modal-footer">
                    <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#"><?php echo __('Yes! I want to delete.')?></a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $('.delete-btn').click(function(e) {
        e.preventDefault();
        $('#modal').modal();
        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
    });
</script> 

