<?php 
	$languagePhraseForm = $this->languagePhraseForm;
	$languagePhraseForm->prepare();
?>
<section class="content-header">
    <h1>
        <?php echo __('Languages phrases management'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Languages phrases management'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Languages phrases management');?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <span class="accesslistmsg" style="display:none">
            	<img alt="loading..." width="31" height="31"  src="/images/loading.gif" /><?php echo __("Please wait");?>
            </span>
            <div class="aclcontainer"></div>
            <div class="row">
                <div class="col-md-pull-2 col-md-8">
                    <?php 
        	           echo $this->form()->openTag($languagePhraseForm);
                    ?>
                	<div class="form-group">
                        <label class="control-label"><?php echo $this->formLabel($languagePhraseForm->get('language_id')); ?></label>
                        <?php echo $this->formElement($languagePhraseForm->get('language_id'));?>
                    </div>
                	<div class="form-group">
                        <?php 
                    		echo $this->formElement($languagePhraseForm->get('csrf'));
                    		echo $this->formElementErrors($languagePhraseForm->get("csrf"));
                    		echo $this->formElement($languagePhraseForm->get('submit'));
                    	?>
                    	<a href="/<?php echo $this->layout()->lang;?>/admin-language" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                	</div>
                	<?php  echo $this->form()->closeTag();    ?>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
$(document).ready(function() {
	$("#submitlanguagephrase").click(function(e) {
		e.preventDefault();
		$(".accesslistmsg").show();
    	var mlanguageid=$("#language_id").val();
		$.ajax({
			url:"/<?php echo $this->layout()->lang;?>/admin-language-ajax",
			type:'POST',
			data:{
				language_id:mlanguageid,
			},
			success:function(data){ 
				if(data=="error")
				{
					alert('<?php echo __("Operation failed"); ?>');
				}  
				else
					$(".aclcontainer").html(data);  
			},complete:function(data)
			{
				$(".accesslistmsg").hide();
			}
		});
		
	});
});
</script>

