
<?php 
	$galleryForm = $this->galleryForm;
	$galleryForm->prepare();
?>
<section class="content-header">
    <h1>
        <?php echo __('Add new gallery'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new gallery'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add new gallery')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
	           echo $this->form()->openTag($galleryForm);
            ?>
            <div class="row">
                <div class="col-lg-6">
                    <!--  help -->
                    <fieldset class="help-form">    	
        					<legend>راهنمای ایجاد گالری</legend>
        					این صفحه برای ایجاد گروه گالری به کارمی رود، یعنی شما ابتدا باید یک یا هر تعداد گروه گالری را که میخواهید ایجاد کنید ، سپس  می توانید به هر تعداد که بخواهید به هر یک از این گروه ها عکس  اضافه کنید
							<p>
    						1-زبان سایت مشخص میکند که گالری شما قرار است در کدام زبان به نمایش در بیاید
    						<br />
    						2-نام فارسی نامی است که برای تمیز دادن گالری ها از هم به کار می رود
    						<br />
    						3-نام یکتا، نامی است که باید به زبان لاتین نوشته شود و حتما باید این نام منحصر به فرد باشد یعنی در لیست گالری ها چنین نامی وجود نداشته باشد
							<br />
							4- گالری شما می تواند گالری اصلی باشد یا زیر مجموعه یک گالری دیگر قرار بگیرد، برای مثال گالری تور اصفهان زیر مجموعه گالری تور های داخلی باشد
							</p>
        			</fieldset>	
                </div>
                <div class="col-lg-6">
                	<div class="form-group" id="tour1">
                		<label class="control-label"><?php echo $this->formLabel($galleryForm->get('gallery_lang'));  ?></label>
                    	<?php echo $this->formElement($galleryForm->get('gallery_lang')); 
                    	echo $this->formElementErrors($galleryForm->get("gallery_lang"));?>
                	</div>	
                	<div class="form-group" id="tour2">
                		<label class="control-label"><?php echo $this->formLabel($galleryForm->get('persian_name'));  ?></label>
                    	<?php echo $this->formElement($galleryForm->get('persian_name')); 
                    	echo $this->formElementErrors($galleryForm->get("persian_name"));?>
                	</div>	
                	<div class="form-group" id="tour3">
                		<label class="control-label"><?php echo $this->formLabel($galleryForm->get('latin_name'));  ?></label>
                    	<?php echo $this->formElement($galleryForm->get('latin_name'));
                    	echo $this->formElementErrors($galleryForm->get("latin_name")); ?>
                    	 <div id="image-holder1"></div>
                	</div>	
                	<div class="form-group" id="tour4">
                		<label class="control-label"><?php echo $galleryForm->get('parent_id')->getLabel(); ?></label>
                    	<?php echo $this->formElement($galleryForm->get('parent_id'));
                    	echo $this->formElementErrors($galleryForm->get("parent_id")); ?>
                    	 <div id="image-holder1"></div>
                	</div>
                	<div class="form-group pull-left" id="tour5">
                    	<?php 
                    		echo $this->formElement($galleryForm->get('csrf'));
                    		echo $this->formElementErrors($galleryForm->get("csrf"));
                    		echo $this->formElement($galleryForm->get('submit'));
                    	?>
                    	<?php 
                    		echo $this->formElement($galleryForm->get('csrf'));
                    		echo $this->formElementErrors($galleryForm->get("csrf"));
                    		echo $this->formElement($galleryForm->get('submit2'));
                    	?>
                    	
            	        <a href="/<?php echo $this->layout()->lang;?>/admin-gallery" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                	</div>
            	</div>
                
            	<?php 
            		echo $this->form()->closeTag();
            	?>
            </div>
        </div>
    </div>
</section>
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "انتخاب زبان",
    content: "زبانی که میخواهید گالری را در آن به نمایش بگذارید را مشخص کنید",
  },
  {
    element: "#tour2",
    title: "نام فارسی",
    content: "یک نام فارسی برای گالری انتخاب کنید",
  },
  {
    element: "#tour3",
    title: "نام یکتا",
    content: "نامی برای گالری انتخاب کنید که قبلا به هیچ گالری ای انتساب نداده اید، بهتر است این نام به زبان لاتین باشد",
  },
  {
    element: "#tour4",
    title: "گروه گالری",
    content: "در صورتی که گالری شما زیر مجموعه گالری دیگری است،نام گالری والد را انتخاب کنید در غیر اینصورت، گزینه گروه اصلی را تغییر ندهید"
  },
  {
    element: "#tour5",
    title: "ذخیره",
    content: "برای ثبت اطلاعات گزینه ذخیره را بزنید و به لیست اصلی جهت اضافه کردن تصویر به گالری ایجاد شده برگردید",
    //path:'/admin-gallery/list-galleries'
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>
