<?php 
	$galleryForm = $this->galleryForm;
	$image = $this->galleryById;
	$galleryForm->prepare();
?>
<section class="content-header">
    <h1>
        <?php echo __('Edit gallery'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit gallery'); ?></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Edit gallery')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php 
	           echo $this->form()->openTag($galleryForm);
            ?>
            <div class="row">
              <div class="col-lg-6">
                    <!--  help -->
                    <fieldset class="help-form">    	
        					<legend>راهنمای ویرایش گالری</legend>
        					این صفحه برای ایجاد گروه گالری به کارمی رود، یعنی شما ابتدا باید یک یا هر تعداد گروه گالری را که میخواهید ایجاد کنید ، سپس  می توانید به هر تعداد که بخواهید به هر یک از این گروه ها عکس  اضافه کنید
							<p>
    						1-زبان سایت مشخص میکند که گالری شما قرار است در کدام زبان به نمایش در بیاید
    						<br />
    						2-نام فارسی نامی است که برای تمیز دادن گالری ها از هم به کار می رود
    						<br />
    						3-نام یکتا، نامی است که باید به زبان لاتین نوشته شود و حتما باید این نام منحصر به فرد باشد یعنی در لیست گالری ها چنین نامی وجود نداشته باشد
							<br />
							4- گالری شما می تواند گالری اصلی باشد یا زیر مجموعه یک گالری دیگر قرار بگیرد، برای مثال گالری تور اصفهان زیر مجموعه گالری تور های داخلی باشد
							</p>
        			</fieldset>	
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($galleryForm->get('gallery_lang'));  ?></label>
                    	<?php echo $this->formElement($galleryForm->get('gallery_lang')); 
                    	echo $this->formElementErrors($galleryForm->get("gallery_lang"));?>
                    </div>	
                    <div class="form-group">
                    	<label class="control-label"><?php echo $galleryForm->get('persian_name')->getLabel(); ?></label>
                    	<?php echo $this->formElement($galleryForm->get('persian_name')); ?>
                    </div>
                    <div class="form-group">
                    	<label class="control-label"><?php echo $galleryForm->get('latin_name')->getLabel(); ?></label>
                    	<?php echo $this->formElement($galleryForm->get('latin_name')); ?>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><?php echo $galleryForm->get('parent_id')->getLabel(); ?></label><span class="mandetory-field"> (فیلد اجباری)</span>
                        <?php echo $this->formElement($galleryForm->get('parent_id')); ?>
                        <div id="image-holder1"></div>
                    </div>
                    <div class="form-group pull-left">
                        <?php 
                        	echo $this->formHidden($galleryForm->get('csrf'));
                        	echo $this->formElement($galleryForm->get('submit'));
                        ?>
                        <a href="/<?php echo $this->layout()->lang;?>/admin-gallery" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
                    </div>
                    <?php 
                    	echo $this->form()->closeTag();
                    ?>
                </div>
            </div>            
        </div>
    </div>
</section>

