<?php
	$contactForm = $this->contactForm;
	$contactForm->prepare();
	echo $this->form()->openTag($contactForm);
?>
<section id="contact" style="margin:20px 0;>
    <div class="container">
    <div class="row">
            <div class="col-md-6 col-md-push-3">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                	<?php echo $this->formElement($contactForm->get('name'));
                	echo $this->formElementErrors($contactForm->get("name")); ?>
            	</div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                	<?php echo $this->formElement($contactForm->get('email'));
                	echo $this->formElementErrors($contactForm->get("email")); ?>
            	</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
        	    <div class="form-group">
                	<?php echo $this->formElement($contactForm->get('tel'));
                	echo $this->formElementErrors($contactForm->get("tel")); ?>
            	</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
            	 <div class="form-group">
                	<?php echo $this->formElement($contactForm->get('text'));
                	echo $this->formElementErrors($contactForm->get("text")); ?>
            	</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
            	<div class="form-group myCaptcha">
                	<div class="text-center"> 
                	   <span id="refreshcaptcha" class="fas fa-sync"></span>
                	   <?php echo $this->formCaptcha($contactForm->get('myCaptcha')); ?> 
                	</div> 
                	<?php  	echo $this->formElementErrors($contactForm->get("myCaptcha")); ?>
            	</div>
            </div>
        </div>
    	<?php 
    		echo $this->formElement($contactForm->get('contact_submit'));
    		echo $this->form()->closeTag();
    	?>
    </div></div>
    </div>
</section>
<script>
	$(document).ready(function(){
		$("#contactForm").validationEngine();
        $('#contact_submit').click(function(e){
        	e.preventDefault();
        	if($("#contactForm").validationEngine('validate'))
    		{
                $.post("/contact-ajax-contact-us", $("#contactForm").serialize(),function(result){
                    if(result == 'true'){
                    	$("#successModal").modal();
                    }else{
                    	$("#failModal").modal();
                    }
                });
    		}
        });  
		});


$(document).ready(function() {
	//$('div.captcha input[type="text"]').addClass('form-control');
    $('#refreshcaptcha').click(function() {
        $.ajax({ 
            url: 'contact-ajax-contact-us-refresh', 
            dataType:'json', 
            success: function(data) { 
                $('#contactForm img').attr('src', data.src); 
                $('#captcha-id-hidden').attr('value', data.id); 
            }
        }); 
    }); 
});

</script>