<?php
	if ($this->videos) { 
?>

    <section class="sl-content">
        <div class="sl-direction container">
            <div id="gallery" class="row" >
		<?php 
		foreach ($this->videos as $video) {
		    ?>
            <div class="col-lg-3">
                 <a class="gallery" rel="prettyPhoto[pp_gal]" href="/uploads/videoGallery/<?php echo $video['file_name'];?>" title="<?php echo $video['caption'];?>">
      	             
      	             <video width="320" height="240" controls="controls" class="img-responsive">  
                        <source src="/uploads/videoGallery/<?php echo $video['file_name'];?>" />  
                        Nav doesn't support html5 video
                    </video> 
      	         </a>
            </div>
		<?php } ?>
		  </div>
	  </div>
  </section>

<?php } ?>
