<div class="box-title">
    <h2 class="title"><?php echo __('Page video gallery'); ?></h2>
</div>
<div class="row" >
	 <?php 
        if ($this->videos) {
        foreach ($this->videos as $video) {
            ?>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				 <a class="selected-product-thumb  galleryvideo" href="/uploads/videoGallery/<?php echo $video['file_name'];?>" title="">
					  <video width="100%" height="100%" controls>
                          <source src="/uploads/videoGallery/<?php echo $video['file_name'];?>" type="video/mp4">
                        Your browser does not support the video tag.
                        </video> 
					 
					 <div class="selected-product-caption">
						<div class="selected-product-caption-inner">
							<div><?php 
							$caption = $video['caption'];
							$captions = explode("|", $caption);
							foreach ($captions as $text) {
							    echo $text . "<br>";
							}
							?></div>
						</div>
					</div>
				 </a>
        	</div>
   <?php }} ?>
</div>
 <br/><br/><br/>            
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$(".galleryvideo").prettyPhoto(
    		{
    			quicktime_markup: '<video height="{height}" width="{width}" controls><source src="{path}" type="video/mp4"></video>',
    			social_tools:''
    			}
    		);
	});
</script>