<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<style>
#cssmenu > ul > li > a {
    color: #f3e8e8 !important;
    text-shadow: 1px 1px 1px #131010 !important;
}
</style>
<div class="">
<div class="header-bg" style="background-image:url(../images/3.jpg);">
    <h1>ثبت کالا</h1>
</div>
<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link" href="/">
									<?php echo __('Home'); ?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									ثبت کالا
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section id="content">
        <div class="container text-right form-content">
        	<?php
            	$productsForm = $this->productsForm;
            	$productsForm->prepare();
            	echo $this->form()->openTag($productsForm);
            ?>
            
            <div class="row">
            	<div class="col-md-7">
            	   <div class="row">
            	       <div class="col-md-6">
                    		<div class="form-group" id="tour1">
            					<label class="control-label"><?php echo $this->formLabel($productsForm->get('category_id')); ?></label>
            			    	<?php echo $this->formElement($productsForm->get('category_id'));
            					echo $this->formElementErrors($productsForm->get("category_id")); ?>
            				</div>	
            	       </div>
            	       <div class="col-md-6">
                            <div class="form-group" id="tour1">
            					<label class="control-label"><?php echo $this->formLabel($productsForm->get('product_name')); ?></label>
            			    	<?php echo $this->formElement($productsForm->get('product_name'));
            					echo $this->formElementErrors($productsForm->get("product_name")); ?>
            				</div>	
            	       </div>
            	   </div>
            	   <div class="row">
            	       <div class="col-md-6">
                            <div class="form-group" id="tour2">
            					<label class="control-label"><?php echo $this->formLabel($productsForm->get('price')); ?>(<span>ریال</span>)</label>
            			    	<?php echo $this->formElement($productsForm->get('price'));
            					echo $this->formElementErrors($productsForm->get("price")); ?>
            				</div>	
            	       </div>
            	       <div class="col-md-6">
                            <div class="form-group" id="tour2">
            					<label class="control-label"><?php echo $this->formLabel($productsForm->get('sale_percent')); ?>(<span>ریال</span>)</label>
            			    	<?php echo $this->formElement($productsForm->get('sale_percent'));
            					echo $this->formElementErrors($productsForm->get("sale_percent")); ?>
            				</div>	
            	       </div>
            	       <div class="col-md-6">
                            <div class="form-group">
            					<label class="control-label"><?php echo $this->formLabel($productsForm->get('unit')); ?></label>
            			    	<?php echo $this->formElement($productsForm->get('unit'));
            			    	echo $this->formElementErrors($productsForm->get("unit")); ?>
            				</div>	
            	       </div>
            	   </div>
            	   <div class="row">
            	       <div class="col-md-6">
            				<div class="form-group">
            					<label class="control-label"><?php echo $this->formLabel($productsForm->get('minimum_order')); ?></label>
            			    	<?php echo $this->formElement($productsForm->get('minimum_order'));
            			    	echo $this->formElementErrors($productsForm->get("minimum_order")); ?>
            				</div>	
            	       </div>
            	        <div class="col-md-6">
            			    <div class="form-group" id="tour3">
            					<label class="control-label"><?php echo $this->formLabel($productsForm->get('discount')); ?></label>
            			    	<?php echo $this->formElement($productsForm->get('discount'));
            			    	echo $this->formElementErrors($productsForm->get("discount")); ?>
            				</div>	
            	        </div>
            	   </div>
    
    				<div class="form-group" id="tour4">
    					<label class="control-label"><?php echo $this->formLabel($productsForm->get('count')); ?></label>
    			    	<?php echo $this->formElement($productsForm->get('count'));
    			    	echo $this->formElementErrors($productsForm->get("count")); ?>
    				</div>
            	</div>
            	<div class="col-md-5">
            	   <div class="box1">
            	       <div class="form-group">
            		       <label class="control-label"><?php echo $this->formLabel($productsForm->get('image')); ?></label>
        		           <div id="image-holder1"></div>
            	           <div class="file-upload-cnt sl-margin-top">
                            	<div class="fileUpload btn bg-maroon margin fa fa-image">
                            		<span style="font-family:'Yekan';font-weight:normal;margin-right:5px;">انتخاب تصویر</span>
                            	  <?php echo $this->formElement($productsForm->get('image'));
    			    	          echo $this->formElementErrors($productsForm->get("image")); ?>
                            	</div>
        	               </div>	
	                    </div>	
                     </div>
            	</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" id="tour6">
    					<label class="control-label"><?php echo $this->formLabel($productsForm->get('description')); ?></label>
    			    	<?php echo $this->formElement($productsForm->get('description'));
    			    	echo $this->formElementErrors($productsForm->get("description")); ?>
    				</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
        				<?php 
        					echo $this->formElement($productsForm->get('csrf'));
        					echo $this->formElementErrors($productsForm->get("csrf"));
        					echo $this->formElement($productsForm->get('submit'));
        				?>
                </div>
            </div>
            <?php 	echo $this->form()->closeTag(); ?>    
        </div>
    </section>
</div>
<script>
$('#submit').click(function(e){
    // e.preventDefault();
	 $("#productsForm").validationEngine(); 
     if($("#productsForm").validationEngine('validate')) 
     {
     	$("#productsForm").submit();
     }
});
$("#image").on('change', function () {
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $("#image-holder1");
    image_holder.empty();
    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
            for (var i = 0; i < countFiles; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                            "class": "thumb-image"
                    }).appendTo(image_holder);
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
            }
        } else {
            alert("<?php echo __("This browser does not support FileReader");?>.");
        }
    } else {
        alert("<?php echo __("Please choose only images");?>");
    }
});
</script>