<?php
$this->headScript()->appendFile($this->basePath('/tinymce/tinymce.min.js'));
$this->headScript()->appendFile('/js/select2.full.min.js');
?>
<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<style>
#cssmenu > ul > li > a {
    color: #f3e8e8 !important;
    text-shadow: 1px 1px 1px #131010 !important;
}
</style>
<div class="">
<div class="header-bg" style="background-image:url(../images/3.jpg);">
    <h1>ثبت قیمت</h1>
</div>
<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link" href="/">
									<?php echo __('Home'); ?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									ثبت قیمت
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section id="content">
        <div class="container text-right form-content">
        	<?php
			$attributesForm = $this->attributesForm;
			$attributesForm->prepare();
			echo $this->form()->openTag($attributesForm);
            ?>
            
            <div class="row">
            	<div class="col-md-12">
            	   <div class="row">
            	       <div class="col-md-3">
                    		<label class="control-label"><?php echo $this->formLabel($attributesForm->get('print_service_id')); ?></label>
        			    	<?php echo $this->formElement($attributesForm->get('print_service_id'));
        			    	echo $this->formElementErrors($attributesForm->get("print_service_id")); ?>	
            	       </div>
            	       <div class="col-md-3">
                	       <div id="inputs">
        					
        					</div>
    					</div>
    					<div class="col-md-6">
                        	<div class="price-section" style="display: none;">
                        		<div class="form-group" id="tour4">
                					<label class="control-label"><?php echo $this->formLabel($attributesForm->get('sale_percent')); ?></label>
                			    	<?php echo $this->formElement($attributesForm->get('sale_percent'));
                			    	echo $this->formElementErrors($attributesForm->get("sale_percent")); ?>
                				</div>	
                				<div class="form-group" id="tour4">
                					<label class="control-label"><?php echo $this->formLabel($attributesForm->get('price')); ?>(<span>ریال</span>)</label>
                			    	<?php echo $this->formElement($attributesForm->get('price'));
                			    	echo $this->formElementErrors($attributesForm->get("price")); ?>
                				</div>	
                				<div class="form-group" id="tour4">
                					<label class="control-label"><?php echo $this->formLabel($attributesForm->get('time')); ?></label>
                			    	<?php echo $this->formElement($attributesForm->get('time'));
                			    	echo $this->formElementErrors($attributesForm->get("time")); ?>
                				</div>	
            				</div>
    					</div>
            	   </div>
            	</div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
        				<?php 
        				echo $this->formElement($attributesForm->get('submit'));
        				?>
                </div>
            </div>
            <?php echo $this->form()->closeTag(); ?>    
        </div>
    </section>
</div>
<script type="text/javascript">
// $('#print_service_id').select2();
$('#title').select2();
$('#value').select2({
    tags: true,
    tokenSeparators: [","],
    createTag: function (tag) {
        return {
            id: tag.term,
            text: tag.term,
            isNew : true
        };
    }
}).on("select2:select", function(e) {
    if(e.params.data.isNew){
        $('#console').append('<code>New tag: {"' + e.params.data.id + '":"' + e.params.data.text + '"}</code><br>');
        $(this).find('[value="'+e.params.data.id+'"]').replaceWith('<option selected value="'+e.params.data.id+'">'+e.params.data.text+'</option>');
    }
});

function createSelect(option,title,name){
	var select = '<div class="form-group"><label class="control-label">'+ title +'</label><select name="value[]" class="form-control">';
	$.each(option, function(key, value) { 
		select += '<option value ="'+ value +'">' + value + '</option>';
	});
	select +='</select>';
	$('#inputs').append(select);
// 	console.log(select);
	
// 	var myDiv = document.getElementById("inputs");
// // 	myDiv += '<div class="form-group">';
// 	//Create array of options to be added
// // 	var array = ["Volvo","Saab","Mercades","Audi"];
// 	var array = option;
// 	//Create and append select list
// 	var selectList = document.createElement("select");
// 	selectList.id = "mySelect";
// 	myDiv.appendChild(selectList);
// 	//Create and append the options
// 	for (var i = 0; i < array.length; i++) {
// 	    var option = document.createElement("option");
// 	    option.value = array[i];
// 	    option.text = array[i];
// 	    selectList.appendChild(option);
// 	}
// 	myDiv += '</div>'
// 	myDiv.appendChild(selectList);
}

$(document).on('change', '#print_service_id', function() {
// 	createSelect();
	$('#inputs').empty();
	$('.price-section').css("display", "none");
	var val = $(this).val();
	$.ajax({
        type:'POST',
        url:'/get-form',
        data:{'id':val},
        success:function(data){
            var data = JSON.parse(data);
            console.log(data);
            if(data.length > 0){
            	$.each(data, function(key, value) { 
                    if(value['options']){
                        console.log(value['options']);
                    	createSelect(value['options'],value['attribute_title'],value['attribute_title']);
//                     	alert('aaa');
                    }
//                 	var input = '<div class="form-group"></div>';
                	
//                 	input.append(select);
//                     var input = '<div class="form-group"><label class="control-label"><label for="print_service_id">' + value['attribute_title'] + '</label></label><input type="select" name="' + value['attribute_name'] +'"></div>';
//                     console.log($('.box-body #attributesValueForm'));
//                     $('.box-body #attributesValueForm .row .col-lg-7 .inputs').append(input);
//                      $(personIdSelected)
//                      .append($("<option></option>")
//                      .attr("value",value['id'])
//                      .text(value['persian_name'])); 
                });

                $('.price-section').css("display", "block");

            }
            
            

            
        }
    }); 
//     var empty =  $(this).parent().parent().find('.person_id :first-child');
//     empty.nextAll().remove();
//     var starCheck =  $(this).parent().parent().find('.star_checked').val('0');
//     var personIdSelected =  $(this).parent().parent().find('.person_id');
//     console.log(personIdSelected);
//     var id = $(this).val();
    	
                 
}); 

    
</script>