<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<style>
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
</style>
<div class="">
<div class="header-bg">
    <h1>لیست قیمت ها</h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link">
    				لیست قیمت ها	
    				</a>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
</div>
<!-- new style for price list -->
<section id="faq-accordion">
    <div class="container">
      <div class="content">
      <a class="btn" href="/create-pdf"><i class="fa fa-download"></i>دانلود لیست قیمت ها</a>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <!-- panel1 -->
          <div class="panel panel-default">
            <div class="panel-heading" id="headingOne" role="tab">
              <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">کف بازار<i class="pull-left fa fa-plus"></i></a></h4>
            </div>
            <div class="panel-collapse collapse in show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <table id="cart" class="table table-condensed">
        				<thead>
    						<tr>
    							<th class="text-center">ردیف</th>
    							<th class="text-center">عنوان خدمات چاپ</th>
    							<th class="text-center">ویژگی</th>
    							<th class="text-center">قیمت واحد(<span>تومان</span>)</th>
    						</tr>
    					</thead>
    					<tbody>
    					<?php foreach ($this->adminPrice as $key => $group){?>
    						<tr>
    							<td><?php echo $key + 1?></td>
								<td data-th="محصول">
    								<div class="row">
    									<div class="col-sm-10">
    										<div class="nomargin"><?php echo $group['print_service'];?></div>
    									</div>
    								</div>
    							</td>
    							<td data-th=""> <?php 
    							foreach ($group['attrTitle'] as $k=>$val){
    							    echo $val['attribute_title'] . ':' . $group['val'][$k] . '<br>';
    							}
    							//echo $group['val'];
    							?></td>
    							<td data-th="">
    								<?php echo number_format($group['price']);?>							
								</td>
    						</tr>
						<?php } ?>
    					</tbody>
    				</table>
              </div>
            </div>
          </div>
          <!-- panel2 -->
          <?php 
          if($this->groups){
          foreach ($this->groups as $key => $office){?>
          	<div class="panel panel-default">
                <div class="panel-heading" id="heading<?php echo $key;?>" role="tab">
                  <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<?php echo $key;?>" aria-expanded="true" aria-controls="collapseThree" class="collapsed"><?php echo $office['office_name'];?><i class="pull-left fa fa-plus"></i></a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapse<?php echo $key;?>" role="tabpanel" aria-labelledby="heading<?php echo $key;?>">
                  <div class="panel-body">
                    <table id="cart" class="table table-condensed">
            				<thead>
        						<tr>
        							<th class="text-center">ردیف</th>
        							<th class="text-center">عنوان خدمات چاپ</th>
        							<th class="text-center">ویژگی</th>
        							<th class="text-center">قیمت واحد(<span>ریال</span>)</th>
        						</tr>
        					</thead>
        					<tbody>
        					<?php foreach ($office['prices'] as $key => $price){?>
        						<tr>
        							<td><?php echo $key + 1;?></td>
        							<td data-th="محصول">
        								<div class="row">
        									<div class="col-sm-10">
        										<div class="nomargin"><?php echo $price['print_service']?></div>
        									</div>
        								</div>
        							</td>
        							<td data-th=""> <?php echo $price['val'];?></td>
        							<td data-th=""><?php echo $price['price'];?></td>
        						</tr>	
        					<?php } ?>
        					</tbody>
        				</table>
                  </div>
                </div>
              </div>
          
          <?php } }?>
        </div>
      </div>
    </div>
</section>
<script>


</script>
<script>
$(function() {

	  "use strict"
	  
	  var init = "No items yet!";
	  var counter = 0;

	  // Initial Cart
	  $(".counter").html(init);
	  
	  // Add Items To Basket
	  function addToBasket() {
	    counter++;
	    $(".counter").html(counter).animate({
	      'opacity' : '0'
	    },300, function() {
	      $(".counter").delay(300).animate({
	        'opacity' : '1'
	      })
	    })
	  }

	  // Add To Basket Animation
	  $("button").on("click", function() {
	    addToBasket(); $(this).parent().parent().find(".product_overlay").css({
	      'transform': ' translateY(0px)',
	      'opacity': '1',
	      'transition': 'all ease-in-out .45s'
	    }).delay(1500).queue(function() {
	      $(this).css({
	        'transform': 'translateY(-500px)',
	        'opacity': '0',
	        'transition': 'all ease-in-out .45s'
	      }).dequeue();
	    });
	  });
	});
</script>