<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<div class="">
<div class="header-bg text-right">
    <h1><?php echo $this->printService['title'];?></h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li>
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/main-category">
    					سفارش خدمات
    				</a>
    			</li>
    			<li>
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/second-category/<?php echo $this->printService['type_id'];?>">
    					<?php echo $this->printService['services_type_title'];?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<?php echo $this->printService['title'];?>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
<section id="service-content">
    <div class="container">
            <div class="row main-services">
                <div class="col-md-3">
                    <div class="main-service-img text-center">
                        <img src="/uploads/services/<?php echo $this->printService['image'];?>">
                    </div>
                </div>
                 <div class="col-md-9">
                    <div class="main-service-body text-justify">
                        <?php echo $this->printService['description'];?>
                    </div>
                 </div>
             </div>
             <div class="row service-items">
                	<?php
                	   foreach ($this->printServiceChild as $child){
                	?>
            		<div class="col-sm-6 col-md-6 col-lg-4">
            		  <div class="service-item" style="background-image: url(/uploads/services/<?php echo $child['image'];?>)">
                		 <a href="/services/<?php echo $child['id']?><?php if($offset == 'offset') echo '/offset' ?>">
                              <div class="service-item-title">
                               <?php echo $child['title'];?>
                              </div>
                              <div class="service-item-request">
                                <i class="fas fa-chevron-left"></i>
                                سفارش
                              </div>
                          </a>
                       </div>
    				</div>
                	<?php } ?>
            </div>
        </div>
    </section>
</div>
