<link rel="stylesheet" href="/css/accordion/style.css">  
    
<!--=== Breadcrumb Starts ===-->
	<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link">
									<?php echo __("Home");?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									<?php echo __("Shabdiz CMS");?>
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
	
	<!--=== Breadcrumb Ends ===-->
	
	<!--=== sample Starts ===-->
	<section id="sample" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					<div class="row">
						<section class="prodetail_part1 clearfix cd-horizontal-timeline">
						<div class="center section-title">
        					<h3>
                                <?php echo __("Shabdiz CMS");?>
        					</h3>
        				</div>
        				<img src="/images/cms.jpg" alt="" />
        				<div class="cms-description">
        				    	<?php echo $this->getPlugin('block/index/index', array('position' => "cms description")); ?>
        				</div>
						  <!-- cms modules -->
						   <div class="container">
						  
                              <div class="accordion">
                               <dl>
                               <div>
                                 <dt>
                                    <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                        <?php echo __("About Shabdiz CMS Modules");?>
                                    </a>
                                  </dt>
                                  <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                        <?php echo $this->getPlugin('block/index/index', array('position' => "cms module")); ?>
                                  </dd>
                               </div>
                                        <?php  echo $this->getPlugin('link/index/index',array('layout'=>'accordion', 'position'=>'accordion')); ?>
                                </dl>
                              </div>
                            </div>
                        </section>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!--=== section Ends ===-->
<script src="/js/accordion/index.js"></script>
