<style type="text/css" media="screen">
	ul li {
		list-style: none;
    }
	#content{
/* 	padding-bottom:50px;*/
	}
	
</style>
<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<script src="/js/gallery2/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<!--  image hover -->  
<style>


</style>
<?php 
$content = $this->pagePage['page_content'];
$slideshowPlugin = '';
$title = $this->pagePage['page_title']; 
if ($this->plugins) {
    $pluginOutput = array();
    
    foreach ($this->plugins as $k => $plugin) {
        ob_start();
        if (strpos($plugin["code"], 'slideshow') || strpos($plugin["code"], 'gallery')) {
            if (strpos($plugin["code"], 'slideshow')) {
                
                $slideshowPlugin = $plugin;
            }
            if (strpos($plugin["code"], 'gallery')) {
                
                $galleryPlugin = $plugin;
            }
        } else {
            $output = ob_get_contents();
            ob_end_clean();
            if (strpos($content, $plugin["name"]) === false) {
                $content .= $output;
            } else {
                $content = str_replace($plugin["name"], $output, $content);
            }
        }
    }
}

$this->headMeta()->appendName('description', $this->pagePage['page_meta_description']);
$this->headMeta()->appendName('keywords', $this->pagePage['page_meta_keywords']);
?>
<section id="back-img">
    <div class="" style="background-image: url('/images/shop.jpg');"></div>
</section>
<section id="single_content">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 rtl-text-right">
				<!--begin breadcrumb-->
				<ol class="breadcrumb">
					<li><a href="/"><i class="fa fa-home"></i></a></li>
					<li class="active"><?php echo __("Contact us");?></li>
				</ol>
				<!--end breadcrumb-->
				<div class="box-title">
					<h2 class="title"><?php echo __("Contact us");?></h2>
				</div>

				<div class="single_content_main">
				    <div class="row">
    					<div class="col-md-6">
    					
    					</div>
    					<div class="col-md-6">
                           <?php echo $this->getPlugin('contact/index/index'  );?>
                        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</section>
