<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<style>
#cssmenu > ul > li > a {
    color: #f3e8e8 !important;
    text-shadow: 1px 1px 1px #131010 !important;
}
</style>
<div class="">
<div class="header-bg">
    <h1>ثبت نام کاربران (دفاتر فنی )</h1>
</div>
<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link" href="/">
									<?php echo __('Home'); ?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									ثبت نام کاربران (دفاتر فنی )
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="content">
        <div class="container text-right form-content">
        	<?php
                $userForm = $this->userForm;
                $userForm->prepare();
                $officeForm = $this->officeForm;
                $officeForm->prepare();
                echo $this->form()->openTag($userForm);
            ?>
<!-- 			<form action="" name="officeForm" method="post"> -->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">نام کاربری</label>
                        		<?php echo $this->formElement($userForm->get('username'));
                        	    echo $this->formElementErrors($userForm->get("username"));
                        	    ?>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">آدرس ایمیل</label>
                        		<?php echo $this->formElement($userForm->get('email'));
                        	    echo $this->formElementErrors($userForm->get("email"));
                        	    ?>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">نام دفتر</label>
                        		<?php echo $this->formElement($officeForm->get('office_name'));
                        		echo $this->formElementErrors($officeForm->get("office_name"));
                        	    ?>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">نام مسئول</label>
                        		<?php echo $this->formElement($officeForm->get('manager_name'));
                        		echo $this->formElementErrors($officeForm->get("manager_name"));
                        	    ?>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                       <div class="form-group">
                    		<label class="control-label">شماره تماس</label>
                    		<?php echo $this->formElement($userForm->get('phone'));
                    		echo $this->formElementErrors($userForm->get("phone"));
                    	    ?>
                	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                    		<label class="control-label">شماره همراه</label>
                    		<?php echo $this->formElement($userForm->get('mobile'));
                    		echo $this->formElementErrors($userForm->get("mobile"));
                    	    ?>
                	    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">شماره فاکس</label>
                        		<?php echo $this->formElement($officeForm->get('fax'));
                        		echo $this->formElementErrors($officeForm->get("fax"));
                        	    ?>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div> خدمات قابل ارائه </div>
                        <br />
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-3">
                	<?php echo $this->formElement($officeForm->get('service_id[]'));
                	    echo $this->formElementErrors($officeForm->get("service_id[]")); ?>
                	<div class="col-md-3">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                       <div class="form-group">
                		  <label class="control-label">خدمات آنلاین</label>
                    	  <div class="onoff">
                		      <input type="checkbox" value="1" id="checkboxID2" name="online_services"><label for="checkboxID2"></label>
                		  </div>
                		</div>
                    </div>
                </div>
                   <div class="row">
                      <div class="form-group">
                    		<label class="control-label">آدرس</label>
                		</div>
            		</div>
                   <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                          <div class="form-group">
                            	<input name="area" id="" class="form-control"  placeholder="منطقه" value="" type="text">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                          <div class="form-group">
                            	<input name="district" id="" class="form-control"  placeholder="محله" value="" type="text">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                            	<input name="address" id="" class="form-control"  placeholder="آدرس کامل" value="" type="text">
                    	   </div>
                    </div>
                </div>
                   <div class="row">
                   <label class="control-label">توضیحات</label>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                          <div class="form-group">
                            	<textarea name="description" class="form-control" rows="5" name="description"></textarea>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-4">
                         <label class="check ">
                            <input type="checkbox" checked="checked" name="usual_courier" value="1">
                              <span class="checkmark"></span>
                             پیک معمولی
                        </label>
                    </div>
                     <div class="col-md-4">
                         <label class="check ">
                                <input type="checkbox" checked="checked" name="special_courier" value="1"> 
                                  <span class="checkmark"></span>
                             پیک ویژه (تحویل زیر چهار ساعت )
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-left">
                        <input type="submit" class="btn btn-primary" value="ثبت اطلاعات" >
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>