<?php 
use Application\Helper\Jdates;
$jdate = new Jdates();

if($this->layout()->userData->user_group_id == 3){
    $profile = '/profile';
}elseif($this->layout()->userData->user_group_id == 7){
    $profile = '/technical-office-profile';
}elseif($this->layout()->userData->user_group_id == 8){
    $profile = '/seller-profile';
}
?>
<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<div class="">
<div class="header-bg" style="background-image:url(/images/dashboard.jpg)">
    <h1>داشبورد من</h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/dashboard">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link">
    				داشبورد من
    				</a>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
	<section id="content">
        <div class="container text-right form-content dashboard">
        	<div class="row">
        	   <div class="col-md-4">
        	       <!-- profile -->
        	        <div class="profile-wrapper">
                        <div class="profile-inner">  
                            <img src="../images/profile.png" class="small-thumb" > 
                        </div>
                        <div class="description">
                           <h5>  <?php echo $this->layout()->userData->username; ?> </h5>
                            <h6> <strong>  <?php echo $this->layout()->userData->email; ?> </strong></h6>
                            <p>
                            	<?php if($this->layout()->userData->phone){?>
                                <i class="fa fa-phone"></i>
                                 <?php echo $this->layout()->userData->phone; ?>
                                <br/>
                                <?php } ?>
                                <?php if($this->layout()->userData->mobile){?>
                                <i class="fa fa-mobile"></i>
                                <?php echo $this->layout()->userData->mobile; ?>
                                <?php } ?>
                            </p>
                            <hr />
                            <a href="<?php echo  $profile;?>" class="btn btn-info btn-block">پروفایل من </a> 
                        </div>
                     </div>
        	       <!-- menu -->
        	       <nav>
                      <UL>
                       <li class="var_nav">
                          <div class="link_bg"></div>
                          <div class="link_title">
                            <div class="icon"> 
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <a href="#"><span>سفارشات من</span></a>
                          </div>
                       </li>
                       <li class="var_nav">
                          <div class="link_bg"></div>
                          <div class="link_title">
                            <div class="icon"> 
                            <i class="fas fa-cart-arrow-down"></i>
                            </div>
                            <a href="/products"><span>سفارش کالا</span></a>
                          </div>
                       </li>
						 <?php if(($this->layout()->userData->user_group_id == 9 ) && $this->layout()->userData->confirm == 1){ ?>
                       <li class="var_nav">
                          <div class="link_bg"></div>
                          <div class="link_title">
                            <div class="icon"> 
                            <i class="fab fa-product-hunt"></i>
                            </div>
                          <a href="/add-designer-sample"><span>ثبت نمونه کار توسط طراحان</span></a>
                          </div>
                       </li>
                       <?php } ?>  
                       <?php if(($this->layout()->userData->user_group_id == 7 || $this->layout()->userData->user_group_id == 8 ) && $this->layout()->userData->confirm == 1){ ?>
                       <li class="var_nav">
                          <div class="link_bg"></div>
                          <div class="link_title">
                            <div class="icon"> 
                            <i class="fab fa-product-hunt"></i>
                            </div>
                          <a href="/add-product"><span>ثبت کالا توسط فروشندگان</span></a>
                          </div>
                       </li>
                       <?php } ?>
                        <?php if($this->layout()->userData->user_group_id == 7 && $this->layout()->userData->confirm == 1){ ?>
                        <li class="var_nav">
                          <div class="link_bg"></div>
                          <div class="link_title">
                            <div class="icon"> 
                            <i class="fas fa-dollar-sign"></i>
                            </div>
                          <a href="/add-price"><span>ثبت قیمت</span></a>
                          </div>
                       </li>
                       <li class="var_nav">
                          <div class="link_bg"></div>
                          <div class="link_title">
                            <div class="icon"> 
                            <i class="fas fa-hand-holding-usd"></i>
                            </div>
                          <a href="/price-list"><span>لیست قیمت</span></a>
                          </div>
                       </li>
                        <?php } ?>
                       <li class="var_nav">
                          <div class="link_bg"></div>
                          <div class="link_title">
                            <div class="icon"> 
                            <i class="fas fa-sign-out-alt"></i>
                            </div>
                          <a href="/logout"><span>خروج</span></a>
                          </div>
                       </li>
                      </UL>
                    </nav>
        	   </div>
        	   <div class="col-md-8">
        	       <!-- my request -->
        	       <div class="row" id="print-request">
                    <div class="col-md-12">
                        <h1 class="sl-title"><strong><i class="fas fa-shopping-cart"></i> سفارشات چاپ من</strong></h1>
                        <br/>
                         <div id="no-more-tables">
                            <table class="table-bordered table-striped table-hover cf" id="tablesearch">
                        		<thead class="cf">
                        			<tr>
                        				<th>ردیف</th>
                        				<th>تاریخ </th>
                        				<th>نوع سفارش</th>
                        				<th>مبلغ سفارش(ریال)</th>
                        				<th>وضعیت سفارش</th>
                        				<th>جزئیات سفارش</th>
                        			</tr>
                        		</thead>
                        		<tbody class="order-table">
                        			<?php foreach ($this->printServicesOrders as $key => $printServiceOrder){ ?>
                        			<tr>
                        				<td><?php echo $key + 1; ?></td>
                        				<td>
                            				<?php 
                            				$date = strtotime($printServiceOrder['created']);
                                                $dateArr = Jdates::gregorian_to_jalali(date('Y',$date), date('m',$date), date('d',$date));
                                                echo $dateArr[0] . '/' .  $dateArr[1] . '/' .  $dateArr[2];
                                            ?>
                        				</td>
                        				<td>سفارش خدمات چاپ</td>
                        				<td><?php echo $printServiceOrder['total_price'];?></td>
                        				<td><?php echo __($printServiceOrder['status']);?></td>
                        				<td data-toggle="modal" data-id="1" data-target="#<?php echo $printServiceOrder['id']; ?>">مشاهده جزئیات</td>
                        			</tr>
                        			<?php } ?>
                        		</tbody>
                        	</table>
                        </div>
                        <?php foreach ($this->printServicesOrders as $key => $printServiceOrder){ ?>
                        <!-- Modal -->
                        <div class="modal fade" id="<?php echo $printServiceOrder['id']; ?>"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header" style="display:block">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h6 class="modal-title" id="exampleModalLabel">مشاهده جزئیات سفارش</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                              </div>
                              <div class="modal-body" id="orderDetails">
                                    <div class="row">
                                        <div class="col-md-6">
                                            شماره سفارش: <span><?php echo $printServiceOrder['id']; ?></span>
                                        </div>
                                        <div class="col-md-6 text-left">
                                            تاریخ سفارش: 
                                            <span>
                                                <?php 
                                                    $date = strtotime($printServiceOrder['created']);
                                                    $dateArr = Jdates::gregorian_to_jalali(date('Y',$date), date('m',$date), date('d',$date));
                                                    echo $dateArr[0] . '/' .  $dateArr[1] . '/' .  $dateArr[2];
                                                ?>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            نوع سفارش: <span>سفارش چاپ</span>
                                        </div>
                                        <div class="col-md-6 text-left">
                                            وضعیت سفارش: <span><?php echo __($printServiceOrder['status']);?></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div id="no-more-tables">
                                        <table class="table-bordered table-striped table-hover cf" id="tablesearch">
                                    		<thead class="cf">
                                    			<tr>
                                    				<th>ردیف</th>
                                    				<th>نام خدمات </th>
<!--                                     				<th>تولید کننده</th> -->
<!--                                     				<th>تعداد سفارش</th> -->
<!--                                     				<th>واحد سفارش</th> -->
<!--                                     				<th>(قیمت واحد (ریال</th> -->
                                    				<th>قیمت کل (ریال)</th>
                                    			</tr>
                                    		</thead>
                                    		<tbody class="order-table">
                                    			<?php foreach ($printServiceOrder['detail'] as $key => $detail){ //var_dump($detail);die;?>
                                    			<tr>
                                				    <td><?php echo $key + 1; ?></td>
                                					<td><?php echo $detail['title']; ?></td>
<!--                                 					<td>پاپکو</td> -->
<!--                                     				<td>3</td> -->
<!--                                     				<td>بسته</td> -->
<!--                                     				<td>270,000</td> -->
                                    				<td><?php echo $detail['price']; ?></td>
                                    			</tr>
                                    			<?php } ?>
                                    		</tbody>
                                    	</table>
                                    	 <br/>
                                    	<div class="row">
                                    		
                                            <div class="col-md-6">
                                                تخفیف: <span><?php echo $printServiceOrder['discount']?></span>
                                            </div>
                                            <div class="col-md-6 text-left">
                                                مجموع قیمت: <span style="color:#F44336"><?php echo $printServiceOrder['total_price']?></span><span>ریال</span>
                                            </div>
                                        </div>
                                	</div>
                              </div>
                              <div class="modal-footer pull-left">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <?php } ?>
                        </div>
                    </div>
                    <br/><br/><br/>
                    
                    <!-- my request -->
        	       <div class="row" id="print-request">
                    <div class="col-md-12">
                        <h1 class="sl-title"><strong><i class="fas fa-shopping-cart"></i> سفارشات کالا</strong></h1>
                        <br/>
                         <div id="no-more-tables">
                            <table class="table-bordered table-striped table-hover cf" id="tablesearch">
                        		<thead class="cf">
                        			<tr>
                        				<th>ردیف</th>
                        				<th>تاریخ </th>
                        				<th>نوع سفارش</th>
                        				<th>مبلغ سفارش(ریال)</th>
                        				<th>وضعیت سفارش</th>
                        				<th>جزئیات سفارش</th>
                        			</tr>
                        		</thead>
                        		<tbody class="order-table">
                        			<?php foreach ($this->productsOrders as $key => $productOrder){ ?>
                        			<tr>
                        				<td><?php echo $key + 1; ?></td>
                        				<td><?php 
                            				    $date = strtotime($productOrder['created']);
                                                $dateArr = Jdates::gregorian_to_jalali(date('Y',$date), date('m',$date), date('d',$date));
                                                echo $dateArr[0] . '/' .  $dateArr[1] . '/' .  $dateArr[2];
                                        ?></td>
                        				<td>سفارش محصول</td>
                        				<td><?php echo $productOrder['total_price'];?></td>
                        				<td><?php echo __($productOrder['status']);?></td>
                        				<td data-toggle="modal" data-id="1" data-target="#<?php echo $productOrder['id']; ?>">مشاهده جزئیات</td>
                        			</tr>
                        			<?php } ?>
                        			
                        		</tbody>
                        	</table>
                        </div>
                        <?php foreach ($this->productsOrders as $productOrder){ ?>
                        <!-- Modal -->
                        <div class="modal fade" id="<?php echo $productOrder['id']; ?>"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header" style="display:block">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h6 class="modal-title" id="exampleModalLabel">مشاهده جزئیات سفارش</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                              </div>
                              <div class="modal-body" id="orderDetails">
                                    <div class="row">
                                        <div class="col-md-6">
                                            شماره سفارش: <span><?php echo $productOrder['id']; ?></span>
                                        </div>
                                        <div class="col-md-6 text-left">
                                            تاریخ سفارش: 
                                            <span>
                                                <?php 
                                                $date = strtotime($productOrder['created']);
                                                    $dateArr = Jdates::gregorian_to_jalali(date('Y',$date), date('m',$date), date('d',$date));
                                                    echo $dateArr[0] . '/' .  $dateArr[1] . '/' .  $dateArr[2];
                                                ?>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            نوع سفارش: <span>سفارش محصول</span>
                                        </div>
                                        <div class="col-md-6 text-left">
                                            وضعیت سفارش: <span><?php echo __($productOrder['status']);?></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div id="no-more-tables">
                                        <table class="table-bordered table-striped table-hover cf" id="tablesearch">
                                    		<thead class="cf">
                                    			<tr>
                                    				<th>ردیف</th>
                                    				<th>نام کالا </th>
                                    				<th>(قیمت واحد (ریال</th>
                                    				<th>تعداد</th>
                                    				<th>قیمت کل (ریال)</th>
                                    			</tr>
                                    		</thead>
                                    		<tbody class="order-table">
                                    			<?php foreach ($productOrder['detail'] as $key => $detail){ ?>
                                    			<tr>
                                				    <td><?php echo $key + 1 ?></td>
                                					<td><?php echo $detail['product_name']; ?></td>
                                    				<td><?php echo $detail['price']; ?></td>
                                    				<td><?php echo $detail['qty']; ?></td>
<!--                                     				<td>بسته</td> -->
<!--                                     				<td>270,000</td> -->
                                    				<td><?php echo $detail['total_price']; ?></td>
                                    			</tr>
                                    			<?php } ?>
                                    		</tbody>
                                    	</table>
                                    	 <br/>
                                    	<div class="row">
                                    		
                                            <div class="col-md-6">
                                                تخفیف: <span><?php echo $productOrder['discount']; ?></span>
                                            </div>
                                            <div class="col-md-6 text-left">
                                                مجموع قیمت: <span style="color:#F44336"><?php echo $productOrder['total_price']?></span><span>ریال</span>
                                            </div>
                                        </div>
                                	</div>
                              </div>
                              <div class="modal-footer pull-left">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <?php } ?>
                        </div>
                    </div>
                    <br/><br/><br/>
                    
                    
                   <?php if($this->layout()->userData->user_group_id == 7){ ?>
                   <!-- my post request -->
        	       <div class="row" id="print-request">
                    <div class="col-md-12">
                        <h1 class="sl-title"><strong><i class="fas fa-shopping-cart"></i> سفارشات دریافتی من</strong></h1>
                        <br/>
                         <div id="no-more-tables">
                            <table class="table-bordered table-striped table-hover cf" id="tablesearch">
                        		<thead class="cf">
                        			<tr>
                        				<th>ردیف</th>
                        				<th>تاریخ </th>
                        				<th>نوع سفارش</th>
                        				<th>مبلغ سفارش(ریال)</th>
                        				<th>وضعیت فعلی سفارش</th>
                        				<th>جزئیات سفارش</th>
										<th>تغییر وضعیت سفارش</th>
                        			</tr>
                        		</thead>
                        		<tbody class="order-table">
                        			<?php foreach ($this->listOfficeOrders as $order){ ?>
                        			<tr>
                        				<td><?php echo $order['id']; ?></td>
                        				<td>
                            				<?php 
                            				    $date = strtotime($order['created']);
                                                $dateArr = Jdates::gregorian_to_jalali(date('Y',$date), date('m',$date), date('d',$date));
                                                echo $dateArr[0] . '/' .  $dateArr[1] . '/' .  $dateArr[2];
                                            ?>
                        				</td>
                        				<td>سفارش خدمات چاپ</td>
                        				<td><?php echo number_format($order['total_price']);?></td>
                        				<td><?php echo __($order['status']);?></td>
                        				<td data-toggle="modal" data-id="1" data-target="#<?php echo 'my-order-'. $order['id']; ?>">مشاهده جزئیات</td>
                        				<td data-toggle="modal" data-id="1" data-target="#<?php echo 'status-'. $order['id']; ?>">تغییر وضعیت</td>
                        			</tr>
                        			<?php } ?>
                    			</tbody>
                        	</table>
                        </div>
                        <?php foreach ($this->listOfficeOrders as $key => $order){ ?>
                        <!-- Modal -->
                        <div class="modal fade" id="<?php echo 'my-order-' . $order['id']; ?>"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header" style="display:block">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h6 class="modal-title" id="exampleModalLabel">مشاهده جزئیات سفارش</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                              </div>
                              <div class="modal-body" id="orderDetails">
                                    <div class="row">
                                        <div class="col-md-6">
                                            شماره سفارش: <span><?php echo $order['id']; ?></span>
                                        </div>
                                        <div class="col-md-6 text-left">
                                            تاریخ سفارش: 
                                            <span>
                                                <?php 
                                                $date = strtotime($order['created']);
                                                    $dateArr = Jdates::gregorian_to_jalali(date('Y',$date), date('m',$date), date('d',$date));
                                                    echo $dateArr[0] . '/' .  $dateArr[1] . '/' .  $dateArr[2];
                                                ?>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            نوع سفارش: <span>سفارش چاپ</span>
                                        </div>
                                        <div class="col-md-6 text-left">
                                            وضعیت سفارش: <span><?php echo __($order['status']);?></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div id="no-more-tables">
                                        <table class="table-bordered table-striped table-hover cf" id="tablesearch">
                                    		<thead class="cf">
                                    			<tr>
                                    				<th>ردیف</th>
                                    				<th>نام خدمات </th>
<!--                                     				<th>تولید کننده</th> -->
<!--                                     				<th>تعداد سفارش</th> -->
<!--                                     				<th>واحد سفارش</th> -->
<!--                                     				<th>(قیمت واحد (ریال</th> -->
                                    				<th>قیمت کل (ریال)</th>
                                    			</tr>
                                    		</thead>
                                    		<tbody class="order-table">
                                    			<?php foreach ($order['detail'] as $key => $detail){ //var_dump($detail);die;?>
                                    			<tr>
                                				    <td><?php echo $key + 1; ?></td>
                                					<td><?php echo $detail['title']; ?></td>
<!--                                 					<td>پاپکو</td> -->
<!--                                     				<td>3</td> -->
<!--                                     				<td>بسته</td> -->
<!--                                     				<td>270,000</td> -->
                                    				<td><?php echo $detail['price']; ?></td>
                                    			</tr>
                                    			<?php } ?>
                                    		</tbody>
                                    	</table>
                                    	 <br/>
                                    	<div class="row">
                                    		
                                            <div class="col-md-6">
                                                تخفیف: <span><?php echo $order['discount']?></span>
                                                هزینه پیک: <span><?php echo $order['delivery_price']?></span>
                                            </div>
                                            <div class="col-md-6 text-left">
                                                مجموع قیمت: <span style="color:#F44336"><?php echo $order['total_price']?></span><span>ریال</span>
                                            </div>
                                        </div>
                                	</div>
                              </div>
                              <div class="modal-footer pull-left">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <?php } ?>
                        
                        <?php foreach ($this->listOfficeOrders as $key => $order){ ?>
                        <!-- Modal -->
                        <div class="orderStatus modal fade" id="<?php echo 'status-' . $order['id']; ?>"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header" style="display:block">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h6 class="modal-title" id="exampleModalLabel">مشاهده جزئیات سفارش</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                              </div>
                              <div class="modal-body" id="orderStatus">
                              	<div class="col-lg-12">
                              		<div class="message alert-success" style="padding: 10px;display:none;"></div>
                          		</div>
                          		<div class="col-lg-12">
                                  	<form action="/change-status" method="POST">
                                  	    <input name="order_id" type="hidden" value="<?php echo $order['id']; ?>">
                                  		<div class="col-lg-12">
                                  			<div class="form-group">
                                  				<label class="control-label">وضعیت</label>
                                          		<select class="form-control" name="order_status">
                                          			<option value="aa">انتخاب کنید</option>
                                          			<option value="checking">در حال انجام</option>
                                          			<option value="sent">ارسال شده</option>
                                          		</select>
                                      		</div>
                                  		</div>
                                  		<div class="col-lg-12">
                                  		    <div class="form-group">
                                      			<label class="control-label">توضیحات وضعیت سفارش</label>
                                      			<textarea name="status-desc" class="form-control"></textarea>
                                  			</div>
                                  		</div>
                                  		<div class="col-lg-12 text-left">
                                  		    <div class="form-group">
                                      			<input type="submit" value="تغییر وضعیت" class="btn btn-submit btn-success">
                                  			</div>
                                  		</div>
                                  	</form>    
                              	</div> 
                              </div>
                              <div class="modal-footer text-left">
                              	<button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <?php } ?>
                        
                        </div>
                    </div>
                    <br/><br/><br/>
                    <?php } ?>
        	       <!-- my products -->
        	     <?php if($this->layout()->userData->user_group_id != 3 && $this->layout()->userData->user_group_id != 9 ){?>
        	       <div class="row">
                    <div class="col-md-12">
                        <h1 class="sl-title"><strong><i class="fas fa-shopping-cart"></i> کالاهای ثبت شده من</strong></h1>
                        <br/>
                         <div id="no-more-tables">
                            <table class="table-bordered table-striped table-hover cf" id="tablesearch">
                        		<thead class="cf">
                        			<tr>
                        				<th>ردیف</th>
                        				<th>نام کالا</th>
                        				<th>(ریال(قیمت  </th>
                        				<th>واحد فروش</th>
                        				<th>حداقل سفارش برای تخفیف</th>
                        				<th>موجودی</th>
                        				<th>ویرایش</th>
                        				<th>حذف</th>
                        			</tr>
                        		</thead>
                        		<tbody>
                        			<?php foreach ($this->products as $product){ ?>
                        			<tr>
                        				<td><?php echo $product['id']; ?></td>
                        				<td><?php echo $product['product_name']; ?></td>
                        				<td><?php echo $product['price']; ?></td>
                        				<td><?php echo $product['unit']; ?></td>
                        				<td><?php echo $product['minimum_order']; ?></td>
                        				<td><?php echo $product['count']; ?></td>
                        				<th><a href="/edit-product/<?php echo $product['id']?>"><i class="fas fa-edit"></i></a></th>
                        				<th><a href="/delete-product/<?php echo $product['id']?>"><i class="fas fa-trash-alt"></i></a></th>
                        			</tr>
                        			<?php } ?>
                        		</tbody>
                        	</table>
                        </div>
                        </div>
                    </div>
				   <br/><br/><br/>
        	   		<?php } ?>
				   <?php if($this->layout()->userData->user_group_id == 9 ){?>
        	       <div class="row">
                    <div class="col-md-12">
                        <h1 class="sl-title"><strong><i class="fas fa-shopping-cart"></i> نمونه کارهای ثبت شده من</strong></h1>
                        <br/>
                         <div id="no-more-tables">
                            <table class="table-bordered table-striped table-hover cf" id="tablesearch">
                        		<thead class="cf">
                        			<tr>
                        				<th>ردیف</th>
                        				<th>عنوان طرح</th>
                        				<th>قیمت طرح</th>
                        				<th>فایل طرح</th>
                        				<th>وضعیت</th>
                        				<th>درصد کف بازار</th>
                        				<th>ویرایش</th>
                        				<th>حذف</th>
                        			</tr>
                        		</thead>
                        		<tbody>
                        			<?php foreach ($this->samples as $sample){  ?>
                        			<tr>
                        				<td><?php echo $sample['id']; ?></td>
                        				<td><?php echo $sample['title']; ?></td>
                        				<td><?php echo $sample['price']; ?></td>
                        				<td><a  data-toggle="modal" data-target="#staticBackdrop<?php echo $sample['id']; ?>">مشاهده</a></td>
                        				<td><?php echo $sample['confirm']; ?></td>
                        				<td><?php echo $sample['admin_percent']; ?></td>
                        				<th><a href="/edit-designer-sample/<?php echo $sample['id']?>"><i class="fas fa-edit"></i></a></th>
                        				<th><a href="/delete-designer-sample/<?php echo $sample['id']?>"><i class="fas fa-trash-alt"></i></a></th>
                        			</tr>
                              <!-- Modal -->
                              <div class="modal fade" id="staticBackdrop<?php echo $sample['id']; ?>" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="staticBackdropLabel">مشاهده تصویر </h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <img src="/uploads/designer/samples/<?php echo $sample['file']; ?>" class="img-responsive" />
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        			<?php } ?>
                        		</tbody>
                        	</table>
                              
                        </div>
                        </div>
                    </div>
        	   		<?php } ?>
        	   </div>
        	</div>
        </div>
    </section>
</div>
<script>
$(document).on('click', '.orderStatus .btn-secondary', function() {
	location.reload(); 
});
$(document).on('click', '.btn-submit', function(e) {
	e.preventDefault();
	$.ajax({
        type:'POST',
        url:'/change-status',
        data:$('form').serializeArray(),
        success:function(data){
            if(data = 1){
				$('#orderStatus .message').html('<p>وضعیت سفارش ثبت گردید.</p>');
				$('#orderStatus .message').css('display','block');
            }
//        	var data = JSON.parse(data);
//          $('.price-delivery span').text(data);
//          $('.delivery_price').val(data);
        }
	});
});
$(function(){
    $('#orderModal').modal({
        keyboard: true,
        backdrop: "static",
        show:false,
        
    }).on('show', function(){
          var getIdFromRow = $(event.target).closest('td').data('id');
        //make your ajax call populate items or what even you need
        $(this).find('#orderDetails').html($('<b> Order Id selected: ' + getIdFromRow  + '</b>'))
    });
});
</script>