<!-- circle -->
	<link href="/css/circle/circle.css" rel="stylesheet" />
 <section id="back-img">
    <div class="" style="background-image: url('../images/develope.jpg');"></div>
</section> 
    
<!--=== Breadcrumb Starts ===-->
	<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link">
									<?php echo __("Home");?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									<?php echo __("Website Design");?>
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
			<div class="box-title">
        		<h2 class="title"><?php echo __('طراحی وب سایت'); ?></h2>
        	</div>
		</div>
	</section>
	
	<!--=== Breadcrumb Ends ===-->
	
	<!--=== sample Starts ===-->
	<section id="" class="download-wrap">
	<div class="container-fluid about-team-img">
	   <?php //echo $this->getPlugin('block/index/index', array('position' => "about page-image")); ?>
	</div>
		<div class="container download">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					<div>
						<section class="prodetail_part1 clearfix">
					    	<img src="/images/service2.png" alt="" class="img-responsive about-img" />
							<div class="row">
								<div class="col-xs-12 col-md-6  col-lg-6 col-rtl">
									<div class="services-design">
										<?php echo $this->getPlugin('block/index/index', array('position' => "about page-about")); ?>
									</div>
									<div>
									   <img src="/images/css.gif" alt="" class="img-responsive about-img" />
									</div>
								</div>
								<div class="col-xs-12 col-md-6  col-lg-6 col-rtl">
									<div class="services-design">
									    <?php echo $this->getPlugin('block/index/index', array('position' => "about page-whysite")); ?>
									</div>
								</div>
							</div>
							<!-- website design step-->
							<div class="box-title">
                        		<h2 class="title"><?php echo __('Order steps of design projects'); ?></h2>
                        	</div>
                             <?php echo $this->getPlugin('link/index/index',array('layout'=>'designsitestep', 'position'=>'designsitestep')); ?>
							<!-- standard -->
							<div class="box-title">
                        		<h2 class="title"><?php echo __('"website design standards of shabdiz'); ?></h2>
                        	</div>
							<div class="row center">
							      <?php echo $this->getPlugin('link/index/index',array('layout'=>'standard', 'position'=>'page about-standard')); ?>
							</div>
						</section>
						<div class="row center ">
							 <a href="/internalsample" class="btn btn-secondary submitLogin"><?php echo __("Show all samples");?></a>
							 <!--  <a href="" class="btn btn-secondary submitLogin"><?php //echo __("Order");?></a>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!--=== sample Ends ===-->
