<link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css">
<link rel="stylesheet" type="text/css" href="/owl-filter/owl.carousel.css">
<style type="text/css" media="screen">
	ul li {
		list-style: none;
    }
	#content{
/* 	padding-bottom:50px;*/
	}
    .breadcrumb {
        padding: 5px !important;
        margin-bottom: 0 !important;
        background-color:transparent !important;
    }
    table tr td, table tr th, thead tr th{
        text-align :center !important
    }
    .btn-success {
        color: #fff !important;
        font-size: 12px;
    }
</style>
<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<!-- <section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <?php  //echo $this->getPlugin('slideshow/index/index', 'signin'); ?>
            </div>
        </div>
    </div>
</section> -->
<div class="header-bg2 text-right">
    <h1> <?php echo __('Designer sample'); ?><?php //echo $title; ?></h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
                <li>
                    <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/designer-samples">
    					<?php echo __('Designers'); ?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<?php //echo $title; ?>
                    <?php echo __('Designer sample'); ?>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
		<!--=== sample Starts ===-->
                <section id="last-products">
                    <div class="container">
                        <div class="row text-right" style="direction:ltr">
                            <div class="col-md-12">
                                <div id="demos">
                                    <div class="btn-filter-wrap">
                                    <button class="btn-filter btn-active" data-filter="*">همه</button>
                                    <?php
                                        $categories = '';
                                        $productHtml = '';
                                        if($this->categories) {
                                            foreach ($this->categories as $data) {
                                                $categories.= '<button class="btn-filter" data-filter=".category-'.$data['id'].'">'.$data['title'].'</button>';
                                                if(isset($this->samples)) { 
                                                    foreach ($this->samples as $sample) {
                                                        $productHtml .= '<div class="item item2 category-'.$data['id'].'">
                                                                                <div class="owl-img">
                                                                                    <img src="/uploads/samples/'.$sample['file'].'" />
                                                                                </div>
                                                                                <div class="product-border"></div>
                                                                                <div class="owl-product-title">'.$sample['title'].'</div>
                                                                        </div>';
                                                    } 
                                                }
                                            }   
                                        }
                                    	echo $categories;
                                    ?>
                                    
                                    </div>
                                    <div class="owl-carousel owl-carousel2">
                                    <?php echo $productHtml; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

<script src="/owl-filter/owl.carousel.min.js"></script>
<script src="/owl-filter/jquery.owl-filter.js"></script>
<script>
	$(function() {
		var owl = $('.owl-carousel').owlCarousel({
		    loop	:true,
		    autoplay:true,
		    autoplayTimeout:1000,
		    autoplayHoverPause:true,
		    margin	:0,
		    navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
		    nav		:true,
		    responsive:{
		        0:{
		            items:1
		        },
		        600:{
		            items:3
		        },
		        1000:{
		            items:4
		        }
		    }
		})
		
		/* animate filter */
		var owlAnimateFilter = function(even) {
			$(this)
			.addClass('__loading')
			.delay(70 * $(this).parent().index())
			.queue(function() {
				$(this).dequeue().removeClass('__loading')
			})
		}

		$('.btn-filter-wrap').on('click', '.btn-filter', function(e) {
			var filter_data = $(this).data('filter');

			/* return if current */
			if($(this).hasClass('btn-active')) return;

			/* active current */
			$(this).addClass('btn-active').siblings().removeClass('btn-active');

			/* Filter */
			owl.owlFilter(filter_data, function(_owl) { 
				$(_owl).find('.item2').each(owlAnimateFilter); 
			});
		})
    })
</script>