<link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css">

<style type="text/css" media="screen">
	ul li {
		list-style: none;
    }
	#content{
/* 	padding-bottom:50px;*/
	}
    .breadcrumb {
        padding: 5px !important;
        margin-bottom: 0 !important;
        background-color:transparent !important;
    }
    table tr td, table tr th, thead tr th{
        text-align :center !important
    }
    .btn-success {
        color: #fff !important;
        font-size: 12px;
    }
</style>
<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <?php  echo $this->getPlugin('slideshow/index/index', 'designer'); ?>
            </div>
        </div>
    </div>
</section>
<div class="header-bg2 text-right">
    <h1> <?php echo __('Designers'); ?><?php //echo $title; ?></h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<?php //echo $title; ?>
                    <?php echo __('Designers'); ?>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
		<!--=== sample Starts ===-->
	<section>
		<div class="container center">
			<div class="row pt-4 mt-4">
				<div class="col-xs-12 col-md-12 col-rtl">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">نام</th>
                        <th scope="col">نام خانوادگی</th>
                        <th scope="col">مشاهده نمونه کارها</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->getDesigner as $key=>$designer){ ?>
                            <tr class="text-center">
                                <th scope="row"><?php echo $key + 1; ?></th>
                                <td><?php echo $designer['designer_firstname']; ?></td>
                                <td><?php echo $designer['designer_lastname']; ?></td>
                                <td><a class="btn btn-success" href="/designer-samples-detailes/<?php echo $designer['user_id']; ?>"> مشاهده نمونه کارها</a></td>
                            </tr>
                        <?php } ?>
                    </tbody>
                    </table>
				</div>
			</div>
		</div>
	</section>
    <script src="/owl-filter/owl.carousel.min.js"></script>
<script>
	$(function() {
		var owl = $('.owl-carousel').owlCarousel({
		    loop	:true,
		    autoplay:true,
		    autoplayTimeout:1000,
		    autoplayHoverPause:true,
		    margin	:0,
		    navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
		    nav		:true,
		    responsive:{
		        0:{
		            items:1
		        },
		        600:{
		            items:3
		        },
		        1000:{
		            items:4
		        }
		    }
		})
		
    })
</script>
