<!-- circle -->
   <link href="/css/circle/circle.css" rel="stylesheet" />
   <style>
        .container.download {
            padding-top: 0px;
            padding-bottom: 50px;
        }
    </style> 
 <section id="back-img">
    <div class="" style="background-image: url('../images/develope.jpg');"></div>
</section>      
<!--=== Breadcrumb Starts ===-->
	<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link">
									خانه
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									برنامه نویسی اختصاصی
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
			<div class="box-title">
        		<h2 class="title"><?php echo __('برنامه نویسی اختصاصی'); ?></h2>
        	</div>
		</div>
	</section>
	
	<!--=== Breadcrumb Ends ===-->
	
	<!--=== sample Starts ===-->
	<section id="" class="download-wrap">
	<div class="container-fluid about-team-img">
	   <?php //echo $this->getPlugin('block/index/index', array('position' => "about page-image")); ?>
	</div>
		<div class="container download">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					<div>
						<section class="prodetail_part1 clearfix">
					    	<img src="/images/service3.png" alt="" class="img-responsive about-img" />
							<div class="row">
								<div class="col-xs-12 col-md-12  col-lg-12 col-rtl">
									<div class="services-design">
										<?php echo $this->getPlugin('block/index/index', array('position' => "develop page-develop")); ?>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			<div class="row center ">
		             <a href="/internalsample" class="btn btn-secondary submitLogin"><?php echo __("Show all samples");?></a>
					<!--  <a href="" class="btn btn-secondary submitLogin"><?php //echo __("Order");?></a>--> 
    		</div>
		</div>
	</section>
	
	<!--=== sample Ends ===-->