<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />

<div class="">
<div class="header-bg" style="background-image:url(../images/3.jpg);">
    <h1>ویرایش نمونه کار</h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/dashboard">
    					داشبورد
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link">
    				ویرایش نمونه کار
    				</a>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
	<section id="content">
        <div class="container text-right form-content">
        	<?php
        	    $designerSampleForm = $this->designerSampleForm;
        	    $designerSampleForm->prepare();
        	    echo $this->form()->openTag($designerSampleForm);
            ?>
            
            <div class="row">
            	<div class="col-md-12">
            	   <div class="row">
            	       <div class="col-md-6">
                    		<div class="form-group" id="tour1">
            					<label class="control-label">عنوان نمونه کار</label>
            			    	<?php echo $this->formElement($designerSampleForm->get('title'));
            			    	echo $this->formElementErrors($designerSampleForm->get("title")); ?>
            				</div>	
            	       </div>
            	       <div class="col-md-6">
                            <div class="form-group" id="tour1">
            					<label class="control-label"><?php echo $this->formLabel($designerSampleForm->get('price')); ?></label>
            			    	<?php echo $this->formElement($designerSampleForm->get('price'));
            			    	echo $this->formElementErrors($designerSampleForm->get("price")); ?>
            				</div>	
            	       </div>
            	   </div>
            	</div>
            	<div class="col-md-12">
            	   <div class="box1">
            	       <div class="form-group">
							<label class="control-label">انتخاب نمونه کار - فقط تصاویر از نوع PNGو JPG</label>
        		           <?php if($this->getSample){ ?>
						   <div id="image-holder1"><img src="/uploads/designer/samples/<?php echo $this->getSample['file']; ?>" style="width:48%"></div>
						   <?php } ?>
            	           <div class="file-upload-cnt sl-margin-top">
                            	<div class="fileUpload btn bg-maroon margin">
                            		<!-- <span style="font-family:'Yekan';font-weight:normal;margin-right:5px;">انتخاب  نمونه کار</span> -->
                            	  <?php echo $this->formElement($designerSampleForm->get('file'));
                            	  echo $this->formElementErrors($designerSampleForm->get("file")); ?>
                            	</div>
        	               </div>	
	                    </div>	
                     </div>
            	</div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
        				<?php 
        				echo $this->formElement($designerSampleForm->get('csrf'));
        				echo $this->formElementErrors($designerSampleForm->get("csrf"));
        				echo $this->formElement($designerSampleForm->get('submit'));
        				?>
                </div>
            </div>
            <?php 	echo $this->form()->closeTag(); ?>    
        </div>
    </section>
</div>
<script>
$('#submit').click(function(e){
    // e.preventDefault();
	 $("#productsForm").validationEngine(); 
     if($("#productsForm").validationEngine('validate')) 
     {
     	$("#productsForm").submit();
     }
});
$("#file").on('change', function () {
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $("#image-holder1");
    image_holder.empty();
    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
            for (var i = 0; i < countFiles; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                            "class": "thumb-image"
                    }).appendTo(image_holder);
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
            }
        } else {
            alert("<?php echo __("This browser does not support FileReader");?>.");
        }
    } 
//     else {
        alert("<?php echo __("Please choose only images");?>");
//     }
});
</script>