<script src="/js/farsiType.js" type="text/javascript"></script>
<script src="/js/jquery.DataSaver.js" type="text/javascript"></script>
<section id="page">
	<div class="sl-direction container">
		<div class="bradcrumb-div">
			<span class="breadcrumb-pages"><?php echo __("Internal pages");?></span>
			<ul class="breadcrumb">

	           <?php echo $this->breadcrumbs;?>

	       </ul>
		</div>
		<section class="main-content product-list">
			<header class="main-content-title">
				<h1>
					<i class="fa fa-cube"></i>
			                 <?php echo __("Executive cooperation");?>
			             </h1>
			</header>
			<article class="main-content-article4">
                            	<?php
                            echo $this->getPlugin('block/index/index', array('position' => "executive-cooperation"));
                            $requestTeachingForm = $this->requestTeachingForm;
                            $requestTeachingForm->prepare();
                            echo $this->form()->openTag($requestTeachingForm);
                            ?>
                <div class="form form-medium">
                    <div class="form-title"> <?php echo  __("Personal Information");?></div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('first_name')); ?></label>
                            	<?php
                                    echo $this->formElement($requestTeachingForm->get('first_name'));
                                    echo $this->formElementErrors($requestTeachingForm->get("first_name"));
                                ?>
                        	</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('last_name')); ?></label>
                            	<?php
                                    echo $this->formElement($requestTeachingForm->get('last_name'));
                                    echo $this->formElementErrors($requestTeachingForm->get("last_name"));
                                ?>
        	               </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('email')); ?></label>
                            	<?php
                                    echo $this->formElement($requestTeachingForm->get('email'));
                                    echo $this->formElementErrors($requestTeachingForm->get("email"));
                                ?>
        	               </div>
    	               </div>
	               </div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('tel')); ?></label>
                            	<?php
                                    echo $this->formElement($requestTeachingForm->get('tel'));
                                    echo $this->formElementErrors($requestTeachingForm->get("tel"));
                                ?>
        	               </div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('mobile')); ?></label>
                            	<?php
                                    echo $this->formElement($requestTeachingForm->get('mobile'));
                                    echo $this->formElementErrors($requestTeachingForm->get("mobile"));
                                ?>
        	               </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('subject')); ?></label>
            	               <?php
                                echo $this->formElement($requestTeachingForm->get('subject'));
                                echo $this->formElementErrors($requestTeachingForm->get("subject"));
                                ?>
        	               </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('provience')); ?></label>
        	                   <?php
                                    echo $this->formElement($requestTeachingForm->get('provience'));
                                    echo $this->formElementErrors($requestTeachingForm->get("provience"));
                                ?>
        	               </div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('city')); ?></label>
            	                <?php
                                    echo $this->formElement($requestTeachingForm->get('city'));
                                    echo $this->formElementErrors($requestTeachingForm->get("city"));
                                ?>
        	               </div>
						</div>
					</div>
					</div>
					<div class="form form-medium">
					   <div class="form-title"> <?php echo  __("Educational information");?></div>
    					<div class="row">
    						<div class="col-md-12">
    							<div class="form-group">
    								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('fieldofStudy')); ?></label>
                                    <?php
                                        echo $this->formElement($requestTeachingForm->get('fieldofStudy'));
                                        echo $this->formElementErrors($requestTeachingForm->get("fieldofStudy"));
                                    ?>
            	               </div>
    						</div>
    					</div>
    					<div class="row">
    						<div class="col-md-12">
    					       <div class="form-group">
    				                <label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('university')); ?></label>
                                    <?php
                                            echo $this->formElement($requestTeachingForm->get('university'));
                                            echo $this->formElementErrors($requestTeachingForm->get("university"));
                                    ?>
            	               </div>
        	               </div>
	                    </div>
					</div>
					<div class="form form-medium">
					    <div class="form-title"> <?php echo  __("Cooperation type");?></div>
    					<div class="row">
    						<div class="col-md-6">
    							<div class="form-group">
    								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('cooperation_status')); ?></label>
                                	<?php
                                        echo $this->formElement($requestTeachingForm->get('cooperation_status'));
                                        echo $this->formElementErrors($requestTeachingForm->get("cooperation_status"));
                                    ?>
                            	</div>
    						</div>
    						<div class="col-md-6">
    						     <label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('cooperation_type')); ?></label>
                            	<?php
                                    echo $this->formElement($requestTeachingForm->get('cooperation_type'));
                                    echo $this->formElementErrors($requestTeachingForm->get("cooperation_type"));
                                ?> 
    						</div>
    					</div>
					</div>
					<div class="form form-medium">
					    <div class="form-title"> <?php echo  __("Job Resume");?></div>
    					<div class="row">
    						<div class="col-md-6">
    							<div class="form-group">
    								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('executive_fields')); ?></label>
                                	<?php
                                        echo $this->formElement($requestTeachingForm->get('executive_fields'));
                                        echo $this->formElementErrors($requestTeachingForm->get("executive_fields"));
                                    ?>
                            	</div>
    						</div>
    						<div class="col-md-6">
    						     <label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('technical_fields')); ?></label>
                            	<?php
                                    echo $this->formElement($requestTeachingForm->get('technical_fields'));
                                    echo $this->formElementErrors($requestTeachingForm->get("technical_fields"));
                                ?> 
    						</div>
    					</div>
					
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('experience')); ?></label>
            	               <?php
                                echo $this->formElement($requestTeachingForm->get('experience'));
                                echo $this->formElementErrors($requestTeachingForm->get("experience"));
                                ?>
        	               </div>
						</div>
	               </div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('research')); ?></label>
        	                   <?php
                                    echo $this->formElement($requestTeachingForm->get('research'));
                                    echo $this->formElementErrors($requestTeachingForm->get("research"));
                                ?>
        	               </div>
						</div>
	               </div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('aboutme')); ?></label>
            	               <?php
                                echo $this->formElement($requestTeachingForm->get('aboutme'));
                                echo $this->formElementErrors($requestTeachingForm->get("aboutme"));
                                ?>
        	               </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('others_desc')); ?></label>
                	               <?php
                                    echo $this->formElement($requestTeachingForm->get('others_desc'));
                                    echo $this->formElementErrors($requestTeachingForm->get("others_desc"));
                                    ?>
        	               </div>
						</div>
					</div>
					<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
				                <label class="control-label"><?php echo $this->formlabel($requestTeachingForm->get('resume_file')); ?></label>
                	            <?php
                                    echo $this->formElement($requestTeachingForm->get('resume_file'));
                                    echo $this->formElementErrors($requestTeachingForm->get("resume_file"));
                                ?>
            	           </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 ">
							<div class="form-group myCaptcha">
								<label class="control-label label-robot"><?php echo $this->formlabel($requestTeachingForm->get('request_teaching_myCaptcha')); ?></label>
								<div>
									<span id="refreshcaptchart" class="fa  fa-refresh"></span>
                            	   <?php echo $this->formCaptcha($requestTeachingForm->get('request_teaching_myCaptcha')); ?> 
                            	</div> 
            	               <?php  	echo $this->formElementErrors($requestTeachingForm->get("request_teaching_myCaptcha")); ?>
        	               </div>
						</div>
					</div>
				    <div class="form-group">
                    <?php
                        echo $this->formElement($requestTeachingForm->get('request_teaching_submit'));
                        echo $this->form()->closeTag();
                    ?>
                    </div>
			     </div>
			</div>
		</article>
		</section>

	</div>
</section>
<script>
	$(document).ready(function(){
		$('.form-control').DataSaver({timeout: 1000, events: "change keyup"});
		$("#requestTeachingForm").validationEngine();
   
		});


$(document).ready(function() {
	//$('div.captcha input[type="text"]').addClass('form-control');
    $('#refreshcaptchart').click(function() {
        $.ajax({ 
            url: '/application-ajax-request-teaching', 
            dataType:'json', 
            success: function(data) { 
                $('#requestTeachingForm img').attr('src', data.src); 
                $('#captcha-idrt-hidden').attr('value', data.id); 
            }
        }); 
    }); 
});

</script>