<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<style>
    #forgotPasswordForm
    {
    	margin: 50px;
    }
    #content {
    	background: #f9f9f9;
    	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%);
    	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    	-webkit-box-shadow: 0 1px 0 #fff inset;
    	-moz-box-shadow: 0 1px 0 #fff inset;
    	-ms-box-shadow: 0 1px 0 #fff inset;
    	-o-box-shadow: 0 1px 0 #fff inset;
    	box-shadow: 0 1px 0 #fff inset;
    	border: 1px solid #c4c6ca;
    	margin: 25px auto;
    	position: relative;
    	text-align: right;
    	text-shadow: 0 1px 0 #fff;
    	width: 50%;
    	z-index: 9999;
    }
    #content h1 {
    color: #7E7E7E;
    	font: bold 25px Helvetica, Arial, sans-serif;
    	letter-spacing: -0.05em;
    	line-height: 20px;
    	margin: 10px 0 30px;
    }
    #content h1:before,
    #content h1:after {
    	content: "";
    	height: 1px;
    	position: absolute;
    	top: 10px;
    	width: 27%;
    }
    #content h1:after {
    	background: rgb(126,126,126);
    	background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
    	background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    	background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    	background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    	background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
        right: 0;
    }
    #content h1:before {
    	background: rgb(126,126,126);
    	background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
    	background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    	background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    	background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    	background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
        left: 0;
    }
    #content:after,
    #content:before {
    	background: #f9f9f9;
    	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%);
    	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    	border: 1px solid #c4c6ca;
    	content: "";
    	display: block;
    	height: 100%;
    	left: -1px;
    	position: absolute;
    	width: 100%;
    }
    #content:after {
    	-webkit-transform: rotate(2deg);
    	-moz-transform: rotate(2deg);
    	-ms-transform: rotate(2deg);
    	-o-transform: rotate(2deg);
    	transform: rotate(2deg);
    	top: 0;
    	z-index: -1;
    }
    #content:before {
    	-webkit-transform: rotate(-3deg);
    	-moz-transform: rotate(-3deg);
    	-ms-transform: rotate(-3deg);
    	-o-transform: rotate(-3deg);
    	transform: rotate(-3deg);
    	top: 0;
    	z-index: -2;
    }
</style>
<section id="back-img">
    <div class="" style="background-image: url('../images/login.jpg');"></div>
</section>
<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link" href="/">
									<?php echo __('Home'); ?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									<?php echo __('Password recovery form'); ?>
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
		<!--=== sample Starts ===-->
	<section id="sample" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					<div class="">
						<section class="prodetail_part1 clearfix cd-horizontal-timeline">
    					<div  id="content">
                              <!--  <h1 style="margin:20px 0px;"><?php //echo __("Login Form"); ?></h1>-->
                                <div class="row">
                                    <div class="col-lg-12">
                                		<?php 
                                			//$this->setHeadTitle(__('Please Enter your Email or Mobile'));
                                			$forgotPasswordForm = $this->forgotPasswordForm;
                                			$forgotPasswordForm->prepare();
                                			echo $this->form()->openTag($forgotPasswordForm);
                                			?>
                                			<div class="form-group">
                                			     <label class="control-label"><?php echo $this->formLabel($forgotPasswordForm->get('email')); ?></label>
                                                 <?php echo $this->formElement($forgotPasswordForm->get('email')); 
                                                 echo $this->formElementErrors($forgotPasswordForm->get("email"));?>
                                            </div>
                                            <div class="form-group">
                                			     <label class="control-label"><?php echo $this->formLabel($forgotPasswordForm->get('mobile')); ?></label>
                                                 <?php echo $this->formElement($forgotPasswordForm->get('mobile')); 
                                                 echo $this->formElementErrors($forgotPasswordForm->get("mobile"));?>
                                            </div>
                                			<?php 
                                			echo $this->formElement($forgotPasswordForm->get('csrf_security')); 
                                			echo $this->formElementErrors($forgotPasswordForm->get("csrf_security"));
                                			echo $this->formElement($forgotPasswordForm->get('submit')); 
                                			echo $this->form()->closeTag();
                                		?>
                                </div>
                            </div>
                            </div>
                        </section>
					</div>
				</div>
			</div>
		</div>
	</section>

  <script src="/js/login/index.js"></script>