<?php use Application\Helper\GeneralHelper;?>
<link rel="stylesheet" type="text/css" href="/owl-filter/owl.carousel.css">
<!-- slider -->
<!-- about -->
<section id="about">
    <div class="container">
        <div class="row text-right">
            <div class="col-md-12">
                <div class="main-title">
            شبکه ارتباط شبدیز :      درخواست واریز
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sample" class="download-wrap mt-4">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					<div class="">
						<section class="prodetail_part1 clearfix cd-horizontal-timeline">
    					<div  id="content">
                              <!--  <h1 style="margin:20px 0px;"><?php //echo __("Login Form"); ?></h1>-->
                                <div class="row">
                                    <div class="col-lg-12">
									<div class="about">
										<?php echo $this->getPlugin('block/index/index', array('position' => "about")); ?>
									</div>
                                    </div>
                                   
                                </div>
                            </div>
                        </section>
					</div>
				</div>
			</div>
		</div>
	</section>
<div id="basketmodal" role="dialog" class="modal fade basket-message">
  <div class="modal-dialog  modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">نمایش نتیجه</h4>
      </div>
      <div class="modal-body">
          <p id="spanModal"> </p>>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="/owl-filter/owl.carousel.min.js"></script>
<script src="/owl-filter/jquery.owl-filter.js"></script>
<script>
	$(function() {
		var owl = $('.owl-carousel').owlCarousel({
		    loop	:true,
		    autoplay:true,
		    autoplayTimeout:1000,
		    autoplayHoverPause:true,
		    margin	:0,
		    navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
		    nav		:true,
		    responsive:{
		        0:{
		            items:1
		        },
		        600:{
		            items:3
		        },
		        1000:{
		            items:4
		        }
		    }
		})
		
		/* animate filter */
		var owlAnimateFilter = function(even) {
			$(this)
			.addClass('__loading')
			.delay(70 * $(this).parent().index())
			.queue(function() {
				$(this).dequeue().removeClass('__loading')
			})
		}

		$('.btn-filter-wrap').on('click', '.btn-filter', function(e) {
			var filter_data = $(this).data('filter');

			/* return if current */
			if($(this).hasClass('btn-active')) return;

			/* active current */
			$(this).addClass('btn-active').siblings().removeClass('btn-active');

			/* Filter */
			owl.owlFilter(filter_data, function(_owl) { 
				$(_owl).find('.item2').each(owlAnimateFilter); 
			});
		})
	})
	
	
	$(document).on('click', '.btn-product-cart', function(e) { 
		e.preventDefault();
    	var count = $('#cart .div-top span');
    	var total = $(".shopping-cart .shopping-cart-total .main-color-text");
    	var totalInput = $(".shopping-cart .shopping-cart-total .cart-total-price");
    	var image = $(this).data('image');
    	var name = $(this).data('name');
    	var price = $(this).data('price');
    	var id = $(this).data('id');
    	$.ajax({
            type:'POST',
            url:'/products',
            data:{'price':price,'id':$(this).data('id'),'name':$(this).data('name'),'image':$(this).data('image')},
            success:function(data){
    			if(data){
    				$(count).text(Number($(count).text()) + 1);
    				$(total).text((Number($(".shopping-cart .shopping-cart-total .cart-total-price").val()) + price).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
    				$(totalInput).val(Number($(".shopping-cart .shopping-cart-total .cart-total-price").val()) + price);
    				if(data == 'new'){ //console.log(data);
    					var item = '<li id="' + id + '" class="clearfix">'+
                        	'<img src="/uploads/products/' + image + '" alt="item1" />'+
                            '<span class="item-name">' + name + '</span>'+
                            '<span class="item-price">' + price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + '  ریال </span>'+
                            '<span class="item-quantity">تعداد: <span>1</span></span>'+
                  	 	 '</li>';
    					 $(".shopping-cart ul").append(item);
    					 
    				}else{
    					var data = JSON.parse(data);
    					$('.shopping-cart-items').find('#' + id + ' .item-quantity span' ).text(data.qty)
    					$('.shopping-cart-items').find('#' + id + ' .item-price span' ).text(data.price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'))
    				}
    				$("#spanModal").html('محصول مورد نظر شما به سبد خرید اضافه شد.'); 
    				$('.basket-message').modal(); 
    			}
    			
            }
    	});	
    });
</script>