 <section id="back-img">
    <div class="" style="background-image: url('../images/sample.jpg');"></div>
</section>
<!--=== Breadcrumb Starts ===-->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li class="active"><?php echo __('Sample'); ?></li>
    </ol>
</div>
<!--=== sample Starts ===-->
<section id="sample" class="download-wrap">
	<div class="container download center">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-rtl">
				<div class="row">
					<section class="prodetail_part1 clearfix cd-horizontal-timeline">
						<div class="center section-title">
        					<h3><?php echo __("Samples");?> </h3>
        				</div>
        				<div >
	                          <?php echo $this->getPlugin('samples/index/index'); ?>
	                    </div>
                    </section>
				</div>
			</div>
		</div>
	</div>
</section>