<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<div class="">
<div class="header-bg text-right">
    <h1>سفارش خدمات</h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				سفارش خدمات
    			</li>
    		</ul>
    	</div>
	</div>
</section>
<section id="service-content">
    <div class="container">
             <div class="row service-items">   
                	<?php 
                	   foreach ($this->servicesType as $child){
                	?>
            		<div class="col-sm-6 col-md-6 col-lg-4">
            		  <div class="service-item">
                		 <a href="/second-category/<?php echo $child['id']?>">
                              <div class="service-item-title">
                               <?php echo $child['title'];?>
                              </div>
                              <div class="service-item-request">
                                <i class="fas fa-chevron-left"></i>
                                سفارش
                              </div>
                          </a>
                       </div>
    				</div>
                	<?php } ?>
            </div>
        </div>
    </section>
</div>
