<!-- circle -->
	<link href="/css/circle/circle.css" rel="stylesheet" />
    
 <section id="back-img">
    <div class="" style="background-image: url('../images/app.jpg');"></div>
</section>   
<!--=== Breadcrumb Starts ===-->
	<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link">
									<?php echo __("Home");?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									<?php echo __("Mobile application design");?>
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
			<div class="box-title">
        		<h2 class="title"><?php echo __('طراحی موبایل'); ?></h2>
        	</div>
		</div>
	</section>
	
	<!--=== Breadcrumb Ends ===-->
	
	<!--=== sample Starts ===-->
	<section id="" class="download-wrap">
	<div class="container-fluid about-team-img">
	   <?php //echo $this->getPlugin('block/index/index', array('position' => "about page-image")); ?>
	</div>
		<div class="container download">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					<div>
						<section class="prodetail_part1 clearfix">
					    	<img src="/images/service4.png" alt="" class="img-responsive about-img" />
							<div class="row">
								<div class="col-xs-12 col-md-12  col-lg-12 col-rtl">
									<div class="services-design">
										<?php echo $this->getPlugin('block/index/index', array('position' => "mobile page-mobile")); ?>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!--=== sample Ends ===-->