<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<style>
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
</style>
<div class="">
<div class="header-bg">
    <h1>لیست قیمت ها</h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/dashboard">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link">
    				داشبورد من
    				</a>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
	<section id="content">
        <div class="container text-center form-content">
            <div class="row">
                	<table id="cart" class="table table-hover table-condensed">
        				<thead>
    						<tr>
    							<th class="text-center">ردیف</th>
    							<th class="text-center"><?php echo __('Print Service Title')?></th>
    							<th class="text-center"><?php echo __('ویژگی')?></th>
    							<th class="text-center"><?php echo __('Price')?></th>
    							<th class="text-center"><?php echo __('Sale Percent')?></th>
    							<th class="text-center"><?php echo __('Time')?></th>
    							<th class="text-center"></th>
    						</tr>
    					</thead>
    					<tbody>
    					<?php foreach ($this->groups as $key => $group){?>
    						<tr>
    							<td><?php echo $key?></td>
    							<td data-th="محصول">
    								<div class="row">
    									<div class="col-sm-10">
    										<h4 class="nomargin"><?php echo $group['print_service'];?></h4>
    									</div>
    								</div>
    							</td>
    							<td data-th=""> <?php echo $group['val'];?></td>
    							<td data-th="">
    								<?php echo number_format($group['price']);?>
    							</td>
    							<td data-th="">
    								<?php echo number_format($group['sale_percent']);?>
    							</td>
    							<td data-th="" class="text-center"> <?php echo $group['time'];?></td>
    							<td class="actions" data-th="">
    								<a class="btn btn-danger btn-sm" href="/delete-price/<?php echo $group['id'];?>"><i class="fas fa-trash-alt"></i></a>							
    							</td>
    						</tr>
    						<?php } ?>
    					</tbody>
    				</table>
             </div>  
        </div>
    </section>
</div>
<script>
$(function() {

	  "use strict"
	  
	  var init = "No items yet!";
	  var counter = 0;

	  // Initial Cart
	  $(".counter").html(init);
	  
	  // Add Items To Basket
	  function addToBasket() {
	    counter++;
	    $(".counter").html(counter).animate({
	      'opacity' : '0'
	    },300, function() {
	      $(".counter").delay(300).animate({
	        'opacity' : '1'
	      })
	    })
	  }

	  // Add To Basket Animation
	  $("button").on("click", function() {
	    addToBasket(); $(this).parent().parent().find(".product_overlay").css({
	      'transform': ' translateY(0px)',
	      'opacity': '1',
	      'transition': 'all ease-in-out .45s'
	    }).delay(1500).queue(function() {
	      $(this).css({
	        'transform': 'translateY(-500px)',
	        'opacity': '0',
	        'transition': 'all ease-in-out .45s'
	      }).dequeue();
	    });
	  });
	});
</script>