<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<style>
#cssmenu > ul > li > a {
    color: #f3e8e8 !important;
    text-shadow: 1px 1px 1px #131010 !important;
}
</style>
<div class="">
<div class="header-bg">
    <h1>ارسال سفارش چاپ</h1>
</div>
<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link" href="/">
									<?php echo __('Home'); ?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									ارسال سفارش چاپ
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section id="content">
        <div class="container text-right form-content">
        	<?php
//         	    $officeForm = $this->officeForm;
//         	    $officeForm->prepare();
//         	    echo $this->form()->openTag($officeForm);
// 			?>
			
			 <?php 
            //echo $this->formElement($officeForm->get('service_id')); 
			 
// 			 echo $this->form()->closeTag();?>
			
			<form action="" name="officeForm" method="post">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                          <div class="form-group">
                        		<label for="exampleFormControlFile1">انتخاب فایل</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                          <fieldset>
                            <legend>
                                شرایط ارسال فایل
                            </legend>
                            فایل های خود را در یکی از قالب های زیر برای چاپ ارسال نمائید:<br/>
                            - مایکروسافت آفیس 2007
                           <br/>
                            - مایکروسافت آفیس  2010
                           <br/>
                            - مایکروسافت آفیس 2013
                            <br/>
                            - اوپن آفیس اپل
                           <br/>
                            -  پی دی اف
                           <br/>
                            - عکس با فرمت JPEG<br/>
                            - عکس با فرمت PSD<br/>
                            -  عکس با فرمت CDW<br/>
                          </fieldset>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">انتخاب دفتر فنی</label>
                            	<select class="form-control">
                                  <option>نصر</option>
                                  <option>فدک</option>
                                  <option>راهیل</option>
                                  <option>مبین</option>
                                </select>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">انتخاب نوع چاپ</label>
                            	<select class="form-control">
                                  <option>تک رنگ</option>
                                  <option>رنگی  لیزری</option>
                                  <option>رنگی جوهرافشان</option>
                                  <option>...</option>
                                </select>
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                          <div class="form-group">
                                <br/><br/>
                        		<label class="control-label">مبلغ</label>
                        		<label class="control-label">2,000,000 ریال</label>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                      <div class="col-xs-12 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">انتخاب نوع صحافی</label>
                            	<select class="form-control">
                                  <option>بدون صحافی</option>
                                  <option>تلق و شیرازه</option>
                                  <option>سیمی</option>
                                  <option>...</option>
                                </select>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                          <label class="control-label">توضیحات</label>
                          <div class="form-group">
                            	<textarea name="description" class="form-control" rows="3" name="description"></textarea>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                         <div class="bx--form-item">
                         <div class="row">
                            <div class="col-md-6">
                                 نحوه تحویل
                                <div class="bx--radio-button-group">
                                  <input id="radio-button-1" class="bx--radio-button" type="radio" value="red" name="radio-button" tabindex="0" checked>
                                  <label for="radio-button-1" class="bx--radio-button__label">
                                    <span class="bx--radio-button__appearance"></span>
                                    پیک
                                  </label>
                                  <input id="radio-button-2" class="bx--radio-button" type="radio" value="green" name="radio-button" tabindex="0">
                                  <label for="radio-button-2" class="bx--radio-button__label">
                                    <span class="bx--radio-button__appearance"></span>
                                    پیک ویژه
                                  </label>
                                  <input id="radio-button-3" class="bx--radio-button" type="radio" value="blue" name="radio-button" tabindex="0">
                                  <label for="radio-button-3" class="bx--radio-button__label">
                                    <span class="bx--radio-button__appearance"></span>
                                    حضوری
                                  </label>
                                </div>
                                </div>
                                <div class="col-md-6">
                                     <span id="form_process">
                                        <br/><label>مبلغ :</label><label>200,000</label><label>ریال</label>
                                     </span>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-push-6 col-md-6 ">
                        <label>مبلغ کل سفارش : </label>
                        <label>200,000</label><label>ریال</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-left">
                        <input type="submit" class="btn btn-primary" value="ثبت اطلاعات" >
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<script>
    var form= $('#form_process');
    $("#radio-button-1").click(function(){
        form.html(null);
        form.append('<br/><label>مبلغ :</label><label>200,000</label><label>ریال</label>')
    })
    
    $("#radio-button-2").click(function(){
        form.html(null);
        form.append('<br/><label>مبلغ :</label><label>300,000</label><label>ریال</label>')
    })
    $("#radio-button-3").click(function(){
        form.html(null);
        form.append('<br/><label>مبلغ :</label><label>400,000</label><label>ریال</label>')
    })
</script>