<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<style>
#cssmenu > ul > li > a {
    color: #f3e8e8 !important;
    text-shadow: 1px 1px 1px #131010 !important;
}
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
</style>
<div class="">
<div class="header-bg">
    <h1>ادامه خرید</h1>
</div>
<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link" href="/">
									<?php echo __('Home'); ?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									ادامه خرید
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section id="content">
        <div class="container text-center form-content">
            <div class="row">
                	<table id="cart" class="table table-hover table-condensed">
        				<thead>
    						<tr>
    							<th style="width:50%">نام محصول</th>
    							<th style="width:10%">قیمت</th>
    							<th style="width:8%">تعداد</th>
    							<th style="width:22%" class="text-center">مجموع قیمت</th>
    							<th style="width:10%"></th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr>
    							<td data-th="محصول">
    								<div class="row">
    									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-thumbnail"/></div>
    									<div class="col-sm-10">
    										<h4 class="nomargin">کاغذ A4</h4>
    										<p>  توضیحات کاغذ A4 </p>
    									</div>
    								</div>
    							</td>
    							<td data-th="قیمت">280,000 <span>ریال</span></td>
    							<td data-th="تعداد">
    								<input type="number" class="form-control text-center" value="1">
    							</td>
    							<td data-th="مجموع قیمت" class="text-center">280,000 <span>ریال</span></td>
    							<td class="actions" data-th="">
    								<button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>								
    							</td>
    						</tr>
    						<tr>
    							<td data-th="محصول">
    								<div class="row">
    									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-thumbnail"/></div>
    									<div class="col-sm-10">
    										<h4 class="nomargin">کاغذ A4</h4>
    										<p>  توضیحات کاغذ A4 </p>
    									</div>
    								</div>
    							</td>
    							<td data-th="قیمت">280,000 <span>ریال</span></td>
    							<td data-th="تعداد">
    								<input type="number" class="form-control text-center" value="1">
    							</td>
    							<td data-th="مجموع قیمت" class="text-center">280,000 <span>ریال</span></td>
    							<td class="actions" data-th="">
    								<button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>								
    							</td>
    						</tr>
    						<tr>
    							<td data-th="محصول">
    								<div class="row">
    									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-thumbnail"/></div>
    									<div class="col-sm-10">
    										<h4 class="nomargin">کاغذ A4</h4>
    										<p>  توضیحات کاغذ A4 </p>
    									</div>
    								</div>
    							</td>
    							<td data-th="قیمت">280,000 <span>ریال</span></td>
    							<td data-th="تعداد">
    								<input type="number" class="form-control text-center" value="1">
    							</td>
    							<td data-th="مجموع قیمت" class="text-center">280,000 <span>ریال</span></td>
    							<td class="actions" data-th="">
    								<button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>								
    							</td>
    						</tr>
    					</tbody>
    					<tfoot>
    						<tr >
    							<td colspan="2"></td>
    							<td class="text-center" colspan="4"><div class="table-factor"><strong>تعداد:</strong>12</div></td>
    						</tr>
    						<tr class="">
    						    <td colspan="2"></td>
    							<td class="text-center" colspan="4"><div class="table-factor"><strong>قیمت کل:</strong>1,500,000 <span>ریال</span></div></td>
    						</tr>
    						<tr>
    							<td class="text-right"><a href="#" class="btn btn-warning">مرحله قبلی <i class="fa fa-angle-right"></td>
    							<td class="hidden-xs text-center"><strong></strong></td>
    							<td colspan="3"><a href="#" class="btn btn-success btn-block"><i class="fa fa-angle-left"></i> ادامه خرید</a></i></a></td>
    						</tr>
    					</tfoot>
    				</table>
             </div>  
        </div>
    </section>
</div>
<script>
$(function() {

	  "use strict"
	  
	  var init = "No items yet!";
	  var counter = 0;

	  // Initial Cart
	  $(".counter").html(init);
	  
	  // Add Items To Basket
	  function addToBasket() {
	    counter++;
	    $(".counter").html(counter).animate({
	      'opacity' : '0'
	    },300, function() {
	      $(".counter").delay(300).animate({
	        'opacity' : '1'
	      })
	    })
	  }

	  // Add To Basket Animation
	  $("button").on("click", function() {
	    addToBasket(); $(this).parent().parent().find(".product_overlay").css({
	      'transform': ' translateY(0px)',
	      'opacity': '1',
	      'transition': 'all ease-in-out .45s'
	    }).delay(1500).queue(function() {
	      $(this).css({
	        'transform': 'translateY(-500px)',
	        'opacity': '0',
	        'transition': 'all ease-in-out .45s'
	      }).dequeue();
	    });
	  });
	});
</script>