<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<div class="">
<div class="header-bg">
    <h1>خرید محصول</h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link">
    				خرید محصول
    				</a>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
	<section id="service-content">
        <div class="container text-right form-content">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="sl-title"><strong><i class="fa fa-list-ul"></i> گروه ها</strong></h1>
                    <br/>
                    <div class="products-category">
                        <ul class="list-unstyled">
                            <?php foreach ($this->categories as $category){?>
                            <li>
                                <div class="checkbox">
                                  <label><input class="categoryCheck" type="checkbox" checked value="<?php echo $category['id']?>"><?php echo $category['title']?></label>
                                </div>
                            </li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="sorter">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                                <ul class="list-inline">
                    				<li class="sep"><input id="productName" name="productName" value="">
                    				<input type="button" class="btn-info btn-search " id="productSearchBtn" value="جستجو">
                    				</li>
                    				<li>
                    			</ul>
                			</div>
                        <div class="col-xs-6 col-sm-6 col-md-6 text-left">
                                <ul class="list-inline">
                                    <li>
                    				<select class="elemen" id="filter">
                    						<option value="1">جدیدترین</option>  
                    						<option value="0">قدیمترین</option>
                        					<option value="2">ارزانترین</option>
                        					<option value="3">گرانترین</option>
                    				</select>
                    				</li>
                    			</ul>
                			</div>
                        </div>
                    </div>
                	<form id="attribuesForm" name="attribuesForm" method="post" enctype="multipart/form-data">
                        <div class="products" id="myUL">
                        	<div class="row">
                        	
                        	
                        	</div>  
                        </div>
                	</form>
                </div>
            </div>
        </div>
<!--         <div class="excontainer"> -->
<!--             <button id="loadbasic">basic load</button> -->
            <div id="result"></div>
<!--         </div> -->
    </section>
</div>
<div id="basketmodal" role="dialog" class="modal fade basket-message">
  <div class="modal-dialog  modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">نمایش نتیجه</h4>
      </div>
      <div class="modal-body">
        <p id="spanModal"> </tr></td>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button> 
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
<!-- - MODAL END --> 
<script>
// function myFunction() { 
$(document).on('click','#productSearchBtn',function(){
	$('.products .row').empty();
	var input = $('#productName').val();
	$.ajax({
        type:'POST',
        url:'/search-products',
        data:{'name':input},
        success:function(data){
	       	var data = JSON.parse(data);
	    	$.each(data, function(key, value) { //console.log(value.discount_price);
	    		if(value.discount_price){
		    		var html = '<div class="col-sm-6 col-md-6 col-lg-4 p-0 mobile-padding"' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href="/products-detailes/' + value.id + '"><div class="specialoffer-icon"></div><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div class="product-border"></div><div id="product-name">' + value.product_name + '</div><div class="product-price"><div class="prod-old">&nbsp;&nbsp;۱,۷۵۰,۰۰۰&nbsp;&nbsp;</div>' + value.price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" data-image="' + value.image + '" data-price="' + value.price + '" data-name="' + value.product_name + '">افزودن به سبد </a><a href="/products-detailes/'+ value.id +'" class="btn-product-detail"> مشاهده جزئیات</a></div></div>'
		    	}else{
		    		var html = '<div class="col-sm-6 col-md-6 col-lg-4 p-0 mobile-padding"' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href="/products-detailes/' + value.id + '"><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div class="product-border"></div><div id="product-name">' + value.product_name + '</div><div class="product-price"><div class="prod-old">&nbsp;&nbsp;۱,۷۵۰,۰۰۰&nbsp;&nbsp;</div>' + value.price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" data-image="' + value.image + '" data-price="' + value.price + '" data-name="' + value.product_name + '">افزودن به سبد</a><a href="/products-detailes/'+ value.id +'" class="btn-product-detail"> مشاهده جزئیات</a></div></div>'
		    	}
	    		
// 	        	var html = '<div class="col-sm-6 col-md-4 ' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href=""><div class="specialoffer-icon"></div><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div id="product-name">' + value.product_name + '</div><div class="product-price">' + value.price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" ><i class="fas fa-cart-plus"></i>افزودن به سبد خرید</a></div></div></div>'
	    		$('.products .row').append(html);
	        });
        }
	});
});

$(document).on('change','#filter',function(){
	$('.products .row').empty();
	var input = $('#filter').val();
	var chkbox = $('.categoryCheck:checked');
// 	console.log(chkbox);
	var id = [];
	$.each(chkbox, function(key, value) {
		id.push(value.value);
			
// 		console.log(value.value);
	});
	$.ajax({
        type:'POST',
        url:'/search-filter-products',
        data:{'filter': input,'category' : id},
        success:function(data){
	       	var data = JSON.parse(data);
	    	$.each(data, function(key, value) { //alert(value);
	    		if(value.discount_price != value.price){
		    		var html = '<div class="col-sm-6 col-md-6 col-lg-4 p-0 mobile-padding"' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href="/products-detailes/' + value.id + '"><div class="specialoffer-icon"></div><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div id="product-name">' + value.product_name + '</div><div class="product-price"><div class="prod-old">&nbsp;&nbsp;' + value.price + '&nbsp;&nbsp;</div>' + value.discount_price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" data-image="' + value.image + '" data-price="' + value.price + '" data-name="' + value.product_name + '">افزودن به سبد </a><a href="/products-detailes/'+ value.id +'" class="btn-product-detail"> مشاهده جزئیات</a></div></div>'
		    	}else{
		    		var html = '<div class="col-sm-6 col-md-6 col-lg-4 p-0 mobile-padding"' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href="/products-detailes/' + value.id + '"><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div id="product-name">' + value.product_name + '</div><div class="product-price">' + value.price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" data-image="' + value.image + '" data-price="' + value.price + '" data-name="' + value.product_name + '">افزودن به سبد </a><a href="/products-detailes/'+ value.id +'" class="btn-product-detail"> مشاهده جزئیات</a></div></div>'
		    	}
// 	    		var html = '<div class="col-sm-6 col-md-4 ' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href=""><div class="specialoffer-icon"></div><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div id="product-name">' + value.product_name + '</div><div class="product-price"><div class="prod-old">&nbsp;&nbsp;۱,۷۵۰,۰۰۰&nbsp;&nbsp;</div>' + value.price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" data-image="' + value.image + '" data-price="' + value.price + '" data-name="' + value.product_name + '"><i class="fas fa-cart-plus"></i>افزودن به سبد خرید</a></div></div>'
// 	        	var html = '<div class="col-sm-6 col-md-4 ' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href=""><div class="specialoffer-icon"></div><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div id="product-name">' + value.product_name + '</div><div class="product-price">' + value.price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" ><i class="fas fa-cart-plus"></i>افزودن به سبد خرید</a></div></div></div>'
	    		$('.products .row').append(html);
	        });
    		
        }
	});
});
//     var input, filter, ul, li, a, i;
//     input = document.getElementById("productName");
//     filter = input.value.toUpperCase();
//     ul = document.getElementById("myUL");
// //     li = document.getElementById("product-name");
   
// //     for (i = 0; i < li.length; i++) {
// //         a = li[i].getElementsByTagName("a")[0];
// //         if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
// //             li[i].style.display = "";
// //         } else {
// //             li[i].style.display = "none";

// //         }
// //     }
//}
// $(document).on('onkeyup','#productName',function(){

// alert('a');
	
// });
$(document).ready(function(){
	var chkbox = $('.categoryCheck');
// 	console.log(chkbox);
	var id = [];
	$.each(chkbox, function(key, value) {
		id.push(value.value);
			
// 		console.log(value.value);
	});
	$.ajax({
        type:'POST',
        url:'/get-products',
        data:{'category':id},
        success:function(data){
	       	var data = JSON.parse(data);
	    	$.each(data, function(key, value) {
	    		if(value.discount_price){
		    		var html = '<div class="col-sm-6 col-md-6 col-lg-4 p-0 mobile-padding"' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href="/products-detailes/' + value.id + '"><div class="specialoffer-icon"></div><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div id="product-name">' + value.product_name + '</div><div class="product-price"><div class="prod-old">&nbsp;&nbsp;' + value.price + '&nbsp;&nbsp;</div>' + value.discount_price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" data-image="' + value.image + '" data-price="' + value.discount_price + '" data-name="' + value.product_name + '">افزودن به سبد </a><a href="/products-detailes/'+ value.id +'" class="btn-product-detail"> مشاهده جزئیات</a></div></div>'
		    	}else{
		    		var html = '<div class="col-sm-6 col-md-6 col-lg-4 p-0 mobile-padding"' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href="/products-detailes/' + value.id + '"><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div id="product-name">' + value.product_name + '</div><div class="product-price">' + value.price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" data-image="' + value.image + '" data-price="' + value.price + '" data-name="' + value.product_name + '">افزودن به سبد </a><a href="/products-detailes/'+ value.id +'" class="btn-product-detail"> مشاهده جزئیات</a></div></div>'
		    	}
// 	    		var html = '<div class="col-sm-6 col-md-4 ' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href=""><div class="specialoffer-icon"></div><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div id="product-name">' + value.product_name + '</div><div class="product-price"><div class="prod-old">&nbsp;&nbsp;۱,۷۵۰,۰۰۰&nbsp;&nbsp;</div>' + value.price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" data-image="' + value.image + '" data-price="' + value.price + '" data-name="' + value.product_name + '"><i class="fas fa-cart-plus"></i>افزودن به سبد خرید</a></div></div>'
// 	        	var html = '<div class="col-sm-6 col-md-4 ' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href=""><div class="specialoffer-icon"></div><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div id="product-name">' + value.product_name + '</div><div class="product-price">' + value.price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" ><i class="fas fa-cart-plus"></i>افزودن به سبد خرید</a></div></div></div>'
	    		$('.products .row').append(html);
	        });
    		
        }
	});
	console.log(id);
});
$(document).on('change', '.categoryCheck', function(){ //alert('bbbb'); 
// 	var id = [];
	if(this.checked){ 
		$.ajax({
	        type:'POST',
	        url:'/get-products',
	        data:{'category':[$(this).val()]},
	        success:function(data){
    	       	var data = JSON.parse(data);
    	    	$.each(data, function(key, value) { //alert(value);
//     	        	var html = '<div class="col-sm-6 col-md-4 ' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href=""><div class="specialoffer-icon"></div><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div id="product-name">' + value.product_name + '</div><div class="product-price"><div class="prod-old">&nbsp;&nbsp;۱,۷۵۰,۰۰۰&nbsp;&nbsp;</div>' + value.price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" data-image="' + value.image + '" data-price="' + value.price + '" data-name="' + value.name + '"><i class="fas fa-cart-plus"></i>افزودن به سبد خرید</a></div>'
    	    		if(value.discount_price){
    		    		var html = '<div class="col-sm-6 col-md-6 col-lg-4 p-0 mobile-padding"' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href="/products-detailes/' + value.id + '"><div class="specialoffer-icon"></div><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div id="product-name">' + value.product_name + '</div><div class="product-price"><div class="prod-old">&nbsp;&nbsp;' + value.price + '&nbsp;&nbsp;</div>' + value.discount_price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" data-image="' + value.image + '" data-price="' + value.price + '" data-name="' + value.product_name + '"><i class="fas fa-cart-plus"></i>افزودن به سبد خرید</a><a href="/products-detailes/'+ value.id +'" class="btn-product-detail"> مشاهده جزئیات</a></div></div>'
    		    	}else{
    		    		var html = '<div class="col-sm-6 col-md-6 col-lg-4 p-0 mobile-padding"' + value.category_id + '" id="'+ value.category_id +'"><div class="main-product"><a href="/products-detailes/' + value.id + '"><img src="/uploads/products/' + value.image + '" class="img-responsive"/><div id="product-name">' + value.product_name + '</div><div class="product-price">' + value.price  + '<span>تومان</span></div></a><div class="addtobasket"><a href="#' + value.id + '" class="cd-add-to-cart" data-id="' + value.id + '" data-image="' + value.image + '" data-price="' + value.price + '" data-name="' + value.product_name + '"><i class="fas fa-cart-plus"></i>افزودن به سبد خرید</a><a href="/products-detailes/'+ value.id +'" class="btn-product-detail"> مشاهده جزئیات</a></div></div>'
    		    	}
    	    		$('.products .row').append(html);
    	        });
	    		
	        }
		});	
	}else{
		$('.products').find('.' + $(this).val()).remove();
	}
});

$(document).on('click', '.cd-add-to-cart', function(e) { 
	e.preventDefault();
	var count = $('#cart .div-top span');
	var total = $(".shopping-cart .shopping-cart-total .main-color-text");
	var totalInput = $(".shopping-cart .shopping-cart-total .cart-total-price");
	var image = $(this).data('image');
	var name = $(this).data('name');
	var price = $(this).data('price');
	var id = $(this).data('id');
	$.ajax({
        type:'POST',
        url:'/products',
        data:{'price':price,'id':$(this).data('id'),'name':$(this).data('name'),'image':$(this).data('image')},
        success:function(data){
			if(data){
				$(count).text(Number($(count).text()) + 1);
				$(total).text((Number($(".shopping-cart .shopping-cart-total .cart-total-price").val()) + price).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
				$(totalInput).val(Number($(".shopping-cart .shopping-cart-total .cart-total-price").val()) + price);
				if(data == 'new'){ //console.log(data);
					var item = '<li id="' + id + '" class="clearfix">'+
                    	'<img src="/uploads/products/' + image + '" alt="item1" />'+
                        '<span class="item-name">' + name + '</span>'+
                        '<span class="item-price">' + price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + '  ریال </span>'+
                        '<span class="item-quantity">تعداد: <span>1</span></span>'+
              	 	 '</li>';
					 $(".shopping-cart ul").append(item);
					 
				}else{
					var data = JSON.parse(data);
					$('.shopping-cart-items').find('#' + id + ' .item-quantity span' ).text(data.qty)
					$('.shopping-cart-items').find('#' + id + ' .item-price span' ).text(data.price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'))
				}
				$("#spanModal").html('محصول مورد نظر شما به سبد خرید اضافه شد.'); 
				$('.basket-message').modal(); 
			}
			
        }
	});	
});

$(function() {
	  "use strict"
	  
	  var init = "No items yet!";
	  var counter = 0;

	  // Initial Cart
	  $(".counter").html(init);
	  
	  // Add Items To Basket
	  function addToBasket() {
	    counter++;
	    $(".counter").html(counter).animate({
	      'opacity' : '0'
	    },300, function() {
	      $(".counter").delay(300).animate({
	        'opacity' : '1'
	      })
	    })
	  }

	  // Add To Basket Animation
	  $("button").on("click", function() {
	    addToBasket(); $(this).parent().parent().find(".product_overlay").css({
	      'transform': ' translateY(0px)',
	      'opacity': '1',
	      'transition': 'all ease-in-out .45s'
	    }).delay(1500).queue(function() {
	      $(this).css({
	        'transform': 'translateY(-500px)',
	        'opacity': '0',
	        'transition': 'all ease-in-out .45s'
	      }).dequeue();
	    });
	  });
	});
</script>