<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<style>
.thumbnail {
    position:relative;
    overflow:hidden;
}
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.tab-content {
    min-height: 100px !important;
}
.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; 
    }
}
.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
 }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; 
  width: 60px !important;
  height: 60px;
  object-fit: cover;
}
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; 
}
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}
.tab-content {
  overflow: hidden; 
}
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; 
}
.card {
  margin-top: 50px;
  background: #fff;
  padding: 3em;
  line-height: 1.5em; 
}

@media screen and (min-width: 997px) {
  /* .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    }  */
}
.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
    text-align: right;
}
.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; 
}
.checked, .price span {
  color: #f44336; 
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; 
}
.product-title {
  margin-top: 0; 
}

.size {
  margin-right: 10px; 
}
.size:first-of-type {
    margin-left: 40px; 
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; 
}
.color:first-of-type {
    margin-left: 20px; 
}

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; 
}
.add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; 
}

.not-available {
  text-align: center;
  line-height: 2em; 
}
.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; 
}

.tooltip-inner {
  padding: 1.3em; 
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); 
}
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); 
    } 
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); 
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); 
    } 
}
<!-- tab content -->
.card main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
  min-height: 800px;
}

#tabcontent section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
  float:right;
  width: 100%;
}

#tabcontent input {
  display: none;
}

#tabcontent label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  float:right;
}

#tabcontent label:hover {
  color: #888;
  cursor: pointer;
}

#tabcontent input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #f44336;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

#tabcontent #tab1:checked ~ #content1,
#tabcontent #tab2:checked ~ #content2,
#tabcontent #tab3:checked ~ #content3,
#tabcontent #tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  #tabcontent label {
    font-size: 0;
  }

  #tabcontent label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  #tabcontent label {
    padding: 15px;
  }
}
.table-properties{
    width:100%;
}
.table-properties tr th{
    padding:10px;
	text-align:center;
}
.table-properties tr td{
    padding:10px;
}
</style>
<div class="">
<div class="header-bg">
    <h1>مشاهده جزئیات محصول</h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li>
    			    <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/products">
    					خرید محصول
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<?php echo $product->product_name; ?>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
	<section id="content">
	   <div class="container">
		<div class="card">
			<div class="">
				<div class="wrapper row">
					<div class="preview col-md-5">
						<div class="preview-pic tab-content">
						  <div class="tab-pane img-thumbnail active" id="pic-1"><img src="/uploads/products/<?php echo $product->image; ?>" /></div>
<!-- 						  <div class="tab-pane img-thumbnail" id="pic-2"><img src="/images/2.jpg" /></div> -->
<!-- 						  <div class="tab-pane img-thumbnail" id="pic-3"><img src="/images/3.jpg" /></div> -->
<!-- 						  <div class="tab-pane img-thumbnail" id="pic-4"><img src="/images/4.jpg" /></div> -->
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
<!-- 						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="/images/A4-paper.jpg" /></a></li> -->
<!-- 						  <li><a data-target="#pic-2" data-toggle="tab"><img src="/images/2.jpg" /></a></li> -->
<!-- 						  <li><a data-target="#pic-3" data-toggle="tab"><img src="/images/3.jpg" /></a></li> -->
<!-- 						  <li><a data-target="#pic-4" data-toggle="tab"><img src="/images/4.jpg" /></a></li> -->
						</ul>
					</div>
					<div class="details col-md-4 text-right">
						<h3 class="product-title"><?php echo $product->product_name; ?></h3>
						
						<h4 class="price">قیمت محصول <span><?php echo number_format($product->price); ?></span><span>تومان</span></h4>
						 <div class="addtobasket btn-detailes">
                             <a href="#<?php echo $product->id; ?>" class="cd-add-to-cart  request-add" data-price="<?php echo $product->price; ?>" data-id="<?php echo $product->id; ?>" data-image="<?php echo $product->image;?>" data-name="<?php echo $product->product_name; ?>" ><i class="fas fa-cart-plus"></i>افزودن به سبد خرید</a>
                        </div>
					</div>
					<div class="col-md-3">
                            <div class="garranty-main">
                                <div class="garranty">
                                    <i class="fas fa-hand-holding-usd"></i>
                                    <span>
                                        پایین ترین قیمت
                                    </span>
                                </div>
                            </div>
                            <div class="garranty-main">
                                <div class="garranty">
                                    <i class="fas fa-check-square"></i>
                                    <span>
                                       ضمانت خرید
                                    </span>
                                </div>
                            </div>
                            <div class="garranty-main">
                                <div class="garranty">
                                    <i class="fas fa-comments"></i>
                                    <span>
                                       پشتیبانی
                                    </span>
                                </div>
                            </div>
                       </div>
					</div>
					<!-- tab content -->
					<br/><br/>
					<main id="tabcontent" class="text-right">
                      <input id="tab1" type="radio" name="tabs" checked>
                      <label for="tab1"><i class="fas fa-info"></i> توضیحات محصول</label>
                        
<!--                       <input id="tab2" type="radio" name="tabs"> -->
<!--                       <label for="tab2"><i class="fas fa-list-ul"></i> ویژگی های محصول</label> -->
                        
                        
                      <section id="content1">
                        <p class="product-description"><?php echo $product->description; ?></p>
                      </section>
                        
<!--                       <section id="content2"> -->
<!--                             <table class="table-properties table-bordered"> -->
<!-- 				                <tbody> -->
<!-- 				                <tr> -->
<!-- 				                <th>نام کالا</th> -->
<!-- 				                <td>ريل بالايی ديواره جانبی چپ و راست</td> -->
<!-- 				                </tr> -->
<!-- 				                <tr> -->
<!-- 				                <th>شماره فني</th> -->
<!-- 				                <td>93316/7ir100</td> -->
<!-- 				                </tr> -->
<!-- 				                <tr><th>کد کالا</th> -->
<!-- 				                <td>593316</td> -->
<!-- 				                </tr><tr> -->
<!-- 				                <th>وزن کالا</th> -->
<!-- 				                <td>5کیلوگرم</td> -->
<!-- 				                </tr> -->
<!-- 				                </tbody> -->
<!-- 				                </table> -->
<!--                       </section> -->
                    </main>
				</div>
			</div>
		</div>
</section></div>
<div id="basketmodal" role="dialog" class="modal fade basket-message">
  <div class="modal-dialog  modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">نمایش نتیجه</h4>
      </div>
      <div class="modal-body">
        <p id="spanModal"> </tr></td>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button> 
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 	
<script>
$(document).on('click', '.cd-add-to-cart', function() { 
	var count = $('#cart .div-top span');
	var total = $(".shopping-cart .shopping-cart-total .main-color-text");
	var image = $(this).data('image');
	var name = $(this).data('name');
	var price = $(this).data('price');
	var id = $(this).data('id');
	$.ajax({
        type:'POST',
        url:'/products',
        data:{'price':price,'id':$(this).data('id'),'name':$(this).data('name'),'image':$(this).data('image')},
        success:function(data){
			if(data){
				$(count).text(Number($(count).text()) + 1);
				$(total).text(Number($(total).text()) + price);
				if(data == 'new'){ //console.log(data);
					var item = '<li id="' + id + '" class="clearfix">'+
                    	'<img src="/uploads/products/' + image + '" alt="item1" />'+
                        '<span class="item-name">' + name + '</span>'+
                        '<span class="item-price">' + price + '  ریال </span>'+
                        '<span class="item-quantity">تعداد: <span>1</span></span>'+
              	 	 '</li>';
					 $(".shopping-cart ul").append(item);
					 
				}else{
					var data = JSON.parse(data);
					$('.shopping-cart-items').find('#' + id + ' .item-quantity span' ).text(data.qty)
					$('.shopping-cart-items').find('#' + id + ' .item-price span' ).text(data.price)
				}
				$("#spanModal").html('محصول مورد نظر شما به سبد خرید اضافه شد.'); 
				$('.basket-message').modal(); 
			}
			
        }
	});	
});

$(function() {

	  "use strict"
	  
	  var init = "No items yet!";
	  var counter = 0;

	  // Initial Cart
	  $(".counter").html(init);
	  
	  // Add Items To Basket
	  function addToBasket() {
	    counter++;
	    $(".counter").html(counter).animate({
	      'opacity' : '0'
	    },300, function() {
	      $(".counter").delay(300).animate({
	        'opacity' : '1'
	      })
	    })
	  }

	  // Add To Basket Animation
	  $("button").on("click", function() {
	    addToBasket(); $(this).parent().parent().find(".product_overlay").css({
	      'transform': ' translateY(0px)',
	      'opacity': '1',
	      'transition': 'all ease-in-out .45s'
	    }).delay(1500).queue(function() {
	      $(this).css({
	        'transform': 'translateY(-500px)',
	        'opacity': '0',
	        'transition': 'all ease-in-out .45s'
	      }).dequeue();
	    });
	  });
	});
</script>
<script>
$(document).ready(function(){

	$.getScript("/js/main.js");
	
});
$('#openBtn').click(function(){
    $('#myModal').modal({show:true})
});$('#myTab a').click(function (e) {
	 e.preventDefault();
	 $(this).tab('show');
});

$(function () {
$('#myTab a:last').tab('show');
})
$("[data-toggle=tooltip]").tooltip();
$("[data-toggle=popover]").popover();
$(".alert").delay(200).addClass("in").fadeOut(3500);

$(".alert").addClass("in").fadeOut(3500);

$('.typeahead').typeahead({
	source: function (typeahead, query) {
	 /* put your ajax call here..
	 return $.get('/typeahead', { query: query }, function (data) {
	    return typeahead.process(data);
	 });
	 */
	 return ['alpha','beta','bravo','delta','epsilon','gamma','zulu'];
	}
});
    $("[rel='tooltip']").tooltip();    
 
    $('.thumbnail').hover(
        function(){
            $(this).find('.caption').slideDown(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').slideUp(250); //.fadeOut(205)
        }
    ); 
</script>
<script>
// $(document).reload({
// 	$(".cd-cart-container").addClass("")
// });
</script>