<?php 
use Application\Helper\Jdates;
$jdate = new Jdates();
?>
<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<div class="">
<div class="header-bg">
    <h1>فاکتور</h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link">
    				فاکتور نهایی پرداخت
    				</a>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
	<section id="content">
	   <div class="container">
	       <div class="row">
	           <div class="col-md-12 text-center">
	               <h5>فاکتورنهایی پرداخت</h5>
	           </div>
	           <div class="col-md-12">
	               <div class="modal-body order-detailes" id="orderDetails">
                        <div class="row">
                            <div class="col-md-9 text-right">
                              <div class="text-right">
                                    <b>مشخصات فروشنده</b>
                                     <br/>
                                </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            نام فروشنده: <span>کف بازار</span>
                                            <br/>
                                            شماره تماس فروشنده: <span>021444885599</span>
                                            <br/>
                                            کد اقتصادی فروشنده: <span>4455821</span>
                                        </div>
                                        <div class="col-md-7">
                                              آدرس ارسال :  <span>تهران، شیخ بهایی جنوبی، پل آزادگان ، پلاک 13/1</span> 
                                             <br/>
                                             کدپستی :  <span>3133936658</span> 
                                        </div>
                                    </div>
                                <hr/>
                                <div class="text-right">
                                    <b>مشخصات خریدار</b>
                                     <br/>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        نام خریدار: <span><?php echo $this->layout()->userData->username?></span>
                                        <br/>
                                        شماره تماس خریدار: <span><?php echo $this->layout()->userData->mobile?></span>
                                    
                                    </div>
                                    <div class="col-md-7">
                                         آدرس تحویل :  <span><?php echo $this->order['address']?></span> 
                                         <br/>
                                         کدپستی :  <span><?php echo $this->order['postal_code']?></span> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-right">
                                تاریخ سفارش: <span><?php 
                                    $date = strtotime($this->order['created']);
                                    $dateArr = Jdates::gregorian_to_jalali(date('Y',$date), date('m',$date), date('d',$date));
                                    echo $dateArr[0] . '/' .  $dateArr[1] . '/' .  $dateArr[2];
                                ?></span>
                                <br/>
                                شماره سفارش: <span style="color: #F44336;"><?php echo $this->order['id']?></span>
                                <br/>
                                 نوع سفارش: <span>سفارش محصول</span>
                            </div>
                        </div>
                        <br/>
                        <div id="no-more-tables">
                            <table class="table-bordered table-striped cf" id="tablesearch">
                        		<thead class="cf">
                        			<tr>
                        				<th>ردیف</th>
                        				<th>نام محصول </th>
                        				<th>تعداد سفارش</th>
                        				<th>(قیمت واحد (ریال</th>
                        				<th>قیمت کل (ریال)</th>
                        			</tr>
                        		</thead>
                        		<tbody class="order-table">
                        			<?php foreach ($this->orderDetail as $key => $detail){?>
                        			<tr>
                    				    <td><?php echo $detail['id']?></td>
                    					<td><?php echo $detail['product_name']?></td>
                        				<td><?php echo $detail['qty']?></td>
                        				<td><?php echo number_format($detail['price'])?></td>
                        				<td><?php echo number_format($detail['total_price'])?></td>
                        			</tr>
                        			<?php } ?>
                        			
                        		</tbody>
                        	</table>
                        	 <br/>
                        	<div class="row">
                                <div class="col-md-8 text-right">
                                    توضیحات : <span> این فاکتور بر اساس خرید مشتری در هنگام فروش ویژه صادر شده است</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <table class="text-left table-bordered float-left">
<!--                                         <tr> -->
<!--                                             <td class="text-right p-2"> -->
<!--                                                  نحوه تحویل: <span>حضوری</span> -->
<!--                                             </td> -->
<!--                                         </tr> -->
<!--                                         <tr> -->
<!--                                             <td class="text-right p-2"> -->
<!--                                                  تخفیف: <span>0</span> -->
<!--                                             </td> -->
<!--                                         </tr> -->
                                        <tr>
                                            <td class="text-right p-2">
                                                 مجموع قیمت: <span style="color:#F44336"><?php echo number_format($order['total_price'])?></span><span>ریال</span>
                                            </td>
                                        </tr>
                                    </table>
                                   
                                </div>
                            </div>
                            <div class="row text-left mt-4">
                                <div class="col-md-12">
                                    <div class="submit-form">
<!--                                         <input class="mbtn green left" value="ادامه ثبت سفارش" type="submit"> -->
                                    </div>
                                </div>
                            </div>
                    	</div>
                  </div>
	           </div>
	       </div>
        </div>
    </section>
</div>

<script>


$(document).on('change', '.checkAll', function() { 

		$(".order").prop("checked", true);
		$('.checkAll').attr('class','uncheckAll');

});
$(document).on('change', '.uncheckAll', function() {
	$(".order").prop("checked", false);
	$('.uncheckAll').attr('class','checkAll');
});
jQuery(document).ready(function($) {
	$.ajax({
        type:'POST',
        url:'/get-config-val',
        data:{'name':$('.bx--radio-button').val()},
        success:function(data){
       	 var data = JSON.parse(data);
           $('.price-delivery span').text(data);
        }
	});
	
});
$(document).on('change', '.order', function() {
	var a = $(this).parent().parent().parent().find('.price .spn-td span').text();
	var total = Number($('.final-price span').text()) + Number(a);
	$('.final-price span').text(total);
});
$(document).on('change', '.bx--radio-button', function() {
	$.ajax({
        type:'POST',
        url:'/get-config-val',
        data:{'name':$(this).val()},
        success:function(data){
       	 var data = JSON.parse(data);
           $('.price-delivery span').text(data);
        }
	});
	
});
$(document).on('change', '.attribute', function() {
	 console.log( $('form').serializeArray() );
// 	var foo = [];
// 	$('.attribute :selected').each(function(i, selected){
// 		  foo.push($(selected).text());
// 	});
// 	var a = $('.container').find('.attribute').val();
// 	console.log(foo);
	 if ($(".attribute option:selected[value='Select Subject']").length == 0) {
		 $.ajax({
	         type:'POST',
	         url:'/forms',
	         data:$('form').serializeArray(),
	         success:function(data){
	        	 var data = JSON.parse(data);
	             console.log(data); 
	             $('.price').text(data.price);
	         }
		});
// 	    alert('Select Subject');   
	  }
// 	  else {
// 	    alert('All Selected');
// 	  }
// 	for (var i = 0; i < $('.attribute').length; i++){
// 		alert($(".attribute option:selected")[i].val());
// 	}
	
// 	 var items = document.getElementsByClassName('.attribute');
// 	 console.log(items);
// 	    for (var i = 0; i < items.length; i++)
// 	        alert(items[i].val);
// 	alert($('.attribute').val());
// 	$('.attr-div').css("display", "none"); 
//  	var val = $(this).val();
//  	var empty =  $('body').find('#title :first-child');
//  	empty.nextAll().remove();
 	
	 
	
});

</script>
<div class="ShowMessageBox">
    <div class="Close">
    </div>
    <div class="Message">
        
    </div>
</div>
<script>
    var prm = Sys.WebForms.PageRequestManager.getInstance();
    prm.add_endRequest(function () {
        doMessageEvents();
    });
    $(function () {
        doMessageEvents();
    });

    function doMessageEvents() {
        $('.ShowMessageBox').click(function () {
            $('.ShowMessageBox').removeClass("ShowMessageBoxAnimation");
            setTimeout(function () {
                $('.ShowMessageBox').fadeOut(0);
            }, 500);
        });
    };
    function ShowMessageBox(msg, type) {
        $('.ShowMessageBox .Message').html(msg);
        $('.ShowMessageBox').fadeIn(0);
        setTimeout(function () {
            $('.ShowMessageBox').addClass("ShowMessageBoxAnimation");
        }, 100);
    }
</script>
