<?php 
$group = $this->layout()->userData->user_group_id;
?>
<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<style>
#cssmenu > ul > li > a {
    color: #f3e8e8 !important;
    text-shadow: 1px 1px 1px #131010 !important;
}
</style>
<div class="">
<div class="header-bg">
    <h1>پروفایل من</h1>
</div>
<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link" href="/">
									<?php echo __('Home'); ?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									ثبت نام کاربران (دفاتر فنی )
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="content">
        <div class="container text-right form-content">
        	<?php
        	    $officeForm = $this->officeForm;
        	    $officeForm->prepare();
        	    if($this->companyForm){
        	        $companyForm = $this->companyForm;
        	        $companyForm->prepare();
        	    }
        	   
        	    $userForm = $this->userForm;
        	    $userForm->prepare();
        	    echo $this->form()->openTag($userForm);
 			?>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                            <label class="control-label"><?php echo $this->formLabel($userForm->get('username')); ?></label><span class="mandetory-field"> (فیلد اجباری)</span>
                    	    <?php echo $this->formElement($userForm->get('username'));
                    	    echo $this->formElementErrors($userForm->get("username"));
                    	    ?>
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                          <label class="control-label"><?php //echo $this->formLabel($userForm->get('password')); ?></label>
                	      <?php //echo $this->formElement($userForm->get('password'));
                	    //echo $this->formElementErrors($userForm->get("password")); ?>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                              	<label class="control-label"><?php echo $this->formLabel($userForm->get('email')); ?></label>
                        	    <?php echo $this->formElement($userForm->get('email'));
                        	    echo $this->formElementErrors($userForm->get("email")); ?>
                    	   </div>
                    </div>
                </div>
                <?php if($group == '3'){ ?>
                	<div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                              <div class="form-group">
                                  	<label class="control-label"><?php echo $this->formLabel($userForm->get('firstname')); ?></label>
                            	    <?php echo $this->formElement($userForm->get('firstname'));
                            	    echo $this->formElementErrors($userForm->get("firstname")); ?>
                        	   </div>
                        </div>
                	</div>
                	<div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                              <div class="form-group">
                                  	<label class="control-label"><?php echo $this->formLabel($userForm->get('job')); ?></label>
                            	    <?php echo $this->formElement($userForm->get('job'));
                            	    echo $this->formElementErrors($userForm->get("job")); ?>
                        	   </div>
                        </div>
                	</div>
                	<div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                              <div class="form-group">
                                  	<label class="control-label"><?php echo $this->formLabel($userForm->get('newsletter')); ?></label>
                            	    <div class="onoff">
                                	    <?php echo $this->formElement($userForm->get('newsletter'));
                                	    echo $this->formElementErrors($userForm->get("newsletter")); ?>
                            	    </div>
                        	   </div>
                        </div>
                	</div>
                <?php }?>
                <?php if($group == '7'){ ?>
                <div class="row">
                	 <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
  						  	  <label class="control-label"><?php echo $this->formLabel($officeForm->get('office_name')); ?></label>
                	     	  <?php echo $this->formElement($officeForm->get('office_name'));
                	          echo $this->formElementErrors($officeForm->get("office_name")); ?>
                    	   </div>
                     </div>
                     <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                              <div class="form-group">
                                    <label class="control-label"><?php echo $this->formLabel($officeForm->get('manager_name')); ?></label>
                            	    <?php echo $this->formElement($officeForm->get('manager_name'));
                            	    echo $this->formElementErrors($officeForm->get("manager_name")); ?>
                        	  </div>
                        </div>
               		</div>
                </div>
                <?php } ?>
                
                
                
                <?php if($group == '8'){?>
                
                
                <?php } ?>
                
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                       <div class="form-group">
                        <label class="control-label"><?php echo $this->formLabel($userForm->get('phone')); ?></label>
                	    <?php echo $this->formElement($userForm->get('phone'));
                	    echo $this->formElementErrors($userForm->get("phone")); ?>
<!--                     		<label class="control-label">شماره تماس</label> -->
<!--                         	<input name="phone" id="" class="form-control"  placeholder="شماره تماس" value="" type="text"> -->
                	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                        <label class="control-label"><?php echo $this->formLabel($userForm->get('mobile')); ?></label>
                	    <?php echo $this->formElement($userForm->get('mobile'));
                	    echo $this->formElementErrors($userForm->get("mobile")); ?>
<!--                     		<label class="control-label">شماره همراه</label> -->
<!--                         	<input name="mobile" id="" class="form-control"  placeholder="شماره همراه" value="" type="text"> -->
                	    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                          <label class="control-label"><?php echo $this->formLabel($officeForm->get('fax')); ?></label>
                	    <?php echo $this->formElement($officeForm->get('fax'));
                	    echo $this->formElementErrors($officeForm->get("fax")); ?>
<!--                         		<label class="control-label">شماره فاکس</label> -->
<!--                             	<input name="fax" id="" class="form-control"  placeholder="شماره فاکس" value="" type="text"> -->
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div> خدمات قابل ارائه </div>
                        <br />
                    </div>
                </div>
                <div class="row">
                	
                		<div class="col-md-3">
                		 <label class="control-label"><?php //echo $this->formLabel($officeForm->get('service_id[]')); ?></label>
                	    <?php echo $this->formElement($officeForm->get('service_id[]'));
                	    echo $this->formElementErrors($officeForm->get("service_id[]")); ?>
                        </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                       <div class="form-group">
                		  <label class="control-label">خدمات آنلاین</label>
                    	  <div class="onoff">
                    	  <?php echo $this->formElement($officeForm->get('online_services'));
                	      echo $this->formElementErrors($officeForm->get("online_services")); ?>
<!--                 		      <input type="checkbox" value="1" id="checkboxID2" name="online_services"><label for="checkboxID2"></label> -->
                		  </div>
                		</div>
                    </div>
                </div>
                   <div class="row">
                      <div class="form-group">
                    		<label class="control-label">آدرس</label>
                		</div>
            		</div>
                   <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                          <div class="form-group">
                           <?php echo $this->formElement($userForm->get('area'));
                           echo $this->formElementErrors($userForm->get("area")); ?>
<!--                             	<input name="area" id="" class="form-control"  placeholder="منطقه" value="" type="text"> -->
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                          <div class="form-group">
                           <?php echo $this->formElement($userForm->get('district'));
                           echo $this->formElementErrors($userForm->get("district")); ?>
<!--                             	<input name="district" id="" class="form-control"  placeholder="محله" value="" type="text"> -->
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                           <?php echo $this->formElement($userForm->get('address'));
                           echo $this->formElementErrors($userForm->get("address")); ?>
<!--                             	<input name="address" id="" class="form-control"  placeholder="آدرس کامل" value="" type="text"> -->
                    	   </div>
                    </div>
                </div>
                   <div class="row">
                   <label class="control-label">توضیحات</label>
                   <div class="col-xs-12 col-sm-12 col-md-12">
                          <div class="form-group">
                           <?php echo $this->formElement($userForm->get('description'));
                           echo $this->formElementErrors($userForm->get("description")); ?>
<!--                             	<textarea name="description" class="form-control" rows="5" name="description"></textarea> -->
                    	   </div>
                   </div>
                </div>
                <div class="row">
                     <div class="col-md-4">
                         <label class="check ">
                         <?php echo $this->formElement($officeForm->get('usual_courier'));
                         echo $this->formElementErrors($officeForm->get("usual_courier")); ?>
<!--                             <input type="checkbox" checked="checked" name="usual_courier" value="1"> -->
                              <span class="checkmark"></span>
                             پیک معمولی
                        </label>
                    </div>
                     <div class="col-md-4">
                         <label class="check ">
                         <?php echo $this->formElement($officeForm->get('special_courier'));
                         echo $this->formElementErrors($officeForm->get("special_courier")); ?>
<!--                                 <input type="checkbox" checked="checked" name="special_courier" value="1">  -->
                                  <span class="checkmark"></span>
                             پیک ویژه (تحویل زیر چهار ساعت )
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-left">
                    	<?php 
                    		echo $this->formElement($userForm->get('csrf'));
                    		echo $this->formElementErrors($userForm->get("csrf"));
                    		echo $this->formElement($userForm->get('submit'));
                    	?>
<!--                         <input type="submit" class="btn btn-primary" value="ثبت اطلاعات" > -->
                    </div>
                </div>
                <?php echo $this->form()->closeTag(); ?>
<!--             </form> -->
        </div>
    </section>
</div>