<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<style>
#content .tabs {
  display: flex;
  flex-wrap: wrap;
}

#content .tabs label.radio-tab-label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #fff;
    font-weight: bold;
    transition: background ease 0.2s;
    border: 1px solid #e94b35;
    border-radius: 3px;
	cursor: pointer;
}

#content .tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
}

#content .tabs input[type="radio"].radio-tab{
  display: none;
}

#content .tabs input[type="radio"].radio-tab + label {
   background: #fff;
   cursor: pointer;
   padding: 15px;
   border-radius: 3px;
   color: #333;
	border:1px solid #e94b35;
	text-align: center;
}
#content .tabs input[type="radio"].radio-tab:checked + label {
   background: #e94b35;
   cursor: pointer;
   padding: 15px;
   border-radius: 3px;
   color: #fff;
	text-align: center;
}

#content .tabs input[type="radio"].radio-tab:checked + label + .tab {
  display: block;
}

.qty{
	padding:2px;
}
.table td, .table th {
    text-align: center;
}
</style>
<div class="">
<div class="header-bg text-right">
    <h1>سبد خرید</h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link">
    				سبد خرید
    				</a>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
	<section id="content">
	   <!-- tab content -->
	   <div class="container">
    	   <div class="tabs">
              <input type="radio" name="tabs" id="tabone" checked="checked" class="radio-tab">
              <label for="tabone" class="radio-tab-label">سبد خرید سفارشات چاپ</label>
              <div class="tab">
                <form method="post" >
                    <div class="fancy"> <span>سبد خرید سفارشات چاپ</span></div>
                    <div id="card">
                        <!-- #region ProductBox -->
                        <div class="row">
                            <div class="col m12 s12 table-responsive">
                                <table class="table-product">
                                    <thead>
                                        <tr>
                                            <th><input class="checkAll" name="checkAll" value="" type="checkbox"></th>
                                            <th>ردیف</th>
                                            <th>سفارش گیرنده</th>
                                            <th class="tb-hidden">تصویر خدمات چاپ</th>
                                            <th>عنوان خدمات چاپ</th>
                                            <th class="tb-hidden">زمان تحویل</th>
                                            <th>قیمت کل</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<?php if($this->listOrders){ foreach ($this->listOrders as $key => $order){ if($order['status'] == 1){ //var_dump($order);die;?>
                                       <tr>
                                       		<td>
                                                <span class="spn-td spn-font">
                                                    <input class="order" name="session_id[]" value="<?php echo $key;?>" type="checkbox">
                                                    <input class="office" style="display:none;" name="office_id[]" value="<?php echo $order['office_id'];?>" type="checkbox">
                                                </span>
                                            </td>
                                            <td>
                                                <span class="spn-td spn-font">
                                                    <?php echo $key + 1;?>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="spn-td spn-font">
                                                    <?php echo $order['office_name'];?>
                                                   
                                                </span>
                                            </td>
                                            <td class="test-td">
                                                <div class="icon-upload">
                                                    <a href="" target="_blank"><img src="/uploads/services/<?php echo $order['image'];?>" width="64"></a>
                                                </div>
                                            </td>
                                            <td class="td-detail">
                                                <span>
                                                    <?php echo $order['name'];?>
                                                </span>
                                                <a href="#" class="detail-td">مشاهده جزئیات</a>
                                                <div class="tooltip-chechbox">
                                                    <ul class="spn-font">
                                                        <?php foreach ($order['details'] as $key => $detail){ //var_dump($detail);?>
                                                    		<li>
                                                    			<?php echo $key ?> : <?php echo $detail ?>
                                                    		</li> 
                                                        <?php } ?>    
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="tb-hidden">
                                                <span class="spn-td spn-font">
                                                    <?php echo $order['time'];?>
                                                </span>
                                            </td>
                                            <td class="price">
                                                <span class="spn-td spn-font">
                                                    <span><?php echo $order['price'];?></span> تومان
                                                </span>
            
                                            </td>
                                        </tr>
                                    	<?php } } }?>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-6 text-right mt-4">
                                         نحوه تحویل
                                        <div class="bx--radio-button-group mt-4">
                                          <input id="radio-button-1" class="bx--radio-button float-none" type="radio" value="courier" name="delivery_type" tabindex="0">
                                          <img src="/images/peyk.png" class="delivery-icon"/>
                                          <label for="radio-button-1" class="bx--radio-button__label">
                                            <span class="bx--radio-button__appearance"></span>
                                            پیک
                                          </label>
                                          <input id="radio-button-2" class="bx--radio-button float-none" type="radio" value="special courier" name="delivery_type" tabindex="0">
                                          <img src="/images/vpeyk.png" class="delivery-icon"/>
                                          <label for="radio-button-2" class="bx--radio-button__label">
                                            <span class="bx--radio-button__appearance"></span>
                                            پیک ویژه
                                          </label>
                                          <input id="radio-button-3" class="bx--radio-button float-none" type="radio" value="in person" name="delivery_type" tabindex="0" checked>
                                          <img src="/images/homedelivery.png" class="delivery-icon"/>
                                          <label for="radio-button-3" class="bx--radio-button__label">
                                            <span class="bx--radio-button__appearance"></span>
                                            حضوری
                                          </label>
                                        </div>
                                    </div>
                                    <div class="col-md-9 text-right">
                                        <div class="form-group">
                                    		<label class="control-label mt-4"> آدرس  تحویل</label>
                                    		<textarea  name="address" class="form-control"></textarea>
                                		</div>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-group">
                                    		<label class="control-label mt-4">کدپستی</label>
                                    		<input  name="postal_code" class="form-control" maxlength="10">
                                		</div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                <table class="table-price">
                                    <tbody>
                                    	<tr>
                                            <td>مبلغ کل</td>
                                            <td class="td-2 td-3">
                                                <span id="ContentPlaceHolder1_spnDeliveryPrice" class="price" value="">
                                                    <span>0</span> تومان
                                                </span>
                                                <input class="input-price" name="price" type="hidden" value="0">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>مجموع تخفیف</td>
                                            <td class="td-2">
                                                <span id="ContentPlaceHolder1_spnTotalDiscount" class="count-discount" value="0">
                                                    <span>
                                                    <?php 
//                                                     if($this->discount) {
//                                                         $discount = 15;
//                                                         echo $discount;
//                                                         // var_dump($discount);die;
//                                                     }else{
                                                        echo '15';
//                                                     }
                                                    ?>
                                                    </span> درصد 
                                                </span>
            									<input id="discount" name="discount" type="hidden" value="0">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>هزینه ارسال</td>
                                            <td class="td-2 td-3">
                                                <span id="ContentPlaceHolder1_spnDeliveryPrice" class="price-delivery" value="">
                                                    <span>0</span> تومان
                                                </span>
                                                <input class="delivery-price" name="delivery_price" type="hidden" value="0">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>مبلغ قابل پرداخت</td>
                                            <td class="td-2">
                                                <span id="ContentPlaceHolder1_spnPriceToPay" class="final-price td-4" value="79516">
                                                    <span>0</span> تومان
                                                </span>
                                                <input class="total_price" name="total_price" type="hidden" value="2000">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                        <!-- #endregion -->
                        <div id="">
                            <div>
                                <div class="row">
                                    <div class="col-md-8">
                                    </div>
                                    <div class="col-md-4">
                                    <br/>
                                        <div class="submit-form">
                                            <input class="btn btn-success btn-block" type="submit" value="ادامه ثبت سفارش">
            <!--                                 <a class="mbtn green left" href="/Login">ادامه ثبت سفارش -->
            <!--                                     <i class="fa fa-chevron-left"></i> -->
            <!--                                 </a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
              </div>
              <!-- content2 -->
              <input type="radio" name="tabs" id="tabtwo" class="radio-tab">
              <label for="tabtwo">سبد خرید محصولات</label>
              <div class="tab">
                <div class="form-content">
                   <form method="post" action="/product-list">
                     <div class="fancy"> <span>سبد خرید محصولات</span></div>
                     <br/>
                        <div class="row table-responsive">
                	<table id="cart" class="table table-hover table-condensed">
        				<thead>
    						<tr>
    							<th style="width:10%"></th>
    							<th style="width:30%">نام محصول</th>
    							<th style="width:20%">قیمت</th>
    							<th style="width:20%">تعداد</th>
    							<th style="width:20%" class="text-center">مجموع قیمت</th>
    							<!--  <th style="width:10%"></th>-->
    						</tr>
    					</thead>
    					<tbody>
    						<?php if($this->productsOrder){ foreach ($this->productsOrder as $order){ if($order['status'] == 1){?>
    						<tr>
    							<td>
    								<span class="spn-td spn-font">
                                        <input class="product-order" name="product_order_id[]" value="<?php echo $order['product_id'];?>" type="checkbox">
                                    </span>
    							</td>
    							<td data-th="محصول">
    								<div class="row">
<!--     									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-thumbnail"/></div> -->
    									<div class="col-sm-5">
    										<h4 class="nomargin"><?php echo $order['name']?></h4>
    										<p> <?php //echo $order['description']?> </p>
    									</div>
    								</div>
    							</td>
    							<td data-th="قیمت" class="price"><input type="hidden" value="<?php echo $order['price'] ?>" name="price[<?php echo $order['product_id'];?>]"> <span><?php echo number_format($order['price']) ?></span>تومان</td>
    							<td data-th="تعداد">
    								<input name ="qty[<?php echo $order['product_id'];?>]" type="hidden" class="form-control text-center qty" value="<?php echo $order['qty'];?>">
    							     <div class="input-group">
                                          <span class="input-group-btn">
                                              <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[2]">
                                                <i class="fas fa-minus"></i>
                                              </button>
                                          </span>
                                          <input type="text" name="quant[2]" class="form-control input-number" value="<?php echo $order['qty'] ?>" min="1" max="100" disabled="disabled">
                                          <span class="input-group-btn">
                                              <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                                                  <i class="fas fa-plus"></i>
                                              </button>
                                          </span>
                                      </div>
    							</td>
    							<td data-th="مجموع قیمت" class="text-center sum-price">
    								<input type="hidden" value="<?php echo $order['qty'] * $order['price'];?>" name="total_price[<?php echo $order['product_id'];?>]">
    								<span><?php echo number_format($order['qty'] * $order['price']);?></span> تومان
    							</td>
    							<!-- <td class="actions" data-th="">
    								<button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>								
    							</td> -->
    						</tr>
    						<?php } } }?>
    						<tr>
    							<td colspan="4">
                                    <div class="form-group text-right">
                                		<label class="control-label mt-4"> آدرس  تحویل</label>
                                		<textarea  name="address" class="form-control"></textarea>
                            		</div>
                                </td>
                                <td colspan="2">
                                    <div class="form-group text-right">
                                		<label class="control-label mt-4">کدپستی</label>
                                		<input  name="postal_code" class="form-control" maxlength="10">
                            		</div>
                                </td>
                            </tr>
    					</tbody>
    					<tfoot>
    						
    						<tr >
    							<td colspan="2"></td>
    							<td class="text-center sum-of-product" colspan="4"><div class="table-factor"><strong>تعداد:</strong> <span></span></div><input name="sum" class="product-sum" type="hidden" value="<?php echo $this->sum;?>"></td>
    						</tr>
    						<tr class="">
    						    <td colspan="2"></td>
    							<td class="text-center product-total-price" colspan="4"><div class="table-factor"><strong>قیمت کل:</strong><span></span>تومان<input name="total" class="product-total" type="hidden" value="0"></div></td>
    						</tr>
    						<tr>
    							<td class="text-right"><a href="/products" class="btn btn-warning">مرحله قبلی <i class="fa fa-angle-right"></td>
    							<td class="hidden-xs text-center"><strong></strong></td>
    							<td colspan="3"><input type="submit"  class="btn btn-success btn-block" value ="ادامه خرید"></i></a></td>
    						</tr>
    						
    					</tfoot>
    				</table>
    				
    				</form>
                </div>
          </div>
        </div>

        </div>
    </section>
</div>

<script>


$(document).ready(function() { 
    var exist = '<?php echo $this->exitListOrders; ?>';
    
    
	if(exist == 'exitProductOrder' ){
		$('#tabtwo').prop('checked',true);
		$('#tabone').prop('checked',false);
	}

	if(exist == 'exitServicesOrder'){
		$('#tabone').prop('checked',true);
		$('#tabtow').prop('checked',false);
	}

	$.ajax({
        type:'POST',
        url:'/get-config-val',
        data:{'name':$('.bx--radio-button:checked').val()},
        success:function(data){
       	 var data = JSON.parse(data);
           $('.price-delivery span').text(data);
//            console.log($('.table-price .delivery-price'));
           $('.table-price .delivery-price').val(data);
        }
	});
});

$(document).on('change', '.checkAll', function() { 
	$(".order").prop("checked", true);
	$('.checkAll').attr('class','uncheckAll');
});



$(document).on('change', '.uncheckAll', function() {
	$(".order").prop("checked", false);
	$('.uncheckAll').attr('class','checkAll');
});

function calculate(price,checked){
// 	console.log(price);
	var unitPrice = price;
	var unitPriceElm = $('.table-price .price span');
	var unitPriceInput = $('.table-price .input-price');
	console.log(Number(unitPriceElm.text()));
	var totalPriceElm = $('.table-price .final-price span');
	var totalPriceInput = $('.table-price .total_price');

	var discountPriceElm = $('.table-price .count-discount span');
	var discountPriceInput = $('.table-price #discount');
// 	console.log(Number(discountPriceElm.text()));

	var deliveryPriceElm = $('.table-price .price-delivery span');
	var deliveryPriceInput = $('.table-price .delivery_price');
	
	if(checked){
		unitPrice = Number(unitPriceElm.text()) + Number(unitPrice) ;
	}else{
		unitPrice = Number(unitPriceElm.text()) - Number(unitPrice) ;
	}

	$(unitPriceElm).text(unitPrice);
	$(unitPriceInput).val(unitPrice);
	$(discountPriceInput).val(Number(Number(unitPrice) / 100 * Number(discountPriceElm.text())));
	var totalPrice = Number(unitPrice) - Number(Number(unitPrice) / 100 * Number(discountPriceElm.text())) + Number(deliveryPriceElm.text());
	$(totalPriceElm).text(totalPrice);
	$(totalPriceInput).val(totalPrice);

	
}

$(document).on('change', '.order', function() {
	var unitPrice = $(this).parent().parent().parent().find('.price .spn-td span').text();
// 	console.log(this.checked);
	calculate(unitPrice,this.checked);
	if(this.checked){
		$(this).parent().find(".office").prop("checked", true);
	}else{
		$(this).parent().find(".office").prop("checked", false);
	}
// 	var unitPriceElm = $('.table-price .price span');
// 	var unitPriceInput = $('.table-price .input-price');

// 	var totalPriceElm = $('.table-price .final-price span');
// 	var totalPriceInput = $('.table-price .total_price');

// 	var discountPriceElm = $('.table-price .count-discount span');
// 	var discountPriceInput = $('.table-price #discount');
// 	console.log(Number(discountPriceElm.text()));

// 	var deliveryPriceElm = $('.table-price .price-delivery span');
// 	var deliveryPriceInput = $('.table-price .delivery_price');

// 	if(this.checked){
// 		unitPrice = Number(unitPriceElm.text()) + Number(unitPrice) ;
// 		var totalPrice = Number(unitPrice) - Number(Number(unitPrice) / 100 * Number(discountPriceElm.text())) + Number(deliveryPriceElm.text());
// 	}else{
// 		unitPrice = Number(unitPriceElm.text()) - Number(unitPrice) ;
// 	}

// 	$(unitPriceElm).text(unitPrice);
// 	$(unitPriceInput).val(unitPrice);


	
// 	$(totalPriceElm).text(totalPrice);
// 	$(totalPriceInput).val(totalPrice);
	
//     var a = $(this).parent().parent().parent().find('.price .spn-td span').text();
//     var discount = $('.count-discount span').text();
// 	var delivery = $('.price-delivery span').text();
// 	if(this.checked){
// 		$(this).parent().find(".office").prop("checked", true);
//         if(Number($('.final-price span').text()) == 0){
//             // var total = Number($('.final-price span').text())  + (Number(a) - Number(a / 100 * discount)) + Number(delivery);
//             var total = Number($('.final-price span').text())  + (Number(a) - Number(a / 100 * discount)) + Number(delivery);
// // 			console.log(Number(a / 100 * discount));	
// 			var discountPrice = Number($('#discount').val()) + Number(a / 100 * discount);
//         }else{
//             var total = Number($('.final-price span').text()) - Number(delivery)  + (Number(a) - Number(a / 100 * discount)) + Number(delivery);
//             var discountPrice = Number($('#discount').val()) + Number(a / 100 * discount);
//         }
//     }else{
//         if($('.order:checked').length < 1){
//             var total = 0;
//         }else{
//             var total = Number($('.final-price span').text()) - (Number(a) - Number(a / 100 * discount));
//             var discountPrice = Number($('#discount').val()) - Number(a / 100 * discount);
//         }
//     }

// 	$('.final-price span').text(total);
// 	$('.total_price').val(total);
// 	$('#discount').val(discountPrice);
});

function calculateProduct(price,checked,qty){
	
	if(checked){
// 		console.log($('.product-total-price .table-factor input').val());
// 		var unitPrice = (Number(price) * qty);
		var total = Number($('.product-total-price .table-factor .product-total').val()) + Number(price);
		var sum = Number($('.sum-of-product .table-factor span').text()) + Number(qty); 
	}else{
		var total = Number($('.product-total-price .table-factor .product-total').val()) - Number(price);
		var sum = Number($('.sum-of-product .table-factor span').text()) - Number(qty); 
	}

	$('.product-total-price .table-factor span').text(total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
	$('.product-total').val(total);
	$('.sum-of-product .table-factor span').text(sum);
	$('.product-sum').val(sum);
}

// $(document).on('change', '.qty', function() { 
// 	var qty = $(this).val();
// 	var price = $(this).parent().parent().find('.price span').text(); 
// 	var sumDiv =  $(this).parent().parent().find('.sum-price span');
// 	var sum = Number(qty) * Number(price); 
// 	$(sumDiv).empty();
// 	$(sumDiv).append(sum);
// 	console.log($(this).parent().parent().find('.product-order:checked'));
// 	if($(this).parent().parent().find('.product-order:checked').length > 0){ //alert('aaa');
// 		var total = Number($('.product-total-price .table-factor span').text()) + Number(price);
// 		$('.product-total-price .table-factor span').text(total);
// 		var nqty = Number($('.sum-of-product .table-factor span').text()) + Number(1);
// 		$('.sum-of-product .table-factor span').text(nqty);
// 		$('.product-total').val(total);
// 	}
	
// });
$(document).on('click', '.btn-number', function() {//alert('aaa');
	var qty = $(this).parent().parent().find('.input-number').val();
	var sumDiv =  $(this).parent().parent().parent().parent().find('.sum-price span');
	var sumInput =  $(this).parent().parent().parent().parent().find('.sum-price input');
	var price = $(this).parent().parent().parent().parent().find('.price input').val(); 
//     console.log(qty);
    console.log(price);
	$(sumDiv).empty();
	var sum = (Number(qty) * Number(price)).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'); 
 	$(sumDiv).append(sum);
 	$(sumInput).val(Number(qty) * Number(price));
	if($(this).data('type') == 'plus'){ //alert('aaa');
		$(this).parent().parent().find(".btn-number[data-type='minus']").attr('disabled', false);	
		if($(this).parent().parent().parent().parent().find('.product-order:checked').length > 0){ //alert('bbb');
			$('.product-total-price .table-factor span').text((Number($('.product-total-price .table-factor .product-total').val()) + Number(price)).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
			$('.sum-of-product .table-factor span').text(Number($('.sum-of-product .table-factor span').text()) + 1 );
			$('.product-total').val(Number($('.product-total').val()) + Number(price));
		}
// 		console.log($(this).parent().parent().parent().find('.qty').val());
		$(this).parent().parent().parent().find('.qty').val(Number($(this).parent().parent().parent().find('.qty').val()) + 1 );
		$('.product-sum').val(Number($('.product-sum').val()) + 1);
	}

	if($(this).data('type') == 'minus'){
		if($(this).parent().parent().parent().parent().find('.product-order:checked').length > 0){
// 			alert(qty);
			if(qty >= 2 ){
				$('.product-total-price .table-factor span').text((Number($('.product-total-price .table-factor .product-total').val()) - Number(price)).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
    			$('.sum-of-product .table-factor span').text(Number($('.sum-of-product .table-factor span').text()) - 1 );		
    			$('.product-total').val(Number($('.product-total').val()) - Number(price));
    			$('.product-sum').val(Number($('.product-sum').val()) - 1);
			}

			if(qty == 1){ //alert('aaa');
				$('.product-total-price .table-factor span').text((Number($('.product-total-price .table-factor .product-total').val()) - Number(price)).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
    			$('.sum-of-product .table-factor span').text(Number($('.sum-of-product .table-factor span').text()) - 1 );
    			$('.product-total').val(Number($('.product-total').val()) - Number(price));
    			$('.product-sum').val(Number($('.product-sum').val()) - 1);
				$(this).attr('disabled', true);
			}

			

			
		}
// 		alert('bbb');
		$(this).parent().parent().parent().find('.qty').val(Number($(this).parent().parent().parent().find('.qty').val()) - 1 );
	}				
	
});

$(document).on('change', '.product-order', function() {
	var price = $(this).parent().parent().parent().find('.sum-price input').val();
	var qty = $(this).parent().parent().parent().find('.input-number').val();
// 	var sumPrice  = Number(price) *  Number(qty);
	calculateProduct(price,this.checked,qty);
	if(this.checked){
		if(qty == 1){
			$(this).parent().parent().parent().find(".btn-number[data-type='minus']").attr('disabled', true);
		}
	}
	
	
	
// 	if(this.checked){
// 		var total = Number($('.product-total-price .table-factor span').text()) + Number(price);
// 		var sum = Number($('.sum-of-product .table-factor span').text()) + Number(qty); 
// 	}else{
// 		var total = Number($('.product-total-price .table-factor span').text()) - Number(price);
// 		var sum = Number($('.sum-of-product .table-factor span').text()) - Number(qty); 
// 	}
// 	$('.product-total-price .table-factor span').text(total);
// 	$('.product-total').val(total);

// 	$('.sum-of-product .table-factor span').text(sum);
// 	$('.product-sum').val(sum);
});



$(document).on('change', '.bx--radio-button', function() {
	$.ajax({
        type:'POST',
        url:'/get-config-val',
        data:{'name':$(this).val()},
        success:function(data){
       	   var data = JSON.parse(data);
           $('.price-delivery span').text(data);
           $('.table-price .delivery-price').val(data);
           calculate(0,true);
        }
	});
	
});
$(document).on('change', '.attribute', function() {
	 console.log( $('form').serializeArray() );
// 	var foo = [];
// 	$('.attribute :selected').each(function(i, selected){
// 		  foo.push($(selected).text());
// 	});
// 	var a = $('.container').find('.attribute').val();
// 	console.log(foo);
	 if ($(".attribute option:selected[value='Select Subject']").length == 0) {
		 $.ajax({
	         type:'POST',
	         url:'/forms',
	         data:$('form').serializeArray(),
	         success:function(data){
	        	 var data = JSON.parse(data);
	             console.log(data); 
	             $('.price').text(data.price);
	         }
		});
// 	    alert('Select Subject');   
	  }
// 	  else {
// 	    alert('All Selected');
// 	  }
// 	for (var i = 0; i < $('.attribute').length; i++){
// 		alert($(".attribute option:selected")[i].val());
// 	}
	
// 	 var items = document.getElementsByClassName('.attribute');
// 	 console.log(items);
// 	    for (var i = 0; i < items.length; i++)
// 	        alert(items[i].val);
// 	alert($('.attribute').val());
// 	$('.attr-div').css("display", "none"); 
//  	var val = $(this).val();
//  	var empty =  $('body').find('#title :first-child');
//  	empty.nextAll().remove();
 	
	 
	
});

</script>
<div class="ShowMessageBox">
    <div class="Close">
    </div>
    <div class="Message">
        
    </div>
</div>
<script>
    var prm = Sys.WebForms.PageRequestManager.getInstance();
    prm.add_endRequest(function () {
        doMessageEvents();
    });
    $(function () {
        doMessageEvents();
    });

    function doMessageEvents() {
        $('.ShowMessageBox').click(function () {
            $('.ShowMessageBox').removeClass("ShowMessageBoxAnimation");
            setTimeout(function () {
                $('.ShowMessageBox').fadeOut(0);
            }, 500);
        });
    };
    function ShowMessageBox(msg, type) {
        $('.ShowMessageBox .Message').html(msg);
        $('.ShowMessageBox').fadeIn(0);
        setTimeout(function () {
            $('.ShowMessageBox').addClass("ShowMessageBoxAnimation");
        }, 100);
    }
</script>
<script>
    //plugin bootstrap minus and plus
    $('.btn-number').click(function(e){
    e.preventDefault();
    
    fieldName = $(this).attr('data-field');console.log(fieldName);
    type      = $(this).attr('data-type');
    var input = $(this).parent().parent().find("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
        if(type == 'minus') { 
            
            if(currentVal > input.attr('min')) {
                input.val(currentVal - 1).change();
            } 
//             alert(parseInt(input.val()));alert(input.attr('min'));
			
            if(parseInt(input.val()) < input.attr('min')) {//alert('a');
//                 if(parseInt(input.val()) == 0){
                	$(this).attr('disabled', true);
//                 }
                
            }
    
        } else if(type == 'plus') {
    
            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
            if(parseInt(input.val()) == input.attr('max')) {
                $(this).attr('disabled', true);
            }
    
        }
    } else {
        input.val(0);
    }
    });
    $('.input-number').focusin(function(){
    $(this).data('oldValue', $(this).val());
    });
    
    $('.input-number').change(function() {
    
    minValue =  parseInt($(this).attr('min'));
    maxValue =  parseInt($(this).attr('max'));
    valueCurrent = parseInt($(this).val());
//     alert(valueCurrent);
    name = $(this).attr('name');
    if(valueCurrent >= minValue) {
//         $(this).parent().find(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled');
        
//         $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    
    
    });
    $(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>