<script src="/js/farsiType.js" type="text/javascript"></script>
<script src="/js/jquery.DataSaver.js" type="text/javascript"></script>
<section id="page">
    <div class="sl-direction container">
	   <div class="bradcrumb-div">
           <span class="breadcrumb-pages"><?php echo __("Internal pages");?></span>
	       <ul class="breadcrumb">

	           <?php echo $this->breadcrumbs;?>

	       </ul>
	   </div>
	    <section class="main-content product-list">
	       <header class="main-content-title">
             <h1>
                 <i class="fa fa-cube"></i>
                 <?php echo __("Request project");?>
             </h1>
            </header>
            <article class="main-content-article4">
        	<?php
        	   echo $this->getPlugin('block/index/index', array('position' => "request-project"));
	           $requestProjectForm = $this->requestProjectForm;
	           $requestProjectForm->prepare();
	           echo $this->form()->openTag($requestProjectForm);
            ?>
        <div class="form form-medium">
            <div class="row">
				<div class="col-md-6">
                    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('first_name')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('first_name'));
                    	echo $this->formElementErrors($requestProjectForm->get("first_name")); ?>
                	</div>
            	</div>
            	<div class="col-md-6">
                    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('last_name')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('last_name'));
                    	echo $this->formElementErrors($requestProjectForm->get("last_name")); ?>
                	</div>
            	</div>
        	</div>
        	<div class="row">
				<div class="col-md-12">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('email')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('email'));
                    	echo $this->formElementErrors($requestProjectForm->get("email")); ?>
                	</div>
				</div>
			</div>
            <div class="row">
				<div class="col-md-6">
            	    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('company_name')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('company_name'));
                    	echo $this->formElementErrors($requestProjectForm->get("company_name")); ?>
                	</div>
            	</div>
				<div class="col-md-6">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('tel')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('tel'));
                    	echo $this->formElementErrors($requestProjectForm->get("tel")); ?>
                	</div>
				</div>
        	</div>
            <div class="row">
				<div class="col-md-6">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('subject')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('subject'));
                    	echo $this->formElementErrors($requestProjectForm->get("subject")); ?>
                	</div>
				</div>
				<div class="col-md-6">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('mobile')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('mobile'));
                    	echo $this->formElementErrors($requestProjectForm->get("mobile")); ?>
                	</div>
				</div>
			</div>
            <div class="row">
				<div class="col-md-12">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('project_type')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('project_type'));
                    	echo $this->formElementErrors($requestProjectForm->get("project_type")); ?>
                	</div>
				</div>
			</div>
           
            <div class="row">
				<div class="col-md-12">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('dimension_way')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('dimension_way'));
                    	echo $this->formElementErrors($requestProjectForm->get("dimension_way")); ?>
                	</div>
				</div>
			</div>
            
            <div class="row">
				<div class="col-md-12">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('create_3d_model')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('create_3d_model'));
                    	echo $this->formElementErrors($requestProjectForm->get("create_3d_model")); ?>
                	</div>
				</div>
			</div>
            
            <div class="row">
				<div class="col-md-12">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('create_2d_model')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('create_2d_model'));
                    	echo $this->formElementErrors($requestProjectForm->get("create_2d_model")); ?>
                	</div>
				</div>
			</div>
           
            <div class="row">
				<div class="col-md-12">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('design_cast')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('design_cast'));
                    	echo $this->formElementErrors($requestProjectForm->get("design_cast")); ?>
                	</div>
				</div>
			</div>
            <div class="row">
				<div class="col-md-12">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('design_cast_desc')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('design_cast_desc'));
                    	echo $this->formElementErrors($requestProjectForm->get("design_cast_desc")); ?>
                	</div>
				</div>
			</div>
            <div class="row">
				<div class="col-md-12">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('create_cast_desc')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('create_cast_desc'));
                    	echo $this->formElementErrors($requestProjectForm->get("create_cast_desc")); ?>
                	</div>
				</div>
			</div>
            <div class="row">
				<div class="col-md-12">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('prototyping_desc')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('prototyping_desc'));
                    	echo $this->formElementErrors($requestProjectForm->get("prototyping_desc")); ?>
                	</div>
				</div>
			</div>
            <div class="row">
				<div class="col-md-12">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('dimension_control_desc')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('dimension_control_desc'));
                    	echo $this->formElementErrors($requestProjectForm->get("dimension_control_desc")); ?>
                	</div>
				</div>
			</div>
            <div class="row">
				<div class="col-md-12">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('production_desc')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('production_desc'));
                    	echo $this->formElementErrors($requestProjectForm->get("production_desc")); ?>
                	</div>
				</div>
			</div>
            <div class="row">
				<div class="col-md-12">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('others_desc')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('others_desc'));
                    	echo $this->formElementErrors($requestProjectForm->get("others_desc")); ?>
                	</div>
				</div>
			</div>
            <div class="row">
				<div class="col-md-12">
				    <div class="form-group">
                		<label class="control-label"><?php echo $this->formlabel($requestProjectForm->get('request_file')); ?></label>
                    	<?php echo $this->formElement($requestProjectForm->get('request_file'));
                    	echo $this->formElementErrors($requestProjectForm->get("request_file")); ?>
                	</div>
				</div>
			</div>


	
	
	
	
	
	<div class="form-group myCaptcha">
		<label class="control-label label-robot"><?php echo $this->formlabel($requestProjectForm->get('request_project_myCaptcha')); ?></label>
    	<div > 
    	   <span id="refreshcaptcharp" class="fa  fa-refresh"></span>
    	   <?php echo $this->formCaptcha($requestProjectForm->get('request_project_myCaptcha')); ?> 
    	</div> 
    	<?php  	echo $this->formElementErrors($requestProjectForm->get("request_project_myCaptcha")); ?>
	</div>
	<?php 
		echo $this->formElement($requestProjectForm->get('request_project_submit'));
		echo $this->form()->closeTag();
	?>
</div>
                    </article>
        </section>
                            
    </div>
</section>
<script>
	$(document).ready(function(){
		$('.form-control').DataSaver({timeout: 1000, events: "change keyup"});
		$("#requestProjectForm").validationEngine();
   
		});


$(document).ready(function() {
	//$('div.captcha input[type="text"]').addClass('form-control');
    $('#refreshcaptcharp').click(function() {
        $.ajax({ 
            url: '/application-ajax-request-project', 
            dataType:'json', 
            success: function(data) { 
                $('#requestProjectForm img').attr('src', data.src); 
                $('#captcha-idrp-hidden').attr('value', data.id); 
            }
        }); 
    }); 
});

</script>