<div class="container">
	<div class="row">
	<br>
	<br>
	<br>
	<br>
	<div class="col-lg-4 col-md-4"></div>
	  	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
	  	<h4><?php echo __('Reset password form'); ?>ا</h4>
	  	<br>
		<?php 
			if ($this->resetPasswordForm) {
				$resetPasswordForm = $this->resetPasswordForm;
				$resetPasswordForm->prepare();
				echo $this->form()->openTag($resetPasswordForm);

		?>
		<div class="form-group has-success">
		<label class="control-label"><?php echo $this->formLabel($resetPasswordForm->get('email')); ?></label>
             <?php echo $this->formElement($resetPasswordForm->get('email'));
             echo $this->formElementErrors($resetPasswordForm->get("email")); ?>
        </div>			
        <div class="form-group has-success">
        <label class="control-label"><?php echo $this->formLabel($resetPasswordForm->get('password')); ?></label>
             <?php echo $this->formElement($resetPasswordForm->get('password')); 
             echo $this->formElementErrors($resetPasswordForm->get("password"));?>
        </div>			
        <div class="form-group has-success">
        <label class="control-label"><?php echo $this->formLabel($resetPasswordForm->get('password_repeat')); ?></label>
             <?php echo $this->formElement($resetPasswordForm->get('password_repeat'));
             echo $this->formElementErrors($resetPasswordForm->get("password_repeat")); ?>
        </div>
		<?php 
			echo $this->formElement($resetPasswordForm->get('csrf_security')); 
			echo $this->formElementErrors($resetPasswordForm->get("csrf_security"));
			echo $this->formElement($resetPasswordForm->get('submit')); 
			echo $this->form()->closeTag();
			}
		?>
       	<br>
       	<br>
       	<br>
       </div>
	   <div class="col-lg-4 col-md-4"></div>
	 </div>
</div>
