<?php 
	$this->headLink()->appendStylesheet('/css/full-slider.css');
?>
<!--About Us-->	
        <div id="mhd_service" class="container">
            <div class="row">
			<!--About Us___image-->	
                <div class="col-md-6 mhd_service">
                    <div >
						<div class="box effect2">
							<img src="images/nikminingco/img1.png" alt="">
						</div>
                    </div>
                </div>
			<!--About Us___text-->	
                <div class="col-md-6 mhd_service">
                    <div class="mhd_service_title">درباره ما</div>
					<br/>
                    <div class="mhd_service_text">
                        <p>
                            <?php 
                               // echo $this->getPlugin('about/index/index');
                            ?>
                        </p>
                        <div class="clear"></div>
                    </div>
                    <div class="mhd_morebutton"><a href="#">بیشتر</a></div>
                </div>
            </div>
<!--Analize-->	
            <div class="row mhd_ordering">
				  <!--Analize___text-->	
                  <div class="col-md-6 mhd_service">
                    <div class="mhd_service_title">آنالیز آزمایشگاهی</div>
					<br/>
                    <div class="mhd_service_text">
                        <p>
                         <?php 
                             //   echo $this->getPlugin('laboratory/index/index');
                            ?>
                            						</p>
                        <div class="clear"></div>
                    </div>
                    <div class="mhd_morebutton"><a href="#">بیشتر</a></div>
                </div>
				 <!--Analize___image-->
                <div class="col-md-6 mhd_service">
                    <div >
						<div class="box effect2">
							<img src="images/nikminingco/img2.png" alt="mhd_frame">
						</div>
                    </div>
                </div>
            </div>
<!--Tehran weather -->
			<div class="row mhd_ordering">
				<div class="col-md-6 mhd_service">
                    <div >
						<div class="box2 effect2">
							<div class="contactHeader">
								
								<h4>آب و هوای تهران</h4>
								<script language="javascript" src="http://www.ParstoolS.com/weather/code2/?city=IRXX0018&bgcolor=transparent&textcolor=000000&width=180&height=300">
								</script>
								<?php 
// 								$locale['ywf001'] = "وضعیت آب و هوا با یاهو!";
// 								echo "<div class='scrollable vertical'>
// 	                                   <div id='test' class='items'></div>
//                                         </div>
//                                         <div class='navi'></div>";
// 								?>
						    </div >
						</div>
                      
                    </div>
                </div>
<!--contact Us -->
                <div class="col-md-6 mhd_service">
						<div class="box2 effect2">
							<div class="contactHeader">
								<h4>تماس با ما</h4>
						    </div >
							<div >
								<ul class="contact">
									<li>
    									<span class="icon-location"></span>
    									<span class="contactText">تهران،میدان آرژانتین، خیابان الوند، بن بست آفرین، پلاک 11</span>
									</li>
									<li>
    									<span class="icon-phone"></span>
    									<span class="contactText">021-22222222</span>
									</li>
									<li>
    									<span class="contactText">info@nikminingco.com</span>
    									<span class="icon-mail"></span>
									</li>
								</ul>
							</div>
<!--socialNetwork -->
                           <div class="socialNetwork">
						    <ul >
                                <li class="btn-circle">
                                    <a href="#">
                                        <span class="icon-googleplus"></span>
                                    </a>
                                </li>
                                <li class="btn-circle">
                                    <a href="#">
                                        <span class="icon-facebook"></span>
                                    </a>
                                </li>
                                <li class="btn-circle">
                                    <a href="#">
                                        <span class="icon-twitter"></span>
                                    </a>
                                </li>
                                <li class="btn-circle">
                                    <a href="#">
                                        <span class="icon-skype"></span>
                                    </a>
                                </li>
                               
                            </ul>
                         </div>
					</div>
                </div>
            </div>
</div>