<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<section id="back-img">
    <div class="" style="background-image: url('../images/back.jpg');"></div>
</section>
<section id="single_content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 rtl-text-right">
                <!--begin breadcrumb-->
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                    <li class="active">جستجو</li>
                </ol>
                <!--end breadcrumb-->
                <div class="box-title">
					<h2 class="title">جستجو</h2>
				</div>
				<section id="page-slideshow">
				    
                    <?php
                    if (isset($slideshowPlugin['code']))  eval($slideshowPlugin['code']);
                    ?>
				</section>
               <div class="single_content_main col-md-12">
                    <article>
                    	<?php
                            use Application\Helper\GeneralHelper;
                            if ($this->links) { ?>
                                <?php foreach ($this->links as $link) { ?>
                                    <div class="row">
                                   <!-- Single Service Starts -->
                                    <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 service  text-right col-rtl">
                                     <!-- normal -->
                                <!-- end normal -->
                                    	<div class="services-title text-right">
                                    		<a href="<?php echo $link['url']; ?>"> <?php echo $link['title']; ?> </a>
                                    	</div>
                                    </div>
                                    </div>
                                    <!-- Single Service Ends -->
                                <?php }?>
                            <?php } ?>
                            <?php 
                            if ($this->links) { ?>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                           <footer class="main-content-title mhd-paginator">
                                               <?php 
                                               echo $this->paginationControl($this->links, 'Sliding', 'layout/paginator', array(
                                        				'route' => 'application',
                                        				'params' => array(
                                        				'action' => 'search', 
                                        				'page' =>   $this->page, 
                                                        'query' =>  $this->query,
                                        				    
                                        				)
                                        		));
                                        		?>
                                            </footer>
                                        </div>
                                    </div>
                            <?php }?>
	                </article> 
               </div>
            </div>
        </div>
    </div>
</section>


<script>
$(document).ready(function() {
	$(".addtofavoritebutton").click(function(e){
		e.preventDefault();
		var productId = $(this).data('product-id');
		var elm = $(this);
		   $.ajax({
		      url: '/shop-user-ajax-update-favorite/update-favorite',
		      type:'POST',
		      data: 
			      {
		    	    productId: productId, 
			      },
			      success:function(result) {
				        if(result !== "false") {
		                        $(elm).children().effect("shake", {
		                            times: 3,
		                            direction :"left"
		                        }, 500);
				        	
				        } 
				      }
		   });
	});
	
	$(".addtocardbutton").click(function(e){
		e.preventDefault();
		var productQuantity = $(this).find(".productQuantity").val();
		var productId = $(this).data('product-id');
		var elm = $(this);
		   $.ajax({
		      url: '/shop-user-ajax-update-card',
		      type:'POST',
		      data: 
			      {
		    	    productId: productId, 
		    	    productQuantity: productQuantity, 
			      },
		      success:function(result) {
		        if(result !== "false") {
		        	$(elm).children().effect("shake", {
                        times: 3,
                        direction :"left"
                    }, 500);
		        	data = jQuery.parseJSON(result);
		        	$(".basketTotalQuantity").text(data.totalQuantity);

		                var cart = $('.basket');
		                var imgtodrag = elm.parents('.col-product').find(".product_images");
		                //if (imgtodrag) {
		                    var imgclone = imgtodrag.clone()
		                        .offset({
		                        top: imgtodrag.offset().top,
		                        left: imgtodrag.offset().left
		                    })
		                        .css({
		                        'opacity': '0.5',
		                            'position': 'absolute',
		                            'height': '150px',
		                            'width': '150px',
		                            'z-index': '100'
		                    })
		                        .appendTo($('body'))
		                        .animate({
		                        'top': cart.offset().top + 10,
		                            'left': cart.offset().left + 10,
		                            'width': 75,
		                            'height': 75
		                    }, 2000, 'easeInOutExpo');
		                    
		                    setTimeout(function () {
		                        cart.effect("shake", {
		                            times: 3
		                        }, 500);
		                    }, 1500);

		                    imgclone.animate({
		                        'width': 0,
		                            'height': 0
		                    }, function () {
		                        $(this).detach()
		                    });
		        } 
		      }
		   });
	});
});
</script>