<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<style>
#cssmenu > ul > li > a {
    color: #f3e8e8 !important;
    text-shadow: 1px 1px 1px #131010 !important;
}
</style>
<div class="">
<div class="header-bg">
    <h1>پروفایل من</h1>
</div>
<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link" href="/">
									<?php echo __('Home'); ?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									پروفایل من
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
</section>
	<section id="content">
        <div class="container text-right form-content">
        	 <?php 
                $userForm = $this->userForm;
        	    $userForm->prepare();
        	    
        	    $companyForm = $this->companyForm;
        	    $companyForm->prepare();
        	    
        	    echo $this->form()->openTag($userForm);
                
        	    
        	    
            ?>
<!--        		 <form action="" name="CompanyForm" method="post"> -->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">نام کاربری</label>
                        		<?php echo $this->formElement($userForm->get('username'));
                        	    echo $this->formElementErrors($userForm->get("username"));
                        	    ?>
                    	  </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">آدرس ایمیل</label>
                        		<?php echo $this->formElement($userForm->get('email'));
                        	    echo $this->formElementErrors($userForm->get("email"));
                        	    ?>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">نام شرکت</label>
                        		<?php echo $this->formElement($companyForm->get('company_name'));
                        		echo $this->formElementErrors($companyForm->get("company_name"));
                        	    ?>
<!--                             	<input name="company_name" id="" class="form-control"  placeholder="نام شرکت" value="" type="text"> -->
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">سابقه شرکت</label>
                        		<?php echo $this->formElement($companyForm->get('company_history'));
                        		echo $this->formElementErrors($companyForm->get("company_history"));
                        	    ?>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">نام مسئول</label>
                        		<?php echo $this->formElement($companyForm->get('manager_name'));
                        		echo $this->formElementErrors($companyForm->get("manager_name"));
                        	    ?>
<!--                             	<input name="manager_name" id="" class="form-control"  placeholder="نام مسئول" value="" type="text"> -->
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">شماره تماس</label>
                        		<?php echo $this->formElement($userForm->get('phone'));
                        		echo $this->formElementErrors($userForm->get("phone"));
                        	    ?>
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">شماره همراه</label>
                        		<?php echo $this->formElement($userForm->get('mobile'));
                        		echo $this->formElementErrors($userForm->get("mobile"));
                        	    ?>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">شماره فاکس</label>
                        		<?php echo $this->formElement($companyForm->get('fax'));
                        		echo $this->formElementErrors($companyForm->get("fax"));
                        	    ?>
                    	   </div>
                    </div>
                </div>
                   <div class="row">
                      <div class="form-group">
                    		<label class="control-label">آدرس</label>
                		</div>
            		</div>
                   <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                          <div class="form-group">
                          		<?php echo $this->formElement($userForm->get('area'));
                    	  		echo $this->formElementErrors($userForm->get("area"));
                        	    ?>
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                          <div class="form-group">
                          	   <?php echo $this->formElement($userForm->get('district'));
                    	  		echo $this->formElementErrors($userForm->get("district"));
                        	    ?>	
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                         		<?php echo $this->formElement($userForm->get('address'));
                    	  		echo $this->formElementErrors($userForm->get("address"));
                        	    ?>
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-left">
                    	<?php 
                    		echo $this->formElement($userForm->get('csrf'));
                    		echo $this->formElementErrors($userForm->get("csrf"));
                    		echo $this->formElement($userForm->get('submit'));
                    	?>
                    </div>
                </div>
            </div>
            <?php echo $this->form()->closeTag(); ?>
    </section>
</div>