<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<!-- <script src="jquery.serializeObject.js"></script> -->
<div class="">
<div class="header-bg text-right">
    <h1><?php echo $this->printService['title'];?></h1>
</div>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li>
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/main-category">
    					سفارش خدمات
    				</a>
    			</li>
    			<li>
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/second-category/<?php echo $this->printService['type_id'];?>">
    					<?php echo $this->printService['services_type_title'];?>
    				</a>
    			</li>
    			<li>
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/category/<?php echo $this->printService['parent_id'];?>">
    					<?php echo $this->printService['parent_title'];?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<?php echo $this->printService['title'];?>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
	<section id="service-content">
        <div class="container text-right form-content">
        	<form id="attribuesForm" name="attribuesForm" method="post" enctype="multipart/form-data">
                 <input name="print_service_id" type="hidden" value="<?php echo $this->printService['id'];?>">
                 <?php if($this->layout()->office){ if($this->layout()->userData->user_group_id == 7){ ?>
                	 <div class="row">
                	       <div class="col-md-12">
                        	    <div class="text-center"><h3 style="color:#e94b35; font-size:20px;margin:20px 0;"><?php echo $this->layout()->office;?></h3></div>
                	       </div>
            	      </div>
                <?php } }?>
                
        		<div class="row">
            	   <div class="col-md-12">
                	   <div class="alert warning warning-form" style="position:relative;width:100%;border-radius:3px;">
                            <p>
                                فرمتهای مجاز : .jpg .jpeg .psd .pdf .tiff .tif .png
                            </p>
                        </div>
                    </div>
            	</div>
                <div class="row">
                	<div class="col-xs-12 col-md-6 col-lg-3">
                	   <div class="request-title">
                	       <i class="fa fa-circle"></i>
                	       <?php echo $this->printService['title'];?>
                	   </div>
                	   <div class="request-img">
                	   	   <?php if($this->printService['image']){ ?>
                	       		<img src="/uploads/services/<?php echo $this->printService['image']?>" class="img-responsive"/>
                	   	   <?php }else{ ?>
                	   	   		<img src="/images/default-img.jpg" class="img-responsive"/>
                	   	   <?php } ?>
                	   </div>
                	   <div class="box-property text-right">
                            <span>ویژگی&zwnj;های محصول</span>
<!--                             <ul class="Property-product"> -->
                            <?php echo $this->printService['description']?>
<!--                                 <li> -->
<!--                                     ابعادبزرگ -->
<!--                                 </li> -->
<!--                                 <li> -->
<!--                                     ضخامت مناسب -->
<!--                                 </li> -->
<!--                                 <li> -->
<!--                                     کیفیت چاپ مطلوب -->
<!--                                 </li> -->
<!--                                 <li> -->
<!--                                     هماهنگی با داخلی 113 -->
<!--                                 </li> -->
<!--                             </ul> -->
                        </div>
                        <br/>
                	</div>
                	<div class="col-xs-12 col-md-6 col-lg-5">
                		<?php if($this->printService['office_status'] == 1){ ?>
                		<div class="form-group">
                    		<label class="control-label">دفتر فنی</label>
                    		<select class="form-control attribute office_id" name="office_id">
                    			<option value=" ">انتخاب کنید</option>
                    			<?php foreach ($this->offices as $office){?>
                    				<option value="<?php echo $office['id']?>"><?php echo $office['office_name']?></option>
                    			<?php } ?>
                    		</select>
                    	</div>
                    	<?php }else{ ?>
                    		<input type="hidden" value="0" name="office_id">
                    	<?php } ?>
                    	<div class="form-group">
                    		<?php foreach ($this->get as $input){?>
                    		<label class="control-label"><?php echo $input['attribute_title']?></label>
                    		<select class="form-control attribute" name="attribute[]">
                    			<option value="Select Subject">انتخاب کنید</option>
                    			<?php foreach ($input['options'] as $option){?>
                    				<option class="option-dir"><?php echo $option?></option>
                    			<?php } ?>
                    		</select>
                    		<?php } ?>
                    	</div>
                	</div>
                	<div class="col-xs-12 col-md-12 col-lg-4">
                	   <div class="price-product box-product element-product-left">
                            <p class="admin-price">
                                <span class="title-field">
                                    <img src="/images/badg.png" alt="#">
                                    قیمت کف بازار :</span>
                                <span class="field-price field-admin-price">0</span>
                                تومان
                        		<input type="radio" name="choose price" class="choose-price" value="admin">
                        	</p>
                        	
                        	<p style="display:none" class="office-price">
                                <span class="title-field">
                                    <img src="/images/badg.png" alt="#">
                                    قیمت دفتر فنی :</span>
                                <span class="field-price field-office-price">0</span>
                                تومان
                        		<input type="radio" name="choose price" class="choose-price" value="office">
                        	</p>
                        </div>
                        <div class="time-delivery box-product element-product-left">
                            <p class="admin-time">
                                <span class="title-field">
                                    <img src="/images/calender.png" alt="#">
                                   زمان تحویل کف بازار   :</span>
                                <span class="day feild-delivery field-admin-delivery"></span>
                            </p>
                            <p style="display:none" class="office-time">
                                <span class="title-field">
                                    <img src="/images/calender.png" alt="#">
                                  زمان تحویل دفتر فنی :</span>
                                <span class="day feild-delivery field-office-delivery"></span>
                            </p>
                        </div>
                        <div class="form-group">
                    		<label class="control-label">توضیحات فایل</label>
                    		<textarea name="file_desc" class="form-control"></textarea>
                		</div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <br/>
                                <div><i class="fa fa-chevron-left"></i>جهت انتخاب تصویر دوبار کلیک کنید</div>
                                <br/>
                                <div>
                                	<div id="dropzone-wrapper">
                                		<div id="textbox-wrapper"><div id=textbox></div></div>
                                		<div id="dropzone"></div>
                                	</div>
                                	<div id="errormessages"><span style="display: none;"></span></div>
                                	<div id="overlay"></div>
                                </div>
                                <div style="float: right;">
                                	<h6 style="font-size:13px;">پیش نمایش:</h6>
                                	<div id="output"><ul></ul></div>
                                </div>
                                <div style="clear:both;"></div> -->
                                <div class="service-wrap">
                                    <div class="multiple-file-upload-wrap multiple-file-upload">
                                    	<div class="already-uploaded-files">
<!--                                       <div class="aup-title">فایل های آپلود شده </div> -->
<!--                                       <div class="aup-item forDelete"> -->
<!--                                         <span class="aup-file-name">Hello.pdf</span> -->
<!--                                         <span class="aup-delete-btn mfuDeleteBtn" data-url="http://jsfiddle.net/echo/js/?js=hello%20world!" data-send="255">Delete</span> -->
<!--                                         <div class="aup-server-response server-response"></div> -->
<!--                                         <div class="mfu-clear"></div> -->
<!--                                       </div> -->
<!--                                       <div class="aup-item forDelete"> -->
<!--                                         <span class="aup-file-name">Hello.pdf</span> -->
<!--                                         <span class="aup-delete-btn mfuDeleteBtn" data-url="http://jsfiddle.net/echo/js/?js=hello%20world!" data-send="255">Delete</span> -->
<!--                                         <div class="aup-server-response server-response"></div> -->
<!--                                         <div class="mfu-clear"></div> -->
<!--                                       </div> -->
<!--                                     </div> -->
                                        <div class="mfu-hide" id="mfu-item-template">
                                          <div class="mfu-item">
    <!--                                         <label class="mfu-file-number" for="mfu-file-{{ITEM_NUMBER}}">{ITEM_NUMBER}</label> -->
                                            <input class="mfu-file-input" type="file" name="images[]" id="mfu-file-{{ITEM_NUMBER}}" />
                                          </div>
                                        </div>
                                    	<div id="mfu-items-container"></div>
                                    	<div class="mfu-new-item-btn btn btn-primary" id="mfu-new-item-btn">آپلود فایل جدید</div>
                                    	<div class="mfu-clear"></div>
                              		</div>
                                </div>
                           
                            </div>
                        </div>
                        <br/>
                        <div class="row">
								<div class="addtobasket btn-services">
<!-- 									<input class="cd-add-to-cart" value="افزودن به سبد خرید" data-id="3" data-image="aae49249aec4d53318b048f70c1c6b6a.jpg" data-price="2563" data-name="test3"> -->
									<a href="#3" class="cd-add-to-cart request-add" data-id="<?php echo $this->printService['id'];?>" data-image="<?php echo $this->printService['image']?>" data-price="2563" data-name="<?php echo $this->printService['title']?>"><i class="fas fa-cart-plus"></i>افزودن به سبد خرید</a>
								</div>
                            </div>
                        </div>
                        <br/>
                	</div>
            	</div>
            	</div>
        	</form>
        </div>
    </section>
</div>
<div id="basketmodal" role="dialog" class="modal fade basket-message">
  <div class="modal-dialog  modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">نمایش نتیجه</h4>
      </div>
      <div class="modal-body">
        <p id="spanModal"> </tr></td>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button> 
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
<!-- - MODAL END --> 
<script>
$(document).on('click', '.cd-add-to-cart', function() { //alert($(this).data('price'));
	$("#spanModal").html('لطفا صبر نمایید...');
	$('.basket-message').modal(); 
	var attrGp = $('.price-product').find('#attributes-group');	
	var count = $('#cart .div-top span');
	var image = $(this).data('image');
	var name = $(this).data('name');
	var price = $(this).data('price');
	var id = $(this).data('id');
	var total = $('.shopping-cart-total .main-color-text');
	if(attrGp.length > 0){
		// Get form
        var form = $('#attribuesForm')[0];
		// Create an FormData object 
        var data = new FormData(form);
        $.ajax({
	        type:'POST',
	        enctype: 'multipart/form-data',
	        url:'/services/' + $(this).data('id'),
	        data:data,
	        processData: false,
            contentType: false,    
	         success:function(data){ console.log(data);
	        	 // var data = JSON.parse(data);
	        	 if(data == 'empty price'){
// 	        		 alert('لطفا قیمت مورد نظر خود را انتخاب کنید.');
	        		 $("#spanModal").html('لطفا قیمت مورد نظر خود را انتخاب کنید.'); 
// 	 				 $('.basket-message').modal(); 
	        	 } else{
	        		 $(count).text(Number($(count).text()) + 1);
	        		 $(total).text(Number($(total).text()) + price);
	        		 var item = '<li class="clearfix">'+
	                 	'<img src="/uploads/services/' + image + '" alt="item1" />'+
	                     '<span class="item-name">' + name + '</span>'+
	                     '<span class="item-price">' + price + '  ریال </span>'+
	                     '<span class="item-quantity">تعداد: <span>1</span></span>'+
	           	 	 '</li>';
					 $(".shopping-cart ul").append(item);
// 					 alert('سفارش شما به سبد خرید اضافه شد.');
					 $("#spanModal").html('سفارش شما به سبد خرید اضافه شد.'); 
// 	 				 $('.basket-message').modal(); 
	        	 }
	         }
		});
	}
});
$(document).on('change', '.choose-price', function() {
// 	console.log(document.getElementById("group-id").value);
	var price = $(this).parent().find('.field-price').text();
	var id = $(this).parent().find('.group-id').val();
	$('.price-product').find('#attributes-group-price').val(price);
	$('.price-product').find('#attributes-group').val(id);
	$('.cd-add-to-cart').attr('data-price', price);
	var officeId = $('.office_id').val();
	if($(this).val() == 'admin'){
		$('.price-product').find('#office').val(0);
// 		alert('admin');
// 		$('.price-product').append('<input id="office" name="office" type="hidden" value="' + 0 + '">');
	}else{
		$('.price-product').find('#office').val(officeId);
// 		alert('office');
// 		$('.price-product').append('<input id="office" name="office" type="hidden" value="' + officeId + '">');
	}
// 	$('.price-product').append('<input id="attributes-group-price" name="attributes_group_price" type="hidden" value="' + price + '">');
// 	$('.price-product').append('<input id="attributes-group" name="attributes_group_id" type="hidden" value="' + id + '">');
});
$(document).on('change', '.attribute', function() { //alert('a');
	 $('.field-price').text('0');
     $('.feild-delivery').empty();
     $('#attributes-group').remove();
     $('#attributes-group-price').remove();
     $('#office').remove();
	 if ($(".attribute option:selected[value='Select Subject']").length == 0) {
		 $.ajax({
	         type:'POST',
	         url:'/forms',
	         data:$('form').serializeArray(),
	         success:function(data){
	        	 var data = JSON.parse(data);
// 	        	 console.log(data);
// 				 var office = JSON.parse(data['office']) ;
// 				 var admin = JSON.parse(data['admin']);
// 	        	 console.log(data.Admin);
				 if(data['office']){
					if(data['office'] != false){
    	        		 $('.office-price').css('display','block');
    	        		 $('.office-time').css('display','block');
    	        		 $('.field-office-price').text(data['office']['price']);
    		             $('.field-office-delivery').text(data['office']['time']);
    	        		 $('.office-price').append('<input class="group-id" id="office-attributes-group" name="office_attributes_group_id" type="hidden" value="' + data['office']['id'] + '">');
    // 	        		 $('.price-product').append('<input id="attributes-group-price" name="attributes_group_price" type="hidden" value="' + data.price + '">'); 
    	        	 } 
				 }
	        	 if(data['admin'] != false){
	        		 $('.field-admin-price').text(data['admin']['price']);
		             $('.field-admin-delivery').text(data['admin']['time']);
		             $('.admin-price').append('<input class="group-id" id="admin-attributes-group" name="admin_attributes_group_id" type="hidden" value="' + data['admin']['id'] + '">');
	        	 } 
	        	 $('.price-product').append('<input id="attributes-group-price" name="attributes_group_price" type="hidden" value="0">');
        		 $('.price-product').append('<input id="attributes-group" name="attributes_group_id" type="hidden" value="0">');
        		 $('.price-product').append('<input id="office" name="office" type="hidden" value="' + 0 + '">');	        	 
	         }
		});  
	  }
});

</script>
<script>
/*
jQuery Image upload
Images can be uploaded using:
* File requester (Double click on box)
* Drag&Drop (Drag and drop image on box)
* Pasting. (Copy an image or make a screenshot, then activate the page and paste in the image.)

Works in Mozilla, Webkit & IE.
*/

(function ( $ ) {
	$.fn.imageUpload = function( options ) {
		var settings = $.extend({
			outputHandler: function() {}, // Callback function for processing output. Parameter is image source in base64 format
			onBeforeUpload: function() {},// Callback function called before upload processing
			onAfterUpload: function() {},	// Callback function called after upload processing
			maxUpload: 3,				// Max number of image files allowed to be uploaded.
			errorMsg: 'Error: The file you just uploaded is not an image!',
			trigger: 'click', 			// possible values: "click", "dblclick" or null
			errorContainer: null,		// Container for error message
			enableCliboardCapture: true, // Enable clipboard capturing
			enableDebug: true			// enable debugging output in console
		}, options );

		var $this = $(this), dragging = false, pasting = false;

		var $uploadField = $('<input type="file" style="display:none" name="fileselect[]" multiple="multiple" accept="image/*, .gif, .png, .jpg" />');

		// Create capture area for Mozilla & IE
		var $contentEditable = $('<div contenteditable="true" style="position:absolute;overflow:hidden;top:-20px;width:0;height:0;" />');

		// Get file type from image data uri.
		var getFileExtension = function(imgSrc) {return imgSrc.replace(/data:image\/([^;]*).*/ig, ".$1");};

		// Get mime type from data uri.
		var getFileType = function(imgSrc) {return imgSrc.replace(/data:([^;]*).*/ig, "$1");};

		// Error display
		var errorHandler = function(error) {
			if (error && settings.errorContainer !== null) {
				settings.errorContainer.html(settings.errorMsg).fadeIn(1000,function() {
					$(this).delay(5000).fadeOut(1000);
				});
			}
		};

		var readFile = function(file) {
			var reader = new FileReader();
			$(reader).on('load', file, function(e){
				var returnValue = {
					name: (e.data.name ? e.data.name :'CB_Image_' + (+new Date()) + getFileExtension(e.target.result)),
					type: (e.data.type ? e.data.type : getFileType(e.target.result)),
					size: (e.data.size ? e.data.size : 'n/a'),
					imgSrc: e.target.result
				};
				// Execute outputHandler callback function if available
				$.isFunction(settings.outputHandler) && settings.outputHandler.call(this, returnValue);
 		   		// Execute onAfterUpload callback function if available
 		  		$.isFunction(settings.onAfterUpload) && settings.onAfterUpload.call(this);
			});
			reader.readAsDataURL(file);
		};

		// Upload processing
		var processUpload = function(files, originalEvent) {
			var error = false, imageFound = false, count = 0;
			if (files !== null) {
				for (var i = 0; i < files.length; i++) {
					if (files[i].type.indexOf("image") == -1) {
						 //not image
						error = true;
						continue;
					}
					if (count == settings.maxUpload) break; // Max reached
					count++;
					imageFound = true;

					// Webkit clipboard data needs data converted through getAsFile()
					var blob = (typeof originalEvent !== 'undefined' && !originalEvent.msConvertURL) ? files[i].getAsFile() : files[i];

					readFile(blob);
				}
				if (!imageFound) {
		 			// Execute onAfterUpload callback function if available
		 			$.isFunction(settings.onAfterUpload) && settings.onAfterUpload.call(this);
				}
				errorHandler(error);
			}
		};

		// Alternate clipboard capturing function for Mozilla
		var mozillaCaptureFunc = function() {
			pasting = false;
	   		var img = $contentEditable.find('img'), error = true;
			if (img.length) {
				error = false;
				var returnValue = {
					name: 'CB_Image_' + (+new Date()) + getFileExtension(img[0].src),
					type: getFileType(img[0].src),
					size: 'n/a',
					imgSrc: img[0].src
				};
				// Execute outputHandler callback function if available
				$.isFunction(settings.outputHandler) && settings.outputHandler.call(this, returnValue);
			}
			// Remove "input" event handler and clear capture area
			$contentEditable.off('input',mozillaCaptureFunc).text('');
			errorHandler(error);
			// Execute onAfterUpload callback function if available
			$.isFunction(settings.onAfterUpload) && settings.onAfterUpload.call(this);
		};

		// Paste handler
		var pasteHandlerFunc = function(e) {

			// Remove existing Mozilla "input" event handler
			$contentEditable.off('input',mozillaCaptureFunc);

			// Execute onBeforeUpload callback function if available
			$.isFunction(settings.onBeforeUpload) && settings.onBeforeUpload.call(this);

			var clipboardData = e.originalEvent.clipboardData || window.clipboardData;
			if (clipboardData === false || clipboardData === undefined) {
			 	// empty
				// Execute onAfterUpload callback function if available
				$.isFunction(settings.onAfterUpload) && settings.onAfterUpload.call(this);
				pasting = false;
				return false;
			}

			var files = clipboardData.items || clipboardData.files;

			// No Items or files, so either nothing in clipboard or Mozilla browser
			if (files.length === 0) {
				// Enable "input" event handler for Mozilla, and set focus
				$contentEditable.on('input',mozillaCaptureFunc).focus();
			}
			else {
				pasting = false;
				processUpload(files, e.originalEvent);
				e.preventDefault();
			}
		};

		// Alternate triggering metod for clipboard capturing, required for IE & Mozilla
		var keydownHandlerFunc = function(e) {
			if (!pasting && (e.ctrlKey || e.metaKey) && e.which == 86) {
				pasting = true;
				$contentEditable.focus();
			}
		};

		// Alternative to css :hover, adding class "dropzonehover" to body tag.
		var mouseenterHandlerFunc = function(e) {
			e.preventDefault();
			if (!$('body').hasClass('dragging')) $('body').addClass('dropzonehover');
		};
		var mouseleaveHandlerFunc = function(e) {
			e.preventDefault();
			$('body').removeClass('dropzonehover');
		};

		// Submit handler to trigger hidden 'input type="file"' upload field
		var submitFunc = function(e) {
			e.preventDefault();
			$uploadField.trigger('click');
		};
		// File upload handler
		var uploadFunc = function(e) {
			e.preventDefault();
			processUpload(e.target.files);
		};
		// "drop" handler
		var dropHandlerFunc = function(e) {
			e.preventDefault();
			$('body').removeClass('dragging dragover');
			dragging = false;
			processUpload(e.originalEvent.dataTransfer.files);
		};
		// General handler for preventing propragation and default action
		var preventHandlerFunc = function(e) {
			e.preventDefault();
			e.stopPropagation();
		};
		// Dragover handler for preventing propragation and default action
		var preventDragoverHandlerFunc = function(e) {
			e.preventDefault();
			e.stopPropagation();
      	   		e.originalEvent.dataTransfer.dropEffect = 'none';
			try {
				// IE won't allow setting of effectAllowed
				e.originalEvent.dataTransfer.effectAllowed = 'none';
               } catch(err) {}
		};
		// "dragover" handler
		var dragoverHandlerFunc = function(e) {
			e.preventDefault();
			e.stopPropagation();
       		e.originalEvent.dataTransfer.dropEffect = 'copy';
			try {
				// IE won't allow setting of effectAllowed
				e.originalEvent.dataTransfer.effectAllowed = 'copyMove';
               } catch(err) {}
		};
		// "dragenter" handler, adding class "dragover" to body tag.
		var dragenterHandlerFunc = function(e) {
			e.preventDefault();
			$('body').addClass('dragover');
		};
		// "dragleave" handler, removing class "dragover" from body tag.
		var dragleaveHandlerFunc = function(e) {
			e.preventDefault();
			$('body').removeClass('dragover');
		};

		// Pseudo "dragstart" handler, adding class "dragging" to body tag.
		var dragstartHandlerFunc = function(e) {
			e.preventDefault();
			e.stopPropagation();
			if (!$('body').hasClass('dragging') && !dragging) {
				$('body').addClass('dragging');
				dragging = true;
			}
		};
		// Pseudo "dragend" handler, removing class "dragging" from body tag.
		var dragendHandlerFunc = function(e) {
			e.preventDefault();
			e.stopPropagation();
			if ($('body').hasClass('dragging') && dragging) {
				$('body').removeClass('dragging');
				dragging = false;
			}
		};

		// Enable clipboard capturing
		if (settings.enableCliboardCapture) {
			$contentEditable.appendTo('body').focus();
			$(window).on({
				keydown: keydownHandlerFunc, // IE & Mozilla
				paste: pasteHandlerFunc
			});
		}

		// Enable file requester upload
		if (settings.trigger !== null) {
			$uploadField.on('change',uploadFunc).appendTo('body').blur();
			$this.on(settings.trigger, submitFunc);
		}
		// Enable drag and drop upload
		$this.on({
			dragenter: dragenterHandlerFunc,
			dragleave: dragleaveHandlerFunc,
			dragover: dragoverHandlerFunc,
			drop: dropHandlerFunc,
			mouseenter: mouseenterHandlerFunc,
			mouseleave: mouseleaveHandlerFunc
		});
		// Prevent dropping outside droparea
		// Since dragstart and dragend is not triggered when dragging local files,
		// the "html" tag is used as fake "triggers" (Using "body" tag has problems)
		$('html').on({
			dragbetterenter: dragstartHandlerFunc,
			dragbetterleave: dragendHandlerFunc,
			dragover: preventDragoverHandlerFunc,
			drag: preventHandlerFunc,
			drop: preventHandlerFunc
		});
		// chainable
		return this;
	};
}( jQuery ));

jQuery(document).ready(function($) {
	$(':input[type="submit"]').prop('disabled', true);
	// Shared callback handler for processing output
	var outputHandlerFunc = function(imgObj) {

		var sizeInKB = function(bytes) {return (typeof bytes == 'number') ? (bytes/1024).toFixed(2) + 'Kb' : bytes;};

		var getThumbnail = function(original, maxWidth, maxHeight, upscale) {
			var canvas = document.createElement("canvas"), width, height;
			if (original.width<maxWidth && original.height<maxHeight && upscale == undefined) {
				width = original.width;
				height = original.height;
			}
			else {
				width = maxWidth;
				height = parseInt(original.height*(maxWidth/original.width));
				if (height>maxHeight) {
					height = maxHeight;
					width = parseInt(original.width*(maxHeight/original.height));
				}
			}
			canvas.width = width;
			canvas.height = height;
			canvas.getContext("2d").drawImage(original, 0, 0, width, height);
			$(canvas).attr('title','Original size: ' + original.width + 'x' + original.height);
			return canvas;
		}



		$(new Image()).on('load', function(e) {
console.log('imgobj',e)
			var $wrapper = $('<li class="new-item"><div class="list-content"><span class="preview"></span><span class="type">' + imgObj.type + '<br>' + (e.target.width + '&times;' + e.target.height) + '<br>' + sizeInKB(imgObj.size) + '</span><span class="name">' + imgObj.name +'</span><span class="options"><span class="imagedelete" title="Remove image"></span></span></div></li>').appendTo('#output ul');
			$('.imagedelete',$wrapper).one('click',function(e) {
				$wrapper.toggleClass('new-item').addClass('removed-item');
				$wrapper.one('animationend webkitAnimationEnd MSAnimationEnd oAnimationEnd', function(e) {
			   		$wrapper.remove();
			   	});
			});

			var thumb = getThumbnail(e.target,50,50);
			var $link = $('<a rel="fancybox">').attr({
				target:"_blank",
				href: imgObj.imgSrc
			}).append(thumb).appendTo($('.preview', $wrapper));

		}).attr('src',imgObj.imgSrc);

	}

	$("a[rel=fancybox]").fancybox();

    var fileReaderAvailable = (typeof FileReader !== "undefined");
    var clipBoardAvailable = (window.clipboardData !== false);
    var pasteAvailable = Boolean(clipBoardAvailable & fileReaderAvailable & !eval('/*@cc_on !@*/false'));

	if (fileReaderAvailable) {

		// Enable drop area upload
		$('#dropzone').imageUpload({
			errorContainer: $('span','#errormessages'),
			trigger: 'dblclick',
			enableCliboardCapture: pasteAvailable,
			onBeforeUpload: function() {$('body').css('background-color','green');console.log('start',Date.now());},
			onAfterUpload: function() {$('body').css('background-color','#fff');console.log('end',Date.now());},
			outputHandler:outputHandlerFunc
		})

		$('#dropzone').prev('#textbox-wrapper').find('#textbox').append('<p class="large">Drag and Drop<br>Image File here</p><p class="small">Doubleclick<br>for file requester</p>');
	}
	else {
		$('body').addClass('nofilereader');
	}

	if (!pasteAvailable) {
		$('body').addClass('nopaste');
	}

});

</script>
<script>
jQuery(document).ready(function($) {
	  if( $('.multiple-file-upload').length > 0 ) {
	    var itemTemplate = $('#mfu-item-template');
	    var itemsContainer = $('#mfu-items-container');
	    var itemNumber = 1;
	    
	    createMfuItem(itemTemplate, itemsContainer, itemNumber);
	    itemNumber++;
	    
	    $('#mfu-new-item-btn').click(function(e) {
	      createMfuItem(itemTemplate, itemsContainer, itemNumber);
	      itemNumber++;
	    });
	  }
	});

	function createMfuItem(itemTemplate, itemsContainer, itemNumber) {
	  itemTemplateHtml = itemTemplate.html().replace(/\{ITEM_NUMBER\}/g, itemNumber);
	  itemsContainer.append( itemTemplateHtml );
	}


	$("body").on('click', '.mfuDeleteBtn', function(e) {
	  console.log($(e.target).attr('data-send'));
	  $.ajax({
	    method: "POST",
	    url: $(e.target).attr('data-url'),
	    data: $(e.target).attr('data-send')
	  })
	  .done(function( msg ) {
	    $(e.target).closest('.forDelete').find('.server-response').html(msg).show();
	    var activitySelectWrap = $(e.target).closest(".forDelete");
	    activitySelectWrap.remove();
	  })
	  .fail(function() {
	    $(e.target).closest('.forDelete').find('.server-response').html('Ошибка удаления').show();
	  });
	});
</script>
<script>
        $(".box-property ul").addClass("Property-product");
</script>