<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<!-- <section id="back-img">
    <div class="" style="background-image: url('../images/login.jpg');"></div>
</section> -->
<style>
	#loginForm, #registrationForm
{
    margin: 50px;
}
#content {
    background: #f9f9f9;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -ms-box-shadow: 0 1px 0 #fff inset;
    -o-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 70px auto;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 50%;
    z-index: 9998;
}
#content h1 {
color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}
#content h1:before,
#content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 27%;
}
#content h1:after {
    background: rgb(126,126,126);
    background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
#content h1:before {
    background: rgb(126,126,126);
    background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
#content:after,
#content:before {
    background: #f9f9f9;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}
#content:after {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    top: 0;
    z-index: -1;
}
#content:before {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    top: 0;
    z-index: -2;
}
#content .about{
    text-align: justify;
    padding: 20px 40px;
    line-height: 2;
}
.btn-secondary{
    color: #fff !important;
    background-color: #545b62;
    border-color: #4e555b;
    font-size: 13px;
    font-weight: normal;
}
	</style>
<!-- slider -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <?php  echo $this->getPlugin('slideshow/index/index', 'signin'); ?>
            </div>
        </div>
    </div>
</section>
<section id="about2">
    <div class="container">
        <div class="row text-right">
            <div class="col-md-12">
                <div class="main-title">
                  ورود به سیستم
				</div>
            </div>
        </div>
    </div>
</section>
	<section id="sample" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					<div class="">
						<section class="prodetail_part1 clearfix cd-horizontal-timeline">
    					<div  id="content">
                              <!--  <h1 style="margin:20px 0px;"><?php //echo __("Login Form"); ?></h1>-->
									<div class="">
                                		<?php
                                			$loginSigninForm = $this->loginSigninForm;
                                			$loginSigninForm->prepare();
                                			echo $this->form()->openTag($loginSigninForm);
                                		?>
                                        <div class="form-group">
                                             <?php echo $this->formElement($loginSigninForm->get('username'));
                                                   echo $this->formElementErrors($loginSigninForm->get("username"));
                                             ?>
                                        </div>
                                        <div class="form-group">
                                             <?php echo $this->formElement($loginSigninForm->get('password'));
                                                   echo $this->formElementErrors($loginSigninForm->get("password"));
                                             ?>
                                        </div>
                                        <div class="form-group" style="text-align: right;">
                                            <label class="control-label"><?php echo $this->formLabel($loginSigninForm->get('remember_me')); ?></label>
                                             <?php echo $this->formElement($loginSigninForm->get('remember_me'));
                                                   echo $this->formElementErrors($loginSigninForm->get("remember_me"));
                                             ?>
                                        </div>
                                        <div class="form-group">
                                    		<?php 
                                    			echo $this->formHidden($loginSigninForm->get('csrf_security_login')); 
                                    			echo $this->formElementErrors($loginSigninForm->get("csrf_security_login"));
                                    			echo $this->formElement($loginSigninForm->get('submit')); 
                                    		?>
                                    		 <a href="<?php echo $this->url('application' , array("lang" => $this->layout()->lang, "action" => "forgot-password"));?>" class="btn btn-secondary submitLogin">
                                    		  <?php echo __("Forget password"); ?>
                                    		</a>
                                    		<!--<a href="<?php echo $this->url('application' , array("lang" => $this->layout()->lang, "action" => "signup"));?>" class="btn btn-third submitLogin">
                                    		  <?php //echo __("Sign up"); ?>
                                    		</a> -->
                                		</div>
                                		  <!--<div class="row">
                                		      <div class="col-md-12 register-link">
                                		          <div><i class="fa fa-chevron-left"></i><a href="/user-register" >ثبت نام کاربران (دفاتر فنی)</a></div>
                                		          <div><i class="fa fa-chevron-left"></i><a href="/user-register-seller" >ثبت نام کاربران (فروشندگان عمده)</a></div>
                                		          <div><i class="fa fa-chevron-left"></i><a href="/user-register-public" >ثبت نام کاربران (مشتریان عمومی)</a></div>
                                		          <div><i class="fa fa-chevron-left"></i><a href="/user-register-designer" >ثبت نام طراحان</a></div>
                                		      </div>
                                		  </div>-->
                                		<?php 
                                			echo $this->form()->closeTag();
                                		?>
                                    </div>


                        </section>
					</div>
				</div>
			</div>
		</div>
	</section>

  <script src="/js/login/index.js"></script>
<script>
/* $(document).ready(function(){
    $("#loginSigninForm").validationEngine(); 
    $('.submitLogin').click(function(e){ 
        e.preventDefault();
        if($("#loginSigninForm").validationEngine('validate')) 
        {
       	   $("#loginSigninForm").submit();
        }
    });
});  */
</script>
