<div class="small-form sl-direction">
    <div class="row">
        <div class="col-lg-12">
	  	<h4><?php echo __('Signup form'); ?></h4>
	  	<br>
		<?php 
			$registrationForm = $this->registrationForm;
			$registrationForm->prepare();
			echo $this->form()->openTag($registrationForm);
			?>
			<div class="form-group ">
			<label class="control-label"><?php echo $registrationForm->get('email')->getLabel(); ?></label>
                 <?php echo $this->formElement($registrationForm->get('email')); 
                  echo $this->formElementErrors($registrationForm->get("email"));?>
            </div>			
            <div class="form-group ">
            <label class="control-label"><?php echo $registrationForm->get('password')->getLabel(); ?></label>
                 <?php echo $this->formElement($registrationForm->get('password')); 
                  echo $this->formElementErrors($registrationForm->get("password"));?>
            </div>		
            <div class="form-group form-checkbox">
            <label class="control-label"><?php echo $registrationForm->get('show_password')->getLabel(); ?></label>
                 <?php echo $this->formElement($registrationForm->get('show_password')); 
                  echo $this->formElementErrors($registrationForm->get("show_password"));?>
            </div>
            <div class="form-group form-checkbox">
            <label class="control-label"><?php echo $registrationForm->get('rules')->getLabel(); ?></label>
                 <?php echo $this->formElement($registrationForm->get('rules')); 
                  echo $this->formElementErrors($registrationForm->get("rules"));?>
                  <a href="<?php echo $this->layout()->plang;?>/rules"  target="_blank"><?php echo __('Site Rules')?></a>
            </div>	
            <div class="form-group form-checkbox">
            <label class="control-label"><?php echo $registrationForm->get('group')->getLabel(); ?></label>
                 <?php echo $this->formElement($registrationForm->get('group')); 
                  echo $this->formElementErrors($registrationForm->get("group"));?>
                  <a href="<?php echo $this->layout()->plang;?>/rules"  target="_blank"><?php echo __('Group rules')?></a>
            </div>
             <div class="form-group ">
    			<?php 
    				echo $this->formElement($registrationForm->get('csrf_security')); 
    				echo $this->formElementErrors($registrationForm->get("csrf_security"));
    				echo $this->formElement($registrationForm->get('submit')); 
    				echo $this->form()->closeTag();
    			?>
    		<a href="<?php echo $this->url('application', array("lang" => $this->layout()->lang, "action" => "signin"));?>" class="btn btn-flat btn-default"><?php echo __("I have already registered");?></a>
           	</div>
       	<br>
       	<br>
       	<br>
       </div>
	 </div>
</div>
<script>
    $(document).ready(function(){
    	$(".registrationForm").validationEngine();
    	$(".searchForm").validationEngine();
    	$('.show_password').click(function(){
            if($(this).prop("checked") == true){
            	$(this).parents('.registrationForm').find('.password_signup').prop('type', 'text');
            }
            else if($(this).prop("checked") == false){
            	$(this).parents('.registrationForm').find('.password_signup').prop('type', 'password');
            }
        });
    });
</script>