<?php $this->layout('layout/empty'); ?>
<?php header("Content-type:text/xml;");?>
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
    
    <url>
        <loc><?php  echo $_SERVER["REQUEST_SCHEME"] . "://" .  $_SERVER["HTTP_HOST"];?></loc>
        <lastmod><?php echo date("Y-m-d",time())?></lastmod>
        <changefreq>daily</changefreq>
        <priority>0.8</priority>
    </url>
  
    <?php 
    if ($this->posts) {
foreach ($this->posts as $post) {
   ?>
    <url>
        <loc><?php echo $_SERVER["REQUEST_SCHEME"] . "://" . $_SERVER["HTTP_HOST"] . $this->urlGenerator()->postUrlSitemap($post);?></loc>
        <lastmod><?php echo date('Y-m-d',strtotime($post['post_date']))?></lastmod>
        <changefreq>daily</changefreq>
        <priority>0.8</priority>
    </url>
    <?php }}?>
    
       <?php 
    if ($this->categories) {
foreach ($this->categories as $category) {
   ?>
    <url>
        <loc><?php echo $_SERVER["REQUEST_SCHEME"] . "://" . $_SERVER["HTTP_HOST"] . $this->urlGenerator()->categoryUrlSitemap($category);?></loc>
        <lastmod><?php echo date('Y-m-d',time())?></lastmod>
        <changefreq>daily</changefreq>
        <priority>0.8</priority>
    </url>
    <?php }}?>
    
      <?php 
    if ($this->pages) {
foreach ($this->pages as $page) {
   ?>
    <url>
        <loc><?php echo $_SERVER["REQUEST_SCHEME"] . "://" . $_SERVER["HTTP_HOST"] . "/" . $page["page_lang"] . "/" . str_replace("&", "&amp;", $page["page_slug"])?></loc>
        <lastmod><?php echo date('Y-m-d',strtotime($page['page_modified_date']))?></lastmod>
        <changefreq>daily</changefreq>
        <priority>0.8</priority>
    </url>
    <?php }}?>
</urlset>

