<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<style>
#cssmenu > ul > li > a {
    color: #f3e8e8 !important;
    text-shadow: 1px 1px 1px #131010 !important;
}
.search-result{
	color:red;
	text-align:center;
}
</style>
<div class="">
<div class="header-bg" style="background-image:url(../images/back.jpg);">
    <h1>جستجوی دفتر فنی</h1>
</div>
<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link" href="/">
									<?php echo __('Home'); ?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									جستجوی دفتر فنی
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section id="content">
        <div class="container text-right form-content">
        	<form method="post" name="searchForm">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                      <div class="form-group">
                    		<i class="fa fa-search"></i><label class="control-label">جستجو</label>
                        	<input name="name" id="" class="form-control"  placeholder="جستجو" value="" type="text">
                	   </div>
                      <div class="form-group">
                    		<label class="control-label">منطقه</label>
                    		<select class="form-control" id="sel1" name="area">
                				<option value="">انتخاب کنید</option>
                    			<?php foreach ($areaList as $area){?>
                    				<option value="<?php echo $area['name'];?>" ><?php echo $area['name'];?></option>
                    			<?php } ?>
                    		</select>
                	   </div>
                      <div class="form-group">
                    		<label class="control-label">محله</label>
                    		<select class="form-control" id="sel2" name="district">
                    		<option value="">انتخاب کنید</option>
<!--                     		  <option value="">انتخاب کنید</option> -->
<!--                     		  <option>چهارصددستگاه</option> -->
<!--                     		  <option>اصفهانیها</option> -->
                    		</select>
                	   </div>
                      <div class="form-group">
                      		<a class="btn btn-primary search"> جستجو</a>
                	   </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                      <div class="row">
                      		<?php foreach ($this->services as $service){ ?>
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="services[]" value="<?php echo $service['id']; ?>">
                                      <span class="checkmark"></span>
                                   	  <?php echo $service['title']; ?>
                                 </label>
                            </div>
                            <?php } ?>
                      </div>
                </div>
            </div>
            </form>
            <br/><br/>
            
            <fieldset>
            	<p class="search-result"></p>
                <legend><h6><b>نتیجه جستجو</b></h6></legend>
                <div class="row">
                    <div class="col-md-12">
                     <div id="no-more-tables">
                        <table class="table-bordered table-striped table-hover cf" id="tablesearch">
                    		<thead class="cf">
                    			<tr>
                    				<th>ردیف</th>
                    				<th>نام دفترفنی</th>
                    				<th>نام مسئول</th>
                    				<th>آدرس</th>
                    				<th>امکان سفارش آنلاین</th>
                    			</tr>
                    		</thead>
                    		<tbody>
                    			
                    		</tbody>
                    	</table>
                    </div>
                    </div>
                </div>
            </fieldset>
            
        </div>
        <div id="result">
        	
        </div>
    </section>
</div>
<script>
// technicalOfficeSearch
$(".search").click(function(e) {   //alert('aaa');
	$("tbody").empty();
	$(".search-result").text('در حال جستجو...');
	e.preventDefault();
	$.ajax({
        type:'POST',
        url:'/technical-office-search',
        data:$('form').serializeArray(),
        success:function(data){
            var data = JSON.parse(data);
//             console.log(data);
           
            if(data.length > 0){
            	$.each(data, function(key, value) { 
                	var online = '';
                	var address = '';
            		if(value.online_services == '1'){
            			online = 'دارد';
    				}else{
    					online = 'ندارد';
    				}

            		if(value.address == null){
            			address = ' ';
    				}else{
    					address = value.address;
    				}
                	html = '<tr data-id="' + value.id +'">'+
                    	   '<td>' + value.id +'</td>'+
        				   '<td>' + value.office_name +'</td>'+
        				   '<td>' + value.manager_name +'</td>'+
        				   '<td>' + address+'</td>'+
        				   '<td>'+ online +'</td>'+
    					'</tr>';
                	$("tbody").append(html);
            	});
// 			    var html = '<div class="container text-right form-content"><div class="row">';
//             	$.each(data, function(key, value) { 
// 					html +='<div class="col-sm-6 col-md-6"><div class="col-sm-6 col-md-6"><label class="check"><i class="fa fa-check" style="color:green"></i> '+ value.title + '</label></div></div>';		
//             	});
//     			html+= '</div></div>';
//     			$("#result").append(html);
            	$(".search-result").text('');
            }else{
            	$(".search-result").text('نتیجه یافت نشد.');
            }
        }
    });
	
});
$(document).on('click','#tablesearch tr', function(){
// $("#tablesearch tr").click(function() {  
	$("#result").empty();
	$.ajax({
        type:'POST',
        url:'/get-service',
        data:{'id':$(this).data('id')},
        success:function(data){
           
            console.log(data.length);
            if(data.length > 0){ 
            	var data = JSON.parse(data);
				var html = '<div class="container text-right form-content"><div class="row">';
            	$.each(data['services'], function(key, value) { 
					html +='<div class="col-sm-6 col-md-6"><div class="col-sm-6 col-md-6"><label class="check"><i class="fa fa-check" style="color:green"></i> '+ value.title + '</label></div></div>';		
            	});
            	if(data['groups'].length > 0){
            		html +='<p><h4>لیست قیمت ها</h4></p><table id="cart" class="table table-hover table-condensed">'+
        			'<thead>'+
    					'<tr>'+
    						'<th class="text-center">عنوان خدمات چاپ</th>'+
    						'<th class="text-center">ویژگی</th>'+
    						'<th class="text-center">قیمت واحد</th>'+
    						'<th class="text-center">زمان تحویل</th>'+
    						'<th class="text-center"></th>'+
    					'</tr>'+
    				'</thead>';
                	$.each(data['groups'], function(key, value) { 
                		html +='<tbody>'+
                			'<tr>'+
            					'<td data-th="محصول">' + value.print_service + '</td>'+
            					'<td data-th="">' + value.val + '</td>'+
            					'<td data-th="">' + value.price + '</td>'+
            					'<td data-th="">' + value.time + '</td>'+
    						'</tr>'+
    					'</tbody>';	
                	});
            	}
            	
    			html+= '</table></div></div>';
    			$("#result").append(html);
				
            }else{
            	$("#result").html('<div class="container text-right form-content"><p style="color:red;text-align:center;" >خدماتی یافت نشد.</p></div>');
            }
        }
    });
});


//     $(document).ready(function(){
        $("#tablesearch tr").click(function() {     
        	$.ajax({
                type:'POST',
                url:'/get-service',
                data:{'id':$(this).data('id')},
                success:function(data){
                    var data = JSON.parse(data);
                    console.log(data);
                    if(data.length > 0){
							var html = '<div class="container text-right form-content"><div class="row">';
                    	$.each(data, function(key, value) { 
							html +='<div class="col-sm-6 col-md-6"><div class="col-sm-6 col-md-6"><label class="check"><i class="fa fa-check" style="color:green"></i> '+ value.title + '</label></div></div>';		
                    	});
            			html+= '</div></div>';
            			$("#result").append(html);
                    }
                }
            });
        });

//         $("#sel1").change(function() { 
//     	$(document).on(function(){    
		$(document).on('change', '#sel1', function() {
			$("#sel2").empty();		
        	$.ajax({
                type:'POST',
                url:'/get-district',
                data:{'id':$(this).val()},
                success:function(data){
                    var data = JSON.parse(data);
                    console.log(data);
                    var html = '<option value=" ">انتخاب کنید</option>';
                    if(data.length > 0){
                    	$.each(data, function(key, value) { 
							html +='<option value="'+ value.name +'">'+ value.name +'</option>';
                    	});
                    }
                    $("#sel2").append(html);
                }
            });
        });
//     });
</script>