<div class="">
<section id="breadcrumb2" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-rtl">
					
					<div class="row">
						<ul class="breadcrumb">
							<li>
								<a class="breadcrumb__item breadcrumb_item--link" href="/">
									<?php echo __('Home'); ?>
								</a>
							</li>
							<li class="active">
								<a class="breadcrumb__item breadcrumb_item--link">
									جستجوی دفتر فنی
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section id="content">
        <div class="container text-right form-content">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                      <div class="form-group">
                    		<i class="fa fa-search"></i><label class="control-label">جستجو</label>
                        	<input name="" id="" class="form-control"  placeholder="جستجو" value="" type="text">
                	   </div>
                      <div class="form-group">
                    		<label class="control-label">منطقه</label>
                    		<select>
                    		  <option>چهارراه طالقانی</option>
                    		  <option>درختی</option>
                    		  <option>عظیمیه</option>
                    		  <option>جهانشهر</option>
                    		  <option>...</option>
                    		</select>
                	   </div>
                      <div class="form-group">
                    		<label class="control-label">محله</label>
                    		<select>
                    		  <option>چهارصددستگاه</option>
                    		  <option>اصفهانیها</option>
                    		  <option>...</option>
                    		</select>
                	   </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                      <div class="row">
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="is_name">
                                      <span class="checkmark"></span>
                                    چاپ تک رنگ
                                </label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="is_name">
                                      <span class="checkmark"></span>
                                   فروش لوازم التحریر
                                </label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="is_name">
                                      <span class="checkmark"></span>
                                  چاپ رنگی لیزری
                                </label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="is_name">
                                      <span class="checkmark"></span>
                                   صحافی جزوه
                                </label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="is_name">
                                      <span class="checkmark"></span>
                                  چاپ رنگی جوهر افشان
                                </label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="is_name">
                                      <span class="checkmark"></span>
                                  فتوکپی تا سایز A2
                                </label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="is_name">
                                      <span class="checkmark"></span>
                                   چاپ عکس
                                </label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="is_name">
                                      <span class="checkmark"></span>
                                   فتوکپی تا سایز A3
                                </label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="is_name">
                                      <span class="checkmark"></span>
                                   چاپ رنگی سایز بالا
                                </label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="is_name">
                                      <span class="checkmark"></span>
                                   کپی جزوه دورو
                                </label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="is_name">
                                      <span class="checkmark"></span>
                                  پلات رنگی حداکثر سایز A3
                                </label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="is_name">
                                      <span class="checkmark"></span>
                                  پلات رنگی طولی
                                </label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                 <label class="check ">
                                    <input type="checkbox" checked="checked" name="is_name">
                                      <span class="checkmark"></span>
                                  ...
                                </label>
                            </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                    		<label class="control-label">آدرس ایمیل</label>
                        	<input name="" id="" class="form-control"  placeholder="آدرس ایمیل" value="" type="text">
                	   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                    		<label class="control-label">نام</label>
                        	<input name="" id="" class="form-control"  placeholder="نام" value="" type="text">
                	   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                    		<label class="control-label">شغل</label>
                        	<input name="" id="" class="form-control"  placeholder="شغل" value="" type="text">
                	   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                    		<label class="control-label">شماره تماس</label>
                        	<input name="" id="" class="form-control"  placeholder="شماره تماس" value="" type="text">
                	   </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                    		<label class="control-label">شماره همراه</label>
                        	<input name="" id="" class="form-control"  placeholder="شماره همراه" value="" type="text">
                	   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                   <div class="form-group">
            		  <label class="control-label">ارسال خبرنامه</label>
                	  <div class="onoff">
            		      <input type="checkbox" value="1" id="checkboxID2"><label for="checkboxID2"></label>
            		  </div>
            		</div>
                </div>
            </div>
               <div class="row">
                  <div class="form-group">
                		<label class="control-label">آدرس</label>
            		</div>
        		</div>
               <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                      <div class="form-group">
                        	<input name="" id="" class="form-control"  placeholder="منطقه" value="" type="text">
                	   </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                      <div class="form-group">
                        	<input name="" id="" class="form-control"  placeholder="محله" value="" type="text">
                	   </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        	<input name="" id="" class="form-control"  placeholder="..." value="" type="text">
                	   </div>
                </div>
            </div>
               <div class="row">
               <label class="control-label">توضیحات</label>
                <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="form-group">
                        	<textarea class="form-control" rows="5" placeholder="توضیحاتی در مورد بنیس در مورد این دفتر فنی"></textarea>
                	   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <button type="button" class="btn btn-primary">ثبت اطلاعات</button>
                </div>
            </div>
        </div>
    </section>
</div>