<link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />
<div class="">
<!-- <div class="header-bg">
    <h1>ثبت نام کاربران (فروشندگان عمده )</h1>
</div> -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <?php  echo $this->getPlugin('slideshow/index/index', 'signup-seller'); ?>
            </div>
        </div>
    </div>
</section>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link">
    				ثبت نام کاربران (فروشندگان عمده )
    				</a>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
	<section id="content">
        <div class="container text-right form-content">
       		 <form action="" name="CompanyForm" method="post">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="form-group">
                        		<label class="control-label">نام کاربری</label>
                            	<input name="username" id="" class="form-control"  placeholder="نام کاربری" value="" type="text">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="form-group">
                        		<label class="control-label">کلمه عبور</label>
                            	<input name="password" id="" class="form-control"  placeholder="کلمه عبور" value="" type="password">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="form-group">
                        		<label class="control-label">آدرس ایمیل</label>
                            	<input name="email" id="" class="form-control"  placeholder="آدرس ایمیل" value="" type="text">
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="form-group">
                        		<label class="control-label">نام شرکت</label>
                            	<input name="company_name" id="" class="form-control"  placeholder="نام شرکت" value="" type="text">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="form-group">
                        		<label class="control-label">سابقه شرکت</label>
                            	<input name="company_history" id="" class="form-control"  placeholder="سابقه شرکت" value="" type="text">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="form-group">
                        		<label class="control-label">نام مسئول</label>
                            	<input name="manager_name" id="" class="form-control"  placeholder="نام مسئول" value="" type="text">
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="form-group">
                        		<label class="control-label">شماره تماس</label>
                            	<input name="phone" id="" class="form-control"  placeholder="شماره تماس" value="" type="text">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="form-group">
                        		<label class="control-label">شماره همراه</label>
                            	<input name="mobile" id="" class="form-control"  placeholder="شماره همراه" value="" type="text">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="form-group">
                        		<label class="control-label">شماره فاکس</label>
                            	<input name="fax" id="" class="form-control"  placeholder="شماره فاکس" value="" type="text">
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                       <div class="form-group">
                		  <label class="control-label">ارسال خبرنامه</label>
                    	  <div class="onoff">
                		      <input type="checkbox" value="1" id="checkboxID2" name="newsletter"><label for="checkboxID2"></label>
                		  </div>
                		</div>
                    </div>
                </div>
                   <div class="row">
                      <div class="form-group">
                    		<label class="control-label">آدرس</label>
                		</div>
            		</div>
                   <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                          <div class="form-group">
                            	<input name="area" id="" class="form-control"  placeholder="منطقه" value="" type="text">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                          <div class="form-group">
                            	<input name="district" id="" class="form-control"  placeholder="محله" value="" type="text">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                            	<input name="address" id="" class="form-control"  placeholder="آدرس کامل" value="" type="text">
                    	   </div>
                    </div>
                </div>
                   <!-- <div class="row">
                   <label class="control-label">توضیحات</label>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                          <div class="form-group">
                            	<textarea name="description" class="form-control" rows="5" placeholder="توضیحاتی در مورد بنیس در مورد این دفتر فنی"></textarea>
                    	   </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-12 text-left">
                         <input type="submit" class="btn btn-primary" value="ثبت اطلاعات" >
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>