<link rel="stylesheet" href="/css/internal.css" type="text/css"
	media="screen" charset="utf-8" />
<div class="">
	<!-- <div class="header-bg">
		<h1>ثبت نام کاربران (طراحان )</h1>
	</div> -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <?php  echo $this->getPlugin('slideshow/index/index', 'signup-designer'); ?>
            </div>
        </div>
    </div>
</section>
	<section id="breadcrumb">
		<div class="container">
			<div class="row">
				<ul class="breadcrumb">
					<li><a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a></li>
					<li class="active"><span>/</span> <a
						class="breadcrumb__item breadcrumb_item--link"> ثبت نام کاربران
							(طراحان) </a></li>
				</ul>
			</div>
		</div>
	</section>
	<section id="content">
		<div class="container text-right form-content">
			<form action="" name="DesignerForm" method="post"
				enctype="multipart/form-data">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="form-group">
							<label class="control-label">نام</label> <input name="firstname"
								id="" class="form-control" placeholder="نام " value=""
								type="text" required>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="form-group">
							<label class="control-label">نام خانوادگی</label> <input
								name="lastname" id="" class="form-control"
								placeholder="نام خانوادگی" value="" type="text" required>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="form-group">
							<label class="control-label">نام کاربری</label> <input
								name="username" id="" class="form-control"
								placeholder="نام کاربری" value="" type="text" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="form-group">
							<label class="control-label">آدرس ایمیل</label> <input
								name="email" id="" class="form-control" placeholder="آدرس ایمیل"
								value="" type="text" required>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="form-group">
							<label class="control-label">شماره تماس</label> <input
								name="phone" id="" class="form-control" placeholder="شماره تماس"
								value="" type="text">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="form-group">
							<label class="control-label">شماره همراه</label> <input
								name="mobile" id="" class="form-control"
								placeholder="شماره همراه" value="" type="text">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<label class="control-label"><span>پیوست ارسال نمونه کار</span> <span>(پسوند zip)</span></label> <input
								name="work_samples" id="" class="form-control"
								placeholder="شماره همراه" value="" type="file" required>
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<label class="control-label"><span>پیوست ارسال رزومه کاری</span> <span>(پسوند pdf,doc,docx,jpeg,jpg)</span></label> <input
								name="cv_file" id="" class="form-control" value="" type="file" required>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="form-group">
							<label class="control-label">سابقه کاری</label> <input
								name="work_exp" id="" class="form-control" value="" type="text" required>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="form-group">
							<label class="control-label">کلمه عبور</label> <input
								name="password" id="" class="form-control"
								placeholder="کلمه عبور" value="" type="password" required>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="form-group">
							<label class="control-label">تکرار کلمه عبور </label> <input
								name="password_repeat" id="" class="form-control"
								placeholder="تکرار کلمه عبور" value="" type="password" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-12">
						<p>قوانین اینجاست</p>
						<label class="check"> <input type="checkbox" name="accept"> <span
							class="checkmark"></span> قوانین مجموعه را می پذیرم
						</label>
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-right">
						<input type="submit" class="btn btn-success" value="ثبت اطلاعات">
					</div>
				</div>
		
		</div>
		</form>
	</section>
</div>