 <link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen" charset="utf-8" />

<div class="">
<!-- <div class="header-bg">
    <h1>ثبت نام کاربران (دفاتر فنی )</h1>
</div> -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <?php  echo $this->getPlugin('slideshow/index/index', 'signup-user'); ?>
            </div>
        </div>
    </div>
</section>
<section id="breadcrumb">
    <div class="container">
    	<div class="row">
    		<ul class="breadcrumb">
    			<li>
    				<a class="breadcrumb__item breadcrumb_item--link" href="/">
    					<?php echo __('Home'); ?>
    				</a>
    			</li>
    			<li class="active">
    			     <span>/</span>
    				<a class="breadcrumb__item breadcrumb_item--link">
    				ثبت نام کاربران (دفاتر فنی )
    				</a>
    			</li>
    		</ul>
    	</div>
	</div>
</section>
	<section id="content">
        <div class="container text-right form-content">
        	<?php
//         	    $officeForm = $this->officeForm;
//         	    $officeForm->prepare();
//         	    echo $this->form()->openTag($officeForm);
// 			?>
			
			 <?php 
            //echo $this->formElement($officeForm->get('service_id')); 
			 
// 			 echo $this->form()->closeTag();?>
			
			<form action="" name="officeForm" method="post">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">نام کاربری</label>
                            	<input name="username" id="" class="form-control"  placeholder="نام کاربری" value="" type="text">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                        		<label class="control-label">کلمه عبور</label>
                            	<input name="password" id="" class="form-control"  placeholder="کلمه عبور" value="" type="password">
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="form-group">
                        		<label class="control-label">آدرس ایمیل</label>
                            	<input name="email" id="" class="form-control"  placeholder="آدرس ایمیل" value="" type="email">
                    	   </div>
                    </div>
                     <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="form-group">
                        		<label class="control-label">نام دفتر</label>
                            	<input name="office_name" id="" class="form-control"  placeholder="نام دفتر" value="" type="text">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="form-group">
                        		<label class="control-label">نام مسئول</label>
                            	<input name="manager_name" id="" class="form-control"  placeholder="نام مسئول" value="" type="text">
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                       <div class="form-group">
                    		<label class="control-label">شماره تماس</label>
                        	<input name="phone" id="" class="form-control"  placeholder="شماره تماس" value="" type="text">
                	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="form-group">
                    		<label class="control-label">شماره همراه</label>
                        	<input name="mobile" id="" class="form-control"  placeholder="شماره همراه" value="" type="text">
                	    </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="form-group">
                        		<label class="control-label">شماره فاکس</label>
                            	<input name="fax" id="" class="form-control"  placeholder="شماره فاکس" value="" type="text">
                    	   </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div> خدمات قابل ارائه </div>
                        <br />
                    </div>
                </div>
                <div class="row">
                	<?php foreach ($this->services as $service){ ?>
                		<div class="col-md-6">
                            <label class="check ">
                                <input type="checkbox" checked="checked" name="services[]" value="<?php echo $service['id']; ?>">
                                  <span class="checkmark"></span>
                                  <?php echo $service['title']; ?>
                            </label>
                        </div>
                       <!--  <div class="col-md-3"> 
                            <div class="form-group">
                            	<input name="" id="" class="form-control"  placeholder="" value="" type="text">
                    	   </div>
    				   </div> -->
                	<?php } ?>
    <!--                 <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                           <span class="checkmark"></span> -->
    <!--                           چاپ تک رنگ -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <div class="form-group"> -->
    <!--                     	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--             	   </div> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                       <span class="checkmark"></span> -->
    <!--                       فروش لوازم التحریر -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                      <div class="form-group"> -->
    <!--                         	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--                 	   </div> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                           <span class="checkmark"></span> -->
    <!--                          چاپ رنگی لیزری -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <div class="form-group"> -->
    <!--                     	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--             	   </div> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                       <span class="checkmark"></span> -->
    <!--                       صحافی جزوه -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                      <div class="form-group"> -->
    <!--                         	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--                 	   </div> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                           <span class="checkmark"></span> -->
    <!--                        چاپ رنگی جوهرافشان -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <div class="form-group"> -->
    <!--                     	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--             	   </div> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                       <span class="checkmark"></span> -->
    <!--                      فتوکپی تا سایز A2 -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                      <div class="form-group"> -->
    <!--                         	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--                 	   </div> -->
    <!--                 </div> -->
    <!--                <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                           <span class="checkmark"></span> -->
    <!--                         چاپ عکس -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <div class="form-group"> -->
    <!--                     	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--             	   </div> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                       <span class="checkmark"></span> -->
    <!--                      فتوکپی تا سایز A3 -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                      <div class="form-group"> -->
    <!--                         	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--                 	   </div> -->
    <!--                 </div>  -->
    <!--                <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                           <span class="checkmark"></span> -->
    <!--                        چاپ رنگی سایز بالا -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <div class="form-group"> -->
    <!--                     	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--             	   </div> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                       <span class="checkmark"></span> -->
    <!--                      کپی جزوه دو رو -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                      <div class="form-group"> -->
    <!--                         	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--                 	   </div> -->
    <!--                 </div>  -->
    <!--                <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                           <span class="checkmark"></span> -->
    <!--                        پلات رنگی حداکثر سایز A3 -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <div class="form-group"> -->
    <!--                     	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--             	   </div> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                       <span class="checkmark"></span> -->
    <!--                     پلات رنگی طولی -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                      <div class="form-group"> -->
    <!--                         	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--                 	   </div> -->
    <!--                 </div>  -->
    <!--                <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                           <span class="checkmark"></span> -->
    <!--                      ... -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <div class="form-group"> -->
    <!--                     	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--             	   </div> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                     <label class="check "> -->
    <!--                         <input type="checkbox" checked="checked" name="is_name"> -->
    <!--                       <span class="checkmark"></span> -->
    <!--                     ... -->
    <!--                     </label> -->
    <!--                 </div> -->
    <!--                 <div class="col-md-3"> -->
    <!--                      <div class="form-group"> -->
    <!--                         	<input name="" id="" class="form-control"  placeholder="" value="" type="text"> -->
    <!--                 	   </div> -->
    <!--                 </div>  -->
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                       <div class="form-group">
                		  <label class="control-label">خدمات آنلاین</label>
                    	  <div class="onoff">
                		      <input type="checkbox" value="1" id="checkboxID2" name="online_services"><label for="checkboxID2"></label>
                		  </div>
                		</div>
                    </div>
                </div>
                   <div class="row">
                      <div class="form-group">
                    		<label class="control-label">آدرس</label>
                		</div>
            		</div>
                   <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                          <div class="form-group">
                            	<input name="area" id="" class="form-control"  placeholder="منطقه" value="" type="text">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                          <div class="form-group">
                            	<input name="district" id="" class="form-control"  placeholder="محله" value="" type="text">
                    	   </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-group">
                            	<input name="address" id="" class="form-control"  placeholder="آدرس کامل" value="" type="text">
                    	   </div>
                    </div>
                </div>
                   <!-- <div class="row">
                   <label class="control-label">توضیحات</label>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                          <div class="form-group">
                            	<textarea name="description" class="form-control" rows="5" name="description"></textarea>
                    	   </div>
                    </div>
                </div> -->
                <div class="row">
                     <div class="col-md-4">
                         <label class="check ">
                            <input type="checkbox" checked="checked" name="usual_courier" value="1">
                              <span class="checkmark"></span>
                             پیک معمولی
                        </label>
                    </div>
                     <div class="col-md-4">
                         <label class="check ">
                                <input type="checkbox" checked="checked" name="special_courier" value="1"> 
                                  <span class="checkmark"></span>
                             پیک ویژه (تحویل زیر چهار ساعت )
                        </label>
                    </div>
                    <div class="col-md-4">
                         <label class="check ">
                                <input type="checkbox" checked="checked" name="in_place" value="1"> 
                                  <span class="checkmark"></span>
                            حضور در محل
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-left">
                        <input type="submit" class="btn btn-primary" value="ثبت اطلاعات" >
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>