
<div class="container">
	<div class="row">
	<br>
	<br>
	<br>
	<br>
	<div class="col-lg-4 col-md-4"></div>
	  	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
	  	<h4 style="text-align:center"><?php echo __('Verify account form'); ?></h4>
	  	<br>
		<?php 
			if ($this->getVerifyCodeForm) {
				$getVerifyCodeForm = $this->getVerifyCodeForm;
				$getVerifyCodeForm->prepare();
				echo $this->form()->openTag($getVerifyCodeForm);

		?>
		<div class="form-group" style="direction: rtl;text-align: right;">
		<label class="control-label"><?php echo $this->formLabel($getVerifyCodeForm->get('code')); ?></label>
             <?php echo $this->formElement($getVerifyCodeForm->get('code'));
             echo $this->formElementErrors($getVerifyCodeForm->get("code")); ?>
        </div>			
        
		<?php 
			echo $this->formElement($getVerifyCodeForm->get('csrf_security')); 
			echo $this->formElementErrors($getVerifyCodeForm->get("csrf_security"));
			echo $this->formElement($getVerifyCodeForm->get('submit')); 
			echo $this->form()->closeTag();
			}
		?>
       	<br>
       	<br>
       	<br>
       </div>
	   <div class="col-lg-4 col-md-4"></div>
	 </div>
</div>
