<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php echo __('Add new slideshow'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new slideshow'); ?></li>
    </ol>
</section>
 <!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Add new slideshow");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
            	<div class="col-lg-6">
                	<br />
                    <?php
                    	$slideshowForm = $this->slideshowForm;;
                    	$slideshowForm->prepare();
                    	echo $this->form()->openTag($slideshowForm);
                    ?>
                   	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($slideshowForm->get('lang')); ?></label>
                    	<?php echo $this->formElement($slideshowForm->get('lang'));
                    	echo $this->formElementErrors($slideshowForm->get("lang")); ?>
                	</div>	
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($slideshowForm->get('position')); ?></label>
                    	<?php echo $this->formElement($slideshowForm->get('position'));
                    	echo $this->formElementErrors($slideshowForm->get("position")); ?>
                	</div>	
                	 <div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($slideshowForm->get('name')); ?></label>
                    	<?php echo $this->formElement($slideshowForm->get('name'));
                    	echo $this->formElementErrors($slideshowForm->get("name")); ?>
                	</div>	
                	<div class="form-group">
            		  <button class="btn btn-success" type="button" id="addbutton">  <i class="fa fa-plus" aria-hidden="true"></i><?php echo __("Add new slide");?></button>
                    <?php 
                    	echo $this->formElement($slideshowForm->get('csrf'));
                    	echo $this->formElementErrors($slideshowForm->get("csrf"));
                    	echo $this->formElement($slideshowForm->get('submit'));
                	?>
                	<?php 
                    	echo $this->formElement($slideshowForm->get('csrf'));
                    	echo $this->formElementErrors($slideshowForm->get("csrf"));
                    	echo $this->formElement($slideshowForm->get('submit2'));
                	?>
                     <a href="/<?php echo $this->layout()->lang;?>/admin-slideshow" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
             	 </div>
                </div>
                 <div class="col-lg-6">     
                     <!--  help -->
                    <fieldset class="help-form">    	
        					<legend>راهنمای مدیریت اسلایدشو</legend>
							<p>
    						1- فیلد انتخاب زبان، جهت انتخاب زبانی به کار می رود که قرار است اسلاید شو در آن زبان به نمایش در بیاد، توجه داشته باشید که در صورتی که سایت چند زبانه داشته باشید باید به ازای هر زبان ف اسلاید شوی آن ایجاد شود
    						<br />
    						2-فیلد موقعیت، مکان نمایش اسلاید شو را مشخص می کند ، این فیلد  باید به لاتین باشد و در کدنویسی استفاده می شود، در صورتی که کاربر سایت هستید ، این فیلد را تغییر ندهید
    						<br />
    						3-نام اسلایدشو مشخص کننده اسلایدر و جهت تفکیک اسلایدر ها به کار می رود
    						<br />
    						4-دکمه افزودن اسلاید جدید، جهت ایجاد اسلایدر به تعداد دلخواه به کار می رود، شما میتوانید با انتخاب تصویر مورد نظردر هر بار افزودن، اسلایدرهای خود را ایجاد نمایید، توجه نمایید که حجم اسلایدرهاکم و تعداد آنها را محدود انتخاب کنید که لود سایت شما تحت تاثیر قرار نگیرد و سایت کند نشود
    						<br />
    						5- در صورتی که اسلایدر شما عنوان و لینک هم داشته باشد ، می توانید آنها را در کادر مربوط به هر اسلایدر ایجاد کنید، در غیر اینصورت این فیلدها می توانند خالی باشند	 
							</p>
        			</fieldset>	      
                </div>
        	</div>
            <div class="row containeruploads">
                <div class="newrow col-md-4" style="display:none">
                    <div class="box1">
                        <div class="form-group">
                            <div class="box1-img-holder">
                                <div class="image-holder" id="image-holder"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <?php echo __("Caption")?><input class="form-control" type="text" name="caption[]">
                        </div>
                        <div class="form-group">
                            <?php echo __("Url")?><input class="form-control" type="text" name="url[]">
                        </div>
                        <div class="form-group">
                            <?php echo __("Background Color")?><input class="form-control" type="color" name="background_color[]">
                        </div>
                        <div class="form-group">
                            <?php echo __("Width")?><input class="form-control" type="text" name="width[]">
                        </div>
                        <div class="form-group">
                            <?php echo __("Height")?><input class="form-control" type="text" name="height[]">
                        </div>
                        <div class="form-group">
                            <?php echo __("Data In")?>
							 <select name="data_in[]">
                                  <option value="Top">Top</option>
                                  <option value="Bottom">Bottom</option>
                                  <option value="BottomRight">BottomRight</option>
                                  <option value="Right">Right</option>
                                  <option value="Fade">Fade</option>
                                  <option value="BottomRight">BottomRight</option>
                             </select> 
                        </div>
                        <div class="form-group">
                            <?php echo __("Description")?><input class="form-control" type="text" name="description[]">
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                    <div class="fileUpload btn bg-maroon margin fa fa-image">
                                        <sapn><?php echo __("Select image");?></sapn>
                                        <input type="file" name="file[]" id="fileUpload">
                                    </div>
                                    <button class="btn btn-danger removebutton fa fa-times" type="button">
                                <?php echo __("Delete");?>
                                </button>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            	<?php
                	echo $this->form()->closeTag();
                ?>
        </div>
	</div>
</section>
<script>
              
		$(document).ready(function(){

			$("#slideshowForm").validationEngine(); 
			   $('#update-profile').click(function(e){ 
			      // e.preventDefault();
			       if($("#slideshowForm").validationEngine('validate')) 
			       {
			      	   $("#slideshowForm").submit();
			       }
			   });
			   
//add upload images
$("#addbutton").click(function(){
	if ($(".newrow:visible").length == 0) {
		$(".newrow").show();
	} else {
		//$(".containeruploads").append($(".newrow").html());
		$(".newrow:first").clone(true).find("input[type='text'],input[type='file']").val("").end().appendTo($(".containeruploads"));
		}
	
});

$(".removebutton").click(function() {
	if ($(".newrow:visible").length == 1) {
		$(".newrow").hide();
	} else {
		$(this).closest('.newrow').remove();
	}

	});

$("#fileUpload").on('change', function () {
	var t = $(this).attr('id'); 
    //Get count of selected files
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $(this).closest("div.newrow").find(".image-holder");
//     var image_holder = $("#image-holder");
    image_holder.empty();
 
    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
 
            //loop for each file selected for uploaded.
            for (var i = 0; i < countFiles; i++) {
 
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                            "class": "thumb-image"
                    }).appendTo(image_holder);
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
            }
 
        } else {
            alert("This browser does not support FileReader.");
        }
    } else {
        alert("only images");
    }
});

//end of upload images			
			 $(".delete_btn").click(function(){
			   var image_id = $(this).attr('data-id');
			   $.ajax({
			      url: '/admin/plugins/slideshow/delete-image',
			      type:'POST',
			      data: 
				      {
				      	 id: image_id, 
				      },
			      success:function(result) {
			        if(result) {
			        	window.location.reload(true);
			        } else {

			        }
			      }
			   });
			 });
		});
</script>
	
	
	
	
