<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php echo __('Edit slideshow'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Edit slideshow'); ?></li>
    </ol>
</section>
 <!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("Edit slideshow");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php
            	$slideshowForm = $this->slideshowForm;;
            	$slideshowForm->prepare();
            	echo $this->form()->openTag($slideshowForm);
            ?>
            <div class="row">
            	<div class="col-lg-6">
            	   <br />
                    <div class="form-group" id="tour1">
                		<label class="control-label"><?php echo $this->formLabel($slideshowForm->get('lang')); ?></label>
                    	<?php echo $this->formElement($slideshowForm->get('lang'));
                    	echo $this->formElementErrors($slideshowForm->get("lang")); ?>
                	</div>
                	<div class="form-group" id="tour2">
                		<label class="control-label"><?php echo $this->formLabel($slideshowForm->get('position')); ?></label>
                    	<?php echo $this->formElement($slideshowForm->get('position'));
                    	echo $this->formElementErrors($slideshowForm->get("position")); ?>
                	</div>
                	 <div class="form-group" id="tour3">
                		<label class="control-label"><?php echo $this->formLabel($slideshowForm->get('name')); ?></label>
                    	<?php echo $this->formElement($slideshowForm->get('name'));
                    	echo $this->formElementErrors($slideshowForm->get("name")); ?>
                	</div>
                	 <div class="form-group">
                    <button class="btn btn-success" type="button" id="addbutton">  <i class="fa fa-plus" aria-hidden="true"></i><?php echo __("Add new slide");?></button>
                    <span id="tour9">
                    <?php 
                    	echo $this->formElement($slideshowForm->get('csrf'));
                    	echo $this->formElementErrors($slideshowForm->get("csrf"));
                    	echo $this->formElement($slideshowForm->get('submit'));
                	?>
                	</span>
                <a href="/<?php echo $this->layout()->lang;?>/admin-slideshow" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
            </div>
            	</div>
            	 <div class="col-lg-6">     
                     <!--  help -->
                    <fieldset class="help-form">    	
        					<legend>راهنمای مدیریت اسلایدشو</legend>
							<p>
    						1- فیلد انتخاب زبان، جهت انتخاب زبانی به کار می رود که قرار است اسلاید شو در آن زبان به نمایش در بیاد، توجه داشته باشید که در صورتی که سایت چند زبانه داشته باشید باید به ازای هر زبان ف اسلاید شوی آن ایجاد شود
    						<br />
    						2-فیلد موقعیت، مکان نمایش اسلاید شو را مشخص می کند ، این فیلد  باید به لاتین باشد و در کدنویسی استفاده می شود، در صورتی که کاربر سایت هستید ، این فیلد را تغییر ندهید
    						<br />
    						3-نام اسلایدشو مشخص کننده اسلایدر و جهت تفکیک اسلایدر ها به کار می رود
    						<br />
    						4-دکمه افزودن اسلاید جدید، جهت ایجاد اسلایدر به تعداد دلخواه به کار می رود، شما میتوانید با انتخاب تصویر مورد نظردر هر بار افزودن، اسلایدرهای خود را ایجاد نمایید، توجه نمایید که حجم اسلایدرهاکم و تعداد آنها را محدود انتخاب کنید که لود سایت شما تحت تاثیر قرار نگیرد و سایت کند نشود
    						<br />
    						5- در صورتی که اسلایدر شما عنوان و لینک هم داشته باشد ، می توانید آنها را در کادر مربوط به هر اسلایدر ایجاد کنید، در غیر اینصورت این فیلدها می توانند خالی باشند	 
							</p>
        			</fieldset>	      
                </div>
            </div>
        	<div class="row containeruploads">
            	<?php 
            		if ($this->slideshowById) {
            			foreach ($this->slideshowById as $slides) {
            				if ($slides['id']) {  
            
            				    
            	?>
            	<div class="col-md-4 slideshowImage" id="slideshowImage<?php echo $slides['id']; ?>">
            	   <div class="box1">
            	       <div class="form-group">
                            <div class="box1-img-holder">
                	           <img alt="" src="<?php echo "/uploads/slideshow/" . $slides['image']; ?>" />
                	       </div>
            	       </div>
            	       <div class="form-group">
            		      <input class="form-control" placeholder="caption" name = "captionExist[<?php echo $slides['id']; ?>]" type="text" value="<?php echo $slides['caption']; ?>">
        		      </div>
            	       <div class="form-group">
        		          <input class="form-control" placeholder="url" name = "urlExist[<?php echo $slides['id']; ?>]" type="text" value="<?php echo $slides['url']; ?>">
        	          </div>
        	          <div class="form-group">
        		          <input class="form-control" placeholder="background_color" name = "backgroundExist[<?php echo $slides['id']; ?>]" type="color" value="<?php echo $slides['background_color']; ?>">
        	          </div>
        	          <div class="form-group">
        		          <input class="form-control" placeholder="width" name = "widthExist[<?php echo $slides['id']; ?>]" type="text" value="<?php echo $slides['width']; ?>">
        	          </div>
        	          <div class="form-group">
        		          <input class="form-control" placeholder="height" name = "heightExist[<?php echo $slides['id']; ?>]" type="text" value="<?php echo $slides['height']; ?>">
        	          </div>
        	          <div class="form-group">
        	          	  <label>data in</label>
        	          	  <select name="dataInExist[<?php echo $slides['id']; ?>]">
                              <option <?php if ($slides['data_in'] == 'Top' ) echo 'selected' ; ?> value="Top">Top</option>
                              <option <?php if ($slides['data_in'] == 'Bottom' ) echo 'selected' ; ?> value="Bottom">Bottom</option>
                              <option <?php if ($slides['data_in'] == 'BottomRight' ) echo 'selected' ; ?> value="BottomRight">BottomRight</option>
                              <option <?php if ($slides['data_in'] == 'Right' ) echo 'selected' ; ?> value="Right">Right</option>
                              <option <?php if ($slides['data_in'] == 'Fade' ) echo 'selected' ; ?> value="Fade">Fade</option>
                              <option <?php if ($slides['data_in'] == 'BottomRight' ) echo 'selected' ; ?> value="BottomRight">BottomRight</option>
                         </select> 
        	          </div>
        	          <div class="form-group">
        		          <input class="form-control" placeholder="description" name = "descExist[<?php echo $slides['id']; ?>]" type="text" value="<?php echo $slides['description']; ?>">
        	          </div>
        	           <button class="btn btn-danger delete_btn btn-danger fa fa-times" type="button" data-id="<?php echo $slides['id']; ?>">
                            <?php echo __("Delete");?>
                       </button>
        		      <img class="loader" src="/images/loading.gif"/> 
            	   </div> 
            	</div>
            	 <?php 
            				}
            			} 
            		}
            	 ?>
                <div class="newrow col-md-4" style="display:none">
            	   <div class="box1">
        	           <div class="form-group">
                            <div class="box1-img-holder">
                                <div class="image-holder" id="image-holder"></div>
                            </div>
            	       </div>
                        <div class="form-group">
                            <input type="text" name="caption[]" placeholder="Caption" class="form-control" id="tour6">
                        </div>
                        <div class="form-group">
                            <input type="text" name="url[]" placeholder="URL" class="form-control" id="tour7">
                        </div>
                        <div class="form-group">
                            <input type="color" name="background_color[]" placeholder="BACKGROUND COLOR" class="form-control" id="tour7">
                        </div>
                        <div class="form-group">
                            <input type="text" name="width[]" placeholder="WIDTH" class="form-control" id="tour7">
                        </div>
                        <div class="form-group">
                            <input type="text" name="height[]" placeholder="HEIGHT" class="form-control" id="tour7">
                        </div>
                        <div class="form-group">
                        	<label>data_in</label>
                        	 <select name="data_in[]">
                                  <option value="Top">Top</option>
                                  <option value="Bottom">Bottom</option>
                                  <option value="BottomRight">BottomRight</option>
                                  <option value="Right">Right</option>
                                  <option value="Fade">Fade</option>
                                  <option value="BottomRight">BottomRight</option>
                             </select> 
<!--                             <input type="text" name="data_in[]" placeholder="DATA" class="form-control" id="tour7"> -->
                        </div>
                        <div class="form-group">
                            <input type="text" name="description[]" placeholder="DESCRIPTION" class="form-control" id="tour7">
                        </div>
                        <div class="form-group">
                        <div class="row">
                               <div class="fileUpload btn bg-maroon margin fa fa-image" id="tour5">
                                    <sapn><?php echo __("Select image");?></sapn>
                                    <input type="file" name="file[]" id="fileUpload">
                                </div>
                                <button class="btn btn-danger removebutton fa fa-times" type="button" data-id="<?php echo $slides['id']; ?>" id="tour8">
                            <?php echo __("Delete");?>
                                </button>
                            </div>  
                        </div>
                    </div>
                </div>
        	</div>
        	<?php
            	echo $this->form()->closeTag();
            ?>
        </div>
    </div>
</section>
<script>
$(document).ready(function(){
	$("#addbutton").click(function(){
		if ($(".newrow:visible").length == 0) {
			$(".newrow").show();
		} else {
			//.find(".image-holder").empty().end()
			$(".newrow:first").clone(true).find("input[type='text'],input[type='file']").val("").end().find(".image-holder").empty().end().appendTo($(".containeruploads"));
		}
	});

	$(".removebutton").click(function(){
		if ($(".newrow:visible").length == 1) {
			$(".newrow").hide();
		} else {
			$(this).closest('.newrow').remove();
		}
	});
	
	 $(".delete_btn").click(function(){
	   	   var image_id = $(this).attr('data-id');
	   	   $("#slideshowImage"+ image_id).find('.loader').fadeIn();
		   $.ajax({
		      url: '/admin-slideshow/delete-image',
		      type:'POST',
		      data: 
			      {
			      	 id: image_id, 
			      },
		      success:function(result) {
		        if(result) {
		        	$("#slideshowImage"+ image_id).find('.loader').fadeOut(2000);
		        	$("#slideshowImage"+ image_id).remove();
		        } else {
	
		        }
		      }
		   });
	 });
});

$("#fileUpload").on('change', function () {
	var t = $(this).attr('id'); 
    //Get count of selected files
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $(this).closest("div.newrow").find(".image-holder");
//     var image_holder = $("#image-holder");
    image_holder.empty();
 
    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
 
            //loop for each file selected for uploaded.
            for (var i = 0; i < countFiles; i++) {
 
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                            "class": "thumb-image"
                    }).appendTo(image_holder);
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
            }
 
        } else {
            alert("This browser does not support FileReader.");
        }
    } else {
        alert("only images");
    }
});
</script>















<script type='text/javascript'>
$("#fileUpload").on('change', function () {
	var t = $(this).attr('id'); 
    //Get count of selected files
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $(this).closest("div.newrow").find(".image-holder");
//     var image_holder = $("#image-holder");
    image_holder.empty();
 
    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
 
            //loop for each file selected for uploaded.
            for (var i = 0; i < countFiles; i++) {
 
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                            "class": "thumb-image"
                    }).appendTo(image_holder);
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
            }
 
        } else {
            alert("This browser does not support FileReader.");
        }
    } else {
        alert("Pls select only images");
    }
});
$(document).ready(function(){

	$("#slideshowForm").validationEngine(); 
	   $('#update-profile').click(function(e){ 
	      // e.preventDefault();
	       if($("#slideshowForm").validationEngine('validate')) 
	       {
	      	   $("#slideshowForm").submit();
	       }
	   });
});
</script>
<!-- tour guide -->
<script>
//Instance the tour
var tour = new Tour({
  steps: [
  {
    element: "#tour1",
    title: "انتخاب زبان",
    content: "زبانی که اسلایدر در آن زبان به نمایش در می آید را مشخص کنید",
    placement: "left"
  },
  {
    element: "#tour2",
    title: "موقعیت",
    content: "این فیلد موقعیت اسلایدشو در سایت را نمایش می دهدکه در کدنویسی استفاده می شود، این فیلد را تغییر ندهید",
    placement: "left"
  },
  {
    element: "#tour3",
    title: "نام اسلایدشو",
    content: "نامیست که متمایز کننده اسلایدشو از سایر اسلایدشوهاست، در صورت نیاز می توانید آن را مطابق با میل خود ویرایش کنید",
    placement: "left"
  },
  {
    element: "#addbutton",
    title: "اضافه کردن اسلایدشو",
    content: "برای ایجاد اسلایدر جدید روی این دکمه بزنید، شما میتوانید در صورت نیاز اسلایدری را حذف و اسلایدر جدیدی را اضافه کنید"
  },
  {
    element: "#tour5",
    title: "انتخاب تصویر",
    content: "تصویری برای اسلایدر خود انتخاب کنید"
  },
  {
    element: "#tour6",
    title: "عنوان اسلایدر",
    content: "در صورتی که اسلایدرشما، عنوان دارد، میتوانید عنوانی برای اسلایدر خود انتخاب کنید"
  },
  {
    element: "#tour7",
    title: "لینک اسلایدر",
    content: "در صورتی که اسلاید شما به صفحه یا url خاصی هدایت میشود، آدرس لینک را اینجا وارد کنید"
  },
  {
    element: "#tour8",
    title: "حذف",
    content: "در صورتی که بخواهید میتوانید اسلایدر مورد نظر را حذف کنید و مجددا آن  را با زدن بر روی دکمه افزودن اسلاید جدید ایجاد نمایید"
  },
  {
    element: "#tour9",
    title: "ذخیره",
    content: "بعد از ایجاد اسلایدرهای خود میتوانید با زدن این دکمه اطلاعات را ذخیره کنید"
  }
],

storage: false

});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}; 
function dactiveTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
}; 
</script>