 <!-- Content Header (Page header) -->

<section class="content-header">
<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
    <li class="active"><?php echo __("List slideshows");?></li>
  </ol>
 </div>
</section>
 <!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("List slideshows");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">

 
<table class="table table-bordered table-hover">
  <tr>
    <th class="td-sm">#</th>
    <th class="td-sm"><?php echo __("ID");?></th>
    <th><?php echo __("Title");?></th>
    <th class="td-sm"><?php echo __("Edit");?></th>
  </tr>
  <?php  
  		if($this->slideshows) {
  			foreach ($this->slideshows as $counter => $slideshow) {  
  ?>				
			    <tr>
				    <td><?php echo ++$counter ?></td>
				    <td><?php echo $this->escapeHtml($slideshow['id']); ?></td>
				    <td><?php echo $this->escapeHtml($slideshow['name']); ?></td>
				    <td><a href="<?php echo $this->url('slideshow-admin', array(
				    		'id'         => $slideshow['id'],
				    		'controller' => 'admin',
				    		'action'     => 'edit-slideshow'
				    )); ?>"><span class="glyphicon glyphicon-pencil"></span></a></td>
			  </tr> 
  <?php 
  		}
  	}
  ?>   
</table>
<!-- Modal HTML -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <h5>آیا مطمئن هستید که قصد حذف این اسلایدشورا دارید؟</h5>
                    <p>توجه داشته باشید که در صورت حذف منوی اصلی، امکان بازگرداندن آن وجود نخواهد داشت.</p>
                </div>
                <div class="modal-footer">
                    <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#">آری، قصد حذف این اسلایدشورا دارم</a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
	$('.delete-btn').click(function(e) {
		e.preventDefault();
		$('#modal').modal();
		$('#modal .modal-footer a').attr('href', $(this).attr('href'));
	});
</script>
</div>
</div>
</section>