<script>
var url = '<?php echo @$_SERVER['REDIRECT_URL']; ?>';
</script>
<!-- User comments -->
<?php 
$class= '';
if (!$this->comments) {
	$class= 'displaynone';
}?>
<div class="box-title <?php echo $class;?>">
    <h2 class="title">
        <a href="/">
             دیدگاه کاربران
        </a>
    </h2>
</div>
<div class="comment-box <?php echo $class;?>">
  <ul class="media-list">
<?php if ($this->comments) {?>

	<?php  
	$this->limit = 4;	 
	function getChildren($parentId, $comments, $view, $level = 0)
	{
		$limit = $view->limit;
		$level = ($level + 1);
		if (!$comments) {
			return;
		}
		foreach ($comments as $comment) { 
			if ($comment['parent_id'] != $parentId) {
				continue;
			}
			if (isset($comment['name']) && $comment['name'] === ' ') {
				$comment['name'] = __("Anonymous user");
			} else {
				$comment['name'] = '';
			}
			?>
			<?php if ($parentId == 0) { ?>
				<li class="media">   
			<?php } else { ?>
				<div class="media media-reply ">
			<?php } ?>
					<div class="comment-id" data-level="<?php echo $level;?>" data-id="<?php echo $comment['id']; ?>" data-email="<?php echo ($comment['guest_email'] ? $comment['guest_email']: $comment['guest_email']); ?>">
				        <div class="media-body">
<!-- 				          <a href="#">
			 	            <img src="<?php  //echo $view->gravatarGenerator()->getGravatar($comment['guest_email']);?>" style="width: 64px; height: 64px; margin-left:10px;">
				          </a> -->
				          <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
				          <h4 id="media-heading" class="media-heading" style="display:inline-block;font-size:14px;"><span><?php echo ($comment['guest_name'] ? $view->escapeHtml($comment['guest_name']) : $view->escapeHtml($comment['name'])); ?></span> <i class="fa fa-calendar" aria-hidden="true"></i>
				           <?php echo $view->date()->persianDate(strtotime($comment['date'])); ?> <a class="anchorjs-link" href="#"><span class="anchorjs-icon"></span></a></h4>
				        </div>
				        <?php if ($view->setLikeButton) { ?>
				         <div class="ltr floatleft like-dislike">  
		          			<button class="dislike" id="<?php echo  $comment['id'] ?>" data-vote-value="-1"> 
		          			    <i class="fa fa-thumbs-down" aria-hidden="true"></i> 
		          			    <span class="dislikes" id="spanDislike<?php echo  $comment['id'] ?>"><?php echo  $comment['dislike'] ?></span> 
		          			</button> 
		          			<button class="like" id="<?php echo  $comment['id']?>"   data-vote-value="-1"> 
		          			    <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
		          			    <span class="likes" id="spanLike<?php echo  $comment['id'] ?>"><?php echo  $comment['likes'] ?></span> 
		          			</button> 
	          			</div>
				        <?php } ?>
				        <div class="media-body">
				          
						  <p><?php echo nl2br($view->escapeHtml($comment['comment']));?></p>
						 <?php //if ($view->userData) { ?>
				       		 <div class="btn btn-success btn-xs reply-to"><i class="fa fa-reply" aria-hidden="true"></i>
				       		 پاسخ به <?php echo $view->escapeHtml($comment['name']); ?></div>
				       	 <?php //} ?>
						  <?php 
						  	if ($level < $limit) {
						  		getChildren($comment['id'], $comments, $view, $level);
						  	} ?>
				        </div>
				    </div> 
			 <?php if ($parentId == 0) {?>
			    </li> 
			 <?php } else {?>
			 	</div>
			 <?php } ?>
			 <?php 
			  	if ($level >= $limit) {
			  		getChildren($comment['id'], $comments, $view, $level);
			  	} ?>
		<?php 
		}
	}
	getChildren(0, $this->comments, $this);
 
	?>

<?php } ?>
 	</ul>
</div>
 <div class="modal fade" tabindex="-1" role="dialog" id="loginFormModal">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><?php echo __("please register first and then send your comment");?></h4>
      </div>
      <form id="commentForm" method="post" name="commentForm"> 
      <div class="modal-body">
        
    	<div class="row">
    	   <div class="col-xs-12 col-md-6">
            	<div class="form-group">
            		<label class="control-label"><?php echo  __('name'); ?></label><span class="mandetory-field"> <?php echo __("Required");?></span>
                     <input type="text" name="guest_name" id="name" class="form-control validate[required]">
                </div>	
    	   </div>
    	   <div class="col-xs-12 col-md-6">
            	<div class="form-group">
            		<label class="control-label"><?php echo __('guest_email');?></label><span class="mandetory-field"> <?php echo __("Required");?></span>
                     <input type="text" name="guest_email" id="guest_email" class="form-control validate[required, custom[email]]"> 
                </div>	
    	   </div>
    	</div>
    	 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="submitLoginForm" ><?php echo __("Submit");?></button> 
            <button type="button" class="btn btn-danger" data-dismiss="modal"><?php echo __("Close");?></button>
          </div>
         </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="box-title">
    <h2 class="title">
        <a href="/">
            ارسال نظر
        </a>
    </h2>
</div>
<div class="form-group">
	<textarea name="comment" class="form-control" id="comment"></textarea> 
</div>
<input type="button" value="ثبت نظر" class="send-comment btn btn-success pull-left">
<span class="message-box main-comment-message text-right"></span>
<script type="text/javascript">
var setLikeButton = '<?php echo $this->setLikeButton; ?>';
$('.like').click(function() { 
	var commentId = $(this).attr('id');
	var flag = 'plus'; 
	$.ajax({
		url:'/add-comment-dislike-like-ajax', 
		method:'post',
		data:{
			id:commentId, 
			flag:flag, 
		}, 
		success:function(data) {
			var res = $.parseJSON(data);   
			if (res.status == 'added') {
		 		$('#spanLike'+commentId).html(res.like); 
		 		$('#spanDislike'+commentId).html(res.dislike); 
			} else {
		 		$('#spanLike'+commentId).html(data); 
			}
	    } 
	})
});
$('.dislike').click(function() {
	var commentId = $(this).attr('id'); 
	var flag = 'minus'; 
	$.ajax({
		url:'/add-comment-dislike-like-ajax', 
		method:'post',
		data:{
			id:commentId, 
			flag:flag, 
		}, 
		success:function(data) {
			var res = $.parseJSON(data);  
			if (res.status == 'added') {
		 		$('#spanLike'+commentId).html(res.like); 
		 		$('#spanDislike'+commentId).html(res.dislike); 
			} else {
		 		$('#spanDislike'+commentId).html(data); 
			}
	    } 
	})
});

var timer;
$('.send-comment').click(function() { 
		clearTimeout(timer);
		var comment = $('#comment').val(); 
		$('.main-comment-message').html("");
		$.ajax({
			url:'/ckeck-user-existance-ajax',
			method:'post',
			data:{
				text:comment,
				id:'<?php echo (int)$this->params['entity_id']; ?>',
				type:'<?php echo $this->params['entity_type']; ?>'
			}, 
			success:function(data) {
			    if(data == 'userNotExist') {
					$("#loginFormModal").modal();
				} else if (data == 'hide-comment') {
					$('.main-comment-message').fadeIn(0).removeClass('text-danger').html("<?php echo __("Your comment will be published after verification.");?>").addClass('text-success');
					$('#comment').val('');
				} else if (data) {
					var results = $.parseJSON(data); 
					var result = results.comment; 
					var template = '<li class="media"> \
								        <div class="media-left"> \
						   <i class="fa fa-dot-circle-o" aria-hidden="true"></i> \
						<h4 id="media-heading" class="media-heading media-firstcomment" style="display:inline-block;font-size:14px;"><span>' + result.guest_name + '</span> <?php echo __("Date")?>: ' + result.date + ' <a class="anchorjs-link" href="#"><span class="anchorjs-icon"></span></a></h4> \
								        </div>';
								        if (setLikeButton) {
								        template += '  <div class="ltr floatleft like-dislike"> \
										          			<button class="dislike" id="'+result.id+'" data-vote-value="-1"> \
										          			    <i class="fa fa-thumbs-down" aria-hidden="true"></i> \
										          			    <span class="dislikes" id="spanDislike'+result.id+'"> </span> \
										          			</button> \
										          			<button class="like" id="'+result.id+'" data-vote-value="-1"> \
										          			    <i class="fa fa-thumbs-up" aria-hidden="true"></i> \
										          			    <span class="likes" id="spanLikeid'+result.id+'"> </span> \
										          			</button> \
					          							 </div> ';
								        }
								          template +=  '<div class="media-body"> \
										  <p>' + result.comment + '</p> \
								        </div> \
					   				 </li> ';
					$('.comment-box ul').prepend($(template).fadeOut(0).fadeIn(1000));
					$('.main-comment-message').fadeIn(0).removeClass('text-danger').text("<?php echo __("Your comment saved successfully.")?>").addClass('text-success');
					$('#comment').val('');  
				} else {
					$('.main-comment-message').fadeIn(0).removeClass('text-success').html("<?php echo __("Problem in sending message.");?>").addClass('text-danger');
				} 
				$("html, body").animate({scrollTop : $('#comment').offset().top - 200 }, '500', 'swing');
			}
		});
		timer = setTimeout(function() {
			$('.main-comment-message').fadeOut(1000);
		}, 3000);
 
}); 


var timer1;
$('#submitLoginForm').click(function() {  
	$("#commentForm").validationEngine();
 	if($("#commentForm").validationEngine('validate'))
		{
  
		clearTimeout(timer1);
		var email = $('#guest_email').val();
		var name = $('#name').val();
		var comment = $('#comment').val(); 
 	 		
		$('.main-comment-message').html("");
		$.ajax({
			url:'/add-comment-ajax', 
			method:'post',
			data:{
				email:email,
				name:name,
				text:comment, 
				id:'<?php echo (int)$this->params['entity_id']; ?>',
				type:'<?php echo $this->params['entity_type']; ?>'
			}, 
			success:function(data) {
			    if (data == 'hide-comment') {
					$('.main-comment-message').fadeIn(0).removeClass('text-danger').html("<?php echo __("Your comment will be published after verification.");?>").addClass('text-success');
					$('#comment').val('');
				} else if (data) {
					$("#loginFormModal").modal('hide');
					var results  = $.parseJSON(data);   
					var result = results.comment; 
					var template = '<li class="media media-reply"> \
								        <div class="media-left"> \
						<i class="fa fa-dot-circle-o" aria-hidden="true"></i> \
						<h4 id="media-heading" class="media-heading" style="display:inline-block;font-size:14px;">' + result.guest_name + ' <?php echo __("Date")?>: ' + result.date + ' <a class="anchorjs-link" href="#"><span class="anchorjs-icon"></span></a></h4> \
								        </div> ';
								        if (setLikeButton) {
										        template += '  <div class="ltr floatleft like-dislike"> \
												          			<button class="dislike" id="'+result.id+'" data-vote-value="-1"> \
												          			    <i class="fa fa-thumbs-down" aria-hidden="true"></i> \
												          			    <span class="dislikes" id="spanDislike'+result.id+'"> </span> \
												          			</button> \
												          			<button class="like" id="'+result.id+'" data-vote-value="-1"> \
												          			    <i class="fa fa-thumbs-up" aria-hidden="true"></i> \
												          			    <span class="likes" id="spanLikeid'+result.id+'"> </span> \
												          			</button> \
							          							 </div> ';
										        }
								    template += '<div class="media-body"> \
										  <p>' + result.comment + '</p> \
								        </div> \
					   				 </li> ';
				 	$('.displaynone').show();
					$('.comment-box ul').prepend($(template).fadeOut(0).fadeIn(1000));
					$('.main-comment-message').fadeIn(0).removeClass('text-danger').text("<?php echo __("Your comment saved successfully.")?>").addClass('text-success');
					$('#comment').val('');  
				} else {
					$('.main-comment-message').fadeIn(0).removeClass('text-success').html("<?php echo __("Problem in sending message.");?>").addClass('text-danger');
				} 
				$("html, body").animate({scrollTop : $('#comment').offset().top - 200 }, '500', 'swing');
			}
		});
		timer1 = setTimeout(function() {
			$('.main-comment-message').fadeOut(1000);
		}, 3000);
}
}); 
$('.reply-to').click(function() { 
	var thisdata = $(this);
	$('.main-comment-message').html("");
	$.ajax({
		url:'/ckeck-user-existance-ajax',
		method:'post',
		data:{
			justlogincheck: 1  
		}, 
		success:function(data) { 
		    if(data == 'userNotExist') {
				$("#loginFormModal").modal();
			} else { 
				$('.reply-to').show(); 
				thisdata.hide();
				var template = '<div class="reply-box row"><div class="col-md-12 col-xs-12 col-sm-12 col-lg-12"> \
					<div class="form-group"><textarea name="comment" class="form-control" id="replycomment"></textarea></div> \
					<input type="submit" value="پاسخ به نظر بالا" class="send-reply btn btn-success btn-xs pull-right"> \
					<div class="col-md-5"><div class="message-box text-right reply-message-box pull-right"></div></div></div></div>';
				$('.reply-box').remove();
				thisdata.after(template); 
			}
		}   
	});
});
$('body').on('click', '.send-reply', function() {
	clearTimeout(timer);
	var comment = $('#replycomment').val();
	var parentId = $(this).closest('.comment-id').attr('data-id');
	var parentEmail = $(this).closest('.comment-id').attr('data-email');
	var level = $(this).closest('.comment-id').attr('data-level');
	$('.reply-message-box').html("");
	$.ajax({
		//url:'/<?php //echo $this->layout()->lang;?>/plugins/comment/index/add', 
		url:'/ckeck-user-existance-ajax', 	
		method:'post',
		data:{
			text:comment,
			parentId:parentId,
			id:'<?php echo (int)$this->params['entity_id']; ?>',
			type:'<?php echo $this->params['entity_type']; ?>'
		}, 
		success:function(data) {
			if (data == 'hide-comment') {
				$('.reply-message-box').fadeIn(0).removeClass('text-danger').html("<?php echo __("Your comment will be published after verification.");?>").addClass('text-success');
			} else if (data) {
				var results = $.parseJSON(data); 
				var result = results.comment;
				var template = '<div class="media media-reply "> \
					        <div class="media-left"> \
					<i class="fa fa-dot-circle-o" aria-hidden="true"></i> \
					<h4 id="media-heading" class="media-heading" style="display:inline-block;font-size:14px;"><span>' + result.guest_name + '</span> <?php echo __("Date")?>: ' + result.date + ' <a class="anchorjs-link" href="#"><span class="anchorjs-icon"></span></a></h4> \
				        </div>';
				        if (setLikeButton) {
					        template += '  <div class="ltr floatleft like-dislike"> \
							          			<button class="dislike" id="'+result.id+'" data-vote-value="-1"> \
							          			    <i class="fa fa-thumbs-down" aria-hidden="true"></i> \
							          			    <span class="dislikes" id="spanDislike'+result.id+'"> </span> \
							          			</button> \
							          			<button class="like" id="'+result.id+'" data-vote-value="-1"> \
							          			    <i class="fa fa-thumbs-up" aria-hidden="true"></i> \
							          			    <span class="likes" id="spanLikeid'+result.id+'"> </span> \
							          			</button> \
		          							 </div> ';
					        }
				        template += ' <div class="media-body"> \
						  <p>' + result.comment + '</p> \
				        </div> \
				    </div> ';
				if (level >= <?php echo $this->limit;?>) {
					$('.reply-box').closest('.media').after($(template).fadeOut(0).fadeIn(1000));
				} else {
					$('.reply-box').before($(template).fadeOut(0).fadeIn(1000));
				}
				$('.reply-message-box').fadeIn(0).removeClass('text-danger').text("نظر شما با موفقیت ثبت گردید").addClass('text-success');
				$('.reply-box').remove();
				$('.reply-to').show();
				// Handling email notification
				$.ajax({
					url:'/<?php echo $this->layout()->lang;?>/plugins/comment/index/send-notification-mail', 
					method:'post',
					data:{
						status:'200',
						userEmail: parentEmail,
						link: 'http://www.alborzfootball.com' + url,
					}, 
					success:function(data) {
						if (data) {
						}
					}
				});
			} else {
				$('.reply-message-box').fadeIn(0).removeClass('text-success').html("<?php echo __("Problem in sending message.");?>").addClass('text-danger');
			}
		}
	});
	timer = setTimeout(function() {
		$('.reply-message-box').fadeOut(1000);
	}, 3000);
});
 
</script>    
 
